html, body{
	font-family: "Helvetica Neue",Helvetica,"Noto Sans KR",Arial,sans-serif;
}

body, button, input{
	font-size:13px;
	color: $font-2;
	line-height:1;
}

h1, h2, h3, h4, h5, h6{
	color: $font-2;
	line-height:1;
}