@mixin input-reset {
	> input {position:absolute; left:0; opacity:0; filter:alpha(opacity=0);}
	> label {
		display:inline-block;
		line-height:20px;
		cursor:pointer;
		&:after {content:""; display:block; clear:both;}

		> i {margin-right:5px;}
		> .label {font-size: $font-size-sm}
	}
}


@mixin info-setup {display:block; text-align:center;}


@mixin filter-field {
	margin-top:-1px;
	border-top:1px solid $border-2;
	border-bottom:1px solid $border-2;
	padding:20px 0;

	legend {
		text-indent:-9999px;
		position:absolute;
		width:0;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}

	&:first-child{
		margin-top:0;
		border-top:0;
	}

	.filter-tit {
		margin:0 0 20px 20px;
		// font-weight:bold;
		font-size:14px;
		letter-spacing:-0.5px;
		color: $primary-color;
		display: inline-block;
	}

	ul {
		list-style:none;
		margin:0;
		padding:0;
		border:0;
	}
}

@mixin contents-article {
	/*overflow:hidden;*/
	position:relative;
	margin:0 auto;
	box-sizing:border-box;
	&:first-child {margin-top:0;}
	&.news {padding:118px 0 130px;}
	&.related-items {
		// max-width: $pd-max-width;
		padding: 40px 0;
		overflow: hidden;
	}
	&.cross-sale-items {
		// max-width: $pd-max-width;
		padding: 40px 0;
		overflow: hidden;
	}
	&.up-sale-items {
		// max-width: $pd-max-width;
		padding: 40px 0;
		overflow: hidden;
	}
	&.latest-items {
		position:relative;
		// max-width: $pd-max-width;
		padding:40px 0px;
		clear:both;
		&:after {
			content: '';
			position: absolute;
			top:0;
			left:0;
			right:0;
			background: $bg-1;
		}
	}

	> .contents-title {
		padding-bottom:65px;
		color: $title_category-color;
		margin:0;
		line-height:1;

		&.center {
			max-width:$max-width;
			margin:0 auto;
			text-align:center;
			font-size: 20px;  //20180316 추가
			font-weight: bold;  //20180316 추가
			line-height: 1.2;   //20180316 추가
			letter-spacing: 0.5px;   //20180316 추가
			padding: 20px 0px;  //20180316 추가
		}
		&:after {content:''; display:block; clear:both;}
	}

	&.category-list{
		max-width: $max-width;
	}
}

@mixin product-detail_thumb-list {
	margin-top:10px;
	border:1px solid $border-2;
	background-color: $bg-4;
	&:first-child {margin-top:0;}
	img {display:block; width:100%;}

	&.active {border-color: $primary-color;}
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.contents {
		> .contents-title{
			&.center {
				
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
