// 구글 Noto sans
@import "https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700";

html, body{
  font-family: "Helvetica Neue",Helvetica,"Noto Sans KR",Arial,sans-serif;
  letter-spacing: -0.5px;
}

body, button, input{
	font-size:13px;
	color: $font-2;
	line-height:1;
}

h1, h2, h3, h4, h5, h6{
	color: $font-2;
	line-height:1;
}