.btn-link, .button{
	font-size: $button_default-font;
	display:inline-block;
	height:36px;
	padding:12px 40px;
	margin:0;
	border:0;
	color: $button_full-color;
	background-color: $button_full-bg;
	font-style:normal;
	cursor:pointer;
	line-height:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	&.padding-thin{
		padding-left:14px;
		padding-right:14px;
	}

	&.p24{
		padding-left:24px !important;
		padding-right:24px !important;
	}

	// btn size
	&.width-max{padding-left:0px !important; padding-right:0px !important; width: 100%; text-align: center;}
	&.mini{
		height:26px; font-size:$button_font-mini; padding:6px 14px; line-height: 1.3;
		&.padding-thin{
			padding-left:8px;
			padding-right:8px;
		}
	}
	&.small{
		height:30px; font-size:$button_font-small; padding:8px 16px; line-height: 1.1;
		&.padding-thin{
			padding-left:10px;
			padding-right:10px;
		}
	}
	&.medium{
		height:36px; font-size:$button_font-medium; padding:12px 20px;
		&.padding-thin{
			padding-left:12px;
			padding-right:12px;
		}
	}
	&.large{
		height:40px; font-size:$button_font-large; padding:13px 30px;
		&.padding-thin{
			padding-left:15px;
			padding-right:15px;
		}
	}
	&.xlarge{
		height:48px; font-size:$button_font-xlarge; padding:16px 50px;
		&.padding-thin{
			padding-left:20px;
			padding-right:20px;
		}
	}
	&.x2large{
		height:60px; font-size:$button_font-x2large; padding:22px 50px;
		&.padding-thin{
			padding-left:24px;
			padding-right:24px;
		}
	}

	//fix
	//텍스트에 상관없이 가로 사이즈를 고정해야 하는 타입일때 가로 세로 패딩때문에 텍스트가 밀리는 현상 때문에 추가
	&.width-fix{padding-left:0px !important; padding-right:0px !important; text-align: center;}

	//btn text color
	&.cobalt {color:$button_text-color-type1; background-color:$button_text-bg-type1;
		&:hover {
			color:$button_text-color-type1-over;
			background-color: $button_full-transparent-over;
		}
	}
	&.sky-blue {
		color: $button_text-color-type2;
		background-color: $button_text-bg-type2;
		&:hover {
			background: $button_text-bg-type2-over;
			color: $button_text-color-type2-over;
		}
	}
	&.indian-red {
		color: $button_text-color-primary;
		background-color: $button_text-bg-primary;

		&:hover, &.active, &.uk-active {background-color: $button_text-bg-primary-over;}
	}
	&.white {color: $button_text-color-type3; background:$button_text-bg-type3; &:hover {color: $button_text-color-type3-over; background-color: $button_text-bg-type3-over;}}
	&.gray {color:$button_text-color-type4; padding:13px 30px; box-sizing:border-box; background-color:$button_text-bg-type4; &:hover {color:$button_text-color-type4-over;}}
	
	//btn type
	&.line {
		border:1px solid  $button_line-border-color;
		color: $button_line-color;
		background-color: $button_line-bg;
		line-height: 0.9;
/*		z-index: 1;   */
		position: relative;
		&:hover, &.active, &.uk-active {
			border-color: $button_line-border-color-over;
			color: $button_line-color-over;
			background-color: $button_line-bg-over;
		}
		// 추후 variables로 추가
		&.pcolor{
			border:2px solid $primary-color;
			color:$primary-color;
		}
		&.disabled{
			background-color: #eeeeee !important;
			color:#a5a5a5;
			border-color: #e5e5e5;
		}
		&.type2{
			border:1px solid  $button_line-border-bold-color;
			color: $button_line-color;
		}
	}
	&.line-thin {
		position:relative;
		color: $button_line-color;
		background-color: $button_line-bg;
		vertical-align: top;
		box-sizing:border-box;
		&:first-child {
			&:before {margin-left:0;}
		}
		&:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			border:1px solid $button_line-border-color;
			margin-left:-1px;
		}

		&:hover, &.active, &.uk-active {
			color: $button_line-color-over;
			background-color: $button_line-bg-over;

			&:before {
				content:'';
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				border:1px solid $button_line-border-color-over;
				z-index:2;
			}
		}

		&.border-top {
			border-top:1px solid #e5e5e5;
			&:before {
				border:0;
			}
		}
	}

	&.underline {
		display:inline-block;
		text-decoration:underline;
		background-color: $button_underline-bg;
		color: $button_underline-color;
		height:auto;
		&:hover, &:active {color: $button_underline-color-over;}
		&.disabled {color: $button_underline-color-disabled;}
	}
	&.normal {padding:10px 0; height:auto;}

	// btn state
	&.disabled {
		color: $button_full-color-disabled; background-color:$button_full-bg-disabled !important; cursor:default;border-color: $button_full-border-disabled; pointer-events: none;
		&:hover, &.active, &.uk-active {color: $button_full-color-disabled-over; background-color: $button_full-bg-disabled-over; border-color: $button_full-border-disabled-over;}
	}
	&:hover, &.active, &.uk-active {
		color: $button_full-color-over;
		background-color: $button_full-bg-over;
	}

	//icon
	> i {
		&.left{float:left; margin-right:6px;}
		&.right{float:right; margin-left:6px;}
	}

	&:after {content:""; display:block; clear:both;}

	//a tag 초기화
	& {
		text-decoration:none;
		outline:none;
		&:hover, &:active {text-decoration:none;}
	}

	&.radius12{
		border-radius: 12px;
	}
	&.radius16{
		border-radius: 16px;
	}
	&.radius20{
		border-radius: 20px;
	}
	&.radius24{
		border-radius: 24px;
	}
	&.radius30{
		border-radius: 30px;
	}

	&.bold{
		font-weight: 500;
	}
}

[data-cunt-submit] {
	background-color:#fff;
	border:1px #000 solid;
	color:#000;
}


.button {
	height: 40px;
	&:hover, &.active, &.uk-active {
		color:$button_full-color-over;
		background-color: $button_full-transparent-over;
	}
}
button{
	cursor:pointer;
}

button.button {
	&:hover, &.active, &.uk-active {
		color: $button_full-color-over;
		background-color: $button_full-bg-over;
	}
}

a.button.btn {
	&:hover, &.active, &.uk-active {
		color: $button_full-color-over;
		background-color: $button_full-bg-over;
	}
}

.close-btn, .btn-delete {
	position:absolute;
	top:0px;
	right:0px;
	border:0;
	padding:0;
	margin:0;
	background-color: $button_close-bg;
	cursor:pointer;
}

a{
	color: $anchor-text-color;
	text-decoration:none;
	outline:none;
	&:hover, &:active{
		text-decoration:none;
		color: $anchor-text-color-over;
	}
	> .disabled{
		color: $anchor-text-color-disabled;
	}
	&.underline{
		text-decoration: underline;
		&:hover, &:active{
			text-decoration:underline;
		}
	}
}

.wish-delete_btn {
	display:inline-block;
	font-size:20px;
	color: $button_wish-delete-color;
	background-color: $button_wish-delete-bg;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 9;
}

.file-remove_btn {
	@extend .icon-background;

	display:inline-block;
	width:24px;
	height:24px;
	background-color: $button_file-remove-bg;
	background-position:-366px -14px;
}

.popup-close_btn {
	@extend .icon-background;

	&:after {content:'';}
	display:inline-block;
	width:54px;
	height:54px;
	background-position:-314px 0;
}

.btn-tab {
	float:left;
	font-size:$font-size-l;
	margin-left:40px;
	padding-bottom:10px;

	a {color: $tab-text-color;}

	&:first-child {margin-left:0}
	&:hover {border-bottom:2px solid $tab-border-color;}
	&.active, &.uk-active{
		border-bottom:2px solid $tab-border-color-over;
		a {color: $tab-text-color-over;}
	}

	&.small{
		font-size:$font-size-sm;
		padding-bottom:5px;
	}
}


.btn-qty {
	&:after {content:''; display:block; clear:both;}
	> .label {
		width:50px;
		height: 40px;
		border:1px solid $button_qty-input-border;
		padding:6px 5px;
		margin-right:8px;
		text-align:center;
		outline:none;
		box-sizing:border-box;
	}

	> .btn {
		position:relative;
		width:46px;
		height: 40px;
		border:1px solid $button_qty-btn-border;
		padding:0;
		margin:0;
		cursor:pointer;
		box-sizing:border-box;
		background-color: $button_qty-btn-bg;
		margin-left:-1px;
		font-size: 20px;
		border-radius: 2px;

		&:first-child {margin-left:0;}
		&:hover {border-color: $button_qty-btn-border-over; background-color: $button_qty-btn-bg-over; z-index:1;}
	}

	> * {
		float:left;
	}
}

.sort-tabs {
	font-size:0;
	.sort-item {
		@include box-sizing();
		position:relative;
		display:inline-block;
		min-width:62px;
		height:30px;
		padding:5px 0 0 0;
		font-size:$font-size-s;
		background-color: $tab_bg;
		color: $tab_sort-text-color;
		text-align:center;
		&:before {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			border:1px solid $tab_sort-border-color;
			margin-left:-1px;
		}
		&:first-child:before{
			margin-left:0;
		}
		&.active, &.uk-active {
			color: $tab_sort-text-color-over;
		}
		&.active:before, &.uk-active:before{
			border:2px solid $tab_sort-border-color-over;
			z-index:2;
		}

	}
	&.type-bg-gray{
		.sort-item{
			background-color: $bg-3;
			&.active, &.uk-active {
				background-color: $bg-1;
			}

			&.active:before, &.uk-active:before {
				border:1px solid $tab_sort-border-color;
			}
		}
	}
}

.btn-pagination {
	display:table;
	margin:10px auto 80px;
	border-collapse:collapse;
	text-align:center;

	&.more {display:block;}

	.paging {
		display:table-cell;
		width:45px;
		height:45px;
		padding:0;
		border:1px solid $border-3;
		text-align:center;
		vertical-align:middle;
		background-color: $bg-1;
		color: $font-0;

		&:hover {background-color:$border-2;}
		&.active {border-color: $font-1; color:$font-6; background-color: $font-1; font-weight: bold;}
		.icon-ic-first-page,
		.icon-ic-last-page {font-weight: bold;}
	}
}

/* font-color */
.font-color-1 {color:$font-1 !important;};
.font-color-2 {color:$font-2 !important;};
.font-color-3 {color:$font-3 !important;};
.font-color-4 {color:$font-4 !important;};
.font-color-5 {color:$font-5 !important;};
.font-color-6 {color:$font-6 !important;};

.font-color-message_success {color:$message_success-color !important;}
.font-color-message_warning {color:$message_warning-color !important;}
.font-color-message_danger {color:$message_danger-color !important;}

/* font-size */
.font-size-smini {font-size:$font-size-smini !important;}
.font-size-mini {font-size:$font-size-mini !important;}
.font-size-s {font-size:$font-size-s !important;}
.font-size-m {font-size:$font-size-m !important;}
.font-size-l {font-size:$font-size-l !important;}
.font-size-sxl {font-size:$font-size-sxl !important;}
.font-size-xl {font-size:$font-size-xl !important;}

.def_btn_black:hover {color: #fff !important;}
.buy_layer .selectwrap a.btn_submit, .def_btn_black,.def_btn_black body,.def_btn_black input,.def_btn_black select,.def_btn_black div,.def_btn_black textarea,.def_btn_black table,.def_btn_black button,.def_btn_alpha,.def_btn_alpha body,.def_btn_alpha input,.def_btn_alpha select,.def_btn_alpha div,.def_btn_alpha textarea,.def_btn_alpha table,.def_btn_alpha button {
    font-weight: 400 !important;
    letter-spacing: .5px !important;
}

.for_ng_godic {
    font-weight: 700 !important;
    letter-spacing: -0.5px !important;
}

.for_tg_godic {
    font-weight: 400 !important;
    letter-spacing: .5px !important;
}

.nsg-button,
.nsg-button-small {
    color: #111;
    background-color: #ccc;
    border: 1px solid #ccc;
		text-align: center;
		line-height: 38px;
		border-radius: 2px;
}
.nsg-bg--white{
	background-color: #fff;
  border-color: #e5e5e5;
  color: #000;
}
.nsg-bg--near-black{
	background-color: #111;
  border-color: #111;
  color: #fff;
	font-weight: 400;
}
.nsg-bg--near-black:hover{
	color: #fff;
}
