[data-module-category] .btn-pagination.more button{
  display: inline-block;
  width: 100px;
  height: auto;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  padding: 8px 24px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1.5;
  white-space: nowrap;
  border-radius: 20px;
}