/* sticky (s) */
.scrollup{
  //bottom:20px !important;
  right:20px !important;
}
// snkrs일 때 비활성
div[data-module-launchproduct]{
  .pre-btn{
    display:none;
  }
}
/* 상품 품절관련 상태 부 */
.pt_product .info-wrap_product_n {
  .notify-me{
    display:none;
  }
  .btn-group-box {
    .order-wrap {
      button.addcart-btn {
        display: none;
      }
      .pre-btn{
        display:none;
      }
    }
  }
  .status-wrap {
    .order-wrap {
      .btn-link {
        width: 49%;
        &.btn-order{
          width:100%;
          float:unset;
        }
      }
    }
  }
}
.product-soldout-soon {
  display: none;
  color: #BA861E;
  margin: 24px 20px 0px 0px;
}
.product-soldout {
  width: 100%;
  height: 51px;
  text-align: center;
  .soldout {
    display: inline-block;
    width: 100%;
    width: calc(100% - 5px);
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 16px;
    background-color: #dddddd;
    color: #999999;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .comming {
    display: inline-block;
    width: 100%;
    width: calc(100% - 5px);
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 16px;
    background-color: #dddddd;
    color: #999999;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0;
  }
}
.product-comming {
  width: 100%;
  height: 51px;
  text-align: center;
  .soldout {
    display: inline-block;
    width: 100%;
    width: calc(100% - 5px);
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 16px;
    background-color: #dddddd;
    color: #999999;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .comming {
    display: inline-block;
    width: 100%;
    width: calc(100% - 5px);
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 16px;
    background-color: #dddddd;
    color: #999999;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0;
  }
}

@media (max-width: 768px) {

  .product-soldout-soon {
    margin: 24px 20px 0 20px;
  }
  .product-soldout-soon.mobile {
    width: calc(100% - 40px);
    margin: 20px 20px 0 20px;
  }

  /* 기존 소스 */
  .pt_product .info-wrap_product_n {
    .sticky-section {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      border-top: 1px solid #ebebeb;
      z-index: 5;
      &:before {
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        content: "mobile";
        overflow: hidden;
      }
      .notify-me{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        a{
          display:block;
          width:100%;
          height:100%;
          text-align:center;
          line-height: 70px;
          color:#fff;
          font-size:16px;
          font-weight:400;
          span.ns-live-chat{
            margin-right:8px;
          }
        }
      }
      .option-wrap {
        height: 0;
        overflow: hidden;
        .pre-btn{
          display: block
        }
        .stocked-wrap.line {
          //notify me 노출 요청으로 노출상태 변경 2020-06-19
          //display: none !important;
        }
        .quantity {
          margin-top: -15px;
          .tit {
            &:after {
              display: none;
            }
          }
        }
        div[data-component-color=""] {
          display: none !important;
        }
      }
      .toggle_popupdown {
        position: relative;
        span.icon {
          display: none;
          position: absolute;
          height: 18px;
          width: 57px;
          background-color: #fff;
          top: -18px;
          left: 50%;
          border-left: 1px solid #ebebeb;
          border-top: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%); transform: translateX(-50%);
          transform: translateX(-50%);
          &:after {
            font-family: 'nike' !important;
            display: none;
            font-size: 28px;
            color: #000000;
            content: "\e909";
            position: absolute;
            top: 0px;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) rotate(-90deg);
          }
        }
      }
      .toggle_popupdown.active {
        span.icon {
          display: block;
          cursor: pointer;
          &:after {
            top: 0px;
            display: block;
            transform: translateX(-50%) rotate(90deg);
          }
        }
      }
      .btn-group-box {
        .sticky-buttons{
          border-top: 1px solid #fff;
          position:relative;
          width:100%;
        }
        button.wish-btn {
          display: none;
          width:48% !important;
        }
        .order-wrap {
          width: calc(100% - 30px);
          padding: 5px 0;
          margin: 0 auto;
          float: none;
          border-bottom: none;
          height: 60px;
          a.btn-order {
            width: 48%;
            float: right;
            margin: 0;
            display: none;
          }
          a.addcart-btn {
            display: none;
            width:48% !important;
          }
          a.pre-btn {
            display: block;
            height: 60px;
            border-radius: 30px;
            padding: 0;
            margin: 0;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            line-height: 60px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:hover {
              opacity: 0.7;
            }
          }
          a.pre-btn.cart {
            color: #161616;
            border: 1px solid #666;
            background: #fff;
          }
          a.pre-btn.order {
            color: #fff;
            border: 1px solid #000;
            background: #000;
          }
          .left{
            width: 48% !important;
            float:left;
            margin:0 !important;
          }
          .right{
            width: 48% !important;
            float:right;
            margin: 0 !important;
          }
        }
        .product-soldout {
          background-color: #f6f6f6;
          font-size: 16px;
          margin: 0;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 70px;
          line-height: 70px;
          div {
            display: inline-block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
          span {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-comming {
          background-color: #f6f6f6;
          font-size: 16px;
          margin: 0;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 70px;
          line-height: 70px;
          div {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
          span {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-soldout-soon {
          display: none;
        }
      }
      .btn-group-box.line {
        background-color: #f6f6f6;
        padding: 0;
      }
      .size-grid-type{
        .customOption{
          margin:30px 0 10px 0;
        }
      }
      .toggle_popupdown.active {
        ~ {
          .option-wrap {
            height: auto;
          }
        }
      }
    }
  }

  /* STICKY A/B TEST 2020-06-24 @pck (s) */
  .pt_product .info-wrap_product_n {
    .sticky-section[data-ui-sticky-section='true']{
      position: relative;
      bottom: unset;
      left: unset;
      right: unset;
      z-index: 5;
      &:before {
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        content: "mobile";
        overflow: hidden;
      }
      .notify-me{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 70px;
        background-color: #000;
        a{
          display:block;
          width:100%;
          height:100%;
          text-align:center;
          line-height: 70px;
          color:#fff;
          font-size:16px;
          font-weight:400;
          span.ns-live-chat{
            margin-right:8px;
          }
        }
      }
      .option-wrap {
        height: auto;
        overflow: hidden;
        .pre-btn{
          display: block
        }
        .stocked-wrap.line {
          //notify me 노출 요청으로 노출상태 변경 2020-06-19
          //display: none !important;
        }
        .stocked-wrap{
          z-index:0;
        }
        .product-option_radio{
          z-index:0;
        }
        .quantity {
          margin-top: -15px;
          .tit {
            &:after {
              display: none;
            }
          }
        }
        div[data-component-color=""] {
          display: none !important;
        }
      }
      .toggle_popupdown {
        display:none;
        position: relative;
        span.icon {
          display: none;
          position: absolute;
          height: 18px;
          width: 57px;
          background-color: #fff;
          top: -18px;
          left: 50%;
          border-left: 1px solid #ebebeb;
          border-top: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
          transform: translateX(-50%);
          &:after {
            font-family: 'nike' !important;
            display: none;
            font-size: 28px;
            color: #000000;
            content: "\e909";
            position: absolute;
            top: 0px;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) rotate(-90deg);
          }
        }
      }
      .toggle_popupdown.active {
        span.icon {
          display: block;
          cursor: pointer;
          &:after {
            top: 0px;
            display: block;
            transform: translateX(-50%) rotate(90deg);
          }
        }
      }
      .btn-group-box {
        display:block;
        width:100%;
        height:111px;
        &.line{
          background:#fff;
          padding:0;
        }
        .sticky-buttons {
          margin: 0;
          > div{
            width: 100%;
            display: inline-block;
          }
        }
        &.sticky{
          .sticky-buttons{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #ebebeb;
            background-color: #f6f6f6;
            padding: 0;
            margin: 0;
            z-index: 0;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            a.btn-order{
              border: 1px solid #fa5400;
              background: #fa5400;
            }
            .product-soldout{
              margin-bottom: 0px;
            }
          }
        }
        button.wish-btn {
          display: none;
          width:48% !important;
        }
        .order-wrap {
          width: calc(100% - 30px);
          padding: 5px 0;
          margin: 0 auto;
          float: none;
          border-bottom: none;
          height: 60px;
          a.btn-order {
            width: 48%;
            float: right;
            margin: 0;
            display: block;
          }
          a.addcart-btn {
            display: block;
            width:48% !important;
          }
          a.pre-btn {
            display: none;
            height: 60px;
            border-radius: 30px;
            padding: 0;
            margin: 0;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            line-height: 60px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:hover {
              opacity: 0.7;
            }
          }
          a.pre-btn.cart {
            color: #161616;
            border: 1px solid #666;
            background: #fff;
          }
          a.pre-btn.order {
            color: #fff;
            border: 1px solid #000;
            background: #000;
          }
          .left{
            width: 48% !important;
            float:left;
            margin:0 !important;
          }
          .right{
            width: 48% !important;
            float:right;
            margin: 0 !important;
          }
        }
        .product-soldout {
          background-color: #f6f6f6;
          font-size: 16px;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 70px;
          line-height: 70px;
          margin-bottom:-20px;
          div {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
            border: none;
          }
          span {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-comming {
          background-color: #f6f6f6;
          font-size: 16px;
          margin: 0;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 70px;
          line-height: 70px;
          div {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
          span {
            display: inline-block;
            width: auto;
            height: 70px;
            line-height: 70px;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-soldout-soon {
          display: none;
        }
      }
      .size-grid-type{
        .customOption{
          margin:30px 0 10px 0;
        }
      }
    }
    .sticky-section[data-ui-sticky-section='false']{
      position: relative;
      bottom: unset;
      left: unset;
      right: unset;
      z-index: 5;
      &:before {
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        content: "mobile";
        overflow: hidden;
      }
      .notify-me{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        a{
          display:block;
          width:100%;
          height:100%;
          text-align:center;
          line-height: 70px;
          color:#fff;
          font-size:16px;
          font-weight:400;
          span.ns-live-chat{
            margin-right:8px;
          }
        }
      }
      .option-wrap {
        height: auto;
        overflow: hidden;
        .pre-btn{
          display: block
        }
        .stocked-wrap.line {
          //notify me 노출 요청으로 노출상태 변경 2020-06-19
          //display: none !important;
        }
        .quantity {
          margin-top: -15px;
          .tit {
            &:after {
              display: none;
            }
          }
        }
        div[data-component-color=""] {
          display: none !important;
        }
      }
      .toggle_popupdown {
        display:none;
        position: relative;
        span.icon {
          display: none;
          position: absolute;
          height: 18px;
          width: 57px;
          background-color: #fff;
          top: -18px;
          left: 50%;
          border-left: 1px solid #ebebeb;
          border-top: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
          transform: translateX(-50%);
          &:after {
            font-family: 'nike' !important;
            display: none;
            font-size: 28px;
            color: #000000;
            content: "\e909";
            position: absolute;
            top: 0px;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) rotate(-90deg);
          }
        }
      }
      .toggle_popupdown.active {
        span.icon {
          display: block;
          cursor: pointer;
          &:after {
            top: 0px;
            display: block;
            transform: translateX(-50%) rotate(90deg);
          }
        }
      }
      .btn-group-box {
        display:block;
        width:100%;
        height:auto;
        &.line{
          background:#fff;
        }
        &.sticky{
          .sticky-buttons{
            a.btn-order{
              border: 1px solid #000;
              background: #000;
            }
          }
        }
        button.wish-btn {
          display: none;
          width:48% !important;
        }
        .order-wrap {
          width: calc(100% - 30px);
          padding: 20px 0;
          margin: 0 auto;
          float: none;
          border-bottom: none;
          height: 60px;
          a.btn-order {
            width: 48%;
            float: right;
            margin: 0;
            display: block;
          }
          a.addcart-btn {
            display: block;
            width:48% !important;
          }
          a.pre-btn {
            display: none;
            height: 60px;
            border-radius: 30px;
            padding: 0;
            margin: 0;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            line-height: 60px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:hover {
              opacity: 0.7;
            }
          }
          a.pre-btn.cart {
            color: #161616;
            border: 1px solid #666;
            background: #fff;
          }
          a.pre-btn.order {
            color: #fff;
            border: 1px solid #000;
            background: #000;
          }
          .left{
            width: 48% !important;
            float:left;
            margin:0 !important;
          }
          .right{
            width: 48% !important;
            float:right;
            margin: 0 !important;
          }
        }
        .product-soldout {
          background-color: #f6f6f6;
          font-size: 16px;
          margin: 0;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 71px;
          line-height: 70px;
          div {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
          span {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-comming {
          background-color: #f6f6f6;
          font-size: 16px;
          margin: 0;
          color: #2e2e2e;
          border-top: 1px solid #ebebeb;
          height: 70px;
          line-height: 70px;
          div {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
          span {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
            background: inherit;
          }
        }
        .product-soldout-soon {
          display: none;
        }
      }
      .size-grid-type{
        .customOption{
          margin:30px 0 10px 0;
        }
      }
    }
  }
}