/*
** BASIC DEFINED FROM NIKE GLOBAL
*
* History
* --------------------------------------
* 2021-01-14 최초 작성  박춘기
 */
@font-face {font-family:"Nike TG";font-style:normal;font-weight:300;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.eot),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.eot?#iefix) format('embedded-opentype'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.ttf) format('truetype'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike_snkrs.svg#nike_snkrs) format('svg') }
@font-face {font-family:"Nike Futura";font-style:normal;font-weight:300;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.eot),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.eot?#iefix) format('embedded-opentype'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.ttf) format('truetype'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-futura-extra-bold-v200.svg#nike-futura-extra-bold-v200) format('svg') }
@font-face {font-family:"nike-glyphs";src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-glyphs.eot); src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-glyphs.eot?#iefix) format('eot'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-glyphs.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-glyphs.ttf) format('truetype'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/nike-glyphs.svg#nike-glyphs) format('svg')  }

/* APPENDED KR FONTS */
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:100;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Thin.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Thin.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Thin.otf) format('opentype');}
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Light.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Light.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Light.otf) format('opentype');}
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Regular.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Regular.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Regular.otf) format('opentype');}
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Medium.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Medium.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Medium.otf) format('opentype');}
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Bold.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Bold.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Bold.otf) format('opentype');}
//@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:900;src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Black.woff2) format('woff2'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Black.woff) format('woff'),url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/NotoSansKR-Black.otf) format('opentype');}

/* Spoqa Han Sans Neo */
/**
 * Copyright (c) 2015 Spoqa, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Bold.eot) format('eot'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Bold.woff) format('woff'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Medium.eot) format('eot'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Medium.woff2) format('woff2'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Medium.woff) format('woff'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Regular.eot) format('eot'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Regular.woff) format('woff'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Light.eot) format('eot'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Light.woff2) format('woff2'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Light.woff) format('woff'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Thin.eot) format('eot'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Thin.woff2) format('woff2'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Thin.woff) format('woff'),
  url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/SpoqaHanSansNeo-Thin.otf) format('opentype');
}

/* AS-IS FONTS */
@font-face {  font-family:"Trade Gothic LT W01 Bd CnNo-20"; src:url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.eot?#iefix"); src:url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.eot?#iefix") format("eot"), url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.woff2") format("woff2"), url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.woff") format("woff"), url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.ttf") format("truetype"), url("https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/SNKRS/assets/fonts/TradeGothicLTW01BdCnNo-20.svg#TradeGothicLTW01BdCnNo-20") format("svg"); }

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,img,menu,nav,section {display:block}
ol,ul {list-style:none}
address { font-style: normal; }
blockquote,q {quotes:none}
blockquote:after,blockquote:before,q:after,q:before {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
a:active,a:hover {outline:0}
body,html {-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.display-1,.display-2,.display-3,.marketing-font,.responsive-display-2-1 {font-family:"Nike Futura","Helvetica Neue",Helvetica,"Spoqa Han Sans Neo", Arial, sans-serif;font-weight:300;text-transform:uppercase}
.display-1 {font-size:72px;line-height:.833333}
.display-2 {font-size:48px;line-height:.833333}
.display-3 {font-size:40px;line-height:.85}
.base-font,.body-1,.body-2,.body-3,.body-4,.headline-1,.headline-2,.headline-3,.headline-4,.headline-5,.responsive-body-2-1,.responsive-body-3-2 {font-family:"Helvetica Neue",Helvetica,"Spoqa Han Sans Neo",Arial,sans-serif;font-weight:300}
.body-1 {font-size:20px;line-height:1.4}
.body-2 {font-size:16px;line-height:1.5}
.body-3 {font-size:14px;line-height:1.428571}
.body-4 {font-size:12px;line-height:1.333333}
.headline-1 {font-weight:400;font-size:32px;line-height:1.125}
.headline-2 {font-weight:400;font-size:28px;line-height:1.428571}
.headline-3 {font-weight:400;font-size:24px;line-height:1.166667}
.headline-4 {font-weight:400;font-size:20px;line-height:1.2}
.headline-5 {font-weight:400;font-size:16px;line-height:1.5}
a{font-weight:400}

fieldset {display:block;margin:0;padding:0;border:0;}
fieldset > legend {text-indent:-9999px;position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;}

.responsive-display-2-1 {font-size:48px;line-height:.833333}
@media only screen and (min-width:1024px) {
  .responsive-display-2-1 {font-size:72px;line-height:.833333}
}

.responsive-body-2-1 {font-size:16px;line-height:1.5}
@media only screen and (min-width:1024px) {
  .responsive-body-2-1 {font-size:20px;line-height:1.4}
}

.responsive-body-3-2 {font-size:14px;line-height:1.428571}
@media only screen and (min-width:1024px) {
  .responsive-body-3-2 {font-size:16px;line-height:1.5}
}

* {-webkit-box-sizing:border-box;box-sizing:border-box}
:after,:before {-webkit-box-sizing:inherit;box-sizing:inherit}

html {font-size:16px;line-height:1.75;-webkit-text-size-adjust:none}
body {font-size:inherit;line-height:inherit;font-family:"Helvetica Neue",Helvetica,"Spoqa Han Sans Neo",Arial,sans-serif;color:#111;background-color:#fff}
a {color:#111;cursor:pointer;text-decoration:none;}
a:not([class*=ncss-btn]).disabled {color:rgba(17,17,17,.4)}
a:focus{outline:0}
img {max-width:100%}
button,input[type=button],input[type=reset],input[type=submit],select {font-family:"Helvetica Neue",Helvetica,"Spoqa Han Sans Neo",Arial,sans-serif;font-size:inherit;line-height:inherit;border:none;cursor:pointer;overflow:visible;-webkit-tap-highlight-color:transparent;-webkit-appearance:none;background-color:transparent;outline:0}
button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {border:0;padding:0;margin-top:0;margin-bottom:0;outline:0}
.mouse-focus button,.mouse-focus input[type=button],.mouse-focus input[type=reset],.mouse-focus input[type=submit] {outline:0}
.keyboard-focus button,.keyboard-focus input[type=button],.keyboard-focus input[type=reset],.keyboard-focus input[type=submit] {-webkit-transition:none;-o-transition:none;transition:none;}
//.keyboard-focus button:focus,.keyboard-focus input[type=button]:focus,.keyboard-focus input[type=reset]:focus,.keyboard-focus input[type=submit]:focus {outline-color:Highlight;outline-style:solid;outline-width:2px}
@media (-webkit-min-device-pixel-ratio:0) {
//  .keyboard-focus button:focus,.keyboard-focus input[type=button]:focus,.keyboard-focus input[type=reset]:focus,.keyboard-focus input[type=submit]:focus {outline-color:-webkit-focus-ring-color;outline-style:auto;outline-width:5px}
}
/* responsive font size */
@media only screen and (max-device-width: 480px) {
  html {font-size:14px;}
  .headline-1 {font-weight:400;font-size:30px;line-height:1.125}
  .headline-2 {font-weight:400;font-size:26px;line-height:1.428571}
  .headline-3 {font-weight:400;font-size:22px;line-height:1.166667}
  .headline-4 {font-weight:400;font-size:18px;line-height:1.2}
  .headline-5 {font-weight:400;font-size:14px;line-height:1.5}
  a{font-weight:400}
}

.hidden{display:none !important;}
div, p, span{word-wrap: break-word;word-break: keep-all;white-space: normal;}