/*
** nike.com mirroring - 기본 정의
*
* History
* --------------------------------------
* 2021-01-14 최초 작성  박춘기
 */
[class*=ncss-btn],[class*=ncss-cta] {display:inline-block;vertical-align:top;white-space:nowrap;text-align:center;text-decoration:none;font-weight:500;background:0 0;font-size:100%;line-height:1.5;cursor:pointer;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.ncss-btn-primary-dark {padding-top:8px;padding-bottom:8px;padding-left:24px;padding-right:24px;border-radius:20px;background:#111;color:#fff}
.ncss-btn-primary-dark.btn-lg {width:100%;padding:18px 24px;border-radius:30px}
.ncss-btn-primary-dark:not([disabled]):not(.disabled):hover {background:rgba(0,0,0,.75)}
.ncss-btn-primary-dark.disabled,.ncss-btn-primary-dark:disabled {background:#f5f5f5;color:#ccc;cursor:default}
.ncss-btn-primary-light {padding-top:8px;padding-bottom:8px;padding-left:24px;padding-right:24px;border-radius:20px;background:#fff;color:#111}
.ncss-btn-primary-light.btn-lg {width:100%;padding:18px 24px;border-radius:30px}
.ncss-btn-primary-light.disabled,.ncss-btn-primary-light:disabled {background:#f5f5f5;color:#ccc;cursor:default}
.ncss-btn-primary-light:not([disabled]):not(.disabled):hover {background:rgba(255,255,255,.75)}
.ncss-btn-secondary-dark {padding-top:8px;padding-bottom:8px;padding-left:24px;padding-right:24px;border-radius:20px;background:0 0;color:#111;-webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc}
.ncss-btn-secondary-dark.btn-lg {width:100%;padding:18px 24px;border-radius:30px}
.ncss-btn-secondary-dark:not([disabled]):not(.disabled):hover {-webkit-box-shadow:inset 0 1.5px 0 0 #ccc,inset -1.5px 0 0 0 #ccc,inset 0 -1.5px 0 0 #ccc,inset 1.5px 0 0 0 #ccc;box-shadow:inset 0 1.5px 0 0 #ccc,inset -1.5px 0 0 0 #ccc,inset 0 -1.5px 0 0 #ccc,inset 1.5px 0 0 0 #ccc}
.ncss-btn-secondary-dark.disabled,.ncss-btn-secondary-dark:disabled {-webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;color:#757575;cursor:default}
.ncss-btn-secondary-light {padding-top:8px;padding-bottom:8px;padding-left:24px;padding-right:24px;border-radius:20px;background:0 0;color:#fff;-webkit-box-shadow:inset 0 1px 0 0 #fff,inset -1px 0 0 0 #fff,inset 0 -1px 0 0 #fff,inset 1px 0 0 0 #fff;box-shadow:inset 0 1px 0 0 #fff,inset -1px 0 0 0 #fff,inset 0 -1px 0 0 #fff,inset 1px 0 0 0 #fff}
.ncss-btn-secondary-light.btn-lg {width:100%;padding:18px 24px;border-radius:30px}
.ncss-btn-secondary-light:not([disabled]):not(.disabled):hover {-webkit-box-shadow:inset 0 1.5px 0 0 #fff,inset -1.5px 0 0 0 #fff,inset 0 -1.5px 0 0 #fff,inset 1.5px 0 0 0 #fff;box-shadow:inset 0 1.5px 0 0 #fff,inset -1.5px 0 0 0 #fff,inset 0 -1.5px 0 0 #fff,inset 1.5px 0 0 0 #fff}
.ncss-btn-secondary-light.disabled,.ncss-btn-secondary-light:disabled {-webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;color:#ccc;cursor:default}
.ncss-cta-primary-dark {color:#111;padding:0}
.ncss-cta-primary-dark:not([disabled]):not(.disabled):hover {opacity:.75}
.ncss-cta-primary-dark.disabled,.ncss-cta-primary-dark:disabled {color:#ccc;cursor:default}
.ncss-cta-primary-dark.underline {-webkit-box-shadow:inset 0 -1px 0 0 #111;box-shadow:inset 0 -1px 0 0 #111;padding-bottom:2px;padding-left:0;padding-right:0;border-radius:0}
.ncss-cta-primary-dark.underline.disabled,.ncss-cta-primary-dark.underline:disabled {-webkit-box-shadow:inset 0 -1px 0 0 #ccc;box-shadow:inset 0 -1px 0 0 #ccc}
.ncss-cta-primary-dark.underline:not([disabled]):not(.disabled):hover {opacity:1;-webkit-box-shadow:inset 0 -1.5px 0 0 #111;box-shadow:inset 0 -1.5px 0 0 #111}
.ncss-cta-primary-light {color:#fff;padding:0}
.ncss-cta-primary-light:not([disabled]):not(.disabled):hover {opacity:.75}
.ncss-cta-primary-light.disabled,.ncss-cta-primary-light:disabled {color:#ccc;cursor:default}
.ncss-cta-primary-light.underline
.ncss-cta-primary-light.underline.disabled,.ncss-cta-primary-light.underline:disabled {-webkit-box-shadow:inset 0 -1px 0 0 #ccc;box-shadow:inset 0 -1px 0 0 #ccc}
.ncss-cta-primary-light.underline:not([disabled]):not(.disabled):hover {opacity:1;-webkit-box-shadow:inset 0 -1.5px 0 0 #fff;box-shadow:inset 0 -1.5px 0 0 #fff}
.ncss-cta-secondary-dark {color:#111;font-size:14px;line-height:1.42857;padding:0}
.ncss-cta-secondary-dark:not([disabled]):not(.disabled):hover {opacity:.75}
.ncss-cta-secondary-dark.disabled,.ncss-cta-secondary-dark:disabled {color:#ccc;cursor:default}
.ncss-cta-secondary-light {color:#fff;font-size:14px;line-height:1.42857;padding:0}
.ncss-cta-secondary-light:not([disabled]):not(.disabled):hover {opacity:.75}
.ncss-cta-secondary-light.disabled,.ncss-cta-secondary-light:disabled {color:#ccc;cursor:default}

input,textarea {border:0;margin:0;font-family:"Helvetica Neue",Helvetica,"Noto Sans KR",Arial,sans-serif;font-size:14px;-webkit-appearance:none;border-radius:2px}
input:focus,textarea:focus {outline:0}
input::-ms-clear,textarea::-ms-clear {display:none}

.ncss-form-group.inline {
  display:table
}

.ncss-form-group.inline .ncss-input-container,.ncss-form-group.inline .ncss-textarea-container {
  display:table-row
}

.ncss-form-group.inline .ncss-input,.ncss-form-group.inline .ncss-label,.ncss-form-group.inline .ncss-textarea {
  display:table-cell;
  vertical-align:middle
}

.ncss-form-group.inline .ncss-label {
  width:1%;
  white-space:nowrap
}

.ncss-input-container,.ncss-textarea-container {
  width:100%;
  position:relative;
  display:inline-block;
  text-align:left;
  overflow:hidden
}

.ncss-input-container .ncss-input,.ncss-textarea-container .ncss-input {
  width:100%;
  height:inherit;
  position:relative;
  -webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  min-height:48px
}

@media only screen and (min-width:1024px) {
  .ncss-input-container .ncss-input,.ncss-textarea-container .ncss-input {
    min-height:40px
  }
}

.ncss-input-container .ncss-input::-webkit-input-placeholder,.ncss-textarea-container .ncss-input::-webkit-input-placeholder {
  color:#ccc
}

.ncss-input-container .ncss-input:-moz-placeholder,.ncss-textarea-container .ncss-input:-moz-placeholder {
  color:#ccc
}

.ncss-input-container .ncss-input::-moz-placeholder,.ncss-textarea-container .ncss-input::-moz-placeholder {
  color:#ccc
}

.ncss-input-container .ncss-input:-ms-input-placeholder,.ncss-textarea-container .ncss-input:-ms-input-placeholder {
  color:#ccc
}

.ncss-input-container .ncss-input:focus,.ncss-textarea-container .ncss-input:focus {
  outline:0;
  -webkit-box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111;
  box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111
}

.ncss-input-container .ncss-textarea,.ncss-textarea-container .ncss-textarea {
  width:100%;
  height:inherit;
  position:relative;
  -webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  min-height:96px;
  resize:vertical;
  overflow:auto;
  display:block
}

.ncss-input-container .ncss-textarea:focus,.ncss-textarea-container .ncss-textarea:focus {
  outline:0;
  -webkit-box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111;
  box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111
}

.ncss-input-container .ncss-label,.ncss-textarea-container .ncss-label {
  display:block
}

.ncss-input-container .ncss-error-msg,.ncss-textarea-container .ncss-error-msg {
  display:none;
  color:#d43f21;
  font-size:12px;
  line-height:2.333333333333333
}

.ncss-input-container.error .ncss-input,.ncss-input-container.error .ncss-textarea,.ncss-textarea-container.error .ncss-input,.ncss-textarea-container.error .ncss-textarea {
  -webkit-box-shadow:inset 0 1px 0 0 #d43f21,inset -1px 0 0 0 #d43f21,inset 0 -1px 0 0 #d43f21,inset 1px 0 0 0 #d43f21;
  box-shadow:inset 0 1px 0 0 #d43f21,inset -1px 0 0 0 #d43f21,inset 0 -1px 0 0 #d43f21,inset 1px 0 0 0 #d43f21
}

.ncss-input-container.error .ncss-error-msg,.ncss-textarea-container.error .ncss-error-msg {
  display:block
}

input[type=radio] {
  -webkit-appearance:radio
}

input[type=checkbox] {
  -webkit-appearance:checkbox
}

.ncss-form-group.inline .ncss-checkbox-container,.ncss-form-group.inline .ncss-radio-container {
  display:table-cell;
  vertical-align:middle
}

.ncss-form-group.group-up {
  border:1px solid #e5e5e5;
  border-radius:2px
}

.ncss-form-group.group-up .ncss-radio-container {
  border-top:1px solid #e5e5e5
}

.ncss-form-group.group-up .ncss-radio-container:first-child {
  border:0
}

.ncss-form-group.group-up .ncss-radio-container .ncss-label {
  color:#111;
  background:#f5f5f5;
  -webkit-transition:background .4s ease;
  -o-transition:background .4s ease;
  transition:background .4s ease
}

.ncss-form-group.group-up .ncss-radio-container .ncss-label:before {
  left:16px;
  width:16px;
  height:16px
}

.ncss-form-group.group-up .ncss-radio-container .ncss-radio:checked+.ncss-label {
  background:#fff
}

.keyboard-focus .ncss-form-group.group-up .ncss-radio-container .ncss-radio:focus+.ncss-label {
  -webkit-box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111;
  box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111
}

.ncss-checkbox-container {
  position:relative
}

.ncss-checkbox-container .ncss-label {
  display:inline-block;
  vertical-align:top;
  position:relative;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.ncss-checkbox-container .ncss-label:before {
  content:'';
  position:absolute;
  left:0;
  top:50%;
  background:#fff;
  -webkit-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%);
  border:1px solid #ccc;
  width:16px;
  height:16px
}

.ncss-checkbox-container .ncss-checkbox,.ncss-checkbox-container .ncss-radio {
  position:absolute;
  left:-9999px
}

.ncss-checkbox-container .ncss-checkbox:disabled+.ncss-label,.ncss-checkbox-container .ncss-radio:disabled+.ncss-label {
  opacity:.55;
  cursor:default
}

.ncss-checkbox-container.error .ncss-label:before {
  border:1px solid #d43f21
}

.ncss-checkbox-container .ncss-label:before {
  border-radius:2px
}

.ncss-checkbox-container .ncss-label:after {
  position:absolute;
  top:50%;
  left:5px;
  font-family:nike-glyphs,sans-serif;
  font-size:8px;
  line-height:3.5;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)
}

.ncss-checkbox-container .ncss-checkbox:checked+.ncss-label:after {
  content:'\E611'
}

.keyboard-focus .ncss-checkbox-container .ncss-checkbox:focus+.ncss-label:before {
  outline:0;
  -webkit-box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111;
  box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111
}

.ncss-radio-container {
  position:relative
}

.ncss-radio-container .ncss-label {
  display:inline-block;
  vertical-align:top;
  position:relative;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.ncss-radio-container .ncss-label:before {
  content:'';
  position:absolute;
  left:0;
  top:50%;
  background:#fff;
  -webkit-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%);
  border:1px solid #ccc;
  width:16px;
  height:16px
}

.ncss-radio-container .ncss-checkbox,.ncss-radio-container .ncss-radio {
  position:absolute;
  left:-9999px
}

.ncss-radio-container .ncss-checkbox:disabled+.ncss-label,.ncss-radio-container .ncss-radio:disabled+.ncss-label {
  opacity:.55;
  cursor:default
}

.ncss-radio-container.error .ncss-label:before {
  border:1px solid #d43f21
}

.ncss-radio-container .ncss-label:before {
  border-radius:25px
}

.ncss-radio-container .ncss-radio:checked+.ncss-label:before {
  background:#111;
  border:1px solid #111
}

.keyboard-focus .ncss-radio-container .ncss-radio:focus+.ncss-label:after {
  content:'';
  position:absolute;
  left:2px;
  top:50%;
  -webkit-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%);
  border:2px solid #fff;
  border-radius:25px;
  width:12px;
  height:12px
}

.ncss-form-group.inline {
  display:table
}

.ncss-form-group.inline .ncss-select-container {
  display:table-row
}

.ncss-form-group.inline .ncss-select {
  display:table-cell;
  vertical-align:middle
}

.ncss-form-group.inline .ncss-label {
  width:1%;
  white-space:nowrap
}

.ncss-select-container {
  width:100%;
  position:relative;
  display:block;
  text-align:left;
  overflow:hidden
}

.ncss-select-container .ncss-select {
  width:100%;
  min-height:48px;
  position:relative;
  overflow:hidden;
  background:#fff
}

@media only screen and (min-width:1024px) {
  .ncss-select-container .ncss-select {
    min-height:40px
  }
}

.ncss-select-container .ncss-select>[class*=g72] {
  font-size:14px;
  line-height:1.714285714285714
}

.ncss-select-container .ncss-select-menu {
  position:absolute;
  left:0;
  top:0;
  right:-16px;
  min-height:inherit;
  font-size:14px;
  line-height:1.714285714285714;
  background:0 0;
  border-radius:2px;
  border:0;
  -webkit-box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  box-shadow:inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc,inset 0 -1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  -webkit-appearance:none;
  -moz-appearance:none
}

.ncss-select-container .ncss-select-menu::-ms-expand {
  display:none;
  border:none
}

.ncss-select-container .ncss-select-menu::-ms-value {
  background:0 0;
  color:#111
}

.ncss-select-container .ncss-select-menu:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #000
}

.ncss-select-container .ncss-select-menu:focus {
  outline:0;
  -webkit-box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111;
  box-shadow:inset 0 1px 0 0 #111,inset -1px 0 0 0 #111,inset 0 -1px 0 0 #111,inset 1px 0 0 0 #111
}

.ncss-select-container .ncss-label {
  display:block
}

.ncss-select-container .ncss-error-msg {
  display:none;
  color:#d43f21;
  font-size:14px;
  line-height:1.714285714285714
}

.ncss-select-container.error .ncss-select-menu {
  -webkit-box-shadow:inset 0 1px 0 0 #d43f21,inset -1px 0 0 0 #d43f21,inset 0 -1px 0 0 #d43f21,inset 1px 0 0 0 #d43f21;
  box-shadow:inset 0 1px 0 0 #d43f21,inset -1px 0 0 0 #d43f21,inset 0 -1px 0 0 #d43f21,inset 1px 0 0 0 #d43f21
}

.ncss-select-container.error .ncss-error-msg {
  display:block
}

.ncss-container {
  width:100%;
  padding-left:8px;
  padding-right:8px
}

.ncss-container.fixed-fluid {
  margin-left:12px;
  margin-right:12px;
  max-width:1808px;
  width:auto
}

@media only screen and (min-width:1024px) {
  .ncss-container.fixed-fluid {
    margin-left:48px;
    margin-right:48px
  }
}

@media screen and (min-width:1920px) {
  .ncss-container.fixed-fluid {
    margin-left:auto;
    margin-right:auto
  }
}
.ncss-row {
  font-size:0;
  margin-left:-8px;
  margin-right:-8px
}
.ncss-row:after,.ncss-row:before {
  content:"";
  display:table
}

.ncss-row:after {
  clear:both
}

[class*=ncss-col-] {
  position:relative;
  min-height:1px;
  display:none;
  font-size:16px;
  line-height:1.75;
  padding-left:8px;
  padding-right:8px
}

[class*=ncss-col-].full {
  padding-left:0;
  padding-right:0
}

[class*=ncss-col-].full>.ncss-row {
  margin-right:0;
  margin-left:0
}

.ncss-col-sm-1 {
  width:8.333333333333332%;
  display:inline-block
}

.ncss-col-sm-offset-1 {
  margin-left:8.333333333333332%
}

.ncss-col-sm-push-1 {
  left:8.333333333333332%
}

.ncss-col-sm-pull-1 {
  right:8.333333333333332%
}

.ncss-col-sm-2 {
  width:16.666666666666664%;
  display:inline-block
}

.ncss-col-sm-offset-2 {
  margin-left:16.666666666666664%
}

.ncss-col-sm-push-2 {
  left:16.666666666666664%
}

.ncss-col-sm-pull-2 {
  right:16.666666666666664%
}

.ncss-col-sm-3 {
  width:25%;
  display:inline-block
}

.ncss-col-sm-offset-3 {
  margin-left:25%
}

.ncss-col-sm-push-3 {
  left:25%
}

.ncss-col-sm-pull-3 {
  right:25%
}

.ncss-col-sm-4 {
  width:33.33333333333333%;
  display:inline-block
}

.ncss-col-sm-offset-4 {
  margin-left:33.33333333333333%
}

.ncss-col-sm-push-4 {
  left:33.33333333333333%
}

.ncss-col-sm-pull-4 {
  right:33.33333333333333%
}

.ncss-col-sm-5 {
  width:41.66666666666667%;
  display:inline-block
}

.ncss-col-sm-offset-5 {
  margin-left:41.66666666666667%
}

.ncss-col-sm-push-5 {
  left:41.66666666666667%
}

.ncss-col-sm-pull-5 {
  right:41.66666666666667%
}

.ncss-col-sm-6 {
  width:50%;
  display:inline-block
}

.ncss-col-sm-offset-6 {
  margin-left:50%
}

.ncss-col-sm-push-6 {
  left:50%
}

.ncss-col-sm-pull-6 {
  right:50%
}

.ncss-col-sm-7 {
  width:58.333333333333336%;
  display:inline-block
}

.ncss-col-sm-offset-7 {
  margin-left:58.333333333333336%
}

.ncss-col-sm-push-7 {
  left:58.333333333333336%
}

.ncss-col-sm-pull-7 {
  right:58.333333333333336%
}

.ncss-col-sm-8 {
  width:66.66666666666666%;
  display:inline-block
}

.ncss-col-sm-offset-8 {
  margin-left:66.66666666666666%
}

.ncss-col-sm-push-8 {
  left:66.66666666666666%
}

.ncss-col-sm-pull-8 {
  right:66.66666666666666%
}

.ncss-col-sm-9 {
  width:75%;
  display:inline-block
}

.ncss-col-sm-offset-9 {
  margin-left:75%
}

.ncss-col-sm-push-9 {
  left:75%
}

.ncss-col-sm-pull-9 {
  right:75%
}

.ncss-col-sm-10 {
  width:83.33333333333334%;
  display:inline-block
}

.ncss-col-sm-offset-10 {
  margin-left:83.33333333333334%
}

.ncss-col-sm-push-10 {
  left:83.33333333333334%
}

.ncss-col-sm-pull-10 {
  right:83.33333333333334%
}

.ncss-col-sm-11 {
  width:91.66666666666666%;
  display:inline-block
}

.ncss-col-sm-offset-11 {
  margin-left:91.66666666666666%
}

.ncss-col-sm-push-11 {
  left:91.66666666666666%
}

.ncss-col-sm-pull-11 {
  right:91.66666666666666%
}

.ncss-col-sm-12 {
  width:100%;
  display:inline-block
}

.ncss-col-sm-offset-12 {
  margin-left:100%
}

.ncss-col-sm-push-12 {
  left:100%
}

.ncss-col-sm-pull-12 {
  right:100%
}

@media only screen and (min-width:640px) {
  .ncss-col-md-1 {
    width:8.333333333333332%;
    display:inline-block
  }

  .ncss-col-md-offset-1 {
    margin-left:8.333333333333332%
  }

  .ncss-col-md-push-1 {
    left:8.333333333333332%
  }

  .ncss-col-md-pull-1 {
    right:8.333333333333332%
  }

  .ncss-col-md-2 {
    width:16.666666666666664%;
    display:inline-block
  }

  .ncss-col-md-offset-2 {
    margin-left:16.666666666666664%
  }

  .ncss-col-md-push-2 {
    left:16.666666666666664%
  }

  .ncss-col-md-pull-2 {
    right:16.666666666666664%
  }

  .ncss-col-md-3 {
    width:25%;
    display:inline-block
  }

  .ncss-col-md-offset-3 {
    margin-left:25%
  }

  .ncss-col-md-push-3 {
    left:25%
  }

  .ncss-col-md-pull-3 {
    right:25%
  }

  .ncss-col-md-4 {
    width:33.33333333333333%;
    display:inline-block
  }

  .ncss-col-md-offset-4 {
    margin-left:33.33333333333333%
  }

  .ncss-col-md-push-4 {
    left:33.33333333333333%
  }

  .ncss-col-md-pull-4 {
    right:33.33333333333333%
  }

  .ncss-col-md-5 {
    width:41.66666666666667%;
    display:inline-block
  }

  .ncss-col-md-offset-5 {
    margin-left:41.66666666666667%
  }

  .ncss-col-md-push-5 {
    left:41.66666666666667%
  }

  .ncss-col-md-pull-5 {
    right:41.66666666666667%
  }

  .ncss-col-md-6 {
    width:50%;
    display:inline-block
  }

  .ncss-col-md-offset-6 {
    margin-left:50%
  }

  .ncss-col-md-push-6 {
    left:50%
  }

  .ncss-col-md-pull-6 {
    right:50%
  }

  .ncss-col-md-7 {
    width:58.333333333333336%;
    display:inline-block
  }

  .ncss-col-md-offset-7 {
    margin-left:58.333333333333336%
  }

  .ncss-col-md-push-7 {
    left:58.333333333333336%
  }

  .ncss-col-md-pull-7 {
    right:58.333333333333336%
  }

  .ncss-col-md-8 {
    width:66.66666666666666%;
    display:inline-block
  }

  .ncss-col-md-offset-8 {
    margin-left:66.66666666666666%
  }

  .ncss-col-md-push-8 {
    left:66.66666666666666%
  }

  .ncss-col-md-pull-8 {
    right:66.66666666666666%
  }

  .ncss-col-md-9 {
    width:75%;
    display:inline-block
  }

  .ncss-col-md-offset-9 {
    margin-left:75%
  }

  .ncss-col-md-push-9 {
    left:75%
  }

  .ncss-col-md-pull-9 {
    right:75%
  }

  .ncss-col-md-10 {
    width:83.33333333333334%;
    display:inline-block
  }

  .ncss-col-md-offset-10 {
    margin-left:83.33333333333334%
  }

  .ncss-col-md-push-10 {
    left:83.33333333333334%
  }

  .ncss-col-md-pull-10 {
    right:83.33333333333334%
  }

  .ncss-col-md-11 {
    width:91.66666666666666%;
    display:inline-block
  }

  .ncss-col-md-offset-11 {
    margin-left:91.66666666666666%
  }

  .ncss-col-md-push-11 {
    left:91.66666666666666%
  }

  .ncss-col-md-pull-11 {
    right:91.66666666666666%
  }

  .ncss-col-md-12 {
    width:100%;
    display:inline-block
  }

  .ncss-col-md-offset-12 {
    margin-left:100%
  }

  .ncss-col-md-push-12 {
    left:100%
  }

  .ncss-col-md-pull-12 {
    right:100%
  }
}

@media only screen and (min-width:1024px) {
  .ncss-col-lg-1 {
    width:8.333333333333332%;
    display:inline-block
  }

  .ncss-col-lg-offset-1 {
    margin-left:8.333333333333332%
  }

  .ncss-col-lg-push-1 {
    left:8.333333333333332%
  }

  .ncss-col-lg-pull-1 {
    right:8.333333333333332%
  }

  .ncss-col-lg-2 {
    width:16.666666666666664%;
    display:inline-block
  }

  .ncss-col-lg-offset-2 {
    margin-left:16.666666666666664%
  }

  .ncss-col-lg-push-2 {
    left:16.666666666666664%
  }

  .ncss-col-lg-pull-2 {
    right:16.666666666666664%
  }

  .ncss-col-lg-3 {
    width:25%;
    display:inline-block
  }

  .ncss-col-lg-offset-3 {
    margin-left:25%
  }

  .ncss-col-lg-push-3 {
    left:25%
  }

  .ncss-col-lg-pull-3 {
    right:25%
  }

  .ncss-col-lg-4 {
    width:33.33333333333333%;
    display:inline-block
  }

  .ncss-col-lg-offset-4 {
    margin-left:33.33333333333333%
  }

  .ncss-col-lg-push-4 {
    left:33.33333333333333%
  }

  .ncss-col-lg-pull-4 {
    right:33.33333333333333%
  }

  .ncss-col-lg-5 {
    width:41.66666666666667%;
    display:inline-block
  }

  .ncss-col-lg-offset-5 {
    margin-left:41.66666666666667%
  }

  .ncss-col-lg-push-5 {
    left:41.66666666666667%
  }

  .ncss-col-lg-pull-5 {
    right:41.66666666666667%
  }

  .ncss-col-lg-6 {
    width:50%;
    display:inline-block
  }

  .ncss-col-lg-offset-6 {
    margin-left:50%
  }

  .ncss-col-lg-push-6 {
    left:50%
  }

  .ncss-col-lg-pull-6 {
    right:50%
  }

  .ncss-col-lg-7 {
    width:58.333333333333336%;
    display:inline-block
  }

  .ncss-col-lg-offset-7 {
    margin-left:58.333333333333336%
  }

  .ncss-col-lg-push-7 {
    left:58.333333333333336%
  }

  .ncss-col-lg-pull-7 {
    right:58.333333333333336%
  }

  .ncss-col-lg-8 {
    width:66.66666666666666%;
    display:inline-block
  }

  .ncss-col-lg-offset-8 {
    margin-left:66.66666666666666%
  }

  .ncss-col-lg-push-8 {
    left:66.66666666666666%
  }

  .ncss-col-lg-pull-8 {
    right:66.66666666666666%
  }

  .ncss-col-lg-9 {
    width:75%;
    display:inline-block
  }

  .ncss-col-lg-offset-9 {
    margin-left:75%
  }

  .ncss-col-lg-push-9 {
    left:75%
  }

  .ncss-col-lg-pull-9 {
    right:75%
  }

  .ncss-col-lg-10 {
    width:83.33333333333334%;
    display:inline-block
  }

  .ncss-col-lg-offset-10 {
    margin-left:83.33333333333334%
  }

  .ncss-col-lg-push-10 {
    left:83.33333333333334%
  }

  .ncss-col-lg-pull-10 {
    right:83.33333333333334%
  }

  .ncss-col-lg-11 {
    width:91.66666666666666%;
    display:inline-block
  }

  .ncss-col-lg-offset-11 {
    margin-left:91.66666666666666%
  }

  .ncss-col-lg-push-11 {
    left:91.66666666666666%
  }

  .ncss-col-lg-pull-11 {
    right:91.66666666666666%
  }

  .ncss-col-lg-12 {
    width:100%;
    display:inline-block
  }

  .ncss-col-lg-offset-12 {
    margin-left:100%
  }

  .ncss-col-lg-push-12 {
    left:100%
  }

  .ncss-col-lg-pull-12 {
    right:100%
  }
}

@media only screen and (min-width:1280px) {
  .ncss-col-xl-1 {
    width:8.333333333333332%;
    display:inline-block
  }

  .ncss-col-xl-offset-1 {
    margin-left:8.333333333333332%
  }

  .ncss-col-xl-push-1 {
    left:8.333333333333332%
  }

  .ncss-col-xl-pull-1 {
    right:8.333333333333332%
  }

  .ncss-col-xl-2 {
    width:16.666666666666664%;
    display:inline-block
  }

  .ncss-col-xl-offset-2 {
    margin-left:16.666666666666664%
  }

  .ncss-col-xl-push-2 {
    left:16.666666666666664%
  }

  .ncss-col-xl-pull-2 {
    right:16.666666666666664%
  }

  .ncss-col-xl-3 {
    width:25%;
    display:inline-block
  }

  .ncss-col-xl-offset-3 {
    margin-left:25%
  }

  .ncss-col-xl-push-3 {
    left:25%
  }

  .ncss-col-xl-pull-3 {
    right:25%
  }

  .ncss-col-xl-4 {
    width:33.33333333333333%;
    display:inline-block
  }

  .ncss-col-xl-offset-4 {
    margin-left:33.33333333333333%
  }

  .ncss-col-xl-push-4 {
    left:33.33333333333333%
  }

  .ncss-col-xl-pull-4 {
    right:33.33333333333333%
  }

  .ncss-col-xl-5 {
    width:41.66666666666667%;
    display:inline-block
  }

  .ncss-col-xl-offset-5 {
    margin-left:41.66666666666667%
  }

  .ncss-col-xl-push-5 {
    left:41.66666666666667%
  }

  .ncss-col-xl-pull-5 {
    right:41.66666666666667%
  }

  .ncss-col-xl-6 {
    width:50%;
    display:inline-block
  }

  .ncss-col-xl-offset-6 {
    margin-left:50%
  }

  .ncss-col-xl-push-6 {
    left:50%
  }

  .ncss-col-xl-pull-6 {
    right:50%
  }

  .ncss-col-xl-7 {
    width:58.333333333333336%;
    display:inline-block
  }

  .ncss-col-xl-offset-7 {
    margin-left:58.333333333333336%
  }

  .ncss-col-xl-push-7 {
    left:58.333333333333336%
  }

  .ncss-col-xl-pull-7 {
    right:58.333333333333336%
  }

  .ncss-col-xl-8 {
    width:66.66666666666666%;
    display:inline-block
  }

  .ncss-col-xl-offset-8 {
    margin-left:66.66666666666666%
  }

  .ncss-col-xl-push-8 {
    left:66.66666666666666%
  }

  .ncss-col-xl-pull-8 {
    right:66.66666666666666%
  }

  .ncss-col-xl-9 {
    width:75%;
    display:inline-block
  }

  .ncss-col-xl-offset-9 {
    margin-left:75%
  }

  .ncss-col-xl-push-9 {
    left:75%
  }

  .ncss-col-xl-pull-9 {
    right:75%
  }

  .ncss-col-xl-10 {
    width:83.33333333333334%;
    display:inline-block
  }

  .ncss-col-xl-offset-10 {
    margin-left:83.33333333333334%
  }

  .ncss-col-xl-push-10 {
    left:83.33333333333334%
  }

  .ncss-col-xl-pull-10 {
    right:83.33333333333334%
  }

  .ncss-col-xl-11 {
    width:91.66666666666666%;
    display:inline-block
  }

  .ncss-col-xl-offset-11 {
    margin-left:91.66666666666666%
  }

  .ncss-col-xl-push-11 {
    left:91.66666666666666%
  }

  .ncss-col-xl-pull-11 {
    right:91.66666666666666%
  }

  .ncss-col-xl-12 {
    width:100%;
    display:inline-block
  }

  .ncss-col-xl-offset-12 {
    margin-left:100%
  }

  .ncss-col-xl-push-12 {
    left:100%
  }

  .ncss-col-xl-pull-12 {
    right:100%
  }
}

@media only screen and (min-width:1440px) {
  .ncss-col-xxl-1 {
    width:8.333333333333332%;
    display:inline-block
  }

  .ncss-col-xxl-offset-1 {
    margin-left:8.333333333333332%
  }

  .ncss-col-xxl-push-1 {
    left:8.333333333333332%
  }

  .ncss-col-xxl-pull-1 {
    right:8.333333333333332%
  }

  .ncss-col-xxl-2 {
    width:16.666666666666664%;
    display:inline-block
  }

  .ncss-col-xxl-offset-2 {
    margin-left:16.666666666666664%
  }

  .ncss-col-xxl-push-2 {
    left:16.666666666666664%
  }

  .ncss-col-xxl-pull-2 {
    right:16.666666666666664%
  }

  .ncss-col-xxl-3 {
    width:25%;
    display:inline-block
  }

  .ncss-col-xxl-offset-3 {
    margin-left:25%
  }

  .ncss-col-xxl-push-3 {
    left:25%
  }

  .ncss-col-xxl-pull-3 {
    right:25%
  }

  .ncss-col-xxl-4 {
    width:33.33333333333333%;
    display:inline-block
  }

  .ncss-col-xxl-offset-4 {
    margin-left:33.33333333333333%
  }

  .ncss-col-xxl-push-4 {
    left:33.33333333333333%
  }

  .ncss-col-xxl-pull-4 {
    right:33.33333333333333%
  }

  .ncss-col-xxl-5 {
    width:41.66666666666667%;
    display:inline-block
  }

  .ncss-col-xxl-offset-5 {
    margin-left:41.66666666666667%
  }

  .ncss-col-xxl-push-5 {
    left:41.66666666666667%
  }

  .ncss-col-xxl-pull-5 {
    right:41.66666666666667%
  }

  .ncss-col-xxl-6 {
    width:50%;
    display:inline-block
  }

  .ncss-col-xxl-offset-6 {
    margin-left:50%
  }

  .ncss-col-xxl-push-6 {
    left:50%
  }

  .ncss-col-xxl-pull-6 {
    right:50%
  }

  .ncss-col-xxl-7 {
    width:58.333333333333336%;
    display:inline-block
  }

  .ncss-col-xxl-offset-7 {
    margin-left:58.333333333333336%
  }

  .ncss-col-xxl-push-7 {
    left:58.333333333333336%
  }

  .ncss-col-xxl-pull-7 {
    right:58.333333333333336%
  }

  .ncss-col-xxl-8 {
    width:66.66666666666666%;
    display:inline-block
  }

  .ncss-col-xxl-offset-8 {
    margin-left:66.66666666666666%
  }

  .ncss-col-xxl-push-8 {
    left:66.66666666666666%
  }

  .ncss-col-xxl-pull-8 {
    right:66.66666666666666%
  }

  .ncss-col-xxl-9 {
    width:75%;
    display:inline-block
  }

  .ncss-col-xxl-offset-9 {
    margin-left:75%
  }

  .ncss-col-xxl-push-9 {
    left:75%
  }

  .ncss-col-xxl-pull-9 {
    right:75%
  }

  .ncss-col-xxl-10 {
    width:83.33333333333334%;
    display:inline-block
  }

  .ncss-col-xxl-offset-10 {
    margin-left:83.33333333333334%
  }

  .ncss-col-xxl-push-10 {
    left:83.33333333333334%
  }

  .ncss-col-xxl-pull-10 {
    right:83.33333333333334%
  }

  .ncss-col-xxl-11 {
    width:91.66666666666666%;
    display:inline-block
  }

  .ncss-col-xxl-offset-11 {
    margin-left:91.66666666666666%
  }

  .ncss-col-xxl-push-11 {
    left:91.66666666666666%
  }

  .ncss-col-xxl-pull-11 {
    right:91.66666666666666%
  }

  .ncss-col-xxl-12 {
    width:100%;
    display:inline-block
  }

  .ncss-col-xxl-offset-12 {
    margin-left:100%
  }

  .ncss-col-xxl-push-12 {
    left:100%
  }

  .ncss-col-xxl-pull-12 {
    right:100%
  }
}

.flx-dir-sm-r {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row
}

.flx-dir-sm-rr {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
  -webkit-flex-direction:row-reverse;
  -ms-flex-direction:row-reverse;
  flex-direction:row-reverse
}

.flx-dir-sm-c {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
}

.flx-dir-sm-cr {
  -webkit-box-orient:vertical;
  -webkit-box-direction:reverse;
  -webkit-flex-direction:column-reverse;
  -ms-flex-direction:column-reverse;
  flex-direction:column-reverse
}

@media only screen and (min-width:640px) {
  .flx-dir-md-r {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
  }

  .flx-dir-md-rr {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:row-reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse
  }

  .flx-dir-md-c {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
  }

  .flx-dir-md-cr {
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse
  }
}

@media only screen and (min-width:1024px) {
  .flx-dir-lg-r {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
  }

  .flx-dir-lg-rr {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:row-reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse
  }

  .flx-dir-lg-c {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
  }

  .flx-dir-lg-cr {
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse
  }
}

@media only screen and (min-width:1280px) {
  .flx-dir-xl-r {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
  }

  .flx-dir-xl-rr {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:row-reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse
  }

  .flx-dir-xl-c {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
  }

  .flx-dir-xl-cr {
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse
  }
}

@media only screen and (min-width:1440px) {
  .flx-dir-xxl-r {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
  }

  .flx-dir-xxl-rr {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:row-reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse
  }

  .flx-dir-xxl-c {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
  }

  .flx-dir-xxl-cr {
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse
  }
}

.flx-wr-sm-nw {
  -webkit-flex-wrap:nowrap;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap
}

.flx-wr-sm-w {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
}

.flx-wr-sm-wr {
  -webkit-flex-wrap:wrap-reverse;
  -ms-flex-wrap:wrap-reverse;
  flex-wrap:wrap-reverse
}

@media only screen and (min-width:640px) {
  .flx-wr-md-nw {
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }

  .flx-wr-md-w {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  .flx-wr-md-wr {
    -webkit-flex-wrap:wrap-reverse;
    -ms-flex-wrap:wrap-reverse;
    flex-wrap:wrap-reverse
  }
}

@media only screen and (min-width:1024px) {
  .flx-wr-lg-nw {
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }

  .flx-wr-lg-w {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  .flx-wr-lg-wr {
    -webkit-flex-wrap:wrap-reverse;
    -ms-flex-wrap:wrap-reverse;
    flex-wrap:wrap-reverse
  }
}

@media only screen and (min-width:1280px) {
  .flx-wr-xl-nw {
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }

  .flx-wr-xl-w {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  .flx-wr-xl-wr {
    -webkit-flex-wrap:wrap-reverse;
    -ms-flex-wrap:wrap-reverse;
    flex-wrap:wrap-reverse
  }
}

@media only screen and (min-width:1440px) {
  .flx-wr-xxl-nw {
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }

  .flx-wr-xxl-w {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  .flx-wr-xxl-wr {
    -webkit-flex-wrap:wrap-reverse;
    -ms-flex-wrap:wrap-reverse;
    flex-wrap:wrap-reverse
  }
}

.flx-order-sm--1 {
  -webkit-box-ordinal-group:0;
  -webkit-order:-1;
  -ms-flex-order:-1;
  order:-1
}

.flx-order-sm-0 {
  -webkit-box-ordinal-group:1;
  -webkit-order:0;
  -ms-flex-order:0;
  order:0
}

.flx-order-sm-1 {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -ms-flex-order:1;
  order:1
}

@media only screen and (min-width:640px) {
  .flx-order-md--1 {
    -webkit-box-ordinal-group:0;
    -webkit-order:-1;
    -ms-flex-order:-1;
    order:-1
  }

  .flx-order-md-0 {
    -webkit-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0
  }

  .flx-order-md-1 {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
    -ms-flex-order:1;
    order:1
  }
}

@media only screen and (min-width:1024px) {
  .flx-order-lg--1 {
    -webkit-box-ordinal-group:0;
    -webkit-order:-1;
    -ms-flex-order:-1;
    order:-1
  }

  .flx-order-lg-0 {
    -webkit-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0
  }

  .flx-order-lg-1 {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
    -ms-flex-order:1;
    order:1
  }
}

@media only screen and (min-width:1280px) {
  .flx-order-xl--1 {
    -webkit-box-ordinal-group:0;
    -webkit-order:-1;
    -ms-flex-order:-1;
    order:-1
  }

  .flx-order-xl-0 {
    -webkit-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0
  }

  .flx-order-xl-1 {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
    -ms-flex-order:1;
    order:1
  }
}

@media only screen and (min-width:1440px) {
  .flx-order-xxl--1 {
    -webkit-box-ordinal-group:0;
    -webkit-order:-1;
    -ms-flex-order:-1;
    order:-1
  }

  .flx-order-xxl-0 {
    -webkit-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0
  }

  .flx-order-xxl-1 {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
    -ms-flex-order:1;
    order:1
  }
}

.flx-jc-sm-fs {
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  -ms-flex-pack:start;
  justify-content:flex-start
}

.flx-jc-sm-fe {
  -webkit-box-pack:end;
  -webkit-justify-content:flex-end;
  -ms-flex-pack:end;
  justify-content:flex-end
}

.flx-jc-sm-c {
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
}

.flx-jc-sm-sb {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between
}

.flx-jc-sm-sa {
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around
}

@media only screen and (min-width:640px) {
  .flx-jc-md-fs {
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }

  .flx-jc-md-fe {
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end
  }

  .flx-jc-md-c {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
  }

  .flx-jc-md-sb {
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
  }

  .flx-jc-md-sa {
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}

@media only screen and (min-width:1024px) {
  .flx-jc-lg-fs {
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }

  .flx-jc-lg-fe {
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end
  }

  .flx-jc-lg-c {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
  }

  .flx-jc-lg-sb {
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
  }

  .flx-jc-lg-sa {
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}

@media only screen and (min-width:1280px) {
  .flx-jc-xl-fs {
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }

  .flx-jc-xl-fe {
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end
  }

  .flx-jc-xl-c {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
  }

  .flx-jc-xl-sb {
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
  }

  .flx-jc-xl-sa {
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}

@media only screen and (min-width:1440px) {
  .flx-jc-xxl-fs {
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }

  .flx-jc-xxl-fe {
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end
  }

  .flx-jc-xxl-c {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
  }

  .flx-jc-xxl-sb {
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
  }

  .flx-jc-xxl-sa {
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}

.flx-as-sm-fs {
  -webkit-align-self:flex-start;
  -ms-flex-item-align:start;
  align-self:flex-start
}

.flx-as-sm-fe {
  -webkit-align-self:flex-end;
  -ms-flex-item-align:end;
  align-self:flex-end
}

.flx-as-sm-c {
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center
}

.flx-as-sm-b {
  -webkit-align-self:baseline;
  -ms-flex-item-align:baseline;
  align-self:baseline
}

.flx-as-sm-str {
  -webkit-align-self:stretch;
  -ms-flex-item-align:stretch;
  align-self:stretch
}

@media only screen and (min-width:640px) {
  .flx-as-md-fs {
    -webkit-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start
  }

  .flx-as-md-fe {
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end
  }

  .flx-as-md-c {
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center
  }

  .flx-as-md-b {
    -webkit-align-self:baseline;
    -ms-flex-item-align:baseline;
    align-self:baseline
  }

  .flx-as-md-str {
    -webkit-align-self:stretch;
    -ms-flex-item-align:stretch;
    align-self:stretch
  }
}

@media only screen and (min-width:1024px) {
  .flx-as-lg-fs {
    -webkit-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start
  }

  .flx-as-lg-fe {
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end
  }

  .flx-as-lg-c {
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center
  }

  .flx-as-lg-b {
    -webkit-align-self:baseline;
    -ms-flex-item-align:baseline;
    align-self:baseline
  }

  .flx-as-lg-str {
    -webkit-align-self:stretch;
    -ms-flex-item-align:stretch;
    align-self:stretch
  }
}

@media only screen and (min-width:1280px) {
  .flx-as-xl-fs {
    -webkit-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start
  }

  .flx-as-xl-fe {
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end
  }

  .flx-as-xl-c {
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center
  }

  .flx-as-xl-b {
    -webkit-align-self:baseline;
    -ms-flex-item-align:baseline;
    align-self:baseline
  }

  .flx-as-xl-str {
    -webkit-align-self:stretch;
    -ms-flex-item-align:stretch;
    align-self:stretch
  }
}

@media only screen and (min-width:1440px) {
  .flx-as-xxl-fs {
    -webkit-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start
  }

  .flx-as-xxl-fe {
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end
  }

  .flx-as-xxl-c {
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center
  }

  .flx-as-xxl-b {
    -webkit-align-self:baseline;
    -ms-flex-item-align:baseline;
    align-self:baseline
  }

  .flx-as-xxl-str {
    -webkit-align-self:stretch;
    -ms-flex-item-align:stretch;
    align-self:stretch
  }
}

.flx-ai-sm-fs {
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  -ms-flex-align:start;
  align-items:flex-start
}

.flx-ai-sm-fe {
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  -ms-flex-align:end;
  align-items:flex-end
}

.flx-ai-sm-c {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
}

.flx-ai-sm-b {
  -webkit-box-align:baseline;
  -webkit-align-items:baseline;
  -ms-flex-align:baseline;
  align-items:baseline
}

.flx-ai-sm-str {
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
  -ms-flex-align:stretch;
  align-items:stretch
}

@media only screen and (min-width:640px) {
  .flx-ai-md-fs {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
  }

  .flx-ai-md-fe {
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end
  }

  .flx-ai-md-c {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
  }

  .flx-ai-md-b {
    -webkit-box-align:baseline;
    -webkit-align-items:baseline;
    -ms-flex-align:baseline;
    align-items:baseline
  }

  .flx-ai-md-str {
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
  }
}

@media only screen and (min-width:1024px) {
  .flx-ai-lg-fs {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
  }

  .flx-ai-lg-fe {
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end
  }

  .flx-ai-lg-c {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
  }

  .flx-ai-lg-b {
    -webkit-box-align:baseline;
    -webkit-align-items:baseline;
    -ms-flex-align:baseline;
    align-items:baseline
  }

  .flx-ai-lg-str {
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
  }
}

@media only screen and (min-width:1280px) {
  .flx-ai-xl-fs {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
  }

  .flx-ai-xl-fe {
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end
  }

  .flx-ai-xl-c {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
  }

  .flx-ai-xl-b {
    -webkit-box-align:baseline;
    -webkit-align-items:baseline;
    -ms-flex-align:baseline;
    align-items:baseline
  }

  .flx-ai-xl-str {
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
  }
}

@media only screen and (min-width:1440px) {
  .flx-ai-xxl-fs {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
  }

  .flx-ai-xxl-fe {
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end
  }

  .flx-ai-xxl-c {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
  }

  .flx-ai-xxl-b {
    -webkit-box-align:baseline;
    -webkit-align-items:baseline;
    -ms-flex-align:baseline;
    align-items:baseline
  }

  .flx-ai-xxl-str {
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
  }
}

.flx-ac-sm-fs {
  -webkit-align-content:flex-start;
  -ms-flex-line-pack:start;
  align-content:flex-start
}

.flx-ac-sm-fe {
  -webkit-align-content:flex-end;
  -ms-flex-line-pack:end;
  align-content:flex-end
}

.flx-ac-sm-c {
  -webkit-align-content:center;
  -ms-flex-line-pack:center;
  align-content:center
}

.flx-ac-sm-sb {
  -webkit-align-content:space-between;
  -ms-flex-line-pack:justify;
  align-content:space-between
}

.flx-ac-sm-sa {
  -webkit-align-content:space-around;
  -ms-flex-line-pack:distribute;
  align-content:space-around
}

.flx-ac-sm-str {
  -webkit-align-content:stretch;
  -ms-flex-line-pack:stretch;
  align-content:stretch
}

@media only screen and (min-width:640px) {
  .flx-ac-md-fs {
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start
  }

  .flx-ac-md-fe {
    -webkit-align-content:flex-end;
    -ms-flex-line-pack:end;
    align-content:flex-end
  }

  .flx-ac-md-c {
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center
  }

  .flx-ac-md-sb {
    -webkit-align-content:space-between;
    -ms-flex-line-pack:justify;
    align-content:space-between
  }

  .flx-ac-md-sa {
    -webkit-align-content:space-around;
    -ms-flex-line-pack:distribute;
    align-content:space-around
  }

  .flx-ac-md-str {
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
  }
}

@media only screen and (min-width:1024px) {
  .flx-ac-lg-fs {
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start
  }

  .flx-ac-lg-fe {
    -webkit-align-content:flex-end;
    -ms-flex-line-pack:end;
    align-content:flex-end
  }

  .flx-ac-lg-c {
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center
  }

  .flx-ac-lg-sb {
    -webkit-align-content:space-between;
    -ms-flex-line-pack:justify;
    align-content:space-between
  }

  .flx-ac-lg-sa {
    -webkit-align-content:space-around;
    -ms-flex-line-pack:distribute;
    align-content:space-around
  }

  .flx-ac-lg-str {
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
  }
}

@media only screen and (min-width:1280px) {
  .flx-ac-xl-fs {
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start
  }

  .flx-ac-xl-fe {
    -webkit-align-content:flex-end;
    -ms-flex-line-pack:end;
    align-content:flex-end
  }

  .flx-ac-xl-c {
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center
  }

  .flx-ac-xl-sb {
    -webkit-align-content:space-between;
    -ms-flex-line-pack:justify;
    align-content:space-between
  }

  .flx-ac-xl-sa {
    -webkit-align-content:space-around;
    -ms-flex-line-pack:distribute;
    align-content:space-around
  }

  .flx-ac-xl-str {
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
  }
}

@media only screen and (min-width:1440px) {
  .flx-ac-xxl-fs {
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start
  }

  .flx-ac-xxl-fe {
    -webkit-align-content:flex-end;
    -ms-flex-line-pack:end;
    align-content:flex-end
  }

  .flx-ac-xxl-c {
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center
  }

  .flx-ac-xxl-sb {
    -webkit-align-content:space-between;
    -ms-flex-line-pack:justify;
    align-content:space-between
  }

  .flx-ac-xxl-sa {
    -webkit-align-content:space-around;
    -ms-flex-line-pack:distribute;
    align-content:space-around
  }

  .flx-ac-xxl-str {
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
  }
}

.flx-gro-sm-0 {
  -webkit-box-flex:0;
  -webkit-flex-grow:0;
  -ms-flex-positive:0;
  flex-grow:0
}

.flx-gro-sm-1 {
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1
}

@media only screen and (min-width:640px) {
  .flx-gro-md-0 {
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0
  }

  .flx-gro-md-1 {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
  }
}

@media only screen and (min-width:1024px) {
  .flx-gro-lg-0 {
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0
  }

  .flx-gro-lg-1 {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
  }
}

@media only screen and (min-width:1280px) {
  .flx-gro-xl-0 {
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0
  }

  .flx-gro-xl-1 {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
  }
}

@media only screen and (min-width:1440px) {
  .flx-gro-xxl-0 {
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0
  }

  .flx-gro-xxl-1 {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
  }
}

.ncss-list-ul .ncss-li {
  list-style-type:disc;
  margin-left:16px
}

.d-sm-b {
  display:block
}

.d-sm-ib {
  display:inline-block
}

.d-sm-t {
  display:table
}

.d-sm-tr {
  display:table-row
}

.d-sm-tc {
  display:table-cell
}

.d-sm-flx {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
}

.d-sm-iflx {
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex
}

.d-sm-h {
  display:none
}

@media only screen and (min-width:640px) {
  .d-md-b {
    display:block
  }

  .d-md-ib {
    display:inline-block
  }

  .d-md-t {
    display:table
  }

  .d-md-tr {
    display:table-row
  }

  .d-md-tc {
    display:table-cell
  }

  .d-md-flx {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
  }

  .d-md-iflx {
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex
  }

  .d-md-h {
    display:none
  }
}

@media only screen and (min-width:1024px) {
  .d-lg-b {
    display:block
  }

  .d-lg-ib {
    display:inline-block
  }

  .d-lg-t {
    display:table
  }

  .d-lg-tr {
    display:table-row
  }

  .d-lg-tc {
    display:table-cell
  }

  .d-lg-flx {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
  }

  .d-lg-iflx {
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex
  }

  .d-lg-h {
    display:none
  }
}

@media only screen and (min-width:1280px) {
  .d-xl-b {
    display:block
  }

  .d-xl-ib {
    display:inline-block
  }

  .d-xl-t {
    display:table
  }

  .d-xl-tr {
    display:table-row
  }

  .d-xl-tc {
    display:table-cell
  }

  .d-xl-flx {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
  }

  .d-xl-iflx {
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex
  }

  .d-xl-h {
    display:none
  }
}

@media only screen and (min-width:1440px) {
  .d-xxl-b {
    display:block
  }

  .d-xxl-ib {
    display:inline-block
  }

  .d-xxl-t {
    display:table
  }

  .d-xxl-tr {
    display:table-row
  }

  .d-xxl-tc {
    display:table-cell
  }

  .d-xxl-flx {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
  }

  .d-xxl-iflx {
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex
  }

  .d-xxl-h {
    display:none
  }
}

.fl-sm-r {
  float:right
}

.fl-sm-l {
  float:left
}

@media only screen and (min-width:640px) {
  .fl-md-r {
    float:right
  }

  .fl-md-l {
    float:left
  }
}

@media only screen and (min-width:1024px) {
  .fl-lg-r {
    float:right
  }

  .fl-lg-l {
    float:left
  }
}

@media only screen and (min-width:1280px) {
  .fl-xl-r {
    float:right
  }

  .fl-xl-l {
    float:left
  }
}

@media only screen and (min-width:1440px) {
  .fl-xxl-r {
    float:right
  }

  .fl-xxl-l {
    float:left
  }
}

.m0-sm {
  margin:0
}

.m1-sm {
  margin:4px
}

.m2-sm {
  margin:8px
}

.m3-sm {
  margin:12px
}

.m4-sm {
  margin:16px
}

.m5-sm {
  margin:20px
}

.m6-sm {
  margin:24px
}

.m7-sm {
  margin:28px
}

.m8-sm {
  margin:32px
}

.m9-sm {
  margin:36px
}

.m10-sm {
  margin:40px
}

.m11-sm {
  margin:44px
}

.m12-sm {
  margin:48px
}

.mt0-sm {
  margin-top:0
}

.mt-0-sm {
  margin-top:0
}

.mr0-sm {
  margin-right:0
}

.mb0-sm {
  margin-bottom:0
}

.mb-0-sm {
  margin-bottom:0
}

.ml0-sm {
  margin-left:0
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt1-sm {
  margin-top:4px
}

.mt-1-sm {
  margin-top:-4px
}

.mr1-sm {
  margin-right:4px
}

.mb1-sm {
  margin-bottom:4px
}

.mb-1-sm {
  margin-bottom:-4px
}

.ml1-sm {
  margin-left:4px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt2-sm {
  margin-top:8px
}

.mt-2-sm {
  margin-top:-8px
}

.mr2-sm {
  margin-right:8px
}

.mb2-sm {
  margin-bottom:8px
}

.mb-2-sm {
  margin-bottom:-8px
}

.ml2-sm {
  margin-left:8px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt3-sm {
  margin-top:12px
}

.mt-3-sm {
  margin-top:-12px
}

.mr3-sm {
  margin-right:12px
}

.mb3-sm {
  margin-bottom:12px
}

.mb-3-sm {
  margin-bottom:-12px
}

.ml3-sm {
  margin-left:12px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt4-sm {
  margin-top:16px
}

.mt-4-sm {
  margin-top:-16px
}

.mr4-sm {
  margin-right:16px
}

.mb4-sm {
  margin-bottom:16px
}

.mb-4-sm {
  margin-bottom:-16px
}

.ml4-sm {
  margin-left:16px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt5-sm {
  margin-top:20px
}

.mt-5-sm {
  margin-top:-20px
}

.mr5-sm {
  margin-right:20px
}

.mb5-sm {
  margin-bottom:20px
}

.mb-5-sm {
  margin-bottom:-20px
}

.ml5-sm {
  margin-left:20px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt6-sm {
  margin-top:24px
}

.mt-6-sm {
  margin-top:-24px
}

.mr6-sm {
  margin-right:24px
}

.mb6-sm {
  margin-bottom:24px
}

.mb-6-sm {
  margin-bottom:-24px
}

.ml6-sm {
  margin-left:24px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt7-sm {
  margin-top:28px
}

.mt-7-sm {
  margin-top:-28px
}

.mr7-sm {
  margin-right:28px
}

.mb7-sm {
  margin-bottom:28px
}

.mb-7-sm {
  margin-bottom:-28px
}

.ml7-sm {
  margin-left:28px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt8-sm {
  margin-top:32px
}

.mt-8-sm {
  margin-top:-32px
}

.mr8-sm {
  margin-right:32px
}

.mb8-sm {
  margin-bottom:32px
}

.mb-8-sm {
  margin-bottom:-32px
}

.ml8-sm {
  margin-left:32px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt9-sm {
  margin-top:36px
}

.mt-9-sm {
  margin-top:-36px
}

.mr9-sm {
  margin-right:36px
}

.mb9-sm {
  margin-bottom:36px
}

.mb-9-sm {
  margin-bottom:-36px
}

.ml9-sm {
  margin-left:36px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt10-sm {
  margin-top:40px
}

.mt-10-sm {
  margin-top:-40px
}

.mr10-sm {
  margin-right:40px
}

.mb10-sm {
  margin-bottom:40px
}

.mb-10-sm {
  margin-bottom:-40px
}

.ml10-sm {
  margin-left:40px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt11-sm {
  margin-top:44px
}

.mt-11-sm {
  margin-top:-44px
}

.mr11-sm {
  margin-right:44px
}

.mb11-sm {
  margin-bottom:44px
}

.mb-11-sm {
  margin-bottom:-44px
}

.ml11-sm {
  margin-left:44px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

.mt12-sm {
  margin-top:48px
}

.mt-12-sm {
  margin-top:-48px
}

.mr12-sm {
  margin-right:48px
}

.mb12-sm {
  margin-bottom:48px
}

.mb-12-sm {
  margin-bottom:-48px
}

.ml12-sm {
  margin-left:48px
}

.mauto-sm {
  margin-left:auto;
  margin-right:auto
}

@media only screen and (min-width:640px) {
  .m0-md {
    margin:0
  }

  .m1-md {
    margin:4px
  }

  .m2-md {
    margin:8px
  }

  .m3-md {
    margin:12px
  }

  .m4-md {
    margin:16px
  }

  .m5-md {
    margin:20px
  }

  .m6-md {
    margin:24px
  }

  .m7-md {
    margin:28px
  }

  .m8-md {
    margin:32px
  }

  .m9-md {
    margin:36px
  }

  .m10-md {
    margin:40px
  }

  .m11-md {
    margin:44px
  }

  .m12-md {
    margin:48px
  }

  .mt0-md {
    margin-top:0
  }

  .mt-0-md {
    margin-top:0
  }

  .mr0-md {
    margin-right:0
  }

  .mb0-md {
    margin-bottom:0
  }

  .mb-0-md {
    margin-bottom:0
  }

  .ml0-md {
    margin-left:0
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt1-md {
    margin-top:4px
  }

  .mt-1-md {
    margin-top:-4px
  }

  .mr1-md {
    margin-right:4px
  }

  .mb1-md {
    margin-bottom:4px
  }

  .mb-1-md {
    margin-bottom:-4px
  }

  .ml1-md {
    margin-left:4px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt2-md {
    margin-top:8px
  }

  .mt-2-md {
    margin-top:-8px
  }

  .mr2-md {
    margin-right:8px
  }

  .mb2-md {
    margin-bottom:8px
  }

  .mb-2-md {
    margin-bottom:-8px
  }

  .ml2-md {
    margin-left:8px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt3-md {
    margin-top:12px
  }

  .mt-3-md {
    margin-top:-12px
  }

  .mr3-md {
    margin-right:12px
  }

  .mb3-md {
    margin-bottom:12px
  }

  .mb-3-md {
    margin-bottom:-12px
  }

  .ml3-md {
    margin-left:12px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt4-md {
    margin-top:16px
  }

  .mt-4-md {
    margin-top:-16px
  }

  .mr4-md {
    margin-right:16px
  }

  .mb4-md {
    margin-bottom:16px
  }

  .mb-4-md {
    margin-bottom:-16px
  }

  .ml4-md {
    margin-left:16px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt5-md {
    margin-top:20px
  }

  .mt-5-md {
    margin-top:-20px
  }

  .mr5-md {
    margin-right:20px
  }

  .mb5-md {
    margin-bottom:20px
  }

  .mb-5-md {
    margin-bottom:-20px
  }

  .ml5-md {
    margin-left:20px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt6-md {
    margin-top:24px
  }

  .mt-6-md {
    margin-top:-24px
  }

  .mr6-md {
    margin-right:24px
  }

  .mb6-md {
    margin-bottom:24px
  }

  .mb-6-md {
    margin-bottom:-24px
  }

  .ml6-md {
    margin-left:24px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt7-md {
    margin-top:28px
  }

  .mt-7-md {
    margin-top:-28px
  }

  .mr7-md {
    margin-right:28px
  }

  .mb7-md {
    margin-bottom:28px
  }

  .mb-7-md {
    margin-bottom:-28px
  }

  .ml7-md {
    margin-left:28px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt8-md {
    margin-top:32px
  }

  .mt-8-md {
    margin-top:-32px
  }

  .mr8-md {
    margin-right:32px
  }

  .mb8-md {
    margin-bottom:32px
  }

  .mb-8-md {
    margin-bottom:-32px
  }

  .ml8-md {
    margin-left:32px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt9-md {
    margin-top:36px
  }

  .mt-9-md {
    margin-top:-36px
  }

  .mr9-md {
    margin-right:36px
  }

  .mb9-md {
    margin-bottom:36px
  }

  .mb-9-md {
    margin-bottom:-36px
  }

  .ml9-md {
    margin-left:36px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt10-md {
    margin-top:40px
  }

  .mt-10-md {
    margin-top:-40px
  }

  .mr10-md {
    margin-right:40px
  }

  .mb10-md {
    margin-bottom:40px
  }

  .mb-10-md {
    margin-bottom:-40px
  }

  .ml10-md {
    margin-left:40px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt11-md {
    margin-top:44px
  }

  .mt-11-md {
    margin-top:-44px
  }

  .mr11-md {
    margin-right:44px
  }

  .mb11-md {
    margin-bottom:44px
  }

  .mb-11-md {
    margin-bottom:-44px
  }

  .ml11-md {
    margin-left:44px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }

  .mt12-md {
    margin-top:48px
  }

  .mt-12-md {
    margin-top:-48px
  }

  .mr12-md {
    margin-right:48px
  }

  .mb12-md {
    margin-bottom:48px
  }

  .mb-12-md {
    margin-bottom:-48px
  }

  .ml12-md {
    margin-left:48px
  }

  .mauto-md {
    margin-left:auto;
    margin-right:auto
  }
}

@media only screen and (min-width:1024px) {
  .m0-lg {
    margin:0
  }

  .m1-lg {
    margin:4px
  }

  .m2-lg {
    margin:8px
  }

  .m3-lg {
    margin:12px
  }

  .m4-lg {
    margin:16px
  }

  .m5-lg {
    margin:20px
  }

  .m6-lg {
    margin:24px
  }

  .m7-lg {
    margin:28px
  }

  .m8-lg {
    margin:32px
  }

  .m9-lg {
    margin:36px
  }

  .m10-lg {
    margin:40px
  }

  .m11-lg {
    margin:44px
  }

  .m12-lg {
    margin:48px
  }

  .mt0-lg {
    margin-top:0
  }

  .mt-0-lg {
    margin-top:0
  }

  .mr0-lg {
    margin-right:0
  }

  .mb0-lg {
    margin-bottom:0
  }

  .mb-0-lg {
    margin-bottom:0
  }

  .ml0-lg {
    margin-left:0
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt1-lg {
    margin-top:4px
  }

  .mt-1-lg {
    margin-top:-4px
  }

  .mr1-lg {
    margin-right:4px
  }

  .mb1-lg {
    margin-bottom:4px
  }

  .mb-1-lg {
    margin-bottom:-4px
  }

  .ml1-lg {
    margin-left:4px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt2-lg {
    margin-top:8px
  }

  .mt-2-lg {
    margin-top:-8px
  }

  .mr2-lg {
    margin-right:8px
  }

  .mb2-lg {
    margin-bottom:8px
  }

  .mb-2-lg {
    margin-bottom:-8px
  }

  .ml2-lg {
    margin-left:8px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt3-lg {
    margin-top:12px
  }

  .mt-3-lg {
    margin-top:-12px
  }

  .mr3-lg {
    margin-right:12px
  }

  .mb3-lg {
    margin-bottom:12px
  }

  .mb-3-lg {
    margin-bottom:-12px
  }

  .ml3-lg {
    margin-left:12px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt4-lg {
    margin-top:16px
  }

  .mt-4-lg {
    margin-top:-16px
  }

  .mr4-lg {
    margin-right:16px
  }

  .mb4-lg {
    margin-bottom:16px
  }

  .mb-4-lg {
    margin-bottom:-16px
  }

  .ml4-lg {
    margin-left:16px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt5-lg {
    margin-top:20px
  }

  .mt-5-lg {
    margin-top:-20px
  }

  .mr5-lg {
    margin-right:20px
  }

  .mb5-lg {
    margin-bottom:20px
  }

  .mb-5-lg {
    margin-bottom:-20px
  }

  .ml5-lg {
    margin-left:20px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt6-lg {
    margin-top:24px
  }

  .mt-6-lg {
    margin-top:-24px
  }

  .mr6-lg {
    margin-right:24px
  }

  .mb6-lg {
    margin-bottom:24px
  }

  .mb-6-lg {
    margin-bottom:-24px
  }

  .ml6-lg {
    margin-left:24px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt7-lg {
    margin-top:28px
  }

  .mt-7-lg {
    margin-top:-28px
  }

  .mr7-lg {
    margin-right:28px
  }

  .mb7-lg {
    margin-bottom:28px
  }

  .mb-7-lg {
    margin-bottom:-28px
  }

  .ml7-lg {
    margin-left:28px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt8-lg {
    margin-top:32px
  }

  .mt-8-lg {
    margin-top:-32px
  }

  .mr8-lg {
    margin-right:32px
  }

  .mb8-lg {
    margin-bottom:32px
  }

  .mb-8-lg {
    margin-bottom:-32px
  }

  .ml8-lg {
    margin-left:32px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt9-lg {
    margin-top:36px
  }

  .mt-9-lg {
    margin-top:-36px
  }

  .mr9-lg {
    margin-right:36px
  }

  .mb9-lg {
    margin-bottom:36px
  }

  .mb-9-lg {
    margin-bottom:-36px
  }

  .ml9-lg {
    margin-left:36px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt10-lg {
    margin-top:40px
  }

  .mt-10-lg {
    margin-top:-40px
  }

  .mr10-lg {
    margin-right:40px
  }

  .mb10-lg {
    margin-bottom:40px
  }

  .mb-10-lg {
    margin-bottom:-40px
  }

  .ml10-lg {
    margin-left:40px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt11-lg {
    margin-top:44px
  }

  .mt-11-lg {
    margin-top:-44px
  }

  .mr11-lg {
    margin-right:44px
  }

  .mb11-lg {
    margin-bottom:44px
  }

  .mb-11-lg {
    margin-bottom:-44px
  }

  .ml11-lg {
    margin-left:44px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }

  .mt12-lg {
    margin-top:48px
  }

  .mt-12-lg {
    margin-top:-48px
  }

  .mr12-lg {
    margin-right:48px
  }

  .mb12-lg {
    margin-bottom:48px
  }

  .mb-12-lg {
    margin-bottom:-48px
  }

  .ml12-lg {
    margin-left:48px
  }

  .mauto-lg {
    margin-left:auto;
    margin-right:auto
  }
}

@media only screen and (min-width:1280px) {
  .m0-xl {
    margin:0
  }

  .m1-xl {
    margin:4px
  }

  .m2-xl {
    margin:8px
  }

  .m3-xl {
    margin:12px
  }

  .m4-xl {
    margin:16px
  }

  .m5-xl {
    margin:20px
  }

  .m6-xl {
    margin:24px
  }

  .m7-xl {
    margin:28px
  }

  .m8-xl {
    margin:32px
  }

  .m9-xl {
    margin:36px
  }

  .m10-xl {
    margin:40px
  }

  .m11-xl {
    margin:44px
  }

  .m12-xl {
    margin:48px
  }

  .mt0-xl {
    margin-top:0
  }

  .mt-0-xl {
    margin-top:0
  }

  .mr0-xl {
    margin-right:0
  }

  .mb0-xl {
    margin-bottom:0
  }

  .mb-0-xl {
    margin-bottom:0
  }

  .ml0-xl {
    margin-left:0
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt1-xl {
    margin-top:4px
  }

  .mt-1-xl {
    margin-top:-4px
  }

  .mr1-xl {
    margin-right:4px
  }

  .mb1-xl {
    margin-bottom:4px
  }

  .mb-1-xl {
    margin-bottom:-4px
  }

  .ml1-xl {
    margin-left:4px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt2-xl {
    margin-top:8px
  }

  .mt-2-xl {
    margin-top:-8px
  }

  .mr2-xl {
    margin-right:8px
  }

  .mb2-xl {
    margin-bottom:8px
  }

  .mb-2-xl {
    margin-bottom:-8px
  }

  .ml2-xl {
    margin-left:8px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt3-xl {
    margin-top:12px
  }

  .mt-3-xl {
    margin-top:-12px
  }

  .mr3-xl {
    margin-right:12px
  }

  .mb3-xl {
    margin-bottom:12px
  }

  .mb-3-xl {
    margin-bottom:-12px
  }

  .ml3-xl {
    margin-left:12px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt4-xl {
    margin-top:16px
  }

  .mt-4-xl {
    margin-top:-16px
  }

  .mr4-xl {
    margin-right:16px
  }

  .mb4-xl {
    margin-bottom:16px
  }

  .mb-4-xl {
    margin-bottom:-16px
  }

  .ml4-xl {
    margin-left:16px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt5-xl {
    margin-top:20px
  }

  .mt-5-xl {
    margin-top:-20px
  }

  .mr5-xl {
    margin-right:20px
  }

  .mb5-xl {
    margin-bottom:20px
  }

  .mb-5-xl {
    margin-bottom:-20px
  }

  .ml5-xl {
    margin-left:20px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt6-xl {
    margin-top:24px
  }

  .mt-6-xl {
    margin-top:-24px
  }

  .mr6-xl {
    margin-right:24px
  }

  .mb6-xl {
    margin-bottom:24px
  }

  .mb-6-xl {
    margin-bottom:-24px
  }

  .ml6-xl {
    margin-left:24px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt7-xl {
    margin-top:28px
  }

  .mt-7-xl {
    margin-top:-28px
  }

  .mr7-xl {
    margin-right:28px
  }

  .mb7-xl {
    margin-bottom:28px
  }

  .mb-7-xl {
    margin-bottom:-28px
  }

  .ml7-xl {
    margin-left:28px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt8-xl {
    margin-top:32px
  }

  .mt-8-xl {
    margin-top:-32px
  }

  .mr8-xl {
    margin-right:32px
  }

  .mb8-xl {
    margin-bottom:32px
  }

  .mb-8-xl {
    margin-bottom:-32px
  }

  .ml8-xl {
    margin-left:32px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt9-xl {
    margin-top:36px
  }

  .mt-9-xl {
    margin-top:-36px
  }

  .mr9-xl {
    margin-right:36px
  }

  .mb9-xl {
    margin-bottom:36px
  }

  .mb-9-xl {
    margin-bottom:-36px
  }

  .ml9-xl {
    margin-left:36px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt10-xl {
    margin-top:40px
  }

  .mt-10-xl {
    margin-top:-40px
  }

  .mr10-xl {
    margin-right:40px
  }

  .mb10-xl {
    margin-bottom:40px
  }

  .mb-10-xl {
    margin-bottom:-40px
  }

  .ml10-xl {
    margin-left:40px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt11-xl {
    margin-top:44px
  }

  .mt-11-xl {
    margin-top:-44px
  }

  .mr11-xl {
    margin-right:44px
  }

  .mb11-xl {
    margin-bottom:44px
  }

  .mb-11-xl {
    margin-bottom:-44px
  }

  .ml11-xl {
    margin-left:44px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }

  .mt12-xl {
    margin-top:48px
  }

  .mt-12-xl {
    margin-top:-48px
  }

  .mr12-xl {
    margin-right:48px
  }

  .mb12-xl {
    margin-bottom:48px
  }

  .mb-12-xl {
    margin-bottom:-48px
  }

  .ml12-xl {
    margin-left:48px
  }

  .mauto-xl {
    margin-left:auto;
    margin-right:auto
  }
}

@media only screen and (min-width:1440px) {
  .m0-xxl {
    margin:0
  }

  .m1-xxl {
    margin:4px
  }

  .m2-xxl {
    margin:8px
  }

  .m3-xxl {
    margin:12px
  }

  .m4-xxl {
    margin:16px
  }

  .m5-xxl {
    margin:20px
  }

  .m6-xxl {
    margin:24px
  }

  .m7-xxl {
    margin:28px
  }

  .m8-xxl {
    margin:32px
  }

  .m9-xxl {
    margin:36px
  }

  .m10-xxl {
    margin:40px
  }

  .m11-xxl {
    margin:44px
  }

  .m12-xxl {
    margin:48px
  }

  .mt0-xxl {
    margin-top:0
  }

  .mt-0-xxl {
    margin-top:0
  }

  .mr0-xxl {
    margin-right:0
  }

  .mb0-xxl {
    margin-bottom:0
  }

  .mb-0-xxl {
    margin-bottom:0
  }

  .ml0-xxl {
    margin-left:0
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt1-xxl {
    margin-top:4px
  }

  .mt-1-xxl {
    margin-top:-4px
  }

  .mr1-xxl {
    margin-right:4px
  }

  .mb1-xxl {
    margin-bottom:4px
  }

  .mb-1-xxl {
    margin-bottom:-4px
  }

  .ml1-xxl {
    margin-left:4px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt2-xxl {
    margin-top:8px
  }

  .mt-2-xxl {
    margin-top:-8px
  }

  .mr2-xxl {
    margin-right:8px
  }

  .mb2-xxl {
    margin-bottom:8px
  }

  .mb-2-xxl {
    margin-bottom:-8px
  }

  .ml2-xxl {
    margin-left:8px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt3-xxl {
    margin-top:12px
  }

  .mt-3-xxl {
    margin-top:-12px
  }

  .mr3-xxl {
    margin-right:12px
  }

  .mb3-xxl {
    margin-bottom:12px
  }

  .mb-3-xxl {
    margin-bottom:-12px
  }

  .ml3-xxl {
    margin-left:12px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt4-xxl {
    margin-top:16px
  }

  .mt-4-xxl {
    margin-top:-16px
  }

  .mr4-xxl {
    margin-right:16px
  }

  .mb4-xxl {
    margin-bottom:16px
  }

  .mb-4-xxl {
    margin-bottom:-16px
  }

  .ml4-xxl {
    margin-left:16px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt5-xxl {
    margin-top:20px
  }

  .mt-5-xxl {
    margin-top:-20px
  }

  .mr5-xxl {
    margin-right:20px
  }

  .mb5-xxl {
    margin-bottom:20px
  }

  .mb-5-xxl {
    margin-bottom:-20px
  }

  .ml5-xxl {
    margin-left:20px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt6-xxl {
    margin-top:24px
  }

  .mt-6-xxl {
    margin-top:-24px
  }

  .mr6-xxl {
    margin-right:24px
  }

  .mb6-xxl {
    margin-bottom:24px
  }

  .mb-6-xxl {
    margin-bottom:-24px
  }

  .ml6-xxl {
    margin-left:24px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt7-xxl {
    margin-top:28px
  }

  .mt-7-xxl {
    margin-top:-28px
  }

  .mr7-xxl {
    margin-right:28px
  }

  .mb7-xxl {
    margin-bottom:28px
  }

  .mb-7-xxl {
    margin-bottom:-28px
  }

  .ml7-xxl {
    margin-left:28px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt8-xxl {
    margin-top:32px
  }

  .mt-8-xxl {
    margin-top:-32px
  }

  .mr8-xxl {
    margin-right:32px
  }

  .mb8-xxl {
    margin-bottom:32px
  }

  .mb-8-xxl {
    margin-bottom:-32px
  }

  .ml8-xxl {
    margin-left:32px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt9-xxl {
    margin-top:36px
  }

  .mt-9-xxl {
    margin-top:-36px
  }

  .mr9-xxl {
    margin-right:36px
  }

  .mb9-xxl {
    margin-bottom:36px
  }

  .mb-9-xxl {
    margin-bottom:-36px
  }

  .ml9-xxl {
    margin-left:36px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt10-xxl {
    margin-top:40px
  }

  .mt-10-xxl {
    margin-top:-40px
  }

  .mr10-xxl {
    margin-right:40px
  }

  .mb10-xxl {
    margin-bottom:40px
  }

  .mb-10-xxl {
    margin-bottom:-40px
  }

  .ml10-xxl {
    margin-left:40px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt11-xxl {
    margin-top:44px
  }

  .mt-11-xxl {
    margin-top:-44px
  }

  .mr11-xxl {
    margin-right:44px
  }

  .mb11-xxl {
    margin-bottom:44px
  }

  .mb-11-xxl {
    margin-bottom:-44px
  }

  .ml11-xxl {
    margin-left:44px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }

  .mt12-xxl {
    margin-top:48px
  }

  .mt-12-xxl {
    margin-top:-48px
  }

  .mr12-xxl {
    margin-right:48px
  }

  .mb12-xxl {
    margin-bottom:48px
  }

  .mb-12-xxl {
    margin-bottom:-48px
  }

  .ml12-xxl {
    margin-left:48px
  }

  .mauto-xxl {
    margin-left:auto;
    margin-right:auto
  }
}

.p0-sm {
  padding:0
}

.p1-sm {
  padding:4px
}

.p2-sm {
  padding:8px
}

.p3-sm {
  padding:12px
}

.p4-sm {
  padding:16px
}

.p5-sm {
  padding:20px
}

.p6-sm {
  padding:24px
}

.p7-sm {
  padding:28px
}

.p8-sm {
  padding:32px
}

.p9-sm {
  padding:36px
}

.p10-sm {
  padding:40px
}

.p11-sm {
  padding:44px
}

.p12-sm {
  padding:48px
}

.pt0-sm {
  padding-top:0
}

.pr0-sm {
  padding-right:0
}

.pb0-sm {
  padding-bottom:0
}

.pl0-sm {
  padding-left:0
}

.prl0-sm {
  padding-right:0;
  padding-left:0
}

.pt1-sm {
  padding-top:4px
}

.pr1-sm {
  padding-right:4px
}

.pb1-sm {
  padding-bottom:4px
}

.pl1-sm {
  padding-left:4px
}

.prl1-sm {
  padding-right:4px;
  padding-left:4px
}

.pt2-sm {
  padding-top:8px
}

.pr2-sm {
  padding-right:8px
}

.pb2-sm {
  padding-bottom:8px
}

.pl2-sm {
  padding-left:8px
}

.prl2-sm {
  padding-right:8px;
  padding-left:8px
}

.pt3-sm {
  padding-top:12px
}

.pr3-sm {
  padding-right:12px
}

.pb3-sm {
  padding-bottom:12px
}

.pl3-sm {
  padding-left:12px
}

.prl3-sm {
  padding-right:12px;
  padding-left:12px
}

.pt4-sm {
  padding-top:16px
}

.pr4-sm {
  padding-right:16px
}

.pb4-sm {
  padding-bottom:16px
}

.pl4-sm {
  padding-left:16px
}

.prl4-sm {
  padding-right:16px;
  padding-left:16px
}

.pt5-sm {
  padding-top:20px
}

.pr5-sm {
  padding-right:20px
}

.pb5-sm {
  padding-bottom:20px
}

.pl5-sm {
  padding-left:20px
}

.prl5-sm {
  padding-right:20px;
  padding-left:20px
}

.pt6-sm {
  padding-top:24px
}

.pr6-sm {
  padding-right:24px
}

.pb6-sm {
  padding-bottom:24px
}

.pl6-sm {
  padding-left:24px
}

.prl6-sm {
  padding-right:24px;
  padding-left:24px
}

.pt7-sm {
  padding-top:28px
}

.pr7-sm {
  padding-right:28px
}

.pb7-sm {
  padding-bottom:28px
}

.pl7-sm {
  padding-left:28px
}

.prl7-sm {
  padding-right:28px;
  padding-left:28px
}

.pt8-sm {
  padding-top:32px
}

.pr8-sm {
  padding-right:32px
}

.pb8-sm {
  padding-bottom:32px
}

.pl8-sm {
  padding-left:32px
}

.prl8-sm {
  padding-right:32px;
  padding-left:32px
}

.pt9-sm {
  padding-top:36px
}

.pr9-sm {
  padding-right:36px
}

.pb9-sm {
  padding-bottom:36px
}

.pl9-sm {
  padding-left:36px
}

.prl9-sm {
  padding-right:36px;
  padding-left:36px
}

.pt10-sm {
  padding-top:40px
}

.pr10-sm {
  padding-right:40px
}

.pb10-sm {
  padding-bottom:40px
}

.pl10-sm {
  padding-left:40px
}

.prl10-sm {
  padding-right:40px;
  padding-left:40px
}

.pt11-sm {
  padding-top:44px
}

.pr11-sm {
  padding-right:44px
}

.pb11-sm {
  padding-bottom:44px
}

.pl11-sm {
  padding-left:44px
}

.prl11-sm {
  padding-right:44px;
  padding-left:44px
}

.pt12-sm {
  padding-top:48px
}

.pr12-sm {
  padding-right:48px
}

.pb12-sm {
  padding-bottom:48px
}

.pl12-sm {
  padding-left:48px
}

.prl12-sm {
  padding-right:48px;
  padding-left:48px
}

@media only screen and (min-width:640px) {
  .p0-md {
    padding:0
  }

  .p1-md {
    padding:4px
  }

  .p2-md {
    padding:8px
  }

  .p3-md {
    padding:12px
  }

  .p4-md {
    padding:16px
  }

  .p5-md {
    padding:20px
  }

  .p6-md {
    padding:24px
  }

  .p7-md {
    padding:28px
  }

  .p8-md {
    padding:32px
  }

  .p9-md {
    padding:36px
  }

  .p10-md {
    padding:40px
  }

  .p11-md {
    padding:44px
  }

  .p12-md {
    padding:48px
  }

  .pt0-md {
    padding-top:0
  }

  .pr0-md {
    padding-right:0
  }

  .pb0-md {
    padding-bottom:0
  }

  .pl0-md {
    padding-left:0
  }

  .prl0-md {
    padding-right:0;
    padding-left:0
  }

  .pt1-md {
    padding-top:4px
  }

  .pr1-md {
    padding-right:4px
  }

  .pb1-md {
    padding-bottom:4px
  }

  .pl1-md {
    padding-left:4px
  }

  .prl1-md {
    padding-right:4px;
    padding-left:4px
  }

  .pt2-md {
    padding-top:8px
  }

  .pr2-md {
    padding-right:8px
  }

  .pb2-md {
    padding-bottom:8px
  }

  .pl2-md {
    padding-left:8px
  }

  .prl2-md {
    padding-right:8px;
    padding-left:8px
  }

  .pt3-md {
    padding-top:12px
  }

  .pr3-md {
    padding-right:12px
  }

  .pb3-md {
    padding-bottom:12px
  }

  .pl3-md {
    padding-left:12px
  }

  .prl3-md {
    padding-right:12px;
    padding-left:12px
  }

  .pt4-md {
    padding-top:16px
  }

  .pr4-md {
    padding-right:16px
  }

  .pb4-md {
    padding-bottom:16px
  }

  .pl4-md {
    padding-left:16px
  }

  .prl4-md {
    padding-right:16px;
    padding-left:16px
  }

  .pt5-md {
    padding-top:20px
  }

  .pr5-md {
    padding-right:20px
  }

  .pb5-md {
    padding-bottom:20px
  }

  .pl5-md {
    padding-left:20px
  }

  .prl5-md {
    padding-right:20px;
    padding-left:20px
  }

  .pt6-md {
    padding-top:24px
  }

  .pr6-md {
    padding-right:24px
  }

  .pb6-md {
    padding-bottom:24px
  }

  .pl6-md {
    padding-left:24px
  }

  .prl6-md {
    padding-right:24px;
    padding-left:24px
  }

  .pt7-md {
    padding-top:28px
  }

  .pr7-md {
    padding-right:28px
  }

  .pb7-md {
    padding-bottom:28px
  }

  .pl7-md {
    padding-left:28px
  }

  .prl7-md {
    padding-right:28px;
    padding-left:28px
  }

  .pt8-md {
    padding-top:32px
  }

  .pr8-md {
    padding-right:32px
  }

  .pb8-md {
    padding-bottom:32px
  }

  .pl8-md {
    padding-left:32px
  }

  .prl8-md {
    padding-right:32px;
    padding-left:32px
  }

  .pt9-md {
    padding-top:36px
  }

  .pr9-md {
    padding-right:36px
  }

  .pb9-md {
    padding-bottom:36px
  }

  .pl9-md {
    padding-left:36px
  }

  .prl9-md {
    padding-right:36px;
    padding-left:36px
  }

  .pt10-md {
    padding-top:40px
  }

  .pr10-md {
    padding-right:40px
  }

  .pb10-md {
    padding-bottom:40px
  }

  .pl10-md {
    padding-left:40px
  }

  .prl10-md {
    padding-right:40px;
    padding-left:40px
  }

  .pt11-md {
    padding-top:44px
  }

  .pr11-md {
    padding-right:44px
  }

  .pb11-md {
    padding-bottom:44px
  }

  .pl11-md {
    padding-left:44px
  }

  .prl11-md {
    padding-right:44px;
    padding-left:44px
  }

  .pt12-md {
    padding-top:48px
  }

  .pr12-md {
    padding-right:48px
  }

  .pb12-md {
    padding-bottom:48px
  }

  .pl12-md {
    padding-left:48px
  }

  .prl12-md {
    padding-right:48px;
    padding-left:48px
  }
}

@media only screen and (min-width:1024px) {
  .p0-lg {
    padding:0
  }

  .p1-lg {
    padding:4px
  }

  .p2-lg {
    padding:8px
  }

  .p3-lg {
    padding:12px
  }

  .p4-lg {
    padding:16px
  }

  .p5-lg {
    padding:20px
  }

  .p6-lg {
    padding:24px
  }

  .p7-lg {
    padding:28px
  }

  .p8-lg {
    padding:32px
  }

  .p9-lg {
    padding:36px
  }

  .p10-lg {
    padding:40px
  }

  .p11-lg {
    padding:44px
  }

  .p12-lg {
    padding:48px
  }

  .pt0-lg {
    padding-top:0
  }

  .pr0-lg {
    padding-right:0
  }

  .pb0-lg {
    padding-bottom:0
  }

  .pl0-lg {
    padding-left:0
  }

  .prl0-lg {
    padding-right:0;
    padding-left:0
  }

  .pt1-lg {
    padding-top:4px
  }

  .pr1-lg {
    padding-right:4px
  }

  .pb1-lg {
    padding-bottom:4px
  }

  .pl1-lg {
    padding-left:4px
  }

  .prl1-lg {
    padding-right:4px;
    padding-left:4px
  }

  .pt2-lg {
    padding-top:8px
  }

  .pr2-lg {
    padding-right:8px
  }

  .pb2-lg {
    padding-bottom:8px
  }

  .pl2-lg {
    padding-left:8px
  }

  .prl2-lg {
    padding-right:8px;
    padding-left:8px
  }

  .pt3-lg {
    padding-top:12px
  }

  .pr3-lg {
    padding-right:12px
  }

  .pb3-lg {
    padding-bottom:12px
  }

  .pl3-lg {
    padding-left:12px
  }

  .prl3-lg {
    padding-right:12px;
    padding-left:12px
  }

  .pt4-lg {
    padding-top:16px
  }

  .pr4-lg {
    padding-right:16px
  }

  .pb4-lg {
    padding-bottom:16px
  }

  .pl4-lg {
    padding-left:16px
  }

  .prl4-lg {
    padding-right:16px;
    padding-left:16px
  }

  .pt5-lg {
    padding-top:20px
  }

  .pr5-lg {
    padding-right:20px
  }

  .pb5-lg {
    padding-bottom:20px
  }

  .pl5-lg {
    padding-left:20px
  }

  .prl5-lg {
    padding-right:20px;
    padding-left:20px
  }

  .pt6-lg {
    padding-top:24px
  }

  .pr6-lg {
    padding-right:24px
  }

  .pb6-lg {
    padding-bottom:24px
  }

  .pl6-lg {
    padding-left:24px
  }

  .prl6-lg {
    padding-right:24px;
    padding-left:24px
  }

  .pt7-lg {
    padding-top:28px
  }

  .pr7-lg {
    padding-right:28px
  }

  .pb7-lg {
    padding-bottom:28px
  }

  .pl7-lg {
    padding-left:28px
  }

  .prl7-lg {
    padding-right:28px;
    padding-left:28px
  }

  .pt8-lg {
    padding-top:32px
  }

  .pr8-lg {
    padding-right:32px
  }

  .pb8-lg {
    padding-bottom:32px
  }

  .pl8-lg {
    padding-left:32px
  }

  .prl8-lg {
    padding-right:32px;
    padding-left:32px
  }

  .pt9-lg {
    padding-top:36px
  }

  .pr9-lg {
    padding-right:36px
  }

  .pb9-lg {
    padding-bottom:36px
  }

  .pl9-lg {
    padding-left:36px
  }

  .prl9-lg {
    padding-right:36px;
    padding-left:36px
  }

  .pt10-lg {
    padding-top:40px
  }

  .pr10-lg {
    padding-right:40px
  }

  .pb10-lg {
    padding-bottom:40px
  }

  .pl10-lg {
    padding-left:40px
  }

  .prl10-lg {
    padding-right:40px;
    padding-left:40px
  }

  .pt11-lg {
    padding-top:44px
  }

  .pr11-lg {
    padding-right:44px
  }

  .pb11-lg {
    padding-bottom:44px
  }

  .pl11-lg {
    padding-left:44px
  }

  .prl11-lg {
    padding-right:44px;
    padding-left:44px
  }

  .pt12-lg {
    padding-top:48px
  }

  .pr12-lg {
    padding-right:48px
  }

  .pb12-lg {
    padding-bottom:48px
  }

  .pl12-lg {
    padding-left:48px
  }

  .prl12-lg {
    padding-right:48px;
    padding-left:48px
  }
}

@media only screen and (min-width:1280px) {
  .p0-xl {
    padding:0
  }

  .p1-xl {
    padding:4px
  }

  .p2-xl {
    padding:8px
  }

  .p3-xl {
    padding:12px
  }

  .p4-xl {
    padding:16px
  }

  .p5-xl {
    padding:20px
  }

  .p6-xl {
    padding:24px
  }

  .p7-xl {
    padding:28px
  }

  .p8-xl {
    padding:32px
  }

  .p9-xl {
    padding:36px
  }

  .p10-xl {
    padding:40px
  }

  .p11-xl {
    padding:44px
  }

  .p12-xl {
    padding:48px
  }

  .pt0-xl {
    padding-top:0
  }

  .pr0-xl {
    padding-right:0
  }

  .pb0-xl {
    padding-bottom:0
  }

  .pl0-xl {
    padding-left:0
  }

  .prl0-xl {
    padding-right:0;
    padding-left:0
  }

  .pt1-xl {
    padding-top:4px
  }

  .pr1-xl {
    padding-right:4px
  }

  .pb1-xl {
    padding-bottom:4px
  }

  .pl1-xl {
    padding-left:4px
  }

  .prl1-xl {
    padding-right:4px;
    padding-left:4px
  }

  .pt2-xl {
    padding-top:8px
  }

  .pr2-xl {
    padding-right:8px
  }

  .pb2-xl {
    padding-bottom:8px
  }

  .pl2-xl {
    padding-left:8px
  }

  .prl2-xl {
    padding-right:8px;
    padding-left:8px
  }

  .pt3-xl {
    padding-top:12px
  }

  .pr3-xl {
    padding-right:12px
  }

  .pb3-xl {
    padding-bottom:12px
  }

  .pl3-xl {
    padding-left:12px
  }

  .prl3-xl {
    padding-right:12px;
    padding-left:12px
  }

  .pt4-xl {
    padding-top:16px
  }

  .pr4-xl {
    padding-right:16px
  }

  .pb4-xl {
    padding-bottom:16px
  }

  .pl4-xl {
    padding-left:16px
  }

  .prl4-xl {
    padding-right:16px;
    padding-left:16px
  }

  .pt5-xl {
    padding-top:20px
  }

  .pr5-xl {
    padding-right:20px
  }

  .pb5-xl {
    padding-bottom:20px
  }

  .pl5-xl {
    padding-left:20px
  }

  .prl5-xl {
    padding-right:20px;
    padding-left:20px
  }

  .pt6-xl {
    padding-top:24px
  }

  .pr6-xl {
    padding-right:24px
  }

  .pb6-xl {
    padding-bottom:24px
  }

  .pl6-xl {
    padding-left:24px
  }

  .prl6-xl {
    padding-right:24px;
    padding-left:24px
  }

  .pt7-xl {
    padding-top:28px
  }

  .pr7-xl {
    padding-right:28px
  }

  .pb7-xl {
    padding-bottom:28px
  }

  .pl7-xl {
    padding-left:28px
  }

  .prl7-xl {
    padding-right:28px;
    padding-left:28px
  }

  .pt8-xl {
    padding-top:32px
  }

  .pr8-xl {
    padding-right:32px
  }

  .pb8-xl {
    padding-bottom:32px
  }

  .pl8-xl {
    padding-left:32px
  }

  .prl8-xl {
    padding-right:32px;
    padding-left:32px
  }

  .pt9-xl {
    padding-top:36px
  }

  .pr9-xl {
    padding-right:36px
  }

  .pb9-xl {
    padding-bottom:36px
  }

  .pl9-xl {
    padding-left:36px
  }

  .prl9-xl {
    padding-right:36px;
    padding-left:36px
  }

  .pt10-xl {
    padding-top:40px
  }

  .pr10-xl {
    padding-right:40px
  }

  .pb10-xl {
    padding-bottom:40px
  }

  .pl10-xl {
    padding-left:40px
  }

  .prl10-xl {
    padding-right:40px;
    padding-left:40px
  }

  .pt11-xl {
    padding-top:44px
  }

  .pr11-xl {
    padding-right:44px
  }

  .pb11-xl {
    padding-bottom:44px
  }

  .pl11-xl {
    padding-left:44px
  }

  .prl11-xl {
    padding-right:44px;
    padding-left:44px
  }

  .pt12-xl {
    padding-top:48px
  }

  .pr12-xl {
    padding-right:48px
  }

  .pb12-xl {
    padding-bottom:48px
  }

  .pl12-xl {
    padding-left:48px
  }

  .prl12-xl {
    padding-right:48px;
    padding-left:48px
  }
}

@media only screen and (min-width:1440px) {
  .p0-xxl {
    padding:0
  }

  .p1-xxl {
    padding:4px
  }

  .p2-xxl {
    padding:8px
  }

  .p3-xxl {
    padding:12px
  }

  .p4-xxl {
    padding:16px
  }

  .p5-xxl {
    padding:20px
  }

  .p6-xxl {
    padding:24px
  }

  .p7-xxl {
    padding:28px
  }

  .p8-xxl {
    padding:32px
  }

  .p9-xxl {
    padding:36px
  }

  .p10-xxl {
    padding:40px
  }

  .p11-xxl {
    padding:44px
  }

  .p12-xxl {
    padding:48px
  }

  .pt0-xxl {
    padding-top:0
  }

  .pr0-xxl {
    padding-right:0
  }

  .pb0-xxl {
    padding-bottom:0
  }

  .pl0-xxl {
    padding-left:0
  }

  .prl0-xxl {
    padding-right:0;
    padding-left:0
  }

  .pt1-xxl {
    padding-top:4px
  }

  .pr1-xxl {
    padding-right:4px
  }

  .pb1-xxl {
    padding-bottom:4px
  }

  .pl1-xxl {
    padding-left:4px
  }

  .prl1-xxl {
    padding-right:4px;
    padding-left:4px
  }

  .pt2-xxl {
    padding-top:8px
  }

  .pr2-xxl {
    padding-right:8px
  }

  .pb2-xxl {
    padding-bottom:8px
  }

  .pl2-xxl {
    padding-left:8px
  }

  .prl2-xxl {
    padding-right:8px;
    padding-left:8px
  }

  .pt3-xxl {
    padding-top:12px
  }

  .pr3-xxl {
    padding-right:12px
  }

  .pb3-xxl {
    padding-bottom:12px
  }

  .pl3-xxl {
    padding-left:12px
  }

  .prl3-xxl {
    padding-right:12px;
    padding-left:12px
  }

  .pt4-xxl {
    padding-top:16px
  }

  .pr4-xxl {
    padding-right:16px
  }

  .pb4-xxl {
    padding-bottom:16px
  }

  .pl4-xxl {
    padding-left:16px
  }

  .prl4-xxl {
    padding-right:16px;
    padding-left:16px
  }

  .pt5-xxl {
    padding-top:20px
  }

  .pr5-xxl {
    padding-right:20px
  }

  .pb5-xxl {
    padding-bottom:20px
  }

  .pl5-xxl {
    padding-left:20px
  }

  .prl5-xxl {
    padding-right:20px;
    padding-left:20px
  }

  .pt6-xxl {
    padding-top:24px
  }

  .pr6-xxl {
    padding-right:24px
  }

  .pb6-xxl {
    padding-bottom:24px
  }

  .pl6-xxl {
    padding-left:24px
  }

  .prl6-xxl {
    padding-right:24px;
    padding-left:24px
  }

  .pt7-xxl {
    padding-top:28px
  }

  .pr7-xxl {
    padding-right:28px
  }

  .pb7-xxl {
    padding-bottom:28px
  }

  .pl7-xxl {
    padding-left:28px
  }

  .prl7-xxl {
    padding-right:28px;
    padding-left:28px
  }

  .pt8-xxl {
    padding-top:32px
  }

  .pr8-xxl {
    padding-right:32px
  }

  .pb8-xxl {
    padding-bottom:32px
  }

  .pl8-xxl {
    padding-left:32px
  }

  .prl8-xxl {
    padding-right:32px;
    padding-left:32px
  }

  .pt9-xxl {
    padding-top:36px
  }

  .pr9-xxl {
    padding-right:36px
  }

  .pb9-xxl {
    padding-bottom:36px
  }

  .pl9-xxl {
    padding-left:36px
  }

  .prl9-xxl {
    padding-right:36px;
    padding-left:36px
  }

  .pt10-xxl {
    padding-top:40px
  }

  .pr10-xxl {
    padding-right:40px
  }

  .pb10-xxl {
    padding-bottom:40px
  }

  .pl10-xxl {
    padding-left:40px
  }

  .prl10-xxl {
    padding-right:40px;
    padding-left:40px
  }

  .pt11-xxl {
    padding-top:44px
  }

  .pr11-xxl {
    padding-right:44px
  }

  .pb11-xxl {
    padding-bottom:44px
  }

  .pl11-xxl {
    padding-left:44px
  }

  .prl11-xxl {
    padding-right:44px;
    padding-left:44px
  }

  .pt12-xxl {
    padding-top:48px
  }

  .pr12-xxl {
    padding-right:48px
  }

  .pb12-xxl {
    padding-bottom:48px
  }

  .pl12-xxl {
    padding-left:48px
  }

  .prl12-xxl {
    padding-right:48px;
    padding-left:48px
  }
}

.ta-sm-r {
  text-align:right
}

.ta-sm-c {
  text-align:center
}

.ta-sm-l {
  text-align:left
}

@media only screen and (min-width:640px) {
  .ta-md-r {
    text-align:right
  }

  .ta-md-c {
    text-align:center
  }

  .ta-md-l {
    text-align:left
  }
}

@media only screen and (min-width:1024px) {
  .ta-lg-r {
    text-align:right
  }

  .ta-lg-c {
    text-align:center
  }

  .ta-lg-l {
    text-align:left
  }
}

@media only screen and (min-width:1280px) {
  .ta-xl-r {
    text-align:right
  }

  .ta-xl-c {
    text-align:center
  }

  .ta-xl-l {
    text-align:left
  }
}

@media only screen and (min-width:1440px) {
  .ta-xxl-r {
    text-align:right
  }

  .ta-xxl-c {
    text-align:center
  }

  .ta-xxl-l {
    text-align:left
  }
}

.va-sm-t {
  vertical-align:top
}

.va-sm-m {
  vertical-align:middle
}

.va-sm-b {
  vertical-align:bottom
}

@media only screen and (min-width:640px) {
  .va-md-t {
    vertical-align:top
  }

  .va-md-m {
    vertical-align:middle
  }

  .va-md-b {
    vertical-align:bottom
  }
}

@media only screen and (min-width:1024px) {
  .va-lg-t {
    vertical-align:top
  }

  .va-lg-m {
    vertical-align:middle
  }

  .va-lg-b {
    vertical-align:bottom
  }
}

@media only screen and (min-width:1280px) {
  .va-xl-t {
    vertical-align:top
  }

  .va-xl-m {
    vertical-align:middle
  }

  .va-xl-b {
    vertical-align:bottom
  }
}

@media only screen and (min-width:1440px) {
  .va-xxl-t {
    vertical-align:top
  }

  .va-xxl-m {
    vertical-align:middle
  }

  .va-xxl-b {
    vertical-align:bottom
  }
}

.u-clearfix:after,.u-clearfix:before {
  content:"";
  display:table
}

.u-clearfix:after {
  clear:both
}

.u-strikethrough {
  text-decoration:line-through
}

.u-no-ws {
  overflow:hidden;
  white-space:nowrap
}

.u-no-ws-e {
  overflow:hidden;
  white-space:nowrap;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis
}

.u-full-width {
  width:100%
}

.u-max-width {
  max-width:100%
}

.u-no-max-width {
  max-width:none
}

.u-full-height {
  height:100%
}

.u-max-height {
  max-height:100%
}

.u-rounded {
  border-radius:2px
}

.u-cursor-default {
  cursor:default
}

.u-cursor-pointer {
  cursor:pointer
}

.inactive {
  opacity:.2
}

.disabled,[disabled] {
  cursor:not-allowed
}

.bs1 {
  border-spacing:0 5px
}

.bs2 {
  border-spacing:0 9px
}

.bs3 {
  border-spacing:0 14px
}

.bs4 {
  border-spacing:0 19px
}

.bs5 {
  border-spacing:0 23px
}

.bs6 {
  border-spacing:0 28px
}

.bs7 {
  border-spacing:0 33px
}

.bs8 {
  border-spacing:0 37px
}

.bs9 {
  border-spacing:0 42px
}

.bs10 {
  border-spacing:0 47px
}

.bs11 {
  border-spacing:0 51px
}

.bs12 {
  border-spacing:0 56px
}

.z0 {
  z-index:0
}

.z1 {
  z-index:1
}

.z2 {
  z-index:2
}

.z3 {
  z-index:3
}

.z4 {
  z-index:4
}

.z5 {
  z-index:5
}

.z6 {
  z-index:6
}

.z7 {
  z-index:7
}

.z8 {
  z-index:8
}

.z9 {
  z-index:9
}

.z10 {
  z-index:10
}

.u-a11y-h {
  position:absolute!important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px)
}

.u-keep-all {
  word-break:keep-all
}

.text-color-primary-dark {
  color:#111
}

.text-color-primary-light {
  color:#fff
}

.text-color-secondary {
  color:#757575
}

.text-color-disabled {
  color:#ccc
}

.text-color-accent {
  color:#fa5400
}

.text-color-error {
  color:#d43f21
}

.text-color-success {
  color:#128a09
}

.bg-black {
  background:#111
}

.bg-white {
  background:#fff
}

.bg-primary-grey {
  background:#f5f5f5
}

.bg-secondary-grey {
  background:#fafafa
}

.bg-accent {
  background:#fa5400
}

.bg-success {
  background:#128a09
}

.bg-error {
  background:#d43f21
}

.border {
  -webkit-box-shadow:inset 0 1px 0 0 #e5e5e5,inset -1px 0 0 0 #e5e5e5,inset 0 -1px 0 0 #e5e5e5,inset 1px 0 0 0 #e5e5e5;
  box-shadow:inset 0 1px 0 0 #e5e5e5,inset -1px 0 0 0 #e5e5e5,inset 0 -1px 0 0 #e5e5e5,inset 1px 0 0 0 #e5e5e5
}

.border-top {
  -webkit-box-shadow:inset 0 1px 0 0 #e5e5e5;
  box-shadow:inset 0 1px 0 0 #e5e5e5
}

.border-right {
  -webkit-box-shadow:inset -1px 0 0 0 #e5e5e5;
  box-shadow:inset -1px 0 0 0 #e5e5e5
}

.border-bottom {
  -webkit-box-shadow:inset 0 -1px 0 0 #e5e5e5;
  box-shadow:inset 0 -1px 0 0 #e5e5e5
}

.border-left {
  -webkit-box-shadow:inset 1px 0 0 0 #e5e5e5;
  box-shadow:inset 1px 0 0 0 #e5e5e5
}

hr {
  height:1px;
  border:none;
  margin:0;
  -webkit-box-shadow:inset 0 1px 0 0 #e5e5e5;
  box-shadow:inset 0 1px 0 0 #e5e5e5
}