/*
** SNKRS THEME
*
* History
* --------------------------------------
* 2021-01-14 최초 작성  박춘기
 */
html{
  position: relative;
}
.main-layout{
  padding-bottom: 642px;
}
@media only screen and (max-width:640px) {
  .main-layout{
    padding-bottom: 0px;
  }
}
.quickview-fullscreen{
  overflow: hidden;
}
#app-preview-banner {
  position:fixed;
  bottom:0;
  width:100%;
  z-index:1;
  text-align:center;
  background-color:rgba(255,0,0,0.5);
  font-size:24px;
  letter-spacing:0.5px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
#app-preview-banner .mag-icon {
  font-size:24px;
  margin-right:10px;
}
#app-preview-banner .preview-message {
  color:#00f;
}
#app-preview-banner .preview-message:hover {
  text-decoration:underline;
}
#app-preview-banner .preview-message .arrow-icon {
  margin:0 5px;
}
#app-preview-banner .close {
  font-size:16px;
  margin:10px;
  position:absolute;
  right:0;
  background-color:transparent;
  color:#808080;
  font-weight:bold;
  border-radius:5px;
}
#app-preview-banner .close:hover {
  background-color:rgba(255,255,255,0.38);
  color:#000;
}
#app-preview-banner .logos {
  display:inline-flex;
  justify-content:space-between;
  position:relative;
  top:6px;
}
#app-preview-banner .logos .logo-link {
  display:inline-block;
  margin:0 20px;
  border-radius:99px;
  width:36px;
  height:36px;
  box-shadow:3px 3px 2px;
}
#app-preview-banner .logos .logo-link:hover {
  transform:translateY(-5px);
  box-shadow:3px 8px 8px;
}

.carousel-card-caption {
  position:absolute;
  width:800px;
  color:#fff;
}
@media only screen and (max-width:1024px) {
  .carousel-card-caption {
    width:500px;
  }
}
@media only screen and (max-width:640px) {
  .carousel-card-caption {
    width:100%;
  }
}
.carousel-card-caption h1 {
  display:inline-block;
}
@media only screen and (max-width:640px) {
  .carousel-card-caption p {
    margin-bottom:14px;
  }
}
.carousel-card-caption a.cta-button {
  border:1px solid;
  text-transform:uppercase;
  padding:10px 26px;
  border-radius:3px;
  color:#fff;
}
.carousel-card-caption a.cta-link {
  font-family:helvetica;
  border-bottom:1px solid;
  padding-bottom:2px;
  color:#fff;
}
.carousel-card-caption.default {
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  padding:0 32px;
  text-align:center;
  font-family:helvetica;
}
.carousel-card-caption.default h1 {
  font-size:88px;
  line-height:80px;
  font-weight:bolder;
  letter-spacing:-3px;
  margin-bottom:9px;
  text-transform:uppercase;
}
@media only screen and (max-width:1024px) {
  .carousel-card-caption.default h1 {
    font-size:56px;
    line-height:52px;
    margin-bottom:8px;
  }
}
@media only screen and (max-width:640px) {
  .carousel-card-caption.default h1 {
    margin-bottom:12px;
  }
}
.carousel-card-caption.default p {
  font-size:18px;
  margin-bottom:22px;
  line-height:22px;
}
@media only screen and (max-width:1024px) {
  .carousel-card-caption.default p {
    margin-bottom:28px;
  }
}
@media only screen and (max-width:640px) {
  .carousel-card-caption.default p {
    padding:0 14px;
  }
}
.carousel-card-caption.default a.cta-button {
  font-size:16px;
}
.carousel-card-caption.default a.cta-link {
  font-size:18px;
}
.carousel-card-caption.default.dark h1 {
  color:#111;
}
.carousel-card-caption.default.dark p,
.carousel-card-caption.default.dark a {
  color:#222;
}
.carousel-card-caption.poster {
  position:absolute;
  top:48px;
  left:48px;
  text-align:left;
  line-height:26px;
  color:#fff;
  font-family:helvetica;
  font-size:14px;
  width:calc(100% - 48px);
}
@media only screen and (max-width:1024px) {
  .carousel-card-caption.poster {
    top:24px;
    left:24px;
    width:calc(100% - 24px);
  }
}
@media only screen and (max-width:640px) {
  .carousel-card-caption.poster {
    top:24px;
    left:24px;
    width:calc(100% - 24px);
  }
}
.carousel-card-caption.poster h1 {
  font-weight:600;
  font-family:helvetica;
  text-transform:capitalize;
}
.carousel-card-caption.poster p {
  margin-bottom:13px;
}
.carousel-card-caption.poster a.cta-button {
  border:1px solid;
  text-transform:uppercase;
  padding:10px 26px;
  border-radius:3px;
}
.carousel-card-caption.poster.dark h1 {
  color:#111;
}
.carousel-card-caption.poster.dark p,
.carousel-card-caption.poster.dark a {
  color:#222;
  padding-bottom:0;
}

.carousel-card-wrapper.collapsed {
  height:100px;
  overflow:hidden;
}
.carousel-card-wrapper.collapsed .carousel-card-content {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
}
.carousel-card-wrapper.full-screen {
  height: 100vh;
  text-align: center;
}
.carousel-card-wrapper.full-screen .carousel-card-content {
  max-width: 1440px;
  display: flex;
  height: 100vh;
  align-items: center;
  margin: 0px auto;
  padding: 40px 0;
}
.carousel-card-wrapper.full-screen .carousel-card-content img {
  position: static;
  display: inline-block;
  pointer-events: none;
  width: auto;
  max-width: min-content;
  vertical-align: top;
  border: 0px;
  height: 100%;
  margin: 0 auto;
}
.carousel {
  background-repeat:no-repeat;
  background-size:24px;
  background-position:center;
  position:relative;
}
.carousel .carousel-btn.prev-btn.carousel-btn-floating-false,
.carousel .carousel-btn.next-btn.carousel-btn-floating-false {
  padding:48px;
}
@media only screen and (max-width:1024px) {
  .carousel .carousel-btn.prev-btn.carousel-btn-floating-false,
  .carousel .carousel-btn.next-btn.carousel-btn-floating-false {
    padding:24px;
  }
}
@media only screen and (max-width:640px) {
  .carousel .carousel-btn.prev-btn.carousel-btn-floating-false,
  .carousel .carousel-btn.next-btn.carousel-btn-floating-false {
    padding:24px;
  }
}
.carousel .carousel-btn.prev-btn.carousel-btn-floating-false i,
.carousel .carousel-btn.next-btn.carousel-btn-floating-false i {
  font-size:36px;
  background-color:transparent;
}

.carousel .swiper-button-next, .carousel .swiper-button-prev{
  position:absolute;
  width:106px;
  height:100%;
  background:none;
  transition:all 0.25s ease-in 0s;
  opacity:0.4;
  border:0px;
  outline:none;
  color:rgb(51, 51, 51);
  font-size:26px;
  cursor:pointer;
  display:flex;
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  align-items:center;
  top:0px;
}
.carousel .swiper-button-next i, .carousel .swiper-button-prev i{
  display:inline-block;
  font-family:"nike-glyphs" !important;
  font-size:36px;
  background-color:transparent;
  font-weight:bold;
  height:40px;
  width:40px;
  line-height:40px;
  text-align:center;
  vertical-align:top;
  font-style:normal;
  font-variant:normal;
  text-decoration:none;
  text-transform:none;
}
.carousel .swiper-button-next:hover, .carousel .swiper-button-prev:hover{
  opacity:1;
}
.carousel .swiper-button-next.swiper-button-disabled, .carousel .swiper-button-prev.swiper-button-disabled{
  opacity:0;
}
.carousel .swiper-button-next{
  right:0px;
}
.carousel .swiper-button-prev{
  left:0px;
}
.carousel .swiper-button-next i:before{
  content:"";
}
.carousel .swiper-button-prev i:before{
  content:"";
}
.carousel .swiper-scrollbar{
  position:absolute;
  width:86%;
  height:2px;
  left:7%;
  bottom:30px;
  align-content:flex-start;
  -webkit-box-align:stretch;
  align-items:stretch;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  background-color:rgb(223, 223, 223);
  border-radius:2px;
}
.carousel.full-screen {
  position:inherit;
  z-index:-1;
  opacity:0;
  width:100%;
  width:100vw;
  height:0;
  overflow:hidden;
  transition:opacity 0.25s ease 0s;
  -webkit-transition:opacity 0.25s ease 0s;
}
.carousel.full-screen.show {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:11;
  opacity:1;
  height:auto;
  transition:opacity 0.25s ease 0s;
  -webkit-transition:opacity 0.25s ease 0s;
}
.carousel .carousel-close {
  position:absolute;
  top:25px;
  right:20px;
  z-index:12;
}
.carousel .carousel-close-cta {
  position:absolute;
  bottom:30px;
  height:50px;
  font-size:16px;
  color:#fff;
  z-index:1;
  display:inline-block;
  width:90%;
  max-width:500px;
  left:50%;
  transform:translateX(-50%);
  text-transform:uppercase;
  font-weight:bold;
  background:rgba(255,255,255,0.2);
}
.carousel .carousel-expand {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:1;
  background:none;
  color:#fff;
  line-height:26px;
}
.carousel .carousel-expand i {
  font-size:26px;
}
.carousel .carousel-slide-tracker {
  bottom:32px;
}
@media (max-width:640px) {
  .carousel .carousel-slide-tracker {
    bottom:24px;
    margin-left:0;
    margin-right:0;
  }
}
.carousel.dark .carousel-slide-tracker {
  background-color:rgba(0,0,0,0.2);
}
.carousel.dark .carousel-slide-tracker span {
  background-color:#111;
}
.carousel.light .carousel-slide-tracker {
  background-color:rgba(255,255,255,0.2);
}
.carousel.light .carousel-slide-tracker span {
  background-color:#fff;
}
.carousel.ssr button {
  display:none;
}
.carousel.ssr li.slide {
  height:0px;
  opacity:0;
}
.carousel.ssr li.slide:first-child {
  height:auto;
  opacity:1;
}

.cart-count-jewel {
  width:14px;
  height:14px;
  position:absolute;
  top:5px;
  right:5px;
  border-radius:50%;
  color:#fff;
  font-size:10px;
  line-height:1.4;
}
@media only screen and (max-width:1024px) {
  .cart-count-jewel {
    top:11px;
    right:10px;
  }
}

.countdown-clock {
  position:relative;
  /*.is-hidden {
    opacity:0;
    visibility:hidden;
   }*/
}
.countdown-clock .tens0 {
  top:0px;
  transform:rotateX(0deg);
  color:#fff;
}
.countdown-clock .tens1 {
  top:65px;
  transform:rotateX(60deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .tens2,
.countdown-clock .tens3,
.countdown-clock .tens4 {
  top:65px;
  transform:rotateX(180deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .tens5 {
  top:-65px;
  transform:rotateX(60deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .ones0 {
  top:0px;
  transform:rotateX(0deg);
  color:#fff;
}
.countdown-clock .ones1 {
  top:65px;
  transform:rotateX(60deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .ones2,
.countdown-clock .ones3,
.countdown-clock .ones4,
.countdown-clock .ones5,
.countdown-clock .ones6,
.countdown-clock .ones7,
.countdown-clock .ones8 {
  top:65px;
  transform:rotateX(180deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .ones9 {
  top:-65px;
  transform:rotateX(60deg);
  color:rgba(255,255,255,0.2);
}
.countdown-clock .digits {
  overflow:hidden;
  position:relative;
  z-index:10;
  list-style-type:none;
  text-align:center;
  margin:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  transform:translate3d(0, 0, 0);
  transform-style:preserve-3d;
}
.thread-clock.countdown-clock .digits {
  height:54px;
  width:28px;
  font-size:54px;
  line-height:1.333333333333333;
}
.modal-clock.countdown-clock .digits {
  width:8px;
  height:17px;
}
.countdown-clock .digits .digit {
  backface-visibility:hidden;
  position:absolute;
  line-height:1;
  color:#fff;
  transition:all 600ms ease;
}
.countdown-clock .digits:nth-of-type(2),
.countdown-clock .digits:nth-of-type(4) {
  width:47px;
}
.modal-clock.countdown-clock .digits:nth-of-type(2),
.modal-clock.countdown-clock .digits:nth-of-type(4) {
  width:16px;
}
.countdown-clock .digits:nth-of-type(2):after,
.countdown-clock .digits:nth-of-type(4):after {
  content:":";
  position:absolute;
  right:0;
  color:#fff;
  line-height:1;
  margin-left:4px;
  margin-right:6px;
  font-size:40px;
}
.modal-clock.countdown-clock .digits:nth-of-type(2):after,
.modal-clock.countdown-clock .digits:nth-of-type(4):after {
  font-size:14px;
  margin-left:5px;
  margin-right:3px;
}

.dropdown-list-container {
  list-style-type:none;
  z-index:99;
  padding-left:0;
  margin:4px 0 0 0;
  padding-top:5px;
  padding-bottom:5px;
  box-shadow:0 3px 12px rgba(0,0,0,0.15);
  display:block;
  height:0px;
  opacity:0;
  overflow:hidden;
  transition:all 0.25s ease 0s;
  -webkit-transition:all 0.25s ease 0s;
}
.dropdown-list-container .list-items {
  display:list-item;
  text-align:-webkit-match-parent;
  padding-left:10px;
  padding-right:10px;
}
.dropdown-list-container.bottom {
  top:100%;
}
.dropdown-list-container.top {
  bottom:100%;
}

.card-link .image-component {position:absolute;top:50%;left:0;right:0;opacity:0;}
.product-card .figcaption-content, .product-card .launch-caption  {opacity:0;}
.complete .card-link img{opacity:1;-webkit-transform:translateZ(0) translateY(-50%);transform:translateZ(0) translateY(-50%);-webkit-transition:opacity 1s ease 0s;transition: opacity 1s ease 0s;}
.complete .card-link img[data-src] {opacity: 0;}
.complete .product-card:hover .image-component {opacity:0.8;transition:opacity 0.25s ease 0s;}
.complete .product-card .figcaption-content, .complete .product-card .launch-caption {opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation:imageLoadedComplete 0.5s ease-in-out 0s;animation:imageLoadedComplete 0.5s ease-in-out 0s;}
@keyframes imageLoadedComplete {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.snkrs-logo {
  font-size:72px;
  line-height:1;
}
.country-list-title {
  text-align:center;
}
.country-list-wrapper {
  background-color:#fff;
  height:0;
  overflow-y:hidden;
  transition:height 300ms ease-out;
  font-size:1.3em;
}
.country-list-wrapper.open {
  overflow-y:scroll;
  height:calc(100% - 6em);
  -webkit-overflow-scrolling:touch;
}
.country-list-wrapper.open .country-list {
  opacity:1;
}
.country-list-wrapper .country-list {
  opacity:0;
  transition:opacity 300ms ease-out;
}
.country-list-wrapper .country-list .country-item .flag-icon {
  top:5px;
  position:relative;
}
.country-list-wrapper .country-list .country-item .locale-menu-item-language {
  color:#8d8d8d;
  padding-left:0.5em;
}
.country-list-wrapper .bg-transparent {
  background:transparent;
}
.lang-tunnel-btn {
  position:absolute;
  left:0;
  bottom:0;
}

.locale-button {
  font-size:12px;
  font-weight:400;
}

.small-text {
  font-size:18px !important;
}
.snkrs-logo {
  width:50px;
}
.nikelab-logo {
  max-height:56px;
}

.payment-icn .card-icn {
  background-size:41px 24px;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:bottom;
  width:41px;
  height:24px;
  margin-right:8px;
  background-size:41px 24px;
}
.payment-icn .paypal-icn {
  background-size:41px 24px;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:middle;
  width:45px;
  height:12px;
  margin-right:8px;
  background-size:41px 24px;
}
.payment-icn .applepay-icn {
  background-size:41px 24px;
  background-repeat:no-repeat;
  position:relative;
  top:-2px;
  display:inline-block;
  vertical-align:bottom;
  width:41px;
  height:17px;
  margin-right:8px;
  background-size:41px 24px;
}
.wide-icn {
  width:71px;
  height:19px;
  margin-left:auto;
  margin-right:auto;
}

.QRnoOverflow {
  overflow-x:hidden;
  overflow-y:hidden;
}
.QRIframeContainer {
  position:absolute;
  top:-90px;
  right:122px;
  transform:scale(0.5);
  -webkit-transform:scale(0.5);
  -ms-transform:scale(0.5);
}
.QRIframeContents {
  position:relative;
  height:375px;
  top:-20px;
  left:-25px;
}
.qr-loading-spinner {
  position:absolute;
  top:47px;
  left:47px;
}
.timeout-error-msg {
  position:absolute;
  top:40px;
  color:#f00;
}
.QRCodeImgContainer {
  postion:relative;
  height:100%;
  width:100%;
  transform:translate(0%, 50%);
  -webkit-transform:translate(0%, 50%);
  -ms-transform:translate(0%, 50%);
}
.QRCodeImg {
  postion:relative;
  transform:translate(0%, -50%);
  -webkit-transform:translate(0%, -50%);
  -ms-transform:translate(0%, -50%);
}
.QRImgPlacementContainer {
  position:absolute;
  background-color:#fff;
  border-radius:5px;
  padding:3px;
}
.responsive-image {
  position:absolute;
  left:0;
  top:0;
}
.size-grid-button {
  background:transparent;
  width:100%;
  height:48px;
  line-height:24px;
  color:inherit;
  font-family:inherit;
}
.size-grid-button:focus {
  background:#111;
  color:#fff;
  outline:none;
}
.size-layout {
  border-top:1px solid #e5e5e5;
  border-left:1px solid #e5e5e5;
}
.size-layout.error {
  border:1px solid #fe0000;
}
.size-layout .size {
  width:50%;
  display:inline-block;
  vertical-align:top;
  position:relative;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  transition:background 200ms ease, color 200ms ease;
  background:#fff;
}
.size-layout .size:not(.disabled) {
  cursor:pointer;
}
.size-layout .size:not(.disabled):hover,
.size-layout .size:not(.disabled):focus {
  background:#111;
  color:#fff;
  outline:none;
}
.size-layout .selected {
  color:#fff;
  background:#111;
}
.size-layout .disabled {
  color:#ddd;
  background:#f7f7f7;
}
.size-layout .disabled:focus {
  outline:none;
  box-shadow:inset 0 0 0 1px #6d6d6d;
}

.timer-header {
  position:relative;
  top:auto;
  width:100%;
  opacity:1;
  transition:transform 600ms ease;
  transform:none;
  height:auto;
}
.timer-header.modal-clock .lottery-header:after {
  box-shadow:inset 0px 0px 2px 2px #111;
}
.timer-header .is-hidden {
  opacity:0;
  visibility:hidden;
}
.timer-header.is-active {
  position:fixed;
  top:0;
  left:0;
  right:0;
}
.timer-header .drawing-timer {
  transition:height 400ms ease, padding-top 400ms ease, font-size 400ms ease;
  transform:translate3d(0, 0, 0);
  height:auto;
  width:100%;
  position:relative;
  top:100%;
  left:auto;
  right:auto;
}
.timer-header .lottery-header {
  position:relative;
}
.timer-header .lottery-header .is-hidden {
  opacity:0;
  visibility:hidden;
}

.portrait-dropdown {
  vertical-align:middle;
  height:100%;
  padding:0 17px 0 25px;
}
.portrait-dropdown .link {
  padding:0;
  background:transparent;
}
.portrait-dropdown .portrait-img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #e6e6e6;
  text-align: center;
  padding: 2px;
}
.portrait-dropdown .portrait-button-css {
  background:transparent;
  color:#6d6d6d;
  padding:0 0 2px 0;
  font-size:12px;
  line-height:2;
  position:relative;
}
.portrait-dropdown .portrait-button-css:checked  ~ .dropdown-list-container{
  height:115px;
  opacity:1;
  transition:all 0.25s ease 0s;
  -webkit-transition:all 0.25s ease 0s;
}
.portrait-dropdown .portrait-button-css.hover {
  color:#000;
}
.portrait-dropdown .portrait-button-with-focus-css span {
  color:#000;
}
.portrait-dropdown .portrait-list-css {
  margin-top:0px;
  background:#fff;
  position:absolute;
}
.portrait-dropdown .portrait-list-item-css {
  font-size:12px;
  white-space:nowrap;
  padding:2px 25px;
}
.top-nav {
  justify-content:space-between;
  font-size:12px;
  align-items:center;
}
.top-nav .limit-max-width {
  width:100%;
  max-width:1920px;
  margin:0px auto;
  align-items:center;
  justify-content:space-between;
}
.top-nav a,
.top-nav button {
  font-weight:400;
  color:#757575;
}
.top-nav .back-to-nike-link {
  display:flex;
  align-items:center;
}
.top-nav .back-to-nike-link svg {
  margin-right:4px;
}
.top-nav .jewel-cart-container {
  position:relative;
  padding-top:11px;
}
.top-nav .member-nav-item {
  position:relative;
  height:auto;
}
.top-nav .member-nav-item label{
  cursor:pointer;
}
.top-nav .dropdown-button-css {
  background:transparent;
  color:#6d6d6d;
  font-size:12px;
  line-height:2;
  border-bottom:2px solid transparent;
  border-radius:0;
  height:100%;
  padding-top:5px;
  margin-bottom:-5px;
}
.top-nav .dropdown-button-css:hover,
.top-nav .dropdown-button-css:focus {
  color:#111;
  border-bottom:2px solid #111;
}
.top-nav .dropdown-container {
  line-height:22px;
  height:100%;
}
.top-nav .dropdown-button-with-focus-css {
  background:#fff;
  color:#6d6d6d;
}
.top-nav .dropdown-button-with-focus-css:hover {
  color:#111;
}
.top-nav .dropdown-list-css {
  right:0;
  margin-bottom:23px;
  background:#fff;
}
.top-nav .dropdown-list-item-css {
  font-size:12px;
  white-space:nowrap;
  padding:2px 25px;
}
.top-nav .help-list-container {
  height:40px;
}
.top-nav .non-dropdown-help-link {
  line-height:40px;
}
.top-nav .join-log-in {
  background:transparent;
}
.top-nav .join-log-in:hover,
.top-nav .join-log-in:focus {
  color:#111;
}
.top-nav .non-dropdown-help-link:focus,
.top-nav .non-dropdown-help-link:hover {
  color:#111;
}
.border-bottom-light-grey {
  box-shadow:inset 0 -1px 0 0 #e5e5e5;
}

.mobile-top-nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:56px;
}
.mobile-top-nav .right-menu {
  display:flex;
  align-items:center;
  justify-content:center;
}
.mobile-top-nav .shopping-cart-button {
  position:relative;
  padding:16px;
  height:54px;
  line-height: 32px;
  //모바일 장바구니 hidden요청
  display: none;
}
.mobile-top-nav .menu-button {
  padding:6px;
}
.mobile-top-nav .logo-container.slim {
  padding:0;
}
.mobile-top-nav .logo-container span,
.mobile-top-nav .logo-container a {
  font-size:18px;
}
.mobile-top-nav .logo-container span.converse-icn,
.mobile-top-nav .logo-container a.converse-icn {
  font-size:0px;
  line-height:0px;
  display:block;
}
.mobile-top-nav .logo-container span.snkrs-icn,
.mobile-top-nav .logo-container a.snkrs-icn {
  font-size:0px;
  line-height:0px;
  display:block;
}

@media only screen and (max-width:1023px) {
  .slide-down-appear {
    transform:translateY(-40px);
  }
}
@media only screen and (max-width:1023px) {
  .slide-down-appear.slide-down-appear-active {
    transform:translateY(0px);
    transition:transform 350ms ease-in-out;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(2) {
    transition-delay:0.05s;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(3) {
    transition-delay:0.1s;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(4) {
    transition-delay:0.15s;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(5) {
    transition-delay:0.2s;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(6) {
    transition-delay:0.25s;
  }
  .slide-down-appear.slide-down-appear-active:nth-child(7) {
    transition-delay:0.3s;
  }
}
.segments {
  margin:0px;
}
.hover-black:hover {
  color:#111;
}
.filters-container {
  background:transparent;
  position:static;
  padding:0;
}
.filters-container .mod-nav-toggle .custom-link {
  padding:0;
  display:inline-block;
  margin:0 20px 0 20px;
  background:transparent !important;
  line-height:53px;
  text-transform:capitalize;
}
.filters-container .mod-nav-toggle .custom-link.selected:hover:after {
  opacity:1;
}
.filters-container .mod-nav-toggle .custom-link.selected:after {
  content:"";
  display:block;
  box-shadow:inset 0 -2px 0 0 #111;
  height:4px;
  opacity:0;
  margin-bottom:0;
  transition:opacity 0.2s ease;
}
.filters-container .mod-nav-toggle .custom-link.selected.selected:after {
  opacity:1;
}
@media only screen and (min-width:1025px) {
  .filters-container .mod-nav-toggle .custom-link:hover:after {
    opacity:1;
  }
  .filters-container .mod-nav-toggle .custom-link:after {
    content:"";
    display:block;
    box-shadow:inset 0 -2px 0 0 #111;
    height:4px;
    opacity:0;
    margin-bottom:0;
    transition:opacity 0.2s ease;
  }
  .filters-container .mod-nav-toggle .custom-link.selected:after {
    opacity:1;
  }
}
.filters-container .mod-nav-toggle .nav-items {
  display:inline-block;
}
.filters-container .mod-nav-toggle .nav-items .toggle-nav-menu {
  display:inline-block;
}
.filters-container .mod-nav-toggle .nav-items .image-wrapper {
  display:none;
}
.filters-container .mod-nav-toggle .shop-all-link {
  display:none;
}
.filters-container .mod-nav-toggle .shop-all-link .cust-underline {
  border-bottom:1px solid #000;
  width:fit-content;
}
.filters-container .styles-picker {
  position:absolute;
  z-index:10;
  line-height:36px;
  box-shadow:inset 0 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
}
@media only screen and (max-width:1023px) {
  .filters-container .styles-picker {
    left:0;
    right:0;
    width:100%;
    transform:none;
    box-shadow:inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  }
}
.filters-container .boot-style {
  color:#111;
  text-align:center;
  padding:0 44px 0 44px;
}
.filters-container .boot-style:hover {
  color:#6d6d6d;
}
.filters-container .boot-style.active {
  color:#6d6d6d;
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle {
    width:100%;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle .custom-link {
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:16px;
    width:100%;
    margin:0;
    padding:0 0 0 32px;
  }
  .feed-header .mod-nav-toggle .custom-link:after {
    content:normal;
  }
  .feed-header .mod-nav-toggle .custom-link.selected:after {
    content:normal;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle .nav-items {
    display:block;
    background-color:#f7f7f7;
    margin:0 24px 8px 24px;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle .nav-items .image-wrapper {
    display:block;
  }
}
.feed-header .mod-nav-toggle .nav-items .image-wrapper .segment-image {
  height:auto;
  max-height:160px;
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle .nav-items .toggle-nav-menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
  }
}
.feed-header .mod-nav-toggle .nav-items.text-link {
  background-color:transparent;
}
.feed-header .mod-nav-toggle .nav-items.text-link a {
  padding:0px 0px 10px 0px;
  font-size:16px;
  line-height:1.714285714285714;
}
.feed-header .mod-nav-toggle .nav-items.text-link a div {
  border-bottom:1px solid #000;
  width:fit-content;
}
@media only screen and (max-width:1023px) {
  .feed-header .mod-nav-toggle .shop-all-link {
    display:inline-block;
    font-size:16px;
    padding:36px 0 60px;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .expanded .styles-picker {
    max-height:100vh;
    padding:32px;
    opacity:1;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .styles-picker {
    position:static;
    transform:translateX(0%);
    max-height:0;
    padding:0 32px 0 32px;
    opacity:0;
    overflow:hidden;
    font-size:16px;
    box-shadow:none;
    box-sizing:border-box;
    transition:all 0.05s ease-in-out;
  }
}
@media only screen and (max-width:1023px) {
  .feed-header .boot-style {
    color:#111;
    text-align:left;
    padding:initial;
  }
}

.feed-header-container {
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
}
@media only screen and (max-width:1024px) {
  .feed-header-container {
    flex-direction:column;
  }
}
.feed-header-container .filters-menu {
  width:100%;
}
@media only screen and (max-width:1024px) {
  .feed-header-container .filters-menu {
    box-shadow:inset 0 -1px 0 0 #e5e5e5;
  }
  .feed-header-container .js-toggle-view{
    margin: 20px;
  }
}
@media only screen and (max-width:768px) {
  .feed-header-container .js-toggle-view{
    margin: 0px;
  }
}
.feed-header-container .js-toggle-view {display:block;height:20px;width:24px;padding:0 3px;outline:none;}
.feed-header-container .js-toggle-view svg{
  pointer-events:none;
}
.gridview-placeholder {display:block;width:24px;}
.feed-header-container {
  text-align:center;
}
.feed-header-container.sticky {
  position:sticky;
  position:-webkit-sticky;
  position:-moz-sticky;
  position:-ms-sticky;
  position:-o-sticky;
  top:0;
  z-index:9;
}
.feed-header-container .limit-max-width {
  width:100%;
  max-width:1920px;
  margin:0px auto;
}
.feed-menu .snkrs-icn.launch-logo {
  font-size:32px;
  line-height:1.48;
}
@media only screen and (min-width:1441px) {
  .feed-menu .snkrs-icn.launch-logo {
    font-size:36px;
    line-height:1.98;
  }
}
.feed-menu .snkrs-icn.cn-logo {
  font-size:24px;
  line-height:1.7;
  border-right:2px solid;
}
.feed-menu .snkrs-icn.jordan-icn {
  font-size:37px;
}
.feed-menu .snkrs-icon {
  transform:rotate(-90deg);
}
.feed-menu .view-toggle {
  font-size:24px;
  line-height:1;
  background:transparent;
  padding-top:0;
  padding-bottom:0;
}
.feed-menu .g72-arrow-thick-down {
  font-size:11px;
  padding-top:15px;
}
@media only screen and (min-width:1025px) {
  .feed-menu .g72-arrow-thick-down {
    padding-top:14px;
  }
}
@media only screen and (min-width:1441px) {
  .feed-menu .g72-arrow-thick-down {
    padding-top:16px;
  }
}
.feed-menu .g72-arrow-thick-up {
  font-size:11px;
  padding-top:14px;
}
@media only screen and (min-width:1025px) {
  .feed-menu .g72-arrow-thick-up {
    padding-top:13px;
  }
}
@media only screen and (min-width:1441px) {
  .feed-menu .g72-arrow-thick-up {
    padding-top:15px;
  }
}
/* Custom Toggle */
.mod-ncss-toggle-line {
  background:transparent;
  white-space:nowrap;
}
.custom-link,
.custom-label {
  line-height:52px;
}
@media only screen and (min-width:1025px) {
  .custom-link,
  .custom-label {
    line-height:50px;
  }
}
@media only screen and (min-width:1441px) {
  .custom-link,
  .custom-label {
    line-height:54px;
  }
}
.mod-ncss-toggle-line-item .ncss-label:hover {
  background:rgba(17,17,17,0);
}
.mod-ncss-toggle-line-item .ncss-label:after {
  content:'';
  display:block;
  box-shadow:inset 0 -2px 0 0 #111;
  height:4px;
  opacity:0;
  transition:opacity 200ms ease;
}
.mod-ncss-toggle-line-item .ncss-radio {
  display:none;
}
.mod-ncss-toggle-line-item .ncss-radio:checked+.ncss-label {
  color:#111;
  background:transparent;
}
.mod-ncss-toggle-line-item .ncss-radio:checked+.ncss-label:after {
  opacity:1;
}
/* exacc banner */

.cookie-banner-component .line-height-one {
  line-height:1;
}

.vertical-menu {
  background:#111;
  height:100%;
}
.vertical-menu .profile-picture {
  width:32px;
  height:32px;
  border-radius:25px;
  overflow: hidden;
  background: #e6e6e6;
  text-align: center;
  padding: 3px;
}
.vertical-menu .lang-tunnel-btn {
  position:absolute;
  left:0;
  bottom:0;
}
.vertical-menu .lang-tunnel {
  width:100%;
  padding-left:0px;
  padding-right:0px;
}

.main-layout .content-wrapper {
  transition:transform 400ms ease 80ms, opacity 400ms ease 100ms;
  min-height:100%;
  padding-bottom:177px;
  position:relative;
}
@media only screen and (max-width:768px) {
  .main-layout .content-wrapper {
    padding-bottom:0px;
    line-height: 0;
  }
}
@media only screen and (min-width:1025px) {
  .main-layout .content-wrapper {
    padding-bottom:160px;
  }
}
@media only screen and (max-width:1024px) {
  .main-layout .content-wrapper.hide {
    transform:translateX(-320px);
  }
  .main-layout .content-overlay {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    top:0;
    bottom:0;
    z-index:10;
  }
  .main-layout .content-wrapper.hide {
    transform:translateX(-280px);
    opacity:0.25;
  }
  .main-layout .content-overlay.hide {
    visibility:hidden;
  }
}
.main-layout .vertical-nav-container {
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  min-height:100%;
  width:280px;
  transform:translateX(100%);
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  transition:transform 400ms ease 100ms;
}
.main-layout .vertical-nav-container .text-color-grey {
  color:#757575;
  font-weight:500;
}
.main-layout .vertical-nav-container .text-color-grey:hover {
  color:#fff;
}
@media only screen and (max-width:1024px) {
  .main-layout .vertical-nav-container {
    width:320px;
  }
}
.main-layout .vertical-nav-container .show {
  transform:translateX(0%);
}
.main-layout .vertical-nav-container.show {
  transform:translateX(0%);
}
.main-layout .lang-tunnel-btn {
  position:absolute;
  left:0;
  bottom:0;
}
.main-layout .vertical-nav-container .icon-qrcode{
  position: absolute;
  z-index: 1;
  top: 38px;
  right: 40px;
  background: #e6e6e6;
  padding: 9px;
  border-radius: 40px;
  color: #333;
  font-size: 18px;
}

/* We are breaking the rule of not targeting el's directly here,
since the markup is authored in CMS and therefore we have no control
over classes. */
.productDescription h3 {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom:8px;
  font-size:20px;
  line-height:1.2;
}
@media only screen and (max-width:1024px) {
  .productDescription h3 {
    font-size:24px;
    line-height:1;
  }
}
@media only screen and (min-width:1025px) {
  .productDescription h3 {
    font-size:28px;
    line-height:1.714285714285714;
  }
}
.productDescription ul {
  list-style-type:disc;
  margin:0 28px;
  color:#8d8d8d;
}
.productDescription li {
  padding-left:8px;
  padding-bottom:8px;
}

.modern.text-color-grey {
  color:#adadad;
}
@media (min-width:640px) {
  .figcaption-notitle .cta-container {
    opacity:1;
  }
}

@media (max-width:1024px) {
  .buyable-full-width {
    width:100%;
  }
}
@media (max-width:639px) {
  .buyable-feed {
    width:100%;
  }
}
@media (max-width:1024px) {
  .modern.buyable-full-width,
  .modern.buyable-feed {
    width:auto;
  }
}
@media (max-width:639px) {
  .modern.buyable-feed,
  .modern.buyable-full-width {
    width:auto;
  }
  .modern.cta-container {
    text-align:left;
  }
}
.disabled {
  pointer-events:none;
}
.mod-round-corners {
  border-radius:20px;
}
.dot-dot-dot {
  text-align:center;
}
.dot-dot-dot > div {
  width:12px;
  height:12px;
  background-color:#111;
  margin:0 0 0 6px;
  border-radius:100%;
  display:inline-block;
  -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
  animation:sk-bouncedelay 1.4s infinite ease-in-out both;
}
.dot-dot-dot .bounce1 {
  margin:0 6px 0 0;
  -webkit-animation-delay:-0.32s;
  animation-delay:-0.32s;
}
.dot-dot-dot .bounce2 {
  margin:0 6px;
  -webkit-animation-delay:-0.16s;
  animation-delay:-0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform:scale(0);
  }
  40% {
    -webkit-transform:scale(1);
  }
}
@-moz-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  40% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  40% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}
@-o-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  40% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  40% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}

@media (max-width: 1020px){
  .size-selector {
    width:100%;
  }
}
.buttoncount-2 {
  min-height:140px;
}
.success-message {
  font-size:14px;
  animation:fadeIn 0.8s;
  line-height:1.4em;
}
.success-message i {
  margin-right:10px;
  color:#48bd1f;
  font-size:2em;
}
.notify-text {
  padding:20px 0;
}
@-moz-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.buying-tools-container .cta-label {
  min-height:24px;
}
.buying-tools-container .size-guide-link {
  background:transparent;
  float:right;
}
.buying-tools-container.error .label {
  box-shadow:inset 0 1px 0 0 #fe0000, inset -1px 0 0 0 #fe0000, inset 0 -1px 0 0 #fe0000, inset 1px 0 0 0 #fe0000;
}
.buying-tools-container .choose-size-text {
  display:inline-block;
  font-size:16px;
  line-height:1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  letter-spacing:0.5px;
  text-align:left;
}
.buying-tools-container .choose-size-text.error {
  color:#fe0000;
}
.buying-tools-container .cart-error-message {
  background:#ffdccd;
}
.buying-tools-container .cart-error-message + ul {
  margin-top:20px;
}

.photo-component {
  position:relative;
  width:100%;
}
.photo-component .js-photo .cta-btn {
  position:absolute;
  left:24px;
  bottom:24px;
  font-size:14px;
}
@media only screen and (min-width:1025px) {
  .photo-component .js-photo .cta-btn {
    left:36px;
    bottom:36px;
  }
}
.photo-component .js-photo.full{width:100%;display:block;position:relative;box-sizing:border-box;height:0px;background-color:rgb(245, 245, 245);padding-bottom:53.125%;overflow:hidden;}
@media (max-width:1025px) {
  .photo-component .js-photo.full {padding-bottom:112.5%;}
  .photo-component .js-photo.full .responsive-image.u-full-width{height:100%;width:auto;max-width:initial;left:50%;transform:translateX(-50%);}
}
@media (max-width:648px) {
  .photo-component .js-photo.full {padding-bottom:150%;}
}
.photo-component .disabled {
  pointer-events:none;
}
.photo-component .product-info {
  max-width:480px;
  margin:0 auto;
}
.photo-component .description-text {
  white-space:pre-wrap;
}
.photo-component .mod-ncss-col-sm-12 {
  max-width:480px;
}
@media only screen and (min-width:1025px) {
  .photo-component .mod-ncss-col-sm-12 {
    max-width:none;
  }
}

.text-block-component .product-info {
  max-width:480px;
  margin:0 auto;
}
.text-block-component .description-text {
  white-space:pre-wrap;
}

.video-component .is-landing-page {
  max-width:1808px;
  width:100%;
  margin:0 auto;
}
.video-component .video-js {
  width:100%;
}

@media only screen and (max-width:1024px) {
  .related-products .custom-padding {
    padding-top:60px;
    padding-bottom:60px;
  }
}
.related-products .title {
  color:#757575;
}

.fixie.is-absolute-bottom {
  position:absolute;
  bottom:0px;
  right:0px;
}
/*
.fixie {
  position:absolute;
  top:0px;
  right:0px;
  height:100%;
}
 */
.product-info-container {
  max-width:480px;
  margin:0 auto;
}
.details-panel {
  max-width:480px;
  margin:0 auto;
}
.card-product-component .product-info-container {
  max-width:480px;
  margin:0 auto;
}
.card-product-component {
  position:relative;
  visibility:hidden;
  opacity:0;
  z-index:2;
}
.card-product-component .product-info-container [data-scrollbar="true"] {
  max-height: calc(100% - 190px);
}

.card-product-component .product-info-container.draw-product [data-scrollbar="true"] {
  max-height: calc(100% - 620px);
  //padding-bottom: 30px;
}

.card-product-component .product-info-container.is-the-draw-start [data-scrollbar="true"] {
  max-height: calc(100% - 260px);
}

.card-product-component .product-info-container.is-the-draw-end [data-scrollbar="true"] {
  max-height: calc(100% - 150px);
}

.card-product-component .product-info-container [data-scrollbar="true"]:before {
  content:'';
  position:absolute;
  display:block;
  width:100%;
  height: 30px;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
}

.card-product-component .product-info-container.draw-product .draw-description-container .draw-info{
  max-width: 270px;
  margin: 0 auto;
  text-align: left;
}

.card-product-component .product-info-container [data-scrollbar]:hover .scrollbar-track.scrollbar-track-y{
  opacity:1;
}

@media only screen and (max-width:1024px) {
  .card-product-component {
    margin-left:0;
    margin-right:0;
  }
}
.card-product-component.show-product {
  visibility:visible;
  opacity:1;
}
.card-product-component .aside-container {
  max-width:480px;
}
.card-product-component .fixie {
  position:absolute;
  top:0px;
  right:0px;
  height:100%;
  max-height:100vh;
}
.card-product-component .fixie.sticky {
  position:fixed;
  right:8px;
}
.card-product-component .fixie.sticky.end {
  position:absolute;
  max-width:none;
  bottom:0px;
  right:0px;
  top:auto;
}
.card-product-component .prd-img-wrap{
  z-index:5;
}
@media only screen and (min-width:1024px) {
  .card-product-component .prd-img-wrap {
    min-height:100%;
    min-height:100vh;
  }
}
.card-product-component .product-info-container {
  position:relative;
  display:flex;
  justify-content:center;
  flex-direction:column;
  max-width:480px;
  margin:0 auto;
  min-height:100vh;
  max-height: 100vh;
  height: 100%;
}
.card-product-component .description-text {
  font-size: 0.875em;
  line-height: 1.8;
}
.card-product-component .delivery-message {
  font-size:14px;
  font-weight:normal;
}
.card-product-component .delivery-info-message{
  margin-top:20px;
}
@media only screen and (max-width:1024px){
  .card-product-component .fixie {position:relative !important;top:auto !important;right:auto !important;bottom:auto !important;height: auto;max-height: none;}
  .card-product-component .product-info-container {display:block; height: auto;max-height: none;min-height: auto;}
  .card-product-component .product-info-container > div {position:relative;top:auto;transform:none;-webkit-transform:none;}
  .quickview .card-product-component .prd-con-wrap {padding:0;}
}
@media only screen and (min-width:1441px) {
  .card-product-component .fixie.sticky {
    right:calc(((100% - 1440px) / 2) + 8px);
    max-width:480px;
  }
  .quickview .card-product-component .fixie.sticky{
    right: calc(((100% - 1400px) / 2) + 8px);
    max-width:466.66px;
  }
}
.spinner {
  padding-bottom:100%;
}

/* BENEFITS SECTION */
/* We are breaking the rule of not targeting el's directly here,
since the markup is authored in CMS and therefore we have no control
over classes. */
.pdp-container {
  text-align:center;
}
.pdp-container .pdp-container-inner {
  width:100%;
  max-width:1440px;
  text-align:left;
  margin:0px auto;
}
.pdp-container .responsive-text-align {
  text-align:left;
}
@media only screen and (min-width:1025px) {
  .pdp-container .responsive-text-align {
    text-align:center;
  }
}

.section-layout .section-header .open-close:before {
  font-family:nike-glyphs, sans-serif;
  position:absolute;
  top:0;
  font-size:24px;
  line-height:1;
}
.checkout-layout .img-container {
  width:180px;
  padding-top:120px;
  overflow:hidden;
  position:relative;
}
.checkout-layout .img-container .img {
  position:absolute;
  top:0;
  left:0;
}
.checkout-layout .status {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
}
.checkout-body {
  opacity:1;
}
@media (min-width:641px) {
  .checkout-body {
    padding-left:44px;
    padding-right:44px;
  }
}
.section-layout .section-content {
  opacity:0;
  height:0;
  overflow:hidden;
}
.section-layout .section-header {
  cursor:pointer;
}
.section-layout .section-header .selection {
  opacity:1;
  transition:opacity 300ms ease;
}
.section-layout .section-header .selection .payment-label + .payment-label {
  margin-left:12px;
}
.section-layout .section-header .locked {
  position:relative;
}
.section-layout .section-header .locked:after {
  width:10px;
  height:14px;
  background-image:url("/bootroom/img/lock-symbol.png");
  background-repeat:no-repeat;
  background-size:contain;
  content:'';
  position:absolute;
  right:0;
  top:4px;
}
.completed.section-layout .section-header .locked:before {
  color:#111;
}
.section-layout .section-header .open-close {
  position:relative;
}
.section-layout .section-header .open-close.lock:before {
  content:'\E62B';
}
.section-layout .section-header .open-close:before {
  content:'\E637';
  color:#e5e5e5;
  right:0;
  font-size:16px;
  line-height:1.5;
}
.completed.section-layout .section-header .open-close:before {
  color:#111;
}
.section-layout.active-section .section-content {
  height:auto;
  opacity:1;
}
.section-layout.active-section .section-header .open-close:before {
  content:'\E62D';
}
.section-layout.active-section .section-header .section-title .title {
  color:#111;
}
.section-layout.active-section .section-header .selection {
  opacity:0;
}
.checkout-section-expandable {
  opacity:1;
  overflow:hidden;
  -webkit-transition:max-height 0.5s, opacity 0.5s ease-in-out;
  -moz-transition:max-height 0.5s, opacity 0.5s ease-in-out;
  transition:max-height 0.5s, opacity 0.5s ease-in-out;
}
.checkout-section-expandable.checkout-section-expandable-closed {
  max-height:0px !important;
  opacity:0.2;
}
.payment-label {
  opacity:1;
  display:inline-block;
  -webkit-transition:opacity 0.3s ease-in-out;
  -moz-transition:opacity 0.3s ease-in-out;
  transition:opacity 0.3s ease-in-out;
  margin-bottom:-4px;
}
.payment-label#UnionPay {
  margin-right:-20px;
}
.payment-label#Alipay {
  margin-right:-4px;
}
.payment-label.payment-label-hide {
  opacity:0;
}
.section-contents {
  opacity:1;
  -webkit-transition:opacity 0.3s ease-in-out;
  -moz-transition:opacity 0.3s ease-in-out;
  transition:opacity 0.3s ease-in-out;
}
.section-contents.section-contents-hide {
  opacity:0;
}
.checkout-modal {
  width:100%;
  max-width:460px;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:641px) {
  .mod-col-sm-12 {
    padding-left:64px;
    padding-right:64px;
  }
}

@media only screen and (min-width:641px) {
  .payment-btns {
    padding-left:0;
    padding-right:0;
  }
}
.custom-responsive-button {
  width:100%;
}
@media only screen and (min-width:641px) {
  .custom-responsive-button {
    width:auto;
  }
}
.paypal-btn,
.paypal_loading_btn {
  height:40px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
@media only screen and (min-width:641px) {
  .paypal-btn,
  .paypal_loading_btn {
    width:102px;
  }
}
.accessiblity-helper {
  position:absolute;
  clip:rect(1px 1px 1px 1px);/* IE6, IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}

.payment-selector-form .payment-provider-btn {
  height:40px;
}
.payment-selector-form .payment-not-selected {
  opacity:0.5;
  -webkit-filter:grayscale(1);
  filter:grayscale(1);
}
.payment-selector-form .apple-pay-mark {
  opacity:0.5;
}
.payment-selector-form .ncss-radio:checked+.ncss-label .apple-pay-mark {
  opacity:1;
}
.payment-selector-form .flyout {
  display:inline-block;
  position:relative;
  z-index:1;
}
.payment-selector-form .flyout:hover .flyout-options {
  opacity:1;
  visibility:visible;
  transform:translate(0, 0);
  text-overflow:ellipsis;
}
.payment-selector-form .payment-options-select {
  opacity:0;
  appearance:none;
}
.payment-selector-form .flyout-btn {
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  line-height:1.714285714285714;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  z-index:1;
  text-overflow:ellipsis;
}
.payment-selector-form .custom-flyout-container {
  overflow:visible;
}
.payment-selector-form .payment-select-container {
  position:absolute;
  top:0;
  left:0;
}
.delete-payment-btn {
  font-size:14px;
}

.fapiao-title-block {
  height:auto;
  max-height:100px;
  overflow-y:hidden;
  transition:all 0.2s ease;
}
.fapiao-title-block.hide {
  max-height:0;
}

.credit-card-iframe {
  height:48px;
  width:99.99%;
}

.address-form-component .placeholder {
  color:#e5e5e5;
}
.address-form-component .flyout {
  display:inline-block;
  position:relative;
  z-index:1;
}
.address-form-component .flyout:hover .flyout-options {
  opacity:1;
  visibility:visible;
  transform:translate(0, 0);
}
.address-form-component .flyout-btn {
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  line-height:1.714285714285714;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  z-index:1;
}
.address-form-component .custom-flyout-container {
  overflow:visible;
}
.address-form-component .state-select-container {
  position:absolute;
  top:0;
  left:0;
}
.address-form-component .state-options {
  opacity:0;
  appearance:none;
}
.address-form-component .flyout-options {
  opacity:0;
  visibility:hidden;
  position:absolute;
  left:0;
  right:0;
  background:#f1f1f1;
  max-height:272px;
  overflow-y:auto;
  overflow-x:hidden;
  box-shadow:inset -1px 0 0 0 #e9e9e9, inset 0 -1px 0 0 #e9e9e9, inset 1px 0 0 0 #e9e9e9;
  transform:translate(0, -20%);
  transition:all 0.15s ease;
}
.address-form-component .flyout-options.visible {
  opacity:1;
  visibility:visible;
  transform:translate(0, 0);
}
.address-form-component .flyout-options .option {
  width:100%;
  color:#111;
  background:0 0;
  -webkit-box-shadow:inset 0 1px 0 0 #e9e9e9;
  box-shadow:inset 0 1px 0 0 #e9e9e9;
  display:inline-block;
  font-size:14px;
  line-height:1.714285714285714;
  text-decoration:none;
  cursor:pointer;
}
.address-form-component .flyout-options .option.selected {
  background:#e3e3e3;
}
.address-form-component .flyout-options .option:hover {
  background:#e3e3e3;
}

.address-form-component .state-options {
  opacity:0;
  appearance:none;
}
.address-form-component .city-select-container {
  position:absolute;
  top:0;
  left:0;
}
.address-form-component .city-options {
  opacity:0;
  appearance:none;
}
.address-form-component .zone-select-container {
  position:absolute;
  top:0;
  left:0;
}
.address-form-component .zone-options {
  opacity:0;
  appearance:none;
}

.credit-card-iframe {
  height:45px;
}

.verify-cvv-form {
  position:relative;
}
.verify-cvv-form .card-overlay {
  position:absolute;
  top:8px;
  left:8px;
}

.gift-card-container {
  white-space:nowrap;
}
.gift-card-container .number-input {
  width:100%;
  transition:width 400ms ease;
}
.show-pin.gift-card-container .number-input {
  width:66.66666666666666%;
}
.gift-card-container .pin-input {
  width:0%;
  opacity:0;
  visibility:hidden;
  transition:width 400ms ease, opacity 400ms ease;
}
.show-pin.gift-card-container .pin-input {
  width:33.33333333333333%;
  opacity:1;
  visibility:visible;
}
.applied-card + .applied-card {
  box-shadow:inset 0 1px 0 0 #ddd;
}

.payment-component .badge {
  position:absolute;
  top:5px;
  left:75px;
  height:12px;
  min-width:12px;
  padding:2px 3px;
  border-radius:50px;
  font-size:10px;
  line-height:0.7;
}
@media only screen and (min-width:1025px) {
  .payment-component .badge {
    top:3px;
  }
}

@media only screen and (max-width:640px) {
  .save-button {
    width:100%;
  }
}

.title-present {
  display:flex;
  align-items:center;
}

@media (min-width:641px) {
  .size-selector-body {
    padding-left:64px;
    padding-right:64px;
  }
}
.size-selector-layout .error {
  color:#fe0000;
}
.size-selector-layout .size-selector-sections {
  text-align:left;
}
.size-selector-layout .choose-size-text {
  display:inline-block;
  font-size:16px;
  line-height:1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  letter-spacing:0.5px;
  text-align:left;
  margin-bottom:5px;
}
.size-selector-layout .cart-error-message {
  background:#ffdccd;
}
.product-card .card-link {
  background-color:#f5f5f5;
  overflow:hidden;
  position:relative;
  padding-top:112.5%;
}
.product-card .card-link video {
  position:absolute;
  top:0;
}
.product-card .cta-container {
  transition:opacity 0.3s ease;
}
@media (max-width:640px) {
  .product-card .cta-container {
    padding-top:0;
  }
}
@media (min-width:640px) {
  .product-card .cta-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    opacity:0;
  }
}
.product-card figcaption {
  margin-bottom:26px;
}
.product-card .figcaption-content {
  width:100%;
}
@media (min-width:640px) {
  .product-card .figcaption-content.notitle .cta-container {
    opacity:1;
  }
}
.product-card .launch-time {
  position:absolute;
  top:0;
  bottom:0;
}
.product-card .mod-h2 {
  font-size:28px;
  line-height:1;
}
.product-card .mod-h1 {
  font-size:50px;
  line-height:1;
}
.product-card.soldier-thread .card-link {
  padding-top:100%;
}
@media (min-width:640px) {
  .product-card:hover .copy-container {
    opacity:0;
  }
}
.copy-container {
  transition:opacity 0.3s ease 0.3s;
}
.product-card:hover .cta-container {
  opacity:1;
  transition:opacity 0.3s ease 0.3s;
}
.position-card {
  position:absolute;
}
.bannerTop {
  margin-top:70px;
}

.bg-lightestgrey {
  background-color:#fafafa;
}
.upcoming-section {
  display:block;
}
.upcoming-section .upcomingItem{
  float:left;
}
.upcoming-section .upcomingItem .caption{
  min-height: 140px;
}
.upcoming-section .upcoming {
  border-bottom:1px solid #e5e5e5;
}
.upcoming-section .upcoming-card {
  position:relative;
  overflow:hidden;
}
.upcoming-section .upcoming-card .card-link {
  position:relative;
  padding-top:100%;
  overflow:hidden;
}
.upcoming-section .upcoming-card .launch-details {
  position:absolute;
}
.upcoming-section .grid-type div.caption{
  display:none;
}

.feed-container {
  text-align:center;
}
.feed-container .feed-container-inner {
  width:100%;
  max-width:1920px;
  text-align:left;
  margin:0px auto;
}
.feed-container .feed-container-inner .grid-type .product-card .ncss-col-sm-12.full{
  padding-left: 2px;
  padding-right: 2px;
}
.instockItem.soldout a, .instockItem.soldout .copy-container{
  opacity: 0.35;
}
.cust-grey-font {
  color:#8d8d8d;
  text-align:center;
}
.feedTitleText {
  line-height:0.8;
}
.grid-margins {
  max-width:1808px;
  margin-left:56px;
  margin-right:56px;
}
@media only screen and (max-width:1024px) {
  .grid-margins {
    margin-left:20px;
    margin-right:20px;
  }
}
@media only screen and (min-width:1920px) {
  .grid-margins {
    margin-left:auto;
    margin-right:auto;
  }
}
@media only screen and (max-width:640px) {
  .cust-grey-font {
    line-height:0.9;
    margin:16px 0 0 0;
  }
  .feedLogo {
    margin:0 auto;
    width:150px;
  }
  .upcoming-section .product-card{
    margin:0 -2px;
  }
}
@media only screen and (min-width:641px) {
  .feedLogo {
    margin:0 auto 10px;
    width:200px;
  }
  .feedTitleText {
    margin:0 0 8px 0;
    line-height:1;
  }
}

.gate-component .app-badge {
  max-width:140px;
}
.gate-component .nike-logo {
  font-size:100px;
  line-height:1.2;
}
@media only screen and (min-width:375px) {
  .gate-component .nike-logo {
    transform:translateZ(0);
  }
}

.not-found-container {
  display:flex;
  flex-direction:column;
  height:calc(100vh - 228px);
  align-items:center;
  justify-content:center;
}

.close-modal {
  margin-right:15px;
  margin-top:20px;
}

.cart-item-modal-content-container {
  min-width:300px;
  position:absolute;
  top:0;
  display:block;
  transform:translate3d(0, 0, 0);
  border-top:1px solid #d3d3d3;
  width:100%;
  max-width:none;
}
@media screen and (min-width:1025px) {
  .cart-item-modal-content-container {
    position:static;
    height:auto;
    float:right;
    margin-right:26px;
    right:0;
    margin-right:26px;
    max-width:428px;
    transform:translateY(0);
    opacity:1;
    visibility:visible;
  }
}
.cart-item-modal-content-container .cart-modal-header {
  display:flex;
  align-items:center;
}
.cart-item-modal-content-container .cart-modal-header button {
  margin:0;
}
.cart-item-modal-content-container .title-row {
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.cart-item-modal-content-container .cart-item-thumbnail {
  width:100px;
  height:100px;
}
.cart-item-modal-content-container .qty {
  padding-right:20px;
}
.cart-item-modal-content-container .cart-item-title {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.cart-item-modal-content-container .cart-description {
  display:flex;
  flex-wrap:wrap;
}
.cart-item-modal-content-container .cart-button-row {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-top:-16px;
  margin-right:-16px;
  margin-left:0;
}
.cart-item-modal-content-container .cart-link {
  flex:1 1 calc(50% - 16px);
}

.completed-layout .check-mark {
  width:46px;
  height:46px;
}
.completed-layout .loading {
  display:inline-block;
}
.completed-layout .loading .dot {
  width:6px;
  height:6px;
  border-radius:16px;
  animation:anim 1.5s infinite ease-in-out;
}
.completed-layout .loading .dot:nth-child(1) {
  animation-delay:-0.9s;
}
.completed-layout .loading .dot:nth-child(2) {
  animation-delay:-0.6s;
}
.completed-layout .loading .dot:nth-child(3) {
  animation-delay:-0.3s;
}
@-moz-keyframes anim {
  0%, 80%, 100% {
    opacity:0.2;
  }
  40% {
    opacity:0.9;
  }
}
@-webkit-keyframes anim {
  0%, 80%, 100% {
    opacity:0.2;
  }
  40% {
    opacity:0.9;
  }
}
@-o-keyframes anim {
  0%, 80%, 100% {
    opacity:0.2;
  }
  40% {
    opacity:0.9;
  }
}
@keyframes anim {
  0%, 80%, 100% {
    opacity:0.2;
  }
  40% {
    opacity:0.9;
  }
}


.cookie-settings.modal {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0,0,0,0.75);
  overflow:hidden;
  opacity:0;
  visibility:hidden;
  transition:opacity 300ms ease, visibility 300ms ease;
  z-index:1;
}
.cookie-settings.modal .close {
  font-size:32px;
  line-height:1.5;
}
.cookie-settings.modal .modal-scroll-container {
  overflow:hidden;
}
.show.cookie-settings.modal .modal-scroll-container {
  opacity:1;
  visibility:visible;
  overflow-y:auto;
  margin-right:0;
}
.touch .show.cookie-settings.modal .modal-scroll-container {
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:none;
}
.touch .cookie-settings.modal .modal-scroll-container:before {
  content:'';
  width:1px;
  float:left;
  display:block;
  height:calc(100% + 1px);
  margin-left:-1px;
}
.touch .cookie-settings.modal .modal-scroll-container::-webkit-scrollbar {
  width:0 !important;
}
.cookie-settings.modal .modal-content-container {
  min-width:300px;
}
.show.cookie-settings.modal .modal-content-container {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
@media (max-width: 1020px) {
  .cookie-settings.modal .modal-content-container {
    opacity:0;
    height:auto;
    margin:0 auto;
    width:100%;
    max-width:480px;
    transform:translateY(50px);
    transition:opacity 600ms ease 200ms, transform 400ms ease 200ms, height 400ms ease;
  }
}
.cookie-settings.modal.show {
  opacity:1;
  visibility:visible;
  z-index:10;
}
.cookie-settings.modal .mod-circle-check {
  font-size:20px;
  line-height:1.2;
}

.cta-btn {
  text-transform:uppercase;
}

.language-tunnel-modal-content-container {
  min-width:300px;
  position:relative;
}
.show.language-tunnel-modal-content-container {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
@media only screen and (min-width:640px) {
  .language-tunnel-modal-content-container {
    height:auto;
    margin:0 auto;
    width:100%;
    max-width:480px;
    transition:opacity 600ms ease 200ms, transform 400ms ease 200ms, height 400ms ease;
  }
}
.language-tunnel-modal-content-container .modal-close-btn {
  position:absolute;
  top:0;
  right:0;
}

.download-buttons {
  margin-top:16px;
  width:100%;
  display:flex;
  justify-content:center;
}
.download-buttons .app-badge {
  height:42px;
}
.download-buttons .app-badge.ios {
  margin-right:8px;
}
.download-buttons .app-badge.gp {
  height:62px;
  margin-top:-10px;
}
.download-buttons .app-badge.android {
  margin-left:8px;
}
.checkout-modal .js-close {
  padding:8px 16px;
}

.nofyme-web-widget .nofyme-web-widget-header h6 {
  font-size:16px;
  line-height:1.5;
}
.nofyme-web-widget .nofyme-web-widget-header h2 {
  font-size:40px;
  line-height:1.2;
}
.nofyme-web-widget .nofyme-web-widget-header h4 {
  font-size:20px;
}
.nofyme-web-widget .nofyme-web-widget-body {
  line-height:140%;
}
.nofyme-web-widget .fullScreen__vmP0V {
  z-index:100;
}
.nofyme-web-widget .ownWrapper__2G5Tt {
  z-index:1000;
}
@media only screen and (max-width:640px) {
  .nofyme-web-widget .ownWrapper__2G5Tt {
    height:780px;
  }
}
.nofyme-web-widget .notify-me-btn {
  padding:12px 20px;
  font-size:14px;
}
.nofyme-web-widget .notify-me-btn-in-modal {
  padding:10px 20px;
  font-size:16px;
}
.nofyme-web-widget .inputClass__80H2h {
  font-size:16px;
}
.nofyme-web-widget .nofyme-web-widget-body img {
  max-width:300px;
}
@media only screen and (max-width:640px) {
  .nofyme-web-widget .nofyme-web-widget-body img {
    max-width:100%;
  }
}
.nofyme-web-widget .nofymeErrorMessage__XKKh3 {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:15px;
  font-size:12px;
  color:#fe0000;
}
.nofyme-web-widget .terms-and-conditions {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:15px;
  font-size:12px;
}
.nofyme-web-widget .agreeCheckbox__3_3Rb label {
  color:#6d6d6d;
  font-size:14px;
}

.need-help {
  cursor:pointer;
}
.need-help:focus {
  outline:none;
}
.need-help-prompt,
.need-help-chevron {
  text-align:center;
}
.need-help-instructions {
  list-style-type:decimal;
  list-style-position:inside;
}
.need-help-instruction {
  text-align:left;
  width:372px;
  font-family:"Helvetica Neue";
  font-size:16px;
  line-height:20px;
  flex:none;
  order:1;
  margin-top:12px;
}

.qr-code-modal {
  width:100%;
  max-width:880px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  border-radius:24px;
}
.qr-code-modal .close {
  position:absolute;
  right:63px;
  top:36px;
}
.panes-container {
  display:flex;
  height:540px;
  width:880px;
}
.panes-container .pane {
  width:50%;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:24px 0 0 24px;
}
.panes-container .pane.is-apparel {
  background-color:#000;
  justify-content:flex-start;
  padding-top:120px;
}
.panes-container .pane.is-apparel .get-the-drop-title {
  filter:invert(1);
}
.panes-container .pane-right {
  background-color:#fafafa;
  border-radius:0 24px 24px 0;
}
.panes-container .get-the-drop-title {
  margin-bottom:-60px;
}
.panes-container .qr-code-image {
  background-image:url("$basePath/notify_me_QR.jpeg");
  width:200px;
  height:200px;
}
.panes-container .qr-code-description {
  text-align:center;
  max-width:350px;
  font-size:18px;
  line-height:22px;
  margin-top:25px;
}
.panes-container .instructions-container,
.panes-container .qr-code-description {
  font-family:Helvetica;
  font-weight:normal;
  margin-top:26px;
}
.panes-container .qr-code-help {
  text-align:center;
  position:absolute;
  bottom:64px;
  max-width:350px;
  color:#757575;
  font-size:16px;
  line-height:20px;
}
.panes-container .qr-code-help summary {
  font-size:16px;
  line-height:24px;
}
.panes-container .qr-code-help summary::-webkit-details-marker {
  display:none;
}
.snkrs-app-badge {
  box-shadow:0px 1px 13px rgba(0,0,0,0.1);
  border-radius:15px;
  width:68px;
  height:68px;
}
.app-qr-code {
  width:150px;
  margin-top:84px;
}
.text-color-need-help {
  color:#737373;
}

.js-modal {
  z-index:13;
}

/*
iOS will zoom on inputs when the font-size is below 16px.
Setting the font-size to 16px on the input will prevent it from happening.
I didn't want to add `user-scalable=no` so we can keep our application zoomable by a user's pinch action, and AA accessible.
https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    font-size:16px;
  }
}
.break-translation-lines {
  white-space:pre-line;
}
html,
body {
  min-height:100%;
  width:100%;
}
#root {
  min-height:calc(100% - 128px);
  position:relative;
}
.root-controller {
  height:100%;
  position:relative;
}
.modal {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0,0,0,0.75);
  overflow:hidden;
  opacity:0;
  visibility:hidden;
  transition:opacity 300ms ease, visibility 300ms ease;
}
.modal .modal-container {
  width:100%;
  max-width:460px;
  margin-left:auto;
  margin-right:auto;
}
.modal .close {
  font-size:32px;
  line-height:1.5;
}
.modal .hidden {
  display:none;
}
.modal .modal-scroll-container {
  overflow:hidden;
}
.show.modal .modal-scroll-container {
  opacity:1;
  visibility:visible;
  overflow-y:auto;
  margin-right:0;
}
.modal .modal-content-container {
  min-width:300px;
}
.show.modal .modal-content-container {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
@media only screen and (max-width:1024px) {
  .modal .modal-content-container {
    opacity:0;
    height:auto;
    margin:0 auto;
    width:100%;
    max-width:480px;
    transform:translateY(50px);
    transition:opacity 600ms ease 200ms, transform 400ms ease 200ms, height 400ms ease;
  }
}
.modal.show {
  opacity:1;
  visibility:visible;
}
.no-scroll {
  overflow:hidden;
}
.remove-outline a {
  outline:none;
}
.remove-outline button {
  outline:none;
}
.remove-outline section {
  outline:none;
}
.bg-transparent {
  background:transparent;
}
#nav-commerce-header-wrapper {
  z-index:10;
  position:relative;
}
.l-header {
  position:static !important;
}
.text-color-error {
  color:#fe0000;
}


/*
** polling css
*
* History
* --------------------------------------
* 2021-07-01 최초 작성  박재현
 */
.polling-service { position:relative; max-width:640px; min-width:320px; max-height:853px; margin:50px auto; }
.polling-question { position:absolute; bottom:200px; left:42px; right:42px; font-family: "Spoqa Han Sans Neo"; }
.polling-question .eyebrow { margin-bottom:8px; font-size:14px; color:#fff; overflow:hidden; white-space:nowrap; }
.polling-question .question { max-height:62px; line-height:1.6; font-size:20px; color:#fff; overflow:hidden; }
.polling-question.black .eyebrow, .polling-question.black .question { color:#000; }
.polling-btn { position:absolute; bottom:80px; left:30px; right:30px; height:80px; font-size:14px; line-height:80px; text-align:center; color:#000; font-family: "Spoqa Han Sans Neo"; }
.polling-btn .btn-l { position:absolute; top:0; left:0; width:49.9%; bottom:0; border-radius:40px 0 0 40px; background:#fff; overflow:hidden; transition:all 0.25s ease ; -webkit-transition:all 0.25s ease; }
.polling-btn .btn-r { position:absolute; top:0; right:0; width:49.9%; bottom:0; border-radius:0 40px 40px 0; background:#fff; overflow:hidden; transition:all 0.25s ease ; -webkit-transition:all 0.25s ease; }
.polling-btn .btn-l > div, .polling-btn .btn-r > div { display:table; width:100%; height:100%; table-layout:fixed; }
.polling-btn .btn-l .txt-wrap { padding:0 5px 0 12px; }
.polling-btn .btn-r .txt-wrap { padding:0 12px 0 5px; }
.polling-btn .txt-wrap { display:table-cell; vertical-align:middle; }
.polling-btn .txt-wrap .percent { display:none; margin-bottom:4px; color:#000; font-size:16px; line-height:1.4; white-space:nowrap; }
.polling-btn .txt-wrap .txt { max-height:38px; color:#000; font-size:14px; line-height:1.4; transition:all 0.4s ease ; -webkit-transition:all 0.4s ease; overflow:hidden; }
.polling-btn .txt-wrap.relative { position:relative; z-index:2; }
.polling-btn.active .percent { display:block; -webkit-animation: goto-percent 0.4s ease; animation: goto-percent 0.4s ease; }
.polling-btn.active .txt { display:block; max-height:32px; font-size:12px; }
.polling-btn .poll-full { width:100% !important; border-radius:40px; }
.polling-btn .poll-zero { width:0% !important; }

.polling-btn.black { color:#fff; }
.polling-btn.black .btn-l, .polling-btn.black .btn-r { background:#000; }
.polling-btn.black .txt-wrap .txt { color:#fff; }
.polling-btn.black .txt-wrap .percent { color:#fff; }

.polling-btn .selected { background:#fff !important; }
.polling-btn .not-selected { background:#bbb !important; }
.polling-btn.black .selected { background:#000 !important; }

.ripple-effect { position:absolute; top:0; left:0; right:0; bottom:0; }
.polling-num { position:absolute; bottom:26px; left:42px; font-size:15px; color:#fff; }
.polling-num > span + span { margin-left:10px; }
.polling-num.black { color:#000; }

.polling-btn a.fade-in .bg { display:block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; opacity:0; transition:all .4s; -webkit-transition:all .4s; }
.polling-btn a.fade-in.fade-effect .bg { background:#00b30d; opacity:1; } 
.polling-btn a.btn-l .bg{border-radius: 40px 0 0 40px; }
.polling-btn a.btn-r .bg{border-radius: 0 40px 40px 0; }

/* 
@-webkit-keyframes goto-fade {
    0% { } 
    60% { background:#00b30d; }
    100% { }
}
@keyframes goto-fade {
    0% { } 
    60% { background:#00b30d; }
    100% { }
}  */

@-webkit-keyframes goto-percent {
    0% { opacity:0; } 
    100% { opacity:1; font-size:16px; }
}
@keyframes goto-percent {
    0% { opacity:0; } 
    100% { opacity:1; font-size:16px; }
}

.polling-loader { position:absolute; left:0; bottom:-20px; border: 2px solid rgba(255,255,255,.5); border-top: 2px solid #111; border-radius: 50%; width: 24px; height: 24px; animation: spin 0.7s linear infinite; -webkit-animation: spin 0.7s linear infinite; transition:all .2s; -webkit-transition:all .2s; opacity:0; }
.polling-times { position:absolute; bottom:0; left:0; white-space:nowrap; transition:all .2s; -webkit-transition:all .2s; }
.polling-voterates { position:relative; bottom:-20px; margin-left:30px; white-space:nowrap; opacity:0; transition:all .6s; -webkit-transition:all .6s; }
.polling-num.active .polling-loader { bottom:0; opacity:1; } /* 클릭하는 순간 로딩바가 나타남 */
.polling-num-effect .polling-loader { bottom:-20px !important; opacity:0 !important; } /* 로딩바가 사라짐 */
.polling-num.active .polling-times { bottom:-20px; opacity:0; } /* 클릭하는 순간 시간이 아래로 내려가면서 사라짐 */
.polling-num-effect .polling-times { bottom:0 !important; opacity:1 !important; } /* 시간이 나타남 */
.polling-num-effect .polling-voterates { bottom:0 !important; opacity:1 !important; }

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 데모용 임시 코드 */
.polling-btn.active .btn-l { width:78%; }
.polling-btn.active .btn-r { width:22%; }


@media only screen and (max-width: 480px) {
    .polling-question { bottom:170px; left:32px; right:32px; }
    .polling-question .eyebrow { font-size:13px; }
    .polling-question .question { max-height:56px; font-size:18px; }
    .polling-btn { bottom:70px; left:20px; right:20px; height:70px; }
    .polling-num { left:32px; font-size:14px; }
    .polling-btn .txt-wrap .percent { margin-bottom:0; font-size:15px; }

    @-webkit-keyframes goto-percent {
    0% { opacity:0; } 
    100% { opacity:1; font-size:15px; }
    }
    @keyframes goto-percent {
        0% { opacity:0; } 
        100% { opacity:1; font-size:15px; }
    }
}

@media only screen and (max-width: 400px) {
    .polling-question { bottom:160px; left:22px; right:22px; }
    .polling-question .question { max-height:50px; font-size:16px; }
    .polling-btn { bottom:60px; left:14px; right:14px; }
    .polling-num { bottom:20px; left:22px; font-size:13px; }
}

@media only screen and (max-width: 320px) {
    .polling-question { bottom:140px; left:18px; right:18px; }
    .polling-question .eyebrow { margin-bottom:4px; font-size:13px; }
    .polling-question .question { max-height:44px; font-size:15px; line-height:1.5; }
    .polling-btn { bottom:50px; left:10px; right:10px; height:70px; }
    .polling-num { bottom:15px; left:18px; font-size:13px; }
}

