@charset 'utf-8';
@viewport {
  viewport-fit: cover;
}
$basePath: "../../../../src/sass/"; //변수 안먹음?
/* 2018.08.16 - 운영시 url 변경해야함. */
$contextPath: "/kr/ko_kr";

/* uikit framework */
@import "../../../../src/sass/vendors/uikit/uikit-mixins.scss";
@import "../../../../src/sass/vendors/uikit/uikit.scss";
@import "../../../../src/sass/vendors/uikit/components/autocomplete.scss";

/* bxslider swipe */
@import "../../../../src/sass/vendors/bxslider.4.1.2.scss";

/* custom css base */
@import "base/variables.scss";
@import "../../../../src/sass/base/reset.scss";
@import "base/mixins.scss";
@import "base/typography.scss";
@import "base/icon.scss";
@import "../../../../src/sass/base/common.scss";

/* Simple Scrollbar */
@import "vendors/smoothScroll.scss";
@import "vendors/simplebar.scss";

/* custom components */
@import "components/form.scss";
@import "components/button.scss";
@import "components/pagination.scss";
@import "components/productOption.scss";

// JavaScript
@import "vendors/uikit/core/offcanvas.scss";
@import "vendors/carousel.scss";
@import "vendors/swiper.scss";

/* custom css layout */
@import "../../../../src/sass/layout/grid.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/contents.scss";
@import "layout/filter.scss";
@import "layout/review.scss";
@import "layout/product.scss";
@import "layout/cart.scss";
@import "layout/minicart.scss";
@import "layout/location.scss";
@import "layout/checkout.scss";
@import "layout/gallery.scss";
@import "../../../../src/sass/layout/promotion.scss";
@import "layout/customer.scss";
@import "../../../../src/sass/layout/inquiry.scss";
@import "../../../../src/sass/layout/redeemGiftCard.scss";
@import "../../../../src/sass/layout/customerCredits.scss";
@import "layout/login.scss";
@import "../../../../src/sass/layout/board.scss";
@import "layout/account.scss";
@import "../../../../src/sass/layout/display.scss";
@import "../../../../src/sass/layout/post.scss";
@import "../../../../src/sass/layout/globalPopup.scss";
@import "layout/popup.scss";
@import "../../../../src/sass/layout/forgotPassword.scss";
@import "../../../../src/sass/layout/guestOrderSearch.scss";
@import "layout/structuredContent.scss";
@import "layout/quickview.scss";
@import "layout/consent.scss";

/* Personalize */
@import "layout/personalize.scss";

/* mediaquery */
@import "layout/mediaquery.scss";

/* customize */
/* @import  "../../../../src/sass/layout/headerlayout2.scss"; */

@import "layout/nike.scss";

@import "layout/sizeguide.scss";
@import "layout/thedraw.scss";
@import "layout/nikeplusclub.scss";
@import "layout/restock.scss"; /* 입고알림 팝업 */
@import "layout/_asis.scss"; /* 회원등급현황 */

/* SC Item templage */
@import "layout/scitems.scss";

// NCSS customize
@import "ncss/index.scss";

/* Custom Patch */
@import "layout/customProduct.scss";
@import "layout/customProductPreview.scss";

/* Global GNB */
@import "layout/global_gnb.scss";
@import "layout/cartSummary.scss";