
.pt_cart {
	.item-container {
		> .item-list-wrap {
			padding: 0 20px;
		}
	} 
}
.product-checkout{
	width:319px;
	padding:25px;
	box-sizing:border-box;
	background-color:$bg-4;
	color:$font-1;

	&.checkout {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.label {display:table-cell; font-size:12px; color:$font-3;}
	.price {
		display:table-cell;
		text-align:right;
		&.sale {color:$prd_total-price;}
		&.total {
			> strong {font-size:20px; font-weight:normal;}
		}
		> strong {font-size:16px; font-weight:normal;}
	}
	.sale-price {
		color:$font-4;
		font-size:$font-size-l;
		text-decoration:line-through;
		strong {font-weight:normal; }
	}

	.info-price	{
		// padding-top:10px;
		> span {
			width:100%;
			display:table;
			margin-top:10px;
			&:first-child {margin-top:0;}
		}
	}
	.total-price {
		display:table; width:100%; border-top:1px solid $border-3; margin-top:17px; padding:17px 0px 0px 0px;
		&.adjust{
			font-size:$font-size-s;
			padding-bottom:5px;
		}
	}
	.info {margin-top:20px; font-size:11px; line-height:17px; color:$font-3;}
	.btn-style-guide {margin-top:12px; font-size:12px;}
	> order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		padding-bottom:17px;
	}
}


.mypage-cart{

	.tbl-title {
		display:table;
		width:100%;
		padding:10px 50px 10px 0;
		box-sizing:border-box;
		text-align:center;
		border-top:1px solid $border-2;

		> * {
			display:table-cell;
			font-size:11px;
			color:$font-4;
		}
		.item-info {
			width:60%;
			text-align:left;
		}
		.option-wrap {width:25%;}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		.cart-title {font-size:18px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:20px 40px 20px 0;
		box-sizing:border-box;
		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}

		.item-detail{
			display:table;
			width:100%;
			min-height:80px;

			> * {display:table-cell;}

			.item-info {
				width:60%;
				.img-wrap {
					position:absolute;
					overflow:hidden;
					display:inline-block;
					width:60px;
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left:75px;
					line-height:18px;
					vertical-align:top;

					.tit {display:block; margin-bottom:7px; font-size:13px; color:$prd_text-color;}
					.opt {display:block; font-size:12px; color:$font-2;}
					.current-option-wrap {
						.opt {display:inline;}
					}
					.btn {
						display:block; margin-top:20px; font-size:12px; color:$font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color:$prd_text-color;}
					a:hover {color:$prd_text-color-over;}
				}
			}
			.option-wrap {
				width:25%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size:$font-size-s;
				}
			}
			.total-price {padding-top:3px; vertical-align:top; text-align:center; box-sizing:border-box;}
			.delete-btn{
				position:absolute; top:23px; right:10px;
				.btn-delete {
					color:$font-4;
					display: block;
					width: 100%;
					height: 100%;
					line-height: 50px;
					text-align: center;
					background: transparent;
				}
			}
			.samedayFlag {
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: #efefef;
				font-size: 11px;
				padding: 7px 10px;
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left:75px;
			margin-top:10px;
		}
	}

	.total-price {
		.sale-price {display:block; margin-bottom:3px; font-size:13px; text-decoration:line-through; color:$font-4;}
		> strong{font-size:13px; color:$prd_sale-price; font-weight:normal;}
	}
}

.cart-title {
	padding:0;
	margin:0 0 20px 0;
	font-size:24px;
	font-weight:bold;
	letter-spacing:-0.2px;
	color:$title_category-color;
	em{
		display:inline-block;
		font-weight:normal;
		color:#000;
	}
}
.cart-title-sm {
	font-size:$font-size-l;
	padding:0 0 15px 0;
	color:$primary-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}
.cart-title-grey {
	font-size:24px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:left;
	color:$title_items_category-color;
  }
.item-container {
	display:table;
	width:100%;
	min-height:500px;

	&.less-items {
		display:block;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		padding-right:30px;
		float:left;
		display:inline-block;
		width:72%;
		max-width:845px;
		box-sizing:border-box;
		&.item-list-no {
			width: 100%;
			max-width: 100%;
			padding-bottom: 70px;
		}
	}
	.product-checkout {
		vertical-align:top;
		display:inline-block;
		float:right;
		width:28%;
	}

	.align-center {
		display:block;
		margin:0;
		padding:115px 20px 0 20px;
		text-align:center;

		.txt-empty {
			margin-bottom:118px;
		}
	}
}


/* 결제완료 */
.order-success {
	.order-list {
		width: 100%;
		padding: 10px 15px;
		overflow: hidden; 
		box-sizing: border-box;
		.image-wrap {
			float: left; 
			width: 80px;
			padding-right: 20px;
		}
		.order-info {
			float: left;
			width: calc(100% - 100px);
			width: -moz-calc(100% - 100px);
			width: -webkit-calc(100% - 100px);
			.tit {
				display: block;
				font-weight: bold;
				line-height: 18px;
				color: #111;
			}
			.info-wrap {
				margin-top: 5px;
				>span {
					display: block;
					color: #999;
					font-size: 12px;
					line-height: 20px;
				}
			}
			> span {
				display:block;
				color: #999;
				font-size: 12px;
				line-height: 20px;
				&.price-wrap {
					margin-bottom: 4px;
					color: #000;
					font-size: 12px;
					font-weight: bold;
					.sale-price {
						text-decoration: line-through;
					}
				}
			}
		}
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width:$breakpoint-medium), (min-width: $breakpoint-medium) {
	.cart-title-box {
		position:relative;
		margin-top:-1px;
		/* z-index:101; */
		background-color:#fff;
		padding:0 20px;
		display:table;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		.cart-title{
			display:table-cell;
			text-align:center;
			border-bottom:1px solid #ccc;
			font-size:17px;
			line-height:19px;
			color:$font-0;
			margin-bottom:0;
			height:100px;
			vertical-align:middle;
			.cart-title-grey{
				display:block;
				text-align:center;
				font-size:13px;
				line-height:15px;
				color:$font-0;
				margin-top:8px;
			}	
		}
		.btn-prev {
			position:absolute;
			left: 0;
		    top: 50%;
		    margin-top: -50px;
		    width: 50px;
		    height: 100px;
		    line-height: 100px;
		    text-align: center;
			overflow:hidden;

			i {
				vertical-align: middle;
			}
		}
	}
	.item-container {
		min-height:auto;
		.item-list-wrap {
			padding-right:0;
			.mypage-cart{
				&:first-child{
					margin-top:-1px;
				}
			}
		}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	//cart
	.mypage-cart {
		.product-opt_cart {
			border-top:1px solid #eee;
			.item-detail{
				display:block;
				position:relative;
				.item-info {
					position:absolute;
					left:0;
					top:0;
					width:100px;
					height:100px;
					display:table;
					.img-wrap {
						position:static;
						width:100%;
						display:table-cell;
						vertical-align:middle;
						background-color:#f5f5f5;
						padding:5px;
					}
					&.disabled {
						opacity:0.5;
					}
				}
				.option-wrap {
					display:block;
					width:100%;
					padding:0 20px 0 115px;
					box-sizing:border-box;
					-webkit-box-sizing:border-box;
					min-height:100px;
					.price {
						font-weight: bold;
						font-size:12px;
						line-height:20px;
						color:#111;
					}
					.sale-price {
						text-decoration: line-through;
					}
				}
				.info-wrap{
					margin-bottom:5px;
					display:block;
					a{
						display:block;
						font-size:13px;
						line-height:15px;
						font-weight:800;
					}
				}
				.style-model {
					font-size: 12px;
					color: #999;
					line-height: 20px;
				}
				.otp-wrap{	   
					box-sizing:border-box;
					-webkit-box-sizing:border-box;

					.otp-box{
						margin-bottom:7px;
						&:last-child{
							margin-bottom:0;
						}
						.fl{
							font-size: 12px;

							.sel-box{
								font-weight: normal;
								font-size: 12px;
								line-height: 20px;
								padding-right: 0;
								color: #999;

								&:first-child{
									margin-left:0;
								}
							}
							.qty {
								color: #999;
								font-size: 12px;
								line-height: 20px;
							}
							.btn-opt-change {
								.optchange-btn {
									text-decoration: underline;
								}
							}
							.text-slodout {
								line-height: 20px;
							}
						}
						.fr{  // 주문결제쪽  가격 style
							font-weight: bold;
						    font-size: 12px;
						    line-height: 20px;
						    color: #111;
							strong {
								display:block;
								&.sale-price {
									color:$font-4;
									text-decoration: line-through;
								}
							}
						}
						&:after{
							content:"";
							display:block;
							clear:both;
						}
					}
					.txt-store{
						font-size:11px;
						&.f-orange{
							color:#fa5400;
						}
					}
				}
				.total-price {display:block; width:100%; padding:20px 0 0 75px; box-sizing:border-box; text-align:left;}
				.delete-btn {
					right: -20px;
					top: -18px;
					width: 50px;
					height: 50px;
				}
			}
			&:first-child{
				border-top:none;
			}
			&:last-child{
				border-bottom:none;
			}
		}
	}

	// checkout
	// .mypage-cart .product-opt_cart .item-detail .otp-wrap .otp-box .fr.price-wrap 부분이
	// 장바구니에서 같이쓰여, 체크아웃에서 중복으로 값이 나오는 현상이 있어, checkout페이지에서 안보이게 처리함. (가격과 수량)
	.order-checkout .mypage-cart .product-opt_cart .item-detail .otp-wrap .otp-box .fr.price-wrap,
	.order-checkout .mypage-cart .product-opt_cart .item-detail .otp-wrap .otp-box .fl .qty {
		display: none;
	}

	//주문상품확인
	.order-wrap{
		.item-list-wrap {
			padding: 0 20px;  // 장바구니 체크아웃 양쪽 여백 20px 추가.
			border-top:1px solid #ccc; 
		}
		.mypage-cart{
			&:last-child{
				>li{
					&:last-child{
						padding-bottom:15px;
						//border-bottom:1px solid #dedfda;
						border-bottom: 0; //checkout부분 중 상품리스트 부분 마지막줄 겹치는 현상 처리 */
					}
				}
			}
			.product-opt_cart{
				.item-detail{
					.option-wrap{
						padding-right:0;
					}	
				}
			} 
		}
		.txt-oder{
			position:relative;
			padding-left:8px;
			margin:11px 20px 0 20px;
			font-size:11px;
			&:before{
			    content:"*";
			    display:inline-block;
			    position:absolute;
			    left:0;
			    top:2px;
			}
			a{
				display:inline-block;
				color:$primary-color;
				text-decoration:underline;
			}
		}
		.btn-wrap-webpos{
			a{
				position:relative;
				.webpos-ns-arrow-next{
					font-size:15px;
					position:absolute;
					right:20px;
					top:50%;
					margin-top:-7px;
				}
			}
		}
	}

	//배송지 입력
	.input-wrap{
		>dl{
			padding:0 20px;
			margin:15px 0;
			position:relative;
			dt{
				label{
					display:inline-block;
					font-size:13px;
					margin-bottom:10px;
					&[title="필수입력"]{
						&:after{
							content:"*";
							display:inline-block;
							margin-left:3px;
							color:$primary-color;
						}
					}
				}
			}
			.input-textfield{
				position:static;
				width:100%;
				.error-message{
					display:none;
					position:absolute;
					left:20px;top:0;
					font-size:13px;
					margin:0 0 10px 0;
					background:#fff;
				}
				&.server-error{
					.error-message{
						display:block;
					}
				}
			}
		}
		.memo-box{
			select{
				width:100%;
				height:40px;
				margin-bottom:5px;
				border-color:#e5e5e5;
				background:url('#{$contextPath}/assets/images/webpos-selectbox.png') calc(100% - 10px) 50% no-repeat;
				background-size:10px 6px;
			}
		}
		.txt-address{
			position:relative;
			padding-right:75px;
			margin-bottom:5px;
			input{
				width:100%;
				height:40px;
				border:1px solid #e5e5e5;
				padding:9px 12px;
				outline:none;
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
			}
			a{
				position:absolute;right:0;top:0;
				width:70px;
				height:40px;
				line-height:38px;
				border:1px solid #ddd;
				background:#f8f8f8;
				text-align:center;
				border-radius:2px;
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
			}
		}
		.server-error{
			.txt-address input{
				border-color: #fa5400;
			}
		}
	}
	.btnBox-inquiry{
		padding:30px 20px 0 20px;
		text-align:right;
		a{
			display:inline-block;
			line-height:17px;
			position:relative;
			margin-left:10px;
			&:after{
				content:"";
				display:block;
				width:100%;
				height:1px;
				position:absolute;left:0;bottom:0;
				background:#666;
			}
		}
	}

	//회원조회
	.uk-modal-dialog{
		.input-wrap{
			>dl{
				padding:0;
				margin-top:20px;
				&:first-child{
					margin-top:30px;
				} 
			}
		}
		.btnBox-inquiry{
			text-align:center;
			padding:0;
			margin:20px 0 30px;
			a{ /* 2018-01-18 버튼 디자인 변경으로 수정 */
				font-size:13px;
				line-height:13px;
				margin-left:0;
				font-weight:800;
			}
		}
		.txt-member{
			font-size:12px;
			color:$primary-color;
			margin-top:30px;
		}
		.btn-bottom{
			position:fixed;
			left:0;bottom:0;
			width:100%;
			height:50px;
			a,button{
				display:inline-block;
				width:50%;
				line-height:50px;
				background:#000;
				color:#fff;
				font-weight:900;
				text-align:center;
				border:none;
				&.btn-white{
					background:#fff;
					color:#000;
				}
				&.btn-gray{
					background:#eee;
					color:#000;
				}
				&.disabled{
					background:#b2b2b2;
					color:#fff;
					&.btn-white,&.btn-gray{
						background:#fff;
						color:#b2b2b2;
					}
				}
			}
			&.disabled{
				a,button{
					background:#b2b2b2;
					color:#fff;
					&.btn-white,&.btn-gray{
						background:#fff;
						color:#b2b2b2;
					}
				}
			}
		}
	}
	.checkbox-list{
		border-top:1px solid #ccc;
		padding-bottom:48px;
		li{
			position:relative;
			border-bottom:1px solid #eee;
			&.no-data{
				padding:53px 0;
    			margin-bottom:-48px;
    			text-align:center;
    			font-size:14px;
    			color:#999;
    			border:none;
			}
		}
		input{
		    visibility:hidden;
		    position:absolute;
		    right:0;
			top:0;
		    &:checked + label{
		    	color:#000;
		    	padding-right: 40px;
		    }
		    &:checked + label:after{
		    	content:"";
				display:block;
				position:absolute;
				right:20px;
				top:50%;
				margin-top:-5px;
				width:13px;
				height:11px;
				background:url("#{$contextPath}/assets/images/webpos-detail-checkbox.png") no-repeat;
				background-size:13px 11px;
				background-position:0 0;
		    }
		}
		label{
			display:block;
    		padding:19px 0;
    		color:#999;
    		font-size:12px;
		}

	}

	//주소조회 팝업
	.layer-address.uk-modal{
		&.uk-open{			
			.uk-modal-dialog{
				.pop-title + .checkbox-list{
					border-top:none;
				}
			}
		}
	}

	//결제하기
	.cart-title-box{
		.border-eee{
			border-bottom: 1px solid #eee;
		}
	}	
	.dl-payment{
		margin:30px 20px;
		dt{
			color:#999;
			margin-bottom:8px;
		}
		dd{
			width:100%;
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			border-bottom:1px solid #ccc;
			select{
				font-size:21px;
				font-weight:700;
				width:100%;
				padding:0 40px 10px 0;
				border:none;
				background:url('#{$contextPath}/assets/images/webpos-selectbox.png') calc(100% - 10px) 50% no-repeat;
    			background-size: 10px 6px;
			}	
		}
		.input-textfield{
			position:relative;
			padding-right:30px;
			height:35px;
			input{
				border-color:#e5e5e5;
			    padding:0 0 10px;
			    font-size:24px;
			    height:34px;
			    border:none;
			    font-weight:800;
			}
			&:after{
				content:"원";
				display:inline-block;
				line-height:24px;
				position:absolute;right:10px;top:0;

			}
		}
		span{
			border-color:#e5e5e5;
			padding:0 40px 10px 0;
			font-size:24px;
			height:34px;
			border:none;
			font-weight:800;
		}
	}

	//결제완료
	.cart-title-box{
		 .border-000{
		 	border-bottom: 1px solid #000;
		 }
	}
	.order-success{
		.mypage-cart{
			.product-opt_cart{
				.item-detail{
					.option-wrap{
						padding-right:0;
					}
				}
			}
		}
		.title{
			margin: 0 20px;
			font-size: 14px;
			font-weight: 900;
			color: #000;
			padding-top: 30px;
			border-top: 1px solid #000;
		}
		.cart-title-box+.title{
			border-top:none;
		}
		.order-number{
			margin: 10px 20px;
		    padding: 10px 15px;
		    background: #f8f8f8;
		}
		.input-wrap{
			>dl{
				dt label[title="필수입력"]{
					&:after{
						color:#000;
					}
				}
				dd{
					input+input{
						margin-top:5px;
					}
				}
			}
		}
		.btn-wrap-webpos{
			overflow: hidden;
			margin-left:20px;
			margin-right:20px;
		}
	}



	//결제금액
	.product-checkout{
		background:#fff;
		padding:0 20px !important;
		.total-price{
			margin-top:0;
			padding-top:16px;
			margin-bottom:15px;
			border-color:#000;
			overflow:hidden;
			width:100%;
			dt, dd{
				float:left;
				font-size:14px;
				line-height:16px;
				color:$primary-color;
				font-weight:800;
			}
			dd{
				float:right;
			}
		}
		.btn-wrap-webpos{
			margin-left:0px;
			margin-right:0px;
			&+.btn-wrap-webpos{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	.info-price{
		margin:15px -20px;
		padding:0 20px;
		width:100%;
		background:#f8f8f8;
		position: relative;
		.tooltipShipping {
			position: absolute;
			top: -10px;
			left: 94px;
			background-color: #ddd;
			font-size: 11px;
			line-height: 15px;
			padding: 10px;
			display: none;
			border-radius: 2px;
		}
		.tooltipShipping:after {
			content: '';
			position: absolute;
			border-top: 10px solid #ddd;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			bottom: -9px;
			left: 5px;
		}
		dl{
			overflow:hidden;width:100%;
			&:first-child{
				padding-top:13px;
			}
		}
		dt, dd{
			float:left;
			font-size:14px;
			line-height:28px;
		}
		dd{
			float:right;
		}
		.sum-price{
			padding:8px 0 13px;
			margin-top:8px;
			border-top:1px solid #eee;
		}
	}

	//결제실패 
	.txt-order-fail{
		text-align:center;
		color:#999;
		font-size:14px;
		margin:121px 0 122px;
		&+.btn-wrap-webpos{margin-bottom:0;}
	}

	.sel-box{
		font-size:11px;
		font-weight:bold;
		padding:0 20px 0 0;
		border:none;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		background:url('#{$contextPath}/assets/images/webpos-selectbox.png') 100% 50% no-repeat;
		background-size:10px 6px;
	}
	p.sel-box{
		background:none;
	}

	.btn-wrap-webpos{
		width: auto;
		&.size01{
			a{
				display:block;
				width:100%;
			}
		}
		a{
			float: left;
			width:calc(50% - 2px);
			display:inline-block;
			height:auto;
			margin-right: 4px;
			padding:16px 0;
			font-size:14px;
			line-height:16px;
			text-align:center;
			font-weight:bold;
			background:#000;
			color:#fff;
			border:1px solid #000;
			background:#000;
			color:#fff;
			border-radius:3px;
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			&.white{
				background:#fff;
				color:#000;
			}
			&:last-child{
				margin-right:0;
			}
			&.cart-btn-order {
				float: none;
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width:$breakpoint-large) {
	//.cart-title {display:none;}
}

@media (min-width:769px) {
	.item-container {
		.item-list-wrap {
			display:block;
			padding-right:0;
			margin:0 auto;
		}
	}

	.product-checkout {
		.total-price {
			border: 0;
		}
	}
	.cart-title-box {
		padding: 0;
	}
	.product-checkout .btn-wrap-webpos + .btn-wrap-webpos {
		margin-bottom: 70px;
	}
	.product-checkout {
		.btn-wrap-webpos {
			margin: 0 -20px;
		}
	}
}
