/*********************************************************************/
/* login관련 스타일 정의
/*********************************************************************/

.changePassowrd-wrap{

}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.changePassowrd-wrap{
		.header{
			margin-bottom:28px;
			.title{
				font-size:17px;
				color:#000;
				line-height:100px;
				text-align:center;
				font-weight:500;
				border-bottom:1px solid #eee;
			}
		}
		.body{
			.sub-title{
				margin:27px 0;
				font-size:12px;
				color:#000;
				line-height:17px;
			}
			.uk-grid{
				margin-bottom:30px;
				.dynamic-form{
					.uk-form-row{
						margin-top:5px;
						&:first-child{
							margin-top:15px;
						}
						.error-message{
							display:none;
							margin-top:7px;
							color:#fa5400;
							text-align:left;
						}
						.error{
							input{
								border:1px solid #fa5400;
							}
							.error-message{
								display:block;
							}
						}
					}
				}
			}
		}
		.footer{
			width:100%;
			height:50px;
			position:fixed;
			left:0;
			bottom:0;
			button{
				background:#000;
				box-sizing:border-box;
				&.xlarge{
					width:50%;
					height:50px;
					padding:15px 0;
					text-align:center;
					font-size:14px;
				}
				&.button-bg-type-2{
					background:#eee;
					color:#000;
				}
			}
		}
	}
}
