.fixed-scroll-wrap {
	overflow-y: auto;
	margin: -20px;
    padding: 20px 20px 60px;
    box-sizing: border-box;
}
.order-checkout {
	// background-color: $bg-3;
	max-width: 1200px;
	margin: 0 auto -30px;   /* 상위dom에서 .content-area 클래스에 30px의 패딩값 있어 없앴음. (margin-bottom:30) */
	padding-bottom:65px;
	margin-top: 0px;
	.contents-title {padding:40px 0 20px; font-size:$font-size-xl}
}

.authenticate-type {
	.uk-form-row {
		margin-bottom:14px;
	}
} 


.order-wrap {
	position:relative;
	&:after {content:''; display:block; clear:both;}
	.product-checkout {
		float:right;
		padding:0;
		.total-price{
			border:none !important;
			margin-bottom:22px;
		}
		.order-list {
			padding:0 0 10px 0;
			border-bottom:0;
		}

		.info-price	{
			.item-price, .delivery-price, .sale-price, .total-price {
				display:inline-block;
				margin-top:10px;
				&:first-child {margin-top:0;}

				> .label {
					display:inline-block;
					float:left;
				}

				> .price {
					display:inline-block;
					float:right;
				}
			}
		}

		.price {display:inline-block;}
	}

	.order-tab-wrap {
		&.collapse{
			.order-tab{
				margin-top:0px;
				border-top:none;
				&:first-child{border:1px solid $border-3;}
			}
			.header{
				border:none;
			}
		}
		.qrcode{
			text-align: center;
			margin-top: 20px;
			>img{
				width: 150px;
			}
		}
		.promo-detail{
			padding:10px 0px 0px 0px;
		}
	}

	.order-step-2 {
		display:none;
		.order-tab-wrap {
			margin-top:0px;
		}
	}
}

.order-tab {
	// 반응형 사이즈 처리 해야함
	// width:590px;
	border-top:1px solid $border-3;
	padding:12px 0px;
	background-color: $bg-1; 
	&:first-child {margin-top:0;}
	&.payment {
		position:fixed;   
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin-top:0;
		padding-top:61px; 
		border:0; //checkout페이지에서 헤서 로고영역과 border값이 겹쳐지는 현상때문에 border값 0으로 함.
		.body {
			padding: 0; 
		}
	}

	.header {
		position:relative;
		padding:17px 20px;

		.tit {
			color: $title_checkout-color;
			display: inline;
			// font-weight: bold;
			display: inline; vertical-align: middle;
			.len{
				color: $primary-color;
			}
		}
		.login { font-size:12px; margin:0px 0px 0px 10px;}
		.preview { font-size:11px; color:$font-4; position: absolute; right:50px; top:19px;}
		&.inactive{
			.tit{
				font-weight: normal;
				color:$font-4;
			}
		}
		&.anonymous{
			padding:11px 25px;
		}
		> i {position:absolute; top:50%; right:25px; margin-top:-7px;}
	}

	.body {
		padding: 0px 20px;
		border-top:1px solid #ffffff;
		&.nopadding {padding:20px 0;}

		.order-field-container {
			.order-field-list .btn-arrowBox.uk-width-small-1-2{width: calc(50% - 5px);float: left;margin-right: 10px;display: inline-block;}
		} 
		.order-field-list{
			margin-bottom:30px;

			form {width:100%;}

			.tit {font-size:13px; margin-bottom:10px; color:#000000;}
			.agree{
				.agree-content{
					font-size:12px;	line-height:20px; margin-bottom: 5px;
					> * {font-size: 12px; margin-bottom: 8px;}
				}
			}
			.info{
				color:$font-3;
				font-size:$font-size-mini;
				line-height: 16px;
			}

			.payment-method-list{
				.payment-method-item{
					.payment-method-item-title{
						box-sizing: border-box;
						padding:13px 25px 12px;
						border:1px solid $border-3;
						font-size:$font-size-sm;
						cursor:pointer;
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color:$font-6;
							background-color: $primary-color;
							border:1px solid $primary-color;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}
					}
				}
			}
			.input-textfield{
				> label { /* color:#000000; */ left:12px;}
			}
			.guest-order-info{
				display: inline-block;
				font-size: 12px;
				margin-top:10px;
				line-height: 1.3;
			}
		}
		.nonmember-agreemsg-box {
			font-size: 12px;
			line-height: 20px;
			padding-bottom: 20px;
			.btn-agreemsg {
				text-decoration: underline;
			}

		}
		.btn_search{
			background:#f8f8f8f8;
			color:#111111;
			margin:0 0 0 5px;
		}
		.self-auth p{margin-bottom: 14px;}
		.self-auth .self-auth-container{margin-bottom: 14px;overflow: hidden;width: 100%;}

	}

	.footer {
		padding: 0 20px;
		.info {/*float:left; width:40%;*/ font-size:12px;}
	}

	&.side {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.order-complete{
		.header{
			padding:25px 40px 20px;
		}
		.body{
			padding:0px 40px 15px 40px;
			border-top:none;
			dd{
				margin-bottom:10px;
			}

			.shipping{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0px;
				}
			}
			.payment_method{
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					padding-bottom: 0px;
					margin-bottom: 0px;
					border-bottom:none;
				}
				dt{
					font-weight: normal;
					color: $font-3;
					min-width: 120px;
					float:left;
				}
				dd{

				}
			}
		}

	}

	#shipping_info {
		.footer {
			button{
				&.xlarge {
					font-weight: bold;
					font-size: 14px;
				}
			}
		}
	}
}

.order-card {
	padding:0 29px;
	margin-top:40px;
	&:first-child {margin-top:0;}
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-checkout-selected {
	padding:0 29px;
	margin-top:40px;
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-total-price {
	padding:0 29px;
	margin-top:40px;
	border-top:1px;
	border-bottom:1px;
	border-style:solid;
	border-color: $border-3;
	background-color:$bg-4;

	strong {font-size:20px; color: $prd_sale-price; font-weight: normal;}
	.sale {color: $prd_total-price;}
}

.product-payment_radio {
	margin-left:0px;
	//&:after {content:''; display:block; clear:both;}
}


.checkout-status-wrap {
	float:right;
	font-size:$font-size-s;
	color:$font-4;

	> .status {
		position:relative;
		display:inline-block;
		padding-left:20px;
		width:57px;
		text-align:center;

		&.current {
			> .brz-icon-circle {border-color: $bg-dimmed; color: $font-6; background-color: $bg-dimmed;
				// font-weight:bold;
			}
			> .label {color: $font-1}
		}
		&:first-child {
			padding-left:0;
			> .icon {display:none;}
		}

		> .label {display:block; margin-top:10px;}
		> .icon {position:absolute;top:50%;left:5px;margin-top:-6px;}
	}
}

.gift-promoform{
	.label{
		font-size:$font-size-m;
		line-height: 36px;
	}
}

.giftCard-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 30px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
	.icon-delete  {position:absolute; right:0; top:2px; font-size: 24px; line-height: inherit;}
}

.customerCredit-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:9px 10px 8px 10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 30px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
	.icon-delete {position:absolute; right:0; top:2px; font-size: 24px;}
}
.promotion {
	.icon-delete {position:absolute; right:0; top:2px; font-size: 24px; line-height: inherit;}
}

.payment-bottom-btn { 
	padding: 0 20px 20px;

	> form {
		float: right;
		width: 100%;
		&:first-child {
			float: left;
			padding-right:10px;
		}
		&:last-child { 
			padding-left:10px;
		}
	}
	.btn-wrap-webpos {
		margin: 0;
		width: 100%;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
.order-title-box  {
	position: relative;
    margin-top: -1px;
    background-color: #fff;
    padding: 0 20px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .order-title {
	    display: table-cell;
	    text-align: center;
	    font-weight: bold;
	    font-size: 17px;
	    line-height: 19px;
	    letter-spacing: -0.2px;
	    color: #000000;
	    margin-bottom: 0;
	    height: 100px;
	    vertical-align: middle;
	    .order-title-grey {
	    	display: block;
		    text-align: center;
		    font-size: 13px;
		    line-height: 15px;
		    color: #000000;
		    margin-top: 8px;
	    }
	}

}

.nonmember-agree-wrap {
	font-size: 12px;
	line-height: 2
}

/* Tablet and bigger */
@media (max-width:$breakpoint-medium), (min-width: $breakpoint-medium) {
	.order-title-box {
		.btn-prev {
			position: absolute;
		    left: 0;
		    top: 0;
		}
	}
	.order-tab{
		.body{
			.order-field-list{
				margin-bottom: 20px;
			}
		}
	}
}
@media (min-width:$breakpoint-large) {
	.order-title-box {
		.btn-prev {
			position: absolute;
		    left: 0;
		    top: 40px;
		}
	}
}


.filed-address-2 {
	.result-wrap {
		border-bottom : 0;
	}
}
