/*********************************************************************/
/* catalog 리스트

/*********************************************************************/
	* html {
		section {height:100%;}
	}

	.wrapper{
		min-height:100%;
		overflow:hidden;
		background: #fff;
		//margin:-108px 0 -270px;

		> section {
			//padding:108px 0 270px;
		}

		> .content-area {
			padding-bottom:50px;
		}
	}

	.contents{
		@include contents-article;

		&.margin-mini {margin-top:10px;}
		&.margin-small {margin-top:30px;}
		&.margin-xsmall {margin-top:40px;}
		&.margin-medium {margin-top:60px;}
		&.margin-large {margin-top:80px;}
		&.margin-xlarge {margin-top:120px;}


	}

	.width-xlarge{
		width:100%;
		max-width:$width-xlarge;
		padding:0 15px;
		margin:0 auto;
		box-sizing:border-box;
	}
	.width-large{
		// max-width:$width-large;
	}
	.width-medium{
		max-width:$width-medium;
	}
	.width-small{
		max-width:$width-small;
	}
	.width-max{
		max-width: 100%;
	}

	.height-max {
		height:100%;
	}

	.keyvisual-gallery {
		position:relative;
		overflow:hidden;

		.imgwrap {max-height:700px;}
		.info {
			position:absolute;
			bottom:25%;
			width:100%;

			.tit {@include info-setup; font-size:68px; color: $font-6;}
			.subtit {@include info-setup; margin-top:18px; color: $font-6;}
			.link {@include info-setup; margin-top:40px;}
		}
	}


	.list-type {
		margin-top:30px;

		&.latest {
			text-align:center;
			.product-item {
				display:inline-block;
				width:120px;
				margin-left:20px;

				&:first-child {margin-left:0;}
			}
		}
	}

	/* catalog list - only nike
	/*****************************************************************/
	.item-list-wrap {
		clear: both;
		// margin-left: -18px; // hover시 라인 처리때문에 2px더함.
		> li {
			float: left;
			width: 244px;
			height: 314px;
			padding-top: 13px;
		}

		&:after {
			content:'';
			display: block;
			clear: both;
		}
		.color-chip-container { // 카테고리 컬러칩 dot모양으로 표현된 style : mobile에서 보여짐
			display: none;
			margin: -5px 0 0 -4px;
			.color-chip {
				width: 9px;
				height: 9px;
				margin: 5px 0 0 4px;
				border: 0;
				border-radius: 50%;
				box-sizing: border-box;
				&:hover {
					border: 0;
				}
			}
			.color-chip[title=white] {
				border: 1px solid #e8e8e8;
				&:hover {
					border: 1px solid #e8e8e8;
				}
			}
			>a{
				margin: 3px 0 0 4px;
				font-size:11px;
				float:left;
				margin-left:10px;
				color:$font-3;
			}
		}
	}

	/* catalog item - 리스트 개별 스타일 설정
	/*****************************************************************/
	.product-item {
		position:relative;
		margin:15px 0; // mc category slider 여백 정리

		.item-imgwrap {
			overflow:hidden;
			position:relative;
			width: 220px;
			height: 220px;
			margin: 0 auto;
			max-height:370px;
			padding: 10px;
			background: #f6f6f6;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			> img {
				display:block;
				width: 100%;
				z-index:9;

				&.hover {
					position:absolute;
					display:none;
					top:0;
					left:0;
				}
			}

			.item-label_ico {
				position:absolute;
				color: $font-1;
				z-index: 10;

				&.top_left,
				&.left {top:0; left:0;}
				&.top_right,
				&.right {top:0; right:0;}
				&.bottom_left{bottom:0; left:0;}
				&.bottom_right{bottom:0; right:0}
			}

			/* only member buy bedge */
			.member-only-badge {
				display: inline-block;
				border-radius: 15px;
				width: 28px;
				height: 28px;
				margin: 10px 0 0 10px;
				background: #fff;
				font-size: 18px;
				position:absolute;
				left: 0px;
				text-align: left;
				.member-lock {
					display: inline-block;
					color: #aa8375;
					padding: 4px 0 0px 5px
				}
			}


			//category list item overtxt
			.category-overlaytext {
			    display:table;
				position:absolute;
				top: 0;
				left: 0;
			    width:100%;
			    height:inherit;
			    min-height:280px;
				text-align:center;
			    vertical-align:middle;
				z-index:60;

				> .txt {
				    display:table-cell;
					height:100%;
				    vertical-align:middle;
				    font-size:20px;
				    font-weight:bold;
				    color: $font-6;
				}
			}
		}

		/* 상품 hover했을때 라인처리 */
		> .hover {
			position: relative;
			/* z-index: 11; */ 		//hover시 하단상품에 가려지는 현상으로 z-index높임

			/* &:before {
				content:'';
				display: block;
				position: absolute;
			    height: 100%;
			    padding: 12px 0;
			    top: -12px;
			    left: -10px;
			    right: -10px;
				border: 1px solid #717171;
				background-color: $bg-1;
			} */
		}

		/* catalog item - 상품 정보부분 (상품명, 가격, 마케팅 메세지, 옵션) */
		.item-opt-box {
			margin-top: 12px;
			margin-left: 12px;
			margin-right: 12px;
			margin-bottom: 4px;
			padding-bottom: 4px;
			border-bottom: 1px solid #ddd;

			.item-color-opt {
				font-size: 13px;
				color: #111;
			}

			/* thumbnail 옵션 비노출 */
			.thumb-img-slider {
				display: none !important;
			}

			.brz-badge-container {
				float: right;
				&.text {
					[class^="brz-badge-"]{
						padding: 0;
					}
				}
			}
		}

		.item-info {
			position: relative;
			padding: 0 10px;
			color:$font-2;
			text-align: left;
			>a{
				display:block;
			}
			.item-marketing {
				display:block;
				position:relative;
				color: $primary-sub-color;
				margin-bottom:5px;
			}

			.item-title {
				overflow:hidden;
				display:block;
				max-height:42px;
				line-height:20px;
				font-size:12px;
				font-weight: bold;
				color: $prd_text-color;
			}
			.item-location {
				color: $prd_location-color;
			}

			.item-price {
				display:block;
				position:relative;
				margin: 2px 0 8px;
				font-size: 13px;
				color: #737373;

				.item-price-sale {
					color: #737373;
					text-decoration:line-through;
					padding-right:3px;
				}
				.item-price-sale + span {
					color: #fa5400;
				}

				.item-price-per {
					position:absolute;
					right:10px;
				}
				.disc-num {
					color: $primary-color;
				}

				> strong {font-weight:400; letter-spacing:0.3px;}
			}

			/* 카탈로그 별점 (상품리스트에 있는 별점) */
			.like {
				margin-bottom:8px;

				.per{
					position: absolute;
				    top: 0;
				    left: 0;
				    overflow: hidden;
				}
				.star-default-bg {
					color: #a5a5a5;
				}
			}

			.product-like {
				position:relative;
				display:block;
				margin-top:10px;
				&:after {content:""; display:block; clear:both;}
			}

			/* 상품 이미지 옵션 슬라이드 */
			.option-wrap {
				.input-radio {
					float: left;
				}
			}

		}

		/* thumbnail slider */
		.opt-colorway {
			position: relative;

			.colorway-list-box {
				overflow: hidden;
				max-width: 183px;
				height: 60px;
				margin-left: 9px;

				> ul {
					width:1200px;
					max-height: 60px;
				}

				li {
					float: left;
					overflow:hidden;
					width: 60px;
					height:60px;
					margin-left:1px;
					background-color: #f6f6f6;

					img {
						width: 100%;
					}
				}
			}

			/* thumb nail slider left btn */
			.btn-prev-small,
			.btn-next-small {
			    position: absolute;
			    top: 50%;
			    right: 0;
			    margin-top: -10px;
			    padding: 0 5px;
			    background: none;
			    border: 0;
			    font-size: 16px;
			    font-weight: bold;
			    color: #111;

			    span {
			    	font-weight: bold;
			    	color: $font-1;
			    }
			    &.right {
			    	right: -10px;

			    }
			    &.left {
					left: -10px;
			    }

			}
		}

		a:hover {
			.item-info {
				.item-title {
					color: $prd_text-color-over;
				}
			}
		}

		.btn-wrap {text-align:center;}

		.wish-btn {
			padding:10px;
			margin:0;
			border:0;
			background-color:transparent;
			color: $primary-color;
			cursor:pointer;
		}

		.item-marketing-price {
			// display:inline-block; 메세지 없을때 여백 때문에 제거
			color: $marketing-color;
			font-size:12px;
			padding: 0 12px;

			> a {
				color:inherit;
				display: inline-block;
				padding-bottom:8px;
			}
		}

		.action-hover {
			position:relative;
			display:block;
			width:100%;

			.quick-btn {
				display:none;
				position:absolute;
				left:0;
				bottom:0;
				z-index:100;
			}

			&.over {
				.hover {display:block;}
				.quick-btn {display:block;}
			}
		}

		.wish-btn-wrap {
			position:absolute;
			top:0;
			right:0;
			z-index:98;

			.wish-btn {font-size:19px;}
		}
	}



	//hover btn mobile none
	body {
		&.mobile {
			.product-item {
				.action-hover {
					&.over {
						.quick-btn {display:none;}
					}
				}
			}
		}
	}

	.product-box {
		.image-wrap {
			background: $primary-color;
			> img {width:100%;}
		}

		.tit {
			overflow:hidden;
			max-height:50px;
			margin-top:15px;
			line-height:25px;
			font-size:18px;

			color: $primary-color;
			&.center {text-align:center;}
		}

		.subtit {
			overflow:hidden;
			max-height:38px;
			margin-top:10px;
			line-height:20px;
			font-size:14px;
			color:$font-3;
		}
	}

	.product-banner {
		overflow:hidden;
		max-height:120px;
		background: $primary-color;

		img {
			width:100%;
		}
	}


	.bread-crumb {
		height:36px;
		border-bottom:1px solid $border-2;
		color:$font-4;
		font-size:12px;

		a {font-size:12px;}
		.breadcrumb-divider {
			padding:0 4px;
			font-size:10px;
			line-height: 32px;
		}
		.crumb {
			max-width:$pd-max-width;
			margin:0 auto;
			padding:2px 0 0 54px;
			box-sizing: border-box;
			> .current{color:$font-4;}

			&.center {margin-top:50px; text-align:center;}
			&.left {text-align:left;}
			&.right {text-align:right;}
		}

		.like {
			margin-top:20px;
			text-align:center;
		}



		&.mypage {
			.crumb {text-align:left;}
		}
	}
	.category-title {
		.tit {
			margin:45px 0 50px;
			border:0;
			padding:0;

			// font-weight:bold;
			font-size:34px;
			text-align:center;
			color: $title_category-color;
		}
		&.gray {
			overflow:hidden;
			border-width:0;
			background-color:$bg-2;
			background-position:center;
		}
	}


	.dim {
		display:none;
		position:absolute;
		overflow:hidden;
		text-indent:-9999px;

		&.active {
			display:block;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: $bg-dimmed;
			opacity:0.5;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
			z-index:998; //mobile 카테고리 filter관련 z-index수정
		}

		&.module-start-before {
			display:block;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: $bg-dimmed;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			z-index:9999;
		}
	}


	.recent-wrap {
		margin:-16px 0 0 -16px;
		text-align:center;

		.recent-list {
			overflow:hidden;
			display:inline-block;
			width:180px;
			height:220px;
			border:1px solid $border-3;
			margin:16px 0 0 16px;
			> img {display:block; width:100%;}
		}
	}


	.search-result {
		font-size: 12px;
		text-align:center;
		line-height:25px;
		color: $primary-color;
		&.less {
			color:$font-2;
			h2 {
				font-size: 14px;
				line-height: 19px;
				color: $font-3;
				margin-top:0 !important;
				strong {
					color: $font-0;
				}
			}
			ul{
				position:relative;
				background:#f8f8f8;
				border:1px solid #eee;
				border-width:1px 0;
				padding:12px 45px;
				li{
					text-align:left;
					font-size:11px;
					line-height:16px;
				}
				&:before{
					content:"!";
					display:block;
					position:absolute;
					left:20px;
					top:13px;
					width:13px;
					height:13px;
					border:1px solid #000;
					border-radius:50%;
					font-size:12px;
					line-height:15px;
				}
			}
		}
	}



	.popup-layer-wrap {
		display:none;
		position:absolute;
		top:-9999px;
		left:-9999px;
		width:100%;
		max-width:960px;
		margin-left:-480px;
		background-color: $bg-1;
		z-index:1000;

		&.open {display:block; top:100px; left:50%;}

		.layer-header {
			position:relative;

			> .title {margin-top:30px; text-align:center;
				// font-weight:bold;
				font-size:30px; color: $primary-color;}
			> .description {text-align:center; line-height:20px;}
			> .btn-delete {position:absolute; top:15px; right:15px;}
		}

		.layer-body {
			padding-top:0;
			text-align: left;
			> .input-textfield {width:100%;}
			> .input-checkbox {width:100%;}
		}
		.layer-footer {text-align: left; margin-top:10px;}
	}


	.gnb-search {
		display:none;
		position:absolute;
		top:50%;
		right:0;
		width:320px;
		margin-top: 25px;

		&.active {display:block;}
	}

	.address-wrap {
		font-size:13px;

		.zip-code {
			margin:0;
			.postcode6 {margin-left:5px; color:$font-3;}
		}

		.addr-type {
			display:inline-block;
			float:left;
			width:45px;
			padding-top:5px;
			font-size:11px;
			font-weight:normal;
			color:$font-4;
		}

		.addr {
			overflow:hidden;
			padding-top:5px;

			> a {
				color:$font-1;
				&:hover {text-decoration:underline;}
			}
		}

		dl {margin-top:5px;}
	}

	/* GNB 인기검색어, 최근검색어 리스트 ui */
	.etc-search-wrap {
		display: none;
		position:absolute;
		top: 39px;
		left:0;
		width:100%;
		overflow:auto;
		max-height: 350px;
		padding:0;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #e1e1e1;
		background-color: $bg-1;
		box-sizing: border-box;
		text-align: left;
		z-index:1; 				// 검색어 border관련 z-index지정
		.sort-tabs {
			width: 100%;
			box-sizing: border-box;
			overflow:hidden;
			li {
				float: left;
				width: 50%;
				a{
					color:#999;
					font-weight:700;
				}
				&.uk-active {
					.sort-item {
						color: #000;
						a, span {
							color: #000;
							position:relative;
							&:after{
								content:"";
								display:block;
								width:100%;
								height:1px;
								background:#000;
								position:absolute;
								left:0;
								bottom:-21px;
							}
						}
						&:before {
							z-index: 2;
						}
					}
				}
				&:last-child {
					.sort-item {
						&:before {
							border-right-width: 0;
						}
					}
				}
			}
			.sort-item {
				width: 100%;
				height: 33px;
				background-color: #f5f5f5;
				cursor: pointer;
			}
		}

		.tit {
			padding: 11px 0;
			font-size: 12px;
			color:$font-3;
			&:first-child {border:0;}
		}

		.favorite-search,
		.latest-search {
			&:after {content:''; display:block; clear:both;}
			.list {
				position: relative;
				> a {
					display: inline-block;
				    width: 100%;
				    padding: 6px 20px;
				    box-sizing: border-box;
				    font-size: 12px;
				    color: #383838;
				    font-weight: normal;
				    &:hover {background-color:$bg-1;}
					&:focus {background-color:$bg-1;}
				}
				.no {display:inline-block; width:25px; margin-right:10px; text-align:center; font-size:12px; color:$font-4;}
				.keyword {font-size:13px;}
				.btn-search-delete {
					position: absolute;
					top: 0;
					right: 15px;
					display: inline-block;
					font-size: 22px;
					color: #e3e3e3;
				}
			}
		}
		.search-wrap {
			list-style:none;
			padding: 15px 0 10px 0 !important;
			border:0;

			> li.less {
				font-size: 12px;
				min-height:60px;
	    		text-align:center;
	    		line-height:5em;
			}
		}
		&.active {display:block;}

		/* 검색어 삭제, 저장 끄기 버튼 */
		.search-btn-box {
			padding-bottom: 20px;
			text-align: center;

			.btn-all-delete,
			.btn-no-save {
				display: inline-block;
				text-decoration: underline;
				padding: 0 10px 0 12px;
				font-size: 12px;
				a {
					color: #666;
				}
			}
		}
	}




	.less-items{
		font-size: 14px;
		color: $font-3;
		padding: 50px 0px 25px 0px;
	}

	//layout min height
	.min-height_large {
		min-height:700px;
	}

	.like {
		display:inline-block;
		position:relative;
		font-size:12px;
		color: $primary-sub-color;
	}


	/* responsive */
	.mobile-only {display:none !important;}
	.pc-only {display:block !important;}
	.mobile-br {display:none !important;}

	/* loading */
	.loading {
		display:none;
		position:fixed;
		top:-99999px;
		left:-99999px;
		text-indent:-9999;
		width:0;
		height:0;
		z-index:9000;

		&.open {display:block; top:0; left:0; text-indenet:0; width:100%; height:100%;}

		.contents {width:250px; height:150px; position:absolute; top:50%; left:50%; margin:-75px 0 0 -125px; padding-top:20px; text-align:center; background-color: $bg-1;}
		.dim {background-color: $bg-dimmed; width: 100%; height: 100%; opacity: 0.1; display: block;}
		.comment {display:inline-block; width:100%; margin-top:20px;}
	}




	/* color chip */
	.color-chip-container {
		// padding:10px 0 20px; 카테고리 여백 관련하여 여백 제거
		margin:-5px 0 0 -5px;
		width:100%;

		.color-chip {
			display:block;
			float:left;
			width:15px;
			height:15px;
			margin:5px 0 0 5px;
			border:1px solid $color-chip-border;

			&:hover, &.active {border:1px solid $color-chip-border-over}
			img {vertical-align: top;}
		}

		&:after {content:''; display:block; clear:both;}
	}

	/* return policy */
	#return-guide {
		line-height: 1.6;
	}

	/* swiper 확장 */
	/* 20161025 이준호 확장 */
	/* key Visual extends */
	.keyvisual .bx-wrapper {
		margin-bottom:0;
	}
	.keyvisual .bx-controls {
		> .bx-pager {position:absolute; bottom:23px;}
	}

	/* category slide extends */
	.swipe-wrapper{
		//overflow:hidden;
		max-width:$max-width;
		position:relative;
		margin:0 auto;
	}

	.swipe-container{
		width:100%;

		.slide {
			float:left;
			width:270px;
			//margin-right:30px;
			> div{
				box-sizing: border-box;
				padding:0 5px;
			}
		}
		&:after {content:''; display:block; clear:both;}
	}
	/* .bx-wrapper .product-item .item-imgwrap {margin:0 15px;}
	.bx-wrapper .product-item .item-info {padding:0 15px;}
	.bx-wrapper .product-item .item-marketing-price {padding:0 15px;}
	*/



	/* modal extend */
	#common-modal { z-index:1011; }

	/* category slide */
	.category-slider {
		padding: 0px;
		.bxslider-controls{
			display: none;
		}
		&.custom-controller-type-1{
			.bxslider-controls{
				display: block;
				.btn-prev {
					position: absolute;
				    left: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 46px;
				    width: 46px;
				    background: url('/assets/images/btn_slider_type1.png') no-repeat left top;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
				    &:hover {
					    background-color: #f1f1f1
					}
			    }
				.btn-next {
				    position: absolute;
				    right: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 46px;
				    width: 46px;
				    background: url('/assets/images/btn_slider_type1.png') no-repeat left -46px;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
					&:hover {
				    	background-color: #f1f1f1;
					}
				}
			}
		}

		&.custom-controller-type-2{
			.bxslider-controls{
				display: block;
				.btn-prev {
					position: absolute;
				    left: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 40px;
	    			width: 40px;
				    background: url('/assets/images/btn_slider_type2.png') no-repeat left top;
	    			background-color: #eee;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
				    &:hover {
					    background-color: #d5d5d5
					}
			    }
				.btn-next {
				    position: absolute;
				    right: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 40px;
	    			width: 40px;
				    background: url('/assets/images/btn_slider_type2.png') no-repeat left top;
	    			background-color: #eee;
				    background-position:right;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
					&:hover {
				    	background-color: #d5d5d5;
					}
				}
			}
		}

	}


	.text-box{
		line-height: 1.6;
	}

	/*  SC ITEM CONTENT STYLES */
	.redactor-editor div,
	.redactor-editor p,
	.redactor-editor ul,
	.redactor-editor ol,
	.redactor-editor table,
	.redactor-editor dl,
	.redactor-editor blockquote,
	.redactor-editor pre {
	  font-size: 14px;
	  line-height: 1.6em;
	}
	.redactor-editor a {
	  color: #15c;
	  text-decoration: underline;
	}
	.redactor-editor object,
	.redactor-editor embed,
	.redactor-editor video,
	.redactor-editor img {
	  max-width: 100%;
	  width: auto;
	}
	.redactor-editor video,
	.redactor-editor img {
	  height: auto;
	}
	.redactor-editor div,
	.redactor-editor p,
	.redactor-editor ul,
	.redactor-editor ol,
	.redactor-editor table,
	.redactor-editor dl,
	.redactor-editor figure,
	.redactor-editor blockquote,
	.redactor-editor pre {
	  margin: 0;
	  margin-bottom: 15px;
	  border: none;
	  background: none;
	  box-shadow: none;
	}
	.redactor-editor iframe,
	.redactor-editor object,
	.redactor-editor hr {
	  margin-bottom: 15px;
	}
	.redactor-editor blockquote {
	  margin-left: 1.6em !important;
	  padding-left: 0;
	  color: #777;
	  font-style: italic;
	}
	.redactor-editor ul,
	.redactor-editor ol {
	  padding-left: 2em;
	}
	.redactor-editor ul ul,
	.redactor-editor ol ol,
	.redactor-editor ul ol,
	.redactor-editor ol ul {
	  margin: 2px;
	  padding: 0;
	  padding-left: 2em;
	  border: none;
	}
	.redactor-editor ol ol li {
	  list-style-type: lower-alpha;
	}
	.redactor-editor ol ol ol li {
	  list-style-type: lower-roman;
	}
	.redactor-editor dl dt {
	  font-weight: bold;
	}
	.redactor-editor dd {
	  margin-left: 1em;
	}
	.redactor-editor table {
	  border-collapse: collapse;
	  font-size: 1em;
	  width: 100%;
	}
	.redactor-editor table td,
	.redactor-editor table th {
	  padding: 5px;
	  border: 1px solid #ddd;
	  vertical-align: top;
	}
	.redactor-editor table thead td,
	.redactor-editor table th {
	  font-weight: bold;
	  border-bottom-color: #888;
	}
	.redactor-editor code {
	  background-color: #d8d7d7;
	}
	.redactor-editor pre {
	  overflow: auto;
	  padding: 1em;
	  border: 1px solid #ddd;
	  border-radius: 3px;
	  background: #f8f8f8;
	  white-space: pre;
	  font-size: 90%;
	}
	.redactor-editor hr {
	  display: block;
	  height: 1px;
	  border: 0;
	  border-top: 1px solid #ccc;
	}
	.redactor-editor h1,
	.redactor-editor h2,
	.redactor-editor h3,
	.redactor-editor h4,
	.redactor-editor h5,
	.redactor-editor h6 {
	  font-weight: bold;
	  color: #000;
	  padding: 0;
	  background: none;
	  text-rendering: optimizeLegibility;
	  margin: 0 0 .5em 0;
	}
	.redactor-editor h1,
	.redactor-editor h2,
	.redactor-editor h3,
	.redactor-editor h4 {
	  line-height: 1.3;
	}
	.redactor-editor h1 {
	  font-size: 36px;
	}
	.redactor-editor h2 {
	  font-size: 24px;
	  margin-bottom: .7em;
	}
	.redactor-editor h3 {
	  font-size: 21px;
	}
	.redactor-editor h4 {
	  font-size: 18px;
	}
	.redactor-editor h5 {
	  font-size: 16px;
	}
	.redactor-editor h6 {
	  font-size: 12px;
	  text-transform: uppercase;
	}

	// 에디터로 동영상 넣었을 때 반응형 처리
	.redactor-editor .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
	.redactor-editor .video-container iframe,
	.redactor-editor .video-container object,
	.redactor-editor .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}


	// 이벤트
	.pt_event{
		.top-content{
			padding:20px 0px;
			width: 100%;
			&.border-bottom{
				border-bottom:1px solid #dfdfdf;
			}

			>div{
				display: table;
				width: 100%;
			}

			.active-date{
				color:$font-3;
				display:table-cell;
				vertical-align: middle;
			}
			.addthis{
				display:table-cell;
				text-align: right;
			}
		}
	}



	/* instagram swipe type */
	.instagram-container {
		padding-top:30px;

		.swipe-instagram-container {
			.slide {
				> div {padding:10px 0;}
			}

			.instagram-img {
				overflow:hidden;
				max-height:250px;
			}

			.instagram-info {
				.user-img {
					float:left;
					display:inline-block;
					width:40px;
					height:40px;
					padding-right:10px;

					> img {width:100%;}
				}

				.info {
					.name {
						display:block;
						overflow:hidden;
						padding:5px 0;
					}
					.hashtag-container {
						overflow:hidden;
						display:block;
						height:18px;
						line-height:18px;
					}
				}
			}

			.bx-controls {margin-top:20px;}
		}
	}


	/* media query */
	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {
		.loading { display: none !important;}

		.module_category .loading.open {
			display: block !important;
		}
	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		// .category-slider { padding: 0 5px; }
		.contents {
			&.margin-xsmall {margin-top:0;}
			&.margin-small {margin-top:0;}

			// 모바일에서 좌우 여백 처리하기 위한 클래스
			.content-box{
				padding-left:20px;
				padding-right:20px;
			}

		}
		.bread-crumb {
			display:none;
		}

		.mobile-only {display:block !important;}
		.pc-only {display:none !important;}
		.mobile-br {display:block !important;}

		.category-title {
			.tit {
				font-size:20px;
				margin:30px 0;
			}
			&.gray {
				background-color: $bg-1;
				border-width:1px 0 1px 0;
				border-style:solid;
				border-color: $border-2;
			}
		}

		.etc-search-wrap {
			border-width:0 0 1px 0;
			border-style:solid;
			border-color:$border-3;
		}

		.gnb-search {
			top:56px;
			width:100%;
			margin-top:0;
			.search-field {
				.input-textfield {
					> label {left:40px;}
					> input {
						padding-left:40px;
					}
				}
				.btn-search-mobile {
					top:-2px;
					left:0;
				}
			}
		}

		/* cagegory */
		.pt_category .contents.related-items {display:none;}


		/* mc category list 여백 처리 - only nike 용 */
		.item-list-wrap {
			padding: 0;
			.color-chip-container {
				display: block;
			}
			.product-item {
				margin-top: 0;
				padding: 0 1px;
				.item-opt-box {
					margin-top: 8px;
					border-bottom: 0;
					.item-color-opt {
						display: none;
					}
				}
			}
		}


		/* mc category list 여백 처리 */
		.item-list-wrap {
			background: #fff;
			padding: 0;
			margin-left: 0;
			.product-item {
				min-height:280px;
				height:auto;
				margin: 0;
				padding: 0 1px 0 0;
				padding-bottom:10px !important;
				&:nth-child(2n){
					padding: 0 0 0 1px;
				}
			}
			/* 이미지 정사각형
			.product-item {
				min-height:320px;
				height:auto;
				margin: 0;
				padding: 0 1px;
			}*/
		}

		/* mc 마이페이지 탭 여백 제거 처리 */
		.customer-contents{
			.tab-filter-wrapper {
				margin-bottom:0;
			}
		}

		.pt_event{
			.top-content{
				padding:10px;
				.active-date{
					display:block;
					text-align: center;
				}
				.addthis{
					display:block;
					text-align: center;
				}
			}
		}
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.wrapper {
		 	min-height: 520px;
		}
		.product-noti-content {
			padding: 0 16px;
		}
		.product-noti-content {
			.noti-value {
				min-height: auto;
				color: $font-3;
				&:before {
					padding-top: 5px;
				}
			}
		}

		.etc-search-wrap {			// 검색어 입력시 화면 (최근검색어, 인기 검색어)
			top: 60px;
			max-height: none;
			border: 0;
			padding: 0 0 20px 0 !important;

			.tit {

				padding: 20px 0;
				font-size: 14px;
			}
			.sort-tabs {
				.sort-item {
					height: 56px;
					background:#fff;
				}
			}

			.favorite-search,
			.latest-search {
				.list {
					border-bottom: 1px solid #e1e1e1;
					> a {
						padding: 16px 20px 16px 38px;
						font-size: 14px;
					}
					.btn-search-delete{
						padding: 12px 15px;
    					right: 0;
					}
				}
			}
			.search-wrap {
				padding: 0 0 20px 0 !important;
			}
		}

		/* mc category list 여백 처리 */
		.item-list-wrap {
			padding: 0;
			> li {
				width: 50%;
				padding: 0 1px;
			}
		}

		/* mc catalog item - 리스트 개별 스타일 설정 */
		.product-item {
			.hover {
				&:before {
					border: 0;
				}
			}
			.item-imgwrap {
				width: auto;
				height: auto;
			}
			.item-info {
				.item-title {
					font-size:11px;
					line-height:15px;
					max-height:30px;
					padding:16px 0 0 0;
					margin-bottom:6px;
					text-overflow:ellipsis;
					display:-webkit-box;
					-webkit-line-clamp:2;
					-webkit-box-orient:vertical;
					word-wrap:break-word;
				}
				.item-title02 {
					display:block;
					font-size:11px;
					line-height: 15px;
					color:$font-3;
					text-overflow:ellipsis;
					white-space:nowrap;
					overflow:hidden;
				}

				.item-price {
					color:$font-3;
					font-size:11px;
					line-height: 15px;
					margin:6px 0;
					letter-spacing:-0.6px;
					.item-price-sale {
						color: #737373;
					}
					>span{
						display:inline-block;
					}
				}

				.product-item-color{
					/* overflow:hidden; */
					width:100%;
					font-size:11px;
					line-height:13px;
					color:$font-3;
					>div{
						/* overflow:hidden; */
						width:100%;
						>ul{
							float:left;
							margin-top:2px;
							>li{
								float:left;
								width:9px;
								height:9px;
								margin-left:4px;
								border-radius:50%;
								text-indent:-9999px;
								font-size:0;
								&:first-child{
									margin-left:0;
								}

							}
							.item-color-black{
								background-color:#000;
							}
							.item-color-blue{
								background-color:#1790c7;
							}
							.item-color-green{
								background-color:#cbd89c;
							}
							.item-color-gray{
								background-color:#cfd3d8;
							}
							.item-color-white{
								width:7px;
								height:7px;
								border:1px solid #ddd;
								background-color:#fff;
							}
						}
						>a{
							float:left;
							margin-left:0px;
							color:$font-3;
						}
					}
					>p{
						margin:6px 0 23px;
					}
				}
			}
		}


	}

	/* pc */
	@media (min-width:$breakpoint-large) {
		.product-item .item-info {padding: 0}
	}


	.quantity-wrap {
		.lyt {
			display: block;
			position: relative;
			> span {
				display: block;
			}

			.uk-margin-mini-right {
				margin-top: 8px;
				display: block;
				font-weight: bold;
			}

			.select-box {
				position: absolute;
				left: 90px;
				top: 0;
			}

			.uk-margin-mini-left {
				display:block;
				margin-top: 6px;
				margin-left:0 !important;
			}
		}
	}
	