/************************************************************************************************/

/*  필터 css
/************************************************************************************************/

	/*  필터 1depth title */
	.f-title-box {
		position:relative;
		font-size: 24px;
		color: $font-1;
		padding-bottom:20px;

		.f-btn-reset {
			position:absolute;
			top:2px;
			right:0;
			font-size:12px;
		}
	}

	/*  필터 2depth title */
	.f-subtitle-box {
		position:relative;
		font-weight: bold;

		/* uikit .uk-accordion-title override*/
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 0 15px 0;
		background: none;
		font-size: 14px;
		line-height: 1em;
		color: $font-1;

		&.uk-active {
			.icon-minus {display:block;}
			.icon-plus {display:none;}
		}
	}

	.f-btn-toggle {
		position:absolute;
		top:0;
		right:0;
	}

	/* 필터 category list */
	.f-cagetory-sect {
		padding-bottom:30px;
		&.borderline-top {
			padding-top: 15px;
			border-top:1px solid #e5e5e5;
		}
		.f-item {
			> a {
				display:inline-block;
				font-size:12px;
				color:$font-1;
				padding:7px 0;
			}
			&.active {
				> a {font-weight:bold;}
			}
			&:last-child {margin-bottom:7px;}
			> a.f-btn-more {
				margin-left: 15px;
				color: $button_text-color-type2;
				font-weight: normal;
			}
		}
		.f-subitem {
			padding-left:15px;
			> a {
				display:inline-block;
				font-size:12px;
				color: $font-2;
				padding:5px 0;
			}
		}
		.f-btn-more {
			font-size:12px;
		}
	}

	/* 필터 옵션 (color, size, price) */
	.f-refine-sect {
		&.borderline-top {
			padding-top: 15px;
			border-top:1px solid $border-3;
		}

		/* uikit .uk-accordion-content override */
		.uk-accordion-content {
			padding: 0 0 30px 0;
			overflow:hidden;
		}


		.more-container {
			overflow:hidden;
			//height: 127px;			// 사각형 타입 fiter높이값 지정 (more더보기 기능 관련 높이값 지정)		
		}

		.more-btn {
			display: none; 				// 옵션 더보기 버튼 비노출 (테스트 필요)
			margin:0;
			padding:0;
			border:0;
			width:100%;
			padding-top:10px;
			//border-top:1px solid $border-2;
			text-align:center;
			font-size:10px;
			background-color:$bg-1;

			&.active {
				.plus {display:none;}
				.minus {display:inline;}
			}

			.minus {display:none;}
		}
	}

	/* 필터 타입 체크박스 & 라디오 */
	.f-style-check, .f-style-radio {
		/* uikit .uk-accordion-content override */
		padding: 0 0 30px 0;

		.f-item {
			padding:3px 0;
			&.chedcked {
				i {
					background-position:-89px -320px
				}
			}
		}

		.input-radio { display:block; }
	}

	/* 필터 타입 정사각형 모양 */
	.f-style-square {
		margin-left: 0;
		padding: 0 0 5px 0;

		.f-item {
			float:left;
			margin-left: 0;
			padding:0;

			a, label {
				position: relative;
				display: table-cell;
				width: 42px;
				height: 42px;
				text-align:center;
				color: #2e2e2e;
				word-break: break-all;
				vertical-align:middle;
				line-height: 14px;
				&:hover {
					background-color: #111;
					color: $font-6;
				}
				&:after {
					border: 1px solid #e5e5e5;
				    position: absolute;
				    top: 0;
				    right: -1px;
				    left: 0;
				    bottom: -1px;
				}
			}

			.no-view {display:none;}
		}

		.active, .checked {
			a, label {
				background-color: #111;
				color: $font-6;
			}
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
		
		/* 필터 타입 라운드 모양 */
		&.f-color-type {
			width: 230px;
			margin-left: 0;
			border: 0;

			.f-item {
				float:left;
				margin: 0 14px 14px 0;
				width: 24px;
				height: 24px;
				box-sizing: border-box;

				a, label {
					display: inline-block;
					width: 24px;
					min-width: 24px;
					height: 24px;
					padding: 4px 1px 0;
					border-radius: 50%;
					border:1px solid #ddd;
					box-sizing:border-box;
					text-align:center;
					color: $font-1;
					vertical-align:middle;
					text-align: center;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 0;
					&:hover {
						background-color: transparent;
					}
					&:after {
						border: 0;
					}
				}

				.no-view {display:none;}
			}
			.active, .checked {
				a, label {
					position: relative;
					background-color: transparent;
					&:before {
						 font-family: 'nike' !important;
						 speak: none;
						 font-style: normal;
						 font-weight: normal;
						 font-variant: normal;
						 text-transform: none;
						 line-height: 1;
						 display: inline-block;

						 /* Better Font Rendering =========== */
						 -webkit-font-smoothing: antialiased;
						 -moz-osx-font-smoothing: grayscale;

						content: "\f150";
						display: block;
						position: absolute;
						top: 2px;
						left: 6px;
						font-size: 20px;
					}
				}
			}
		}

	}

	/* webpos 제품 상세 사이즈 선택*/
	.detail-select-size{
		padding-top:18px;
		.f-style-square{
			padding:0;
			.f-item{
				width:20%;
				label{
					display:block;
					width:100%;
					height:39px;
					line-height:39px;
					font-size:12px;
					color:$font-0;
					&:hover{
						background:#fff;
					}
				}
				input{
					&:checked + label{
						background-color: #000;
						color: #fff;
					}
					&:disabled + label{
						background-color: #eee;
						color: $font-3;
					}
				}
			}
		}
	}

	/* 필터 타입 라운드 모양 */
	.f-style-round {
		padding-bottom:30px;
		.f-item {padding:3px 0;}

	}

	.filter-wrap_category {
		position:relative;
		margin-top: 40px;
		margin-bottom:10px;
		padding-left: 12px;
		
		> .num {
			display: none;
		}

		// &:after {content:''; clear:both; display:block;}
		.btn-link {
			font-weight:500
		}
		.select-box {
			font-weight:500;
			right: 22px;
		}
		.btn-filter-open {float:left;}
		.filter-tagbox {
			float:left;
		}
		.select-box{
			width: 110px;
			&.sort{
				.select-head {
					border: 1px solid #ddd;
					font-size: 15px;
					color: $font-1;
					-moz-border-radius: 2.5px;
					-webkit-border-radius: 2.5px;
					border-radius: 2.5px;
				}
			}
			&:before {								// 셀렉트박스 화살표 컬러값
				border-right: 2px solid #111;
   				border-top: 2px solid #111;
			}
		}
	}

	/* filter tag */
	.filter-tagbox {
		.filter-tit {
			font-size: 23px;
			font-weight: bold;
			color: $title_filter-color;

			.num {
				font-size: 24px;
				color: $font-3;
			}
		}
		ul {
			display: inline-block;
			padding:15px 0 10px;
		}
		.tag-item {
			display:inline-block;
			color: $font-1;
			font-size: 12px;
			margin-right: 15px;
			a {color: $font-1;}
			i {
				font-size:8px;
				padding-right: 4px;
			}
		}
		.f-btn-reset {
			font-size:12px;

			&.btn-f-reset {				// 전체해제 filter버튼 style
				display: inline-block;
				width: 72px;
				height: 24px;
				line-height: 24px;
				border-radius: 2.5px;
				border: solid 1px #dddddd;
				text-align:center;
				vertical-align: middle;
			}
		}
	}

	.section-filter {
		/*overflow:auto;*/
		position:fixed;
		top:0;
		left:-$filter-width;
		bottom:0;
		width:$filter-width;
		padding-right:32px;			// nike only
		padding-left: 32px;
		margin-right: 8px;
		box-sizing:border-box;
		background: $bg-1;
		z-index:100;
		opacity:0;
		filter:alpha(opacity=0);


		.filter{
			@include filter-field;

			.item{
				> a {
					color: $font-3;
					width:100%;
					text-align:left;
					padding:10px 20px;
					display:inline-block;
					box-sizing: border-box;
				}
				&:hover {background-color: $bg-4}
				&.active {
					color: $font-6;
					background-color: $primary-color;
					> a {color: $font-6;}
				}

				&.btn-type {
					width:45px;
					text-align:center;
					border:1px solid $border-5;
					padding:10px 0;

					> label {text-align:center;}
				}
			}
		}

		.btn-sect {margin-top:20px; text-align:center;}
	}

	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 17px;
		height: 31px;
		text-indent: -9999px;
		z-index: 1002;
	}

	.inventory-detail {
		.dim {
		display:none;
		position:absolute;
		overflow:hidden;
		text-indent:-9999px;
		
			&.active {
				display:block;
				position:fixed;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background: $bg-dimmed;
				opacity:0.5;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
				z-index:1003; //mobile 카테고리 filter관련 z-index수정
			}
		}

		// 상품보유매장 filter 추가.
		.section-location-filter {
			/*overflow:auto;*/
			position:absolute;
			top:0;
			left:-$filter-width;
			bottom:0;
			width:$filter-width;
			padding-right:32px;			// nike only
			padding-left: 32px;
			margin-right: 8px;
			box-sizing:border-box;
			background: $bg-1;
			z-index:1004;
			opacity:0;
			filter:alpha(opacity=0);
			-webkit-overflow-scrolling: touch;


			.filter{
				@include filter-field;

				.item{
					> a {
						color: $font-3;
						width:100%;
						text-align:left;
						padding:10px 20px;
						display:inline-block;
						box-sizing: border-box;
					}
					&:hover {background-color: $bg-4}
					&.active {
						color: $font-6;
						background-color: $primary-color;
						> a {color: $font-6;}
					}

					&.btn-type {
						width:45px;
						text-align:center;
						border:1px solid $border-5;
						padding:10px 0;

						> label {text-align:center;}
					}
				}
			}

			.btn-sect {margin-top:20px; text-align:center;}
		}
	}

	.filter-category-modal-wrap {
		.section-filter {
			overflow-y:scroll;
			width:$filter-width;
			height:auto;
			padding:18px ;
			// z-index:999;
		}

		.section-category {
			.filter-wrap_category {
				// .filter-tagbox {padding:10px 0 0 40px;}
			}
		}
	}

	/* 카테고리 리스트 레이아웃 정의 */
	.filter-category-modal-wrap,
	.filter-category-wrap{
		overflow: hidden;

		/* mc depth 텍스트 */
		.depth-tit {
			display: none;
			padding: 30px 0;
			font-size: 19px;
			text-align: center;
			.num {
				font-size: 12px;
				color: #b3b3b3;
			}
			.title{
				font-size: 19px;
				line-height:20px;
				padding:0 20px;
			}
		}
		/* 좌측 필터영역 */
		.section-filter {
			margin-top: 40px;
			opacity:1;
			filter:alpha(opacity=1);
			position: relative;
			left:0;
			float:left;
		}
		
		/* 우측 카테고리 리스트 */
		.section-category {
			float:left;
			-webkit-width: calc(100% - 288px);
			-moz-width: calc(100% - 288px);
			width: calc(100% - 288px);

			&.item-list-less {
				width: 100%;
			}
		}
		.category-max-width {
			max-width: 1230px;
			
			.btn-filter-open{
				display: none;
			}

			&.item-list-less {
				width:100%;
				padding:20px 0 80px;
			}
		}
	}

	.filter-field_price {
		@include filter-field;

		text-align:center;
		padding-left:30px;
		padding-right:30px;

		> .filter-tit {text-align:left;}
		> .btn-link {margin-top:20px;}
		> .slider-range {
			height:10px;
			margin-bottom:20px;
		}
		> .filter-tit {
			margin-left:-10px;
			display:block;
		}
	}

	.filter-field_categories {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_color {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_size {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}

		&.style-btn {
			padding-left:20px;
			padding-right:20px;
			> .input-checkbox {
				float:left;
				margin-top:-1px;
				margin-left:-1px;
			}

			.filter-tit {margin-left:0;}
		}
	}

	.sub-category{
		position:relative;
		width:100%;
		height:57px;
		overflow-y:hidden;
	    overflow-x:scroll; 
	    -webkit-overflow-scrolling:touch;
	    -webkit-transform: translateZ(0px);
		> ul{
			position:absolute;
			left:0;
			top:0;
		    border:1px solid #eee;
		    border-width:1px 0;
			>li{
				position:relative;
				float:left;
				padding:0 20px;
				>a{
					position:relative;
					display:block;
					line-height:25px;
					padding:15px 0;
					z-index:1;
				}
				&:before{
					content:"";
					display:block;
					position:absolute;
					left:0;
					top:0;
					width:1px;
					height:25px;
					margin-top:15px;
					background-color:#eee;
				}
				&:first-child:before{
					content:"";
					display:none;
				}
			}
			.on{
				>a:before{
					content:"";
					display:block;
					width:100%;
					height:1px;
					background-color:#000;
					position:absolute;
					left:0;
					bottom:-1px;
					z-index:5;
				}
			}
		}
	}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	//filter category
	.filter-wrap_category {
		width:100%;
		overflow:hidden;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		.btn-link {
			position: relative;
			display:inline-block;
			width:50%;
			height: 60px;
			border-width:0 0 0 0;
			border-style:solid;
			border-color:$border-2;
			padding-left:10px;
			text-align:left;
			box-sizing:border-box;
			font-weight:bold;
			text-align: center;
			font-size: 15px;
			&:before {
				content:'';
				position: absolute;
				top: 10px;
				right: 0;
				width: 1px;
				height: 40px;
				background-color: #e5e5e5;
			}
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}


		.select-box {
			width:50%;
			border-width:0 0 0 0;
			height: 60px;
			border-style:solid;
			border-color:$border-2;
			box-sizing:border-box;
			font-size: 15px;
			right: auto;
			text-align: center;
			&:before {
				width: 0;
				height: 0;
				border: 0;
			}
			> select {
				width: auto;
				height: 60px; 
				border:0; 
				font-weight:bold;
				font-size: 15px;
				padding: 0;
			}
		}

		.filter-tagbox {
			display:none;
		}

		.select-box {
			&.sort{
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}
	}

	.filter-category-modal-wrap, 
	.filter-category-wrap{
		.wrap-detail-filter  {
			.webpos-ns-pop-close {
				display: block !important;
			}
		}
		.depth-tit {
			display: block;
		}
		.section-filter {
			width: 280px;
			right: 0;
			margin: 0;
			padding:0 20px;
			overflow-y:scroll;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			left: -100%;
			z-index:999;
			display:none;

			&.active {
				display:block;
			}
		}

		.section-category {
			width:100%;
			.btn-filter-open{
				display: block;
			}
		}
		.btn-detail-search{
			line-height:15px;
			padding:18px 0 19px 20px;
			/* padding:0; */
			border:none;
			background-color:transparent;
			i{
				margin-right:10px;
				vertical-align:top;
				font-size:15px;
			}
		}
		.num{
			display: inline-block;
			float:right;
			line-height:15px;
			margin:18px 20px 19px 0;
		}
	}
	
	.mobile-menu_link{
		position:fixed;
		bottom:0 !important;
		left:0;
		display: none;
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}

/* webpos 제품상세 검색 추가 */
.filter-category-modal-wrap, 
.filter-category-wrap{
	.wrap-detail-filter{
		padding: 0;
		overflow-y: hidden;

		.scroll-wrap {
			overflow-y: auto;
			padding-right: 32px;
			padding-left: 20px;
			padding-bottom: 65px;
			box-sizing: border-box;
			position: relative;
			
			>.f-title{
				font-size:14px;
				line-height:16px;
				color:$font-0;
				padding:29px 0 14px;
				font-weight:700;
				border-top:1px solid $border-1;
				margin-top:15px;
				&:first-child{
					border-top:none;
					margin-top:0;
				}
			}
			>ul{
				>li{
					position:relative;
					font-size:14px;
					line-height:16px;
					color:$font-3;
				}
				input{
					visibility:hidden;
					position:absolute;
					right:0;
					top:0;
				}
				label{
					display:block;
					padding:12px 0;
				}
			}
		}
		.f-checkbox,.f-radiobox{
			input[type="checkbox"],input[type="radio"]{
				&:checked+label{
					color:$font-0;
					&:after{
						content:"";
						display:block;
						position:absolute;
						right:0;
						top:50%;
						margin-top:-5px;
						width:13px;
						height:11px;
						background: url('#{$contextPath}/assets/images/webpos-detail-checkbox.png') no-repeat;
						background-size: 13px 11px;
						background-position: 0 0;
					}
				}
			}
		}
		.f-size{
			overflow:hidden;
			width:100%;
			padding-bottom: 1px;
			margin-bottom:30px;
			>li{
				float:left;
				width:25%;
				label{
					position:relative;
					padding:11px 0;
					text-align:center;
					color:$font-0;
					&:after{
						content:"";
						display:block;
						border: 1px solid #e5e5e5;
					    position: absolute;
					    top: 0;
					    right: -1px;
					    left: 0;
					    bottom: -1px;
					}
				}
				&:nth-child(4n){
					label{
						&:after{
							right:0;
						}
					}
				}
				input{
					&:checked+label{
						&:after{
							border-color:#000;
							z-index:10;
						}
					}
				}
			}
		}
		.f-color{
			width:100%;
			overflow:hidden;
			margin:-15px 0 15px -15px;
			li{
				float:left;
				width:20%;
				height:30px;
				padding:0 0 0 15px;
				margin-top:15px;
				text-align:center;
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
			}
			label{
				position:relative;
				display:inline-block;
				width:20px;
				height:20px;
				border-radius:50%;
				padding:0 !important;
				margin:5px 0;
			}
			label[for="productColorwhite"]{
				border: 1px solid #ddd;
   				box-sizing: border-box;
			}
			input{
				&:checked+label{
					width:30px;
					height:30px;
					margin:0;
					&:after{
						content:"";
						display:block;
						position:absolute;
						left:50%;
						top:50%;
						margin:-4px 0 0 -4px;
						width:9.5px;
						height:7.5px;
						background: url('#{$contextPath}/assets/images/webpos-color-check.png') no-repeat;
						background-size: 19px 7.5px;
						background-position: 0 0;
					}
				}
				&:checked+label[for="productColorwhite"]{
					&:after{
						background-position: -9.5px 0;
					}
				}
			}
		}
		.webpos-ns-pop-close{
			display: none;
			position: absolute;
			right: 0;
			top: 12px;
			z-index: 1002;
			font-size: 10px;
			height: 50px;
			width: 50px;
			line-height: 50px;
			text-align: center;
		}
		.mobile-menu_link{
			width:280px;
			height:50px;
			z-index:10;
			transition: all 0.3s ease-in;
			a{
				display:block;
				float:left;
				width:50%;
				height:50px;
				padding:17px 0;
				text-align:center;
				font-weight:700;
				border-radius:0;
				&.button-line{
					background:#fff;
					color:#000;
					border-top:1px solid #000;
					border-radius:0;
				}
			}
			button, input {
				width: 50%;
			    height: 50px;
			    border-radius:0;
			}
		}
		&.active{
			.mobile-menu_link{
				display:block;
			}
		}
	}
}

/* webpos 제품상세 검색 추가 */
.inventory-detail{
	.wrap-detail-filter{
		padding-right: 0;
		padding-left: 0;
		/* overflow-y:scroll; */

		.scroll-wrap {
			overflow-y: auto;
			padding-right: 32px;
			padding-left: 20px;
			padding-bottom: 65px;
			box-sizing: border-box;
			position: relative;

			>.f-title{
				font-size:14px;
				line-height:16px;
				color:$font-0;
				padding:29px 0 14px;
				font-weight:700;
				border-top:1px solid $border-1;
				margin-top:15px;
				&:first-child{
					border-top:none;
					margin-top:0;
				}
			}
			>ul{
				>li{
					position:relative;
					font-size:14px;
					line-height:16px;
					color:$font-3;
				}
				input{
					visibility:hidden;
					position:absolute;
					right:0;
					top:0;
				}
				label{
					display:block;
					padding:12px 0;
				}
			}
		}
		.webpos-ns-pop-close {
			display: none;
			top: 12px !important;
		}
		.p-checkbox, .p-radiobox{
			input[type="checkbox"],input[type="radio"]{
				&:checked+label{
					color:$font-0;
					&:after{
						content:"";
						display:block;
						position:absolute;
						right:0;
						top:50%;
						margin-top:-5px;
						width:13px;
						height:11px;
						background: url('#{$contextPath}/assets/images/webpos-detail-checkbox.png') no-repeat;
						background-size: 13px 11px;
						background-position: 0 0;
					}
				}
			}
		}
		.mobile-menu_link{
			display:none;
			position:fixed;
			bottom:50px;
			left:0;
			width:280px;
			height:50px;
			z-index:10;
			transition: all 0.3s ease-in;
			a{
				display:block;
				float:left;
				width:50%;
				height:50px;
				line-height:50px;
				/* padding:17px 0; */
				text-align:center;
				font-weight:700;
				border-radius:0;
				&.button-line{
					background:#fff;
					color:#000;
					border-top:1px solid #000;
					border-radius:0;
				}
				&.result-button-line{
					background:#000;
					color:#fff;
				}
			}
		}
		&.active{
			.mobile-menu_link{
				display:block;
			}
		}
	}
}