/*********************************************************************/
/* fulfillment 사용되는 css
	/*****************************************************************/


/* nav header 라인삭제 */
 .header_layout_1.fulfill  .header-lnb {
 	border-bottom: 0;
}


/* select, input */
.select_box {
	select {
		height: 30px;
		padding: 0 10px;
		border:1px solid #ddd;
		font-size: 12px;
		color: #000;
		background-image: url('#{$contextPath}/assets/images/webpos-selectbox.png');
		background-repeat: no-repeat;
		background-position: 87% 50%;
		background-size: 9px;
		background-image: #fff;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	}
	.search-input {
		position: relative;
	    float: left;
	    margin-left: 5px;

		input[type="text"]{
			@extend input[type="text"].inp;

			width: 130px;
		    height: 30px;
		    outline: 0;
		    padding-left: 24px;
		    box-sizing: border-box;
		}
		label {
			position: absolute;
			left: 0;
			top: 0;
			padding: 9px 0 9px 6px;
			font-size: 12px;
			color: #999;
			width: 100%;
			box-sizing: border-box;

			.webpos-ns-search {
				font-size: 12px;
			}
		}
		&.focus {
			label {
				display: none;
			}
			input[type="text"] {
				padding-left: 10px;
			}
		}
	}
}

input[type="text"].inp,
input[type="tel"] {
	padding: 9px 10px;
	background-color: #fff !important;
	border: 1px solid #ddd;
	text-align: left;
	font-size: 12px;
	outline: 0;
	color: #000;
}

/* common */
.new {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: $primary-color;
	vertical-align: top;

	span {
		display: inline-block;
		position: absolute;
		left: -9999em;
	}
}
.txt-comment {
	font-size: 11px;
	margin-top: 10px;
	color: #2e2e2e;
}
button {
	&.select_box_btn {
		display: inline-block;
	    font-size: 13px;
	    text-align: center;
	    padding: 0px 10px;
	    height: 23px;
	    line-height: 16px;
	    border-radius: 2px;
	    background: #222;
	    color: #fff;
	    border:none;
	    float:right;
	    margin:-4px 55px 0px 0px;
	}
}
.addr_list {
    width: 100%;
    max-height: 260px;
	border: 1px solid #ddd;
    border-top: 0 none;
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    top: 33px;
    overflow-y: auto;
    z-index: 1000;

    li {
    	border-top: 1px solid #ddd;
    }
    a {
    	display: block;
    	padding: 16px 12px;
    	font-size: 11px;

    	.addr_num {
    		color: #fa5400;

    		span {
    			margin-left: 5px;
    			color: #999;
    		}
    	}
    	.addr_grp {
    		margin-top: 5px;

    		.label {
    			margin-bottom: 3px;
    			color: #a5a5a5;
    		}
    	}
    }
}

/* menu - sliding drawer */
.mobile-menu_onedepth .bopis_noti {
	  display: inline-block;
	  width: 16px;
	  height: 16px;
	  border-radius: 8px;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  -ms-border-radius: 8px;
	  -o-border-radius: 8px;
	  background: #fa5400;
	  color: #ffffff;
	  font-size: 8px;
	  line-height: 16px;
	  text-align: center;
	  vertical-align: middle;
}
.mobile-onedepth_list.btn-pos {
	border-bottom: 0;

	a {
		background-image: url('#{$contextPath}/assets/images/ico_menu_pos.png');
		background-repeat: no-repeat;
		background-position: 8% center;
		background-size: 12px;
		padding: 12px 20px 12px 42px;
		/*font-size: 12px;*/
		position: relative;
	}
}
.mobile-onedepth_list.btn-notice {
	border-bottom: 0;

	a {
		background-image: url('#{$contextPath}/assets/images/icon_menu_notice.png');
		background-repeat: no-repeat;
		background-position: 8% center;
		background-size: 12px;
		padding: 12px 20px 12px 42px;
		position: relative;
	}
}
.mobile-onedepth_list.btn-manual {
	border-bottom: 0;

	a {
		background-image: url('#{$contextPath}/assets/images/icon_manual.png');
		background-repeat: no-repeat;
		background-position: 8% center;
		background-size: 10px;
		padding: 12px 20px 12px 42px;
		position: relative;
	}
}

.mobile-onedepth_list.btn-plus {
	border-bottom: 0;

	a {
		background-image: url('#{$contextPath}/assets/images/icon_plus.png');
		background-repeat: no-repeat;
		background-position: 8% center;
		background-size: 10px;
		padding: 12px 20px 12px 42px;
		position: relative;
		margin-top: 12px;
	}
}

/* 상세검색 layer filter */
.filter-category-wrap .fulfill {
	/* padding: 0 0 71px 0; */

	.scroll-wrap {
		padding-right: 20px;

		> .f-title {
			padding: 30px 20px 16px 20px;
			margin: 15px -20px 0;
		}

		.order_search + .f-title {
			margin-top: 0;
		}

		> ul label {
			padding: 14px 0;
			color: #000;
		}
		.filter-two-depth{
			line-height:10px;
			label {
				padding-left: 5px;
				span:before{
					content:"┕";
					margin-right:10px;
				}
			}
		}
	}

	.f-checkbox input[type="checkbox"]:checked + label:after,
	.f-checkbox input[type="radio"]:checked + label:after,
	.f-radiobox input[type="checkbox"]:checked + label:after,
	.f-radiobox input[type="radio"]:checked + label:after {
		right: 20px;
	}

	/* 기간설정 */
	.term_set_line {
		input[type="radio"]:checked + label:after {
			top: 21px;
		}

		.term {margin-bottom:15px;}
		.term.on + .calender_wrap {
			display:block;
			margin: -15px -20px 0;
		}

		/* 달력 입력 */
		.calender_wrap {
			display: none;
			clear: both;
			overflow:hidden;
			padding: 15px 20px;
			border-top: 1px solid #eee;
			background-color: #f8f8f8;

			.calender_box {
				position:relative;
				width: 110px;
				float: left;

				input {
					visibility: visible !important;
					position: static !important;
					width: 70px;
					padding-right: 28px;
					text-align: right;
					letter-spacing: -0.1px;
					font-size: 14px;
					line-height: 15px;
					&:focus {
						border: 1px solid #999;
					}
				}

				label {
					position:absolute;
					top: 9px;
					left: 10px;
					padding: 0 !important;
					color: #000;
				}

				.del_btn_wrap {
					display: block;
					position: absolute;
					top: 10px;
					right: 10px;
					background-color: transparent;

					a.delete_btn {
						display: block;
						padding: 0;
						border: 0;
						background-color: transparent;

						.webpos-ns-s-del {
							font-size:14px;
						}
					}
				}
			}
			.int {
				float: left;
				display: inline-block;
				width: 20px;
				margin-top: 7px;
				text-align: center;
				color: #000;
			}
		}
	}

	/* 검색어 select */
	.search_word_wrap {
		clear: both;
		overflow: hidden;
		margin-top: 5px;

		select {
			float: left;
			width:90px;
		}

		.inp {
			float: left;
			width:113px;
			height:10px;
			outline: 0;
			margin-left: 5px;
		}
	}

}

/* contents */
.fcontents_wrap {
	padding-bottom: 50px;

	/* layout 좌우 20px 여백 */
	.con_layout {
		margin: 0 20px;

		.unit_line {
			padding-left: 0;
		}

		.c_btn_area {
			padding: 0;
		}

		.total_num {
			right: 0 !important;
		}
	}

	/* title +  unit_line 간격 */
	.con_tit + .con_layout > .unit_line {
		margin-top: -4px;
	}

	/* title */
	 .con_tit {
	 	position: relative;
	 	margin-top:10px;

		.title {
			padding: 0 20px 0 32px;
			line-height: 18px;
			text-align: center;
			font-size: 17px;
			font-weight: bold;
		}

		/* 상세- 이전버튼 */
		.prev_btn {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 50px;
			height: 40px;
			padding-left: 0;
			margin-top: -10px;
			text-align: center;
			background: transparent;
			border: 0;

			.webpos-ns-arrow-prev {
				width:100%;
				font-size: 15px;
				position: absolute;
				top: 2px;
				left: 0;
			}
		}

		/*  seamless 회수관리 타이틀 바코드 레이어 버튼 적용 */
		.gnb-search-btn {
			position: absolute;
		    top: 0;
		    right: 0;
		    padding: 10px 20px 10px 10px;
		    display: inline-block;
		    margin-top: -10px;
		}

	}
	.sub_title {
		line-height: 15px;
		text-align: left;
		font-size: 14px;
		font-weight: bold;
		color: #000;
	}

	/* button */
	/*
	button {
		display: block;
		padding-right: 0;
		background-color: transparent;
		border: 0;
	}
	*/

	/* 컨텐츠 하단 버튼 */
	.c_btn_area {
		margin-top: 30px;
		padding: 0 20px;
		text-align: center;

		a {
			display: inline-block;
			width: 48.2%;
			background-color: #000;
			border: 1px solid #000;
			 border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			line-height: 38px;
			color: #fff;
			font-size: 13px;
			box-sizing: border-box;
		}

		/* 버튼이 1개일 경우 class w100 추가 */
		a.w100 {
			width:98%;
		}

		/* 버튼이 2개일 경우 왼쪽 버튼 class default 추가 */
		a.default {
			margin-right:2px;
			background-color: #fff;
			color: #000;
		}

		a.disabled{
			background: #ccc;
		    border-color: #ccc;
		    color: #aeaeae;
		}

	}
	.btn_tgree{
		font-size: 0 !important;
		a{
			line-height: 38px !important;
			height: 38px !important;
			&.sameDayCheck{
				margin-right: 2px;
				box-sizing: border-box;
				width: calc(50% - 2px);
			}
			&.shipCheck{
				margin-left: 2px;
				box-sizing: border-box;
				width: calc(50% - 2px);
			}
			&.w100{
				width: 100%;
				margin-bottom: 5px;
				box-sizing: border-box;
			}
	
		}
	}

	/* 페이지 내 (테이블) 작은 버튼 */
	.s_btn {
		display: inline-block;
		padding: 6px 10px;
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		font-size: 11px;
		color: #000;
		text-align: center;
	}

	/* 숨김텍스트 */
	.hide {
		position: absolute;
		left: -9999px;
		width: 0;
		height: 0;
		line-height: 0;
		font-size: 0;
	}

	/* clear  */
	.clear_wrap {
		clear: both;
		overflow: hidden;
	}

	/* etc  */
	.price-wrap {
		display:block;
		font-size: 12px;
		line-height:12px;

		.retail-price {
			text-decoration:line-through; 
			color:#999999;

		}

		.price {
			color: #fd5401;
		}	
	}

	.offer {
		font-size: 12px;
	}

	.sum {
		color: #fd5401;
		font-size: 12px;
		line-height:12px;
	} // 금액 포인트 컬러

	/* input */
	input::-webkit-input-placeholder {
	color: #000;
	}
	input::-moz-placeholder {
		color: #000;
	}

	/* list type*/

	/* 상품목록 - 상품번호, size, 갯수*/
	.info_list {
		clear: both;
		overflow: hidden;

		li {
			float:left;
			width: 39%;
			text-align: center;
			font-size: 12px;
			color: #000;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				width: 20%;
			}

			&:nth-child(2n){
				width: 39%;
			}
		}

		li + li {
			border-left:1px solid #ddd;
		}

	}

	/* intor dash board */
	.dash_board_wrap {
		/* margin-top:20px; */
		border-top: 1px solid #eee;

		.sub_title {
			padding: 18px 0 10px 0;
		}
		.d_board_list {
			min-height:80px;
			border-top: 1px solid #aaa;
			border-bottom : 1px solid #eee;

			&:after {
				content:"";
				display:block;
			}
			> li {
				float: left;
				width: 33.3%;
				text-align:center;
				box-sizing: border-box;

				a{
					display: block;
				}
			}
			li + li {
				border-left : 1px solid #eee;
			}
			.d_state_box {
				padding-top: 15px;

				dt{
					padding-bottom: 10px;
					font-size: 12px;
					color: #999;
				}
				dd{
					padding-bottom: 10px;
					font-size: 10px;
					color: #999;

					i {
						vertical-align: bottom;
						margin: 0 2px;
						color: #999;
						font-size: 10px;
						line-height: 10px;
					}
				}
				dd.num {
					color: #000;

					span {
						font-size:46px;
					}

				}
			}
		}
	}

	/* List */
	/* 상단 검색영역 */
	.list_check_box {
		position:relative;
		min-height: 18px;
		padding: 10px 20px;
		margin: 20px 0 18px 0;
		background-color: #f8f8f8;
		border-width: 1px 0;
		border-style: solid;
		border-color: #eee;

		.state_btn_area {
			padding-right: 20px;

			a {
				display: inline-block;
				background-color: #f8f8f8;
				padding: 3px 10px;
				margin: 1px 5px 1px 0px;
				border: 1px solid #999;
				color:#666;
				font-size:12px;
			}
		}

		.filter_btn_area {
			position:absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 100%;

			.filter_btn_search {
				line-height: 15px;
				width: 100%;
				height: 100%;
				padding: 0;
				border: none;
				background-color: transparent;
			}
		}
	}

	/* 다운로드, 인쇄하기 버튼 */
	.btn_ac {
		position: absolute;
		right: 0;
		top: 28%;
		clear: both;
		overflow: hidden;

		&.excel {
			right: -20px;
			top: 0;
			height: 35px;
			width: 58px;

			button {
				width: 100%;
				height: 100%;
			}
		}

		button {
			padding: 0;

			.webpos-ns-download {
				font-size: 14px;
				color: #000;
			}
		}

		.print {
			display: block;
			float: left;
			padding: 2px 0 1px 0;
			border-bottom: 1px solid #000;
			font-size: 13px;
			color: #000;
		}

		.user_name {
			position: static !important;
			float: left;
			padding-top: 1px;
			font-size: 11px;
			color: #666;
		}

		.user_name + .print {
			margin-left: 11px;
		}
	}

	/*  검색노출 조회주문건수 영역 */
	.unit_line {
		position:relative;
		padding: 0 0 10px 20px;
		min-height: 14px;

		> span {

			display:inline-block;
			font-size: 14px;
		}

		.keyword {
			background-color: #eee;
			color:#666;
		}

		.total_num {
			position:absolute;
			top: 0;
			right: 20px;
			color:#000;
		}
	}

	/*  주문내역리스트 */
	.con_list_wrap {
		.ful_list_type {

			> li + li {
				margin-top: 15px;
			}

			li {
				.user_info {
					position: relative;
					padding: 10px 0;
					border-top: 1px solid #989898;
					border-bottom: 1px solid #eee;

					> p, .box_link > p {
						display: inline-block;
						text-align: left;
						font-size: 11px;
						letter-spacing: -0.1px;
						color:#666;
					}
					a.box_link {
						display:block;
					}
					.date {

						margin-right: 10px;
					}
					.user_name  {
						position: absolute;
						right: 0;
						line-height: 1.2;
						max-width: 80px;
						letter-spacing: 0;
						text-align: right;
						overflow: hidden;
						white-space: nowrap;
					}

					.buy_info {
						position: relative;
						clear: both;
						overflow: hidden;
						padding: 9px 0 0 68px;

						li {
							float: left;
							line-height: 11px;
							font-size: 11px;
							color: #666;
							height: 12px;
						}

						li + li {
							margin-left: 15px;
						}

						.store {
							width:36%;
							overflow: hidden;
							text-overflow: ellipsis;
							/* display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical; */
							word-wrap:break-word;
							white-space: nowrap;
						}

						.sum {
							position: absolute;
							top: 9px;
							right: 0;
							color: #fd5401;
						}
					}
				}

				/*  리스트 간격 추가  */
				.product_list.lay01 {

					> li {
						padding: 15px 0 17px 0;
					}
				}

				/* 주문리스트 전체 링크 경우 - 주문확인  */
				> a {
					display: block;
					position: relative;
					padding: 0 20px;

					.webpos-ns-check {
						display:none;
						&:before{
							display: none;
						}
					}

					/* 주문확인 활성화 */
					&.active {
						background-color:#e6e6e6;

						.webpos-ns-check {
							display:block;
							position: absolute;
							top: 50%;
							left: 50%;
							width: 40px;
							height: 40px;
							padding: 0;
							margin: -12px -20px -20px;
							background-image:url('#{$contextPath}/assets/images/bg_check_round.png');
							background-repeat: no-repeat;
							background-position: 0 0;
							background-size: 40px;
							color: #fff;
							font-size: 15px;

							em {
								position: absolute;
								left: -9999px;
								width: 0;
								height: 0;
								line-height: 0;
								font-weight: 0;
							}

							&:before{
								display: inline-block;
								padding: 12px 10px 13px 10px;
							}
						}

						.user_info {
							border-bottom: 1px solid #d5d5d5;
						}

						.product_list {

							> li {
								border-bottom: 1px solid #d6d6d6;
							}

							.product_info {

								.info_list li + li {
									border-left:1px solid #c6c6c6;
								}
							}
						}

					}

				}
				.s_btn_area {
					margin:0px;
				}
        >.sy-check-active{
          position: relative;
          display: block;
          >.check_area{
	          position: relative;
          }
          >.check_area:before{
            content: "\e911";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('/assets/images/bg_check_round.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 40px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-family: 'webpos' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 15px;
            z-index: 9;
          }
          >.check_area:after{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #000;
              top: 0;
              left: 0;
              opacity: 0.2;
              z-index: 1;
          }
        }
        >.sy-check-active .print,
        >.sy-check-active .s_btn{
            z-index: 2;
            position: relative;
        }
			}
		}

		/* 주문리스트  */
		.product_list {

			a.p_link {
				display: inline-block;
				width: 100%;
				padding: 0;
			}

			> li {
				clear: both;
				overflow: hidden;
				padding: 10px 0;
				border-bottom: 1px solid #eee;
				&.cancelled{
					overflow: inherit;
					position: relative;
					.product_status{
						.p_qty{
							width:100%;
						}
					}
					.dim-cancelled{
						position: absolute;
						width: 100%;
						height: 90%;
						opacity: 0.2;
						background: #999;
						padding: 0px 5px;
						margin: -5px;
					}
				}
			}
			.thumb {
				overflow: hidden;
				float:left;
				width: 35px;
				height: 35px;
				margin-right: 10px;
				background-color: #ccc;
				img {
					width: 35px;
					height: 35px;
				}
			}

			/* 썸네일이 있는경우  */
			.product_info {
				float:left;
				width:76%;
				width: calc(100% - 45px);
				width: -moz-calc(100% - 45px);
				width: -webkit-calc(100% - 45px);

				.p_title {
					line-height : 12px;
					font-size: 10px;
					color: #999;
				}

				.p_bin {
					line-height : 12px;
					font-size: 10px;
					color: #999;
					text-align:right;
				}

				/* 상품 제목 + 금액 type  */
				.p_tit_type {
					clear:both;
					overflow: hidden;

					.p_title {
						float: left;
						width: 60%;
					}
					.sum {
						float: right;
						width: 40%;
						text-align: right;
					}
				}

				.info_list {
					padding-top: 10px;

					&.with_bin{
						padding-top: 8px;						
					}
				}


				/* 상품진행 상태 */
				.state_list.type2 {
					li {
						font-size:12px;
						a {
							font-size:12px;
						}
					}
				}

				/*  버튼이 있는 경우  */
				.state_list.type3 {
					padding-top: 1px;
					color: #999;
					font-size: 10px;
					position: relative;

					.date {
						float: left;
						padding-top: 7px;
					}
					.date-area {
						float: left;
						width: 70%;
						padding-top: 7px;

						.store {
							padding: 7px 0 0 0;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 1; /* 라인수 */
							-webkit-box-orient: vertical;
							word-wrap:break-word;
						}
						.date {
							float: none;
							padding-top: 0;
						}
					}

					.store_area {
						position: relative;
						float: right;
						width:58%;
						min-height: 25px;

						.store {
							display: inline-block;
							padding: 7px 71px 0 0;
                            width:46%;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 1; /* 라인수 */
							-webkit-box-orient: vertical;
							word-wrap:break-word;
							text-align: right;
						}
						.p_state {
							position: absolute;
							top: 7px;
							right:0;
						}
						.p_state.btn {
							top: 0;
						}
						&.type2 {
							position: static;
							width: 30%;

							.p_state.btn {
								top: auto;
								bottom: 0;
							}
						}
					}
				}
			}

			/* 하단 UI 및 상태 영역 */
			.product_status {
				.p_qty{
					padding-top: 20px;
					float: left;
					font-size: 12px;
				}
				.cancelled{
					font-size: 12px;
					float:right;
				}
			}

			/* 접수인, 주문날짜 */
			.state_list {
				clear: both;
				overflow: hidden;
				padding-top: 7px;

				li {
					float: left;
					color: #999;
					font-size: 10px;

					a {
						padding: 0;
						text-decoration: underline;
						color: #999;
						font-size: 10px;
					}

				}

				li + li {
					margin-left:15px;
				}

			}

			/* list 수량  */
			.num_line {
				position: relative;
				margin-bottom: 4px;

				> p {
					font-size: 12px;
					color: #000;
				}

				.pic_num {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

		}

		/* 주문리스트  - 주문정보 영역이 없는경우  */
		.product_list.row_col {
			border-top: 1px solid #989898;
			margin:0px 20px;
		}

		/* 리스트 하단 버튼 영역  */
		.s_btn_area {
			padding-top: 10px;
			text-align: right;
			margin:0px 20px;
			a + a {
				margin-left: 3px;
			}

			.cancelled_desc{
			    line-height: 12px;
			    font-size: 10px;
			    color: #999;
			}
		}

	}

	/* Table Type */

	/* 상세 table */
	.list_view_tbl {
		margin: 20px 20px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #eee;
		position: relative;

		table {
			width: 100%;
			margin: 10px 0;
		}

		th, td {
			vertical-align: top;
			padding: 5px 0;
			line-height:13px;
			text-align: left;
			font-size: 12px;
			color: #000;
			letter-spacing: -0.1px;
		}

		th {
			background-image:url('/assets/images/bg_tbl_dot.png');
			background-repeat: no-repeat;
			background-position: right 7px;
			background-size: 2px 7px;
			font-weight: normal;

			a {
				font-size: 12px;
				border-bottom: 1px solid #b0b0b0;
			}

		}

		td {
			position: relative;
			padding-left: 10px;

			.view_in_list {
				li {
					line-height: 12px;
				}

				li + li {
					margin-top: 10px;
				}
				.name, .deli {
					display: inline-block;
				}
				.deli {
					margin-left:15px;
				}
			}

			.btn_ac {
				top: 18%;

				.print {
					font-size: 12px;
					border-bottom: 1px solid #b0b0b0;
				}
				&.excel {
					top: -6px;
				}
			}

			.sum {
				margin-left: 15px;
			}
		}
		.title_link {
			display: inline-block;
			margin-top: 10px;
		}
		.store_in {
			width:95%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1; /* 라인수 */
			-webkit-box-orient: vertical;
			word-wrap:break-word;
		}

		&.bt_print {
			table {
				margin-bottom: 20px;
			}
			.btn_ac {
				top: auto;
				bottom: 5px;

				.print {
					margin-left: 5px;
				}
			}
		}
		&.payment_tbl{
			border-top: 0;
			.payment_title{
				padding:10px;
				background-color:#efefef;
			}
			table{
				th{
					background-image:none;
					padding-left:10px;
				}
				td{
					text-align:right;
					padding-right:10px;
				}
			}
		}
	}

	/*  input table - laypop */
	.list_view_tbl.form {
		padding: 12px 0;
		margin: 0;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #eee;

		ul {
			li {
				margin-bottom: 4px;

				&:after {
					content: "";
					display: block;
					clear: both;
				}
				.txt {
					float: left;
					width: 30%;
					color: #666;

					.in {
						color: #fd5401;
					}
				}
				.input_grp {
					float: left;
					width: 70%;
					position: relative;

					input[type="text"].inp,
					input[type="tel"] {
						width: 100%;
						box-sizing: border-box;
					}
					.inp + .inp {
						margin-top: 4px;
					}
				}
			}
		}
		table {
			margin: 0;
		}
		th, td {
			vertical-align: middle;
			padding: 2px 0;
		}
		th {
			background-image: none;
			color: #666;

			.in {
				color: #fd5401;
			}
		}
		td {
			height: 34px;

			input[type="text"].inp,
			input[type="tel"] {
				width: 90%;
			}
			.inp + .inp {
				margin-top: 4px;
			}
			.select_box select {
				width: 100%;
				background-position: 94% 50%;
			}
		}
		.sum {
				color: #fd5401;
			}
		.add {
			vertical-align: top;
			padding-top: 12px;
		}
	}

	/*  input table - 배송정보변경 디자인 수정 - laypop */
	.order-field-container {
		padding:15px 0px 0px 0px;

		.order-field-list{
			margin-bottom:30px;
			.tit {font-size:13px; margin-bottom:10px; color:#000000;}
			.agree{
				.agree-content{
					font-size:12px;	line-height:20px; margin-bottom: 5px;
					> * {font-size: 12px; margin-bottom: 8px;}
				}
			}
			.info{
				color:$font-3;
				font-size:$font-size-mini;
				line-height: 16px;
			}

			.payment-method-list{
				.payment-method-item{
					.payment-method-item-title{
						box-sizing: border-box;
						padding:13px 25px 12px;
						border:1px solid $border-3;
						font-size:$font-size-sm;
						cursor:pointer;
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color:$font-6;
							background-color: $primary-color;
							border:1px solid $primary-color;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}
					}
				}
			}
			.input-textfield{
				> label { /* color:#000000; */ left:12px;}
			}
		}
		.btn_search{
			background:#f8f8f8f8;
			color:#111111;
			margin:0 0 0 5px;
		}
	}

	.c_btn_area-box{
		.c_btn_area{z-index:1000;}
	}


	/* 컨텐츠 리스트 상세로 링크  */
	.con_layout.seamless  {
		.ful_list_type li .user_info, .product_list li {
			padding: 0;
			.box_link, .p_link {
				padding: 10px 0;
			}
		}
	}

	.con_layout.picking,
	.con_layout.recall,
	.con_layout.return {
		.ful_list_type li > a {
			padding: 0;
		}

		.user_info {
			.cord a {
				display: inline-block;
				color: #666;
				padding: 10px 0;
				margin: -10px 0;
			}
		}

		.product_info .p_title a {
			display:block;
			color: #999;
		}
	}

	/* 배송 관리 */
	&.delivery {
		.con_list_wrap {
			.ful_list_type {
				li {
					.user_info {
						padding-right: 46px;

						.user_name {
							top: 8px;
						}
					}
				}
			}
		}
		.total_num, .user_name {
			.select_box {
				select {
					height: auto;
					padding: 0 18px 0 0;
					border: 0;
					font-size: 11px;
				}
			}
			.select_box_btn {
				display: inline-block;
			    margin-right: 5px;
			    padding-right: 6px;
			    background-color: #222;
			}
		}

		.user_name {
			margin-top: -2px;
		}

		.total_num {
			.select_box {
				select {
					padding: 0 10px 0 0;
					background-position: 88% 55%;
					font-size: 12px;
				}
			}
		}
	}

	/* 처리버튼 하단에 고정 - mobile */
	.btn_area_mobile {
		border-top: 1px solid #eee;
		position:fixed;
		width: 100%;
		bottom: -5px;
		padding-top:5px;
		cursor: pointer;
		text-align:center;
		font-size:18px;
		box-sizing:border-box;
		z-index:100;
		background: #ffffff;
		padding-bottom: 10px;
		&:hover {
			background: $bg-4;
			color:$font-3;
		}
	}

	/* 처리버튼 하단에 고정 - pc */
	.btn_area_pc {
		border-top: 1px solid #eee;
		position:fixed;
		width:100%;
		bottom: 50px;
		padding-top:10px;
		cursor: pointer;
		text-align:center;
		font-size:18px;
		box-sizing:border-box;
		z-index:100;
		background: #ffffff;
		padding-bottom: 10px;
		&:hover {
			background: $bg-4;
			color:$font-3;
		}
	}
}

/* main only */
.pt_main {
	.fcontents_wrap {
		padding-bottom: 16px;
	}
}

/* layer_pop */
.uk-modal.uk-open .uk-modal-dialog.fulfill_pop  {
	position: relative;
	padding: 20px 0 50px 0;

	/* title */
	.pop-title {
		padding: 0 0 20px 0;
		margin: 0;
	}

	/* title line 삭제 */
	.pop-title.tit_type1 ,
	.sub_title.type1 {
		border: 0;
	}

	.sub_title {
		padding: 15px 0 10px;
		border-bottom: 1px solid #bbb;
		span {
			font-size: 12px;
			color: #999;
		}
	}

	.con_title {
		padding: 15px 0;
		font-size: 12px;
		color: #000;
	}

	/* 팝업 닫기 버튼  */
	.webpos-ns-pop-close{
		top: 5px;
		color: #000;
	}

	.fcontents_wrap {
		padding: 20px 20px 0;
		margin-bottom: 92px;

		.list_view_tbl {
			margin-top: 0;
		}
		.unit_line .total_num {
			right: 0;
		}
		.c_btn_area {
			position: absolute;
			bottom: 50px;
			width: 87.5%;
			padding: 0;
			margin: 0;
			z-index:0;
		}
		.btn_search{
			margin:0px;
			border: 1px solid #e5e5e5;
    		border-left: none;
		}
	}

	/* box 관리 */
	.fcontents_wrap.box_manage{
	}

	.box_tit {
		vertical-align: middle;
		background-position: right 14px;
	}
	.box_inp {
		.inp {
			padding: 5px 10px;
			width: 50px;
			text-align: center;
		}
	}

	.product_info.num_box {
		position: relative;

		.info_list {
			padding-bottom: 37px;
		}
	}

	.box_num_wrap {
		position: absolute;
		bottom: 0;
		right: 0;

		&:after{
			content:"";
			display:block;
		}

		.title {
			display: inline-block;
			float: left;
			padding: 6px 9px 0 0;
			font-size: 10px;
			color :#999;
			}

		.select_box {
			float: left;
			select {
				width:70px;
				height:25px;
			}
		}
	}

	/* bopis 인도관리, 거부 */
	.info_list_box {
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
	}

	.in_list_type1 {

		li {
			clear: both;
			overflow: hidden;
			font-size: 12px;
			color: #666;
			letter-spacing: -0.1px;

			> div {
				float: left;
				width: 50%;
				padding-right: 12px;
			}

			.date {
				width: 41%;
				text-align: right;
				color: #999;
			}
		}

		li + li {
			margin-top: 7px;
		}
	}
	.fcontents_wrap.deliver_manage {

		.product_list {
			 li {
				padding: 0;
				border-bottom: 0;
			}
		}

		.info_list.type2 {
			li {
				width: 47%;
				text-align: left;
				color: #666;
				letter-spacing: -0.1px;
			}
			li + li {
				padding-left: 15px;
			}
		}
	}

	.con_inp_wrap {
		clear: both;
		overflow:hidden;
		padding: 15px 0 10px 0;
		border-bottom: 1px solid #eee;
		dt, dd {
			float: left;
			padding-bottom: 5px;
		}
		dt {
			width: 25%;
			padding-top: 10px;
		}
		dd {
			width: 75%;
		}
		.select_box select {
			width: 100%;
			background-position: 94% 50%;

		}
	}

	.sum_control_box {
		position:relative;
		height: 28px;
		border: 1px solid #ddd;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;

		button {
			display: block;
			position: absolute;
			top: 0;
			width: 35px;
			height: 28px;
			padding: 0;
			i {
				font-size: 12px;
			}
		}
		.minus {
			left: 0;
			border-right: 1px solid #ddd;
		}
		.plus {
			right: 0;
			border-left: 1px solid #ddd;
		}

		span {
			display: inline-block;
			height: 28px;
			width: 67%;
			padding: 0 35px;
			line-height: 28px;
			text-align: center;
			font-weight: bold;
		}
	}

	/* 반품신청, 주문취소 */
	.fcontents_wrap.order_cancel {
		padding: 0;
		.ful_list_type {
			> li + li {
				margin-top: 0;
			}
			li {
				a.active {
					.webpos-ns-check {
						top: 8px;
						left: 20px;
						margin: 0;
					}
					.product_list {
						border-bottom: 0;
					}
				}
				a.active + .descript_wrap {
					display:block;
				}
			}
			.product_list {
				border-bottom: 1px solid #ddd;
				li {
					border-bottom: 0;
				}
			}

		}

		.sub_title {
			padding: 15px 0 10px 0;
			margin: 0 20px;
		}
		.product_info {
			position: relative;
			.p_title {
				width:60%;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1; /* 라인수 */
				-webkit-box-orient: vertical;
				word-wrap:break-word;
			}
			.sum {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.descript_wrap {
			display: none;
			overflow: hidden;
			clear: both;
			height:40px;
			background-color: #e6e6e6;
			padding: 0 20px 0 63px;
			border-bottom: 1px solid #ddd;
			dt {
				float: left;
				width:calc(100% - 140px);
				padding: 10px 0 10px;
				font-size: 12px;
				letter-spacing: -1.2px;
				em {
					margin: 0 3px 0 5px;
					color: #111;
				}
			}
			dd {
				float: right;
				position: relative;
				width: 140px;
				height: 30px;
				span {
					display: block;
					padding-top: 10px;
				}
				.select_box {
					width: 140px;
					height: 30px;
					position: absolute;
					top: 0;
					right: 0;
					select {
						width: 140px;
						background-position: 94% 50%;
						option {
							letter-spacing: -0.1px;
						}
					}
				}
			}
		}
		.list_view_tbl.form {
			margin: 0 20px;
			width: auto;
			td {
				padding-left: 10px;
				.select_box {
					margin-left: -10px;
				}
			}
		}
		.c_btn_area {
			padding: 0 20px;
		}
	}
}

/* 바코드 레이어 seamless 회수관리 적용 */
.header_layout_1.fulfillment_type {
	.header-lnb {
		height: 0;
		border-bottom: 0;
	}
}

/* 바코드 레이어 2018-01-30 삭제
.barcode-wrap2{
	.tab_bacode{
		overflow: hidden;
		padding-top: 120px;
		li{
			a{opacity: 0.3;}
			&.on{
				a{opacity: 1;}
			}
		}
		li:nth-child(1){
			float: left;
			margin-left: 40px;
		}
		li:nth-child(2){
			float: right;
			margin-right: 40px;
		}
	}
	.tab-cont{
		margin-top: 30px;

		h2 {
			position: absolute;
			left: 0;
			top: 20px;
			width: 100%;
			padding: 0 0 22px 0 !important;
			margin: 0 !important
		}
	}
	.wrap-camera{
		.inner {
			position:relative;
			&:before,&:after{
			content:"";
			display:block;
			width:22px;
			height:22px;
			border:3px solid #000;
			position:absolute;
			}
			&:before{
				left:40px;top:0;
				border-width:3px 0 0 3px;
			}
			&:after{
				right:40px;top:0;
				border-width:3px 3px 0 0;
			}
		}

	}
	.box-camera{
		position:relative;
		width:100%;
		height:250px;
		padding:0 40px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		&:before,&:after{
			content:"";
			display:block;
			width:22px;
			height:22px;
			border:3px solid #000;
			position:absolute;
		}
		&:before{
			left:40px;bottom:0;
			border-width:0 0 3px 3px;
		}
		&:after{
			right:40px;bottom:0;
			border-width:0 3px 3px 0;
		}
	}
	.txt-bacode{
		font-size:12px;
		line-height:14px;
		margin-top:36px;
		text-align: center;
	}
	.wrap-inputBacoed{
		padding:14px 0 9px;
		background-image:linear-gradient(to right, #ccc 75%, rgba(255, 255, 255, 0) 25%);
		background-position:left bottom;
		background-size:24px 1px;
		background-repeat:repeat-x;
		.input-bacoed{
			width: 100%;
			font-size:12px;
			line-height:20px;
			color:#000;
			font-weight:600;
			border:none;
			letter-spacing:17.4px;
			text-indent:4px;
		}
	}
	.uk-modal-close {
		top: 25px !important;
	}
}*/

/* 공지사항 - 신규디자인 (오픈 전 삭제) */
/* .board-contents {
	li, .board-head {
		border-bottom: 1px solid #eee;

		a, .board-head-bar {
			display: block;
			margin: 0 -20px;
			padding: 20px 90px 20px 20px;
			position: relative;

			.title {
				font-weight: 500;
				font-size: 12px;
				line-height: 1.4;
			}
			.new {
				position: relative;
				top: 3px;
				margin-left: 3px;
			}
			.date {
				font-size: 12px;
				color: #999;
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -6px;
				text-align: right;
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
	}
	.board-main {
		padding: 12px;
		border-bottom: 1px solid #eee;
		color: #2e2e2e;
		font-size: 12px;
		line-height: 1.6;
	}
	.board-btn-area {
		margin-top: 16px;

		a {
			display: block;
			width: 100%;
			height: 38px;
			color: #fff;
			font-size: 13px;
			line-height: 38px;
			background-color: #000;
			border: 1px solid #000;
			border-radius: 3px;
			text-align: center;
			box-sizing: border-box;
		}
	}
} */

/* 공지사항 - 테이블 */
.uk-modal {
	.contents {
		position: static;
	}
}
.customer-contents {
	.pop-title {
		.webpos-ns-arrow-prev {
			font-size: 13px;
		}
	}
	> .tab-filter-wrapper {
		margin-bottom: 0;
	}
}

.pop-title {
	padding: 39px 0 30px 0;
	margin-bottom: 0;
	font-size: 23px;
	color: #111;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.customer-faq {
	display:none;
}

.board-table {
	padding: 0 15px;
	thead {
		display: none;
	}
	td {
		padding: 18px 0;
		font-size: 12px;
		&.left { padding-left:0;}
	}
	.list-link {
		display: block;
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.board-date {
		display: table-cell;
		color: #999;
		text-align: right;
		padding-right:0;
	}
}
.board-view {
	padding: 0 15px;
	.view-title {
		border-bottom: 1px solid #eee;
		background-color: #fff;
		padding: 20px 0;
		position: relative;
		line-height: 1.4;

		.label {
			display: block;
			padding: 0;
			width: 76%;
		}
		.info {
			font-size: 12px;
			color: #999;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -6px;
			text-align: right;
			float: none;

			> * {
				margin-left: 0;
			}
		}
	}
	.view-contents-wrap {
		border: 0 none;
	}
	.view-contents {
		padding: 12px;
		color: #2e2e2e;
		font-size: 12px;
		line-height: 1.8;
		border-bottom: 1px solid #eee;
	}
	.board-btn-wrap {
		margin-top: 16px;

		a {
			display: block;
			width: 100%;
			height: 38px;
			color: #fff;
			padding: 0;
			font-size: 13px;
			background-color: #000;
			border: 1px solid #000;
			border-radius: 3px;
			text-align: center;
			box-sizing: border-box;
			line-height: 38px;
		}
	}
}

/* 매뉴얼 */
.btn-prev-manual {
	position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    width: 50px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    overflow: hidden;
}

.fulfillment-paging {
	.btn-pagination {
		margin: 0;
	}
}


.product_status {
	display: table;
	width: 100%;
	margin-top: 10px;
	.p_qty{
		display: table-cell;
		vertical-align: middle;
	}

	.quantity-container{
		display: table-cell;
		text-align: right;
	}
}

.toggle-container{
	margin-top: 8px;
	.quantity-container {
		float: left;
	}

	.btn-link {
		float: left;
		margin-top: 0;
		margin-left: 5px;
		height: 33px;
	}

	&:after{
		content: "";
		display: block;
		clear: both;}

	}

.fcontents_wrap .con_list_wrap .product_list .product_status .p_qty {
	padding-top: 0;
	float: none;
	.text-type2{
		display:table-cell;
		font-size:$font-size-smini;
		color:#999;
		padding-top:3px;
	}
}

.quantity-container{
	.quantity-controller{
		display: inline-block;
		width: 136px;
		&:after{
			content: "";
			display: block;
			clear: both;
		}
		> * {
			margin-left: -1px;
			&:first-child {
				margin-left: 0;
			}
		}

		.btn {
			float: left;
			margin: 0 0 0 -1px;
			padding: 9px 14px;
			border: 1px solid #dedfda;
			background: #fff;
		}

		.label {
			display: inline-block;
			float: left;
			width: 60px;
			height: 33px;
			padding: 0 13px;
			border: 1px solid #dedfda;
			box-sizing: border-box;
			text-align: center;
		}
	}
}

img{
	&.no-image{
		background-image: url('#{$contextPath}/assets/images/no-image.jpeg');
		background-size: 100%;
	}
}

// safari hack
_::-webkit-full-page-media, _:future, :root .quantity-container .quantity-controller .label { margin:0 -1px 0 -1px;}

.uk-modal{
	.uk-button{
		width:40%;
		&.js-modal-confirm{
			width:49%;
		}
		&.js-modal-confirm-cancel{
			width:49%;
		}
	}
}

@media (max-width:$breakpoint-small) {
	.loading{
		&.open{
			display:block !important;
		}
	}
}

/* 배송관리 모바일 인쇄 */
@media (max-width: $width-large) {
	.fcontents_wrap.delivery {
		.total_num {
			.select_box {
				select {
					width: 70px;
				}
			}
		}
		.user_name {
			.select_box {
				select {
					width: 40px;
				}
			}
		}
	}
}

/* PC버전 */
@media (min-width: $breakpoint-large) {
	[data-filter-form] {
		float: left;
		/*width: 20%;*/
	}
	.wrap-detail-filter.fulfill {
		position: static;
	}

	.fcontents_wrap .btn_area_pc {
    	position: static;
    	width: 100%;
  	}

  	.fcontents_wrap [data-module-fulfillpagination] + .btn_area_pc {
		position: fixed;
		width: 80%;
	}

	.filter-category-wrap .fcontents_wrap {
		float: left;
		width: 80%;
	}
	[data-module-return] {
		float: left;
		width: 80%;
	}
	[data-module-return] .fcontents_wrap {
		width: 100%;
	}

	[data-module-return] .fcontents_wrap .no-item {
		margin:0 20px;
	}

	#main_search_type {
		background-position: 98% 50%;
	}

	.filter_btn_area {
		display: none;
	}
}
