/*********************************************************************/
/* header
/*********************************************************************/
	.wrapper {
	 	padding-top:108px;		//header fixed고정 관련 contents영역 띠우는 값.
	}
	header {
		margin:0 auto;
	}

	.header_layout_1 {
		position: fixed;
		width: 100%;
		z-index: 101;

		/* GNB
		/*****************************************************************/
		.header-gnb {
			position: relative;
			color: $gnb_color-type1;
			font-size: $font-size-s;
			background: $gnb_bg-color-type1;
			box-sizing:border-box;
			border-bottom: 1px solid $gnb_border-color_type1;
			z-index: 102; 					// 개인 정보 레이어 관련 z-index 정의
			a {
				display:inline-block;
				padding:10px 0;
				color: $gnb_color-type1;
			}

			> .header-gnb_maxwidth {
				max-width: 100%;
				margin:0 auto;

				> .header-event {
					float:left;
					span {display:inline-block; padding:10px 0;}
				}

				> .header-mymenu {
					float:right;
					padding:0;
					margin:0 20px 0 0;

					> li {
						position: relative;
						display: inline-block;
						margin-left: 0;
						a {
							display: inline-block;
							padding: 0 11px;
							line-height: 38px;
						}
						.cart-item {
							position: relative;
							.ns-cart {
								font-size: 23px;
								vertical-align: middle;
							}
							.cart-num {
								position: absolute;
								top: 6px;
								right: 0;
								display: block;
								width: 16px;
								height: 16px;
								background-color: $primary-sub-color;
								-moz-border-radius: 50%;
   								-webkit-border-radius: 50%;
   				 				border-radius: 50%;
   				 				color: $font-6;
   				 				text-align: center;
   				 				font-size: 11px;
   				 				line-height: 16px;
							}
						}
						&.header-search {
							display: none;
						}

					}
					.flag-kr {
						@extend .icon-language;				// nike에 정의
						height: 15px;
						background-position: left top;
						background-size: 20px 15px;
						margin-right: 15px;
						padding-left: 22px;
						color: $font-6;
						line-height: 11px;
						vertical-align: middle;
					}
					.account-box {
						position: absolute;
					    top: 38px;
					    right: -81px;
					    width: 216px;
					    background-color: #fff;
					    opacity: 1;
					    padding: 25px 30px 18px;
					    border: 1px solid #e1e1e1;
					    border-radius: 4px 0 4px 4px;
					    font-size: 14px;
					    line-height: 34px;
					    box-sizing: border-box;
					    z-index: 101;
						> a {
							display: block;
							color: $font-1;
						}
					}
					.cscenter-box {
						position: absolute;
					    top: 38px;
					    right: -81px;
					    width: 216px;
					    background-color: #fff;
					    opacity: 1;
					    padding: 25px 20px 18px 30px;
					    border: 1px solid #e1e1e1;
					    border-radius: 4px 0 4px 4px;
					    font-size: 14px;
					    line-height: 34px;
					    box-sizing: border-box;
					    z-index: 101;
						> a {
							display: block;
							color: $font-1;
						}
					}
				}

				&:after {content:""; display:block; clear:both;}
			}

			.header-brand {
				li {
					display: inline-block;
					border-right: 1px solid  $gnb_border-color_type1;
					a {
    					display: inline-block;
    					height: 38px;
    					line-height: 38px;
    					padding: 0 20px;
    					min-width: 50px;
    					text-align: center;
    					vertical-align: top;
    					span {
    						vertical-align: top;
    						line-height: 38px;
    					}
					}
					.ns-jordan {
						font-size: 21px;
						&:hover {
    						color: $primary-color;
    					}
					}
					.ns-logo-converse {
						font-size: 72px;
						max-height: 21px;
						margin-bottom: 2px;
						&:hover {
    						color: $font-0;
    					}
					}
				}
			}
		}

		/* LNB - menu, search관련
		/*****************************************************************/
		.header-lnb {
			position:relative;
			display: table;
			width: 100%;
			height: 68px;
			margin:0 auto;
			padding: 0 30px;
			font-size:14px;
			text-align:center;
			box-sizing:border-box;
			//z-index:101; webPos주석 /* slider버튼 z-index위치관련 처리 */
			background: $gnb_bg-color-type1;
			border-bottom: 1px solid $gnb_border-color_type1;
			&:after{content:""; display:block; clear:both;}
			&.fixed {position:fixed;}

			// 주문결제 헤더 로고만 있는거 전체 공통
			&.align-center {
				.header-logo {
					display: inline;
					float:inherit;
					width: 100%;
					min-height: 50px;
					padding:0;

					.header-item {
						height: 68px;
					    display: table-cell;
					    vertical-align: middle;
					}
					img {max-height:44px;}
				}
			}


			a {
				color: $lnb_color-type1;
			}

			.header-logo {
				position: absolute;
				top: 0;
				/*
				display: table-cell;
				width: 194px;
				*/
				height: 68px;
				padding: 15px 0;
				text-align: left;
				box-sizing: border-box;
				vertical-align: middle;
			}
			.header-item {
				display: inline;
				// display: table-cell;
				// vertical-align: middle;
				img {

				}
				.webpos-ns-logo {
					font-size: 26px;
					vertical-align: middle;
				}
			}
			.category-title {
				font-size:18px;
				color: $title_category-color;
			}
			.mobile-header-title {display:none;}

			/* submenu - 1depth, 2depth, 3depth
			/*****************************************************************/
			.header-menu_onedepth{
				// float:left;
				display:table-cell;
				padding:0;
				line-height:26px;
				text-align:center;
				vertical-align: middle;

				> .onedepth-list {
					position: static;
					display:inline-block;
					padding:0 20px;

					&:first-child {
						// padding-left:0;
					}
					> a {
						position: relative;
						font-size: 16px;
						&.active {
							&:after {
								content:'';
								display: block;
								position: absolute;
								bottom: -25px;
							    width: 100%;
							    height: 2px;
							    background: #111;
							    padding: 0 20px;
							    margin-left: -20px;
							}
						}
					}

					> .header-menu_twodepth.active {
						display:block;
					}

					.img-menu {
						img {
							height: 13px;
							margin-top: -2px;
						}
					}
				}

				.twodepth-maxwidth {			// header의 submenu max넓이값 지정
					position: relative;
					max-width: 980px;
					margin: 0 auto;
					overflow: hidden;
				}
				.twodepth-submenu-t1 {
					display: block;
					float: left;
					width: 180px;
					padding-left: 30px;
					text-align: left;
					font-size: 16px;
					font-weight: bold;
				}
				.twodepth-submenu-t2 {
					display: block;
					float: left;
					width: 187px;
					&:nth-child(2n) {
						width: 167px;
						padding-left: 30px;

						&:before {
							content:'';
							display: block;
							position: absolute;
							top: 0;
							left: 211px;
							width:1px;
							height: 100%;
							border-left:1px solid $border-2;
						}
						&:after {
							content:'';
							display: block;
							position: absolute;
							top: 0;
							left: 596px;
							width:1px;
							height: 100%;
							border-left:1px solid $border-2;
						}
					}
				}

				.header-menu_twodepth {
					display:none;
					position:absolute;
					top: 68px;
					left:0;
					width: 100%;
					min-width:120px;
					padding: 45px 0;
					margin: 0 auto;
					border:1px solid $border-2;
					background: $lnb_depth2-bg-type1;
					line-height:30px;
					text-align: left;

					.twodepth-list{
						> a{
							display:block;
							color: $lnb_depth2-color-type1;
							font-size: 16px;
							font-weight: bold;
							&:hover {
								color: $lnb_depth2-color-type1-over;
							}
						}

					}
				}

				.header-menu_threedepth {
					color: $lnb_depth3-color-type1;
					line-height: 1.8;
					a {
						&:hover {color: $lnb_depth3-color-type1-over;}
					}
					.threedepth-list {
						> a {
							color: $lnb_depth3-color-type1;
							font-size: 13px;
							&:hover {color: $lnb_depth3-color-type1-over;}
						}
					}
				}

				.back-img {
					width:320px;
					background-repeat:no-repeat;
					background-position:bottom right;
				}
			}

			.header-menu_etc {
				display: none;
				position:relative;
				// display: table-cell;
				vertical-align: middle;
				text-align: right;

				> a {
					&:first-child {margin-left:0;}
					display:inline-block;
					margin-left:13px;
				}
			}

			.gnb-search-field {
				display: table-cell;
				width: 194px;
				padding-top: 14px;
				&.active {
					display: block !important;
				}
				.search-field {

					.input-textfield {
						z-index: 2;			// 검색어 border관련 z-index지정
					}
					.btn_search {
						position: absolute;
						top: 0;
						left: 0;
						width: 40px;
						height: 40px;
						padding: 0;
						background: transparent;
						z-index: 3;			// 검색어 border관련 z-index지정
						.text {
							display: none;
						}
						.ns-search {
							display: block;
							font-size: 23px;
							color: #020202;
						}
					}
				}

				.input-textfield {  // input 스타일 공통요소인지 파악해서 상위로 빼는것 고려
					> label {
						left: 41px;
						font-size: 13px;
					}
					> input {
						height: 40px;
						padding: 10px 30px 10px 40px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}

			.header-menu_mobile {
				display:none;

				&:after {content:""; display:block; clear:both;}

				> a {
					display:block;
					text-indent:0;
					// font-weight:bold;
					color: $font-0;
					>.webpos-ns-menu{
						font-size:14px;
					}

					> i {float:left;}
				}
			}

			ul {list-style:none; margin:0; padding:0; border:0;}
			.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
		}
	}

	/* mobile menu
	/*****************************************************************/
	.mobile-menu_wrap {
		font-size: 14px;

		.uk-offcanvas-bar {background-color: #fff;width:280px !important;}
		.user-state, .location {
			height:61px;
			border-bottom:1px solid #eee;
			padding:13px 15px 13px 10px;
			background-color: $mc-lnb_state-bg-color;
			box-sizing:border-box;

			.title {display:inline-block; margin-left:4px;
				// font-weight:bold;
			}
		}
		.user-state {
			padding-right:8px;
			p{
				float:left;
				width:120px;
				a{
					color:#999;
					font-size:14px;
					line-height:16px;
				}
				em{
					display:block;
					font-size:12px;
					line-height:14px;
					color:#000;
					margin-top:3px;
				}
				.webpos-ns-mypage{
					display:none;
					float:left;
					margin-right:11px;
					background:#eee;
					font-size:30px;
					border-radius:50%;
					&+span{
						display:none;
						line-height:14px;
					}
				}
				&.login-after{
					position:relative;
					padding-left:35px;
					a{
						display:none;
					}
				}
				&.login-after .webpos-ns-mypage{
					display:block;
					position:absolute;
					left:0;
					top:0;
					&+span{
						display:inline-block;
						margin: 0 0 0 5px;
					}
				}
			}
			> span{
				display: block;
				width:auto;
				float:right;
				text-align:center;
				margin-top:-13px;
				a{
					position:relative;
					display:block;
					float:left;
					text-align:center;
					/* margin-left:20px; */
					width:35px;
					height:60px;
					line-height:60px;
					&:first-child{
						margin-left:0;
					}
					&.btn-cart{
						position:relative;
						em{
							position:absolute;
							width:15px;
							height:15px;
							right:1px;
							top:2px;
							background:#fa5400;
							border-radius:8px;
							font-size:11px;
							color:#fff;
							line-height:15px;
							text-align:center;
						}
					}
					span{
						display:inline-block;
						&.webpos-ns-set{
							font-size:18px;
							/* margin-top:7px; */
						}
						&.webpos-ns-cart{
							font-size:20px;
							/* margin-top:5px; */
						}
						&.webpos-ns-slide-close{
							font-size:15px;
							/* margin-top:9px; */
							z-index:1010;
						}
					}
				}
			}

			//a {color: $mc-lnb_state-font-color;}
			.icon-home {
				display:none;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 22px;
				padding: 16px 20px;
			}
			.icon-close {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 22px;
				padding: 0 20px;
				line-height:60px;
			}
		}
		.mobile-title {
			width: 100%;
			padding: 20px;
			background-color: $bg-1;
			box-sizing: border-box;
			border-bottom: 1px solid #e5e5e5;
			color: #999;
		}
		.mobile-menu_twodepth {
			.location {
				i {
					// font-weight:bold;
					vertical-align:middle; color: $mc-lnb_depth1-color;}
				.title {padding:10px 0; color: $mc-lnb_depth1-color;}
			}
		}
		.mobile-onedepth_list {
			background:#fff;
			// > a {font-weight:bold;}
			&.btn-fulfillment{
				border-bottom:none;
				a{
					display:block;
					i{
						margin-right:10px;
						font-size:12px;
					}
				}
			}
		}

		.mobile-onedepth_list, .mobile-twodepth_list, .mobile-threedepth_list {
			border-bottom:1px solid #eee;
			background-color: #fff;
			> a {
				width:100%;
				display:inline-block;
				padding:23px 20px;
				color: #000;
				box-sizing:border-box;
			}
		}

		.mobile-menu_onedepth {
			height: auto;
		}
		.mobile-menu_twodepth {
			height: 100%;
			z-index: 1010;
		}
		.mobile-menu_threedepth {
			height: 100%;
			z-index: 1020;
		}

		.mobile-threedepth_list {
			&:last-child {border-bottom:0;}
		}
		.icon-arrow_right {
			float:right;
			font-size:10px;
			margin-top:2px;
		}
		.store_btn, .custom-center_btn, .logout_btn {display:inline-block; width:100%; padding:15px 25px; box-sizing:border-box; color: $mc-lnb_etc-font-color}

		ul {
			list-style:none;
			padding:0;
			margin: 0;
			border:0;
			background-color:#fff;
			height: 100vh;
		}

		.mobile-menu_link{
			position:fixed;
			bottom:0;
			width:280px;
			height:50px;
			z-index:1002;
			a{
				display:block;
				float:left;
				width:50%;
				height:50px;
				padding:17px 0;
				text-align:center;
				font-weight:700;
				border-radius:0;
				&.button-line{
					background:#fff;
					color:#000;
					border-top:1px solid #000;
				}
			}
		}
	}

	.mobile-menu_twodepth,
	.mobile-menu_threedepth{
		overflow-y:auto;
		position:fixed;
		width:280px;
		top:0;
		bottom:0;
		left:280px;
		background-color: $mc-lnb_depth2-bg;

		.location{
			position:relative;
			text-align:center;
			padding:14px 20px 15px 20px;
			i{
				position:absolute;
				left:10px;
				top:50%;
				margin-top:-15px;
				width: 30px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			}
			.title{
				margin:0;
				font-weight:bold;
			}
			.btn-slide-close{
				float:right;
				.webpos-ns-slide-close{
					font-size:15px;
					margin-top:9px;
				}
			}
		}
	}

	.mini-cart-cnt {
		position: absolute;
		top:10px;
		right:-2px;
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		background: $cart-icon_qty-bg;
		color:  $cart-icon_qty-color;
		font-size: 8px;
		line-height: 16px;
		text-align: center;
		vertical-align: middle;
		border:1px solid #fff;
		&.empty{
			&:after{
				display: none;
			}
		}
		&:after{
			// content: attr(icon-text-attr);


		}
	}

/*********************************************************************/
/* mobile responsible
/*********************************************************************/

	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {

	}

	/* Desktop and bigger */
	// @media (max-width: $breakpoint-large) {
		.wrapper {
			/* padding-top: 0;						// 모바일에서 fix해제로 padding값 0  */
			padding-top: 60px;
		}

		.header-menu_mobile{
			a{
				i{
					&.icon-arrow_left{
						font-size:18px;
						padding-top:3px;
					}
				}
			}
		}

		.header_layout_1{
			/* position: static;   				// 모바일에서 고정 제외 */
			.header-gnb {
				display: none;  				// 상단 메뉴 안보이게 처리
				.header-gnb_maxwidth {
					.header-event {float:none; text-align:center;}
					.header-mymenu {display:none;}
				}
			}

			.header-lnb {
				height: 60px;  					// 모바일 헤더 높이값
				padding:0;

				// 주문결제 헤더 전체 공통
				&.align-center {
					.header-logo {
						padding:3px 0 0 0;
					}
				}
				.header-logo {
					position:initial;
					float:none;
					display:inline-block;
					// width: 100%;
					height: 60px;  				// 모바일 로고 세로값  사이즈
					line-height:60px;
					text-align:center;
					padding:0;
					margin:0 auto;
					background-size:533px auto; // pc용 이미지 축소
					box-sizing: border-box;
					> span {
						font-size: 26px;
						line-height: 60px;
					}

					.header-item {
						img {max-height:50px}
					}
				}
				.header-item {
					display: inline-block;
					//margin-left: 27px;  		// 헤더 우측여백
				}
				.mobile-header-title {
					display:inline-block;
				}
				.header-menu_etc {
					position:absolute;
					top: 0;
					right: 0;
					display: block;
					width: 60px;
					text-align: center;
				/*	line-height: 60px; */
					> a {
						display: block;
						margin-top: 10px;
					    padding-top: 10px;
					    padding-bottom: 10px;
					    box-sizing: border-box;
						/* margin-left: 20px; */ 		// 헤더 우측 아이콘간의 여백
					}
					.webpos-ns-barcode{
						font-size:18px;
					}
					// i {
					// 	&.large {font-size:26px;}
					// }
				}


				.gnb-search-field {
					display: block;
					width: 100%;
					position: absolute;
				    top: 0;
				    left: 0;
				    padding-top: 0;

				    .search-field {
				    	.input-textfield {
				    		> label {
				    			display:block;
				    			top: 50%;
				    			left: 20px;
				    			font-size: 14px;
				    			line-height:18px;
				    			margin-top:-10px;
				    			color: #999;
				    			.webpos-ns-search{
				    				vertical-align:top;
				    				font-size:18px;
				    			}
				    		}
							> input {
								border: 0;
								height: 50px;
								padding: 0 36px 0 20px;
							}
							.btn-wrap {
								display: none;
							}
							&.focus{
								> label{
									display:none;
								}
							}
				    	}
				    	.btn_search { 		// mc에서 검색 버튼 비노출처리
				    		display: none;
				    	}

				    	.btn-search-close {
				    		position: absolute;
				    		top:0;
				    		right: 0;
				    		z-index:2;

				    		> span {
				    			display: inline-block;
				    			padding: 16px 15px;
				    			font-size: 22px;
				    			color: #111111;
				    		}
				    	}
				    }
				}



				.header-menu_mobile {
					display:block;
					position:absolute;
					top: 0;
					left: 0;  				// 헤더 우측여백
					width: 60px;
					height: 60px;
					line-height: 60px;
				}

				.header-menu_onedepth {
					overflow-y:auto;
					position:fixed;
					top:0;
					left:-320px;
					bottom:0;
					width:300px;
					padding:20px 0;
					line-height:1;
					float:none;
					background: $mc-lnb_bg-color;
					z-index:1000;

					> .onedepth-list {
						display:block;
						padding:0;

						> a {display:block;padding:20px 30px;}
					}

					.header-menu_twodepth {
						display:none;
						position:static;
						width:100%;
						padding:10px 0;
						border:0;
						margin:0;
						background: $mc-lnb_depth2-bg;
						line-height:30px;

						&.active {display:block;}
						.twodepth-list > a{display:block; padding:5px 30px;}
					}

					a {color: $mc-lnb_depth1-color;font-size:12px;}
				}
			}
		}
	// }
/* ASSIST_layout_file_header */
