/*********************************************************************/
/* login관련 스타일 정의
/*********************************************************************/

.login-wrap{
	margin:0 auto;
	width: 100%;
	
	padding: 0 20px 70px;
	box-sizing: border-box;

	&.width-small{
		max-width:420px;
	}

	> *{
		margin:0 auto;
		&.width-small{
			max-width:420px;
			padding-left:20px;
			padding-right:20px;
			box-sizing: border-box;
		}
	}
	.header {
		margin-bottom:30px;

		> .title {
			//margin-top: 15px;
			//margin-bottom:15px; 
			text-align:center; 
			font-size:17px; 
			color: $font-1;
			font-weight: 700;
			padding: 20px 0 40px;
			border-bottom:1px solid #eee;
		}
		> .description {
			text-align:center; 
			margin-top: 14px;
			line-height:20px;
			color: $font-3;
			font-size: 14px;

			&.type2 {
				margin-top: 28px;
				font-size: 12px;
				color: #2e2e2e;

				&.txt-bold {
					font-weight: 700;
				}
			}
		}
		> .regist-done-icon {
			display: inline-block;
		}
		> .sub-title {
			margin-top: 14px;
			line-height: 1.4;
		}
	}
	.register-done {
		padding: 130px 0;
		.header > .title {
			margin-top: 20px;
		}
	}
	.bullet-list {
		margin-top: 8px;
		
		li {
			line-height: 1.4;
			font-size: 12px;
		}
	}
	.body {
		margin-bottom:15px;
		&.after {content:''; clear:both; display:block;}
		.account-info {margin-top:10px;}
		.account-find {float:left; display:inline-block;}
		.account-register {float:right; display:inline-block;}
		.description {
			text-align: center; 
			margin-top: 20px;
			line-height: 20px;
			color: #2e2e2e;
			font-size: 12px;
		}
		/* 회원가입 약관 */
		.register-terms {
			.uk-grid {
				margin-left:0;
				> * {padding-left:0;}
			}
			.tit {
				font-size: 11px;
				margin-top: 30px;
				padding-bottom: 8px;
				font-weight: bold;
				color: $font-0;
			}
			.btn-agree-allview {
				font-size: 11px;
				margin-top: 30px;
				i {
					padding-left: 3px;
					font-size: 10px;
					vertical-align: -1px;
				}
			}
			.agree-content {
				h3 {
					font-size: 14px;
					padding-bottom: 10px;
				}
				line-height: 1.7;
				font-size: 11px;
			}
			.agree-test {
				padding-top: 7px;
				font-size: 11px;
				line-height: 1.5;
			}
			.agree-confirm {
				padding: 20px 0;
				text-align: center;
				font-size: 14px;
				line-height: 1.5;
			}
			table {
				font-size: 11px;
			    border: 1px solid $border-2;
			    background: $bg-1;
			    caption {display: none;}
			    th {
				    padding: 10px;
				    color: $font-3;
				}
				td {
				    padding: 10px;
				    border-top: 1px solid $border-2;
				    line-height: 1.7em;
				}
			}
		}
	}
	.footer {text-align: left; margin-top:15px; font-size: $font-size-s;}

	label{
		// display: none;
	}

	&.type2 {
		.title {
			padding-top: 40px;
			position: relative;

			h2 {
				font-size: 17px;
				font-weight: 700;
				color: $font-1;
			}
			.btn-prev {
			    position: absolute;
			    left: -20px;
			    top: 50%;
			    margin-top: -50px;
			    width: 50px;
			    height: 100px;
			    line-height: 100px;
			    text-align: center;
			    overflow: hidden;
			}
		}
	}
	&.forgot-password {
		.uk-grid {
			&.btn {
				margin-top: 36px;
			}
		}
		.footer {
			color: #999;

			.btn-txt {
				margin-right: 0;
				padding: 2px 0;
			}
		}
		.step-container {
			.list-container {
				li {
					padding: 12px 0;
					border-color: #ccc;

					&:last-child {
						border-color: #ccc;
					}
				}
				.content-box {
					padding: 0;
				}
				.info-group {
					width: 160px;

					.name {
						font-size: 12px;
						color: #2e2e2e;
						word-break: break-word;
					}
				}
				.btn-group {
					float: right;

					button {
						border-color: #2e2e2e;
					    color: #2e2e2e;
					    font-size: 12px;
					    width: 120px;
					    margin-top: 0;
					    padding-right: 0;
					    padding-left: 0;
					    letter-spacing: -1px;
					}
				}
				.action-group {
					button {
						width: 49%;
						font-size: 12px;
						letter-spacing: -1px;
						padding-right: 0;
   						padding-left: 0;
					}
				}
			}
			&.step-3, &.step-4 {
				.body {
					margin-top: 0;

					.description {
						font-size: 11px;
						margin-top: 0;
						padding-top: 0;
						color: #353535;
					}
				}
			}
		}
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.uk-modal-dialog{
		.login-wrap {
			margin-top: 0px;
			padding-left:0;
			padding-right:0;
			.header {
				// > .title {display:none;}
			}
			.register-done {
				padding: 30px 0 0;
			}

			> *{
				margin:0 auto;
				&.width-small{
					padding-left:0px;
					padding-right:0px;
				}
			}		
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.login-wrap{
		.header{
			margin-bottom:28px;
		}
		.uk-form-row{
			.uk-form-label{
				display:none;
			}
		}
		.body{
			margin-bottom:0;
			.uk-form-row{
				.uk-form-label{
					display:none;
				}
				.input-textfield input{
					height:40px;
					/* border:1px solid #ddd; */
					box-sizing:border-box;
				}
			}
			.uk-form-row+.uk-form-row+.uk-form-row{
				margin-top:30px;
			}
			
			.uk-grid{
				.uk-alert{
				margin-bottom:28px;
				padding:0;
				background:none;
				color:#fa5400;
				font-size:11px;
				}
				.uk-form-row{
					.input-textfield{
						.error-message{
							color:#fa5400;
						}
						&.error input{
							border:1px solid #fa5400;
						}
					}
				}
				.dynamic-form{
					.uk-form-row{
						position:relative;
						.show-password{
							display:block;
							position:absolute;
							width:auto;
							height:40px;
							right:11px;
							top:0;
							font-size:12px;
							line-height:40px;
							color:#007aff;
						}
					}
					.uk-form-row + .uk-form-row + .uk-form-row, .uk-form-row + .uk-form-row + .uk-form-row + .uk-form-row{
						float:left;
					}
					.uk-form-row + .uk-form-row + .uk-form-row{
						margin-right:25px;
					}
				}
			}
			.uk-margin-medium-top{
				margin-top:30px !important;
				.button.large{
					width:calc(50% - 1px);
					margin-right:2px;
					&:last-child{
						margin-right:0;
					}
				}
				.button.button-line{
					background:#fff;
					color:#000;
					border:1px solid #000;
					border-radius:2px;
				}
			}
			.bullet-list{
				width:100%;
				>li{
					position:relative;
					padding-left:11px;
					margin-top:8px;
					font-size:12px;
					line-height:17px;
					//letter-spacing:-1px;
					&:first-child{
						margin-top:0;
					}
					&:before{
						content:'';
						display:block;
						position:absolute;
						width:4px;
						height:4px;
						left:0;
						top:6px;
						background:#000;
						border-radius:5px;
					}
				}				
			}
		}
	}
}
