/*********************************************************************/
/* nike common 
/*********************************************************************/
	/* font - trade gothic bold 지정
	/*****************************************************************/

		.header_layout_1 .header-lnb .onedepth-list > a,
		.footer-contents .footer-nav dt,
		.footer-contents .footer-nav .company-info .cs-number,
		.footer-contents .newsletter-conts .newsletter-field .input-textfield > label,
		.footer-contents .newsletter-conts .newsletter-field .input-textfield > input,
		.f-title-box,
		.f-subtitle-box,
		.filter-tagbox .filter-tit .num,
		.filter-wrap_category .select-box.sort .select-head,
		.select-box .select-body .list .label,
		.header_layout_1 .header-lnb .header-menu_onedepth .twodepth-submenu-t1,
		.header_layout_1 .header-lnb .header-menu_onedepth .header-menu_twodepth .twodepth-list > a,
		.info-wrap_product .price-wrap,
		.info-wrap_product .item-location,
		.info-wrap_product .review-wrap .review-num,
		.info-wrap_product .guide-wrap .overview .tit,
		.cart-order_list .price-wrap,
		.section-minicart .cart-order_price .order-price,
		.n-review-sort .review-cnt .total-cnt,
		.n-review-read .read-list .review-help .btn-area .like .num,
		.login-wrap .header > .title,
		.mypage-cart .product-opt_cart .item-detail .total-price,
		/*.item-container .product-checkout,*/
		.mini-option-wrap .mini-product-item .mini-product-info .price,
		.order-wrap .product-checkout .info-price,
		.brz-badge-container span,
		.launch-category .info-sect .text-box .txt-description,
		.launch-category .info-sect .btn-soldout,
		.launch-category .info-sect .btn-comingsoon,
		.launch-category .info-sect .btn-buy,
		.launch-lnb .launch-menu > li a,
		.launch-category .img-sect .date .month,
		.launch-category .img-sect .date .day,
		.lc-prd-conts .product-info .txt-subtitle,
		.lc-prd-conts .product-info .txt-title,
		.lc-prd-conts .product-info .price,
		.lc-prd-conts .product-info .txt-date,
		.lc-prd-conts .btn-box .btn-comingsoon,
		.lc-prd-conts .btn-box .btn-buy,
		.lc-prd-bottom .product-info .txt-title,
		.related-category .info-sect .text-box .txt-subject,
		.related-category .info-sect .text-box .txt-description,
		.info-wrap_product_n .discription-wrap .pop-detail-title,
		.customer-title .tit,
		.customer-aside .customer-mile .mile,
		.customer-aside.mypage .lnb .phone,
		.filter-category-wrap .depth-tit,
		.location-title,
		.rsvp_item_box .rsvp_timer dd span {
			font-family: $typo-en;
		}


	/* iconfont - only nike 사용되는 아이콘만 정리
	/*****************************************************************/
		[class^="ns-"], [class*=" ns-"] {
		  /* use !important to prevent issues with browser extensions that change fonts */
		  font-family: 'nike' !important;
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;

		  /* Better Font Rendering =========== */
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		}

		.ns-ic-login2:before {
			content: "\e900";
			color: #aa8376;
		}

		.ns-chevron-right-medium:before {
		  content: "\e901";
		}
		.ns-chevron-left-medium:before {
		  content: "\e902";
		}
		.ns-store .path1:before {
		  content: "\e903";
		  color: rgb(255, 255, 255);
		}
		.ns-store .path2:before {
		  content: "\e904";
		  margin-left: -1.099609375em;
		  color: rgb(255, 255, 255);
		}
		.ns-store .path3:before {
		  content: "\e905";
		  margin-left: -1.099609375em;
		  color: rgb(18, 18, 18);
		}
		.ns-store .path4:before {
		  content: "\e906";
		  margin-left: -1.099609375em;
		  color: rgb(0, 0, 0);
		}
		.ns-mypage:before {
		  content: "\e907";
		}
		.ns-360:before {
		  content: "\e001";
		}
		.ns-alert:before {
		  content: "\e002";
		}
		.ns-arrow-fill-down:before {
		  content: "\e003";
		}
		.ns-arrow-fill-left:before {
		  content: "\e004";
		}
		.ns-arrow-fill-right:before {
		  content: "\e005";
		}
		.ns-arrow-fill-up:before {
		  content: "\e006";
		}
		.ns-arrow-thick-down:before {
		  content: "\e007";
		}
		.ns-arrow-thick-left:before {
		  content: "\e008";
		}
		.ns-arrow-thick-right:before {
		  content: "\e009";
		}
		.ns-arrow-thick-up:before {
		  content: "\e00a";
		}
		.ns-arrow-thin-left:before {
		  content: "\e00b";
		}
		.ns-arrow-thin-right:before {
		  content: "\e00c";
		}
		.ns-basketball:before {
		  content: "\e00d";
		}
		.ns-cart:before {
		  content: "\e00e";
		}
		.ns-chat:before {
		  content: "\e00f";
		}
		.ns-check-circle:before {
		  content: "\e010";
		}
		.ns-check:before {
		  content: "\e011";
		}
		.ns-connected-apps:before {
		  content: "\e012";
		}
		.ns-email:before {
		  content: "\e013";
		}
		.ns-facebook:before {
		  content: "\e014";
		}
		.ns-feed:before {
		  content: "\e015";
		}
		.ns-filter:before {
		  content: "\e016";
		}
		.ns-flag:before {
		  content: "\e017";
		}
		.ns-friends:before {
		  content: "\e018";
		}
		.ns-fuel:before {
		  content: "\e019";
		}
		.ns-fuelband:before {
		  content: "\e01a";
		}
		.ns-fullscreen:before {
		  content: "\e01b";
		}
		.ns-gear:before {
		  content: "\e01c";
		}
		.ns-gear2:before {
		  content: "\e01d";
		}
		.ns-globe:before {
		  content: "\e01e";
		}
		.ns-grid:before {
		  content: "\e01f";
		}
		.ns-heart:before {
		  content: "\e020";
		}
		.ns-help:before {
		  content: "\e021";
		}
		.ns-home:before {
		  content: "\e022";
		}
		.ns-hurley-icon:before {
		  content: "\e023";
		}
		.ns-hurley:before {
		  content: "\e024";
		}
		.ns-info:before {
		  content: "\e025";
		}
		.ns-instagram:before {
		  content: "\e026";
		}
		.ns-jordan:before {
		  content: "\e027";
		}
		.ns-kinect:before {
		  content: "\e028";
		}
		.ns-link:before {
		  content: "\e029";
		}
		.ns-live-chat:before {
		  content: "\e02a";
		}
		.ns-lock:before {
		  content: "\e02b";
		}
		.ns-menu:before {
		  content: "\e02c";
		}
		.ns-minus:before {
		  content: "\e02d";
		}
		.ns-nano:before {
		  content: "\e02e";
		}
		.ns-nikeid-circle:before {
		  content: "\e02f";
		}
		.ns-nikeid:before {
		  content: "\e030";
		}
		.ns-pause:before {
		  content: "\e031";
		}
		.ns-payment-options:before {
		  content: "\e032";
		}
		.ns-pin:before {
		  content: "\e033";
		}
		.ns-pinterest:before {
		  content: "\e034";
		}
		.ns-play:before {
		  content: "\e035";
		}
		.ns-plus-large:before {
		  content: "\e036";
		}
		.ns-plus:before {
		  content: "\e037";
		}
		.ns-profile-share:before {
		  content: "\e038";
		}
		.ns-profile:before {
		  content: "\e039";
		}
		.ns-qzone:before {
		  content: "\e03a";
		}
		.ns-rotate-left:before {
		  content: "\e03b";
		}
		.ns-rotate-right:before {
		  content: "\e03c";
		}
		.ns-running-gps:before {
		  content: "\e03d";
		}
		.ns-search:before {
		  content: "\e03e";
		}
		.ns-share:before {
		  content: "\e03f";
		}
		.ns-snkrs:before {
		  content: "\e040";
		}
		.ns-sportband:before {
		  content: "\e041";
		}
		.ns-sportwatch:before {
		  content: "\e042";
		}
		.ns-square:before {
		  content: "\e043";
		}
		.ns-star:before {
		  content: "\e044";
		}
		.ns-swoosh-circle:before {
		  content: "\e045";
		}
		.ns-swoosh-plus:before {
		  content: "\e046";
		}
		.ns-swoosh-word:before {
		  content: "\e047";
		}
		.ns-swoosh:before {
		  content: "\e048";
		}
		.ns-thumbs-down:before {
		  content: "\e049";
		}
		.ns-thumbs-up:before {
		  content: "\e04a";
		}
		.ns-training:before {
		  content: "\e04b";
		}
		.ns-twitter:before {
		  content: "\e04c";
		}
		.ns-volume-0:before {
		  content: "\e04d";
		}
		.ns-volume-1:before {
		  content: "\e04e";
		}
		.ns-volume-2:before {
		  content: "\e04f";
		}
		.ns-volume-3:before {
		  content: "\e050";
		}
		.ns-volume-mute:before {
		  content: "\e051";
		}
		.ns-wechat:before {
		  content: "\e052";
		}
		.ns-weibo:before {
		  content: "\e053";
		}
		.ns-x-circle:before {
		  content: "\e054";
		}
		.ns-x-small:before {
		  content: "\e055";
		}
		.ns-x:before {
		  content: "\e056";
		}
		.ns-youtube:before {
		  content: "\e057";
		}
		.ns-zoom-in:before {
		  content: "\e058";
		}
		.ns-zoom-out:before {
		  content: "\e059";
		}
		.ns-clock:before {
		  content: "\e05a";
		}
		.ns-converse:before {
		  content: "\e05b";
		}
		.ns-nike-plus-snkrs:before {
		  content: "\e05c";
		}
		.ns-edit:before {
		  content: "\e05d";
		}

		.icon-language {
			display:inline-block;
			overflow:hidden;
			background-image:url('/assets/images/ko_flag.png');
			background-repeat: no-repeat;
		}

	/*  one depth 카테고리 tab형태의 메뉴 (상단에 위치)
	/*****************************************************************/
	.pt_category-onedepth {
		.title {
		width: 100%;
		height: 51px;
		font-size: 42px;
		font-weight: bold;
		letter-spacing: -0.6px;
		text-align: center;
		color: #111111;
		padding-top:56px;
		padding-bottom: 24px;
		}
	     
		/* nav tag */
		.category-tab-menu {
			height: 17px;
			padding-bottom: 48px; 
			text-align: center; 
			> li {
				display:inline;                         /*  세로나열을 가로나열로 변경 */
				border-left:1px solid #666666;          /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
				font-size: 14px;
				padding:0 40px;                         /* 각 메뉴 간격 */
				&:first-child {
					border-left: 0;						/* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */  
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
		}
		    

	/*  one depth 카테고리 down형태의 메뉴 (하단에 위치)
	/*****************************************************************/
	.catedown-menu_onedepth {
		width: 947px;
		margin: 30px auto 10px;

		&:after {
			content:'';
			display: block;
			clear: both;
		}

		.onedepth-list {
			position: relative;
			float: left;
			width: 220px;
			padding: 0 8px 70px;
			border-left: 1px solid #e5e5e5;
			text-align: center;

			&:first-child {
				border-left: 0;
			}
			&:after {
				content:'';
				display: block;
				position: absolute;
				bottom: 0;
				height: 10px;
				width: 220px;
				background: #e5e5e5;
			}

			> a {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 25px;
				padding-left: 10px;
				font-weight: bold;
				font-size: 16px;
				text-align: left;
				z-index: 2;
			}
		}
		.catedown-menu_twodepth {
			width: 100%;
			height: 110px;
			overflow: hidden;
			text-align: left;
			background-color: #fff;
			
			/* over시 활성화 부분 */
			&.active {
				position: absolute;
				top: -25px;
				left: -10px;
				height: auto;
				padding: 50px 0 60px 18px;
				z-index: 1;
				box-shadow: 0 2px 4px 4px rgba(142, 142, 142, 0.18);
				&:after {
					content:'';
					display: block;
					position: absolute;
					bottom: 20px;
					width: 220px;
					height: 10px;
					background-color: #2e2e2e;
					
				}
				
			}
			.twodepth-list {
				> a {
					display: inline-block;
					padding: 7px 0 7px 12px;
					font-size: 12px;
					color: #222;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}

		/* 더보기 버튼 스타일 */
		.btn-round-more {
			position: absolute;
			bottom: 45px;
			left: 50%;
			display: inline-block;
			width: 35px;
			height: 20px;
			margin-left: -17px;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			border-radius: 14px;
			border: solid 1px #e5e5e5;
			.icon-plus {
				line-height: 20px;
				font-size: 11px;
				font-weight: bold;
				color: #000;
				cursor: pointer;
			}
		}
	}


	/* page field로 만든 페이지 기본 class 모음 */
	.page-fileld-wrap {
		.responsible-image {
			width: 100%;
		}
	}

	/*  uikit 라이브러리 수정
	/*****************************************************************/
	.uk-close {
		position: relative;
		z-index:2;
	}









