/*********************************************************************/
/* 상품 상세페이지
/*********************************************************************/
	/*
	/*****************************************************************/
	.pt_product-detail {
		max-width: $pd-max-width;		//최대 넓이값 지정 (상세페이지용)
		margin: 0 auto;
	}


	/* 상세페이지 빅이미지
	/*****************************************************************/

	.product-detail_wrap {
		&.uk-grid {
			margin-left: 0;			/* 라이브러리 재공 그리드 재정의 */
		}
	}

	/* 상품상세 이미지뷰 (기존 버전) */
	.img-detail_product {
		position:relative;
		width: 900px;
		padding: 0;
		text-align:center;

		.product-ico {
			position:absolute;
			right:30px;
			top:-20px;
			font-size:60px;
			color: $primary-color;
		}

		.masker {
			overflow:hidden;
			max-height:700px;
		}

		.product-gallery {
			.swipe-container {width:100%;}
			.bx-controls {display:none;}
		}

		.product-gallery-slide {
			width:100%;
			min-width:415px; 		/* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			margin-right:0;
			background: #f5f5f5;
			img {
				display:inline-block;
				padding: 50px; 		/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
			}
		}
	}

	/* 상품상세 이미지뷰부분 썸네일 */
	.product-gallery-wrap {
		position:relative;

		.btn-next,
		.btn-prev {display: none !important;} /* thumbnail이미지 좌우 화살표 버튼 비노출 (상하, 좌우일때 테스트 필요) */

		.product-thumb {
			width:60px;
			font-size:11px;
			position:absolute;
			top:0;
			left:0;
			z-index:11;

			.thumb-title {
				margin-bottom:15px;
				font-size:11px;
			}

			.thumb-list {
				// @include product-detail_thumb-list;
				position: relative;
				width: 60px;
			    height: 60px;
			    background: #f5f5f5;
				margin-bottom: 1px;
				cursor: pointer;

				&:hover {
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 3px solid #e5e5e5;
					}
				}

				&.active {
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 3px solid #e5e5e5;
					}
				}
				img {
					display:block;
					width:100%;
					padding: 5px;			/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
				}
			}

			> ul {list-style-type:none; padding:0; margin:0; border:0;}
		}

		&.left {
			.product-gallery {padding-left: 80px;}
			.product-thumb {
				overflow:hidden;
				bottom:0;
			}
		}

		&.bottom {
			.product-thumb {
				position:static;
				width:100%;
				overflow:hidden;
				&:after {content:""; display:block; clear:both;}

				.thumb-wrap {
					width:1000%;
					margin:10px auto 0 auto;
					margin-top:10px;
				}
				.thumb-list {
					float:left;
					overflow:hidden;
					width:80px;
					height:98px;
					margin:0px;
					margin-left:10px;

					&:first-child {margin-left:0;}
				}
			}
		}
	}

	/*****************************************************************/
	/* new pdp */
	/*****************************************************************/
	/* 상품상세 이미지뷰 (신규 버전) */
	.img-detail_product_n {
		position:relative;
		float: left;
		width: 991px;
		width: calc(100% - 449px);
		padding: 0 54px;
		text-align:center;

		.img-detail-list {
			margin-left: -12px;
			li {
				padding-left: 12px;
				padding-bottom: 12px;
				.prd-gutter {
					padding: 20px;
					background: #f5f5f5;
				}
			}
		}

		.product-ico {
			position:absolute;
			right:30px;
			top:-20px;
			font-size:60px;
			color: $primary-color;
		}

		.masker {
			overflow:hidden;
			max-height:700px;
		}

		.product-gallery {
			.swipe-container {width:100%;}
			.bx-controls {display:none;}
		}

		.product-gallery-slide {
			width:100%;
			min-width:415px; 		/* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			margin-right:0;
			background: #f5f5f5;
			img {
				display:inline-block;
				padding: 50px; 		/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
			}
		}
	}

	/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
	.info-wrap_product_n {
		width: 449px;
		padding: 0 54px 0 10px;
		color: $font-2;
		box-sizing:border-box;
		text-align: left;

		.item-location {
			display: inline-block;
			margin-top: 10px;
			margin-right: 3px;
			font-size: 14px;
			color: #2e2e2e;
		}
		.title-wrap {
			margin-bottom:4px;
			color: $font-0;
			font-size: 28px;
			font-weight: bold;
			.subtit {color: $primary-sub-color;}
			// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
			.close-btn {display:none;}
		}

		/* 상품가격 */
		.price-wrap {
			display: inline-block;
			font-size: 20px;
			letter-spacing: 0.1px;
			color: $prd_price;

			> .price-sale {
				font-size: 14px;
				text-decoration:line-through;
				color: #909090;
			}
			> .price {
				// font-weight:bold;
				color: #000;
				> strong {
					font-size: 14px;
					font-weight: normal;
				}
			}
			> .price-sale + .price {
				color: #fa5400;
			}
			.sale-per {
				margin-top:14px;
				display:inline-block;
				margin-left:5px;
				color: $marketing-color;
				font-size:12px;
				&:hover {color: $marketing-color-over;}
			}
			.disc-num {
				display:inline-block;
			    margin-left:18px;
			    font-size:30px;
				color: $prd_sale-price;
			    font-weight:bold;
			}
		}

		/* 옵션, 스타일 그룹핑 */
		.pinfo-item-box {
			position: relative;
			margin-top: 0px;


			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
		}

		/* 옵션 - 사이즈, 컬러 */
		.option-wrap {
			&.line {
				padding-top: 28px;
			}

			.tit {
				margin: 20px 0 8px;
				font-weight: bold;
				font-size: 15px;
				color: $font-1;
				& span:first-child {
					display: none; 		//옵션타이틀명 비노출 처리 (ex: 컬러, 사이즈)
				}
			}
			.msg {
				display:inline-block;
				margin-left:10px;
				color: $caution-color;
			}
			.over-txt {
				display:inline-block;
				color: #666;
				font-size: 10px;
			}
			.input-select {
				margin-top:10px;
				&:first-child {margin-top:0;}
			}

			.product-option_radio {

				/* webpos 추가 */
				width:100%;
				position:relative;
				-webkit-overflow-scrolling: touch;

				.tit {
				  display:block;
				  width: 100%;
				  font-size: 15px;
				  color: $font-1;
				}

				.wrap-product_color{
					position:absolute;
					left:0;
					top:0;
				}

				/* 상품 옵션 - SIZE , Radio + Grid */
				.opt-list {
					&:after {
						content:'';
						display:block;
						clear:both;
					}
					span {
						position: relative;
						/* float: left;
						display:table; */
						width: 20%;
						height: 38px;
						box-sizing: border-box;
						text-align: center;
						margin: 0;

						display: inline-block;
						border: 1px solid #e5e5e5;
    					margin: -1px -1px 0 0;

					 	&:before {
							/* content:'';
							display:block;
							position: absolute;
							top: -1px;
							right: 0;
							left: -1px;
							bottom: 0;
							border-left: 1px solid #e5e5e5;
							border-right: 1px solid #e5e5e5;
							border-bottom: 1px solid #e5e5e5;
							border-top: 1px solid #e5e5e5; */
					 	}
					 	&.disabled {
							background-color: $form_bg-disabled;
							color: $form_text-color-disabled;

							&.img-type {
								filter: alpha(opacity=0.5);
								opacity: 0.3;
							}
						}
						label {
							/* display: table-cell; */
							vertical-align: middle;
							cursor: pointer;

							display: block;
							height: 100%;
							line-height: 38px;

							&.sd-out {
								background-color: #f7f7f7;
								color: #ddd;
								cursor: default;
							}
							&.selected {
								background-color: #111;
								color: #fff;
							}
						}
					}
				}
				/* webpos 추가 */


				&:after {content:''; display:block; clear:both;}

				.input-radio {
					position: relative;
					float: left;
					display: inline-block;
					width: 130px;
					margin: 0 0 0 4px;
					vertical-align:top;
					&:first-child {
						margin-left:0;
					}

					.label {
						padding: 11px 14px 0;
						letter-spacing: 0;
						display: inline-block;
						width: auto;
						height: 36px;
						text-align: center;
						color: $font-1;
						box-sizing:border-box;

						&.img-type {
							display:inline-block;
							width: 120px;
							height: 120px;
							padding:5px;
							background: #f5f5f5;
							> img {
								display:block;
								width:100%;
								padding: 0px;				/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
							}
						}
					}
					.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

					// &:hover {
					// 	.label {
					// 		border-color:$border-5;
					// 	}
					// }
					&.checked,
					&:hover {
						.label {
							position:relative;
							color: $font-0;

							// &:after {
							// 	content:'';
							// 	position:absolute;
							// 	top: 0;
							// 	right: 0;
							// 	bottom: 0;
							// 	left: 0;
							// 	border:3px solid  #e0e0e0;
							// }
						}
					}
					&.disabled {
						.label {
							background-color: $form_bg-disabled;
							color: $form_text-color-disabled;

							&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
						}
					}
				}

				&.circle {
					.input-radio {
						padding:3px;
						.label {
							// border:none;
							&.img-type{
								overflow:hidden;
								width:40px;
								height:40px;
								padding:5px;
								border-radius:50%;

								img {border-radius:50%;}
							}

							&:hover {border:1px solid $primary-color;}
						}
						.pattern {width:28px; height:28px; border-radius:50%;}

						&.checked {
							.label {
								border:1px solid $default-color;
								background-color: $default-color;
								color: $font-6;
								&.img-type {
									padding:5px;
									background-color: transparent;
								}
								&:after{display:none;}
							}
						}
					}
				}
			}
		}

		/* 이미지 상세보기 */
		.pdp-gallery-fullview {
			padding: 80px 0 40px;

			.pdp-gallery-fullview-wrapper {
				.pdp-gallery-fullview-overlay {
					.button-wrapper {
						.pdp-gallery-fullview-close {
							top: 20px;
							right: 20px;
						}
					}
				}
			}
		}

		/* 상품 별점 */
		.review-wrap {
			width: 96px;
			height: 15px;
			position: absolute;
			top: 50%;
			right: 40px;
			margin-top: -7px;
			font-size: 12px;
			color: $primary-color;

			.like {
			    position: relative;
			    display: inline-block;
			    height: 15px;
			    font-size: 0;
				color: transparent;
			    display:block;

			    > i {
				    font-size: 14px;
				}
				.per, .star-default-bg {
				    position: absolute;
				    top: 0;
				    left: 0;
				}
				.webpos-ns-star-black {
					z-index: 10;
					color: #111;
					overflow: hidden;
				}
				.star-default-bg {
				    color: #a5a5a5;
				    z-index: 5;
				}
			}
			&:after {content:''; display:block; clear:both;}
			.review-num {display: none; padding:0 0 0 2px;} 		//   리뷰 숫자 비노출 처리
			.upc-code {display: none;}							//   upc코드 비노출 처리
			.no-review {
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑*/
		.size-wrap {
			position: relative;

			&.line {
				//border-bottom: 1px solid #e5e5e5;
			}
			.opt-tit {

				font-size:14px;
				line-height:16px;
				color:$font-0;
				font-weight:bold;
				// position: absolute;
				// top: 0;
				// left: 0;

				// .tit {
				// 	display: none 						//옵션 타이틀텍스트 비노출 처리
				// }
				.msg {									//옵션 미 선택시 얼럿 텍스트
					display: none;
					position: relative;
					width: 114px;
					height: 30px;
					margin-top: -24px;
					text-align: center;
					background: #111;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					font-size: 10px;
					color: #fff;
					line-height: 30px;

					&.msg-on {
						display: block;
					}
					&:before {
						position: absolute;
					    top: 22px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
					}
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 36px;
						left: -4px;
						width: 122px;
						height: 48px;
						border:3px solid red;
						box-sizing: border-box;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}
			.msg-on{
				display:block;
				margin:15px 0 20px;
				color:#fa5400;
			}
			.select-box {
				width: 114px;
				margin: 7px 0;
				.select-head {
					padding: 13px 11px 13px 6px;
					border: 0;
					font-size: 15px;
					color: #2e2e2e;
				}
				&:before {
					position: absolute;
				    top: 50%;
				    right: 15px;
				    content: "";
				    display: inline-block;
				    width: 4px;
				    height: 4px;
				    margin-top: -6px;
				    border-right: 2px solid #111;
				    border-top: 2px solid #111;
				    transform: rotate(135deg);
				}
			}

			/* 사이즈가이드 */
			.option-guide {
				position: absolute;
			    top:0;
			    right:0;
				font-size: 12px;
				a {
					display:inline-block;
					line-height:16px;
					color:$font-3;
				}
			}
		}

		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑 - 그리드 타입 */
		.size-grid-type {
		    clear: both;
		    position: relative;
		    width:100%;
		    box-sizing: border-box;
		    .btn-option {
		      display: block;
		      position: relative;
		      padding: 0;
		      text-align: left;
		      border: none;
		      height: 60px;
		      line-height: 60px;
		      .tit {
		        display:block;
		        width: 100%;
		        font-size: 15px;
		        color: $font-1;
		      }
		      .default {
		        float: left;
		        width: -moz-calc(100% - 76px);
		        width: -webkit-calc(100% - 76px);
		        width: calc(100% - 76px);
		        -moz-border-radius: 3px;
		        -webkit-border-radius: 3px;
		        border-radius: 3px;
		        box-sizing: border-box;
		        text-align: right;
		        font-size: 12px;
		        color: $font-1;
		        padding-right: 20px;
		        &.selected {
		          color: #000;
		          font-weight:700
		        }
		      }
		    }

		    .opt-list {
		      ul {
		        width: 100%;
		      }
		      li {
		        position: relative;
		        float: left;
		        display:table;
		        width: 20%;;
		        height: 62px;
		        box-sizing: border-box;
		        text-align: center;
		        &:before {
		          content:'';
		          display:block;
		          position: absolute;
		          top: -1px;
		          right: 0;
		          left: -1px;
		          bottom: 0;
		          border-left: 1px solid #e5e5e5;
		          border-right: 1px solid #e5e5e5;
		          border-bottom: 1px solid #e5e5e5;
		          border-top: 1px solid #e5e5e5;
		        }
		        a {
		          display: table-cell;
		          vertical-align: middle;
		          cursor: pointer;
		          &.sd-out {
		            background-color: #f7f7f7;
		            color: #ddd;
		            cursor: default;
		          }
		          &.selected {
		            background-color: #111;
		            color: #fff;
		          }
		        }
		      }
		    }
		    .option-guide {
		    	display: inline-block;
			    position: absolute;
			    top: 24px;
			    right: 0;
			    font-size: 12px;
			    a {
			    	color: #aeaeae;
			    }
		    }
		    .tit {
		    	.txt {
		    		display: none;		/* 사이즈 옵션 라벨값 비노출 처리 */
		    	}
		    }
		}

		

		/* 구매, 장바구니 버튼 그룹핑*/
		.btn-group-box {
			clear: both;
			position: relative;
			margin-left: 0;
			padding-bottom: 20px;

			&.line {
				padding-top: 48px;
				border-bottom: 1px solid #e5e5e5;
				> * {
					padding-left: 0;					// 라이브러리 재공 그리드 재정의
				}
			}
			.btn-wishlist {
				float: right;
				width: 81px;
				height: 48px;
				background-color: #000000;
				-webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    > i {
			    	color: #fff;
			    	font-size: 18px;
			    }
			}
		}

		/* 수량선택 */
		.uk-modal {
			&.order-count {
				.uk-modal-dialog {
					&.count-select-dialog {
						min-height: 180px;
						position:absolute;
						left:0;
						right:0;
						bottom:0;

						.webpos-ns-pop-close {
							top:4px;
						}
						.msg {
							margin-left: 0;
						}
						.title {
							padding-bottom:8px;
							font-size:20px;
							color:$font-0;
						}
						.tit {
							margin: 10px 0 0 0;
							span:first-child {
								display: block;
							}
						}
						.quantity {
							padding-bottom: 20px;
						}
						.quantity_confirm {
							width: calc(50% - 2px);
						}
						.quantity_cancel {
							width: calc(50% - 2px);
						}
						.body {
							padding-top:24px;

							.count {
								margin-bottom:24px;

								.count-box {
									float:right;
									width:45%;
									position:relative;

									input {
										padding:0;
										margin-left:39px;
										font-size:12px;
										border:1px solid #e8e8e8;
										text-align:center;

										&::-webkit-inner-spin-button,
										&::-webkit-outer-spin-button {
										    -webkit-appearance:none;
										    -moz-appearance:none;
										    appearance:none;
										}
										.label {
											width:47px;
											height:42px;
											line-height:42px;
										}
									}
									button {
										width:40px;
										height:42px;
										line-height:42px;
										padding:0;
										border:1px solid #e8e8e8;
										border-radius:0;
										background-color:#fff;
										text-align:center;
										position:absolute;
										top:0;
										left:0;

										&.plus {
											left:85px;
										}
										span {
											position:absolute;
											left:-9999em;
										}
									}
									.label {
										width:47px;
										height:42px;
										line-height:42px;
									}
								}
								.price {
									float:left;
									width:55%;
									height:42px;
									font-size:16px;
									padding: 5px 0 0 0;
									box-sizing: border-box;

									span {
										display: block;
									}
									.p-tit {
										font-size: 12px;
										margin-bottom: 5px;
										color: #000;
									}
								}
								&:after {
									content:"";
									display:block;
									clear:both;
								}
							}
							.btn-link {
								font-size:14px;
							}
							.btn-link-nosign {
								font-size:14px;
							}
						}
					}
				}
			}
		}

		/* 구매, 장바구니 버튼 */
		.status-wrap {
			overflow: hidden;

			.order-wrap {
				width: 304px;
				width: calc(100% - 81px);
				float: left;
				.btn-link {
					width: 100%;
					text-align:center;
					&.right {float:right}
					&.left {float:left;}
					&.optchange-btn {width:100%;}
					&.btn-login {width:100%;}
				}
			}
			.btn-wishlist {
				float: right;
				width: 81px;
				height: 40px;
				background-color: #000000;
				-webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    > i {
			    	color: #fff;
			    	font-size: 18px;
			    }
			}
			.selected-opt {
				display:table;
				width:100%;
				border-top:1px solid #ebebeb;
				padding: 15px 0;

				&:first-child {margin-top:30px;}
				&:after {content:""; display:block; clear:both;}

				.opt {
					display:table-cell;
					overflow:hidden;
					width:40%;
					max-height:32px;
					line-height:16px;
					font-size:12px;
					vertical-align:middle;
				}

				.quantity{
					display:table-cell;
				}

				.total-price {
					display:table-cell;
					color:#2b5275;
					> strong {
						// font-weight:bold;
						font-size:20px;}
				}

				.delete-btn {position:relative;}
			}
			.samedayInfo {
				display: inline-block;
				width: 100%;
				margin-top: 10px;
				line-height: 15px;
				dt {
					width: 40px;
					float: left;
					position: relative;
					text-align: center;
					font-size: 11px;
					padding: 4px 0;
					border: 1px solid #222;
					box-sizing: border-box;
					border-radius: 2px;
				}
	
				dd {
					width: calc(100% - 50px);
					float: right;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}

		.guide-wrap {
			text-align:center;

			.shipping-text {
				width:100%;
				padding: 20px 0 ;
				line-height: 1.4;
				border-bottom: 1px solid #e5e5e5;
			}

			.description {
				text-align:left;
				line-height:1.5em;
			}
			.shot-discription {
				border-bottom:1px solid $border-1;
			}

			.overview {
				text-align:left;
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 20px;

				.tit {padding:20px 0 10px; font-size:14px;}
				.description {
					font-size: 12px;
					line-height:18px;
				}
			}
		}

		.sns-wrap {
			position: absolute;
			bottom: -10px;
			right: 0;

			// addthis extend
			.wish-btn {
				padding: 0;
				font-size: 24px;
				color: #ddd;
				.icon-wishlist_full {
					color: $primary-color;
				}
			}
			.ns-share {
				margin-left: 5px;
				font-size: 24px;
				color: #ddd;
			}
			.addthis_inline_share_toolbox {position:absolute; top:7px; right:0;}
			.icon-sns-kakao {
				display:none;
				position:absolute;
			    width:20px;
				right:0;
			}

			&:after {content:''; clear:both; display:block;}
		}

		/* 매장상품 확인, 예약 서비스 */
		.store-reserve-wrap {
			margin-top: 23px;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}

			.btn-storereserve {
				display: inline-block;
				color: #2e2e2e;
				font-weight: bold;
				font-size: 13px;
				vertical-align: top;
			}
			.icon {
				font-size: 30px;
				line-height: 0;
				color: #666;
				vertical-align: -8px;
			}
		}

		/* 입고알림 문자 */
		.stocked-wrap {
			position: relative;
			margin-top: -1px;
			background: $bg-1;
			z-index: 2;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.ns-live-chat {
				font-size: 26px;
				color: #666;
				vertical-align: middle;
			}
			.txt {
				padding: 0 3px 0 7px;
				font-weight: bold;
				font-size: 13px;
				color: #2e2e2e;
				vertical-align: middle;
			}
			.ns-help {
				font-size: 28px;
				color: #666;
				vertical-align: middle;

			}
		}

		/* 무료배송/반품 서비스 메세지 */
		.message-wrap {
			margin-top: 20px;
			font-size: 11px;
			color: #333;
			line-height: 15px;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
			}
		}

		/* 상품정보 등 아코디언 스타일 */
		.discription-wrap {
			text-align: left;

			.pop-detail-title {
				position: relative;
			    padding: 18px 0 18px 6px;
			    border-top: 1px solid #e5e5e5;
			    margin-bottom: 0;
			    font-size: 17px;
			    background-color: #fff;
			    color: #2e2e2e;
			    &.title-design {
			    	display: none;
			    }
			    &:after {
					font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e037";

				    float: right;
				    display: block;
				    font-size: 18px;
				    margin-top: 4px;

			    }
			    &.uk-active:after {
			    	font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e02d";

				    float: right;
				    display: block;
				    font-size: 18px;
				  	margin-top: 4px;
			    }
			    .uk-accordion-content {
			    	padding: 0 0 15px 0;
				    line-height: 20px;
				    font-size: 12px;
				    color: #000
			    }
			}
			.pop-detail-content {
				padding: 0 20px 28px 20px;
				text-align: left;
				line-height: 1.9;
				font-size: 13px;
				color: $font-0;
				.detail-review{
					margin-top:0;
				}
				.style-code{
					display:block;
					position:relative;
					font-size:12px;
					line-height:14px;
					margin:10px 0 13px;
					padding:0 0 0 15px;
					&:before{
						content:"";
						position:absolute;
						left:0;
						top:50%;
						display:block;
						width:4px;
						height:4px;
						margin-top:-2px;
						background:#000;
						border-radius:50%;
					}
					&+.style-code{
						margin-top:13px;
					}
				}
				.pop-detail-more{
					display:inline-block;
					margin-top:28px;
					font-size:14px;
					line-height:16px;
					font-weight:700;
					text-decoration: underline #a3a3a3;
				}
				.webpos-description {
					.description {
						overflow: hidden;
						/* text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						word-wrap: break-word; */
						line-height: 14px;
					}
				}
			}
		}

		.bundle-item {
			padding:20px 0;
			border-top:1px solid $border-2;
			&:first-child {border:0;}

			.name { line-height:27px; font-size:14px; color: $primary-color; }
			.qty { line-height:27px; font-size:14px; color: $primary-color; }
		}

		/* 교환/반품/AS */
		.sectionR-delivery{
			li{
				margin-top:5px;
				&:first-child{
					margin-top:0;
				}
				&:nth-child(6){
					a{
						letter-spacing:-1px;
					}
				}
			}
			a{
				display:block;
				font-size:12px;
				line-height:14px;
				padding:12px 10px;
				border:1px solid #ddd;
				border-radius:3px;
				background:#f8f8f8;
			}
		}

	}


	/* 상품정보 webpos 추가 */
	.info-wrap_product_n{
		.product-detail-title{
			position:relative;
			padding-bottom:28px;
			.title-wrap{
				padding-top:28px;
				margin:0;
			}
			.price-wrap{
				.item-location{
					display:block;
					font-size:12px;
					line-height:16px;
					margin:5px 0 0 0;
				}
				>.price-sale{
					display:inline-block;
					font-size:12px;
					line-height:16px;
					margin:6px 15px 0 0;
					vertical-align: top;
				}
				>.price{
					display:inline-block;
					font-size:12px;
					line-height:16px;
					vertical-align: top;
					margin:6px 0 0 0;
					>strong{
						display:inline-block;
						font-size:12px;
						line-height:16px;
						vertical-align: top;
					}
				}
			}
			.btn-prev{
				position:absolute;
				left:0;
				top:50%;
				margin-top:-46px;
				width:35px;
				height:92px;
				line-height:92px;
				text-align:center;
				overflow:hidden;
				.webpos-ns-arrow-prev{
					// font-size:15px;
				}
			}
		}
	}
	/* mobile chk*/
	body {
		&.mobile {
			.info-wrap_product{
				.sns-wrap {
					.addthis_inline_share_toolbox {right:27px;}
					.icon-sns-kakao {
						display:inline-block;
					}
				}
			}
		}
	}


	/* 상세페이지 빅이미지
	/*****************************************************************/

	/* 상품 상세 설명 - WebPos 추가 */
	.webpos-description {
		.description {
			margin: 20px 0;
		}
		.conTab {
			/* max-height:100px; */
			overflow:hidden;
			margin-bottom:0px;
		}
		.title,
		.subtitle {
			font-size: 16px;
		}
		.text-detail {
			font-size: 14px;
		}
		h2 {
			font-size:24px;
			color:$font-0;
			letter-spacing:-1px;
			line-height: 1.4;
		}
		h3 {
			font-size:16px;
			color:$font-0;
			letter-spacing:-1px;
			line-height: 1.4;
			margin-top:27px;
		}
		p {
		    margin-bottom: 10px;
		    color: #666;
			letter-spacing:-1px;
			line-height: 1.6;
		}
		ul {
			margin: 8px 0 20px;
		}
		li {
			line-height: 1.6;
			font-size: 12px;
		}
		.sectionR {
			margin-bottom:20px;
			line-height:1.6;
		}
		.pdp-guide-modal {
			padding:20px 0;
			width:100%;
			line-height: 1.6;
			box-sizing:border-box;
		}
	}

	/* datail title */
	.pop-detail-title {font-size:16px; padding:0 10px;}

	.product-detail_view {
		position:relative;
		margin-top:60px;
		padding:70px 0 0;

		&:after {
			content: '';
			position: absolute;
			top:0;
			//width: 3600px;  // 확인필요
			margin-left: -1000px;
			background: $bg-1;
			border-top: 1px solid $border-2;
		}
		&.line {
			border-top: 1px solid #e5e5e5;
		}

		/* 상품상세 설명 탭부분 */
		.detail-tab {
			width: 576px;
			margin:0 auto;
			text-align:center;

			&:after {content:""; display:block; clear:both;}
			//reset
			list-style-type:none; padding:0; border:0;

			.btn-tab {
				position: relative;
			    float: left;
			    width: 144px;
			    margin-left: -1px;
			    padding-bottom: 0;
			    background-color: #f8f8f8;
			    &:first-child {
			    	margin-left: 0;
			    }
			    &:hover {
			    	border-bottom: 0;
			    }
			    > a {
			    	display: block;
				    padding: 10px 0;
				    border-top: 1px solid #e5e5e5;
				    border-bottom: 1px solid #e5e5e5;
				    border-right: 1px solid #e5e5e5;
				    font-size: 12px;
				    color: #2e2e2e;
				    &:first-child {
				    	border-left: 1px solid #e5e5e5;
				    }

			    }
			    &.uk-active  {
			    	border-bottom: 0;
	   				background-color: #2e2e2e;

	   				 :after {
				    	position: absolute;
					    top: 28px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg)
				    }
				    a {
				    	color: #fff;
				    }
			    }

				// float:none;
				// display:inline-block;

				// > a {
				// 	display:inline-block;
				// 	padding:40px 0 0;
				// 	text-decoration:none;
				// 	outline:none;
				// 	&:hover, &:active {text-decoration:none;}
				// }
			}
		}

		/* 상세정보 탭 내용 */
		.detail-info {
			padding: 60px 0 30px;
			line-height: 20px;
			font-size: 12px;

			/* 상세정보 탭 - 제품상세설명 style : str */
			.content {
			    position: relative;
			    width: 902px;
			    margin: 0 auto;
			    zoom:1;
				&:after {
					content: '.';
				    display: block;
				    height: 0px;
				    clear: both;
				    visibility: hidden;
				}
				.sectionL {
				    float: left;
				    width: 300px;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				   	box-sizing: border-box;

				    img {
					    position: relative;
					    display: block;
					    width: 100%;
					}
					.imgArea {
					    width: 300px;
					    height: 300px;
					    background-color: #f5f5f5;
					    border: 1px solid #f5f5f5;
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					   	box-sizing: border-box;
					}
				}
				.sectionR {
				    float: left;
				    text-align: left;
				    > h2,
				    > h3 {
				    	color: #333;
					    font-size: 38px;
					    font-weight: bold;
					    letter-spacing: -1.5px;
				    }
				    > h3 {
					    margin-top: 27px;
					    font-size: 16px;
					    line-height: 14px;
					}
					> p {
					    margin-top: 21px;
					    color: #666;
					    line-height: 16px;
					    letter-spacing: -0.5px;
					}
					> ul {
					    margin-top: 10px;
					    li {
						    padding-left: 10px;
						    background: url(/assets/images/bl_dot.png) no-repeat left 7px;
						    color: #666;
						    line-height: 1.5;
						    letter-spacing: -0.5px;
						    font-weight: 300;
						}
						&.movie {
						    position: absolute;
						    top: 350px;
						    left: 40px;
						    li {
							    float: left;
							    position: relative;
							    padding-left: 0px;
							    margin-left: 12px;
							    background: url(http://image.nike.co.kr/web/bg/bg-mov-board.png) 0 0 no-repeat;

							    a >.btn {
								    display: none;
								    position: absolute;
								    top: 50%;
								    left: 50%;
								    margin-left: -14px;
								    margin-top: -14px;
								    width: 25px;
								    height: 25px;
								    background: url(http://image.nike.co.kr/web/btn/btn-mov-play.png) 0 0 no-repeat;
								}

								.tip {
								    display: none;
								    position: absolute;
								    left: -14px;
								    top: -50px;
								    width: 104px;
								    height: 47px;
								    padding: 8px;
								    background: url(http://image.nike.co.kr/web/bg/bg_mov_tip.png) no-repeat;
								    font-size: 10px;
								    color: #fff;
								    text-align: center;
								    z-index: 50;
								    span {
									    display: inline-block;
									    overflow: hidden;
									    width: 100px;
									    height: 27px;
									    line-height: 13px;
									    letter-spacing: -0.5px;
									}
								}

								&:hover {
									a >.btn {
									    display: block;
									}

									.tip {
									    display: block;
									}
								}
							}
						}
					}
				}
			}
			/* 상세정보 탭 - 제품상세설명 style : end */

			/* 상세페이지 상품정보 고시부분 */
			.product-noti-content {
				margin-top: 60px;
				padding: 60px 100px 0;
				border-top: 1px solid #e5e5e5;
				font-size:12px;
				color: #737373;

				> dl {
					padding:0;
					border:0;
					margin: 10px 0 0 0;
					&:first-child {margin-top:0;}
				}


				.noti-common {
					min-height: 18px;
					line-height: 18px;
					&:before {content:''; display:block; padding-top: 2px;}
				}
				.noit-title {float:left; width:200px;
					// font-weight:bold;
					 @extend .noti-common;}
				.noti-value {overflow:hidden; @extend .noti-common;}
			}

		}

		/* 배송/결제 정보 탭내용 */
		.detail-delivery {
			line-height: 1.6;
			padding: 60px 100px 30px;

			.delivery-text {padding:70px 0; text-align:center;}
			h1, h2, h3, h4, h5, h6 {
				margin-top: 15px;
			}
			ul {margin-top: 5px;}
		}

		/* 유의사항 탭내용  */
		.detail-attention {
			padding: 20px 100px;

			.at-box {
				&:after {
					content:'';
					display: block;
					clear: both;
				}
				.at-image {
				    float: left;
				    width: 200px;
				    height: 200px;
				    padding: 40px 58px;
				}
				.tit {
					font-size: 14px;
					color:#2e2e2e;
					margin-top: 40px;
					margin-bottom: 17px;
				}
				.at-text {
					float: left;
					width: 580px;
					font-size: 12px;
	 				line-height: 1.7;
	 				font-size: 12px;
	 				color: #666;
				}
			}
		}


		/* 교환/반품/AS 내용 */
		.detail-sevice {
			padding: 20px 100px;

			.tit {
				margin-top: 40px;
				margin-bottom: 17px;
				font-size: 14px;
				color: #2e2e2e;
			}
			li {
				font-size: 12px;
				line-height: 1.7;
				color: #666;
			}
			.detail-btn {
				display: inline-block;
				width: 66px;
				height: 24px;
				border-radius: 2.5px;
				border: solid 1px #dddddd;
				background-color: #f8f8f8;
				color: #111;
				font-size: 12px;
				line-height: 24px;
				text-align: center;
			}
		}
	}

	.exp-pdp-section-divider {
		//20180314 삭제 margin: 40px auto 0;
		width: 1312px;
		background-color: #ddd;
		height: 1px;
		display: block;
		margin: 0px auto 0;
	}
	.exp-pdp-benefits-container {
		width:100%;
		text-align: center;
		margin-top: 22px;
		margin-bottom: 46px;
		line-height: 18px;
	}

	/* product review write modal - uikit redefine*/
	.review-write {
		.uk-modal-dialog {
			width:480px;
			//padding:0;

			.popup-close_btn{
				&:first-child {
					margin:0;
				}
			}
		}
	}

	/* product, main review write */
	.order-lanscape-list {
		position: relative;

		&:after {content:'';display:block; clear:both;}

		.image-wrap {
			float: left;
		 	overflow: hidden;
			width: 60px;
		}
		.order-info {
			@include calc( width, '100% - 60px');
			@include box-sizing();
			float: left;
			padding-left: 20px;
			font-family:$typo-ko;
			.tit {
				overflow: hidden;
				display: inline-block;
			 	min-width: 100%;
				max-height: 32px;
				line-height: 16px;
				color: $primary-color;

			}
			.option {
				display:block;
				margin-top:5px;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
				span {
					display:block;
				}
			}
			.qty {
				display:block;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
			}
			.price-wrap {
				display:block;
				margin-top:5px;
				font-size:13px;
				color:$font-1;

				.sale-price {
					text-decoration:line-through;
					font-size:11px;
					color:$font-3;
				}
			}
		}
	}

	.review-write {
		@include box-sizing();
		// max-width:480px;
		padding:0 40px 30px;

		fieldset {
			border:0;
			padding:0;
			> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
		}

		.order-lanscape-list {
			padding: 40px 0 20px;;
		}

		.tit {color: $primary-color;}
		.like {margin:30px 0;}

		.rating-star-data {
			padding:10px 0 20px;
			text-align:center;

			.rating-description {
				padding:15px 0;
			}

		}
		.opt-value-data {
			padding:10px 0;

			.opt-txt {
				display:inline-block;
				font-size:13px;
				line-height:36px;
				color:$font-1;
				vertical-align:top;
			}
			.opt-strip {
				display:table;
				width:100%;

				.radio-style {
					display:table-cell;
				}
			}
			.opt-strip-label {
				margin-top:10px;
				.last {float:right;}
				&:after {content:''; display:block; clear:both;}
			}
		}
		.write-comment {
			margin-top:20px;
		}

		.review-img-uploader {

			.uplode-preview-list{
				margin-bottom:10px;

				.preview-up-img {
					position:relative;
					overflow:hidden;
					display:inline-block;
					width:58px;
					height:78px;
					margin:0 4px 10px 0;
					border:1px solid $border-3;
					background-color:$bg-2;

					.file-remove_btn {
						position:absolute;
						top:0;
						right:0;
					}

				}

			}

		}
		.review-btnarea{
			margin-top:40px;
		}
	}



	.product-opt_current {
		padding:20px 0;

		&:after {content:""; display:block; clear:both;}
		> .item-info {
			float:left;
			&:after {content:""; display:block; clear:both;}

			> .img-wrap {
				float:left;
				display:inline-block;
				width:60px;
				img {width:100%; display:block;}
			}
			> .info-wrap {
				float:left;
				height:60px;
				margin:12px 0 0 20px;
				display:inline-block;
				.tit {display:inline-block;width:100%;}
				.price {display:inline-block; margin-top:10px;}
			}
		}

		> .item-btn {
			float:right;
		}
	}






	/* tooltip */
		.tooltip-pos {
			display: none;
		}
		.tooltip-bg {
			position: absolute;
		    top: 0;
		    right: 50%;
		    min-width: 84px;
		     -webkit-transform: translate(50%, -75%);
		    transform: translate(50%, -75%);
		    text-transform: none;
		    border-radius: 0;  
		    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;


		    -webkit-box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;
   			box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;

   			background: #fff;
   			color: #111;
   			padding: 9px 12px;
   			font-size: 12px;
   			box-sizing: border-box;
   			z-index: 2;
   			text-align: center;
   			white-space: nowrap;

   			&:after {
   				content: "";
			    display: block;
			    position: absolute;
			    bottom: 0px;
			    right: 50%;
			    width: 8px;
			    height: 8px;
			    background: #fff;
			    border-bottom: 1px solid #ddd;
			    border-left: 1px solid #ddd;
			    transform: translate(50%, 50%) rotate(-45deg);
			    -webkit-transform: translate(50%, 50%) rotate(-45deg)
   			}
		}




	/* 상세 하단 고정부분 (상품간략정보 + 옵션변경 레이어)
	/*****************************************************************/
	.mini-option-wrap {
		position:fixed;
		left:0;
		right:0;
		bottom:-60px;
		height:60px;
		margin:0 auto;
		z-index:980;

		&:after {
			content:'';
			position:absolute;
			width:250%;
			margin-left:-1000px;
			height:60px;
			background: $bg-1;
			border-top:1px solid $border-2;
		}
		.mini-product-item {
			float:left;
			.product-thumb-img {
				display:inline-block;
				width:40px;
				height:40px;
				margin-left:15px;
				vertical-align:top;
				img {width:32px;}
			}
			.mini-product-info {
				display:inline-block;
				max-width:300px;
				margin-left:5px;
				.tit {
					display:block;
				}
				.price {
					display:block;
					margin-top:5px;
					color: $prd_sale-price;
					strong {font-weight: normal;}
				}
			}

		}

		> .btn-wrap {
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			height:60px;
			padding-top:10px;
			box-sizing:border-box;
			background-color: $bg-1;
			border-top:1px solid $border-2;
			z-index:1;

			.minioptbtn {position:absolute; top:10px; right:0; display:inline-block; width:240px; margin:0 15px 0 0; text-align:center;}
			.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
		}

		/* 하단 fixed부분의 옵션선택 */
		.info-wrap_product {
			display:none;
			text-indent:-9999px;
			visibility:hidden;

			position:absolute;
			right:0;
			bottom:0;
			padding-left:0;
			border:1px solid $border-2;
			background-color: $bg-1;
			z-index:20;
			padding: 0;

			.title-wrap {
				border-bottom:1px solid $border-2;
				margin-bottom:0;
				font-size:14px;

				.tit {overflow:hidden; display:inline-block; margin-top:0; padding:20px 14px 15px; font-size:14px; }
				.subtit {display:none;}
				.close-btn {display:block; padding:14px; font-size: 20px; background-color: transparent;}
			}
			.option-wrap, .status-wrap {
				padding:0 14px;
			}

			/* 하단 fiexed부분의 사이즈와 쇼핑백담기, 구매하기 그룹핑 */
			.btn-group-box {
				padding-bottom: 0;
				.opt-tit {
					left: 14px;
					.msg {
						&:after {
							width: 128px;
						}
					}
				}
				.select-box {
					width: 120px;
					margin-left: 14px;

					.select-body {
						bottom: 39px;
					}
				}
			}
			.pinfo-item-box {
				&.line {
					border-top: 0;
				}
				.style-code {			/* 하단 fixed 옵션 스타일코드 위치 재정의 */
					top: 0;
					right: 14px;
				}
			}
			.status-wrap {
				.btn-wrap {
					width:100%;
					padding-bottom:20px;
				}
			}

			.guide-wrap,
			.price-wrap,
			.review-wrap,
			.sns-wrap,
			.item-location,
			.store-reserve-wrap,
			.message-wrap,
			.stocked-wrap,
			.option-guide {display:none;} 		/* 하단 fixed 옵션선택 레이어부분 비노출 처리 */

			&.active {display:block; text-indent:0; visibility:visible;}
		}

		.dim {z-index:10;}
	}

	.product-soldout, .product-comming {
		text-align:center;

		.soldout, .comming {
			display:inline-block;
			width: 100%;
			padding:12px 20px;
			margin-top:50px;
			font-size:16px;
			background-color:$bg-5;
			color: $font-3;
			box-sizing: border-box;
		}

		.comming {
			margin-top:0;
		}
	}
	.shot-discription {
		margin:30px 0 20px;
		word-break:break-all;
		white-space:pre-wrap;
		line-height:1.5em;
		text-align:left;
	}

	/* 최근본 상품 */
	/*
	.contents {
		&.latest-items {
			.contents-title {
				&.center {padding-bottom: 0;}
			}

		}
	}
	*/

	.stone-guide {
		display:none;
		height:0;
	}

	/* modalLayer guide */
	#guide{
		.uk-modal-dialog {width:600px;}
	}

	/* 상품 QnA */
	.qna-wrapper {
		margin-bottom:80px;
		.tit {text-align:center; margin-bottom:20px;}
		.product-qna-btn-group {text-align:center;}
		.qna-less {
			.info {padding-top:50px; text-align:center;}
		}

		.write-comment {
			> textarea {
				border:1px solid $border-3;
				background:#fff;
			}
		}
		.qna-list {
			margin-top:30px;
			.list {
				position:relative;
				padding:20px 30px;
				border-bottom:1px solid $border-2;
				&:first-child {border-top:1px solid $border-2;}
			}
			.question-container, .answer-container {
				position:relative;
				padding-left:52px;
				font-size:14px;
				color:#2e2e2e;

				&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
				.custom-info {
					margin-top:8px;
					font-size:12px;
					color:$font-3;

					> * {display:inline-block;}
					.date {margin-left:10px;}
				}
			}
			.question-container {
				min-height:45px;
				&:before {content:"Q";}
			}
			.answer-container {
				margin-top:28px;
				&:before {content:"A";}
				.content {min-height:30px;}
			}
			.btn-container {
				position:absolute;
				top:20px;
				right:30px;
				z-index:5;

				> .btn-link {padding:0;}
			}
		}


		.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
	}


	.product-option-container{
		.pdp-accordion-list{
			.pop-detail-content{
				.sectionR{
					ul {
						li{
							height:auto !important;
						}
					}
				}
			}
		}
	}

	/* NiKE Seamless 구매안내 */
	.seamless-shipping-wrap {
		.header {
			.title {
				font-size:18px;
				padding: 20px 0 40px 0;
				color:$font-0;
				text-align:center;
			}
		}
		.grey-box-contents {
			padding:24px 15px;
			background-color:$bg-3;
			font-size:12px;
			color:$font-3;
			line-height:1.6;
			text-align:center;

			.title {
				font-size:18px;
				font-weight:400;
				margin-bottom:15px;
				color:$font-0;
				line-height:1.2;
			}
		}
		.count-list {
			margin-top:30px;

			dt {
				margin-bottom:10px;
				font-size:12px;
				color:$font-0;
				font-weight:bold;
			}
			dd {
				margin-bottom:15px;
				font-size:12px;
				color:$font-3;
				line-height:1.4;

				.underline {
					border-bottom:1px solid $font-2;
					color:$font-2;
				}
				.f-dgrey {
					color:$font-2;
				}
			}
		}
	}

	.uk-modal{
		&.layer-info{
			padding-top:20%;

			.uk-modal-dialog {
				width:calc(100% - 40px);
				margin:0 auto;
				min-height: 250px;

				.title {
					font-size:16px;
					font-weight:800;
					padding:20px 30px 24px 20px;
					margin-left:-20px;
					margin-right:-20px;
					border-bottom:1px solid $border-3;
					color:$font-0;
				}
				.body {
					padding:24px 0 32px 0;
					line-height: 20px;
				}
				.btn {
					a {
					    display: block;
					    float: right;
					    width: 49%;
					    line-height: 50px;
					    background: #000;
					    color: #fff;
					    font-weight: 900;
					    text-align: center;

					    &:first-child {
					    	float: left;
					    }
					}
					&:after {
						content: "";
						display: block;
						clear: both;
					}
				}
			}
		}

		&.fixed-height-modal {
			.uk-modal-dialog {
				overflow-y: auto;
				padding: 0;

				.webpos-description {
					padding: 100px 20px 20px;
					box-sizing: border-box;
				}
			}
		}
	}

	.review-lazy {
		.btn-pagination {
			margin:0;
		}
	}

	/* mediaquery */

	#locationInventory {
		.uk-modal-dialog {
			.bx-viewport02{
				width: 500px;
				margin:auto;
				ul {
					li {
						width: 500px !important;
					}
				}
			}
		}
	}

	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

		//product option
		.product-detail_wrap {
			> .img-detail_product {
				.product-gallery-slide {
					min-width:320px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
				}
			}
		}

		.info-wrap_product{
			.status-wrap {
				.btn-wrap {margin-top:30px;}
				.btn-link {
					width:100%;
					margin-top:10px;
					text-align:center;
					&:first-child {margin-top:0}
					&.right {float:inherit}
					&.left {float:inherit;}
				}
			}
		}

		.description{
			.content{
				width:100% !important;
			}
		}

		/* webpos 상품보유매장 팝업 */
		.pop-product-detailTop{
			position:fixed;
			left:0;
			top:0;
			border-bottom:1px solid #eee;
			height:100px;
			width:100%;
			padding:20px 40px 20px 95px;
			box-sizing:border-box;
			font-size:12px;
			line-height:17px;
			color:$font-0;
			background:#fff;
			z-index:1000;
			transform: translateZ(0);

			.item-imgwrap{
				position:absolute;
				left:20px;
				top:20px;
				width:50px;
				height:50px;
				background:#f5f5f5;
				padding:5px;
				img{
					display:block;
					width:100%;
				}
			}
			.item-title{
				margin:3px 0 4px;
			}
			.item-priceBox{
				.item-price, .price {
					display:inline-block;
					color: #737373;
				}
				.item-price-sale, .price-sale {
					display:inline-block;
					text-decoration:line-through;
					color: #737373;
					margin-right:10px;
				}
				.item-price-sale + span, .price-sale + span {
					color: #fa5400;
				}
			}
			.webpos-ns-pop-close {
			    position: absolute;
			    right: 0;
			    top: 25px;
			    font-size: 10px;
			    height: 50px;
			    width: 50px;
			    line-height: 50px;
			    text-align: center;
			}
		}


		.uk-modal-dialog{
			.product-title{
				text-align:center;
				color:#666;
				line-height:15px;
				padding:29px 0 14px;
			}

			.style-code{
				display:block;
				font-size:12px;
				line-height:14px;
				color:#666;
				margin:14px 0 5px;
				text-align:center;
			}

			.style-code+.style-code{
				margin-top:5px;
			}

			.style-code+.uk-accordion{
				margin-top:29px;
			}

			.uk-accordion{
				.pop-detail-title {
					position: relative;
					padding: 19px 0 18px 0;
					margin-bottom:0;
					font-size: 14px;
					color: #000000;
					font-weight: 700;
					line-height: 24px;
					border-top: 1px solid #e5e5e5;
					background:#fff;
					.select-size{
						position:absolute;
						right:22px;
						top:19px;
						font-weight:normal;
						color:$font-3;
					}
					.select-size.active{
						color:$font-0;
					}
					&:after{
						content:"";
						font-family: 'nike' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: "\e037";
						float: right;
						display: block;
						font-size: 18px;
						margin-top: 4px;
					}
					&.uk-active:after {
						content: "\e02d";
					}
				}
				.pop-detail-content{
					padding:0;
					.opt-tit,.opt-tit+div{
						display:none;
					}

					.detail-select-size{
						padding-top:0;
					}
				}
			}

			.product-detail-dsc{
				font-size:12px;
				line-height:17px;
				margin-bottom:28px;
				dt{
					font-weight:bold;
					margin-top:28px;
				}
				dd{
					margin-top:12px;
				}
			}

			.txt-kMark{
				font-size:12px;
				line-height:17px;
				padding:28px 0 27px 28px;
				margin-top:27px;
				border-top:1px solid #eee;
				background: url('/assets/images/k-mark.png') no-repeat;
				background-size: 18px 30px;
				background-position: 0 50%;
			}
		}

		#locationInventory {
			.uk-modal-dialog {
				.bx-viewport02 {
					width: 100%;
					ul {
						li {
							width: 320px !important;
						}
					}
				}
			}
		}
	}

	.uk-modal-dialog{
		.product-title{
			text-align:center;
			color:#666;
			line-height:15px;
			padding:29px 0 14px;
		}

		.style-code{
			display:block;
			font-size:12px;
			line-height:14px;
			color:#666;
			margin:14px 0 5px;
			text-align:center;
		}

		.style-code+.style-code{
			margin-top:5px;
		}

		.style-code+.uk-accordion{
			margin-top:29px;
		}

		.uk-accordion{
			.pop-detail-title {
				position: relative;
				padding: 19px 0 18px 0;
				margin-bottom:0;
				font-size: 14px;
				color: #000000;
				font-weight: 700;
				line-height: 24px;
				border-top: 1px solid #e5e5e5;
				background:#fff;
				.select-size{
					position:absolute;
					right:22px;
					top:19px;
					font-weight:normal;
					color:$font-3;
				}
				.select-size.active{
					color:$font-0;
				}
				&:after{
					content:"";
					font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "\e037";
					float: right;
					display: block;
					font-size: 18px;
					margin-top: 4px;
				}
				&.uk-active:after {
					content: "\e02d";
				}
			}
			.pop-detail-content{
				padding:0;
				.opt-tit,.opt-tit+div{
					display:none;
				}

				.detail-select-size{
					padding-top:0;
				}
			}
		}

		.product-detail-dsc{
			font-size:12px;
			line-height:17px;
			margin-bottom:28px;
			dt{
				font-weight:bold;
				margin-top:28px;
			}
			dd{
				margin-top:12px;
			}
		}

		.txt-kMark{
			font-size:12px;
			line-height:17px;
			padding:28px 0 27px 28px;
			margin-top:27px;
			border-top:1px solid #eee;
			background: url('/assets/images/k-mark.png') no-repeat;
			background-size: 18px 30px;
			background-position: 0 50%;
		}

		.btn-detail-search{
			line-height:15px;
			padding:18px 0 19px 20px;
			/* padding:0; */
			border:none;
			background-color:transparent;
			i{
				margin-right:10px;
				vertical-align:top;
				font-size:15px;
			}
		}

		.num{
			display: inline-block;
			float:right;
			line-height:15px;
			margin:18px 20px 19px 0;
		}
	}




	.a-product {
		margin-bottom: 25%;
		overflow: hidden;
		.category-overlaytext {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: inherit;
			min-height: 327px;
			text-align: center;
			z-index: 9;
		}
		.a-product-image {
			position: relative;
			.member-only-badge {
				display: inline-block;
				border-radius: 15px;
				width: 28px;
				height: 28px;
				margin: 9px 0 0 10px;
				background: #fff;
				font-size: 18px;
				position: absolute;
				left: 0px;
				text-align: left;
				z-index: 3;
				.member-lock {
					display: inline-block;
					color: #aa8375;
					padding: 4px 0 0px 5px;
				}
				&.on {
					z-index: 4;
				}
			}
			.member-only-overlay {
				/*display: none;*/
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: #fff;
				opacity: 0.9;
				cursor: pointer;
				z-index: 4;
				.member-lock {
					position: absolute;
					top: 15px;
					left: 15px;
					font-size: 18px;
					display: inline-block;
					color: #aa8375;
				}
				.member-only-txt {
					margin: 50px 10px 0 17px;
					color: #aa8375;
					font-weight: bold;
					font-size: 14px;
					line-height: 18px;
				}
			}
			.icon-1on1-bedge {
				position: absolute;
				top: 0;
				right: 0;
				width: 25%;
				z-index: 3;
			}
		}
		.a-product-info {
			text-align: left;
			.product-display {
				display: flex;
				justify-content: space-between;
				word-break: keep-all;
				line-height: 1.6em;
				letter-spacing: -0.5px;
				.product-info {
					width: 66.666666666%;
					.product-display-badge {
						color: #aa8375;
					}
					.product-soldout-badge {
						height: 0;
						font-size: 0;
						color: #fe0000;
						transition: height 0.3s;
						&.isActive {
							height: 24px;
							font-size: 16px;
						}
					}
					.product-colorways-number {
						padding-top: 3px;
					}
				}
				.product-price {
					.text-color-secondary {
						text-decoration: line-through;
					}
				}
				.product-display-price {
					white-space: nowrap;
				}
			}
			.product-display-name {
				line-height: 1.4em;
				.item-title {
					display: block;
					white-space: pre-wrap;
					word-break: break-all;
				}
			}
		}
	}


	// prd imgs
	.ncss-col-sm-6>.bannerImag,
	.a-product-image-primary,
	.a-product-image-secondary,
	.a-product-image-extra {
		position: relative;
		z-index: 2;
		background: rgb(245, 245, 245);
		width: 100%;
		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.a-product-image-secondary {
		display: none;
		z-index: 3;
	}

	.a-product-image-extra {
		display:none;
		position: absolute;
		left: 0;
		top: 0;
	}

	// overlay trigger
	.a-product.hover {
		&:before {display:none;}
		.member-only-overlay {
			display: block;
		}
		.product-colorways-wrapper {
			display: block;
		}
	}
	.product-display-price-discount {
		span {
			text-decoration: line-through;
		}
	}

	// 연관상품 디스플레이
	.available-wrap {
	.a-product {
		margin-bottom: 0;
		.a-product-info {
			padding-bottom: 20px;
			.product-display  {
				display: block;
			}
			.product-price {
				display: table;
				.product-display-price {
					text-align: left;
				}
			}
			.product-display-name {font-size: 16px;}
			.product-subtitle,
			.product-colorways-number,
			.text-color-secondary,
			.product-display-price {font-size: 14px;}
			}
		}
		#thumb-img-slider {display: none !important;}
	}

	// 마이페이지 위시리스트
	.customer-order {
		.a-product {
			margin-bottom: 0;
			.a-product-info {
				padding-bottom: 20px;
				.product-display  {
					display: block;
				}
				.product-price {
					display: table;
					.product-display-price {
						text-align: left;
					}
				}
				.product-display-name {font-size: 16px;}
				.product-subtitle,
				.product-colorways-number,
				.text-color-secondary,
				.product-display-price {font-size: 14px;}
			}
		}
		#thumb-img-slider {display: none !important;}
	}

	//  연관상품 리스트
	.related-items {
		.swiper-wrapper {padding-bottom: 20px;}
		.product-item {
			margin: 0;
			.a-product {
				margin-bottom: 0;
				align-self: flex-start;
				.a-product-info {
					width: auto;
					padding:12px 0 0 0;
					.product-display  {
						display: block;
						.product-info {
							width: auto;
							padding: 0;
						}
					}
					.product-price {
						display: table;
						.product-display-price {
							text-align: left;
						}
					}
					.product-display-name {
						font-size: 16px;
					}
					.product-subtitle,
					.product-colorways-number,
					.text-color-secondary,
					.product-display-price {
						font-size: 14px;
					}
				}
				.item-imgwrap {
					width: auto;
					height: auto;
				}
			}
		}
		#thumb-img-slider {display: none !important;}
	}




	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium), (min-width: $breakpoint-medium) {
		//product option
		.product-detail_wrap {
			> .img-detail_product {
				padding:0;
			}
			> .info-wrap_product {
				margin-top: 35px;
				padding: 0 16px;
			}
			.select-box {width:100%;}
		}

		/* product name */
		.info-wrap_product  {
			.title-wrap {margin-bottom:3px;}
		}

		.product-gallery-wrap {
			.product-thumb {display:none;}
			//slide
			.product-gallery {
				.bx-controls {display:block;margin-top:-10px;}
			}

			&.left {
				.product-gallery {padding:0;}
			}
		}

		.bx-wrapper {
			max-width: 100% !important;
		}

		/*.img-detail_product {
			position:relative;
			padding-right: 40px;
			text-align:center;*/

		/* new pdp */
		/****************************************************/
		/* 상품상세 이미지뷰 (신규 버전) */
		.img-detail_product_n {
			width: 100%;
			padding: 0;
			.product-gallery-slide {
				min-width: auto;
				margin: 0 0 2px 2px;
				&:first-child {
					margin-left: -2px;
				}
				img {
					padding: 15px;
				}
			}
			.prd-list-type2 {
				.product-gallery-slide {
					background: transparent;
					width: 124px !important;
					a {
						display: inline-block;
						background: #f5f5f5;
						// max-width: 160px;

						img {
							// max-height: 160px;
						}
					}
				}
			}

			.bx-wrapper {
				.bx-controls {
					position: absolute;
					bottom: 32px;
					left: 0;
					width: 100%;
					padding: 0 24px;
					box-sizing: border-box;
				}
				.bx-pager{
					display: table;
					width: 100%;

					.bx-pager-item {
						display: table-cell;
					}
					&.bx-default-pager {
						a{
							width: 100%;
							height: 2px;
							margin: 0;
							border-radius: 0;
							border:0;
							background: #ccc;

							&.active {
								background: #111;
							}
						}
					}
				}
			}
		}

		/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
		.info-wrap_product_n {
			width: 100%;
			padding: 0;
			.title-wrap {
				margin-top: 28px;
				padding: 0 40px;
				text-align: center;
				font-size:17px;
				line-height:21px;
			}
			.price-wrap {
				width: 100%;
				text-align: center;
				.marketing-msg{
					display:block;
				}
			}
			.store-reserve-wrap {
				margin-left: 20px;
				margin-right: 20px;
			}
			.size-wrap {
				margin-left: 20px;
				margin-right: 20px;

				&.option-wrap {
					padding-top: 0;
				}
				.product-option_radio{
					margin:5px 0 30px;
				}
			}
			.btn-group-box {
				margin-left: 20px;
				margin-right: 20px;
				margin-bottom:20px;
				padding-bottom:0;
				.btn-wrap-webpos{
					margin:0;
					position:relative;

					a {
						width: 81.5%;
						width: -webkit-calc(100% - 18.5%);
						width: -moz-calc(100% - 18.5%);
						width: calc(100% - 18.5%);
						float:left;

						&.btn-order {
							width: -webkit-calc(100% - 18.5%);
							width: -moz-calc(100% - 18.5%);
							width: calc(100% - 18.5%);
						}

						.webpos-ns-heart {
							font-size:20px;
						}
						&.btn-cart{
							&.addcart-btn {
								padding:0;
								width:18%;
								height:50px;
								line-height: 54px;
								position:absolute;
								right:0;
								top:0;
	
								&.addcart-btn {
									font-family: 'webPos' !important;
									speak: none;
									font-style: normal;
									font-weight: normal;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									font-size: 0;
									display: inline-block;
									vertical-align: baseline;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									&:before {
										content: "\e910";
										font-size: 22px;
										line-height: 47px;
									}
								}
								.text {
									position:absolute;
									left:-9999em;
								}
							}
							&.reComponents-btn {
								padding: 0;
								width: 18%;
								height: 50px;
								line-height: 54px;
								position: absolute;
								right: 0;
								top: 0;
								font-family: 'webPos' !important;
								speak: none;
								font-style: normal;
								font-weight: normal;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								font-size: 0;
								display: inline-block;
								vertical-align: baseline;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								&:before {
									content: "\e965";
									font-size: 22px;
									line-height: 47px;
								}
							}
						}
					}
				}
				.btn-sameday-wrap{
					margin-top: 8px;
					&:after{
						content: '';
						clear: both;
						display: block;
					}
					>a{
						width: 50%;
						background-color: #fff;
						box-sizing: border-box;
						height: 40px;
						line-height: 40px;
						border: solid 1px #e5e5e5;
						margin: 0;
						text-align: center;
						padding: 0;
						>span{
							font-family: AppleSDGothicNeo;
							font-size: 13px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.43;
							letter-spacing: normal;
							text-align: center;
							color: #8d8d8d;
							display: inline-block;
						}
						&:first-child{
							border-right: 0;
							float: left;
							border-radius: 4px 0 0 4px;
						}
						&:last-child{
							border-left: 0;
							float: right;
							border-radius: 0 4px 4px 0;
						}
						&.active{
							border: solid 2px #000000 !important;
							border-right: 2px;
							>span{
								color: #000;
							}
						}
					}
				}
			}
			.status-wrap {
				.order-wrap {
					/* width: calc(100% - 83px); */
					width: 100%;
				}
				.btn-link {
					width: 100%;
				}
			}
			.stocked-wrap {
				margin-left: 24px;
				margin-right: 24px;
			}
			.discription-wrap {
				.pop-detail-title {
					padding: 19px 20px 18px 20px;
					font-size:14px;
					color:$font-0;
					font-weight:700;
					line-height:24px;
				}
				.pop-detail-content {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			.guide-wrap {
				.overview {
					padding-left: 24px;
					padding-right: 24px;
				}
			}
			.message-wrap {
				padding-left: 24px;
				padding-right: 24px;
			}
			.review-wrap {
				right: 42px;
			}
		}

		//product view
		.product-detail_view {
			margin-top:0;
			.detail-tab {display:none; margin:0;width:inherit;}
			.btn-tab {
				font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
				&.uk-active{
					position:relative;
					&:before {
						content:'';
						position:absolute;
						display:block;
						bottom:-1px;
						left:0;
						width:100%;
						border-bottom:2px solid  $primary-color;
					}

				}
			}
			.detail-delivery {
				.delivery-text {padding:30px 0;}
			}
		}

		/* 상품평 */
		.detail-review {
			padding: 0px;
			.pop-detail-title {padding:0 0 10px;}
		}

		/* 상품정보고시 */
		.product-noti-content {
			.noit-title {float:none;}
			.noti-value {padding-top:0;}
		}

		/* 상품타이틀 */
		.info-wrap_product {
			.title-wrap {
				.tit {font-size:17px;}
			}
			.price-wrap {
				> .price {
					> strong {font-size:24px;}
				}
			}
			.option-wrap {
				> .tit {margin:15px 0 8px;}
				// .option-guide {
				// 	padding:10px 0 0 0;
				// 	font-size:12px;
				// }
			}
			.review-wrap {border-bottom:0;}
		}

		/* 미니옵션 */
		.mini-option-wrap {
			height:56px;

			&:after {height:56px;}
			.mini-product-item {display:none;}
			> .btn-wrap {
				height:56px;
				padding:6px;
				box-sizing:border-box;

				.minioptbtn {
					position:static;
					width:100%;
					height:40px;
					margin:0;
					padding:13px 30px;
					box-sizing:border-box;
					text-align:center;
				}
				.wishlist-btn {display:none;}
			}

		}

		.review-write {
			padding:0;
		}

		/* guide wrap */

		/* modal layer */
		.uk-modal-dialog{
			.size-wrap {
				margin:0;
			}
		}
	}


	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.detail-delivery {padding:0 16px;}
		.product-detail_view {
			padding:40px 16px;
		}
		.n-review-read {
			margin-left: 0;
		}
		.info-wrap_product_n {
			.item-location {
				color: #909090;
			}
			.price-wrap {
				// > span {
				// 	&.price {
				// 		color: #111;
				// 	}
				// }
			}
			.infomation-item-wrap {
				clear:both;
			}
			.size-wrap {
				.select-box {
					width: 120px;
					padding: 0;
					> select {
						padding: 0 30px 0 6px;
						border: 0;
						font-size: 15px;
					}
				}
			}
		}
	}

	/* pc */
	@media (min-width:$breakpoint-large) {
		.infomation-item-wrap {
			float: right;
			width: 449px;
			.option-wrap.line {
				padding-top: 0;
			}
			.size-wrap {
				margin: 20px 0 0;
			}
			.btn-group-box {
				margin: 0;
			}
		}
		.img-detail_product_n {
			width: calc(100% - 449px);
			padding: 0 54px;
		}
	}
