.quickview {	
	.uk-modal-dialog {
		width:955px;
	}

	.uk-grid {
		margin-left:0;
	}
	
	.product-detail_wrap {width:100%;}
	.img-detail_product {
		width: 485px;
		padding-left:0;

		.product-gallery {
			.swipe-container {width:100%;}
			//.bx-controls {display:none;}
		}
	}
	
	/* assist 옵션 변경 레이어 display */
	&.uk-modal {
		.uk-modal-dialog {
			padding: 0 20px;
			 .webpos-ns-pop-close {
				top: 20px;
			}
		}
		.opt-list {
			margin-bottom: 0;
		}
	}
	.btn-prev,
	.discription-wrap {display: none;}
	.info-wrap_product_n {
		.product-detail-title {
			padding-bottom: 15px;
		}
		.title-wrap {
			padding-top: 20px;
		}
		.quantity {
			display: block;
		}
	}
	.info-wrap_product_n .option-wrap.line {
		padding-top: 10px;
	}
	.info-wrap_product_n .size-wrap .product-option_radio {
		margin: 0 0 20px;
	}
	.info-wrap_product_n .quantity {
		position: relative;
		padding-top: 20px;
	}
	.info-wrap_product_n .option-wrap .tit {
		display: inline-block;
		margin: 10px 0 0 0;
	}
	.info-wrap_product_n .option-wrap .tit span:first-child {
		display:block;
	}
	.info-wrap_product_n .option-wrap .msg {
		margin-left: 0;
		line-height: 32px;
	}
	.info-wrap_product_n .option-wrap .btn-qty {
		display: block;
	}
	.info-wrap_product_n .btn-group-box {
		margin: 0 0 20px;
		border-top: 1px solid #ddd;
	}
	.info-wrap_product_n .status-wrap .order-wrap {
		width: 100%;
		margin-top: 15px;
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.product-detail_wrap {
		//slide
		.product-gallery {
			.bx-controls {display:block;}
		}

		//thumbWrap
		.product-thumb.show {display:none;}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
