
// body {width:100%; height:100%;overflow-x:hidden; }

/*** browser Expend ***/
// header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block}

/*** basis Selector ***/
// body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0;}
// body, input, select, div, textarea, table, button {font-size:12px; font-family:helvetica, arial, verdana, tahoma, 'NanumGothic', '나눔고딕', Malgun Gothic, '맑은고딕', Apple Gothic, Dotum, '돋움', sans-serif; letter-spacing:-1px; color:#333; }
// html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
// option {padding-right:6px;} /* Firefox Fix */
// legend {display:none; overflow:hidden; visibility:hidden;} /* For Screen Reader */
// img, fieldset, button {vertical-align:middle; border:0;}
// ul, ol {list-style:none;}
// em, address {font-style:normal;}
// hr {display:none; visibility:hidden;}
// caption  {display:none;}
// table {border-collapse:collapse;}
// input, textarea, button {line-height: 1.2; /* 입력폼에서 춤추지 않는 최소 줄간 1.2 */ vertical-align: middle;}
// input[type=text], input[type=password], textarea {width:180px; height:24px; *margin:-1px 0 -1px; padding-left:3px; border:1px solid #ccc; color:#666; font-family:'돋움'; line-height:24px; letter-spacing:-0.2px; vertical-align:middle; }
// input[type="checkbox"],input[type="radio"] {margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
// label {cursor:pointer;}
// a {text-decoration:none; color:#444;}
// a:hover, a:active, a:focus{text-decoration:none; background:transparent;}
// select{font-size:12px;} 
// .png24 {tmp:expression(setPng24(this));}

/* 사이즈차트팝업 */
.pop_size_chart{width:700px; margin:0 auto;}
.pop_size_chart .size_chart_inner{width:100%;}
.pop_size_chart h2.tit_size_chart{padding:30px 0 10px; font-size:30px; color:#333; text-align:center;}

.pop_size_chart .size_category{position:relative; width:auto; margin:0 auto; text-align:center;}
.pop_size_chart .size_category > li{display:inline-block; *display:inline; border-left:1px solid #ccc;}
.pop_size_chart .size_category > li:first-child{border-left:0 none;}
.pop_size_chart .size_category > li > a{padding:0 15px; font-size:14px; font-weight:bold; color:#666;}
.pop_size_chart .size_category li ul{display:none;}
.pop_size_chart .size_category li.on > a, .pop_size_chart .size_category li > a:hover{color:#fa5400;}

.pop_size_chart ul.col1 > li{width:100%;}
.pop_size_chart ul.col2 > li{width:50%;}
.pop_size_chart ul.col3 > li{width:33%;}
/* .pop_size_chart ul.col3 > li:first-child{width:33%;} */
.pop_size_chart ul.col4 > li{width:25%;}
.pop_size_chart ul.col5 > li{width:20%;}

.pop_size_chart .size_chart_content {margin-top:25px;}
.pop_size_chart .size_chart_content h3 {padding-bottom:10px; font-size:22px; letter-spacing:-0.05em; color:#333;}
.pop_size_chart .size_chart_content h3 span {font-size:16px; font-weight:normal;}
.pop_size_chart .size_chart_content .size_cont {padding:30px 0 40px;border-top:1px solid #ccc;}
.pop_size_chart .size_chart_content .size_cont h4 {padding-bottom:22px;font-size:16px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont h4 span {color:#fa6425;}
.pop_size_chart .size_chart_content .size_cont .size_box {position:relative;}
.pop_size_chart .size_chart_content .size_cont .size_box li {position:absolute;left:0;top:0;font-family:Dotum,'돋움';font-size:11px;line-height:16px;letter-spacing:0;}
.pop_size_chart .size_chart_content .size_cont .size_box li strong {display:block;margin-bottom:10px;font-family:'NanumGothic', '나눔고딕';font-size:14px;}
.pop_size_chart .size_chart_content .size_cont .size_box li .pdtline {display:block;position:absolute;left:0;top:10px;border-bottom:1px dashed #fa7232;}
.pop_size_chart .size_chart_content .size_cont .shoes_box {margin-top:37px;}
.pop_size_chart .size_chart_content .size_cont .shoes_box ol {display:inline-block;width:100%;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li {float:left;width:235px;padding-right:5px;font-family:Dotum,'돋움';font-size:11px;line-height:16px;letter-spacing:0}
.pop_size_chart .size_chart_content .size_cont .shoes_box li.s3 {width:210px;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li strong {display:block;margin-bottom:8px;font-family:'NanumGothic', '나눔고딕';font-size:14px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont .size_txt {font-family:Dotum,'돋움';font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table {position:relative;margin-top:40px;padding-bottom:10px;}
.pop_size_chart .pop_size_table h5 {margin-bottom:25px;font-size:15px;}
.pop_size_chart .pop_size_table .tabbtn {display:inline-block;position:absolute;right:0;top:0;width:147px;height:31px;background:url('/assets/images/bg_unit.png') no-repeat 0 0;}
.pop_size_chart .pop_size_table .tabbtn .tabbar {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url('/assets/images/bg_unit.png') no-repeat 0 -32px;}
.pop_size_chart .pop_size_table .unit{position:absolute;right:0;top:20px;font-family:Dotum,'돋움';font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table .tabbtn a {position:relative;display:block;float:left;width:50%;text-align:center;line-height:30px;z-index:10;font-family:arial;}
.pop_size_chart .pop_size_table .tabbtn a.active {color:#fff}
.pop_size_chart .pop_size_table .tabcon {display:none;width:680px; padding-right:20px;background:#e5e5e5;}
.pop_size_chart .pop_size_table table {width:100%;table-layout:fixed;border-collapse:collapse;}
.pop_size_chart .pop_size_table table th,
.pop_size_chart .pop_size_table table td {font-family:Dotum,'돋움';}
.pop_size_chart .pop_size_table table thead th {height:65px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody th {height:40px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody td {height:40px;text-align:center;font-weight:bold;font-size:12px;color:#666;background:#fff;border:1px solid #e5e5e5;}
.pop_size_chart .pop_size_table table .td_gray {background:#ddd;}
.pop_size_chart .pop_size_table table .td_gray td {background:#ddd;}
.pop_size_chart .pop_size_table table .highlight {background:#fa5400 !important; color:#fff;}
.pop_size_chart .pop_size_table table .highlight2 {background:#ffccb2 !important;}
.pop_size_chart .pop_size_table table col.highlight2 td {background:#ffccb2 !important;}

/*webpos 추가*/
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	.pop_size_chart{
		width:100%;

		.size_chart_inner {
			padding-top: 25px;
			
			.size_chart_content {
				.size_cont {
					img {
						display: block;
						margin-bottom: 20px;
					}
					.size_box {
						li {
							position: static;
							left: auto;
							top: auto;
							margin-bottom: 20px;
							font-size: 12px;
						}
					}
					.pop_size_table {
						margin-top: 25px;

						h5 {
							padding-top: 8px;
							margin-bottom: 20px;
						}
						table {
							caption {
								display: none;
							}
							thead {
								th {
									background: #f8f8f8;
									color: #000;
									height: auto;
									padding: 14px 0;
									border: 1px solid #ddd;
									letter-spacing: -1px;
									font-size: 11px;
									line-height: 1.2;
								}
							}
							tbody {
								th, td {
									border: 1px solid #ddd;
									color: #000;
									height: auto;
									padding: 14px 0;
									font-weight: 400;
								}
								th {
									background: none;
								}
								td {
									font-size: 10px;
								}
							}
							.td_gray {
								background: none;

								th, td {
									background: #f8f8f8;
								}
							}
						}
						.tabcon {
							width: 100%;
							padding-right: 0;
							background: none;
							box-sizing: border-box;
						}
					}
				}				
			}
		}
	}
}