/*  launch calendar 
/*****************************************************************/

/* launch header */
.header_layout_1 {
	&.launch-header {
		position: relative;
	}
}
.header-gnb {
	.btn-launch-goback {
		float: left;
		padding-left: 30px;
	}
}
.launch-lnb {
	background: #fff;
	/*padding: 14px 0;*/
	border-bottom: 1px solid #e5e5e5;

	.launch-logo {
		display: inline-block;
		padding-left: 28px;
	}
	.launch-menu {
		text-align: center;
		overflow:hidden;
		width:100%;
		
		> li {
			display:inline-block;
			margin:0 20px;
			
			a {
				display: inline-block;
				padding: 20px 0;
				-webkit-transition: all .2s ease;
					transition: all .2s ease;
					font-size: 15px;
					position: relative;
			}
			&.on {				// menu  active 일때 선처리
				a:before {
					content:'';
					display: block;
					position: absolute;
					left:0;
					bottom:0;
					width: 100%;
					border-bottom: 2px solid #000;
				}
			}	
		}
	}	
	.toggle-box {
		text-align: right;
		padding-top: 10px;
		padding-right: 28px;
		.view-grid,
		.view-list {
			font-size: 24px;
		}
	}
}

/* launch cagegory */
.launch-conts {
	padding-top: 0;
}
.launch-category {
	padding: 32px 35px; 

	.uk-grid {
		margin-left: -16px;
		 > * {
			padding-left: 16px;
			margin-bottom: 16px;
		}
	}
	.img-sect {	 				// 이미지 영역부분  
		position: relative;
		background: #f5f5f5;

		&.prd-gutter {
	    	padding: 14.3% 8%;
	    }
		.img-component {
			// opacity: 1;
		    transition: opacity 0.4s ease;
		}
		.date {
			position: absolute;
		    top: 0;
		    left: 0;
		    padding: 18px;
		    font-weight: 400;
		    letter-spacing: .5px;
		    color: #000;
		    z-index: 2;

			.month {
				font-weight: 700;
			    letter-spacing: -0.5px;
			    font-size: 25px;
			    line-height: 1;
			    display: block;
			    text-align: center;
			}
			.day {
				font-weight: 400;
			    letter-spacing: .5px;
			    font-size: 52px;
			    line-height: 1;
			    display: block;
			    text-align: center;
			}
		}
	}
	.info-sect {  			// 상품명 영영부분
	    position: relative;
	    width: 100%;
	    padding-top: 24px;
	    padding-bottom: 20px;
	    text-align: center;
	    overflow: hidden;

		.text-box {
			opacity: 1;
		    transition: opacity .3s ease .3s;
		    word-wrap: break-word;
		    padding: 0 20px;

			.txt-subject {
			    font-size: 13px;
			    color: #777;
			    letter-spacing: -0.5px;
			    font-weight: 700;
			    line-height: 1;
			}
			.txt-description {
			    font-size: 28px;
			    color: #000;
			    font-weight: 400;
			    letter-spacing: .5px;
			}
		}
		.btn-box {
			position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    padding-top: 32px;
		    opacity: 0;
		    transition: opacity .3s ease;
		}
	}

	a { 				// 상품 hover일때 이미지 효과 및 버튼보이게 처리
		&:hover {
			.img-component {
				opacity: 0.8;
			}
			.text-box {
			    opacity: 0;
				transition: opacity .3s ease;
			}
			.btn-box {
				opacity: 1;
					transition: opacity .3s ease .3s;
			}
		}
	}
	
	/* upcoming일때 상품명 스타일 변경 */
	.upcomingItem {
		.info-sect {
			.text-box {
				.txt-subject {
					font-size: 28px;
					color: #111;
				}
				.txt-description {
					font-size: 13px;
					color: #8d8d8d;
				}
			}
		}
	}
	.uk-width-1-6 {
		.date, 
		.info-sect {
			display: none;
		}
	}
}

/* 상세페이지 컨텐츠 */
.lc-prd-conts {
	position: relative;
	margin-top: 30px;
	padding-left: 28px;

	/* 상품상세 이미지 */
	.lc-prd-images {
		min-height: 870px;
		margin-left: -16px;

		> * {
			padding-left: 16px;
			padding-bottom: 16px;
		}
		.prd-gutter {
			padding: 11.515% 6.58%;
			background-color: #f5f5f5;
		}
	}

	/* 상품상세페이지 상품정보 */
	.prd-con-wrap {
		position: relative;
		padding-right: 28px;

		&.fix {
			position:fixed;
			right: -1px;
		}
		.product-info {
			text-align: center;

			.txt-subtitle {
				font-size: 14px;
			    font-weight: 700;
			    color: #777;
			}
			.txt-title {
				margin: 5px 0 10px;
			    font-weight: 400;
			    letter-spacing: .7px;
			    font-size: 40px;
			    color: #111111;
			}
			.price {
				font-size: 16px;
				letter-spacing: 0.5px;
				text-align: center;
				color: #111111;
			}
			.txt-date {
				margin-top: 30px;
			    font-size: 15px;
			    color: #111111;
			}
			.txt-description {
				margin-top: 30px;
				font-size: 13px;
				line-height: 1.85;
				letter-spacing: -0.3px;
				text-align: center;
				color: #999999;
			}
		}
		.btn-box {
			margin-top: 25px;
			text-align: center;
			.btn-comingsoon {
				font-size: 13px;
			}
			.btn-buy {
				font-size: 12px;
			}
			.select-box {
				vertical-align: top;

				.select-head {
					padding: 13px 11px 13px 11px;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
				}
			}
		}
		.service-box {
			text-align: center;
			margin-top: 15px;

			.sevice-item {
				display: inline-block;
			}
			img {
				vertical-align: -4px;
			}
			.stock-item {
				margin-top: 10px;
			}
			.sms-item {
				margin-top: 10px;
				text-align: left;
			}
			.ns-help {
				font-size: 16px;
				color: #666;
				vertical-align: -2px;
			}
		}
	}
}

/* 상세페이지 하단 이미지정보 + 설명 */
.lc-prd-bottom {
	ul li {
		margin-top: 30px;
		text-align: center;
	}
	.product-info {
		text-align: center;

		.txt-subtitle {
			font-size: 14px;
		    font-weight: 700;
		    color: #777;
		}
		.txt-title {
			margin: 48px 0 10px;
		    font-weight: 400;
		    letter-spacing: .7px;
		    font-size: 40px;
		    color: #111111;
		}
		.price {
			font-size: 16px;
			letter-spacing: 0.5px;
			text-align: center;
			color: #111111;
		}
		.txt-date {
			margin-top: 30px;
		    font-size: 15px;
		    color: #111111;
		}
		.txt-description {
			margin-top: 20px;
			margin-bottom: 58px;
			font-size: 12px;
			line-height: 1.5;
			letter-spacing: -0.1px;
			text-align: center;
			color: #8d8d8d;
		}
	}
}

/*  상품정보고시 확인 */
.lc-prd-infomation {
	padding: 27px 45px 50px 0;
	color: #8d8d8d;
	font-size: 12px;
	text-align: right;
	a {
		color: #8d8d8d;
	}
	.txt {
		text-decoration: underline;
	}
	.ns-arrow-thin-right {
		font-size: 13px;
		font-weight: bold;
		vertical-align: middle;
	}
}

/* 연관 상품 */
.related-title {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 34px;
	font-weight: bold;
	border-top: 1px solid #ddd;
	letter-spacing: 0.8px;
 	text-align: center;
	color: #111111;
}
.related-category {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 28px;

	/* 상품상세 이미지 */
	.related-items {
		margin-left: -16px;

		> * {
			padding-left: 16px;
			padding-bottom: 16px;
		}
		.prd-gutter {
			padding: 11.515% 6.58%;
			background-color: #f5f5f5;
		}
	}
	.info-sect {
		.text-box {
			.txt-subject {
				margin-top: 33px;
				font-size: 12px;
				letter-spacing: 0.4px;
				text-align: center;
				color: #8d8d8d;
			}
			.txt-description {
				margin-top: 5px;
				font-size: 28px;
				letter-spacing: 0.5px;
				text-align: center;
				color: #111111;
			}
		}
	}
}

/* launch footer */
footer {
	&.launch-footer {
		padding: 25px 16px;
		min-height: auto;
		background: #f8f8f8;
		color: #8d8d8d;
		border-top: solid 1px #e5e5e5;

		.flag-kr {
			@extend .icon-language;				// nike에 정의

			width: 14px;
			height: 10px;
			background-position: left top;
			background-size: 14px 10px;
			color: $font-6;
			line-height: 12px;
			vertical-align: -1px; 
		}
		a {
			display: inline-block;
			padding-right: 10px;
			color: #8d8d8d;
		}
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.launch-lnb {
		.uk-grid {
			> * {
				width: 100%;
			}
		}
		.launch-menu {
			display: flex;
			justify-content: center;
			border-bottom: 1px solid #e5e5e5;

			> li {
				margin: 0;
				width: 30%;

				a {
					padding: 20px;
				}
			}
		}
		.toggle-box {
			padding: 0;
			text-align: center;

			a {
				display: block;
				padding: 15px 0;
			}
		}
	}
	.launch-category {
		padding: 117px 0 0 0;

		.uk-grid {
			/* margin-left: 0; */

			> * {
				width: 100%;
				/* padding: 0; */
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: 1279px) {
	.launch-category {
		.uk-width-large-1-6 {
			width: 25%;
		}
	}
}	


/* SNKRS TILE 방식 정리 */
.launch-category {
	.upcoming-tit-date {
		display:none;
	}
	.launch-list-item {
		box-sizing:  border-box;    
		
		/* gallery type */
		&.gallery {
			width: 100%;
		}
		@media (min-width: 640px) {
			&.gallery {
				width: 50%;
				display: inline-block;
			}
		}
		@media (min-width: 1024px){
			&.gallery {
				width: 33.33333333333333%;
				display: inline-block;
			}
		}
		/* grid type */
		&.grid {
			width: 50%;
			display: inline-block;

			.info-sect{
				display: none;
			}
		}
		@media (min-width: 640px) {
			&.grid {
				width: 25%;
				display: inline-block;    
			}
		}
		@media (min-width: 1280px){
			&.grid {
				width: 16.666666666666664%;
				display: inline-block;
			}
		}
		/* upcoming specify */
		@media (min-width: 640px) {
			&.upcomingItem {
				.info-sect {
					.text-box {
						.txt-subject {
							font-size: 28px;
							color: #111;
							font-size: 13px;
							color: #777;
							letter-spacing: -0.5px;
							font-weight: 400;
							line-height: 1;
						}
						.txt-description {
							font-size: 13px;
							color: #8d8d8d;
							font-size: 28px;
							color: #000;
							font-weight: 700;
							letter-spacing: .5px;
						}
					}
				}
			}
		}
		@media (max-width: 639px) {
			&.upcomingItem {
				width:100%;
				margin-bottom:0;
				border-top:1px solid #ddd;

				.info-sect {
					display:table; 
					height:100%; 
					width:75%;
					padding-left:10px;
					box-sizing:border-box;
					text-align:left;

					.text-box {
						display:table-cell; 
						vertical-align:middle;

						.txt-subject{
							font-size:12px;
							color:#8d8d8d;
						}
						.txt-description{
							font-weight:bold;
							font-size:16px;color:#111;
						}
					}
				}
				.img-sect {
					float:left;
					width:25%;
					height:auto;
					box-sizing:border-box;

					&.prd-gutter{
						padding:4px
					}
					.date{
						display:none;
					}
				}
				a:hover {
					.text-box {
						opacity: 1 !important;
					}
					.btn-box{
						display:none !important;
					}
				}
			}
		}
	}
	@media (max-width: 639px) {
		.upcoming-tit-date {
			display:block;
			position: relative;
			width: 100%;
			min-height: 1px;
			font-size: 14px;
			line-height: 1.7;
			padding: 20px 16px 16px 30px;
			margin: 0;
			color:#111;
			font-weight:700;
			border-top: 1px solid #ddd;
			background-color: #fafafa;
			box-sizing: border-box;

			&:first-child {
				border-top: none;
			}
		}
	}
}

//홈화면에 추가시 필요한 안내 팝업
//안드로이드
.favicon_layer {
	position: relative;
	text-align: center;

	a {
		display: block;
		padding: 12.5px 16px;
		background: #000;

		.txt {
			color: #fff;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 1.5;
			background: url(/assets/images/snkrs/favicon_layer_icon01.png) no-repeat left center;
			padding-left: 30px;
			-webkit-background-size: 24.5px auto;
			display: inline-block;
		}
	}
	.layer_close {
		position: absolute;
		top: 0;
		right: 0;
		width: 61px;
		height: 100%;
		margin-top: 0;
		display: block;
		cursor: pointer;
		background: #000;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 14px;
			margin: -7px 0 0 -7px;
			display: block;
			cursor: pointer;
		}		
	}	
}
//아이폰
.favorite_box {
	position: fixed;
	left: 50%;
	bottom: 5%;
	width: 180px;
	margin-left: -110px;
	padding: 20px;
	background: #fff;
	border: 1px solid #7f7f7f;
	z-index: 999;
	text-align: center;

	p {
		color: #000;
	}
	.icon {
		width: 23px;
		vertical-align: middle;
		display: inline-block;
		color: inherit;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
	}
	.favorite_close {
		position: absolute;
		right: 12px;
		top: 12px;
		z-index: 999;
		img {
			width: 12px;
		}
	}
	.favorite_bullet {
		position: absolute;
		left: 50%;
		bottom: -15px;
		margin-left: -8px;

		img{
			width: 16px;
			border-top: 1px solid #fff;
		}
	}		
}
