@charset "utf-8";

/* layout */

body {
  position: relative;
}

.rsvp_wrap {
  width: 100%;
  overflow: hidden;
}

/* main*/

.lc_pro_account {
  position: relative;
  font-size: 30px;
  position: relative;
  font-size: 30px;
  .h-tit {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -300px;
    font-size: 30px;
    h3 {
      font-weight: 600;
      font-size: 1.3em;
    }
    .h3_tail {
      font-size: 0.45em;
      line-height: 1.5em;
      margin-top: 15px;
    }
  }
  .s-tit {
    font-size: 0.8em;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 35.5%;
    margin-left: -70px;
  }
  .ldl01 {
    position: absolute;
    left: 3%;
    top: 48%;
    text-align: left;
    dt {
      font-size: 1em;
      font-weight: 600;
      line-height: 1.1em;
    }
    dd {
      font-size: 0.45em;
      margin-top: 10px;
      line-height: 1.5em;
    }
  }
  .ldl-i {
    position: absolute;
    left: 3%;
    top: 66.5%;
    text-align: left;
    font-weight: 600;
    font-size: 0.8em;
  }
  .ldl02 {
    position: absolute;
    left: 3%;
    top: 78%;
    text-align: left;
    dt {
      font-size: 1em;
      font-weight: 600;
      line-height: 1.1em;
    }
    dd {
      font-size: 0.4em;
      margin-top: 10px;
      line-height: 1.5em;
    }
  }
}

.rsvp_info_cont .rsvp_enter ol li dl {
  font-size: 30px;
  margin-top: 10px;
  dt {
    font-weight: 600;
    font-size: 0.7em;
    margin-bottom: 15px;
  }
  dd {
    font-weight: normal;
    font-size: 0.4em;
    margin-top: 5px;
  }
}

// .rsvp_info_cont .rsvp_enter ol li dl dd.tit{font-size:0.5em; font-weight:500; margin-top:10px}

/* event */

.rsvp_wrap {
  .rsvp_header {
    position: relative;
    width: 100%;
    background: #efefef;
    text-align: center;
    .header_inner {
      width: 1280px;
      margin: 0 auto;
      padding: 20px 0 15px;
      background: #efefef;
    }
  }
  .rsvp_content, img.bg {
    width: 100%;
  }
  .btn_gray {
    display: block;
    position: relative;
    width: 105px;
    height: 53px;
    margin-top: 5px;
    padding: 0 13px;
    line-height: 53px;
    font-size: 15px;
    color: #000;
    /*background:#222;*/
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
  }
  .rsvp_header h1 {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    .tit_emph {
      font-weight: bold;
      font-size: 40px;
      color: #333;
    }
    em {
      display: inline-block;
      position: relative;
      margin-left: 6px;
      width: 19px;
      height: 19px;
      padding-bottom: 9px;
      background: url(/assets/images/icon_about_rsvp.png) no-repeat 0 0;
      vertical-align: -11px;
      cursor: pointer;
    }
  }
}

/* rsvp_header */

.ly_about_rsvp {
  display: none;
  position: absolute;
  left: -27px;
  top: 25px;
  width: 193px;
  padding-top: 6px;
  text-align: left;
  color: #333;
  z-index: 100;
  .about_rsvp_inner {
    position: relative;
    padding: 10px;
    background: #fff;
    font-size: 14px;
  }
  dl {
    padding-bottom: 10px;
  }
  dt {
    font-size: 16px;
    font-weight: bold;
  }
  dd {
    padding-top: 5px;
  }
  .btn_rsvp_info {
    text-decoration: underline;
  }
  .arrow {
    position: absolute;
    left: 0;
    top: 0;
    background: url(/assets/images/arrow_about_rsvp.gif) no-repeat 31px 0;
    width: 100%;
    height: 6px;
  }
}

/* rsvp_content */

.rsvp_item_box {
  position: relative;
  width: 100%;
  padding-top: 150px;
  &:first-child {
    margin-top: 0;
  }
  .rsvp_timer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    background: #fff;
    dl {
      height: 150px;
      margin: 0 auto;
      background: #000;
      text-align: center;
    }
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    dt {
      padding: 24px 0px 0px 0px;
      font-size: 16px;
      color: $font-6;
    }
    dd {
      font-size: 72px;
      color: $font-6;
      span {
        vertical-align: middle;
        letter-spacing: -1px;
        &.bgnone {
          background: none;
        }
        span.timeDot {
          display: block;
          position: absolute;
          right: -6px;
          top: 6px;
          color: #808080;
        }
      }
    }
  }
}

.position_relative {
  position: relative;
  padding-right: 25px;
}

.rsvp_info_cont2 {
  background: #fff !important;
}

.rsvp_item_box {
  div.rsvp_timer dt.timerTxt {
    padding-top: 53px;
    line-height: 26px;
    font-size: 20px;
  }
  .rsvp_timer {
    dl dd.c_ff0015, dd.c_ff0015 span span.timeDot {
      color: #ff0015 !important;
    }
    p {
      width: 1280px;
      height: 70px;
      margin: 0 auto;
      background: #111;
    }
  }
  .rsvp_iitem {
    position: relative;
    width: 100%;
    padding-bottom: 55px;
    background: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    .rsvp_iitem_inner {
      position: relative;
      width: 1280px;
      margin: 0 auto;
    }
    .rsvp_img {
      position: relative;
      width: 100%;
      padding: 50px 0;
      text-align: center;
      .rsvp_bxslider {
        text-align: center;
      }
      .bx-wrapper {
        margin-bottom: 0;
        .bx-viewport {
          padding-bottom: 60px;
          background: transparent;
          border: 0 none;
          box-shadow: none;
          text-align: center;
        }
        .item img {
          width: 700px;
          margin: 0 auto;
        }
        .bx-controls-direction {
          display: none;
          a {
            width: 35px;
            height: 80px;
            margin-top: 0;
            background: url(/assets/images/btn_rsvp_nav.png) no-repeat 0 0;
            color: transparent;
            z-index: 90;
            &.bx-prev {
              left: 15px;
              background-position: 0 0;
            }
            &.bx-next {
              right: 15px;
              background-position: 0 -80px;
            }
          }
        }
        .bx-pager {
          padding-top: 0;
          &.bx-default-pager {
            bottom: 0;
            a {
              display: inline-block;
              width: 12px;
              height: 12px;
              background: url(/assets/images/bg_rsvp_dots.png) no-repeat 0 0;
              border: 0 none;
              &.active {
                background-position: 0 -12px;
              }
            }
          }
        }
      }
    }
    .rsvp_item_info {
      position: absolute;
      left: 50px;
      top: 50px;
      width: 425px;
      .rsvp_name {
        font-size: 25px;
        color: #333;
      }
      .rsvp_name2 {
        font-size: 40px;
        font-weight: bold;
        color: #222;
        line-height: 40px;
      }
      .rsvp_price {
        font-size: 29px;
        color: #999;
        line-height: 29px;
        strong {
          vertical-align: middle;
        }
        span {
          font-size: 25px;
          vertical-align: middle;
        }
      }
    }
  }
  &.end {
    padding-top: 0;
    margin-top: 0;
    .rsvp_iitem {
      .rsvp_item_info {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
      }
      .rsvp_end {
        position: absolute;
        left: 50px;
        top: 50px;
        .rsvp_end_txt {
          font-size: 35px;
          font-weight: bold;
          color: #222;
          line-height: 40px;
        }
        .rsvp_end_txt2 {
          position: relative;
          display: inline-block;
          margin-top: 15px;
          font-size: 16px;
          color: #333;
        }
        .btn_rsvp_result {
          display: block;
          padding: 18px 30px 18px 13px;
          border: 1px solid #313131;
          border-radius: 2px;
        }
        .btn_tooltip_result {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 50%;
          width: 15px;
          height: 15px;
          margin-top: -8px;
          background: url(/assets/images/icon_tooltip_rsvp.png) no-repeat 0 0;
        }
      }
    }
  }
}

/*남은시간 color*/

.ly_rsvp_result {
  display: none;
  position: absolute;
  left: -27px;
  top: 20px;
  width: 232px;
  padding-top: 6px;
  text-align: left;
  color: #333;
  z-index: 100;
  .rsvp_result_inner {
    position: relative;
    padding: 10px;
    background: #fff;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #ccc;
  }
  p {
    color: #666;
  }
  .arrow {
    position: absolute;
    left: 0;
    top: 0;
    background: url(/assets/images/arrow_about_rsvp.gif) no-repeat 29px 0;
    width: 100%;
    height: 7px;
  }
}

.rsvp_item_box .rsvp_iitem .rsvp_option_box {
  padding-left: 50px;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .rsvp_select {
    float: left;
    position: relative;
    width: 133px;
    height: 55px;
    margin-right: 7px;
    padding-top: 5px;
    background: transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    > a {
      display: block;
      position: relative;
      width: 100px;
      height: 53px;
      padding: 0 18px 0 13px;
      line-height: 53px;
      font-size: 15px;
      color: #aaa;
      /* background:#fff; */
      border: 1px solid #c1c1c1;
      border-radius: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.able {
      > a {
        color: #333;
        border: 1px solid #333;
      }
      > a span {
        background-position: 0 -10px;
      }
    }
    > a {
      &.active {
        color: #333;
        background: #fff;
        border: 1px solid #fff;
      }
      span {
        display: block;
        position: absolute;
        left: 110px;
        top: 22px;
        width: 10px;
        height: 10px;
        background: url(/assets/images/bg_select.png) no-repeat 0 -20px;
      }
    }
    > a.active span {
      background-position: 0 0;
    }
    .select_option {
      position: absolute;
      left: 0;
      bottom: 60px;
      max-height: 196px;
      padding: 10px 10px 10px 10px;
      background: #fff;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      z-index: 10;
      ul {
        height: 100%;
        max-height: 196px;
        border: 1px solid #eee;
        border-bottom: 0 none;
        border-right: 0 none;
        overflow-y: scroll;
        li {
          font-size: 14px;
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
          > a {
            display: block;
          }
        }
      }
    }
    &.option_store .select_option {
      width: 150px;
      ul li {
        height: 48px;
        font-size: 14px;
        > a {
          height: 48px;
          padding-left: 10px;
          line-height: 48px;
          background: #fff;
          &:hover {
            background: #f4f4f4;
          }
        }
      }
    }
    &.option_style .select_option {
      width: 321px;
      ul {
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        li {
          float: left;
          width: 100px;
          height: 100px;
          a {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    &.option_size .select_option {
      width: 214px;
      ul {
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        li {
          float: left;
          width: 48px;
          height: 48px;
          text-align: center;
          a {
            width: 48px;
            height: 48px;
            line-height: 48px;
            background: #fff;
            &:hover {
              background: #f4f4f4;
            }
          }
        }
      }
    }
  }
  .btn_rsvp {
    float: left;
    display: block;
    position: relative;
    width: 105px;
    height: 53px;
    margin-top: 5px;
    padding: 0 13px;
    line-height: 53px;
    font-size: 15px;
    color: #aaa;
    /* background:#fff; */
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    text-align: center;
    &.able {
      background: #222;
      color: #fff;
    }
  }
  .rsvp_complete {
    min-height: 55px;
    padding-left: 70px;
    background: url(/assets/images/icon_complete.png) no-repeat 0 0;
    .rsvp_complete_txt {
      padding-top: 18px;
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }
  }
}

/* 151001 s */

/* 151001 e */

.rsvp_info_tit {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.tit_nextdraw {
  border-top: 23px solid #e4e4e4;
}

.rsvp_info_tit h2 {
  padding: 48px 0 44px;
  font-size: 30px;
  color: #333;
  text-align: center;
  span {
    color: #333;
    vertical-align: middle;
  }
}

.rsvp_info_cont {
  width: 100%;
  background: #f5f5f5;
  .rsvp_info_inner {
    width: 1280px;
    margin: 0 auto;
  }
  .next_rsvp {
    overflow: hidden;
    padding: 30px 0;
    width: 1180px;
    .img_l {
      float: left;
    }
    .txt_r {
      float: left;
      padding: 85px 0 0 55px;
      p {
        font-size: 18px;
        line-height: 36px;
        color: #666;
      }
      .item_name {
        font-size: 30px;
        line-height: 36px;
        color: #333;
        font-weight: bold;
      }
    }
  }
  &.notes {
    background: #fbfbfb;
    border-top: 1px solid #e1e1e1;
  }
  .rsvp_enter {
    padding: 40px 0 48px 0;
    width: 1180px;
    .rsvp_enter_txt {
      font-size: 18px;
      color: #333;
    }
    ol {
      overflow: hidden;
      padding: 63px 0 0 0;
      li {
        float: left;
        width: 373px;
        margin-right: 20px;
        font-size: 14px;
        line-height: 18px;
        color: #333;
        text-align: center;
        &:last-child {
          margin: 0;
        }
        span {
          display: block;
          padding: 25px 0 10px 0;
          font-size: 22px;
        }
        em {
          display: block;
          padding: 15px 0 0 0;
          font-size: 13px;
        }
      }
    }
    .rsvp_enter_info {
      font-size: 16px;
      color: #333;
      line-height: 19px;
      height: 19px;
      padding-left: 25px;
      background: url('/assets/images/icon_rsvp_enter.png') no-repeat;
      font-weight: bold;
    }
    ul {
      padding-top: 10px;
      li {
        height: 20px;
        padding-left: 8px;
        font-size: 13px;
        line-height: 20px;
        color: #555;
        background: url('/assets/images/icon_dot.png') left 9px no-repeat;
      }
    }
  }
  .rsvp_faq {
    width: 1180px;
    padding: 40px 0 57px 0;
    text-align: center;
    p {
      padding-bottom: 40px;
      font-size: 18px;
      color: #333;
    }
    a {
      display: inline-block;
      position: relative;
      height: 53px;
      margin-top: 5px;
      padding: 0 13px;
      line-height: 53px;
      font-size: 17px;
      color: #333;
      background: #e4e4e4;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}

/* 150918 :start */

/* 150918 : end */

/* 151013 */

.rsvp_sns {
  width: 100%;
  background: #333;
  .rsvp_sns_inner {
    overflow: hidden;
    width: 1240px;
    padding: 20px 0;
    margin: 0 auto;
    color: #fff;
    .des {
      float: left;
      padding-left: 20px;
      font-size: 22px;
      line-height: 32px;
    }
    .snslist {
      float: right;
      padding-right: 25px;
      a {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-left: 16px;
        vertical-align: top;
        background: url('/assets/images/ico_rsvp_sns.png') no-repeat;
        &.facebook {
          background-position: 0 0;
        }
        &.twitter {
          background-position: -48px 0;
        }
        &.pinterest {
          background-position: -96px 0;
        }
        span {
          font-size: 0;
          line-height: 0;
          color: transparent;
        }
      }
    }
  }
}

.rsvp_overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity = 80);
  opacity: 0.8;
  z-index: 10;
}

/* 팝업 */

.pop_rsvp {
  .pop_rsvp_inner {
    position: relative;
    padding: 30px 30px 40px;
  }
  .rsvp_tit {
    padding: 10px 0 20px;
    border-bottom: 1px solid #eee;
    h2 {
      font-size: 21px;
      color: #333;
    }
  }
  .btn_rsvp_close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* 팝업- 약관동의 */

.pop_rsvp_agree {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 664px;
  margin-top: -353px;
  margin-left: -332px;
  background: #fff;
  z-index: 20;
  .txt_agree_desc {
    font-size: 13px;
    padding-top: 20px;
    line-height: 18px;
  }
  .rsvp_agree {
    h3 {
      margin-top: 20px;
      font-size: 15px;
      font-weight: bold;
    }
    .rsvp_align_box {
      position: relative;
      width: 100%;
      margin-top: 10px;
      text-align: right;
      span {
        padding-left: 15px;
        color: #666;
      }
    }
    .agree_txtbox {
      height: 100px;
      margin-top: 10px;
      padding: 10px;
      background: #eee;
      border: 1px solid #ccc;
      overflow: auto;
      h4 {
        margin-top: 15px;
        font-size: 13px;
      }
      p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
      }
      table {
        width: 100%;
        margin-top: 10px;
        background: #fff;
        font-size: 11px;
        border-collapse: collapse;
        thead th {
          padding: 8px;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: -0.05em;
          border: 1px #ddd solid;
          text-align: center;
        }
        tbody td {
          padding: 10px 5px;
          font-size: 12px;
          letter-spacing: -0.05em;
          border: 1px #ddd solid;
          text-align: center;
          word-wrap: break-word;
        }
      }
      .mt0 {
        margin-top: 0;
      }
    }
    .txt_dsc {
      margin-top: 15px;
      font-size: 13px;
      color: #333;
    }
    .btn_box {
      padding-top: 25px;
      text-align: center;
      a {
        margin: 0 3px;
      }
    }
  }
}

/* 레이어팝업 위치조정 150908 */

/* 레이어 - 응모완료 150930 */

.layer_rsvp_complete {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  .popup_finish {
    text-align: center;
    .finish_btnCheck {
      padding-top: 200px;
      text-align: center;
    }
    .pop_finish_txt p {
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 26px;
    }
    p.fs30 {
      font-size: 30px;
    }
    .pdt70 {
      padding-top: 70px;
    }
    .mgt30 {
      margin-top: 30px;
    }
  }
  .pop_exit {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 33px;
    top: 33px;
    z-index: 20;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

/* 팝업- 응모완료 */

.pop_rsvp_complete {
  display: none;
  position: absolute;
  left: 50%;
  top: 100px;
  width: 665px;
  margin-left: -332px;
  background: #fff;
  z-index: 20;
  .rsvp_cont {
    padding: 30px 0 0;
    text-align: center;
    p {
      font-size: 14px;
      font-weight: bold;
    }
    .txt_complete {
      p {
        padding-top: 20px;
        line-height: 20px;
        color: #666;
        strong {
          font-size: 28px;
          color: #333;
        }
        span {
          font-weight: bold;
          color: #333;
        }
      }
      .info {
        margin-top: 13px;
        font-size: 14px;
        font-weight: bold;
        li {
          margin-top: 2px;
          color: #666666;
        }
      }
    }
    .item_complete {
      padding-top: 25px;
      .item_img {
        padding-bottom: 25px;
      }
      .item_name {
        font-size: 22px;
        color: #333;
      }
      .item_detail {
        padding-top: 5px;
        font-size: 13px;
        font-weight: bold;
        color: #555;
        line-height: 20px;
      }
    }
    .btn_box {
      padding-top: 25px;
    }
  }
  .btn_rsvp_close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* 팝업- 당첨자확인 */

.pop_rsvp_winner {
  display: none;
  position: absolute;
  left: 50%;
  top: 100px;
  width: 665px;
  margin-left: -332px;
  background: #fff;
  z-index: 20;
  .rsvp_cont {
    padding: 30px 0 0;
    text-align: left;
    p {
      font-size: 14px;
    }
    .txt_complete p {
      padding-top: 20px;
      line-height: 20px;
      color: #666;
      text-align: center;
      strong {
        font-size: 28px;
        line-height: 32px;
        color: #333;
      }
      span {
        font-weight: bold;
        color: #333;
      }
    }
    .rsvp_result {
      width: 100%;
      margin-top: 30px;
      dt {
        padding: 15px 0 15px 20px;
        background: #333;
        font-size: 16px;
        color: #fff;
        span {
          padding-left: 5px;
          color: #aaa;
          vertical-align: 2px;
        }
      }
      .rsvp_result_info {
        background: #eee;
        border: 1px solid #eee;
        ul {
          width: 100%;
          padding: 10px 0 15px;
          &:after {
            content: "";
            clear: both;
            display: block;
          }
          li {
            float: left;
            width: 50%;
            margin-top: 5px;
            font-size: 13px;
            font-weight: bold;
            color: #333;
            span {
              display: inline-block;
              min-width: 45px;
              padding-left: 30px;
            }
            .btn_find_store {
              display: inline-block;
              padding: 3px;
              border: 1px solid #dbdbdb;
              border-radius: 4px;
              background: #fff;
            }
          }
        }
      }
      .rsvp_result_info2 {
        padding: 4px 15px;
        border: 1px solid #eee;
        > div {
          width: 100%;
          &:after {
            content: "";
            clear: both;
            display: block;
          }
        }
        .img_l {
          float: left;
          width: 140px;
          height: 140px;
          background: #e4e4e4;
          img {
            width: 140px;
            height: 140px;
            vertical-align: top;
          }
        }
        .txt_r {
          float: left;
          padding-left: 20px;
          padding-top: 25px;
          p {
            padding-top: 12px;
            font-size: 13px;
            span {
              font-weight: bold;
            }
          }
        }
        &.not_winner {
          background: #fff;
        }
        .txt_r p.item_name {
          font-size: 24px;
          font-weight: bold;
          color: #333;
          line-height: 0.7em;
        }
      }
    }
    .rsvp_notice {
      margin-top: 20px;
      color: #333;
      p {
        font-size: 13px;
        line-height: 20px;
      }
      .txt_notice {
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      ul li {
        padding-left: 10px;
        background: url(/assets/images/bg_dot.gif) no-repeat 0 8px;
        font-size: 13px;
        line-height: 20px;
      }
      &.winner_notice {
        padding: 15px;
        border: 1px solid #eee;
        .txt_notice {
          font-size: 15px;
        }
      }
    }
    .btn_box {
      padding-top: 30px;
      text-align: center;
    }
  }
}

/* FAQ */

.the_draw_tit {
  width: 100%;
  height: 130px;
  line-height: 130px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  font-size: 30px;
  color: #333333;
  display: table;
  h2 {
    font-size: 30px;
    font-weight: normal;
    color: #333;
    display: table-cell;
    vertical-align: middle;
  }
}

.the_draw_con_wrap {
  background: #f7f7f7;
  padding: 30px 0 50px 30px;
  overflow: hidden;
}

.the_draw_con {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-right: 40px;
  overflow: hidden;
  .left {
    background: #fff;
    padding: 50px 0;
  }
  .box {
    padding: 0 40px;
    font-size: 13px;
    color: #666;
    h3 {
      font-size: 23px;
      color: #333333;
      font-weight: bold;
      margin: 0 0 20px 0;
    }
    p {
      line-height: 19px;
      &.p01 .link {
        text-decoration: underline;
        color: #666;
      }
    }
    ul.p01_link {
      padding: 35px 0;
      border-bottom: 1px solid #e5e5e5;
      li {
        margin-bottom: 15px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
        a {
          font-size: 17px;
          color: #333333;
          color: #1d65be;
          text-decoration: underline;
        }
      }
    }
    p.p02 {
      margin-bottom: 15px;
    }
  }
}

.border-b {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 35px;
}

.dot {
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 0;
  top: 8px;
}

.the_draw_con .box {
  .p03 {
    dt {
      font-weight: bold;
      line-height: 19px;
      padding-left: 10px;
      position: relative;
    }
    dd {
      margin: 10px 0 20px 0;
      padding-left: 23px;
      line-height: 19px;
    }
  }
  .p04 {
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.foot-box {
  height: 150px;
  border-top: 1px solid #e5e5e5;
}

.rsvp-over:hover {
  color: #fa5400 !important;
}

@media (max-width: 1200px) {
  .lc_pro_account {
    font-size: 27px;
    .h-tit {
      font-size: 27px;
      margin-left: -250px;
    }
    .s-tit {
      margin-left: -65px;
    }
  }
  .rsvp_info_cont {
    .rsvp_enter {
      width: auto;
      ol li {
        width: 31%;
      }
      width: auto;
      padding: 50px;
      ul li {
        height: auto;
      }
    }
    .rsvp_faq {
      width: auto;
    }
    .rsvp_enter ol li dl {
      font-size: 28px;
    }
  }
  .rsvp_info_tit h2 {
    font-size: 28px;
  }
  .rsvp_info_cont .rsvp_enter .rsvp_enter_txt {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .lc_pro_account {
    font-size: 25px;
    .h-tit {
      font-size: 25px;
    }
  }
  .rsvp_info_cont .rsvp_enter ol li dl {
    font-size: 27px;
  }
  .rsvp_info_tit h2 {
    font-size: 26px;
  }
  .rsvp_info_cont .rsvp_enter .rsvp_enter_txt {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .lc_pro_account {
    font-size: 23px;
    .h-tit {
      font-size: 23px;
    }
  }
}