// 국외이전 동의 때문에 생성된 scss

// 구글 Noto sans
@import "https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700";

.input-checkbox {
	&.type2{
        position: relative;
        display: inline-block;
        >label{
            display: table;
            line-height: 20px;
            cursor: pointer;
        }
        > input {
            position: absolute;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        i{
            font-size: 14px;
            width: 22px;
            height: 22px;
            vertical-align: top;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 6px;
            display: inline-block;
            position: relative;
        }
		&.disabled{
			i{
				background-color: #eee !important;
				border-color: #d1d1d1 !important;
				span.icon{
					&:before, &:after{
						background-color: #d1d1d1 !important;
					}
				}
			}
			> label{
				cursor: default;
				span{
					color:#8d8d8d;
				}
			}
		}
        &.checked{
            i{
                display: inline-block;
                border-color: #111;
                background-color: #111;
                span.icon{
                    color: rgb(255, 255, 255);
                    position: absolute;
                    top: 3px;
                    left: 2px;
                
                    &:before{
                        width: 6px;
                        border-top-left-radius: 1px;
                        border-bottom-left-radius: 1px;
                        top: 5px;
                        left: 1px;
                        transform: rotate(49deg) scale(0, 1);
                        animation: 100ms ease 0s 1 normal forwards running animation-checked-before;
                    }
                    &:after {
                        width: 13px;
                        border-top-right-radius: 1px;
                        border-bottom-right-radius: 1px;
                        top: 10px;
                        left: 4px;
                        transform: rotate(-49deg) scale(0, 1);
                        animation: 100ms ease 50ms 1 normal forwards running animation-checked-after;
                    }
                
                    &:before, &:after{
                        content: "";
                        height: 2px;
                        background-color: #fff;
                        display: block;
                        position: absolute;
                        transform-origin: left center;
                    }
                    @-webkit-keyframes animation-checked-before{
                        0%{-webkit-transform:rotate(49deg) scale(0,1);-ms-transform:rotate(49deg) scale(0,1);transform:rotate(49deg) scale(0,1);}
                        100%{-webkit-transform:rotate(49deg) scale(1,1);-ms-transform:rotate(49deg) scale(1,1);transform:rotate(49deg) scale(1,1);}
                    }
                    @keyframes animation-checked-before{
                        0%{-webkit-transform:rotate(49deg) scale(0,1);-ms-transform:rotate(49deg) scale(0,1);transform:rotate(49deg) scale(0,1);}
                        100%{-webkit-transform:rotate(49deg) scale(1,1);-ms-transform:rotate(49deg) scale(1,1);transform:rotate(49deg) scale(1,1);}
                    }
                    @-webkit-keyframes animation-checked-after{
                        0%{-webkit-transform:rotate(-49deg) scale(0,1);-ms-transform:rotate(-49deg) scale(0,1);transform:rotate(-49deg) scale(0,1);}
                        100%{-webkit-transform:rotate(-49deg) scale(1,1);-ms-transform:rotate(-49deg) scale(1,1);transform:rotate(-49deg) scale(1,1);}
                    }
                    @keyframes animation-checked-after{
                        0%{-webkit-transform:rotate(-49deg) scale(0,1);-ms-transform:rotate(-49deg) scale(0,1);transform:rotate(-49deg) scale(0,1);}
                        100%{-webkit-transform:rotate(-49deg) scale(1,1);-ms-transform:rotate(-49deg) scale(1,1);transform:rotate(-49deg) scale(1,1);}
                    }
                    }
                    
            }
        }
    }
}
a.underline{
    text-decoration: underline;
}
.btn-link, .button{
    &.p24{
		padding-left:24px !important;
		padding-right:24px !important;
	}
    &.line{
        &.type2{
			border:1px solid  #ccc;;
			color: #000;
		}
    }
    &.bold{
		font-weight: 500;
	}
    &.x2large{
		height:60px; font-size:16px; line-height: 60px;
		&.padding-thin{
			padding-left:24px;
			padding-right:24px;
		}
	}
    &.width-max {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 100%;
        text-align: center;
    }
}
.uk-modal{
    &.update-profile {
        .uk-modal-dialog{
            max-width: calc(100% - 20px);
            &.uk-modal-dialog-small{
                width: 480px;
            }
        }
        .content-wrap {
            padding: 0px 24px 10px;
        }
    }
}
.launch-footer{
    .footer-banner{
        color: #fff;
        font-size: 12px;
        text-align: center;
        padding:11px 0px 11px 0px;
        width: 100%;
        letter-spacing: 0px;
        border-bottom: 1px solid #444;
        .btn-open-modal{
            color: #fff;
            font-weight: 500;
            margin-left:10px;
            text-decoration: underline;
            text-underline-position: under;
            -webkit-text-decoration-color: #7B7B7B;
            text-decoration-color: #7B7B7B;
        }
    } 
}
.update-profile {
    *{
        font-family: "Noto Sans KR", "Malgun Gothic", "MalgunGothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        word-break: keep-all;
    }
    strong{
        font-weight: 500;
    }
    .content-wrap {
        margin: 0 auto;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        max-width: 440px;
        .header {
            .ns-swoosh{
                display: block;
                padding: 0px 0 24px 0;
                font-size: 18px;
                color: #111;
            }
            .title {
                margin: 24px 0px 24px 0px;
                font-size: 28px;
                line-height: 32px;
                color: #111111;
                font-weight: 500;
                letter-spacing: -0.5px;
            }
        }
        .body{
            font-size: 16px;
            line-height: 24px;

            .btn-group{
                margin-top: 35px;
            }
        }
    }
    &.uk-modal{
        .header {
            .title{
                font-size: 24px;
            }
        }
    }

    .uk-margin-large-bottom{
        margin-bottom: 35px !important;
    }
    .uk-margin-small-bottom{
        margin-bottom: 10px !important;
    }
    
}
@media (max-width: 768px) {
    .update-profile {
        .content-wrap {
            max-width: 100%;
            .header{
                .title{
                    font-size: 24px;
                }
            }
            .body{
                .btn-group{
                    margin-top: 20px;
                }
            }
        }
    }
    .uk-modal{
        &.update-profile {
            .content-wrap {
                padding: 0px;
            }
        }
    }
}
.consent-description{
    font-size: 12px;
    color:#666;
    margin: 5px 10px 20px 20px;
    width: calc(100% - 30px);
    line-height: 20px;
    word-break: keep-all;
}