.customer-myreview {
	position:relative;

	.review_all_view {
		float: right;padding: 0;
		font-size: 12px;
		margin-right: 0px;
	}

	.select-box.sort {
		border:1px solid $border-2;
		margin-bottom:15px;
	}
}


/******** mypage - 나의 상품리뷰 ***********/
.my-comment-read {
	//max-width:630px;

	> li {
		border:1px solid $border-2;
		margin-bottom:15px;
	}

	.order-lanscape-list {			// 리뷰상품과 상품정보
		padding: 16px 0 20px;
	    border-bottom: 1px solid #d8d8d8;
	    border-top: 1px solid #d8d8d8;
	}
	.read-list {
		.read-subject {
			font-weight: bold;
			color: $font-1;
		}
		.user-info {
			margin-top:15px;
			margin-bottom:15px;
		}
		.user-name {
			display: inline-block;
		}
		.read-comment {
			margin-top: 20px;
			line-height: 2.7;
		}
		.review-help {
			margin-top: 40px;
			.review-modify,
			.review-remove  {
				font-size: 14px;
				text-decoration: underline;
				color: #9e9d9e;
			}

		}
	}

	.sort-tabs {
		position:absolute;
		top:0;
		right:0;
	}
	.opt-value-wrap {		// 마이페이지 - 나의상품리뷰 (밸류값)
		margin-top: 0;
	}
	.read-list {		// 마이페이지 - 나의상품리뷰 (리스트)
		width: 698px;
		width: calc(100% - 227px);
		margin-top: 20px;
	}
}

/* purchasesReview.html */
.customer-purchasesreview {
	.review-write {
		@include box-sizing();

		margin:0 0 15px 0;
		padding:0 35px 0 0;
		max-width:935px;
		border:1px solid $border-2;
	}
	.order-lanscape-list {
		padding:20px 0;
	}
	.rating-star-data {
		padding:30px 0 20px;
	}
	.write-comment {
		margin-top:10px;
	}
	.review-btnarea {
		margin:10px 0 20px;
		text-align:right;
		.btn-link {
			width:140px;
		}
	}
}


/* account-review-write */
.account-review-write {
	/*.review-summary-group {
		> li {display:table; width:100%;}

		.order-lanscape-list {display:table-cell; padding:30px;}
		.rating-star-data {display:table-cell; vertical-align:middle;}
		.rating-description {padding-bottom:0;}
	}*/

	.btn-delete {display:none;}
	.review-main-msg {display:none;}

	.review-summary-group {
		> li {
			min-height:136px;
			&:after{content:''; clear:both; display:block;}
			/* &:last-child {border:1px solid $border-2;}*/
		}
		.order-lanscape-list {float:left; min-width:200px; max-width:300px; width:300px; padding:20px; margin:0;}
		.rating-star-data {float:left; padding:0; padding-top:30px;}
		.rating-description {padding-bottom:0;}
	}
}




.refund-account-container {
	display:none;
	position:absolute;
	top:-9999px;
	left:-9999px;
	text-indent:-9999px;
	height:0;

	&.need-refund-account {
		display:block;
		position:static;
		text-indent:0;
		height:auto;
	}
}





/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.my-comment-read {
		.sort-tabs {
			position:static;
			padding:30px 0;
			text-align:center;

			.sort-item {width:50%;}
		}
		.order-lanscape-list {
			padding: 16px 24px 20px;
		}
		.read-list {
			width: 100%;
			padding: 0 24px;
		}
	}
}
