@charset "utf-8";
.customer-aside.mypage .title.m_init{
    margin: 5px 0;
}

.mypage__grade {
    .mypage_grade_wrap {
        border-top: 1px solid #e5e5e5;
        .grade_title {
            background-color: #f8f8f8;
            position: relative;
            padding: 26px 32px;
            // height: 170px;
            box-sizing: border-box;

            &:after {
                position: absolute;
                top: 37px;
                left:175px;
                width: 96px;
                height: 96px;
                content: "";
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 96px auto;
            }

            .tit{
              font-size: 16px;
              color: #2a2a2a;
              display: block;
              margin-bottom: 10px;
              line-height:16px
            }
            .my_grade{
              font-size: 48px;
              color: #111111;
              font-weight: bold;
            }

            
            .my_grade_txt{
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                padding-left: 259px;
                line-height: 25px;
                vertical-align: top;

                & strong{
                    font-weight: inherit;
                }
            }
            .my_gread_consent_info{
                font-size:12px;
                padding-left: 350px;
                display: inline-block;
                margin-top:-20px;
            }

            &.grade_mvp{
                .my_grade_txt{
                    padding-left: 275px;
                }
            }
            &.grade_mvp:after {
                background-image: url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/c-commerce/assets/images/npsite/ico_grade_mvp_on.png');
            }

            &.grade_normal:after {
                background-image: url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/c-commerce/assets/images/npsite/ico_grade_normal_on.png');
            }
            .my_mvp {
                display: none;
                position: absolute;
                top: 120px;
                font-size: 14px;
                color: #888;
                font-weight: normal;
            }
            &.grade_mvp .my_mvp {
                display: block;
            }
        }
        .mile_infomation {
            padding: 0;
            &:after, .clearfix:after {
                display: block;
                content: "";
                clear: both;
            }
            .mile_info_con {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                display: inline-block;
                padding: 0 31px;
                border-bottom: 1px solid #e5e5e5;
                .mile_txt {
                    float: left;
                    width: 40%;
                    //width: 230px;
                    padding: 32px 15px;
                    box-sizing: border-box;
                    text-align: left;
                    dl {
                        margin: 10px auto;
                        /*font-size: 14px;*/
                        dt{
                          display: inline-block;
                          font-size: 16px;
                          line-height: 25px;
                          margin-bottom: 7px;
                        }
                        dd{
                          font-size: 21px;
                          color: #000;
                          a{
                            font-size: 11px;
                            text-decoration: none;
                            width: 59px;
                            height: 32px;
                            line-height: 32px;
                            text-align: center;
                            border: 1px solid #000;
                            border-radius: 2px;
                            box-sizing: border-box;
                            margin-left: 10px;
                            margin-top: -5px;
                          }
                        }
                    }

                    a{
                        display: inline-block;
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
                .mile_graph_wrap {
                    float: left;
                    width: 60%;
                    padding-top: 20px;
                    .graph_con {
                        position: relative;
                        .graph_inner {
                            &.point_wrap{
                                background: #fff;overflow:visible;

                                .graph_point {
                                    display: inline-block;
                                    width: 200px;
                                    height: 20px;
                                    text-align: center;
                                    top: 0;
                                    left: 0;
                                    position: relative;
                                    transform: translate(-50%);
                                    font-size: 16px;
                                    color: #2e2e2e;
                                    background-color: #fff;

                                    &:after {
                                        content: '';
                                        position: absolute;
                                        bottom: -8px;
                                        left: 50%;
                                        width: 2px;
                                        height: 8px;
                                        background-color: #000;
                                        margin-left: -1px;
                                    }
                                }
                            }
                        }
                        .graph_bar {
                            width: 30%;
                            background: #000;
                        }
                        .graph_inner {
                            height: 16px;
                            overflow: hidden;
                            display: inline-block;
                            margin: 19px auto 0;
                            width: 100%;
                            background: #e5e5e5;
                            border-radius: 2px;
                            .graph_bar {
                                display: block;
                                height: 100%;
                            }
                        }
                        .graph_des {
                          position: absolute;
                          bottom: -22px;
                          right: 0;
                          font-size: 14px;
                          color: #8d8d8d;
                        }
                    }
                }
            }
            .mile_totla_data {
                float: right;
                margin-top: 10px;
                //margin-right: 15px;
                font-size: 12px;
                width: 100%;
                text-align: left;
                color: #2a2a2a;
            }
        }
        .user_grade_notice {
            padding: 20px;
            .user_grade_txt {
                line-height: 21px;
                p {
                    margin: 20px auto 30px;
                    font-size: 18px;
                    color: #111;
                    line-height: 28px;
                    text-align: center;
                    .user_date {
                        font-weight: 500;
                        & em {
                            color: #111;
                            font-weight:bold;
                        }
                    }
                }
                ul {
                    li {
                        list-style-type: disc;
                        font-size: 14px;
                        line-height: 24px;
                        color: #666;
                        a{
                            text-decoration: underline;
                            color: #2e2e2e;
                        }
                    }
                }
            }
            .mile_button_area {
                margin-top: 35px;
                text-align: center;
                .button:hover{
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    .uk-modal {

        .uk-modal-dialog {

            .customer-tip{
                padding: 20px 0 0 20px;
                color: #2a2a2a;
            }

            .uk-grid {
                margin: 0;
                padding-bottom: 0;

                .history-list {
                    width: 100%;
                    padding-left: 0;
                    li{
                      padding: 20px 16px;
                      font-size: 14px;
                      color: #2e2e2e;
                      .date{
                        font-weight: normal;
                        color: #2e2e2e;
                      }
                      .reason{
                        margin-left: 49px;
                      }
                      .price{
                        font-size: 16px;
                        color: #2a2a2a;
                      }
                    }
                    .history-title{
                      font-size: 14px;
                      font-weight: bold;
                      .price{
                        font-size: 20px;
                      }
                    }

                    li .date{
                        width: auto;
                    }
                }
            }

            .modal__content {
                .order-filter{
                    border:0;
                    border-bottom:1px solid #ddd;
                    background-color:#fff;
                    padding:0 25px 16px 25px;

                    .sort-tabs .sort-item.active:before{
                        border:1px solid #000;
                    }
                    .sort-item:first-child:before{
                      border-radius:3px 0 0 3px;
                    }
                    .sort-item:last-child:before{
                      border-radius:0 3px 3px 0;
                    }
                  .button.small{
                    border: 1px solid #e8e8e8;
                    background-color: #f7f7f7;
                    font-size: 13px;
                    font-weight: normal;
                    color: #111;
                  }
                }
            }

            .modal__content_inner{
                padding: 0 25px 30px;
            }

            table.customer-table-type {
                margin: 20px 0 10px;

                em {
                    color: #2a2a2a;
                    font-weight: bold;
                }

                th {
                    text-align: left;
                    background-color: #f8f8f8;
                    color: #2e2e2e;
                    font-weight: normal;
                    border-top: solid 1px #dedfda;
                    border-bottom: solid 1px #dedfda;
                    padding: 16px;
                }
                tr:nth-of-type(odd){
                  background-color: #fff;
                }
                th:last-child{
                  text-align: right;
                }

                td {
                    padding: 16px;
                    border-bottom: 1px solid #e5e5e5;

                    &.date{
                        text-align: left;
                    }

                    &.cost{
                        text-align: right;
                    }

                }
            }

            .btn-pagination {
                .paging {
                    width: 25px;
                    height: 25px;
                }
            }

            .modal__header{
                padding: 17px 0;
                border-bottom:0;
            }
        }

    }
}
@media (max-width:1024px) {
    .mypage__grade {
        width: auto;
        min-width: 320px;
        float: none;
        .mypage__common__header{
            padding: 20px 0;
        }
        .mypage_grade_wrap {
            width: auto;
            float: none;
            /* margin: 0 15px; */
            margin: 0;
            padding: 0;
            border-top:none;
            .grade_title {
                margin: 0;
                padding: 32px;
                font-size: 18px;
                background-size: 50px auto;
                background-position: right 15px;
                height: auto;
                .my_grade:after,
                &.grade_normal .my_grade:after  {
                    top: 2px;
                    width: 50px;
                    background-size: 50px auto;
                }
                &.grade_mvp {
                    background-size: 50px auto;
                }
                .my_mvp {
                    position: absolute;
                    top: 135px;
                    left: 32px;
                    bottom: auto;
                }
                &:after{
                  width: 72px;
                  height: 72px;
                  background-size: 100%;
                }
                .my_grade_txt{
                  padding-left: 0;
                  font-size: 16px;
                  line-height: 25px;
                  margin-top: 30px;
                  display: block;
                }
                &.grade_mvp{
                    .my_grade_txt{
                        padding-left: 0px;
                    }
                }
                .my_gread_consent_info{
                    padding-left: 0;
                }
            }
            .mile_infomation {
                .mile_totla_data {
                    float: left;
                    margin: 10px auto 0;
                    font-size: 13px;
                }
                .mile_info_con {
                    padding: 32px;
                    .mile_txt {
                        width: 100%;
                        text-align: left;
                        float: none;
                        padding: 0;
                        position: relative;;
                        margin-bottom: 16px;
                        dl {
                            margin:5px 0;
                            &+dl{
                                margin-top: 0;
                            }
                            dd{
                              font-size: 20px;
                            }
                        }
                        a{
                          position: absolute;
                          top: 10px;
                          right: 0;
                          margin-top: 0;
                        }
                    }
                    .mile_graph_wrap {
                        width: 100%;
                        float: none;
                        .graph_con {
                            .graph_des {
                                position: absolute;
                                bottom: -25px;
                                right: 0;
                                padding-right:0;
                                font-size: 14px;
                                line-height:18px;
                            }

                        }
                    }
                }
            }
            .user_grade_notice{
              .user_grade_txt{
                padding: 0 20px;
              }
            }
        }
    }
}
.uk-modal-page, .uk-modal-page body{
//   height: 100%;
}
