.cart-summary-layer{
	position:absolute;
	top: 50px;
	right: 40px;
	opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity .1s,visibility 0s linear .1s,transform .15s ease;
	padding-top:10px;
	width: 350px;
	&.over{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: opacity .2s,visibility 0s,transform .25s ease;
	}
}

.cart-summary-info{
	padding: 20px 14px;
	border: 1px solid #999;
	background-color: #fff;

	.cart-summary-header{
		text-align: center;
		.header-icon{
			font-size: 24px;
		}
		.header-title{
			color:#000;
			padding: 16px 0px;
			font-size: 18px;
		}
	}
	
	.mypage-cart{
		&:after{
			padding-top:0px;
		}
		.product-opt_cart{
			border:none;
			padding: 0px;
			.item-detail{
				min-height: 90px;
				position: relative;
				.item-info{
					width: 100%;
					.img-wrap{
						width:86px;
					}
					.info-wrap{
						padding-left: 102px;
					}
				}
			}
			.item-more-length-info{
				position: absolute;
				bottom: 0px;
				left: 166px;
				font-size: $font-size-m;
    			color: $font-2;
				line-height: 1.7;
			}
			.item-btn{
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
				> * {
					width: 34%;
				}
			}
		}
	}
}

.mobile_menu{
	.cart-summary-info{
		border:none;
		padding: 10px 0px 40px 0px;
		&.pc-only{
			display: none !important;
		}
		.mypage-cart{
			.product-opt_cart{
				.item-detail{
					.item-info{
						width: 105%;
						.info-wrap{
							.tit{
								height: auto;
							}
						}
					}
				}
				.item-more-length-info{
					font-size: 13px;
				}
				.item-btn{
					left: 0px;
					width: 100%;
					padding-left:0px;
					> *{
						height: auto;
						width: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.cart-summary-layer{
		&.pc-only{
			display: none !important;
		}
	}
}