/* price font weight setting  : str */
.price {
	// font-weight:500;
	// > strong {font-weight:500}
	// .sale-price {
	// 	font-weight:500;
	// 	> strong {font-weight:500}
	// }
}
.total-price {
	// > strong {font-weight:500}
}
/* price font weight setting  : end */


.order-offer-con .pb2-sm{
		border-top:2px #b9b9b9 dotted;
		cursor:Pointer;

}
.order-offer-con .pb2-sm:first-child{
		border-top:0;
}

.product-checkout{
	width: 375px;
	max-width: 375px;
	padding: 0;
	box-sizing:border-box;
	// background-color: $bg-4;
	color: $font-1;

	&.checkout {
		width: 384px;
		max-width: 384px;
		margin-top:0;
		// margin-left: 47px;
  //  		margin-right: 58px;
		background-color:$bg-1;
	}
	.order-title {
		margin-top: -40px;
		margin-bottom: 20px;
		padding: 0 0 15px 0;
	    font-size: 24px;
	    font-weight: bold;
	    letter-spacing: -0.2px;
	    color: $font-1;
	    border-bottom:1px solid #dedfda;
	}
	.label {display:table-cell; font-size:14px; color:#000; font-weight: 500; letter-spacing: -1px;}
	.price {
		display:table-cell;
		text-align:right;
		&.sale {color: $prd_total-price;}
		&.total {
			> strong {font-size:20px; font-weight: 500;}
		}
		> strong {font-size:14px; font-weight: 500;}
	}
	.sale-price {
		color:$font-4;
		font-size: 14px;
		text-decoration: line-through;
		strong {
			// padding-right: 8px;
			font-weight: normal;
		}
	}

	.info-price	{
		> span {
			width:100%;
			display:table;
			margin-top: 20px;
			// &:first-child {margin-top:0;}
		}
	}
	.total-price {
		display:table;
		width:100%;
		border-top:1px solid $border-3;
		border-bottom:1px solid $border-3;
		margin-top: 42px;
		padding:27px 0px 27px 0px;

		&.adjust{
			font-size:$font-size-s;
			padding-bottom: 27px;		// 기존 5px를 27px로 변경 2018.03.29
		}
		.label {
			font-size: 20px;
		}
	}
	.info {margin-top:32px; font-size:12px; line-height:1.7; color:$font-1;padding-bottom:30px;}
	.btn-style-guide {margin-top:12px; font-size:12px;}
	> .order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		margin-top: 10px;
		padding-bottom:17px;
	}

	.btn-order {
		margin-top: 30px;
	}

	.promotion {
		margin-top: 0;
		.input-textfield {
			> input {
				height: 50px;
			}
			> label {
				top: 18px;
			}
		}
		.btn-submit {
			height: 50px;
			border-left: 0;
			color: $font-1;
		}
	}
}


.mypage-cart{

	.tbl-title {
		display:table;
		width:100%;
		padding:10px 50px 10px 0;
		box-sizing:border-box;
		text-align:center;
		border-top:1px solid $border-2;

		> * {
			display:table-cell;
			font-size: 11px;
			color: $font-4;
		}
		.item-info {
			width:60%;
			text-align: left;
		}
		.option-wrap {width:25%;}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		.cart-title {font-size:18px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:20px 50px 20px 0;
		box-sizing:border-box;

		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}
		&.addon-item {
			border-top:0px;
			padding:0 0 0 150px;
			.item-detail {
				.item-info {
					.img-wrap {width:60px;}
					.info-wrap {padding-left:80px;}
				}
			}
		}

		.item-detail{
			display:table;
			width: 100%;
			min-height:110px;

			> * {display:table-cell;}


			.item-info {
				width: 68%;
				.img-wrap {
					position: absolute;
					overflow:hidden;
					display:inline-block;
					width: 110px;
					background-color: #f6f5f6;
					&.disabled {
						opacity:0.5;
					}
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left: 158px;
					line-height:18px;
					vertical-align: top;

					.tit {
						display:block;
						margin-bottom: 12px;
						font-size:14px;
						font-weight: bold;
						color: $prd_text-color;
					}
					.opt {
						display:inline;
						font-size:14px;
						color:$font-2;
						line-height: 1.7;
						&.quantity {
							display: block;
						}
						&.opt-block {
							display: block;
						}
					}
					.style-code {
						font-size:14px;
					}

					// .current-option-wrap {
					// 	.opt {display:inline;}
					// }
					.btn {
						display:block; margin-top:20px; font-size:12px; color: $font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color: $prd_text-color;}
					a:hover {color: $prd_text-color-over;}
				}

				/* 장바구니 내에 픽업매장 정보 (위치, 주소, 전화) */
				.cart-physical-info {
					.content-title {
						color: #000;
						margin-top: 20px;
						font-size: 14px;
						font-weight: bold;
					}
					.search-list {
						marign-top: 5px;
						font-size: 14px;

						.tit {
							margin-top: 12px;
							margin-bottom: 3px;
							font-weight: normal;
							color: #606060;
							line-height: 18px;
						}
						.address {
							color: #606060;
						}
						.phonenum {
							padding-left: 15px;
							color: #606060;
						}
					}
				}
			}

			.review-info {
				width: 80%;
				.info-title a{
					font-weight : bold;
				}
			}

			.option-wrap {
				width: 22%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size: 14px;
					color: #6c6c6c;
				}
				.optchange-btn {
					display: inline;
					font-size: 14px;
					color: #6c6c6c;
					text-decoration: underline;
					border-radius: 0;
				}
			}
			.total-price {
				padding-top:3px;
				vertical-align:top;
				text-align:center;
				box-sizing:border-box;
				position: relative;
				.sale-price {
					font-size: 15px;
				}
				strong {
					font-size: 15px;
				}
				.discount-wrap{
					position: absolute;
					left: -45px;
					top: 3px;
					.per{
						font-size: 16px;
						color: #FF6600;
					}
				}
			}
			.delete-btn{
				position:absolute; top:23px; right:10px;
				.btn-delete {
					color: #ddd;
					i {
						font-size: 16px;
						font-weight: bold;
						color: #000;
					}
				}
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left: 158px;
			margin-top:10px;
		}

		/* 위시리스트 , 바로주문 버튼 */
		.btn-box {
			width:100%;
			margin-top: 5px;
			padding-left: 158px;
			box-sizing: border-box;
			.btn-wishlist-add {
				float: left;
				.wish-btn {
					color: #666;
					font-size: 12px;
					height: 40px;
				}
				i {
					font-size: 19px;
					vertical-align: -3px;
					color: #ddd;
				}
			}
			.later-btn {
				margin-left: 43px;
				color: #666;
				font-size: 12px;
				height: 40px;
				i {
					font-size: 22px;
					vertical-align: -5px;
				}
			}
			.addcart-btn {
				margin-left: 43px;
				color: #666;
				font-size: 12px;
				height: 40px;
				i {
					font-size: 24px;
					vertical-align: -6px;
				}
			}
			.btn-direct-order {
				float: right;
				margin-right: -50px;
			}
		}
	}

	//마이페이지 리뷰 수정/삭제 버튼..위치
	.review_product-opt_cart{
		padding:20px 0px 20px 0;
	}
	.total-price {
		.sale-price {display:block; margin-bottom:3px; font-size:17px; text-decoration:line-through; color:$font-1;}
		> strong{font-size:17px; color: $prd_sale-price; font-weight: normal;}
	}
}


/****** 장바구니 ******/
.pt_cart {
	max-width: $pd-max-width;
	margin: 0 auto;
	.info{
		.txt{
			color:#fb5306;
			margin-bottom: 10px;
			font-size:13px;
		}
	}
}
.cart-title {
	padding:0;
	margin: 0 0 15px 0;
	text-align: center;
	font-size:28px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: -0.2px;
	color: $title_category-color;
}
.cart-title-sm {
	padding:0 0 15px 0;
	font-size:24px;
	font-weight:bold;
	letter-spacing: -0.2px;
	color:  $title_category-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}
.cart-title-grey {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: left;
	color: $title_items_category-color;
	vertical-align: 2px;
  }

.mc-cart-num {  // 장바구니에 담긴 갯수
	width: 100%;
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: #666;
}
.mc-later-num {  // 나중에 구매하기 갯수 - 모바일에서만 사용
	width: 100%;
	text-align: center;
	margin: 0 0 27px 0;
	color: #8d8d8d;
}
.item-container {
	display:table;
	width:100%;
	max-width: 1440px;
	min-height:320px;
	margin: 30px auto 0;
	/*padding: 0 55px 80px;*/
	box-sizing: border-box;

	&.less-items {
		display:block;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		margin: 0;
		float:left;
		display:inline-block;
		width: 906px;
		width: -webkit-calc(100% - 424px);
		width: -moz-calc(100% - 424px);
		width: calc(100% - 424px);
		box-sizing:border-box;
		&.item-list-no {
			width: 100%;
			margin: 0;
			padding: 0 64px 0 48px
		}

		.product-select-all {
			padding: 20px 0;
			border-top: 1px solid #e5e5e5;
			.btn-cart-delete-All {
				text-decoration: underline;
			}
		}
		.addon-tit {
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: bold;
			color: #000;
		}
	}
	.product-checkout {		//2018.7.4 장바구니 order summary
		margin: 0;
		width: 384px;
		max-width: none;
		vertical-align: top;
		display: inline-block;
		float: right;
		border-top: 1px solid #d1d1d1;
		.tit {
			// margin-top: -44px;
			// padding-bottom: 20px;
			// color: #111111;
		 //    font-weight: bold;
		 //    font-size: 24px;
		 //    vertical-align: middle;
		 //    border-bottom: 1px solid #d1d1d1;
		 	display: block;
			margin-top: -1px;
			padding: 20px;
			border-bottom: 0;
			background-color: #e5e5e5;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.cart-empty {
		padding: 40px 0;
		border-top: 1px solid #dedfda;
		border-bottom: 1px solid #dedfda;
	}
	.align-center {
		display:block;
		margin:0;
		text-align:center;
	}
}

/* mini 장바구니 */
.section-minicart {
	.cart-order_list {
		.order-list {
			.image-wrap{
				width: 60px;
				padding: 0;
			}
			.order-info {
				float: left;
				display: block;
				width: calc(100% - 80px);
				width: -moz-calc(100% - 80px);
				width: -webkit-calc(100% - 80px);
				padding-left: 20px;
				.tit {
					width: 100%;
				    padding-right: 40px;
				    box-sizing: border-box;
					line-height: 18px;
				}
			}
			.btn-delete {
				display: block;
			}
		}
	}
}






/* new cart display : str */
.product-checkout {

	&__in-box {
		padding: 20px;
		& + .product-checkout__in-box {
			border-top: 1px solid #f3f3f3;
		}
		&--pay {
			border: 1px solid #e5e5e5;
			margin-bottom:20px;
		}
	}
	.promotion {
		// margin: 0 0 20px;
		// border-top: 1px solid #e5e5e5;
		// border-bottom: 1px solid #e5e5e5;

		&:after {
			display: block;
			clear: both;
			content: '';
		}
		&__box {
			padding-top: 30px;
			&:after {
				display: block;
				clear: both;
				content: '';
			}
		}
		&__input {
			float: left;
			box-sizing: border-box;
			margin-right: 9px;
			width: 140px;
		}
		&__button {
			float: right;
			box-sizing: border-box;
			width: 90px;
			button {
				border-right: 3px;
				background-color: #888;
				font-size: 13px;
				color: #fff;
			}
		}
		&__anchor {
			position: relative;
			display: block;
			padding: 25px 0;
			background-image: url(/common/img/ico_plus_black.png);
			background-repeat: no-repeat;
			background-position: center right;
			background-size: 12px;
			font-size: 14px;
			color: #111;
			&.is-active {
				background-image: url(/common/img/ico_minus_black.png);
			}
			.sale-price {
				position: absolute;
				top: 50%;
				right: 42px;
				margin-top: -7px;
				text-decoration: none;
				font-size: 14px;
				color: #999;
			}
		}
		&__panel {
			display: none;
			padding-bottom: 50px;
			.input-box {
				margin-bottom: 15px;
			}
		}
		.input-box {
			& + .input-box {
				margin-top: 20px;
			}
		}
		// .input-textfield {
		// 	& > label {
		// 		top: 50%;
		// 		margin-top: -6px;
		// 		font-size: 12px;
		// 	}
		// 	& > input {
		// 		border-radius: 3px;
		// 		height: 40px;
		// 	}
		// }
		// .btn-submit {
		// 	height: 40px;
		// 	background-color: #888;
		// 	font-size: 14px;
		// 	color: #fff;
		// }
	}
	.info-price {
		& > a {
			display: table;
			margin-top: 20px;
			width: 100%;
		}
		.item-price {
			&:first-child {
				margin-top: 0;
			}
		}

	}
	.item-price {
		&__panel {
			display: none;
			li {
				display: table;
				margin-top: 10px;
				width: 100%;
				.label {
					font-size: 13px;
					color: #666;
					&:before {
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
						width: 3px;
						height: 3px;
						border-radius: 50%;
						background-color: #272727;
						content: '';
					}
				}
				.price {
					font-size: 13px;
					color: #666;
				}
			}
		}
		&__arrow {
			.label {
				&:after {
					display: inline-block;
					vertical-align: middle;
					margin-left: 8px;
					width: 10px;
					height: 6px;
					background-image: url(/common/img/ico_arrow_down_light_gray.png);
					background-repeat: no-repeat;
					background-position: 0 0;
					content: '';
				}
			}
			&.is-active {
				.label {
					&:after {
						background-image: url(/common/img/ico_arrow_up_light_gray.png);
					}
				}
			}
		}
	}
	.label {
		font-size: 14px;
	}
	.price {
		font-size: 14px;
		& > strong {
			padding-left: 8px;
			font-size: 14px;
		}
		&.total {
			& > strong {
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	.total-price {
		margin-top: 20px;
		padding: 0;
		border: none;
		.label {
			font-size: 18px;
		}
	}
	.btn-order {
		margin-top: 15px;
		background-color: #fb5302;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
	}
	.info {
		margin-top: 10px;
		li {
			position: relative;
			padding-left: 10px;
			font-size: 12px;
			color: #999;
			&:before {
				position: absolute;
				top: 8px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: #0c0c0c;
				content: '';
			}
		}
	}
	&__table {
		display: table;
	}
	&__row {
		padding: 5px 0;
	}
	&__cell {
		display: table-cell;
		vertical-align: middle;
		width: 239px;
		&:first-child {
			width: 145px;
		}
		&:after {
			display: block;
			clear: both;
			content: '';
		}
		.select-box {
			width: 100%;
		}
	}
}
/* new cart display : end */


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.cart-title {
		margin-top: 27px;
		text-align: center;
		.cart-title-grey {
			display: none;
		}
	}

	.item-container {
		padding: 0 15px;
		.item-list-wrap {padding-right:0;}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	//cart
	.mypage-cart {
		.product-opt_cart {
			.item-detail{
				display:block;
				.item-info {display:block; width:100%;}
				.option-wrap {
					display:block;
					width:100%;
					margin: 10px 0 12px;
					padding:0 0 0 120px;
					box-sizing:border-box;
					> .btn-link {}
				}

				.total-price {
					display:block; width:100%; padding: 3px 0 0 120px; box-sizing:border-box; text-align:left;
					.discount-wrap{
						left: auto;
    					right: -25px;
						.per{
							font-size: 14px;
							color: #FF6600;
						}
					}
				}
				//리뷰 수정,삭제 버튼..
				.review_btn {display:block; width:100%; padding: 3px 0 0 120px; box-sizing:border-box; text-align:right;}
				.delete-btn {right:20px;}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//.cart-title {display:none;}
	.cart-title {
		margin-top: 40px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.cart-title-sm {
		clear: both;
		padding: 30px 0 15px 0;
		text-align: center;
		font-size: 18px;
		.cart-title-grey {
			display: none;
		}
	}
	.mc-cart-num {
		font-size: 14px;
   		color: #999;
	}
	.item-container {
		> .item-list-wrap {
			margin-left: 0;
			margin-right: 0;
			&.item-list-no {
				padding: 0;
			}
		}
		.cart-empty {
			margin-bottom: 40px;
		}
	}
	.mypage-cart {
		.product-opt_cart {
			.item-detail {
				.item-info {
					.info-wrap {
						padding-left: 120px;
					}
				}
			}
			.promo-detail {
				padding-left: 120px;
				line-height: 16px;
				> span {
					display:block;
					line-height: 16px;
				}
			}
		}
	}

	//cart
	.mypage-cart {
		.product-opt_cart {
			.btn-box {
				padding-left: 0;
				.btn-direct-order {
					margin-right: -20px;
				}
			}
		}
	}

	.item-container {
		> .product-checkout {
			clear: both;
			float: none;
			max-width: 100%;
			margin-left:0;
			margin-right: 0;
			padding: 20px 0;
		}
		.product-checkout {
			.tit {
				margin-top: 0;
			}
		}
	}

	.product-checkout {			// 주문/결제 order summary부분
		position:static;
		width:100%;
		padding:30px;
		margin-top:0;

		.order-title {
			display: none;
		}
		.label {
			font-size: 15px;
		}
		.total-price {
			.label {
				font-size: 17px;
			}
		}
		&.checkout {margin-top:10px;}
	}

	.mypage-cart {
		.product-opt_cart {
			&:last-child {
				border-bottom: 0;
			}
			.item-detail {
				.item-info {
					.info-wrap {
						font-size: 13px;
						.tit,
						.style-code,
						.opt {
							font-size: 13px;
						}
					}
				}
				.option-wrap {
					.optchange-btn {
						font-size: 13px;
					}
				}
			}
		}
	}
}
