.order-checkout {
	// background-color: $bg-3;
	max-width: $pd-max-width;
	margin: 0 auto;
	padding: 0 0 30px;
	box-sizing: border-box;
	.contents-title {
		margin: 0 auto;
		padding:50px 0 30px;
		font-size: 28px;
	    font-weight: bold;
	    letter-spacing: -0.2px;
	    color: $font-1;
	    text-align: center;
	    .order__simply__tit {
			display:none;
		}
	}
}


.order-wrap {
	position:relative;

    margin: 0 auto;
	&:after {content:''; display:block; clear:both;}

	.order-title-line {		// 주문 - 타이틀과 내용 사이의  border line임.
		margin: 0 58px 0 48px;
	}

	.product-checkout {		//class 'order-tab'이 공통으로 쓰임.
		float:right;
		padding:0;
		border-top: 0;

		.header {
			padding: 29px 0;
			border-bottom: 1px solid #d1d1d1;
			.tit {
				font-size: 24px;
			}
			> i {
				right: 0;
			}
		}
		.body {
			padding: 0 0 32px;
		}

		.order-list {
			padding:0 0 20px 0;
			border-bottom:0;
		}

		.info-price	{
			padding-top: 15px;

			.item-price, .delivery-price, .sale-price, .total-price {
				display:inline-block;
				margin-top: 20px;
				&:first-child {margin-top:0;}

				> .label {
					display:inline-block;
					float:left;
				}

				> .price {
					display:inline-block;
					float:right;
				}
			}
			.total-price {
				margin-top: 30px;		// 결제페이지 총주문결제금액 부분
			}
		}

		.price {display:inline-block;}
	}

	.order-tab-wrap {
		&.collapse{						// 주문완료 페이지
			.order-tab{
				margin-top:0px;
				&:first-child{
				}
			}
			.header{
				border:none;
			}
		}
	}
	&.order-confimation {   // 주문완료 페이지 - 완료 안내문구 text 부분
		.uk-width-small-1-1 {
			line-height: 1.4;
		}
		.icon-order-check {
			display: inline-block;
			width:40px;
			height: 40px;
			margin-top: 30px;
			border-radius: 50%;
			border: 4px solid #111;
			box-sizing: border-box;
			> i {
				font-weight: bold;
				font-size: 26px;
				color: #7bba3c;
				line-height: 33px;

			}
		}
		h4 {
			margin-top: 30px;
			font-size: 16px;
			color: $font-1;
			font-weight: bold;
		}
	}
}

.order-tab {
	// 반응형 사이즈 처리 해야함
	border-top:1px solid $border-3;
	background-color: $bg-1;

	// margin-left: 48px;
	// margin-right: 64px;
	float: left;
	display: inline-block;
	width: 906px;
	width: -webkit-calc(100% - 424px);
	width: -moz-calc(100% - 424px);
	width: calc(100% - 424px);
	box-sizing: border-box;
	word-break: break-word;

	&:first-child {margin-top:0;}

	.header {
		position:relative;
		padding: 32px 25px;

		.tit {
			color: $title_checkout-color;
			display: inline;
			font-weight: bold;
			font-size: 16px;
			vertical-align: middle;
			.len{
				color: $primary-color;
			}
		}
		.login { font-size:12px; margin:0px 0px 0px 10px;}
		.preview {
			font-size:11px;
			color:$font-4;
			position: absolute;
			right:50px;
			bottom:27px;
			color: #2e2e2e;
		}
		&.inactive{
			.tit{
				font-weight: normal;
				color:$font-4;
			}
		}
		&.anonymous{
			padding: 30px 25px 24px;
			.preview {
				position: absolute;
				bottom: 27px;
			}
			.anonymous-desc{
				padding: 20px;
				margin-bottom: 48px;
				border: 1px solid #e5e5e5;
				word-break: keep-all;
				.join{display: inline-block;margin-top: 7px;text-decoration:underline;font-weight:bold;}
			}
		}
		> i {
			position:absolute;
			bottom: 28px;
			right:25px;
			font-size: 16px;
			font-weight: bold;
			margin-top:-7px;
			color: #666;
		}
	}

	.body {
		padding:0 25px 32px;
		font-size: 14px;

		// border-top:1px solid $border-3;
		&.nopadding {padding:20px 0;}

		.order-complete {
			font-size: 14px;

			/* SEAMLESS START */
			.store-buy {
				.tit {
					font-weight: 500;
					font-size: 12px;
					color: #000;

					&.type2 {
						margin-top: 30px;
						border-top: 1px solid #d8d8d8;
    					padding-top: 30px;
					}
				}
				.text-box {
					> * {
						display: block;
						margin-top: 3px;
					}
					> *:first-child {
						margin-top: 0;
						border-bottom: 1px solid #2e2e2e;
    					display: inline-block;
    					font-size: 16px;
					    color: #2e2e2e;
					    font-weight: 800;
					}
					.tit {
						margin-top: 20px;
					}
					a {
						color: #6d6d6d;
					}
				}
				.text-dec {
					line-height: 1.4;
					font-size: 12px;
				}
			}

			&.type2 {
				position: relative;

				.uk-width-7-10 {
					width: 100%;
				}
				.uk-width-3-10 {
					width: auto;
					position: absolute;
					right: 0;
				}
			}
			/* SEAMLESS END */
		}
		.order-field-container {
			// padding:10px 0 0px 20px;
		}
		.order-field-list{
			margin-bottom: 10px;
			// padding-left: 0;
			line-height: 1.6;
			.agree {
				font-size: 12px;
				.uk-text-right {
					padding-top:14px;
				}
			}
			.tit {
				margin-top: 15px;
				margin-bottom:7px;
				font-size: 14px;
			}

			/* 배송지 정보 */
			.delivery-addr-box {
				margin-top: 14px;
				word-break: break-word;
				.txt-name {
					font-size: 16px;
					color: $font-1;
					font-weight: bold;
				}
				.txt-addr {
					font-size: 14px;
					color: #2e2e2e;
				}
				.txt-phone {
					color: #2e2e2e;
				}
			}
			/* 배송지 정보 - 새로입력 하는 form */
			.new-addr-box {
				margin-left: 0;
				.btn_search {
					height: 50px;
					border-left:0;
					color: $font-1;
				}
				.order-field-list {
					padding-left:0;
				}
			}
			.shipping-address {
				margin-left: 0;
				.btn_search {
					height: 50px;
					border-left:0;
					color: $font-1;
				}
			}

			.input-textfield {		//할인/혜택 input form
				> input {
					height: 50px;
				}
				> label {
					top: 16px;
				}
			}
			.btn-submit {
				height: 50px;
			    border-left: 0;
			    color: #111111;
			}
			.input-form-group {
				margin-top: 10px;
			}
			// .agree{
			// 	.agree-content{
			// 		font-size:12px;	line-height:20px; margin-bottom: 5px;
			// 		> * {font-size: 12px; margin-bottom: 8px;}
			// 	}
			// }
			.info{
				display: block;
				margin-top: 6px;
				color: #808080;
				font-size: 13px;;
				line-height: 1.4;
			}

			.payment-method-list{
				.payment-method-item{
					max-width: 480px;
					margin-bottom: 10px;
					.payment-method-item-title{
						box-sizing: border-box;
						padding:17px 25px 16px;
						border:1px solid #d1d1d1;
						font-size:16px;
						cursor:pointer;
						text-align:center; //20180306 추가
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color:#111;
							background-color: #ebebeb;
							border:2px solid #111;
							position: relative;
							&:before{
								font-family: "nike" !important;
							    speak: none;
							    font-style: normal;
							    font-weight: normal;
							    font-variant: normal;
							    text-transform: none;
							    line-height: 1;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							    content: "\e011";
							    display: block;
							    font-size: 16px;
								width: 24px;
								height: 24px;
								text-align: center;
								position: absolute;
								top: 50%;
								right: 12px;
								transform: translateY(-50%);
							}
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}
					}

					&.pausable{
						.payment-method-item-title{
							cursor: default;
							background-color: #f5f5f5;
							opacity: 0.5;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							border-top: none;
							margin-bottom: -1px;
							opacity: 0.5;
						}
					}

				}
			}

			.input-checkbox {
				> {
					label {
						> .label {
							font-size: 14px;
						}
					}
				}
			}
			.select-box {
				margin-top: 24px;
				.select-head {
					font-size: 14px;
					padding: 16px 11px 16px 11px;
					border-radius: 3px;
				}
			}

			.dl-same{
			    width: 100%;
			    margin-top: 25px;
			    padding-bottom: 50px !important;
			    h6{
			    	font-weight: bold;
				    font-size: 15px;
				    vertical-align: middle;
				    margin-bottom: 30px;
				    color: #111111;
				    border-top: 1px solid #d1d1d1;
				    padding-top: 25px;
			    }
			    >div{
				    padding-bottom: 0;
				    position: relative;
				    >.input-radio{
				    	position: relative;
				    	margin-bottom: 25px !important;
						>ul{
							>li{
							    color: #111;
							    padding-left: 10px;
							    background: url(#{$contextPath}/assets/images/bl_dot.png) no-repeat left 9px;
							    line-height: 1.7;
							    letter-spacing: -0.5px;
							}    								
						}
						>label{
							>i{
							    margin-right: 0;
							    vertical-align: top;
							}
							>span{
							    vertical-align: top;
							    font-size: 14px;
							    font-weight: 500;
							    color: #111;
							    line-height: 14px;
								>span{
								    display: inline-block;
								    background-color: #000;
								    color: #fff;
								    padding: 3px 5px;
								    margin-left: 5px;
								    font-size: 11px;
								}
							}
						}
						&.disable{
							>*{
								z-index: -1 !important;
							}
							&:before{
								content: '';
								position: absolute;
								top: -10px;
								left: 0;
								width: 100%;
								height: calc(100% + 20px);
								background-color: #fff;
								opacity: 0.7;
								z-index: 9 !important;
							}
						}
				    }
				}
				>p{
					font-size: 11px;
				    color: #fe0000;					
				}
			}
			.link{
				text-decoration: underline;
				font-size: 15px;
				color: #111;
			}
		}

		/* 배송지 정보 탭 */
		.sort-tabs {
			.sort-item {
				height: 40px;
				padding-top: 10px;
				font-weight: bold;
				font-size: 15px;
				color: $font-1;
			}
		}
		.delivery-name {
			font-size: 16px;
			font-weight: bold;
			color: #111;
		}
		.delivery-addr {
			dd {
				letter-spacing: -0.3px;
				color: #2e2e2e;
			}
		}
		.delivery-phone {
			margin-top: 17px;
			dt,
			dd {
				display: inline-block;
			}
		}
		.btn-delivery-list {
			width: 102px;
			padding: 13px 0;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			color: $font-1;
		}

	}

	.footer {
		padding:0px 25px 50px;
		.info {/*float:left; width:40%;*/ font-size:12px;}
	}

	&.side {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.order-complete{
		position:relative;
		.header{
			padding:25px 40px 20px;
		}
		.body{
			padding:0px 40px 15px 40px;
			border-top:none;
			dd{
				margin-bottom:10px;
			}

			.shipping{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0px;
				}
			}
			.payment_method{
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					padding-bottom: 0px;
					margin-bottom: 0px;
					border-bottom:none;
				}
				dt{
					font-weight: normal;
					color: $font-3;
					min-width: 120px;
					float:left;
				}
				dd{

				}
			}
		}

		.modify {position:absolute; top:0; right:0;}
	}

	/* SEAMLESS START */
	.store-buy-infomation {
		.header {
			.txt-line {
				font-size: 12px;
				font-weight: 400;
				border-bottom: 1px solid #2e2e2e;
				color: #2e2e2e;
				margin-left: 20px;
			}
		}
		.data-tit {
			font-weight: 400;
			font-size: 12px;
			line-height: 22px;
			margin-bottom: 3px;

			.btn-link {
				color: #111;
				font-size: 12px;
				font-weight: bold;
				float: right;
				line-height: 1;
			}
		}
		.visit-info {
			padding: 0 40px 30px 40px;

			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
		.store-info {
			padding: 15px 40px 30px 40px;

			.store-name {
				font-size: 16px;
				font-weight: bold;
				color: #111;
				line-height: 22px;
				margin-top: 10px;
				margin-bottom: 10px;

				span {
					border-bottom: 1px solid #111;
				}
			}
			.addr-txt, .phone-txt {
				color: #6d6d6d;
				line-height: 22px;
				font-size: 14px;
			}
			.phone-txt {
				margin-top: 4px;
			}
		}
		.store-working-time {
			padding: 0 40px 30px 40px;

			ul {
				margin-top: 10px;

				li {
					color: #6d6d6d;
					font-size: 13px;
					line-height: 13px;
				}
			}
		}
		.text-dec {
			padding: 0 40px 30px 40px;
			line-height: 22px;
			font-size: 13px;
			color: #6d6d6d;
		}
		.uk-width-medium-1-2 {
			float: left;
			padding-left: 10px;

			&:first-child {
				padding-left: 0;
			}
		}
		&.type2 {
			.data-tit {
				font-weight: bold;
				color: #2e2e2e;
			}
			.visit-info {
				border-bottom: 1px solid #d8d8d8;
				padding-bottom: 24px;
				padding-left: 0;

				.visit-name {
					margin-top: 12px;
					color: #2e2e2e;
				}
			}
			.store-info {
				padding-top: 24px;
				padding-bottom: 16px;
				padding-left: 0;

				.store-name {
					text-decoration: underline;
				}
			}
			.store-working-time {
				padding-bottom: 16px;
				padding-left: 0;

				.data-tit {
					font-size: 12px;
					font-weight: 400;
				}
			}
			.text-dec {
				padding-left: 0;
			}
		}
	}
	/* SEAMLESS END */
}


.order-card {
	padding:0 29px;
	margin-top:40px;
	&:first-child {margin-top:0;}
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-checkout-selected {
	padding:0 29px;
	margin-top:40px;
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-total-price {
	padding:0 29px;
	margin-top:40px;
	border-top:1px;
	border-bottom:1px;
	border-style:solid;
	border-color: $border-3;
	background-color:$bg-4;

	strong {font-size:20px; color: $prd_sale-price; font-weight: normal;}
	.sale {color: $prd_total-price;}
}

.product-payment_radio {
	margin-left:0px;
	//&:after {content:''; display:block; clear:both;}
}


.checkout-status-wrap {
	float:right;
	font-size:$font-size-s;
	color:$font-4;

	> .status {
		position:relative;
		display:inline-block;
		padding-left:20px;
		width:57px;
		text-align:center;

		&.current {
			> .brz-icon-circle {border-color: $bg-dimmed; color: $font-6; background-color: $bg-dimmed;
				// font-weight:bold;
			}
			> .label {color: $font-1}
		}
		&:first-child {
			padding-left:0;
			> .icon {display:none;}
		}

		> .label {display:block; margin-top:10px;}
		> .icon {position:absolute;top:50%;left:5px;margin-top:-6px;}
	}
}

.gift-promoform{
	.label{
		font-size:$font-size-m;
		line-height: 36px;
	}
}

.giftCard-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 30px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
	.icon-delete  {position:absolute; right:0; top:2px; font-size: 24px;}
}

.customerCredit-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:9px 10px 8px 10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 30px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
	.icon-delete {position:absolute; right:0; top:2px; font-size: 24px;}
}
.promotion {
	.icon-delete {position:absolute; right:0; top:2px; font-size: 24px;}
}

/* 주문/결제 - 우측 주문상품 정보 */
.cart-order_list {
	margin-top: 30px;
	.order-list {
		position:relative;
		padding:30px 0 30px 30px;
		border-bottom:1px solid $border-2;
		&:after {content:""; display:block; clear:both;}

		.btn-delete {
			display:none;
			position:absolute;
			top:30px;
			right:20px;
			color: $font-4;
		}
		.image-wrap {
			float:left;
			overflow:hidden;
			width:110px;
			padding: 0;
			box-sizing: border-box;

			> img {display:block;}
		}

		.order-info {
			width:100%;
			display: table-cell;
			padding: 0 0 0 30px;
			vertical-align: top;
			font-size: 14px;
			line-height: 18px;

			.tit {
				overflow:hidden;
				display:inline-block;
				width: 87%;
				/* min-width:100%; */
				max-height:32px;
				line-height:14px;
				color: $prd_text-color;
				font-weight: bold;
			}

			.option, .qty {
				display:inline-block;
				min-width:100%;
				color: #2e2e2e;
			}

			.text-opt-wrap {
				display: inline-block;
				width: 100%;
				margin-top: 8px;
			}
		}
	}

	.price-wrap {
		display:inline-block;
		min-width:100%;
		margin-top:8px;

		.price {
			color: $prd_sale-price;
			font-weight: normal;
		}
		.sale-price {
			padding-right: 8px;
			font-weight: normal;
			text-decoration: line-through;
		}
		.retail-price {
			color: #FA5402;
			font-weight: normal;
		}
	}
}

/* 매장예약 서비스 내역 주문쪽 상품 - 사용 class (reservations-wrap, reservations-item)  */
	.reservations-title,
	.reservations-tit {
		display: none;		/* 일반주문 케이스 - 매장예약용 타이틀 비노출 처리  */
	}
	.contents {
		&.reservations-wrap {
			max-width: 850px;
			.checkout-status-wrap {
				display: none;
			}
			.contents-title {
				display:block;
				padding: 40px 0 30px;
			    font-size: 24px;
			    font-weight: bold;
			    letter-spacing: -0.2px;
			    color: #111;
			}
			.reservations-title {
				display:block;		/* 매장예약서비스 케이스 - 매장예약용 타이틀 노출 처리 */
				padding: 40px 0 30px;
			    font-size: 24px;
			    font-weight: bold;
			    letter-spacing: -0.2px;
			    color: #111;
			    text-align: center;
			}
			.reservations-item {  /* 매장예약 주문자 정보 부분 */
				.reservations-customer{
					.header {
						display:none;
					}
					.body {
						padding: 25px 25px 10px;
					}
				}
			}
		}
	}

	.order-wrap {
		#order-summary {
			&.reservation {
				.cart-order_list { border-bottom:0; }
				.info-price { display:none; }
			}
		}

		&.reservations-item {
			.product-checkout {
				width:100%;
				max-width:100%;
				float: none;
				.header {
					display: none;
				}
				.body {
					padding: 0 24px;
					border-top: 1px solid #d1d1d1;
				}

				#order-summary {
					padding: 0;
				}
				.info-price {
					display:none;
				}
			}
			.order-tab {
				width:100%;
				margin: 0;

				&.reservations-customer {
					.header {
						.tit {display:none}
						.reservations-tit {
							display:block;
							color: #111;
						    font-weight: bold;
						    font-size: 16px;
						    vertical-align: middle;
						}
						.preview {
							display: none;
						}
					}
				}
				&.reservations-infomations {
					.header {
						.tit {
							color: #111;
						    font-weight: bold;
						    font-size: 16px;
						    vertical-align: middle;
						}
						.preview {
							display: none;
						}
					}
					.body {
						.search-list {
							line-height: 1.6;
							.tit {
								display: inline-block;
								font-weight: bold;
								font-size: 15px;
								color: $font-1;
								text-decoration: underline;
								vertical-align: middle;
							}
							.addr-txt {
								margin-top:10px;
							}
							.btn-store-view {
								padding: 6px 10px;
							    margin-left: 10px;
							    height: 23px;
							}
						}
						.data-tit {
							display: block;
						    margin-top: 15px;
						    font-size: 12px;
						    color: #2e2e2e;
						}
						.text-dec {
							margin-top: 15px;
							font-size: 13px;
							color: #6d6d6d;
							line-height: 1.6;
						}
					}
				}
				&.reservations-order {			//	매장예약서비스 - 결제주문버튼 부분 (실제는 예약완료 버튼임)
					border: 0;
					.header {
						display: none
					}
					.footer {
						padding: 0 24px 20px;
					}
				}
			}
			.uk-grid-divider:empty {
				margin: 0;
				border: 0;
			}
		}

	}


//본인인증 YN 선택 팝업
.gb-layerPop{
    text-align: center;
    background: #fff;
    z-index: 1002;
	&.pay-certi{
		.title {
			padding: 55px 0 25px;
			border-bottom: 1px solid #e1e1e1;
		}
		.gb-layerCon {
			padding-top: 30px;
			p {
				display: block;
				-webkit-margin-before: 1em;
				-webkit-margin-after: 1em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
			}
		}
		.desc {
			font-size: 14px;
			font-weight: normal;
			color: #666;
		}
		.btn-area {
			padding: 0 80px;
			p {
				margin-top: 10px;
			}
			.global_btn_type1 {
				width: 100%;
			}
		}
	}
	.title{
		font-size: 24px;
		font-weight: 600;
		color: #111;
	}
	.gb-layerCon {
		padding: 55px 60px 50px;
	}
	.desc {
		margin-top: 13px;
		line-height: 1.5;
	}
	.btn-area {
		margin-top: 25px;
		.global_btn_type1 {
			margin: 0 3px;
			display: inline-block;
			padding: 10px;
			font-size: 15px;
			box-sizing: border-box;
			line-height: 20px;
			border-radius: 2px;
			background-color: #111;
			text-align: center;
			color: #fff;

			&.gray {
				color: #fff !important;
				border: 1px solid #999 !important;
				background: #999;
			}
		}
	}

}


.store-info, .pickup-info {
	margin-top:20px;
	.tit {margin-bottom:10px; font-weight:bold; font-size:14px; vertical-align:middle; color:#111;}
	.store-address {
		margin-bottom:20px;
		.tit {font-weight:bold; font-size:13px;}
		.address, .phonenum {display:inline-block; width:100%; margin-top:10px;}
	}
	.store-attribute {
		.tit {font-weight:bold; font-size:13px;}
	}
	.text-dec {padding-top:20px; line-height:18px; font-size:12px;}
	.btn-link.mini {height: 21px; font-size: 10px; padding: 6px 6px; margin-left:10px;}
	dd {
		margin-bottom: 10px;
	}
}


/* 2018.7.20 결제 ui수정 */
.order__tab__wrap {
	&--left {
		background-color: #ffffff;
		padding:0 40px 0 0;
		float: left;
		width: calc(100% - 384px);
		max-width:100%;
		box-sizing: border-box;
	}
	&--right {
		float: right;
		width:384px;
	}
	.order-tab {
		float:none;
		width:auto;
		display:block;
		border:0;
		overflow:hidden;
		max-width:none;
		margin:20px 0 0 0;
		&:first-child {
			margin:0;
		}
		.header {
			background:#111;
			padding:20px;
			z-index:1;
			&.anonymous {
				padding:20px;
			}
			.tit {
				position:relative;
				display:block;
				color:#fff;
				font-size:$font-size-l;
			}
			.order__tab__modify {
				display:none;
				position:absolute;
				right:0;
				top:50%;
				transform:translateY(-50%);
				color:#fff;
				text-decoration:underline;
				background:none;
				font-size:$font-size-sm;
				padding:20px;
			}
		}
		.body {
			padding:0;
			transition:opacity .3s ease, transform .2s ease;
			overflow:hidden;
			border:1px solid #e5e5e5;
			border-top:0;
			margin-top:0 !important;
		}
		.view {
			opacity:1;
			height:100%;
			//transform:translateY(0); 커스텀 미리보기 버튼 미작동 오류로 주석
		}
		.order__complete__view {
			opacity:0;
			height:0;
			transform:translateY(100%);
			font-size:$font-size-m;
			color:#333;
			line-height:24px;
			p {
				word-break:keep-all;
				a {
					text-decoration:underline;
					font-size:$font-size-sm;
					color:#666;
					&.join{
						font-weight:bold;
					}
				}
				.store-url {
					font-size:inherit;
					color:inherit;
				}
				.store-tel {
					font-size:inherit;
					color:inherit;
					text-decoration:none;
				}
				i {
					color: #e5e5e5;
					padding: 0 10px;
				}
			}
			.view-tit {
				display:block;
				font-size:$font-size-m;
				font-weight:bold;
				color:#333;
				margin:28px 0 18px 0;
				line-height:24px;
				&.first {
					margin:0 0 18px 0;
				}
			}
			.order__complete__info {
				margin:0px 0px 40px 0px;

				&.first {
					margin:40px 0px 40px 0px;
				}
				em {
					display:block;
					font-size:18px;
					color:$font-1;
					font-weight:bold;
					padding:0px 0px 14px 0px;
					margin:0px 0px 14px 0px;
					border-bottom:1px solid #e5e5e5;
				}
				&--table {
					p {
						span {
							display:table-cell;
							width:150px;
							color:$font-3;
						}
						strong {
							/*display:table-cell;*/
							font-weight:normal;
						}
					}
				}
			}
		}
		.order__form__view {
			padding:30px 20px;
		}
		&.order__complete {
			.header {
				.tit {
					padding:0 0 0 35px;
					&:before {
						display:block;
						content:'';
						position:absolute;
						width:17px;
						height:14px;
						left:0;
						top:50%;
						transform:translateY(-50%);
						background:url(/common/img/ico_filter_check_green.png) 0 0 no-repeat;
						background-size:100%;
					}
				}
				.order__tab__modify {
					display:block;
				}
				.tit-complete {
					padding:27px 0 27px 3px;
					font-size:13px;
					color:$font-3;
					line-height: 16px;
					strong {
						display:block;
						font-size:18px;
						color:#fff;
						margin-bottom:10px;
					}
				}
			}
			.view {
				opacity:0;
				height:0;
				transform:translateY(-100%);
			}
			.order__complete__view {
				opacity:1;
				height:100%;
				transform:translateY(0);
			}
		}
		.tit-desc {
			position:relative;
			display:inline-block;
			// vertical-align:middle;
			margin-left:25px;
			&:before {
				display:inline-block;
				content:'';
				position:absolute;
				left:-13px;
				top:50%;
				transform:translateY(-50%);
				width:1px;
				height:14px;
				background-color:#e5e5e5;
			}
		}
		.tit-right {
			position:absolute;
			right:0;
			top:0;
			a {
				text-decoration:underline;
				font-size:$font-size-sm;
				color:#666;
			}
			.input-checkbox {
				display:inline-block;
				vertical-align:middle;
			}
		}
	}
	.order-tab.product-checkout {
		.body {
			padding:20px;
		}
		.header {
			background: #e5e5e5;
			padding: 20px;
			z-index: 1;
			border-bottom:0;
			.tit {
				color:$font-1;
			}
		}
		.cart-order_list {
			margin:0;
			padding:0;
			border-top: 0;
			border-bottom:1px solid #e5e5e5;
		}
		.order-list {
			padding:20px 0;
			display:table;
			table-layout:fixed;
			width:100%;
			&:first-child {
				padding-top: 0;
			}
			.image-wrap {
				float:none;
				width:120px;
				display:table-cell;
				vertical-align:top;
				img {
					width:100%;
				}
			}
			.order-info {
				padding-left: 15px;
				.tit {
					display:block;
					font-size:inherit;
					color:$font-1;
					font-weight:bold;
					margin:0 0 15px 0;
					max-height: none;
					line-height: 18px;
				}
				.style-code,
				.qty {
					color: #666;
				}
				.opt {
					display:block;
					font-size:inherit;
					color:#666;
					line-height:20px;
				}
				.price-wrap {
					position: relative;
					margin-top:18px;
					.price-sale {
						display: inline-block;
						font-size:inherit;
						color: $font-3;
						text-decoration: line-through;
					}
					.price {
						strong {
							font-size:inherit;
							color: #fb5302;
							font-weight: normal;
							margin-left:8px;
						}
					}
					.discount-wrap{
						position: absolute;
						top: 0px;
						right: 0px;
						.per{
							font-size: 14px;
							color: #FF6600;
						}
					}
				}
			}
		}
		.price {
			display: inline-block;
			text-align:right;
			font-weight: normal;
		}
	}
}

.reservations-wrap {
	.order__tab__wrap--right {
		float: none;
		width: inherit;
	}
	.order__tab__wrap .order-tab .body {
		border:none;
		border-top: 1px solid #e5e5e5;
		padding:0 25px !important;
	}
	.order__tab__wrap .order-tab.product-checkout .cart-order_list {
		border:none;
		padding-top: 20px;
	}
}

.order__form {
	padding:30px 20px;
	&__header {
		position:relative;
		margin-top:30px;
		&--first {
			margin-top:0;
			padding-bottom:20px;
			border-bottom:1px solid #e5e5e5;
		}
		.tit {
			display:inline-block;
			font-weight:bold;
			font-size:$font-size-m;
			color:$font-1;
			vertical-align:middle;
			&--normal {
				font-weight:normal;
			}
		}
		&--border--top {
			border-top:1px solid #e5e5e5;
			padding-top:30px
		}
	}
	&__grid__wrap {
		font-size:0;
		&:after {
			display:block;
			content:'';
			clear:both;
		}
		.tit {
			font-size:$font-size-m;
			color:$font-1;
			margin-bottom:10px;
			&.bold {
				font-weight:bold;
			}
		}
		.input-textfield {
			&.error {
				> label {
					margin-top:-11px;
				}
			}
			> label {
				font-size: 12px;
				top: 50%;
				transform: translateY(-50%);
				width: calc(100% - 24px);
			}
		}
		.error-message,
		.server-error-message {
			font-size:$font-size-s;
			color:#f30000;
			margin:10px 0 0 0;
		}
		.grid__text {
			clear:both;
			font-size:$font-size-sm;
			line-height:20px;
			color:#666;
			padding-top:28px;
			a {
				color:#333;
				text-decoration:underline;
			}
			&--pt20 {
				padding-top:20px;
			}
			&--color3 {
				color:#333
			}
		}
	}
	&__grid--half,
	&__grid--full {
		display:inline-block;
		margin:20px 0 0 0;
		position:relative;
		vertical-align:top;
	}
	&__grid--half {
		width:calc(50% - 10px);
		&:nth-child(2n) {
			margin:20px 0 0 20px;
		}
	}
	&__grid--half--layerpopup {
		width:calc(50% - 30px);
		margin:0;
		padding:0 30px 0 0;
		position:relative;
		&:nth-child(2n) {
			padding:0 0 0 30px;
			margin:0;
			&:after {
				right:auto;
				left:-1px;
			}
		}
		&:after {
			display:block;
			content:'';
			position:absolute;
			right:0;
			top:0;
			width:1px;
			height:100%;
			background-color:#e5e5e5;
		}
	}
	&__grid--full {
		width:100%;
	}
	&__list {
		li {
			position:relative;
			padding-left:11px;
			font-size:$font-size-sm;
			color:#666;
			line-height:23px;
			&:before {
				display:block;
				content:'';
				position:absolute;
				left:0px;
				top:10px;
				width:3px;
				height:3px;
				background:url(/common/img/bul_list_black.png) 0 0 no-repeat;
				background-size:100%;
			}
		}
	}
	.order__finish__wrap {
		text-align:right;
		margin:30px 0 0;
		.btn-area {
			button {
				font-size:$font-size-m;
			}
		}
	}
	label .label {
		line-height:inherit;
		font-size:$font-size-m;
		color:#666;
	}
	.button-field {
		margin-bottom:10px;
		display:table;
		width:100%;
		.input-textfield {
			display:table-cell;
			padding-right:10px;
		}
		.btn_search {
			width:80px;
		}
	}
	.search-field {
		.result-wrap{
			border-bottom:1px solid #ddd;
			max-height:240px;
			&:after {
				display:none;
			}
		}
	}
	.select-box > select {
		height:40px;
		border:1px solid #ddd;
		font-size:$font-size-sm;
	}
	.payment-list {
		display:inline-block;
		min-width:237px;
		vertical-align:top;
		li {
			font-size:$font-size-m;
			color:#333;
			margin-top:18px;
			.input-radio {
				> label {
					position: relative;
					padding-left: 22px;
					display: inline-block;
					background: none;
					&:before {
						display: block;
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform:translateY(-50%);
						width: 12px;
						height: 12px;
						border: 1px solid #bbb;
						border-radius: 50%;
						transition: all .2s ease;
						background:#fff;
					}
					&:after {
						display:none;
					}
				}
				input:checked + label {
					&:before {
						background: #111;
						border: 1px solid #111;
					}
				}
				.pay__inner__wrap {
					display:none;
					margin:8px 0 0 20px;
					.select-box {
						width:150px;
					}
					.input-textfield {
						width:300px;
					}
				}
				input:checked + label + .pay__inner__wrap {
					display:block;
				}
			}
			.thumb {
				display:inline-block;
				vertical-align:middle;
				margin-right:10px;
				img {
					width:100%;
				}
			}
			&.pay-naverpay {
				.thumb {
					width:18px;
				}
			}
			&.pay-kakaopay {
				.thumb {
					width:18px;
				}
			}
			&.pay-payco {
				.thumb {
					width:49px;
				}
			}
			&.pay-samsungpay {
				.thumb {
					width:98px;
				}
			}
			.pay-tit {
				display:inline-block;
				vertical-align:middle;
			}
		}
	}
	&--payment {
		position:relative;
		padding:0;
		&:before {
			display:block;
			content:'';
			position:absolute;
			left:50%;
			top:0;
			transform:translateX(-50%);
			width:calc(100% - 40px);
			height:1px;
			background-color:#e5e5e5;
			z-index:-1;
		}
	}
	.payment__accordion {
		display:none;
		background-color:#f7f7f7;
		padding:30px 20px;
		margin-top:-1px;
		border-top:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
	}
	.order__store__location {
		display:table;
		width:100%;
		table-layout:fixed;
		padding-bottom:30px;
		border-bottom:1px solid #e5e5e5;
		.store-url {
			width:150px;
			display:table-cell;
			font-size:$font-size-sm;
			color:#333;
			padding-right:10px;
			text-decoration:underline;
		}
		p {
			display:table-cell;
			font-size:$font-size-sm;
			color:#333;
			line-height:20px;
			i {
				color:#e5e5e5;
				padding:0 10px;
			}
		}
	}
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	.order-tab {
		.body{
			//checkout 배송정보
			.order-field-list {
				padding-left:0 !important;
			}
		}
	}

	.order__tab__wrap{
		.order-tab{
			&.product-checkout{
				.order-list{
					.order-info{
						.price-wrap{
							.discount-wrap{
								position: inherit;
							}
						}
					}
				}
			}
		}
	}
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.order-checkout {
		margin-top: 0;
		.contents-title {
		}
	}

	.gb-layerPop{
		&.pay-certi{
			.btn-area {
				padding:0px;
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.order-checkout {
		padding: 40px 15px 80px;
		.contents-title {
			padding: 0 0 20px;
			font-size: 18px;
			.checkout-status-wrap {float:none; text-align:center;}
			.order__simply__tit {
				display:table;
				margin:20px auto 0;
				font-size:$font-size-m;
				font-weight:normal;
				span {
					color:$font-3;
				}
				strong {
					color:#fb5302;
					padding:0 10px;
					font-weight:normal;
				}
				button {
					display:table;
					margin:10px auto 0;
					font-size:$font-size-sm;
					color:#666;
					text-decoration:underline;
					background:none;
				}
			}
		}
	}
	//checkout
	.order-wrap {
		padding:0;
		.product-checkout {float:none; width:100%;}
		.order-tab-wrap {
			position: relative;
			//z-index: 2; custom fb jsy 관련 임시 삭제
			margin:12px 0 0;

			> .order-tab {
				width:100%;
				max-width: none;
				margin: 0;
				> .body {
					margin-top:-2px;
					background: #fff;
				}
			}
		}

		/* 매장예약 상품 주문쪽 모바일 */
		&.reservations-item {
			.order-tab-wrap {
				margin: 12px 0 0;
				.order-tab {
					padding: 0 24px;
					&.reservations-customer {
						padding: 0 24px;
						border-top-color: #e5e5e5;
					}
					&.reservations-infomations {
						padding: 0 24px;
						border-top-color: #e5e5e5;
					}
				}
			}
			.product-checkout {
				.body {
					padding: 0 24px;
					border-top-color: #e5e5e5;
					.cart-order_list {
						margin-top: 20px;
						.order-list {
							padding: 0;
						}
					}
				}
			}
		}
	}
	.contents{
		&.reservations-wrap {
			.reservations-title {
				padding: 30px 0 10px;
				font-size: 20px;
			}
		}
	}

	.order-tab {
		border-left:none;
		border-right: none;
		.header {
			padding: 32px 0;
			&.anonymous {
				padding: 30px 0 24px;
			}
			.preview {
				right: 30px;
			}
			> i {
				right:2px;
			}
		}
		.body {
			padding: 0 0 32px;
			.order-field-list{
				margin-bottom: 20px;
			}
			.order-field-container {
				padding: 0;
			}
		}
		.footer {
			padding: 0;
		}
	}

	/* 2018.07.20 결제디자인 변경 */
	.order__tab__wrap.order__tab__wrap--left,
	.order__tab__wrap.order__tab__wrap--right {
		margin:0 auto;
		float:none;
		width:100%;
		padding:0;
	}
	.order__tab__wrap.order__tab__wrap--right {
		opacity: 1;
		max-height:10000px;
		transition:opacity .3s ease, max-height .3s ease;
		margin:20px 0;
	}
	.toggleBtn.open {
		display:none;
	}
	.toggleBtn.close {
		display:block;
	}
	.order-summary-toggle {
		.toggleBtn.open {
			display:block;
		}
		.toggleBtn.close {
			display:none;
		}
		.order__tab__wrap--right {
			opacity: 0;
			max-height:0;
			margin:0;
		}
	}

}
