.update-profile {
    *{
        font-family: "Noto Sans KR", "Malgun Gothic", "MalgunGothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        word-break: keep-all;
    }
    strong{
        font-weight: 500;
    }
    .content-wrap {
        margin: 0 auto;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        max-width: 440px;
        .header {
            .ns-swoosh{
                display: block;
                padding: 0px 0 24px 0;
                font-size: 18px;
                color: #111;
            }
            .title {
                margin: 24px 0px 24px 0px;
                font-size: 28px;
                line-height: 32px;
                color: #111111;
                font-weight: 500;
                letter-spacing: -0.5px;
            }
        }
        .body{
            font-size: 16px;
            line-height: 24px;
        }
    }
    &.uk-modal{
        .header {
            .title{
                font-size: 24px;
            }
        }
    }
}
.uk-modal{
    &.update-profile {
        .content-wrap {
            padding: 0px 24px 10px;
        }
    }
}


@media (max-width: $breakpoint-medium) {
    .update-profile {
        .content-wrap {
            max-width: 100%;
            .header{
                .title{
                    font-size: 24px;
                }
            }
        }
    }
    .uk-modal{
        &.update-profile {
            .content-wrap {
                padding: 0px;
            }
        }
    }
}

.consent-description{
    font-size: 12px;
    color:#666;
    margin: 5px 10px 5px 5px;
    width: calc(100% - 10px);
    line-height: 20px;
    word-break: keep-all;
}