/*********************************************************************/
/* catalog 리스트

/*********************************************************************/
	* html {
		section {height:100%;}
	}

	.wrapper{
		min-height:100%;
		//margin:-108px 0 -270px;

		> section {
			//padding:108px 0 270px;
		}
	}

	.contents{
		@include contents-article;

		&.margin-mini {margin-top:10px;}
		&.margin-small {margin-top:30px;}
		&.margin-xsmall {margin-top:40px;}
		&.margin-medium {margin-top:60px;}
		&.margin-large {margin-top:80px;}
		&.margin-xlarge {margin-top:120px;}

		&.padding-mini {padding-top:10px;}
		&.padding-small {padding-top:30px;}
		&.padding-xsmall {padding-top:40px;}
		&.padding-medium {padding-top:60px;}
		&.padding-large {padding-top:80px;}
		&.padding-xlarge {padding-top:120px;}
	}

	.width-xlarge{
		width:100%;
		max-width:$width-xlarge;
		padding:0 15px;
		margin:0 auto;
		box-sizing:border-box;
	}
	.width-large{
		max-width:$width-large;
	}
	.width-medium{
		max-width:$width-medium;
	}
	.width-small{
		max-width:$width-small;
	}
	.width-max{
		max-width: 100%;
	}

	.height-max {
		height:100%;
	}

	.keyvisual-gallery {
		position:relative;
		overflow:hidden;

		.imgwrap {max-height:700px;}
		.info {
			position:absolute;
			bottom:25%;
			width:100%;

			.tit {@include info-setup; font-size:68px; color: $font-6;}
			.subtit {@include info-setup; margin-top:18px; color: $font-6;}
			.link {@include info-setup; margin-top:40px;}
		}
	}


	.list-type {
		margin-top:30px;

		&.latest {
			text-align:center;
			.product-item {
				display:inline-block;
				width:120px;
				margin-left:20px;

				&:first-child {margin-left:0;}
			}
		}
	}

	/* catalog list - only nike
	/*****************************************************************/
	.item-list-wrap {
		clear: both;
		margin-left: -18px; // hover시 라인 처리때문에 2px더함.
		//> li {
		//	float: left;
		//	width: 244px;
		//	height: 314px;
		//	padding-top: 13px;
		//}

		&:after {
			content:'';
			display: block;
			clear: both;
		}
		.color-chip-container { // 카테고리 컬러칩 dot모양으로 표현된 style : mobile에서 보여짐
			display: none;
			margin: -5px 0 0 -4px;
			.color-chip {
				width: 11px;
				height: 11px;
				margin: 7px 0 0 4px;
				border: 0;
				border-radius: 50%;
				box-sizing: border-box;
				&:hover {
					border: 0;
				}
			}
			.color-chip[title=white] {
				border: 1px solid #e8e8e8;
				&:hover {
					border: 1px solid #e8e8e8;
				}
			}
		}
	}

	/* catalog item - 리스트 개별 스타일 설정
	/*****************************************************************/
	.product-item {
		position:relative;
		margin:15px 0; // mc category slider 여백 정리

		.item-imgwrap {
			overflow:hidden;
			position:relative;
			width: 220px;
			height: 220px;
			margin: 0 auto;
			max-height:370px;
			// padding: 20px;
			background: #f6f6f6;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			> img {
				display:block;
				width: 100%;
				height: 100%;
				z-index:9;

				&.hover {
					position:absolute;
					display:none;
					top:0;
					left:0;
				}
			}

			a {
				img {
					display:block;
				}
			}

			.item-label_ico {
				position: absolute;
				left:0;
				top:0;
			}


			/* only member buy bedge */
			.member-only-badge {
				display: inline-block;
				border-radius: 15px;
				width: 28px;
				height: 28px;
				margin: 10px 0 0 10px;
				background: #fff;
				font-size: 18px;
				position:absolute;
				left: 0px;
				text-align: left;
				.member-lock {
					display: inline-block;
					color: #aa8375;
				}
			}

			/* category list item overtxt */
			.category-overlaytext {
			    display:table;
				position:absolute;
				top: 0;
				left: 0;
			    width:100%;
			    height:inherit;
			    min-height:327px;
				text-align:center;
			    vertical-align:middle;
				z-index:60;

				> .txt {
				    display:table-cell;
					height:100%;
				    vertical-align:middle;
				    font-size:20px;
				    font-weight:bold;
				    color: $font-6;
				}
			}
		}

		.member-only-overlay {
			display:none;		/* only member buy overlay - hovre시에만 보이도록 함. default는 안 보이도록처리. */
		}
		/* 상품 hover했을때 라인처리 */
		> .hover {
			position: relative;
			z-index: 11; 		/* hover시 하단상품에 가려지는 현상으로 z-index높임 */

			&:before {
				content:'';
				display: block;
				position: absolute;
			    height: 100%;
			    padding: 12px 0;
			    top: -12px;
			    left: -10px;
			    right: -10px;
				border: 1px solid #ccc;
				background-color: $bg-1;
			}

			/* only member buy overlay - hovre시에만 보이도록 함. (멤버 전용상품 hover했을때 white dim처리 되면서 텍스트와 나오는 부분 ) */
			.member-only-overlay {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: rgba(255,255,255, 0.9);
				.member-lock {
					position: absolute;
				    top: 14px;
				    left: 15px;
				    font-size: 18px;
					display: inline-block;
					color: #aa8375;
				}
				.member-only-txt {
					margin: 50px 10px 0 17px;
				    color: #aa8375;
				    font-weight: bold;
				    font-size: 14px;
				    line-height: 18px;
				}
			}
		}

		/* 1on1 bedge  - 상세페이지 */
		.icon-1on1-bedge {
			position: absolute;
			top:0;
			right: 3px;
			width: 50px;
		}

		/* catalog item - 상품 정보부분 (상품명, 가격, 마케팅 메세지, 옵션, 멤버전용문구) */
		.item-opt-box {
			position: relative;
			margin-top: 12px;
			//margin-left: 12px;  120180314삭제
			//margin-right: 12px;   120180314삭제
			margin-bottom: 4px;
			padding-bottom: 4px;
			border-bottom: 1px solid #ddd;
			text-align: left;
			min-height: 14px;
			.item-color-opt {
				//font-size: 13px;  20180308삭제
				//color: #111; 20180308삭제
				//20180627 삭제 font-size: 11px;
				//20180627 삭제 font-weight:bold;
				color: #222;
				font-size: 12px; //20180627
				letter-spacing:0;
				text-align: left; //20180627 추가
			}

			/* badge icon position */
			.item-label_ico {
				position:absolute;
				color: $font-1;
				z-index: 10;
				top:0;
				right:0;
			}
			.member-access-txt {
			    color: #aa8375;
			    font-size:$font-size-sm;
			}

			/* thumbnail 옵션 비노출 */
			.thumb-img-slider {
				display: none !important;
			}

			.brz-badge-container {
				float: right;
				&.text {
					[class^="brz-badge-"]{
						padding: 0;
					}
				}
			}

			/* 리뷰별점 - 마우스 오버에서만 표시됨 */
			.review-icon {
				display: none;
				position: relative;
    			width: 55px;
    			.icon-star5 {
    				font-size: 12px;
    				&.per {
    					position: absolute;
    					top:0;
    					left: 0;
	    				color: $primary-color;
	    				overflow: hidden;
	    			}
	    			&.star-default-bg {
	    				color: #e1e1e1;
	    			}
    			}

    			.review-cnt {
    				position: absolute;
				    top: 1px;
				    left: 55px;
				    font-size: 11px;
				    color: #666;
    			}
			}
		}

		.item-info {
			position: relative;
			margin-top: 4px;
			//padding: 0 12px; 20180320삭제
			color:$font-2;
			text-align: left;
			line-height: 1.4;

			.item-marketing {
				display:block;
				position:relative;
				color: $primary-sub-color;
				margin-bottom:5px;
			}

			.item-title {
				overflow:hidden;
				display:block;
				max-height:46px;
				//line-height:20px; 20180308삭제
				font-size:12px;
				font-weight: bold;
				//color: $prd_text-color;  20180308삭제
				color:#222;   //20180308추가
				letter-spacing:-0.2px; //20180308추가
				line-height:16px; //20180308추가
			}
			.item-location {
				//color: $prd_location-color;  20180308삭제
				font-size:12px;   //20180308추가
				color:#666;  //20180308추가
				letter-spacing:-0.2px; //20180308추가
				line-height:14px; //20180308추가
			}

			.item-price {
				display:block;
				position:relative;
				margin: 0 0 8px;
				//font-size: 13px;  20180308 삭제
				//color: #737373;    20180308 삭제
				font-size: 12px;   //20180308 추가
				color: #666;     //20180308 추가
				line-height:18px;     //20180308 추가
				letter-spacing:0;    //20180308 추가

				.item-price-sale {
					color: #737373;
					text-decoration:line-through;
					padding-right:3px;
				}

				.item-price-per {
					position:absolute;
					right:10px;
				}
				.disc-num {
					color: $primary-color;
				}

				> strong {font-weight:400; letter-spacing:0.3px;}
			}

			/* 카탈로그 별점 (상품리스트에 있는 별점) */
			.like {
				margin-bottom:8px;
				.per{
					position: absolute;
				    top: 0;
				    left: 0;
				    overflow: hidden;
				}
				.star-default-bg {
					color: #a5a5a5;
				}
			}

			.product-like {
				position:relative;
				display:block;
				margin-top:10px;
				&:after {content:""; display:block; clear:both;}
			}

			/* 상품 이미지 옵션 슬라이드 */
			.option-wrap {
				.input-radio {
					float: left;
				}
			}

		}

		/* thumbnail slider */
		.opt-colorway {
			position: relative;

			.colorway-list-box {
				overflow: hidden;
				max-width: 183px;
				height: 60px;
				margin-left: 9px;

				> ul {
					width:1200px;
					max-height: 60px;
				}

				li {
					float: left;
					overflow:hidden;
					width: 60px;
					height:60px;
					margin-left:1px;
					background-color: #f6f6f6;

					img {
						width: 100%;
					}
				}
			}

			/* thumb nail slider left btn */
			.btn-prev-small,
			.btn-next-small {
			    position: absolute;
			    top: 50%;
			    right: 0;
			    margin-top: -10px;
			    padding: 0 5px;
			    background: none;
			    border: 0;
			    font-size: 16px;
			    font-weight: bold;
			    color: #111;

			    span {
			    	font-weight: bold;
			    	color: $font-1;
			    }
			    &.right {
			    	right: -10px;

			    }
			    &.left {
					left: -10px;
			    }

			}
		}

		a:hover {
			.item-info {
				.item-title {
					color: $prd_text-color-over;
				}
			}
		}

		.btn-wrap {text-align:center;}

		.wish-btn {
			padding:10px;
			margin:0;
			border:0;
			background-color:transparent;
			color: $primary-color;
			cursor:pointer;
		}

		.item-marketing-price {
			// display:inline-block; 메세지 없을때 여백 때문에 제거
			color: $marketing-color;
			font-size:12px;
			padding: 0 12px;

			> a {
				color:inherit;
				display: inline-block;
				padding-bottom:8px;
			}
		}

		.action-hover {
			position:relative;
			display:block;
			width:100%;
			a{
				display: block;
			}
			.item-notify-me {
				position: absolute;
				left:10px;
				top:182px;
				z-index:100;
				padding: 6px;
				border: 1px solid #111;
				border-radius: 3px;
				background-color: transparent;
				font-size: 14px;
				font-weight: bold;
				color: #111;

				&:hover {
					border-color: #111;
					background-color: #111;
					color: #fff;
				}
			}

			.quick-btn {
				display:none;
				position:absolute;
				left:0;
				bottom:0;
				z-index:100;
			}

			&.over {
				.hover {display:block;}
				.quick-btn {display:block;}
			}
		}

		.wish-btn-wrap {
			position:absolute;
			top:0;
			right:0;
			z-index:98;

			.wish-btn {font-size:19px;}
		}

		.color-chip-container {		// 상품연관 컬러값 표시 (dot모양)
			display: none;
		}

	}



	//hover btn mobile none
	body {
		&.mobile {
			.product-item {
				.action-hover {
					&.over {
						.quick-btn {display:none;}
					}
				}
			}
		}
	}

	.product-box {
		.image-wrap {
			background: $primary-color;
			> img {width:100%;}
		}

		.tit {
			overflow:hidden;
			max-height:50px;
			margin-top:15px;
			line-height:25px;
			font-size:18px;

			color: $primary-color;
			&.center {text-align:center;}
		}

		.subtit {
			overflow:hidden;
			max-height:38px;
			margin-top:10px;
			line-height:20px;
			font-size:14px;
			color:$font-3;
		}
	}

	.product-banner {
		overflow:hidden;
		max-height:120px;
		background: $primary-color;

		img {
			width:100%;
		}
	}


	.bread-crumb {
		height:36px;
		border-bottom:1px solid $border-2;
		color:$font-4;
		font-size:12px;
		display: none;  //20180413 bread crumb 삭제
		a {font-size:12px;}
		.breadcrumb-divider {
			padding:0 4px;
			font-size:10px;
		}
		.crumb {
			max-width:$pd-max-width;
			margin:0 auto;
			padding:2px 0 0 54px;
			box-sizing: border-box;
			> .current{color:$font-4;}

			&.center {margin-top:50px; text-align:center;}
			&.left {text-align:left;}
			&.right {text-align:right;}
		}

		.like {
			margin-top:20px;
			text-align:center;
		}



		&.mypage {
			display: none;
			.crumb {text-align:left;}
		}
	}
	.category-title {
		.tit {
			margin:45px 0 50px;
			border:0;
			padding:0;

			// font-weight:bold;
			font-size:34px;
			text-align:center;
			color: $title_category-color;
		}
		&.gray {
			overflow:hidden;
			border-width:0;
			background-color:$bg-2;
			background-position:center;
		}
	}


	.dim {
		display:none;
		position:absolute;
		overflow:hidden;
		text-indent:-9999px;

		&.active {
			display:block;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: $bg-dimmed;
			opacity:0.5;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
			z-index:998; //mobile 카테고리 filter관련 z-index수정
		}

		&.module-start-before {
			display:block;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: $bg-dimmed;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			z-index:9999;
		}
	}


	.recent-wrap {
		margin:-16px 0 0 -16px;
		text-align:center;

		.recent-list {
			overflow:hidden;
			display:inline-block;
			width:180px;
			height:220px;
			border:1px solid $border-3;
			margin:16px 0 0 16px;
			> img {display:block; width:100%;}
		}
	}


	.search-result {
		min-height:300px;
		font-size: 12px;
		text-align:center;
		line-height:25px;
		color: $primary-color;

		&.less {
			//20180620 삭제 padding-top: 50px;
			padding-top: 15px;  //20180620
			font-size: 16px;
			color:$font-2;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			margin-top: -1px;
			h2 {
				//20180620 삭제 font-size: 30px;
				font-weight: bold;
				color: $font-1;
				font-size: 18px;
				margin: 35px 0 20px 0 !important;  //20180620 추가

				span {
					color: #fb5302;
				}  //20180625 추가
			}
			.search_less_txt_link {
				margin: 0 0 25px 0; //20180626 수정
				line-height: 14px; //20180626 추가
				a {
					text-decoration: underline;
					font-size: 13px;
					color:#666;
				}
			}
			.search_less_best_link {
				font-size: 14px;
				text-decoration: underline;
				margin-bottom: 7px;
			}
			.search_less_list {
				padding-bottom: 40px;
				li {
					font-size: 14px;
					color: #999;
				}
			}
		}
	}



	.popup-layer-wrap {
		display:none;
		position:absolute;
		top:-9999px;
		left:-9999px;
		width:100%;
		max-width:960px;
		margin-left:-480px;
		background-color: $bg-1;
		z-index:1000;

		&.open {display:block; top:100px; left:50%;}

		.layer-header {
			position:relative;

			> .title {margin-top:30px; text-align:center;
				// font-weight:bold;
				font-size:30px; color: $primary-color;}
			> .description {text-align:center; line-height:20px;}
			> .btn-delete {position:absolute; top:15px; right:15px;}
		}

		.layer-body {
			padding-top:0;
			text-align: left;
			> .input-textfield {width:100%;}
			> .input-checkbox {width:100%;}
		}
		.layer-footer {text-align: left; margin-top:10px;}
	}


	.gnb-search {
		display:none;
		position:absolute;
		top:50%;
		right:0;
		width:320px;
		margin-top: 25px;

		&.active {display:block;}
	}

	.address-wrap {
		font-size:13px;

		.zip-code {
			margin:0;
			.postcode6 {margin-left:5px; color:$font-3;}
		}

		.addr-type {
			display:inline-block;
			float:left;
			width:45px;
			padding-top:5px;
			font-size:11px;
			font-weight:normal;
			color:$font-4;
		}

		.addr {
			overflow:hidden;
			padding-top:5px;

			> a {
				color:$font-1;
				&:hover {text-decoration:underline;}
			}
		}

		dl {margin-top:5px;}
	}

	/* GNB 인기검색어, 최근검색어 리스트 ui */
	.etc-search-wrap {
		display: none;
		position:absolute;
		top: 40px;
		right: -32px;   //20180517추가
		width: 256px;   //20180517추가
		padding-top:15px;  //20180517추가
		overflow:auto;
		border-bottom: 1px solid  #e5e5e5;
		background:#fff;
		box-sizing: border-box;
		text-align: left;
		z-index:10000; 				// 검색어 border관련 z-index지정

		/* 20180517삭제
		left:0;
		width:100%;
		max-height: 350px;
		padding:0;
		border-width: 0 1px 1px 1px;
		border-color: #e1e1e1;
		background-color: $bg-1;
		z-index:1;
		*/
		ul {
			border-left: 1px solid #e5e5e5 !important;
			border-right: 1px solid #e5e5e5 !important;
			&.favorite-search {
				padding-bottom: 25px;
			}
		}
		.sort-tabs {
			width: 100%;
			box-sizing: border-box;
			overflow:hidden;
			li {
				float: left;
				width: 50%;
				&.uk-active {
					.sort-item {
						background-color: $bg-1;
						color: $primary-color;
						&:before {
							// border: 2px solid $primary-color;
							z-index: 2;
							border-bottom: 1px solid #fff;
						}
					}
				}
				&:last-child {
					.sort-item {
						&:before {
							border-right-width: 0;
						}
					}
				}
			}
			.sort-item {
				width: 100%;
				height: 33px;
				background-color: #f5f5f5;
				cursor: pointer;

				&:before {
					border-width: 0 1px 1px 1px;
					border-style: solid;
					border-color: #e1e1e1;
				    margin-left: -1px;
				}
			}
		}

		.tit {
			display: block;
			padding: 0 38px; //20180517추가
			font-size: 16px;  //20180518추가
			font-weight: bold;
			color: #111;
			padding-top:34px;
			border: 1px solid #e5e5e5;
			border-bottom: 0;
			/*20180517삭제
			font-size: 12px;
			color:$font-3;
			&:first-child {border:0;}
			*/
		}
		.uk-switcher {
			ul {
				padding-bottom: 25px;
				li {
					color: #111;
				}
			}
		}   //20180517추가
		.favorite-search,
		.latest-search {
			display: block !important;  //20180517추가
			&:after {content:''; display:block; clear:both;}
			.list {
				position: relative;
				/*
				&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
					display:none;
				}  //20180611 추가
				*/
				> a {
					display: inline-block;
				    width: 100%;
					/* 20180517 삭제
					padding: 6px 20px;
					font-size: 12px;
					color: #383838;
					*/
					padding: 20px 55px 0 38px;  //20180518추가
				    box-sizing: border-box;
					font-size: 14px;
				    color: #111;
				    font-weight: normal;
				    &:hover {background-color:$bg-1;}
					&:focus {background-color:$bg-1;}
				}
				.no {display:inline-block; width:25px; margin-right:10px; text-align:center; font-size:12px; color:$font-4;}
				.keyword {font-size:13px;}
				.btn-search-delete {
					position: absolute;
					top: 10px;
					right:38px;
					display: inline-block;
					width:10%;
					padding-top: 11px;
					text-align: right;
					cursor: pointer;
					font-size: 13px;
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					background-color:transparent;
					&:before {
						content: $icon-delete_thin;
					}
					/* 20180518 삭제
					top: 0;
					right: 15px;
					display: inline-block;
					font-size: 22px;
					color: #e3e3e3;
					*/
				}
			}
		}
		.search-wrap {
			list-style:none;
			//20180518삭제 padding: 15px 0 10px 0 !important;
			border:0;

			> li.less {
				/*20180518 삭제
				font-size: 12px;
				min-height:60px;
	    		text-align:center;
				line-height:5em;
				*/
				padding: 30px 38px 0;
				text-align: left;
			}
		}
		&.active {display:block;}

		/* 검색어 삭제, 저장 끄기 버튼 */
		.search-btn-box {
			//20180518 삭제 padding-bottom: 20px;
			display:block;
			position: absolute;
			top: 49px;
			right: 31px;
		    text-align: left;
			.btn-all-delete a,
			.btn-no-save {
				text-decoration: underline;
				padding: 0 0 0 0;
				font-size: 13px;
				color: #6d6d6d;
				cursor: pointer;
			}
			//.btn-all-delete {display:none;}

		}
	}




	.less-items{
		font-size: 14px;
		color: $font-3;
		padding: 50px 0px 25px 0px;
	}

	//layout min height
	.min-height_large {
		min-height:700px;
	}

	.like {
		display:inline-block;
		position:relative;
		font-size:12px;
		color: $primary-sub-color;
	}


	/* responsive */
	.mobile-only {display:none !important;}
	.pc-only {display:block !important;}
	.mobile-br {display:none !important;}

	/* loading */
	.loading {
		display:none;
		position:fixed;
		top:-99999px;
		left:-99999px;
		text-indent:-9999;
		width:0;
		height:0;
		z-index:9000;

		&.open {display:block; top:0; left:0; text-indenet:0; width:100%; height:100%;}

		.contents {
			width:250px;
			height:150px;
			position:absolute;
			top:50%;
			left:50%;
			margin:-75px 0 0 -125px;
			padding-top:40px;
			text-align:center;
			background-color: $bg-1;
			>img{
				display: inline-block !important;
				width:auto;
			}
		}
		.dim {background-color: $bg-dimmed; width: 100%; height: 100%; opacity: 0.1; display: block;}
		.comment {display:inline-block; width:100%; margin-top:20px;}
	}





	/* color chip */
	.color-chip-container {
		// padding:10px 0 20px; 카테고리 여백 관련하여 여백 제거
		margin:-5px 0 0 -5px;
		width:100%;

		.color-chip {
			display:block;
			float:left;
			width:15px;
			height:15px;
			margin:5px 0 0 5px;
			border:1px solid $color-chip-border;

			&:hover, &.active {border:1px solid $color-chip-border-over}
			img {vertical-align: top;}
		}

		&:after {content:''; display:block; clear:both;}
	}

	/* return policy */
	#return-guide {
		line-height: 1.6;
	}


	/* swiper 확장 */
	/* 20161025 이준호 확장 */
	/* key Visual extends */
	.keyvisual .bx-wrapper {
		margin-bottom:0;
	}
	.keyvisual .bx-controls {
		> .bx-pager {position:absolute; bottom:30px;}
	}

	/* category slide extends */
	.swipe-wrapper{
		//overflow:hidden;
		max-width:$max-width;
		position:relative;
		margin:0 auto;
	}

	.swipe-container{
		width:100%;

		.slide {
			float:left;
			width:270px;
			//margin-right:30px;
			> div{
				&.member-only{
					text-align:left;
				}
				box-sizing: border-box;
				padding:0 5px;
			}
		}
		&:after {content:''; display:block; clear:both;}
	}
	/* .bx-wrapper .product-item .item-imgwrap {margin:0 15px;}
	.bx-wrapper .product-item .item-info {padding:0 15px;}
	.bx-wrapper .product-item .item-marketing-price {padding:0 15px;}
	*/


	#crossSale-swiper-container {
		width: 100%;
		height: 100%;

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			/* Center slide text vertically */
			/*
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			*/
			display: block;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}

		.swiper-pagination-bullets {
			bottom:20px;
			left:0;
			width:100%;

			.swiper-pagination-bullet-active {
				background-color:#111;
			}
		}

		&.swipe-container{
			.slide{
				> div{
					padding:0 10px;
				}
			}
		}
	}

	@media (max-width:$breakpoint-small) {
		.width-xlarge.related-items{
			padding: 0 !important;
		}
		.related-items {
			margin:40px 0;
			.contents-title {
				padding-left: 28px;
				text-align: left !important;
			}
			.category-slider {
				overflow: hidden;
				#crossSale-swiper-container {
					overflow: visible;
					padding: 0;
					.swiper-slide {
						height: 100%;
						.item-imgwrap {
							//min-height: 327px;
						}
						> div {
							padding: 0 1px;
						} //20180626 추가
						.item-opt-box {
							width: 220px;
							margin-left:27px;
							#item-color-opt {
								text-align: left;
								.item-color-opt {
									font-weight: normal;
									color: #111;
									font-size: 12px;
								}
							}
						}//2018062 추가
						.item-info {
							width: 220px;
							margin-left:27px;
							padding-left: 0;
							.item-title {
								color: #111;
								font-weight: bold;
							}
						}//2018062 추가

						//리뷰 슬라이딩 언더라인 사이즈
						.slide_box_under_size{
							width: 100%;
							margin-left: 0;
						}

						.slide_box_line{
							margin: 0 auto;
						}
					}
					.swiper-pagination {
						display: none;
					}
				}
			}
		}
	}


	/* modal extend */
	#common-modal, #common-modal-large { z-index:990; }

	/* category slide */
	.category-slider {
		padding: 0px;
		.swipe-container {
			.product-item {
				width:auto; 	// 연관상품 width해제 (기존 270 fix)
			}
		}
		.bxslider-controls{
			display: none;
		}
		&.custom-controller-type-1{
			.bxslider-controls{
				display: block;
				.btn-prev {
					position: absolute;
				    left: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 46px;
				    width: 46px;
				    background: url('#{$contextPath}/assets/images/btn_slider_type1.png') no-repeat left top;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
				    &:hover {
					    background-color: #f1f1f1
					}
			    }
				.btn-next {
				    position: absolute;
				    right: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 46px;
				    width: 46px;
				    background: url('#{$contextPath}/assets/images/btn_slider_type1.png') no-repeat left -46px;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
					&:hover {
				    	background-color: #f1f1f1;
					}
				}
			}
		}

		&.custom-controller-type-2{
			.bxslider-controls{
				display: block;
				.btn-prev {
					position: absolute;
				    left: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 40px;
	    			width: 40px;
				    background: url('#{$contextPath}/assets/images/btn_slider_type2.png') no-repeat left top;
	    			background-color: #eee;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
				    &:hover {
					    background-color: #d5d5d5
					}
			    }
				.btn-next {
				    position: absolute;
				    right: -46px;
				    top: 107px;
				    display: inline-block;
				    height: 40px;
	    			width: 40px;
				    background: url('#{$contextPath}/assets/images/btn_slider_type2.png') no-repeat left top;
	    			background-color: #eee;
				    background-position:right;
				    border-radius: 50%;
				    font-size: 0;
				    color: #c6c6c6;
				    text-align: center;
					&:hover {
				    	background-color: #d5d5d5;
					}
				}
			}
		}

		/* 상품상세 추천상품 20180207 추가*/
		.pagination-type {
			.product-item {
				> .hover  {
					&:before {
						 left: 0;
 						 right: 0;
					}
				}
			}
		}

	}


	.text-box{
		line-height: 1.6;
	}

	/*  SC ITEM CONTENT STYLES */
	.redactor-editor div,
	.redactor-editor p,
	.redactor-editor ul,
	.redactor-editor ol,
	.redactor-editor table,
	.redactor-editor dl,
	.redactor-editor blockquote,
	.redactor-editor pre {
	  font-size: 14px;
	  line-height: 1.6em;
	}
	.redactor-editor a {
	  color: #15c;
	  text-decoration: underline;
	}
	.redactor-editor object,
	.redactor-editor embed,
	.redactor-editor video,
	.redactor-editor img {
	  max-width: 100%;
	  width: auto;
	}
	.redactor-editor video,
	.redactor-editor img {
	  height: auto;
	}
	.redactor-editor div,
	.redactor-editor p,
	.redactor-editor ul,
	.redactor-editor ol,
	.redactor-editor table,
	.redactor-editor dl,
	.redactor-editor figure,
	.redactor-editor blockquote,
	.redactor-editor pre {
	  margin: 0;
	  margin-bottom: 15px;
	  border: none;
	  background: none;
	  box-shadow: none;
	}
	.redactor-editor iframe,
	.redactor-editor object,
	.redactor-editor hr {
	  margin-bottom: 15px;
	}
	.redactor-editor blockquote {
	  margin-left: 1.6em !important;
	  padding-left: 0;
	  color: #777;
	  font-style: italic;
	}
	.redactor-editor ul,
	.redactor-editor ol {
	  padding-left: 2em;
	}
	.redactor-editor ul ul,
	.redactor-editor ol ol,
	.redactor-editor ul ol,
	.redactor-editor ol ul {
	  margin: 2px;
	  padding: 0;
	  padding-left: 2em;
	  border: none;
	}
	.redactor-editor ol ol li {
	  list-style-type: lower-alpha;
	}
	.redactor-editor ol ol ol li {
	  list-style-type: lower-roman;
	}
	.redactor-editor dl dt {
	  font-weight: bold;
	}
	.redactor-editor dd {
	  margin-left: 1em;
	}
	.redactor-editor table {
	  border-collapse: collapse;
	  font-size: 1em;
	  width: 100%;
	}
	.redactor-editor table td,
	.redactor-editor table th {
	  padding: 5px;
	  border: 1px solid #ddd;
	  vertical-align: top;
	}
	.redactor-editor table thead td,
	.redactor-editor table th {
	  font-weight: bold;
	  border-bottom-color: #888;
	}
	.redactor-editor code {
	  background-color: #d8d7d7;
	}
	.redactor-editor pre {
	  overflow: auto;
	  padding: 1em;
	  border: 1px solid #ddd;
	  border-radius: 3px;
	  background: #f8f8f8;
	  white-space: pre;
	  font-size: 90%;
	}
	.redactor-editor hr {
	  display: block;
	  height: 1px;
	  border: 0;
	  border-top: 1px solid #ccc;
	}
	.redactor-editor h1,
	.redactor-editor h2,
	.redactor-editor h3,
	.redactor-editor h4,
	.redactor-editor h5,
	.redactor-editor h6 {
	  font-weight: bold;
	  color: #000;
	  padding: 0;
	  background: none;
	  text-rendering: optimizeLegibility;
	  margin: 0 0 .5em 0;
	}
	.redactor-editor h1,
	.redactor-editor h2,
	.redactor-editor h3,
	.redactor-editor h4 {
	  line-height: 1.3;
	}
	.redactor-editor h1 {
	  font-size: 36px;
	}
	.redactor-editor h2 {
	  font-size: 24px;
	  margin-bottom: .7em;
	}
	.redactor-editor h3 {
	  font-size: 21px;
	}
	.redactor-editor h4 {
	  font-size: 18px;
	}
	.redactor-editor h5 {
	  font-size: 16px;
	}
	.redactor-editor h6 {
	  font-size: 12px;
	  text-transform: uppercase;
	}

	// 에디터로 동영상 넣었을 때 반응형 처리
	.redactor-editor .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
	.redactor-editor .video-container iframe,
	.redactor-editor .video-container object,
	.redactor-editor .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}


	// 이벤트
	.pt_event{
		.top-content{
			padding:20px 0px;
			width: 100%;
			&.border-bottom{
				border-bottom:1px solid #dfdfdf;
			}

			>div{
				display: table;
				width: 100%;
			}

			.active-date{
				color:$font-3;
				display:table-cell;
				vertical-align: middle;
			}
			.addthis{
				display:table-cell;
				text-align: right;
			}
		}
	}



	/* instagram swipe type */
	.instagram-container {
		padding-top:30px;

		.swipe-instagram-container {
			.slide {
				> div {padding:10px 0;}
			}

			.instagram-img {
				overflow:hidden;
				max-height:250px;
			}

			.instagram-info {
				.user-img {
					float:left;
					display:inline-block;
					width:40px;
					height:40px;
					padding-right:10px;

					> img {width:100%;}
				}

				.info {
					.name {
						display:block;
						overflow:hidden;
						padding:5px 0;
					}
					.hashtag-container {
						overflow:hidden;
						display:block;
						height:18px;
						line-height:18px;
					}
				}
			}

			.bx-controls {margin-top:20px;}
		}
	}




	/* media query */
	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {
		.category-slider {
			.swipe-container {
				.slide {
					width: calc(50% - 25px) !important;
				}
			}
		}
	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		// .category-slider { padding: 0 5px; }
		.contents {
			&.margin-xsmall {margin-top:0;}
			&.margin-small {margin-top:0;}

			// 모바일에서 좌우 여백 처리하기 위한 클래스
			.content-box{
				padding-left:20px;
				padding-right:20px;
			}

		}
		.bread-crumb {
			display:none;
		}

		.mobile-only {display:block !important;}
		.pc-only {display:none !important;}
		.mobile-br {display:block !important;}

		.category-title {
			.tit {
				font-size:20px;
				margin:30px 0;
			}
			&.gray {
				background-color: $bg-1;
				border-width:1px 0 1px 0;
				border-style:solid;
				border-color: $border-2;
			}
		}

		.etc-search-wrap {
			border-width:0 0 1px 0;
			border-style:solid;
			border-color:$border-3;
		}

		.gnb-search {
			top:56px;
			width:100%;
			margin-top:0;
			.search-field {
				.input-textfield {
					> label {left:40px;}
					> input {
						padding-left:40px;
					}
				}
				.btn-search-mobile {
					top:-2px;
					left:0;
				}
			}
		}

		/* cagegory */
		/*
		.pt_category .contents.related-items {display:none;}
		*/
		/* mc category list 여백 처리 - only nike 용 */
		.item-list-wrap {
			padding: 0;
			.color-chip-container {
				display: block;
			}
			.product-item {
				margin-top: 0;
				padding: 0 1px;

				.bannerImag {
					display: block;
					height: 100%;
					text-align: center;
					overflow: hidden;

					img {
						height: 90%;
						max-width: initial;
						display: inline-block;
						position: relative;
						// left: -10%;
					}
				}

				>div {
					position:relative;
				}
				.action-hover {
					position: static;

					.item-notify-me {
						top:143px;
					}
				}
				.icon-1on1-bedge {
					right: 0;
					width: 40px;
				}
				.item-opt-box {
					margin-top: 8px;
					border-bottom: 0;
					position: static;
					.item-color-opt {
						display: none;
					}
					.item-label_ico {
						top:auto;
						bottom:-1px;
						right: 12px;
					}
					.member-access-txt {
						top:auto;
						bottom:-1px;
						right: 12px;
					}
				}
			}

			.product-item-li {
				padding: 0 5px;			
			}	
		}

		/* mc 마이페이지 탭 여백 제거 처리 */
		.customer-contents{
			.tab-filter-wrapper {
				margin-bottom:0;
			}
		}

		.pt_event{
			.top-content{
				padding:10px;
				.active-date{
					display:block;
					text-align: center;
				}
				.addthis{
					display:block;
					text-align: center;
				}
			}
		}

		.category-slider {
			.swipe-container {
				.slide {
					//max-width: calc(25% - 8px);
					//margin-right: 16px;
				}
				.swiper-pagination{
					display: none;
				}
			}
		}
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.product-noti-content {
			padding: 0 16px;
		}
		.product-noti-content {
			.noti-value {
				min-height: auto;
				color: $font-3;
				&:before {
					padding-top: 5px;
				}
			}
		}

		.etc-search-wrap {			// 검색어 입력시 화면 (최근검색어, 인기 검색어)
			top: 60px;
			max-height: none;
			border: 0;
			padding: 0 0 20px 0 !important;
			width: 100%; //20180517추가
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			.tit {
				padding: 40px 25px 3px 25px;
				font-size: 16px;
				/*20180518 삭제 padding: 16px 0;
				font-size: 14px;*/
				border-width: 1px 0 0 0;
				border-top: 1px solid #e5e5e5;
				color: #666;
				&:first-child {
					border: 0;
				}
			}
			.sort-tabs {
				.sort-item {
					height: 48px;
				}
			}

			.uk-switcher {
				border: 0;
				ul {
					border: 0 !important;
					li.list {
						color: #111;
						&.less {
							color: #111;
							text-align: center;
							font-size: 14px;
						}
						a {
							padding: 12px 25px 13px 25px;
						}
					}
				}
				.latest-search {
					padding-bottom: 15px !important;
					.btn-search-delete {
						padding-right: 25px !important;
						top: 2px;
						color: #000;
						font-weight: bold;
					}
				}
				.favorite-search {
					padding-bottom: 40px !important;
				}
			}  //20180518 추가

			.favorite-search,
			.latest-search {
				.list {
					//20180518 삭제 border-bottom: 1px solid #e1e1e1;

					> a {
						padding: 15px 20px 15px 25px;
						font-size: 14px;
					}
					.btn-search-delete{
						padding: 12px 15px;
    					right: 0;
					}
				}
			}
			.search-wrap {
				padding: 0 0 40px 0 !important;
			}
			.search-btn-box {
				top: 40px;
				right:24px;
			}  //20180518 추가
		}

		/* mc category list 여백 처리 */
		.item-list-wrap {
			padding: 0;
			> li {
				width: 50%;
				padding: 0 1px;
			}
		}

		/* mc catalog item - 리스트 개별 스타일 설정 */
		.product-item {
			.hover {
				&:before {
					border: 0;
				}
			}
			.item-imgwrap {
				width: auto;
				height: auto;
			}
			.item-info {
				padding: 0 10px;  //20180321추가
				.item-title {
					line-height: 16px;
					font-weight:normal;  //20180314 추가
					letter-spacing:-0.1px;  //20180314 추가
				}
				.item-location {
					margin-top:6px;  //20180314 추가
					span {
						color:#999;  //20180314 추가
					}
				}
				.item-price {
					//margin-top: 7px;   20180314삭제
					//color: #a5a5a5; 20180314삭제
					font-size: 12px;
					margin-top: 6px;   //20180314 추가
					color: #999;  //20180314 추가
					line-height: 14px;  //20180314 추가
					.item-price-sale {
						color: #9b9b9b;
					}
				}
			}
		}

		.category-slider {
			//max-width: 468px;
			margin: 0 auto;
			overflow: hidden;
			.swipe-container {
				.slide {
					max-width: none;
				}
			}
		}

		.search-result {
			&.less {
				padding: 15px 20px 20px;
				.search_less_list {
					li {
						font-size: 12px;
					}
				}
			}
		} //20180627 추가


	}
	.not-available {
		// background-color: $bg-3;
		max-width: $pd-max-width;
		padding-bottom:65px;
		margin: 0 auto 0;
		.contents-title {
			padding:40px 58px 20px 48px;
				.title{
					font-size: 24px;
				    font-weight: bold;
				    letter-spacing: -0.2px;
				    color: $font-1;
				}
				.summary{
					font-size: 17px;
					margin-top: 10px;
				}
		}
		.product-item {
			.item-imgwrap{width: auto; height: auto;}
		}
	}


	.quantity-wrap {
		.lyt {
			display: block;
			position: relative;
			> span {
				display: block;
			}

			.uk-margin-mini-right {
				margin-top: 8px;
				display: block;
				font-weight: bold;
			}

			.select-box {
				position: absolute;
				left: 90px;
				top: 0;
			}

			.uk-margin-mini-left {
				display:block;
				margin-top: 6px;
				margin-left:0 !important;
			}
		}
	}
