/* table  */
.detail-table {
	margin:16px 0;
	caption {
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	table {
		width:100%;
		table-layout:fixed;
		th {
			color: #2e2e2e;
			font-size: 12px;
			font-weight:bold;
			background:#f7f7f7;
			text-align:center;
			border:1px solid #e3e3e3;
			padding:15px 2px;
			line-height: 1.33;
		}
		td, tbody th {
			padding:14px 2px;
			background: #fff;
			color:#666;
			font-size: 12px;
			text-align:center;
			border:1px solid #e3e3e3;
			font-weight: normal;
		}
	}
}


/* customer title */
.customer-title {
	padding: 48px 0 0;

	.tit {
		max-width:$max-width;
		margin:0 auto;

		// font-weight:bold;
		font-size:26px;
		text-align:center;
		color: $title_category-color;
		text-align:left;
	}
	&.gray {
		background-color:$bg-2;
		border-width:0;
		overflow:hidden;
		display:none;  // 고객센터 타이틀 비노출
	}
}

/* customer menu */
.customer-aside {
	width: 220px;
	margin-right: 45px;
	margin-bottom: 20px;
	float: left;
	.term-lnb {
		display:none;	// 이용약관 lnb쪽 숨김
	}
	.customer-name {
		position: relative;
		margin-top: 20px;
		padding: 20px 0;
		font-size: 14px;
		color: $font-0;
		border-top: 1px solid #e1e1e1;
		.icon-user {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right:4px;
			border-radius: 50%;
			background-color: #e5e5e5;
			line-height: 24px;
			font-size: 17px;
			text-align: center;

		}
		.customer-rank {
			width: 39px;
			height: 24px;
			border-radius: 2px;
			background: #111;
			color: #fff;
			text-align: center;
			line-height: 24px;
			position: absolute;
			top: 18px;
			right: 0;
			font-size: 12px;
		}
	}
	.btn-qrcode {
		position: absolute;
		right: 10px;
		top: 18px;
		border:2px solid #000;
	}
	/* 2018.2.23 주문상품 진행상황 안내 문구 */
	.customer-order-notice {
		margin-top: -10px;
		border-bottom: 1px solid #dedfda;
		padding: 0 0 20px 0;
		line-height: 16px;
		.customer-order-tit {
			color:#fa5400;
			font-weight: bold;
		}
		.customer-order-txt {
			margin-top:5px;
			font-size:11px;
		}
	}
	.customer-mile {
		position:relative;
		height: 48px;
		margin-bottom: -1px;
		font-size: 14px;
		color: #111;
		background-color: #f4f4f4;
		border-top: 1px solid #e1e1e1;

		.txt {
			float: left;
			margin-top: 15px;
			margin-left: 16px;
		}
		.mile {
			float: right;
			margin-top: 10px;
			margin-right: 16px;
			.icon-arrow {
				padding-left: 10px;
				font-size: 24px;
				vertical-align:middle;
			}
		}
	}

	.lnb {
		box-sizing:border-box;
		border-top:1px solid $border-2;
		padding: 15px 0;
		margin-top:-1px;

		&:first-child {
			margin-top:0;
			border-top: 0;
		}

		> a {
			width:100%;
			color: $font-1;
			font-size: 14px;
			//margin-top:10px;
			//padding:8px 0;
			//font-weight:bold;
			&:first-child {margin-top:0;}
		}

		.title {
			padding:0;
			margin:5px 0 10px;
			// font-weight:bold;
			font-size:15px;
		}

		.twodepth-lnb {
			.list {
				padding:8px 0;
				font-size:12px;
				color: $font-2;
			}
		}
	}

	i {display:none;}
	&.mypage {
		.title {
			color: #000;
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			margin: 0;
		}
		.lnb {
			padding: 20px 0;
			&:last-child{
				border-bottom:1px solid #dedfda;
				padding-bottom: 30px;
			}
			> a {
				padding: 8px 0 0 0;
				font-size: 14px;
				color: #2e2e2e;
				font-weight: normal;
				line-height: 24px;
			}
			.phone {
				margin-top:12px;
				padding-bottom: 6px;
				font-size: 24px;
			}
			.txt {
				color: #111;
				line-height: 1.5;
				font-size: 14px;
			}
		}
	}
}

.customer-order .uk-sticky-placeholder {
	height:0 !important;
}

.customer-contents {
	float: left;
	width: calc(100% - 265px);
	margin-top:-24px;

	.title {
		position:relative;
		margin:0 0 20px 0;
		padding:0;
		border:0;
		width: 100%;
		> .label {
			font-size: 23px;
			color: $font-1;
			font-weight: bold;
		}
		.sub-label {
			float: right;
			font-size: 12px;
			margin-top: 7px;
			letter-spacing: -0.1px;
		}

		> .btn-link {float:right;}

		> .info{
			font-size:$font-size-s;
			display: block;
			padding-top:10px;
			line-height: 1.5;
		}
		> .right-container{
			position:absolute;
			bottom:0px;
			right:0px;
		}
		> strong {
			font-size: 16px;
			font-weight: normal;
		}
		&:after {content:""; display:block; clear:both;}
	}

	> * {margin-bottom:40px;}

	> .customer-notice {margin-bottom: 0;}
	> .customer-faq {margin-bottom: 0;}
	> .tab-filter-wrapper {margin-bottom: 20px;}

	.order-filter{
		padding:14px 25px;
		border:1px solid $border-2;
		background-color: $bg-2;
		margin-bottom: 20px;
		position:relative;

		.date{
			font-size:$font-size-s;
		}
		/*
		.date-range{
			height:30px;
		}
		*/
		>.uk-grid {
			margin-top: 0;
		}
		.uk-accordion {
			height:0;
		}
		.uk-accordion-content {
			padding: 0;
		}
		.uk-accordion-title {
			position: absolute;
			top: 13px;
			right: 10px;
			margin-bottom: 0;
			padding: 5px 15px;
			background: 0;
			.i-plus:after {
				font-family: "nike"!important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\e037";
				float: right;
				display: block;
				font-size: 16px;
				margin-top: 4px
			}
			&.uk-active {
				.i-plus:after {
					font-family: "nike"!important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "\e02d";
					float: right;
					display: block;
					font-size: 16px;
					margin-top: 4px
				}
			}
		}
	}

	.return-btn-container{
		padding:10px;
		z-index: 1;
		width: 100%;
		background-color: #fff;
		box-sizing:border-box;
	}

	/* 고객센터 a/s 20180710 추가  */
	&.pt_afterservice {
		/* as 접수 안내  */
		.asinfo_layout {
			padding: 24px;
			> p {
				font-size:14px;
				line-height: 24px;
				letter-spacing: -0.3px;
				color: #333;
			}
			/* 접수 프로세스  */
			.as-step-wrap {
				margin-top:28px;
				ol {
					&:after {
						display:block;
						content:'';
						clear:both;
					}
				}
				li {
					float:left;
					width:25%;
					&:first-child {
						strong {
							&:after {
								display:none;
							}
						}
					}
					strong {
						position:relative;
						display:block;
						font-size:17px;
						color:$font-0;
						text-align:left;
						padding:0 5px 9px 40px;
						box-sizing:border-box;
						border-bottom:2px solid #f6f6f6;
						&:after {
							display:block;
							content:'';
							position:absolute;
							left:0;
							bottom:-8px;
							width:2px;
							height:15px;
							background-color:#e5e5e5;
						}
					}
					span {
						display:block;
						font-size:$font-size-m;
						color:#666;
						line-height:19px;
						text-align:left;
						padding:11px 5px 5px 40px;
						box-sizing:border-box;
					}
				}
			}
		}
		/* title  */
		.title {
			margin-bottom: 23px;
			&:first-child {
				margin-top: 0;
			}
		}

		.s-title {
			font-weight: bold;
			color: #000;
		}

		.con_title {
			display:block;
			margin:48px 0 10px 0;
			&:first-child {
				margin-top: 0;
			}
			&.big_dot {
				.label {
					padding-left: 10px;
					background: url(#{$contextPath}/assets/images/bl_dot.png) no-repeat left 11px;
				}
			}
			.label {
				font-size:16px;
				color:$font-1;
				font-weight:bold;
				line-height: 22px;
			}
		}
		/* as 신청, 진행현황 조회 주문 리스트 공통 */
		.customer-order {
			.order-list {
				.header {
					.date {
						margin-right: 35px;
					}
					.order-code, .total-price {
						font-size: 15px;
						color: #666;
					}

					.btn-order-detail {
						font-size: 15px;
						color: #111;
					}
				}
			}
			.order-item-wrap {
				padding: 24px 0 30px 0;
				.item-status {
					vertical-align: top;
					.status {
						color: #2e2e2e;
						strong {
							display: inline-block;
							margin-right:10px;
						}
						.in-status-location {
							display: inline-block;
							width: 64px;
							height: 28px;
							background-color: #000;
							border-radius: 4px;
							text-align: center;
							line-height: 28px;
							color: #fff;
						}
					}
				}
				.item-info {
					.price {
						margin-top: 12px;
						line-height: 20px;
					}
				}
				.item-btn {
					margin-top:-35px;
					padding-right: 30px;
					> * {
						margin-top:0;
						&:first-child{
							margin-top:0;
						}
					}
					.btn-link {
						padding: 0;
						background:  #fff;
						border: 1px solid #111;
						color: #111;
						line-height: 38px;
						text-align: center;
						font-weight: bold;
						display: inline-block;
					}
					span.btn-link {
						display: block;
						border: solid 1px #e5e5e5;
						color: #9e9e9e;
						background: #f8f8f8;
						border-radius: 2px;
					}//취소완료후

				}
			}
			/* as 신청 */
			.user-oder-list-wrap {
				padding: 8px 0;
				.order-item-wrap  {
					padding: 16px 0 50px 0;
					.item-info {
						width: 60%;
					}
					.item-status {
						width: 24%;
					}
					.item-btn {
						position: static;
						vertical-align: top;
						&.apply {
							padding-right: 0;
							.btn-link {
								display: block;
								&:first-child {
									margin-bottom: 8px;
									background: #111;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
		.btn-pagination {
			.paging {
				display: inline-block;
				margin-left: 10px;
				line-height: 45px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.no-item {
			color: #2e2e2e;
			font-size: 16px;
			padding: 105px 0 120px 0;
			border-top: 0;
			border-bottom: 1px solid #ddd;
		}
		/* 진행현황 조회  */
		.repaired {
			.as_info_list {
				padding-bottom: 31px;
				border-bottom: 1px solid #ddd;
			}
			.order-item-wrap {
				.item-btn {
					width: 95px;
					margin-right : 30px;
					padding-right: 0;
					a {
						width: 95px;
					}
				}
			}
		}
	}

	&.pt_customer-offer{
		.con_title{
			display: block;
			margin: 0px 0 10px 0;
			.label{
				font-size: 16px;
				color: #111111;
				font-family: "Trade Gothic LT W01 Bd CnNo-20", "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕", serif, Arial, Helvetica;
				font-weight: bold;
				line-height: 22px;
			}
		}

		.offer_info_list{
			> li {
				padding-left: 10px;
				background: url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 11px;
				line-height: 24px !important;
				letter-spacing: -0.3px;
				font-size:14px;
				color: #333;
			}
		}
	}

	/*
	.customer-offer-info{
		width:100%;
		padding-bottom: 30px;
		display: inline-block;
		.info-title{
			cursor: pointer;
			text-align: right;
			.title-txt{
				text-decoration: underline;
			}
			.title-icon{
				padding-right:5px;
				color:#47cc13;
			}

			&.uk-active{
				.title-icon{
					&:before{
						content: "\e02d";
					}
				}
			}
		}
		.offer-list-wrap{
			margin-top:20px;
		}
	}
	*/
}

#return-address {
	.option-wrap {
		.uk-grid {
			position: relative;
			.uk-width-4-6 {
				width: 100%;
			}
			.uk-width-2-6 {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		dl dd{
			word-break: break-word;
		}
	}
}

/* 고객센터 a/s 20180710 추가  */
.pt_afterservice {
	/* as 신청 작성  */
	.order-wrap {
		.order-tab-wrap {
			.order-tab {
				float: none;
				margin: 0 auto;
				width: 100%;
				max-width: 845px;
				display: block;
				.header {
					padding: 29px 25px;
					&.inactive {
						.tit {
							color: #999;
						}
					}
					.icon-toggle-order {
						&.icon-minus, &.icon-plus {
							position:absolute;
							top:50%;
							right:25px;
							font-size:16px;
							font-weight:bold;
							margin-top:-7px;
							color:#666
						}
					}
					h5.tit {
						font-size: 18px;
						line-height: 22px;
						color: #111;
					}
					.preview {
						top: 34px;
						right: 52px;
						font-size: 12px;
					}
					.order_list_pop01{
						position: absolute;
						top: 32px;
						right: 24px;
						a {
							display: block;
							color: #111;
							font-size: 13px;
							text-decoration: underline;
						}
					} // 수선불가항목 버튼
				}
				.body {
					padding: 0 40px 32px;
					.order_descript {
						p {
							font-size: 14px;
							line-height: 24px;
							color: #111;
						}
					}
					.order-field-list {
						&.select_msg {
							.select-head {
								border: 1px solid #fe0000;
							}
							.msg {
								display: block;
								margin-top: 10px;
								font-size: 14px;
								color: #fe0000;
								line-height: 22px;
							}
						}  //에러 메세지
						.msg {display: none;}
					}

					.select-box {
						.select-head {
							height: 48px;
							padding: 16px 11px 11px 11px;
							border-radius: 3px;
							span {
								font-size: 14px;
							}
						}
						.select-body {
							li {
								.label {font-size: 14px;}

							}
						}
						.select {
							padding: 16px 11px;
							border-radius: 3px;
							font-size: 14px;
							line-height: 1.6;
							border: 1px solid #e8e8e8;
						}
						&:before {
							border-top: 2px solid #111;
							border-right: 2px solid #111;
						}
					}

					.input-form-group + .write-comment {
						margin-top: 16px;
					}
					.write-comment {
						margin-top: 0;
						textarea {
							height: 160px;
							background: #fff;
							color: #111;
						}
						.msg {
							display: none;
						}
						&.write-msg {
							textarea {border: 1px solid #fe0000;}
							.msg {
								display: block;
								margin-top: 10px;
								font-size: 14px;
								color: #fe0000;
								line-height: 22px;
							}
						}  //에러 메세지
					}

					.as-img-uploader {
						padding: 16px 0 16px 0;
						.uplode-img-list {
							.thumbnail-wrap {
								float: right;
								width: calc(100% - 160px);
								text-align: right;
								.as-lode-img{
									position:relative;
									overflow:hidden;
									display:inline-block;
									width:56px;
									height:56px;
									.file-remove_btn {
										position: absolute;
										top: 0;
										right: 0;
										width: 14px;
										height: 14px;
										background: #000;
										opacity :1;
										text-indent: 0;
										text-align: center;
										&:after {
											font-family: 'nike' !important;
											content:"\e055";
											font-size: 13px;
											color:#fff;
										}
									}
								}
								.as-lode-img + .as-lode-img {
									margin-left: 6px;
								}
							}
							.uplode_btn {
								height: 40px;
								width: 160px;
								float: left;
								padding: 10px 40px 15px 10px;
								margin-top: 8px;
								font-size : 13px;
								color: #111;
								line-height: 24px;
								font-weight: bold;
								text-align: right;
								&:before {
									border: 1px solid #ddd;
								}
								.ns-camera {
									position: absolute;
									top: 8px;
									left: 8px;
									font-size:27px;
									&:after {
										content:"\e900";
									}
								}
							}
							&:after {
								content:'';
								display: block;
								clear: both;
							}
						}
					}
					.agree-form {
						.agree_pop_txt {
							font-size: 14px;
							color: #111;
							font-weight: bold;
							a.agree_pop {
								display: inline-block;
								margin-left:10px;
								color: #666;
								font-weight: normal;
								text-decoration: underline;
							}
						}
						.input-checkbox {
							margin-top: 15px;
							.brz-icon-checkbox {
								vertical-align: middle;
								background-image:url('#{$contextPath}/assets/images/icon.png');
								margin-right: 8px;
							}
							.label {
								vertical-align: top;
							}
						}
						.agree_txt {
							display: inline-block;
							line-height: 16px;
							vertical-align: top;
							margin: 0 0 0 16px;
							font-size: 14px;
							color: #999;
						}
					}
					.select-box {
						.msg { display: none;}
						&.select-msg {
							&:before {margin-top: -22px;}
							.select-head {
								border: 1px solid #fe0000;
							}
							.msg {
								display: block;
								margin-top: 10px;
								font-size: 14px;
								color: #fe0000;
								line-height: 22px;
							}
						}
					}//에러 메세지
				}
				.footer {
					padding: 44px 0 0 0;
					&.mt_s {
						padding-top: 24px;
					}
					button {
						&.disabled {
							font-size: 16px;
							color: #fff;
							font-weight: bold;
						}
					}
				}
			}
			.product-checkout {
				.header {
					padding: 40px 0 20px 0;
					> i {
						margin-top: 0;
					}
				}
				.body {
					padding: 0 0 32px;
					.cart-order_list {
						margin-top: 20px;
						.order-sum-wrap {
							.order_sum_info {
								margin-bottom: 20px;
								span {
									display: inline-block;
									color: #111;
								}
								.order_date {
									margin-right: 20px;
									font-size: 14px;
									line-height: 24px;
									font-weight: bold;
								}
								.order_num {
									font-size: 12px;
									line-height: 24px;
								}
							}
							.order-list {
								padding: 0;
							}
							.order-list + .order-list {
								margin-top: 20px;
							}
						}
						.order-info {
							.tit {
								margin-bottom: 6px;
								line-height: 20px;
								color:#111;
								font-weight: bold;
								font-size: 14px;
							}
							.current-option-wrap {
								margin-bottom: 6px;
							}
							.current-qty-wrap {
								display: inline-block;
								margin-bottom: 12px;
								font-size: 14px;
								.qty {
									display: inline;
								}
							}
							.price-wrap {
								.price {
									font-size: 14px;
									line-height: 20px;
									color: #111;
									font-weight: bold;
								}
							}
						}
					}
				}
			}

			.uk-grid-divider {
				margin-top: 24px;
			}
		}

		.input-form-group {
			margin-top: 17px;
		}

		.agree-noti {
			padding-bottom: 49px !important;
			.input-form-group {
				&:first-child {
					margin-top: 0;
				}
				.agree_txt {
					color: #fe0d0d !important;
					display:none !important;
					&.active {
						display: inline-block !important;
					}
				}
			}
			.input-form-group + .input-form-group {
				margin-top: 33px;
			}
		}
	}

	.order-field-container {
		padding: 0 !important;
		margin-top: 7px;
		.sort-tabs {
			.sort-item {
				width: 380px;
				height: 40px;
				padding-top: 0;
				background: #fff;
				border-radius: 2px;
				line-height: 40px;
				&:before {border: 1px solid #ddd;}
				&.uk-active {
					&:before {
						border: 1px solid #111;
						z-index: 0;
					}
				}
			}
			.sort-item + .sort-item {
				margin-left: 4px;
			}
		}
		.order-field-list {
			.select-box {
				margin-top: 14px;
				.select-head {padding: 11px !important;}
				.msg { display: none;}
				&.select-msg {
					.select-head {
						border: 1px solid #fe0000;
					}
					.msg {
						display: block;
						margin-top: 10px;
						font-size: 14px;
						color: #fe0000;
						line-height: 22px;
					}
				}  //에러 메세지
			}
			.delivery-addr-box {
				margin-top: 24px;
			}
			.input-textfield {
				label {
					top: 13px;
				}
				input {
					height: 48px;
				}
			}

			.search-field {
				.result-wrap {
					top: 50px;
					max-height: 298px;
					z-index: 99;
				}
				.btn_search {
					height: 48px;
				}
			}
		}
	}

	.order-item-wrap  {
		.item-info {
			.price {
				margin-top: 12px;
				line-height: 20px;
			}
		}
	}

	/* list */
	.as_info_list {
		margin-top: 8px;
		li {
			padding-left: 10px;
			background: url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 11px;
			line-height: 24px !important;
			letter-spacing: -0.3px;
			font-size:14px;
			color: #333;
		}
		&.no-bg {
			li {
				padding-left: 0;
				background: none;
			}
		}
	}

	/* input-checkbox */
	.input-checkbox {
		display: inline-block;
		margin-right: 20px;
		.brz-icon-checkbox {
			height:16px;
		}
		>label {
			>i {margin-right: 8px;}
		}
		.label {
			font-size: 14px;
			color: #333;
			line-height: 16px;
		}
	}

}

// 반품승인
#refund-step1 , #refund-step2 {
	.uk-modal-dialog {
		.uk-modal-header {
			margin: 8px 16px 40px 16px;
		}
		.btn-wrap {
			.btn-link + .btn-link {
				margin-left: 8px;
			}
		}
		.as-return-info {
			margin-bottom: 9px;
			font-size: 14px;
			color: #2a2a2a;

			.as-return-price {
				display: inline-block;
				font-size: 20px;
				color: #111;
				font-weight: normal;
			}
			strong {
				display: inline-block;
				margin-left: 12px;
				font-size: 20px;
				color: #111;
				font-weight: normal;
			}
		}
	}
}
#refund-step1 {
	.uk-modal-dialog {
		form {
			padding: 0 16px;
		}
		.return-acc-list {
			padding: 0;
			.order-field-list {
				.tit {
					margin: 16px 0 8px 0;
					padding: 0;
					font-size: 12px;
					color: #2a2a2a;
					&:first-child {
						margin-top: 25px;
					}
				}
			}
		}


	}
}

#popup-customer-address {
	.as_modal_repaired {
		height: auto;
		position: absolute;
		margin: 0;
		bottom: 0;
		max-width: 543px;
		.uk-close {
			margin: 10px 10px 0 0;
			right: 0;
			top: 0;
		}
		.uk-modal-header {
			margin: 0 0 18px 0;
			h4 {
				font-size: 16px;
				color:#606060;
				text-align: center;
				line-height: 19px;
			}
		}
	}
} ///a/s신청 상세정보 > 배송지선택

/* 고객센터 메인 숨김처리 */
.pt_cscenter {
	.btn-pagination,
	.tab-filter-wrapper {display: none;}

}

// 주문내역 리스트
.customer-order {
	.samedayrefund{
		display: none;
	}
	// 주문 상세
	&.order-detail{
		font-size: 14px;
		color: $font-1;
		> .header{
			font-size: $font-size-s;
			color:$font-1;
			padding: 17px 20px;
			border-bottom:1px solid $border-1;
			background: #eee;
			.order-code{
				margin-left:15px;
			}
		}
		.content-wrap{
			>.content-title{
				margin:40px 0px 20px 0px;
				font-weight: bold;
				color: $font-1;
				&.order-item-title {
					padding-left: 20px;		/* 주문상세내역 리스트 타이틀 */
				}
			}
			>.content{
				&:last-child{
					margin-bottom:0px;
				}
				font-size: 14px;
				color:$font-1;
				line-height: 1.5;
				margin-bottom:20px;
				>*{
					display: block;
					word-break: break-word;
				}
				.payment-info{
					>li{
						line-height: 1;
						border-bottom: 1px solid $border-2;
						padding:10px 0px;
						&:first-child{
							padding-top:0px;
						}
						&:last-child{
							border-bottom: none;
						}
						.price{
							float:right;
							font-size: 16px;
							&.total{
								font-size: 16px;
								color: $primary-color;
							}
						}
					}
				}
			}
			&.btn-wrap {
				margin-top: -10px;
				text-align: center;
			}
		}
		.order-item-container{
			border-top:1px solid $border-2;
			border-bottom:1px solid $border-2;
			padding: 0 20px;
			.address-info{
				font-size: $font-size-mini;
				color: $font-4;
				display: block;
				margin-top:20px;
			}
		}

		.order-payment-info {  // 주문배송 - 결제정보 부분
			margin-left: 0;
			border-top: 1px solid #d8d8d8;
		}
	}
	.margin-left-none {margin-left: 0;}

	.order-list {
		position: relative;
		margin-top: 8px;
		border:1px solid $border-2;
		&:first-child {margin-top:0;}

		.header {
			position:relative;
			padding:17px 20px;
			background-color: #eeeeee;
			color:$font-4;
			font-size:$font-size-s;
			&:after {content:""; display:block; clear:both;}

			.date {
				float:left;
				font-size: 18px;
				color: #111;
				margin-top: -1px;
			}
			// .total-price {position:absolute; left:105px;}
			// .order-code {position:absolute; left:245px;}
			.btn-order-detail {
				float:right;
				padding:0;
				font-size:$font-size-s;
				margin-right:0px;
				span {
					font-size: 15px;
					padding-left: 10px;
					vertical-align: -2px;
				}
			}

			> * {
				display:inline-block;
				margin-right:15px;
				float:left;
				font-size: 14px;
				color: #111;
				font-weight: 400;
				&:first-child {margin-left:0;}
			}
			.btn-link{
				&.btn-refund{
					font-size: 11px;
					display: inline-block;
					height: 30px;
					padding: 0 10px;
					margin: 0;
					border: 0;
					color: #000;
					background-color: #fff;
					border: 1px solid #000;
					font-style: normal;
					cursor: pointer;
					line-height: 30px;
					border-radius: 50px;
					vertical-align: middle;
					position: absolute;
					top: calc(50% - 2px);
					transform: translateY(-50%);
					right: 115px;
					cursor: pointer;
					display: none;
				}
			}
		}

		.order-offer {
			padding: 17px 20px;
			.discount {
				color:$font-3;
				&:before {content:'-'; display:inline-block;}
			}
		}

		&.return{
			// .total-price {position:absolute; left:140px;}
			// .order-code {position:absolute; left:290px;}
			.header {
				padding:10px 15px;
				.input-checkbox{
					padding-top:0px;
				}
				> * {
					padding-top:4px;
				}
			}
			.order-item-wrap{
				.item-info{
					padding-left:15px;
				}

			}
		}
	}
}


.pt_order-history{
	.offer-list-wrap{
		&.list{
			border-bottom: none;
		}
	}
}

/* 약관 관련 style */
.customer-policy {
	line-height: 1.6em;
	max-width: 1170px;
	margin-left: -265px;
	.title {
		padding-bottom: 20px;
		border-bottom: 1px solid $border-2;
	}
	> * {line-height: 1.6em; margin-bottom: 15px;}


	/* editor : foundation css str  */
	table tbody tr:nth-child(even) {
		background: #f9f9f9;
	}
	table thead, table tfoot {
		background: #f5f5f5;
	}
	/* editor : foundation css end */

	table {
		border-collapse: collapse;
		font-size: 14px;
		width: 100%;
		td, th {
			padding: 5px;
			border: 1px solid #ddd;
			vertical-align: top;
			p {
				padding-bottom: 15px;
			}
		}
		thead {
			td, th {
				font-weight: bold;
				border-bottom-color: #888;
			}
		}
	}
	a {
		color: #15c;
		text-decoration: underline;
		&:hover {color:#454e57;}
	}


}

/* 마이페이지 - 주문배송, 취소/반품 , as 등 리스트 공통 style (class: 'order-item-wrap')
   - 공통 class로 variation하여 사용하는 곳이 많으므로 수정하면 영향도가 큼.
*/
.order-item-wrap {
	display:table;
	width:100%;
	padding:20px 0px;
	border-top:1px solid $border-2;
	box-sizing:border-box;
	&:first-child {border-top:0;}

	// 상품 섬네일과 옵션의 container
	.item-info {
		padding-left:20px;
		display:table-cell;
		width:53%;

		vertical-align:top;
		> ul {
			list-style:none; padding:0; margin:0; border:0;
			> li{
				clear:both; position:relative; overflow: hidden; margin-top:20px;
				&:first-child {margin-top:0;}
				&.addon-item{
					padding:0 0 0 60px;
					.img-wrap {
						width: 60px;
						min-height: 60px;
					}
				}
				&.order-addon-item{
					.img-wrap {
						//width: 60px;
						//min-height: 60px;
					}
				}
			}
		}
	}

	//상품 섬네일
	.img-wrap {
		overflow:hidden;
		display:inline-block;
		width: 110px;
		min-height: 110px;
		background: #f6f5f6;
		float:left;
		box-sizing: border-box;
		img {
			display:block;
			width:100%;
		}
	}

	.input-checkbox{
		margin-right:15px;
		float:left;
	}

	// 상품 옵션
	.info-wrap {
		box-sizing: border-box;
		display:inline-block;
		padding-left:15px;
		vertical-align:top;
		float:left;
		width: -moz-calc(100% - 120px);
		width: -webkit-calc(100% - 120px);
		width: calc(100% - 120px);
		.tit {display:block; margin-top: 0; margin-bottom: 10px; font-size:14px; color: $font-1; font-weight: bold; line-height: 18px;}
		.subject {display:block; margin-top: 0; width:48%; margin-bottom: 10px; font-size:14px; color: $font-1; font-weight: bold; line-height: 18px;}
		.opt {margin-top: 8px; font-size: 14px; color: #2e2e2e; display: inline-block; margin-right: 10px;}
		.price-wrap {
			display:block;
			.retail-price {
				text-decoration: line-through;
				color: #999999;
				font-size: 14px;
			}
			.price {margin-top: 15px; font-weight: bold; font-size: 14px; color: $font-1;}
		}
		.offer {width:100%;font-size: 12px;}
		.btn {
			display:block; margin-top:20px; font-size:$font-size-s; color: $font-5;
			.btn-style-guide {margin-bottom:0;}
		}


		> * {
			margin-top:7px;
			display: inline-block;
			/* &:first-child {margin-top:0;} pc에서 table리스트 높이값 가로라인 맞춤때문에 해제 함. */
		}
	}

	.btn-wrap {
		clear:both;
		width:100%;
		padding:10px 10px 0 0;
		margin-top:4px;
		box-sizing:border-box;
	}

	// 주문 상태
	.item-status {
		display:table-cell;
		width: 20%;
		vertical-align: top;
		.status {
			font-size:14px;
			.btn-layer{
				cursor: pointer;
			}
			.ns-alert{
				font-size: 18px;
				vertical-align: -3px;
				cursor: pointer;
			}
			.ns-store {
				cursor: pointer;
			}
			&.store-pick {
				width: auto;
			}

			.label {
				display:inline-block;
				width:100%;
			}
			.date {
				display:inline-block;
				width:100%;
				font-weight:bold;
				color:#111;
			}
			&.sameday{
				display: inline-block;
				color: #111;
				padding: 0;
				padding-right: 5px;
				height: 17px;
				line-height: 17px;
				font-size: 14px;
				width: auto;
				&:before{
					content:'';
					background: url('#{$contextPath}/assets/images/icon-sameday.png') no-repeat 0 50% #fff;
					background-size: auto 13px;
					width: 35px;
					height: 17px;
					display: inline-block;
					vertical-align: top;
					margin-right: 5px;
				}
			}
		}
		> .btn-link {
			padding:8px 0 0 0;
		}

		> .status, .other-info {
			display:inline-block;
			padding-top:8px;
			width:100%;
			line-height: 18px;
			&:first-child{padding-top:0};
		}
		> a.status {text-decoration:underline;}

		&.status-type {
			width: 12%;
		}
	}

	// 액션 버튼
	.item-btn {
		padding-right:20px;
		box-sizing: border-box;
		display:table-cell;
		// width:20%;
		text-align:right;
		vertical-align: top;
		> * {margin-top:5px; &:first-child{margin-top:0;}}

		.btn-link {width:120px;}
		a{
			display: block;
			text-align: center;
		}

		&.not-ableVoid {
			position:static;
			text-align:center;
			.error-msg {line-height:17px;}
		}
		&.item-btn-empty {
			border:0;
		}
	}


	// 주문 취소, 반품 팝업에서 사용
	.order-cancel-container {

	}
	&.return-reason-list{
		padding:0px;
		.return-reason-item{
			padding:15px 0;
			&:last-child{
				border-bottom:none;
			}
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			border-bottom: 1px solid $border-1;
			margin-top:0px;

			.uk-float-left.uk-w {
				//width:330px;
			}

			.checkbox {
				.input-checkbox {
					margin: 0 5px 0 3px;
				}
			}
			.return-pop-image {
				.reason-thumb {
					.img-wrap {
						width: 80px;
						min-height: 80px;
					}
				}
			}
			.return-pop-info {
				width: calc(100% - 123px);
				.info-wrap {
					width: 100%;
				}
			}
			.reason-info{

			}

			.quantity-wrap{
				display:none;
				padding: 10px 0px 0px 15px;
				font-size:$font-size-mini;
				clear:both;

				&.active {display:block; height:auto;}
			}

			&.addon-item{
				margin-top:-20px;
				background-color: #fff;
				padding-left:60px;

				.checkbox{
					width:37px; // addon 일때 체크박스를 삭제 하기 때문에 그만큼의 사이즈를 유지
					height:1px;
				}
				.img-wrap {
					width: 60px;
					min-height: 60px;
				}
			}
		}
	}


	&.thedraw-item {
		.item-status {
			&.date-type {
				width:30%;
			}
		}

		.item-btn {
			vertical-align:bottom;

			.btn-link{
				text-align:center;
			}
		}
	}
}

[data-isablepartial="false"] {
	.checkbox {
		opacity: 0;
		margin-left:-28px;
	}
}

@media (max-width:$breakpoint-small) {
	.order-item-wrap {
		&.return-reason-list {
			.return-reason-item {
				.uk-float-left.uk-w {
					width:200px;
				}
			}
		}
	}
}

.customer-location {
	display:none;
	position:relative;
	width:100%;
	padding:10px 0;
	margin:0;
	border-bottom:1px solid $border-2;
	text-align:center;
	font-size:18px;
	// font-weight:bold;
	color: $title_mobile-location;
	box-sizing:border-box;

	> a {position:absolute; left:20px; color: $title_mobile-location;}
	.sub-label {
		padding: 0 20px;
		font-size: 12px;
		line-height: 16px;
		color: #888888;
		margin-top: 10px;
		text-align: left;
		font-weight: normal
	}
}

.layout-item-gl {
	position: relative;
	padding:20px 0 0;
	.item-info {
		display:block;
		width:100%;
		position: relative;

		li {
			margin: 20px 0;
		}
	}
	.item-status {
		position: absolute;
		right:150px;
		top:20px;
	}
	.item-btn {
		position: absolute;
		right:0;
		top:20px;
		display:none;
	}
}



.mobile-btn-wrap {display:none; padding:20px; text-align:center;}

.shipping-list {
	border-top:1px solid $border-2;
	padding:30px;
	color:$font-1;

	.ship-tit {display:inline-block; width:100%; overflow-wrap: break-word;
		// font-weight:bold;
	}
	.address-default {font-weight:normal; color:$font-3;}
	.user-name {display:inline-block; width:100%; margin-top:15px; overflow-wrap: break-word;
		// font-weight:bold;
	}
	.addr-type, .addr {
		padding-top:6px;
		line-height: 1.4em;
	}

	.addr-type {width:60px;}
	form {display:inline-block;}
}

#popup-return .return-reason-item .checkbox .input-checkbox {
	padding-left:18px;
}

#popup-return .info-wrap {
	width:100%;
}

.address-form {
	display:none;
	text-indent:-9999px;
	overflow:hidde;
}

.address-form-wrap {
	padding:50px 20px;

	.tit {font-size:14px; margin-top:15px;}
	.input-textfield, .search-field {margin-top:5px;}
	.btn-wrap {text-align:center; margin-top:30px;}
	.hidden-form {display:none; overflow:hidden;}
}

.cancel-order-preview, .return-order-preview{
	position:fixed;
	right:0;
	bottom:0;
	width:400px;
	padding:10px;
	box-sizing: border-box;
	border:1px solid $border-1;
	background: $bg-1;
	z-index: 1;
}


/* 내용 없을 때 */
.no-item {
	padding:50px 0;
	text-align:center;
	border-width:1px 0 1px 0;
	border-style:solid;
	border-color:$border-2;
}

/* order step */
.order-step-title {
	padding: 40px 0 15px;
	font-size: 23px;
	color: $font-1;
	font-weight: bold;
	box-sizing: border-box;
	&.line{
		position: relative;
		border-bottom: 1px solid $border-2;
		.btn-order-detail {
			position: absolute;
			top: 35px;
			right: 0;
			font-weight: normal;
		}
	}
}
.order-step {
	width:100%;
	height:170px;
	margin-bottom:50px;
	border-top:1px solid $border-2;
	border-bottom:1px solid $border-2;
	box-sizing: border-box;

	li {
		position:relative;
		float:left;
		width:20%;
		text-align:center;
		padding:10px 0 0 0;
		line-height: 1.5em;
		font-size: 12px;

		&:after {
			content:'\e903';
			font-family: 'icomoon';
			position:absolute;
			top:55px;
			left:0;
			display:block;
			width:7px;
			height:14px;
		}
		&:first-child:after {
			font-size:0;
		}

		span {
			padding:0 0 5px;
			font-size:11px;
			letter-spacing:0.3em
		}
		dt {
			padding:0 0 15px;
			font-size:14px;
			color: $font-1;
		}
	}
}

// cscenter main
.pt_cscenter {
	min-height: 700px;
}

/* wish list */
.customer-wish {
	.product-item {
		width: 25%;
		height: auto;
		.action-hover{
			.item-imgwrap{
				width: 100%;
			}
		}
		.item-info {
			margin-bottom:8px;
			.item-title {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.opt {font-size: 12px;}
			.item-price {margin-top: 6px;}
		}
		.btn-link.line {padding: 0}
	}
}



/* tab btn wrapper */
.tab-filter-wrapper {
	width:100%;

	.tab-filter-container {
		.tab-filter-list {
			width:14.2857143%;
			position:relative;
			float:left;
			margin-left:-2px;

			&.active {
				z-index:10;
				.btn-link {
					background: $primary-color;
					color: $font-6;
				}
			}
			&:first-child {margin-left:0;}
			&:hover {z-index:5;}

			.btn-link {
				width:100%;
				text-align:center;
			}
		}
		&:after {content:''; display:block; clear:both;}
	}
}


/* 입고알림 신청 내역 */

.stock-sms {
	&.tbl-wrap {
		.tbl-header {
			display: table;
			width: 100%;
			height: 56px;
			background-color: $bg-2;
			li {
				display: table-cell;
				padding: 0 15px;
				font-size: $font-size-m;
				color: $font-2;
				vertical-align: middle;
				box-sizing: border-box;
			}
		}
		.item-box {
			border-bottom: 1px solid $border-2;
			.tbl-td {
				position: static;
				display: table-cell;
				vertical-align: top;
				box-sizing: border-box;
			}
		}
	}
	.tbl-header .date, .order-item-wrap .date {
		width: 15%;
		padding-left: 15px;
	}
	.tbl-header .item-info, .order-item-wrap .item-info {width: 45%;}
	.tbl-header .item-status, .order-item-wrap .item-status {width: 20%;}
	.order-item-wrap {
		.item-status, .item-btn {text-align: center;}
		.item-btn {
			padding-right: 0;
			> * {
				margin-top: 0;
			}
			.btn-restock-submit,
			.btn-restock-delet {
				width: 108px;
				margin-bottom: 5px;
				padding: 13px 0;
			}
		}
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.customer-wish {
		.product-item {
			width: 33.333%;
		}
	}
	.hide {display:none;}
	.show {display:block;}
	.pt_account {display:none}
	.pt_cscenter {display:none;}
	.customer-title {display:none;}

	.customer-wapper {min-height:300px;}
	.customer-aside {
		position:static;
		width:100%;
		margin-bottom: 0;

		.customer-name {
			margin-top: 0;
			border-top: 0;
			padding: 17px 26px 18px 24px;
			border-bottom: 1px solid #ddd;
			font-size: 16px;
			color: #333;
			.customer-rank {
				right: 37px;
			}
		}
		/* 2018.2.23 주문상품 진행상황 안내 문구 */
		.customer-order-notice {
			padding: 0 20px 20px 50px;
		}

		.customer-mile {
			border-bottom: 1px solid #e1e1e1;
			.txt {
				padding-left: 2px;
			}
		}
		.lnb {
			padding:0;
			border:0;
			border-top:1px solid $border-2;

			/*&:first-child {
				border-top:0;
				.title {border-top:1px solid $border-2;}
			}*/

			> .btn-link {
				// border-top:1px solid $border-2; 고객센터 2줄 겹침 때문에 제거
				padding:20px;
				color: $font-2;
			}

			> .title {
				margin:0;
				background-color: #f8f8f8;
				padding: 14px 59px 14px 30px;
				font-size: 14px;
				font-weight: bold;
				line-height: 20px;
				color: #2e2e2e;
			}

			.twodepth-lnb {display:none;}
		}
		&.mypage {
			.lnb {
				padding: 0;
				> .btn-link {
					border-top:1px solid #ddd;
					padding: 16px 16px 16px 30px;
					font-size: 14px;
					line-height: 23px;
					color: #2e2e2e;
					&:last-child {
						border-bottom:1px solid #ddd;
					}
					.icon-arrow_right {margin-top:3px; color:#111;}
				}
				.phone {
					padding-left:33px;
					margin: 0 0 6px 0;
					line-height: 36px;
					font-size: 30px;
					font-weight: bold;
					text-align: left;
					color:#000;
				}
				.txt {
					padding: 0 0 30px 33px;
					line-height: 24px;
					text-align: left;
					font-size: 14px;
				}
				&.contact {
					.title {
						padding: 24px 0 6px 33px;
						color: #111;
						background: #fff;
					}
				}
			}
		}
		i {display:block;}
	}

	.customer-location {
		display:block;
		// height:63px;
		padding: 23px 0 22px 0;
		line-height: 20px;
		font-size: 16px;
		font-weight: bold;
		color: #222;

		> a {
			display:inline-block;
			top:0;
			left:0;
			width:55px;
			height:55px;
			box-sizing:border-box;
			padding: 23px 0 0 0;
		}
	}

	.customer-order {
		.order-list {
			margin-top:20px;
			border-left: 0;
			border-right: 0;
			.header {
				.total-price {display:none;}
			}
		}

		&.order-detail{
			> .header{
				padding: 10px 0;
				.order-code{
					float:right;
					letter-spacing: -0.2px;
					margin-left: 5px;
				}
			}
			.content-wrap {
				> .content-title{
					&.order-item-title {
						padding-left: 0;
					}
				}
			}
			.order-item-container {
				padding: 0;
			}
		}
		.uk-sticky-placeholder {
			height: 56px !important;
			display: none;
		}
		.margin-left-none {
			width: 100%;
		}
	}

	.customer-contents {
		width: 100%;
		padding:0;
		margin-top: 0;

		.title{
			display: none;
		}

		/*2018-02-28 주문내역 필터 디자인 수정*/
		.title {
			&.order-filter {border-top:0 !important;}
		}
		.order-filter {
			padding:10px;
			border-left:0 !important;
			border-right:0 !important;
			border: 1px solid #d8d8d8;
			background-color:#fff;
			margin-top: -1px;
			margin-bottom: -1px;

			.button.small {
				float: right;
				padding: 0 16px;
				line-height: 30px;
				background-color:#f7f7f7;
				border:1px solid #e8e8e8;
				color:#111;
			}

			.sort-tabs {
				.sort-item {
					color:#737373;
					&:before{
						border: 1px solid #e8e8e8;
					}
					&:first-child {
						&:before{
							border-radius: 2px 0 0 2px;
						}
					}
					&:last-child {
						&:before{
							border-radius: 0 2px 2px 0;
						}
					}

					&.active{
						color:#111;
						&:before{
							border: 1px solid #111;
						}
					}
				}
			}

			.uk-accordion-title {
				top: 8px;
			}

			/* 주문내역 필터부분 날짜 입력 input */
			.input-textfield  {
				width: 70px !important; /* mobile에서 넓이값 고정 */
				.date {
					padding: 6px 4px;
				}
			}
		}

		/*2018-07-10 A/S 추가 */
		&.pt_afterservice {
			.con_title {
				font-size: 16px;
				color:#111;
				&:first-child {
					margin-top: 16px;
				}
			}
			/* as 접수 안내 */
			.asinfo_layout {
				.as_info_list {
					margin-top: 10px;
				}
				.as-step-wrap {
					ol {
						&:after {
							display:block;
							content:'';
							clear:both;
						}
					}
					li {
						float:left;
						width:50%;
						text-align: left;
						&:nth-child(3), &:nth-child(4) {
							margin-top: 32px;
						}
						&:nth-child(2n+1) {
							strong {
								&:after {
									display:none !important;
								}
							}
						}
						&:nth-child(2n) {
							strong {
								position:relative;
								&:after {
									display:none !important;
								}
							}
						}
						strong {
							display:block;
							font-size:15px;
							color:$font-1;
							text-align:left;
							padding:0 5px 9px 0;
							box-sizing:border-box;
							border-bottom:2px solid #f6f6f6;
						}
						span {
							display:block;
							font-size: 14px;
							color:#666;
							line-height:19px;
							text-align:left;
							padding:5px 5px 5px 0;
							box-sizing:border-box;
							line-height: 20px;
						}
					}
				}
				.int_gap {
					margin-bottom: 48px;
				}
			}

			/* as 신청 */
			&.customer-contents {
				.order-filter {
					border-top: 0;
				}
				.customer-order {
					.header {
						.date {
							font-size:14px;
						}
					}
					.order-item-wrap {
						padding: 16px 0 24px 0;
						.item-info {
							width: 100%;
							padding: 0 24px;
							.info-wrap {
								padding-right: 24px;
								.tit {
									margin-bottom: 8px;
								}
								.price {
									margin-top: 10px;
								}
							}
						}
						.item-btn {
							border-top: 0;
							&.apply {
								clear: both;
								overflow: hidden;
								display: inline-block;
								margin-top:0;
								padding: 16px 24px 0 24px;
								border-top: 0;
								.btn-link {
									float: left;
									display: inline-block;
									margin-top: 0;
									width: 49% !important;
									&:first-child {
										float: right;
										margin-bottom: 0;
									}
								}
							}
						}
						.item-status {
							width: 100%;
							margin-left: 24px;
						}
					}
					.order-list {
						margin-top: 8px;
						&:first-child {
							margin-top: 0;
						}
					}
					.user-oder-list-wrap {
						padding: 0;
					}
				}
			}
		}

		&.pt_customer-offer{
			.offer_info_layout{
				padding:0px 20px;
			}
		}

		/*
		.customer-offer-info{
			.info-title{
				text-align: left;
				padding:25px 0px 0px 15px;
			}
			.offer-list{
				.offer-item{
					&:last-child{
						padding:0px 0px 0px 30px;
					}	
				}
			}
		}
		*/

	}

	/*2018-07-10 A/S 추가 */
	.pt_afterservice {
		&.order-checkout {
			.order-wrap {
				padding-top: 0;
				.order-tab-wrap {
					margin: 0;
					.contents-title {
						display: none;
					}
					.header {
						padding: 21px 24px;
						.tit {
							font-size: 17px !important;
							color: #000 !important;
						}
						.preview {
							top: 27px;
						}
						&.inactive {
							.tit {
								color: #999 !important;
							}
						}
					}
					.body {
						padding: 0 24px 48px 24px;
						.write-comment {
							margin: 8px 0 0 0;
							font-size: 14px;
							label {
								font-size: 14px;
							}
							textarea {
								font-size: 14px;
							}
						}
						.agree-form {
							margin: 8px 0 0 0;
							.agree_pop_txt {
								line-height: 22px;
								a {
									display: block !important;
									margin: 4px 0 0 0 !important;
									color: #666;
								}
							}
							.input-checkbox {
								margin: 10px 0 0 0;
								position: relative;
								clear: both;
								overflow: hidden;
								width: 100%;
								label {
									width: 100%;
									.input_area {
										float: right;
									}
									.agree_txt {
										float: left;
										margin-left: 0;
									}
								}
							}
						}
						.as-img-uploader {
							padding: 16px 0 0 0;
							.uplode-img-list {
								.thumbnail-wrap, button {
									float: none !important;
									margin-bottom: 16px;
								}
								.thumbnail-wrap {
									text-align: left;
									.file-remove_btn {
										text-align: center;
									}
								}
							}
						}
						.footer {
							padding: 40px 0 0 0;
							&.mt_s {
								padding-top: 16px;
							}
						}
						.select-box {
							select {
								height: 40px;
								border-radius: 2px;
							}
						}
						.input-form-group {
							&.option {
								margin-top: 3px;
								.input-checkbox {
									width: 49%;
									margin-right: 0;
									&:nth-child(2n +1) {
										margin-top: 14px;
									}
								}
							}
						}
						&.agree-noti {
							.agree-form {
								margin-top: 0;
							}
							.agree-form + .agree-form {
								margin-top: 34px;
							}
							.input-checkbox {
								label {
									.input_area{
										float: left;
										width: 25%;
									}
									.agree_txt {
										float: left;
										width: calc(100% - 25%);
									}
								}
							}
						}
					}
					//order summary
					&.summary {
						margin: 0;
						.product-checkout {
							.header {
								border-bottom: 0;
								.icon-toggle-summary {
									display:block !important;
									margin-top: -8px;
									right: 28px;
								}
							}
							.body {
								padding:0;
								.cart-order_list {
									margin-top: 0;
									padding: 0 24px;
								}
								.info-price {
									padding: 8px 30px 0 30px;
									.total-price {
										border-bottom: 0;
										margin-top:32px;
									}
								}
							}
						}
					}
					.order-type1 {
						position: relative;
						.order_descript {
							p {
								margin-top: 16px;
								&:first-child {
									margin-top: 0;
								}
							}
						}
						.header {
							border-top: 1px solid #f8f8f8;
						}
					}
					.last_list {
						.body{
							padding-bottom: 0;
						}
					}
				}
			}
		}
		.no-item {
			padding:96px 0;
		}

		.order-field-container {
			.order-field-list {
				margin-bottom: 0;
				padding-left: 0 !important;
				h6.tit {font-size: 12px;}
				.sort-tabs {
					.sort-item {
						width: 49%;
						height: 40px;
						line-height: 40px;
					}
				}
				.delivery-addr-box {
					margin-top: 16px;
					position: relative;
					.uk-width-7-10{
						width: 100% !important;
					}
					.uk-width-3-10.uk-text-right{
						position: absolute;
						top: 5px;
						right: 0;
						width: 90px;
					}
					.txt-name {
						margin-top: 8px;
						max-width: calc(100% - 100px);
					}
					.txt-addr {
						margin-bottom: 8px;
					}
					.txt-phone {
						margin-bottom: 0;
					}
					.btn-delivery-list {
						width: 80px;
						height: 32px;
						font-size: 11px;
						line-height: 32px;
						padding: 0;
					}
				}
				.input-textfield {
					input {
						height: 40px !important;
					}
					label {
						top: 9px;
					}
				}
				.shipping-address {
					.btn_search {
						height: 40px;
						line-height: 40px;
						padding: 0;
					}
				}
			}
		}

		/* 진행현황 조회  */
		.repaired {
			.as_info_list {
				padding: 24px;
				margin-bottom: 0 !important;
				border-bottom: 1px solid #d8d8d8;
			}
			.order-item-wrap {
				position: relative;
				padding: 15px 0 16px 0 !important;
				.item-info {
					ul {
						li {
							&:after {
								content: '';
								clear: both;
								display: block;
							}
						}
					}
				}
				.item-status {
					margin: 24px 0 0 24px;
					.status {
						height: 40px;
						line-height: 40px;
					}
					.in-status-location {
						position: absolute;
						bottom: 20px;
					}
				}
				.item-btn {
					position: absolute;
					right: 24px;
					top: 150px;
					width: 90px;
					height: 40px;
					margin: 0 !important;
					padding: 0 !important;
					button {
						width: 90px !important;
						height: 40px;
					}
				}
			}

		}

	}

	.no-item {
		padding:20px 0;
		border:0;
	}

	.order-step-title {
		padding:40px 15px 20px 15px;
	}
	.order-step {
		height: auto;
		padding:0 15px;
		overflow: hidden;
		border-bottom: 0;

		li {
			width: 100%;
			text-align: left;
			&:after {
				font-size:0;
			}
		}
		dt {
			min-width:80px;
			display: inline-block;
			vertical-align: top;
		}
		dd {
			display: inline-block;
			vertical-align: top;
		}
	}
	// 우선 customer에서만 사용되는 content 여백 처리용 dom
	// mobile에서는 좌우 20px padding처리
	.content-wrap{
		padding-left:20px;
		padding-right:20px;
	}

	.order-item-wrap{
		.info-wrap {
			width: -moz-calc(100% - 120px);
			width: -webkit-calc(100% - 120px);
			width: calc(100% - 120px);
			.status-type {
				width: 100%;
			}
			> * {
				&:first-child {margin-top:0;}  // mobile일때 상품이미지와 가로라인 맞춤.
			}
		}
		.item-btn{
			position:relative;
			&.not-ableVoid{
				border-top:none;
				margin-top:0px;
				text-align:center;
				.error-msg {line-height:17px;}
			}
		}
	}

	.layout-item-gl {
		position: relative;
		padding:20px 0 0;
		.item-info {
			display:block;
			width:100%;
			position: relative;

			li {
				margin: 20px 0;
			}
		}
		.item-status {
			position: inherit;
			right:inherit;
			top:inherit;
			margin-bottom: 20px;
			display:block;
			width:100%;
		}
		.item-btn {
			position: inherit;
			right:inherit;
			top:inherit;
			display:none;
		}
	}

	.customer-policy {
		padding: 15px;
		margin-left: 0;
	}

	/* mc wish list */
	.contents {
		.customer-wish {
			.list-type {
				.product-item {
					padding: 0 5px;
					.item-info {min-height: 65px;}
				}
			}
		}
	}

	/* 입고알림 신청내역 */

	.stock-sms {
		&.tbl-wrap {
			.tbl-td {
				display:block !important;
				width:100% !important;
				padding: 10px 24px;
				text-align: left !important;
				&.gray {
					padding: 17px 25px;
					font-size: $font-size-s;
					color: $font-3;
					background-color: $bg-2;
					border-bottom: 1px solid $border-2;
				}
			}
			.item-box {
				.tbl-td {
					margin: 0;
				}
			}
			.tbl-header {display: none;}
		}
		.order-item-wrap {
			padding-top: 0;
			.date {
				padding: 17px 25px;
				font-size: $font-size-s;
				color: $font-3;
				background-color: $bg-2;
				border-bottom: 1px solid $border-2;
			}
			.item-btn {
				display: table !important;
				margin: 0;
				padding: 10px 20px;
				border: 0;
				>div {
					display: table-cell;
					width: 50%;
					padding: 0 4px;
					box-sizing: border-box;
				}
				.btn-link {width: 100%;}
			}
		}
	}

	.mobile-btn-wrap {display:block;}
	.customer-faq {margin-bottom:0;}

}


/* social login */
.social-login-title {
	position: relative;
	&:before {
		content:'';
		display:block;
		position: absolute;
		top: 50%;
		width: calc(100% - 20px);
		border-top: 1px solid $border-2;
	}
	span {
		position: relative;
		padding: 0 8px;
		background: $bg-1;
	}
}
.social-login-container {
	.btn-link {
		margin-bottom: 10px;
		border-radius: 3px;
		font-size: 15px;
		color: #fff;
		&:hover {
			color: #fff;
		}
		i {
			position: absolute;
			font-size: 24px;
			top: 0;
			left: 10px;
			display: inline-block;
			width: 38px;
			height: 38px;
			text-align: center;
			line-height: 38px;
			vertical-align:middle;
			// &:after {
			// 	content:'';
			// 	position:absolute;
			// 	display:block;
			// 	width: 1px;
			// 	height: 16px;
			// 	top:10px;
			// 	right:0;
			// 	background: #000;
			// }
		}
		&.large {
			width: 100%;
			padding: 0;
			.txt {
				width: 100%;
				padding-top: 12px;
				padding-left: 10px;
				font-size: 15px;
				text-align: center;
				display: inline-block;
				box-sizing: border-box;
			}
		}
		&.btn-facebook {
			background-color: #21538a;
			border-color: #21538a;
		}
		&.btn-kakao {
			background-color: #feec34;
			border-color: #feec34;
			i,
			.txt {
				color: #111;
			}
		}
		&.btn-google {
			background-color: #fff;
			border-color: #ddd;
			color: #111;
			> img {
				position: absolute;
				width: 19px;
				top: 10px;
				left: 18px;
			}
		}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.tab-filter-wrapper {
		.tab-filter-container {
			.tab-filter-list {
				overflow:hidden;
				width:50%;
				margin-left:-2px;
				margin-top:-2px;

				&:nth-child(odd) {
					margin-left:0;
				}
			}
		}
	}
	.social-login-container {
		.uk-width-1-3 {
			width:100%;
			margin-top: 10px;
		}
	}

	.customer-info-qrcode{
		.qrcode-name{
			text-align: center;
			padding: 20px;
			font-size: 16px;
			.customer-rank{
				width: 36px;
				height: 24px;
				border-radius: 2px;
				background: #111;
				color: #fff;
				text-align: center;
				line-height: 24px;
				right: 0;
				font-size: 12px;
				display: inline-block;
				margin-left: 5px;
			}
		}
		.qrcode-info{
			text-align: center;
			padding: 20px;
			font-size: 12px;
			color:#666;
		}
		.qrcode-image{
			text-align: center;
			> *{
				display: inline-block;
			}
		}
	}

}


/* 팝업 */
.as_modal {
	.input-checkbox > label{
		display: inline-block;
		margin-right: 3px;
	}
	.uk-as_modal-dialog-small{
		max-width:375px
	}
	.panel-box{
		&.uk-clearfix{
			padding-top: 6px;
			padding-bottom: 6px;
			.uk-float-left{
				line-height: 26px;
			}
		}
	}
	.as-account-info {
		li {
			font-size: 12px;
			color: #808080;
			line-height: 26px;
		}
	}

	.btn-wrap {
		margin: 0 10px 0 0;
		text-align: right;
	}

	/*
        .container{
          .btn-wrap {
             .btn-link {width: 140px; text-align: center;}
          }
     }
    */

	.as-return-info {
		margin-bottom: 9px;
		font-size: 14px;
		color: #2a2a2a;
		strong {
			display: inline-block;
			margin-left: 12px;
			font-size: 20px;
			color: #111;
			font-weight: normal;
		}
	}
	.as_info_list {
		margin: 7px 16px 0 0;
	}

	.container{
		.option-txt {
			margin-bottom: 13px;
			color: #111;
			font-weight: bold;
		}
		.input-form-group {
			.input-checkbox {
				display: inline-block;
				width:30%;
			}
		}
		.text-area {
			margin-bottom: 16px;
			color: #2e2e2e;
			line-height: 150%;
		}
	}
	.agree-noti-view {
		> span {
			margin-right: 0px;
		}
		span {
			color: #2e2e2e;
		}
		.check {
			position: relative;
			padding-left: 30px;
			&:after {
				font-family:'nike'!important;
				speak:none;
				font-style:normal;
				font-weight:normal;
				font-variant:normal;
				text-transform:none;
				line-height:1;
				display:inline-block;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;content:"\e011";
				display:block;position:absolute;
				top:4px;left:8px;
				font-size:13px;
				color:#000;
			}
		}
	}
	.body {
		&.adress {
			display:none;
		}
	}
	a.button:hover{
		opacity: 1 !important;
		background-color: #000 !important;
	}

	&.detail-info-modal, &.result {
		//a/s 신청 상세정보
		.p-header {
			position: relative;
			padding: 40px 0 17px 0;
			.p-tit {
				font-size: 16px;
				line-height: 22px;
				color: #111;
				font-weight: bold;
			}
			.p-btn {
				position: absolute;
				top: 36px;
				right: 0;
				width: 72px;
				height: 32px;
				a {
					width: 72px;
					height: 32px;
					font-size: 11px;
					padding: 0;
					line-height: 32px;
					background-color: #fff;
					border: 1px solid #111;
					color: #111;
				}
				&.change {
					display:none;
				}
			}
		}
		.product-checkout {
			width: 100%;
			max-width: 100%;
			.p-header {
				padding: 33px 40px 0 40px;
			}
			.cart-order_list {
				margin-top: 0;
				padding: 0 40px;
				.order-list {
					padding: 16px 0;
					margin: 0;
					.price-wrap {
						.price {
							color: #111;
						}
					}
				}
			}
			.info-price {
				padding: 0 40px;
				.item-price {
					margin-top: 21px;
				}
				.delivery-price, .item-price.order {
					margin-top: 8px !important
				}
				.label {
					font-size: 14px;
					line-height: 22px;
					color: #2e2e2e;
					font-weight: normal;
				}
				.price {
					font-size: 14px;
					line-height: 22px;
					color: #2e2e2e;
					font-weight: bold;
				}
				.total-price {
					margin-top: 5px;
					padding: 12px 0;
					.label {
						font-weight: bold;
					}
					.price {
						color: #fa5400;
					}
				}
			}
		}
		.custom-info {
			dt {
				margin-bottom: 3px;
				color: #111;
				font-weight: bold;
			}
			dd {
				color: #2e2e2e;
				line-height: 22px;
				margin-bottom: 8px;
				&:first-child {
					margin-bottom: 16px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		#popup-customer-address {
			.shipping-list {
				border-top: 0;
			}
		}
	}  //상세 팝업

	.as_info_list {
		margin-top: 16px;
		margin-bottom: 40px;
		li {
			font-size: 12px;
			color: #808080;
			line-height: 18px;
			background-position: left 7px;
			margin-bottom: 20px;
		}
	}
	.order-field-container {
		padding: 0;
		margin-top: 7px;
		.sort-tabs {
			.sort-item {
				width: 49%;
			}
		}

		.delivery-addr-box {
			.txt-name {
				color: #111;
				font-size: 16px;
				font-weight: bold;
			}
			.txt-addr {
				span {
					font-size: 14px;
					color: #2e2e2e;
				}
			}
		}
		.btn-delivery-list {
			color: #111;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
		}
		.order-field-list {
			.tit {
				margin-top: 15px;
				margin-bottom: 7px;
				font-size: 14px;
			}
			input {
				height: 48px;
			}
			.btn_search {
				color: #111;
			}
		}
	}


	// as 판정 결과
	&.result {
		.reservations-order{
			width: 100%;
			border-top: 0 !important;
			padding: 0 10px;
			float: none;
			.body{
				.order-field-container{
					margin-top: 20px;
					margin-left: auto;
					margin-right: auto;
					display: block;
					.payment-method-item{
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
		.uk-modal-dialog {
			padding: 0 0 10px 0;
			/*.uk-modal-close {
				position: absolute;
				top: 20px;
				right: 20px;
			}*/
			.contents {
				margin-top: 0;
				.order_sum_info {
					margin-bottom: 26px;
				}
				.detail-table {
					padding: 0 20px;
					tbody {
						th, td {
							padding: 13px 16px;
							vertical-align: top;
							background-color: #f7f7f7;
							color: #2a2a2a;
							text-align: left;
							line-height:1.5;
						}
						td {
							background-color: #fff !important;
							.input-checkbox {
								margin: 0 12px 0 0;
								&:last-child {
									margin-right: 0;
								}
								.label {
									font-size: 12px;
								}
							}
							.result-state, .delivery-state {
								color: #fe0d0d;
							}
							.result-state {
								margin-left: 9px;
							}
							.delivery-state {
								margin-right: 9px;
							}
							.thumbnail-wrap {
								.as-lode-img {
									margin-left: 8px;
									&:first-child {
										margin-left: 0;
									}
									img {
										width: 56px;
										height: 56px;
									}
								}
							}
						}
					}
				}
				.as_info_txt {
					margin-bottom: 0;
					padding: 0 40px;
					font-size: 12px;
				}
				.btn-wrap {
					.btn-link {width: 140px; text-align: center;}
				}
				.content-header {
					padding: 0 40px;
					h5 {
						font-size: 14px;
						color: #000;
						font-weight: bold;
					}
				}
			}
		}
	}
}
@media (max-width:$breakpoint-small) {
	.as_modal{
		.btn-wrap{
			text-align: center;
		}

		.container{
			.input-form-group{
				.input-checkbox{
					width: 48%;
				}
			}
		}

		.agree-noti-view{
			.check{
				padding-left: 23px;
			}
		}


	}
	.pt_afterservice{
		.input-form-group{
			.input-checkbox{
				margin-right: 0;
				width: 45%;
			}
		}
		&.repair_result{
			padding: 0 15px 80px;
		}
	}

	.order-item-wrap {
		.info-wrap{
			.subject{
				width:100%;
			}
		}
	}
}
