/* 커스텀 미리보기 버튼 */
.btn-custom-selected-preview{
  display: inline-block;
  padding: 7px 14px 7px 10px;
  border: 1px solid #ccc;
  line-height:14px;
  border-radius:50px;
  margin-left:10px;
  font-size:13px;
  i{
    font-size: 14px;
    line-height: 14px;
    margin: -2px 2px 0 0;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: 100%;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
    width: 1em;
    height: 1em;
  }
}
/* 커스텀 미리보기 모달 뷰 */
.custom-product-preview-modal-view{
  display:none;
  position: fixed;
  z-index: 2000;

  .bg {
    position: fixed;
    content: ' ';
    display:block;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    span{
      display:block;
      width:0;
      height:0;
      overflow: hidden;
      text-indent: -99999px;
    }
  }

  .modal-view{
    position: fixed;
    display: block;
    width:50%;
    height:auto;
    min-width:280px;
    min-height:280px;
    max-width:700px;
    background:#fff;
    top:50%;
    left:50%;
    transition: all 230ms ease-out 0s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index:2001;

    .modal-view-wrapper{
      position:relative;
      padding-bottom:100%;
    }
    .modal-close{
      position: absolute;
      z-index: 2002;
      right: 10px;
      top: 10px;
      font-size: 18px;
      span{
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        text-indent: -99999px;
      }
    }

    .custom-product-preview-swiper-container {
      align-items: stretch;
      position: absolute;
      overflow:hidden;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
      text-align: center;
      transition: all 230ms ease-out 0s;
      box-sizing: border-box;

      .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        cursor: pointer;
        list-style: none;
        width:100%;
        height:100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        .aria-text{
          text-indent: -9999px;
          width:0;height:0;
          overflow: hidden;
        }
      }

      .custom-product-swiper-button{
        display: -webkit-flex;
        display: flex;
        flex-shrink: 0;
        min-width: 40px;
        flex-direction: row;
        align-items: center;
        border: none;
        background-color: transparent;
        transition: opacity 230ms ease-out 0s;
        position: absolute;
        outline: none;
        bottom: 0px;
        top: 0px;
        z-index: 600;

        &.swiper-button-disabled{
          opacity: 0.25;
        }

        .aria-text{
          text-indent: -9999px;
          width:0;height:0;
          overflow: hidden;
        }
        .arrow-button{
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(141, 141, 141);
          width: 40px;
          height: 40px;
          font-size: 24px;
          margin: 10px;
          background: #fff;
          border-radius: 20px;
        }
      }
      .preview-swiper-prev {
        justify-content: flex-start;
        left: 0px;
        svg{
          margin-left: -2px;
        }
      }
      .preview-swiper-next {
        justify-content: flex-end;
        right: 0px;
        svg{
          margin-right: -2px;
        }
      }
    }
  }
}

/* 주문내역 부 미리보기 버튼 스타일 */
dl.order-list{
  a.btn-custom-selected-preview {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 7px 12px 7px 12px;
    font-size: 0.74em;
  }
}

/* 최근 주문 내역 내 미리보기 버튼 스타일 */
.order-item-wrap{
  .img-wrap {
    background:none;
    > a{
      display:block;
      background: #f6f5f6;
      &.btn-custom-selected-preview{
        text-align: center;
        background: #ffffff;
        margin: 10px 0 0 0;
        padding: 6px;
        font-size: 0.74em;
      }
    }
  }
}