/************************************************************************************************/

/*  필터 css
/************************************************************************************************/
.btn-filter-open{
	padding: 9px 20px;
	border: 1px solid #eee;
	border-radius: 20px;
	font-size: 15px;
}

	/*  필터 1depth title */
	.f-title-box {
		position:relative;
		font-size: 24px;
		color: $font-1;
		padding-bottom:20px;

		.f-btn-reset {
			position:absolute;
			top:2px;
			right:0;
			font-size:12px;
		}
		.btn-close {
			display:none;
			position: absolute;
		    top: -8px;
		    right: 0;
		    padding: 10px;
		}
	}

	/*  필터 2depth title */
	.f-subtitle-box {
		position:relative;
		font-weight: bold;

		/* uikit .uk-accordion-title override*/
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 0 22px 0; //20180308 수정
		background: none;
		font-size: 14px;
		line-height: 1em;
		color: $font-1;

		&.uk-active {
			.icon-minus {display:block;}
			.icon-plus {display:none;}
		}
		//20180308추가
		.icon-minus,
		.icon-plus {font-size:12px;}
		.tit-text {font-size:14px;}
	}

	.f-btn-toggle {
		position:absolute;
		top:0;
		right:0;
	}

	/* 필터 category list */
	.f-cagetory-sect {
		padding-bottom:30px;
		&.borderline-top {
			padding-top: 15px;
			border-top:1px solid #e5e5e5;
		}
		.f-item {
			> a {
				display:inline-block;
				//font-size:12px;  20180309삭제
				font-size:13px;    //20180309추가
				color:$font-1;
				padding:7px 0;
				&:hover {
					color: #8d8d8d;   //20180328추가
				}
			}
			&.active {
				> a {font-weight:bold;}
			}
			&:last-child {margin-bottom:7px;}
			> a.f-btn-more {
				margin-left: 15px;
				color: $button_text-color-type2;
				font-weight: normal;
			}
			&.shoes-1edpth {

			}
			&.shoes-2edpth {

			}
		}
		.f-subitem {
			padding-left:15px;
			> a {
				display:inline-block;
				font-size:12px;
				color: $font-2;
				padding:5px 0;
			}
		}
		.f-btn-more {
			font-size:12px;
		}
	}

	/* 필터 옵션 (color, size, price) */
	.f-refine-sect {
		&.borderline-top {   //20180308 수정
			padding-top: 21px;
			//border-top:1px solid $border-3;
			border-top:1px solid #e5e5e5;
		}

		&.size{
			.more-btn {
				display:none;
			}
		}

		/* uikit .uk-accordion-content override */
		.uk-accordion-content {
			padding: 0 0 30px 0;
			overflow:hidden;
			opacity:1;
		}


		.more-container {
			overflow:hidden;
			//height: 127px;			// 사각형 타입 fiter높이값 지정 (more더보기 기능 관련 높이값 지정)
		}

		.more-btn {
			display: none;
		}
	}

	/* 필터 타입 체크박스 & 라디오 */
	.f-style-check, .f-style-radio {
		/* uikit .uk-accordion-content override */
		padding: 0 0 30px 0;

		.f-item {
			//20180313 label span colro 추가
			label {
				span {
					color:#111;
					font-size:14px;
				}
			}
			.input-checkbox {
				.brz-icon-checkbox {
					/* 필터 체크박스 이미지 수정 20180326
					background-image : url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/ico_new_filter_check.png');
					background-size : 210px auto;
					background-position: -18.5px -20px;*/
					background-image : url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/ico_new_filter_check0326.png');
					background-size : 42px auto;
					background-position: 0 0;
				}
				&:hover {
					i {
						//20180326삭제 background-position:-83px -20px;
						background-position: 0 0;   //20180326추가
					}
				}
				&.checked {
					.brz-icon-checkbox {
						//20180326 삭제 background-position:-117px -20px !important;
						background-position:-26px 0 !important;  //20180326추가
					}
				}
			} //20180322추가
		}

		.input-radio { display:block; }
	}

	/* 필터 타입 정사각형 모양 */
	.f-style-square {
		margin-left: 0;
		padding: 0 0 5px 0;

		.f-item {
			float:left;
			margin-left: 0;
			padding:0;

			a, label {
				position: relative;
				// display: table-cell;
				width: 53px;
				// height: 42px;
				padding:15px 0;
				text-align:center;
				color: #2e2e2e;
				word-break: break-all;
				vertical-align:middle;
				line-height: 14px;
				&:hover {
					background-color: #111;
					color: $font-6;
				}
				&:after {
					border: 1px solid #e5e5e5;
					position: absolute;
					top: 0;
					right: -1px;
					left: 0;
					bottom: -1px;
				}
			}

			.no-view {display:none;}
		}

		.active, .checked {
			a, label {
				background-color: #111;
				color: $font-6;
			}
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		/* 필터 타입 라운드 모양 */
		&.f-color-type {
			width: 230px;
			margin-left: 0;
			border: 0;

			.f-item {
				float:left;
				margin: 0 14px 14px 0;
				width: 24px;
				height: 24px;
				box-sizing: border-box;

				a, label {
					display: inline-block;
					width: 24px;
					min-width: 24px;
					height: 24px;
					padding: 4px 1px 0;
					border-radius: 50%;
					border:1px solid #ddd;
					box-sizing:border-box;
					text-align:center;
					color: $font-1;
					vertical-align:middle;
					text-align: center;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 0;
					&:hover {
						background-color: transparent;
					}
					&:after {
						border: 0;
					}
				}

				.no-view {display:none;}
			}
			.active, .checked {
				a, label {
					position: relative;
					background-color: transparent;
					&:before {
						 font-family: 'nike' !important;
						 speak: none;
						 font-style: normal;
						 font-weight: normal;
						 font-variant: normal;
						 text-transform: none;
						 line-height: 1;
						 display: inline-block;

						 /* Better Font Rendering =========== */
						 -webkit-font-smoothing: antialiased;
						 -moz-osx-font-smoothing: grayscale;

						//content: "\f150";
						content: "\e011";    //20180307 추가
						display: block;
						position: absolute;
						//top: 2px;
						top: 6px;  //20180309 수정
						left: 6px;
						//font-size: 20px;
						font-size: 11px;   //20180309 수정
						color:#fff;   //20180309
					}
				}
				 //20180309추가
				label[for=productColorwhite]{
				 	&:before {
				 		color:#111;
				 		font-weight:bold !important;    //20180312추가
				 	}
				}
			}
		}

	}

	/* 필터 타입 라운드 모양 */
	.f-style-round {
		padding-bottom:30px;
		.f-item {padding:3px 0;}

	}

	.filter-wrap_category {
		position:relative;
		//20180307 margin-top: 40px;
		margin-top: 48px;   //상단여백
		margin-bottom:10px;
		padding-left: 12px;

		&:after {content:''; clear:both; display: table;}
		.btn-link {
			font-weight:500
		}
		.select-box {
			font-weight:500;
			//20180322삭제 right: 22px;
			right: 0;
		}
		.btn-filter-open {float:left;}
		.filter-tagbox {float:left;}
		.select-box{
			width: 110px;
			&.sort{
				.select-head {
					border: 1px solid #ddd;
					font-size: 15px;
					color: $font-1;
					-moz-border-radius: 2.5px;
					-webkit-border-radius: 2.5px;
					border-radius: 2.5px;
				}
			}
			&:before {								// 셀렉트박스 화살표 컬러값
				border-right: 2px solid #111;
   				border-top: 2px solid #111;
			}
		}
	}

	/* filter tag */
	.filter-tagbox {
		width:85%;   //20180406 수정
		position:relative;    //20180309 추가
		.filter-tit {
			font-size: 23px;
			font-weight: bold;
			color: $title_filter-color;

			.num {
				font-size: 24px;
				color: $font-3;
			}
		}
		.filter_check_wrap {
			margin-left:-15px;
			max-width:85%;
			&:after  {content:''; clear:both; display:block;}  //20180412 추가
		}  //20180403추가
		ul {
			//20180328 삭제 display: inline-block;
			float: left;    //20180328추가
			padding:15px 0 10px;
			max-width: calc(100% - 88px);    //20180309 추가
		}
		.tag-item {
			display:inline-block;
			color: $font-1;
			font-size: 12px;
			//20180328삭제 margin-right: 15px;
			line-height:18px;    //20180312추가
			margin-left: 15px;   //20180328추가
			a {color: $font-1;}
			i {
				font-size:8px;
				padding-right: 4px;
			}
		}
		.f-btn-reset {
			font-size:12px;

			&.btn-f-reset {				// 전체해제 filter버튼 style
				//20180328삭제 display: inline-block;
				float:left;
				width: 88px;
				height: 24px;
				line-height: 24px;
				//20180328삭제 border-radius: 2.5px;
				//20180328삭제 border: solid 1px #dddddd;
				text-align:right;
				//20180402삭제 vertical-align: middle;
				vertical-align: top;  //20180402추가
				padding-top:11px;  //20180402추가
				span {
					border-radius: 2.5px;
					border: solid 1px #dddddd;
					display: inline-block;
					width:72px;
					text-align:center;
				}//20180328 추가
			}
		}
	}

	.section-filter {
		/*overflow:auto;*/
		position:fixed;
		top:0;
		left:-$filter-width;
		bottom:0;
		width:$filter-width;
		// padding-right:32px;			// nike only
		// padding-left: 32px;
		margin-right: 8px;
		box-sizing:border-box;
		background: $bg-1;
		opacity:0;
		filter:alpha(opacity=0);


		.filter{
			@include filter-field;

			.item{
				> a {
					color: $font-3;
					width:100%;
					text-align:left;
					padding:10px 20px;
					display:inline-block;
					box-sizing: border-box;
				}
				&:hover {background-color: $bg-4}
				&.active {
					color: $font-6;
					background-color: $primary-color;
					> a {color: $font-6;}
				}

				&.btn-type {
					width:45px;
					text-align:center;
					border:1px solid $border-5;
					padding:10px 0;

					> label {text-align:center;}
				}
			}
		}

		.btn-sect {margin-top:20px; text-align:center;}
	}


	.filter-category-modal-wrap {
		.section-filter {
			overflow-y:scroll;
			width:$filter-width;
			height:auto;
			padding:18px ;
			z-index:999;
		}

		.section-category {
			.depth-tit {
				display: none;
			}  //20180524 추가
			.filter-wrap_category {
				height:64px;
				.filter-tagbox {padding:10px 0 0 40px;}
			}
		}
	}

	/* 카테고리 리스트 레이아웃 정의 */
	.filter-category-wrap{
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		/* mc depth 텍스트 */
		.depth-tit {
			display: none;
			padding: 30px 0 10px;
			font-size: 19px;
			text-align: center;
			.num {
				font-size: 12px;
				color: #b3b3b3;
			}
		}
		/* 좌측 필터영역 */
		.section-filter {
			// 상단 여백 20180307 margin-top: 40px;
			margin-top: 48px;
			opacity:1;
			filter:alpha(opacity=1);
			position: relative;
			left:0;
			float:left;
		}

		/* 우측 카테고리 리스트 */
		.section-category {
			float:left;
			-webkit-width: calc(100% - 288px);
			-moz-width: calc(100% - 288px);
			width: calc(100% - 288px);

			&.item-list-less {
				width: 100%;
				.category-max-width {
					// margin: 0 auto;
					max-width: 100%;
					.filter-wrap_category {
						display: none;
					}
				}
			}
			&.page-segment-category {
				width: 100%;
				.category-max-width {
					margin: 0 auto;
				}
			}

			.category-header{  //20180307 컨텐츠 pwhArea title 사이 간격수정
				.content-container{
					.redactor-editor{
						.pwhArea{
							&.pc-only{
								.bgArea{
									margin-bottom:7px;
								}
							}
						}
					}
				}
			}

		}
		.category-max-width {
			max-width: 1230px; // 1600이상일때
			// margin:0 auto; // 카테고리 페이지 정렬로 margin 넣으면 안됨

			.btn-filter-open{
				display: none;
			}

			&.item-list-less {
				width:100%;
				padding:20px 0 80px;
			}
		}

		.mobileCbArea.mobile-only {
			display:none !important;
		}
	}


	.filter-field_price {
		@include filter-field;

		text-align:center;
		padding-left:30px;
		padding-right:30px;

		> .filter-tit {text-align:left;}
		> .btn-link {margin-top:20px;}
		> .slider-range {
			height:10px;
			margin-bottom:20px;
		}
		> .filter-tit {
			margin-left:-10px;
			display:block;
		}
	}

	.filter-field_categories {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_color {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_size {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}

		&.style-btn {
			padding-left:20px;
			padding-right:20px;
			> .input-checkbox {
				float:left;
				margin-top:-1px;
				margin-left:-1px;
			}

			.filter-tit {margin-left:0;}
		}
	}

.accordion-wrapper {
	overflow:hidden;
	height:0;
	position:relative;
}

#category-swiper-container,
.sort-filter-ck,
.category-total-num {
	display:none;
}

.f-style-check .input-checkbox,
.f-style-radio .input-radio {
	position: relative;
	display: block;
	padding: 6px 0;
}

/* Phone landscape and bigger */
@media (max-width: 1024px) {
	.category-filter-box,
	.f-title-box,
	.icon-toggle-summary{
		display:none !important;
	}

	.filter-category-wrap .f-refine-sect {
		padding: 40px 0 0 0;
		margin-top: 30px;
		margin-bottom: 30px;

		.uk-accordion-title {
			z-index: -1;
		}
	}

	.f-refine-sect .uk-accordion-content {
		padding:0;
	}

	.uk-accordion-content.color-sx {
		.more-container {
			height: inherit;
		}
	}

	.ncss-filter.fwsize .uk-accordion-content .more-container {
		max-height: 180px;
	}

	.ncss-filter.apsize .uk-accordion-content .more-container {
		max-height: 180px;
	}

	.ncss-filter.productcolor .uk-accordion-content .more-container {
		max-height: 260px;
	}

	.more-container {
		height: auto;
		//max-height:103px;
	}

	.f-refine-sect {
		.more-btn {
			display: block;
			text-align:left;
			border:0;
			width:100%;
			background-color:transparent;
			font-size: 14px;
			color: #333;
			padding:6px 0;
			margin-top:5px;
			i {
				font-size: 10px;
    		font-weight: 700;
    		vertical-align: 1px;
			}
		}
	}

	.input-radio > label {
		display:block;
	}

	//.f-style-check .input-checkbox.checked::after,
	//.f-style-radio .input-radio.checked::after {
	//	content:url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width=%2215%22%20height=%2215%22%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2029%2028%22%3E%3Cpolygon%20points=%228.48%2012.73%204.24%208.48%200%2012.73%204.24%2016.97%208.48%2021.21%2012.73%2016.97%2025.46%204.24%2021.21%200%208.48%2012.73%22/%3E%3C/svg%3E);
	//	position: absolute;
	//	background-size: 28px 28px;
	//	right:0;
	//	top:10px;
	//	width:15px;
	//	height:15px;
	//}

	.sort-filter-ck {
		display:block;
	}

	#category-swiper-container {

		width: 100%;
		height: 100%;

		border-top: 1px solid #e5e5e5;

		&::after {
			content:'';
			position: absolute;
			left:0;
			right:0;
			bottom:0;
			border-bottom: 1px solid #e5e5e5;
		}

		.swiper-wrapper {

			li {
				width: initial;
				text-align: center;

				display: inline-block;
				font-size: 14px;
				margin: 0;
				padding: 17px 26px;
				position: relative;

				-webkit-flex-shrink: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				// width: 100%;
				// height: 100%;

				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);

				position: relative;
				-webkit-transition-property: -webkit-transform;
				transition-property: -webkit-transform;
				-o-transition-property: transform;
				transition-property: transform;
				transition-property: transform,-webkit-transform;

				-webkit-box-sizing: border-box;
				box-sizing: border-box;

				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;

				-webkit-box-pack: center;
					-ms-flex-pack: center;

					-webkit-justify-content: center;
									justify-content: center;

				-webkit-box-align: center;
					 -ms-flex-align: center;

				-webkit-align-items: center;
								align-items: center;

				a {
					display:block;
					box-shadow: 39px 0px 0px 0px #fff, 40px 0px 0px 0px #e5e5e5;
					line-height: 24px;
				}
				&:last-child {
					a {
						box-shadow: none;
					}
				}

				&.active {
					a {
						box-shadow: 0px 41px 0px 0px #fff, 0px 40px 0px 0px #111, 39px 0px 0px 0px #fff, 40px 0px 0px 0px #e5e5e5;
					}
				}
				&.active:last-child {
					a {
						box-shadow: 0px 41px 0px 0px #fff, 0px 40px 0px 0px #111, 40px 0px 0px 0px #fff, 40px 0px 0px 0px #e5e5e5;
					}
				}
			}
		}
	}
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.f-title-box {
		.btn-close {
			display: block;
		}
	}

	.category-total-num {
		display:block;
		color: #111;
		font-size:14px;
		position: absolute;
		right: 25px;
		top:23px;
	}

	//filter category
	.filter-wrap_category {
		width:100%;
		overflow:hidden;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		height:60px;

		&.sticky {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 998;
			background-color: #fff;
		}

		.btn-link {
			position: relative;
			display:inline-block;
			width:50%;
			height: 60px;
			border-width:0 0 0 0;
			padding-left:20px;
			text-align:left;
			box-sizing:border-box;
			font-weight:bold;
			font-size: 14px;
			// &:before {
			// 	content:'';
			// 	width: 14px;
			// 	height: 14px;
			// 	background-color: #000;
			// 	display: inline-block;
			// 	vertical-align: -1px;
			// 	margin-right:3px;
			// }
			svg {
				transform: scale(.5);
				margin-right:-4px;
			}
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}

		.select-box {
			display:none;
			width:50%;
			border-width:0 0 0 0;
			height: 60px;
			border-style:solid;
			border-color:$border-2;
			box-sizing:border-box;
			font-size: 15px;
			right: auto;
			text-align: center;
			&:before {
				width: 0;
				height: 0;
				border: 0;
			}
			> select {
				width: auto;
				height: 60px;
				border:0;
				font-weight:bold;
				font-size: 15px;
				padding: 0;
			}
		}

		.filter-tagbox {
			display:none;
		}

		.select-box {
			&.sort {
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}
	}

	[data-filter-view="false"] {
		.btn-link {
			display:none !important;
		}
		&.filter-category-wrap {
			.mobileCbArea.mobile-only {
				display: block !important;
			}
		}
	}


	.filter-category-wrap{
		.depth-tit {
			display: block;
			.title {
				color:#333;  //20180308 추가
				font-weight:bold;     //20180312 추가
				padding-bottom:16px;
			}
			.num {color:#9e9e9e; display:none;}   //20180309 추가
		}
		.section-filter {
			//width: 100%;   20180309삭제
			right: 0;
			margin-top: 0;
			// overflow-y:scroll;
			-webkit-overflow-scrolling: touch;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			left: -100%;
			z-index:999;
			.f-title-box {
				.btn-close {
					//20180313  삭제 display:none !important;
				}
			}   // 모바일 필터 닫기 버튼 삭제 20180309
		}

		.section-category {
			width:100%;
			.btn-filter-open{
				display: block;
			}
			&.item-list-less {
				.depth-tit {
					display:none;
				}
			}
			.search-result {
				&.less {
					h2 {
						font-size:14px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.filter-category-modal-wrap {
		.depth-tit {
			display: block !important;
			padding: 30px 0 10px;
			font-size: 19px;
			text-align: center;
			.title {
				color:#333;
				font-weight:bold;
				padding-bottom:16px;
			}
			.num {color:#9e9e9e; display:none;}
		}
	} // 20180524 추가 모바일 검색결과
}


.pw-filter-sticky {
	position: absolute;
	bottom: 0;
	left: -100%;
	padding: 12px 0;
	opacity: 0;
	display:none;
	width: 280px;
	left:0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	font-size: 0;
	// transition: left 300ms;
	z-index: 1000;
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -0.5px;
		width: 1px;
		height: 18px;
		background-color: #ccc;
		content: '';
	}
	button {
		padding: 6px 0;
		width: 50%;
		background-color: #fff;
		font-weight: bold;
		font-size: 14px;
		color: #111;
		em {
			font-weight: bold;
			color: #111;
		}
	}
}

.pw-filter-sticky.active {
	position: fixed;
	opacity:1;
	display: block;
	left:0;
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}

/* 상품 타이틀 + 상품정렬 레이아웃 추가 20180322 */
.filter_check_wrap {position:relative;}  //201180328추가
@media (min-width: 961px) and (max-width: 1018px){
	.category-max-width {
		.filter-wrap_category {max-width:456px;}
	}
}


@media (min-width: 1019px) and (max-width: 1262px){
	.category-max-width {
		.filter-wrap_category {max-width:700px;}
	}
}

@media (min-width: 1263px) and (max-width: 1506px){
	.category-max-width {
		.filter-wrap_category {max-width:944px;}
	}
}


@media (min-width: 1507px){
	.category-max-width {
		.filter-wrap_category {max-width:1188px;}
	}
}
