@charset "utf-8";

/* pdp */
.product-soldout .soldout,
.product-soldout .comming,
.product-comming .soldout,
.product-comming .comming {
  background-color:#f7f7f7;
  font-size:$font-size-m;
  color:$font-1;
  font-weight:bold;
}
.pt_product-detail {
  margin: 0 auto;
  padding: 50px 55px 0;
  max-width: 1330px;
  box-sizing:content-box;
}
.img-detail_product_n {
  width:calc(100% - 446px);
  padding:0;
}
.instagram-wrap {
  margin-top:45px;
  text-align:left;
  .contents-title {
    font-size:$font-size-m;
    color:$font-1;
    font-weight:bold;
  }
  .contents-text {
    font-size:$font-size-m;
    color:$font-1;
    margin-top:14px;
  }
  .nike-instagram-info {
    margin-top:18px;
    .instagram-id {
      display:block;
      font-size:$font-size-sm;
      color:#333;
    }
    .insagram-like {
      display:block;
      font-size:$font-size-sm;
      color:$font-3;
      margin-top:8px;
    }
  }
  .img-detail-list {
    margin-top:30px;
    li {
      padding-bottom:30px;
    }
  }
  .view-more {
    position:relative;
    display:table;
    font-size:$font-size-sm;
    color:#666;
    margin-left:0;
    text-decoration:none;
    margin-top:5px;
    padding-right:15px;
    background:none;
    &:before,
    &:after {
      display:block;
      content:'';
      position:absolute;
      right:0;
      top:50%;
      transform:translateY(-50%);
      width:9px;
      height:6px;
    }
    &:before {
      background:url(/common/img/ico_arrow_top_grey.png) 0 0 no-repeat;
      background-size:100%;
      display:none;
    }
    &:after {
      background:url(/common/img/ico_arrow_bottom_grey.png) 0 0 no-repeat;
      background-size:100%;
    }
  }
  .view-more-expand {
    .view-more {
      &:before {
        display:block;
      }
      &:after {
        display:none;
      }
    }
  }
}
.contents.pdp__related__items {
  &--related {
    max-width:960px;
    padding:100px 0 80px;
    overflow:visible;
    .bx-controls {
      display:block;
      position:static;
      text-align:center;
      .bx-prev,
      .bx-next {
        margin:0;
        font-size: 0;
        text-indent:0;
        color: transparent;
        background: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        line-height: 40px;
        z-index: 5;
        &:after {
          color: #111;
          font-size: 20px !important;
          opacity: 1;
          font-weight: bold;
          font-family: 'icomoon' !important;
        }
        &.disabled {
          display:block;
          opacity: 0.3;
        }
      }
      .bx-prev {
        left: -55px;
        &:after {
          content: $icon-arrow_left;
        }
      }
      .bx-next {
        right: -55px;
        &:after {
          content: $icon-arrow_right;
        }
      }
    }
    .contents-title {
      font-size:$font-size-l;
      color:$font-1;
      padding-bottom:0;
      font-weight:bold;
      text-align:center;
    }
    .contents-text {
      font-size:$font-size-l;
      line-height:19px;
      color:#333;
      margin-top:15px;
      padding-right:15px;
    }

    .category-slider {
      margin-top:12px;
      .swipe-container {
        .bx-wrapper {
          .bx-viewport {
            box-sizing:border-box;
          }
        }
        .slide {
          height:auto;
          margin:0;
          padding:10px;
          @media (min-width: 768px) {
            width:220px !important;
            margin:0 !important;
          }
          > div {
            padding:0;
          }
        }
      }
      .nike-instagram-info {
        margin-top:18px;
        .instagram-id {
          display:block;
          font-size:$font-size-sm;
          color:#333;
        }
        .insagram-like {
          display:block;
          font-size:$font-size-sm;
          color:$font-3;
          margin-top:8px;
        }
      }
    }
    .product-item {
      &:hover {
        .item-color-opt {
          display:none;
        }
        .item-star-rate {
          display:block;
        }
      }
      > .hover {
        &:before {
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid #e5e5e5;
          width: 100%;
          height: 100%;
          display: block;
          box-sizing: border-box;
        }
      }
      .item-opt-box {
        position: relative;
        margin: 10px 0 0 0;
        padding-bottom: 4px;
        border-bottom: 1px solid #ddd;
        .item-color-opt {
          font-size:$font-size-sm;
          color:#333;
          padding:0;
        }
      }
      .item-star-rate {
        display:none;
        height:13px;
      }
      .star-total-info {
        margin-top:0;
        text-align:left;
        .star-average {
          margin-bottom:0;
          .like {
          }
        }
        .total-star-point {
          font-size:$font-size-s;
          color:#666;
        }
      }
      .item-info {
        margin-top:14px;
        .item-title {
          font-size:$font-size-m;
          color:$font-1;
          margin-bottom:0;
        }
        .item-location {
          font-size:$font-size-m;
          margin:7px 0 0;
        }
        .item-price {
          font-size:$font-size-m;
          margin:8px 0 0;
          .item-price-sale {
            padding-right:6px;
          }
        }
      }
    }
  }
}
.info-wrap_product_n {
  position:relative;
  width:446px;
  padding:0 0 0 62px;
  .product-option-container {
    width:384px;
  }
  .tooltip-bg {
    font-size:$font-size-sm;
    color:$font-1;
    padding:8px 5px 6px;
    min-width:0;
      &:after {
        border-bottom: 1px solid #666;
        border-left: 1px solid #666;
        bottom:-1px;
      }
  }
  .size-grid-type {
    .btn-option {
      &.caution-txt-color {
        .tit {
          color:#f30000;
        }
      }
      .tit {
        font-size:$font-size-m;
      }
    }
    .size-onesize {
      position:absolute;
      right:0px;
      top:0;
      font-size:$font-size-m;
      color:$font-1;
    }
    .option-guide {
      > div {
        display: inline-block;
      }
      a {
        font-size: $font-size-sm;
        color: #666;
      }
      .model-size-toggle {
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: #e5e5e5;
          vertical-align: top;
          margin: 0 9px;
        }
      }
      .model-size-popup {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        margin: 17px 0 0 -14px;
        background: #111;
        white-space: nowrap;
        padding: 19px 20px;
        z-index:21;
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          margin-top: -20px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #111;
        }
        strong {
          display: block;
          font-size: $font-size-m;
          color: #fff;
          font-weight: bold;
        }
        p {
          margin-top: 8px;
          padding-left: 12px;
          position: relative;
          color: #fff;
          line-height: 18px;
          &:before {
            display: inline-block;
            content: '';
            background: #fff;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 8px;
          }
        }
      }
    }
  }
  .status-wrap {
    width:calc(100% - 56px);
    &.btn-soldout-wrap {
      width:100%;
    }
    .order-wrap {
      .btn-link {
        width:calc(50% - 4px);
        margin-right:4px;
        &.btn-order {
          background-color: #fb5302;
        }
        &.btn-notifyme {
          width:auto;
          display:block;
          margin-right:4px;
        }
      }
    }
  }
  .option-wrap {
    .product-option_radio {
      margin-top:20px;
      .opt-list {
        .input-radio {
          label {
            &:after {
              display:block;
              content:'';
              background:#fff;
              position:absolute;
              left:0;
              top:0;
              right:0;
              bottom:0;
              z-index:-1;
            }
            &.sd-out {
              &:after {
                background:#f6f6f6;
              }
            }
            &.selected {
              &:after {
                background:#111;
              }
            }
          }
        }
        &:after {
          display:block;
          content:'';
          clear:both;
        }
        &.list-n3 {
          .input-radio {
            width: calc(100% / 3)
          }
        }
        .input-radio[disabled="disabled"] {
          &:hover {
            cursor:auto;
          }
        }
        .input-radio,
        .radio-notify-me-wrap,
        .radio-notify-me-wrap[disabled="disabled"] {
          &:hover {
            cursor:pointer;
          }
        }
        .notify-me {
          display: table;
          position: relative;
          margin: 0 auto;
          padding-left: 13px;
          font-size:11px;
          color:$font-1;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(/common/img/ico_notify_me.png) 0 0 no-repeat;
            background-size: 100% 100%;
            width: 10px;
            height: 12px;
          }
        }
      }
      .input-radio {
        .tooltip-pos{
          .tooltip-bg {
            border:1px solid #666;
            border-radius:2px;
          }
        }
      }
      .input-radio.checked .label:after,
      .input-radio:hover .label:after {
        opacity:0.12;
      }
      .input-radio.sold-out .label:after {
        background:#fff;
        opacity:0.5;
      }
    }
    .quantity {
      margin-top:42px;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      &.quantity-caution {
        .tit {
          color:#f30000;
        }
        .quantity-select-wrap {
          .msg {
            display:block;
          }
        }
        select {
          border:1px solid #f30000;
        }
      }
      .tit {
        font-size: $font-size-m;
        line-height:36px;
        display: inline-block;
        padding: 0;
        vertical-align: middle;
      }
      .quantity-select-wrap {
        float:right;
        text-align:left;
        .msg {
          display:none;
          clear:both;
          font-size:$font-size-s;
          color:#f30000;
          margin:0;
          padding:10px 0 0;
        }
      }
      .select-box {
        width:307px;
        &:before {
          border-right: 2px solid #111;
          border-top: 2px solid #111;
        }
      }
    }
  }
  .receive-sms {
    margin-top: 20px;
    a {
      position: relative;
      display: block;
      font-size: $font-size-sm;
      color: $font-1;
      font-weight: bold;
      padding: 7px 0 0 31px;
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: -3px;
        top: 0;
        width: 24px;
        height: 21px;
        background: url(/common/img/ico_receive_sms.png) 0 0 no-repeat;
        background-size: 100%;
      }
    }
  }
  .btn-group-box {
    margin: 40px 0 0;
    padding: 0 0 40px;
    border-bottom: 1px solid #e6e6e6;
    .btn-wishlist {
      width:56px;
    }
  }
  .store-reserve-wrap {
    margin-top: 30px;
    .reservation-btn {
      display: block;
      text-align: center;
      border: 1px solid $font-1;
      line-height: 50px;
    }
    .btn-storereserve {
      font-size: $font-size-m;
      color: $font-1;

    }
    .icon {
      font-size: 17px;
      color: $font-1;
      vertical-align: baseline;
    }
    .view-more {
      margin-top:20px;
      font-size: $font-size-m;
      color: #333;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      a {
        float: right;
        text-decoration: underline;
        font-size: $font-size-sm;
        color:#666;
      }
    }
  }
  .discription-wrap {
    border-bottom:0;
    .pop-detail-content {
      padding-left: 0;
      padding-right: 0;
      padding-top:5px;
      padding-bottom:45px;
      color: #333;
      line-height:23px;
      .style-code,
      .style-color,
      .sectionR ul li {
        font-size: inherit;
        color: inherit;
        line-height:inherit;
        background-size: 2px;
      }
      .detail-content-main-title {
        display:block;
        font-size:18px;
        color:$font-1;

        font-weight:bold;
      }
      .detail-content-title {
        display:block;
        font-size:$font-size-m;
        color:$font-1;

        font-weight:bold;
        margin-top:30px;
      }
      p {
        margin-top:10px;
      }
      .review-write-btn {
        display:none;
      }
      .read-comment {
        margin-top:12px;
        margin-bottom:0;
      }
      em {
        font-weight:inherit;
        font-style:inherit;
        color:#fb5302;
      }
      > ul {
        margin-top:10px;
        > li {
          background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 9px;
          font-size: inherit;
          color: inherit;
          line-height: inherit;
          background-size: 2px;
          padding-left: 10px;
        }
      }
      .btn-more-pop {
        margin-top: 5px;
        font-size: $font-size-sm;
        color: #666;
      }
    }
    > .pop-detail-content {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom:40px;
      .btn-more-pop {
        margin-top: 15px;
        font-size: $font-size-sm;
        color: #666;
      }
    }
    .pop-detail-title {
      font-size: $font-size-m;
      color: $font-1;
      padding: 25px 0;
      &:after {
        float: none;
        font-weight: bold;
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &.uk-active {
        &:after {
          margin-top: 0;
        }
      }
      .sub-title-wrap {
        position:absolute;
        right: 37px;
        top:50%;
        transform:translateY(-50%);
        font-size:$font-size-m;
        color:$font-3;
        font-weight:normal;
      }

    }
  }
  .detail-review-summary {
    .star-total-info {
      .total-star-point {
        margin-left: 15px;
        font-size:$font-size-m;
      }
    }
  }
  .detail-reviewlist-summary {
    .n-review-read {
      ul {
        padding:10px 0 0 0;
        border-top:0;
        > li {
          padding:0;
        }
      }
      .read-list {
        margin-top:15px;
        .read-subject {
          margin-bottom:0;
          font-weight:bold;
        }
        .user-info {
          margin-top:8px;
          display:block;
        }
        .user-name {
          margin:0;
        }
        .shorten-ellipses {
          display:inline;
        }
        .shorten-toggle {
          position:relative;
          display:table;
          font-size:$font-size-sm;
          color:#666;
          margin-left:0;
          text-decoration:none;
          margin-top:5px;
          padding-right:15px;
          &:before,
          &:after {
            display:block;
            content:'';
            position:absolute;
            right:0;
            top:50%;
            transform:translateY(-50%);
            width:9px;
            height:6px;
          }
          &:before {
            background:url(/common/img/ico_arrow_top_grey.png) 0 0 no-repeat;
            background-size:100%;
            display:none;
          }
          &:after {
            background:url(/common/img/ico_arrow_bottom_grey.png) 0 0 no-repeat;
            background-size:100%;
          }
        }
        .shorten_expand {
          .shorten-toggle {
            &:before {
              display:block;
            }
            &:after {
              display:none;
            }
          }
        }
      }
    }
    .btn-more-review {
      display:table;
      margin-bottom:0;
      margin-top:15px;
    }
  }
  .n-review-read {
    .read-list {
      .user-name {
        margin-bottom:0;
      }
    }
  }
  .free-delivery-wrap {
    border-top:1px solid #e5e5e5;
    .inner-wrap {
      display:table;
      width:100%;
      table-layout:fixed;
      box-sizing:border-box;
      padding:14px 0px 15px 4px;
    }
    .thumb {
      display:table-cell;
      width:60px;
      vertical-align:middle;
    }
    .txt {
      display:table-cell;
      width:100%;
      vertical-align:middle;
      padding-left:25px;
      strong {
        display:block;
        font-size:$font-size-m;
        color:$font-1;
      }
      span {
        display:block;
        font-size:$font-size-sm;
        color:#333;
        margin-top:10px;
      }
    }
  }
  .one-on-one-chat-wrap {
    border-top:1px solid #e5e5e5;
    .inner-wrap {
      display:table;
      width:100%;
      table-layout:fixed;
      box-sizing:border-box;
      padding:30px 0;
    }
    .thumb {
      display:table-cell;
      width:26px;
      vertical-align:middle;
    }
    .txt {
      display:table-cell;
      width:100%;
      vertical-align:middle;
      padding-left:14px;
      strong {
        display:inline-block;
        font-size:$font-size-sm;
        color:$font-1;
        vertical-align:middle;
      }
      a {
        display:inline-block;
        font-size:$font-size-sm;
        color:#666;
        vertical-align:middle;
        text-decoration:underline;
        margin-left:10px;
      }
    }
  }

  .size-grid-type {
    padding: 0 15px;
    margin-top: 37px;
    .size-onesize {
      position:absolute;
      right:15px;
      top:0;
      font-size:$font-size-sm;
      color:$font-1;
    }
    .option-guide {
      > div {
        display: inline-block;
      }
      a {
        font-size: $font-size-sm;
        color: #666;
      }
      .model-size-toggle {
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          vertical-align: top;
          margin: 0 9px;
        }

      }
      .model-size-popup {
        position: absolute;
        right: 100%;
        top: 100%;
        transform: translate(50%);
        margin-top: 10px;
        background: #111;
        white-space: nowrap;
        padding: 19px 20px;
        z-index:1;
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          margin-top: -20px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #111;
        }
        strong {
          display: block;
          font-size: $font-size-m;
          color: #fff;
          font-weight: bold;
        }
        p {
          margin-top: 8px;
          padding-left: 12px;
          position: relative;
          color: #fff;
          line-height: 18px;
          &:before {
            display: inline-block;
            content: '';
            background: #fff;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 8px;
          }
        }
      }
    }
    .btn-option {
      &.caution-txt-color {
        .tit {
          color:#f30000;
        }
      }
      .tit {
        font-size: $font-size-m;
      }
    }
    .option-wrap {
      .tit {
        font-size: $font-size-m;
      }
    }
  }

  .title-wrap {
    line-height:36px;
    color:$font-1;
  }
  .price-wrap {
    font-size:$font-size-m;
    color:$font-3;
    margin-top:10px;
    > {
      .price-sale {
        color:$font-3;
        margin-right:5px;
        & + .price {
          strong {
            color:#fb5302;
          }
        }
      }
    }
  }

  .item-location {
    color:$font-3;
    margin-right:12px;
  }
}

.price-title_wrap {
  display: none;
  text-align: center;
  float: none;
  width: 100%;
  padding: 40px 0 40px;
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: $font-1;
  }
  .price-wrap {
    .item-location {
      margin: 19px auto 9px;
      span {
        font-size: $font-size-m;
        color: $font-3;
      }
    }
    .price-sale {
      display: inline-block;
      color: $font-3;
      font-size: $font-size-m;
      text-decoration: line-through;
    }
    .price {
      display: inline-block;
      strong {
        font-size: $font-size-m;
        color: #fb5302;
        font-weight: normal;
      }
    }
    .item-product-number {
      font-size: $font-size-m;
      color: $font-3;
    }
  }
}
.selectwrap {
  .select-size {
    float: none;
    margin-top: 0;
    padding: 0 0 28px;
    margin:0 40px;
    border-bottom:1px solid #e5e5e5;
    width:auto;
    .btn-option {
      height: auto;
      line-height: 1;
      border-top: 0;
      padding-top: 28px;
      &:before {
        display: none;
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      &.open {
        &:before {
          position: relative;
          display: block;
          float: right;
          font-size: 14px;
          color: #666;
          text-decoration: underline;
          background-color: transparent;
          padding-left: 15px;
          content: '변경';
        }
        .tit {
          padding-left: 27px;
          &:after {
            display: inline-block;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(/common/img/ico_opt_check_complete.png) 0 0 no-repeat;
            background-size: 100%;
          }
        }
        .default {
          font-size: $font-size-m;
          color: $font-1;
        }

      }
      .tit {
        position: relative;
        font-weight: bold;
        font-size: 14px;
        color: #111;
        transition: all .3s ease;
        margin-right: 0;
      }
      .default {
        float: right;
        width: auto;
        padding-right: 0;
        font-size: $font-size-sm;
        color: $font-3;
      }

    }
    .opt-list {
      margin-top: 22px;
      &.list-n3 {
        li {
          width:calc(100% / 3);
        }
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      li {
        height:50px;
        font-size:$font-size-m;
        color:$font-1;
        a {
          height:50px;
          padding-top:17px;
        }
      }
    }
  }
}
.stockList {
  padding:23px 0 0;
  margin:0 40px;
  fieldset {
    dl {
      div {
        dt {
          font-weight: bold;
          font-size: $font-size-m;
          color: $font-1;
          float: none;
          margin: 0;
          width: auto;
          label {
            font-weight: inherit;
            font-size: inherit;
            color: inherit;
          }
        }
        dd {
          float: none;
          width: auto;
          margin-top: 10px;
        }
      }
    }
  }
  .privacy-agree {
    margin-top:5px;
    .txt {
      color: #666;
      strong {
        font-weight: normal;
        color: $font-1;
        text-decoration: underline;
      }
    }
  }
  .btn-wrap {
    margin-top: 26px;
    text-align:center;
    .btn-restock {
      width:auto;
    }
  }
}
.restock-wrap {
  .nodata {
    padding: 16px 25px 40px;
    text-align:center;
    p {
      text-indent: 0;
      color: #666;
    }
  }
}
.reservation-wrap {
  .reservation_product {
    .location-search {
      max-height: none;
      padding: 30px 0;
      margin:0 40px;
      box-sizing:border-box;
      width:auto;
    }
  }
}
.location-search {
  border-top:0;
  .current-location-area {
    padding:0;
    .location-item {
      display:table;
      width:100%;
      .location-addr {
        display:table-cell;
        vertical-align:top;
        .current-location {
          display:block;
          position:relative;
          font-size:$font-size-m;
          font-weight:bold;
          color:$font-1;
          padding:0 5px 0 15px;
          line-height:19px;
          &:before {
            display:block;
            content:'';
            position:absolute;
            left:0;
            top:2px;
            width:11px;
            height:14px;
            background:url(/common/img/ico_location_search.png) 0 0 no-repeat;
            background-size:100%;
          }
          .txt {
            display:block;
            font-size:$font-size-sm;
            color:#666;
          }
        }
      }
      .location-select {
        font-size:$font-size-sm;
        color:#666;
        margin:0;
        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          vertical-align: top;
          margin: 0 9px;
        }
      }
      .my-location {
        display:inline-block;
        font-size:$font-size-sm;
        color:#666;
        text-decoration:underline;
      }
      .location-wrap {
        display:table-cell;
        vertical-align:top;
        white-space:nowrap;
        text-align:right;
      }
    }
  }
  .shipping-header {
    margin-top:20px;
    background-color:#f7f7f7;
    table-layout:fixed;
    height:40px;
    .store-name,
    .prd-cnt {
      box-sizing:border-box;
      padding:0;
      line-height:40px;
    }
    .prd-cnt {
      width:142px;
      border-left:2px solid #fff;
    }
  }
  .shipping-list {
    border-bottom:1px solid #e5e5e5;
    table-layout:fixed;
    .column-addr {
      padding:28px 5px 25px 0;
      vertical-align:middle;
    }
    .column-reserve {
      width:142px;
      padding:18px 0;
      vertical-align:middle;
      border-left:2px solid #fff;
      .quantity {
        line-height:23px;
        font-size:$font-size-m;
        color:$font-1;
      }
      .reservation-apply {
        width:90px;
        margin-top:10px;
      }
    }
    .address-wrap {
      padding-top:0;
      float:none;
      font-size:$font-size-s;
      color:#666;
      line-height:20px;
      margin-top:5px;
      .addr-type {
        float:none;
        display:inline;
        width:auto;
        height:auto;
        border-radius:0;
        border:0;
        font-size:inherit;
        line-height:inherit;
        color:inherit;
        letter-spacing:inherit;
        text-align:inherit;
      }
      .addr {
        display:inline;
        font-size:inherit;
        color:inherit;
        line-height:inherit;
        > a {
          display:block;
          font-size:inherit;
          color:inherit;
          line-height:inherit;
          margin-top:10px;
        }
      }
    }
  }
  .tit {
    margin:0 0 15px 0;
    color:$font-1;
    .location-distance {
      font-size:$font-size-m;
      font-weight:normal;
      padding-left:6px;
    }
  }
}
.modal-quantity-select {
  padding-bottom:30px;
  border-bottom:1px solid #e5e5e5;
  .tit {
    font-size:$font-size-sm;
    line-height:18px;
    color:#666;
    padding-bottom:10px;
  }
  .quantity-select-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    .select-box {
      width:180px;
    }
  }
  .btn-qty {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    &:after {
      display:block;
      content:'';
      clear:both;
    }
    .btn {
      width:37px;
      height:37px;
      line-height:0;
      font-size:0;
      border-radius:0;
      &.minus:before {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:14px;
        height:2px;
        background-color:#666;
      }
      &.plus:before {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:14px;
        height:2px;
        background-color:#666;
      }
      &.plus:after {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:2px;
        height:14px;
        background-color:#666;
      }
    }
    .label {
      margin:0;
      width:52px;
      height:37px;
      line-height:30px;
      border-radius:0;
      margin:0 0 0 -1px;
      font-size:$font-size-sm;
      color:$font-1;
    }
  }
  .qty-value {
    display: table-cell;
    vertical-align: middle;
    white-space:nowrap;
    font-size:$font-size-m;
    color:$font-1;
  }
}
.selectwrap-complete-wrap {
  padding:40px 40px 0;
  &.modal-cart-wrap {
    padding:25px 25px 0;
  }
}
.selectwrap-complete-info {
  display:table;
  table-layout:fixed;
  width:100%;
  padding-bottom:38px;
  .thumb {
    display:table-cell;
    width:120px;
    vertical-align:top;
  }
  .select-item-info {
    display:table-cell;
    width:100%;
    vertical-align:top;
    padding-left:30px;
    .tit {
      display:block;
      font-size:$font-size-m;
      line-height:18px;
      color:$font-1;
      font-weight:bold;
      margin-bottom:13px;
    }
    .item-detail-info {
      display:block;
      font-size:$font-size-m;
      line-height:20px;
      color:#666;
      &.price-info {
        color:$font-1;
        strong {
          font-weight:normal;
          margin-left:5px;
        }
      }
    }
    .price-wrap {
      margin-top:18px;
      .price-sale {
        display: inline-block;
        font-size:$font-size-m;
        color: $font-3;
        text-decoration: line-through;
      }
      .price {
        display:inline-block;
        strong {
          font-size:$font-size-m;
          color: #fb5302;
          font-weight: normal;
          margin-left:8px;
        }
      }
    }
  }
}
.select-customer-info-wrap {
  border-top:1px solid #e5e5e5;
  padding:25px 0;
  .select-customer-info {
    display:table;
    table-layout:fixed;
    width:100%;
    margin-top:13px;
    &:first-child {
      margin-top:0;
    }
    .tit {
      display:table-cell;
      width:150px;
      font-size:$font-size-m;
      color:$font-1;
      font-weight:bold;
    }
    .customer-detail-info {
      display:table-cell;
      font-size:$font-size-sm;
      color:$font-1;
      line-height:23px;
      a {
        text-decoration:underline;
        &.modify {
          color:#666;
          padding-left:5px;
        }
      }
      .ad-ex {
        display:block;
        color:#666;
        line-height:18px;
        margin-top:8px;
      }
    }
  }
}
.select-description {
  padding-top:18px;
  border-top:1px solid #e5e5e5;
  ul {
    li {
      font-size:$font-size-sm;
      line-height:18px;
      color:#666;
      margin-top:5px;
      background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;
      background-size: 2px;
      padding-left: 10px;
      &:first-child {
        margin-top:0;
      }
    }
  }
}
.modal-cart-wrap {
  .add-to-cart {
    position:relative;
    display:block;
    margin-bottom:27px;
    font-size:18px;
    color:$font-1;
    padding-right:10px;
    &.active {
      padding-left: 27px;
      &:after {
        display: inline-block;
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(/common/img/ico_opt_check_complete.png) 0 0 no-repeat;
        background-size: 100%;
      }
    }
  }
  .selectwrap-complete-info {
    padding-bottom:0;
    .select-item-info {
      .price-wrap {
      }
      .item-detail-info {
        line-height:22px;
      }
    }
  }
}
.phone-number-change-wrap {
  p {
    font-size:$font-size-sm;
    color:#666;
    line-height:18px;
    &.question {
      position:relative;
      margin-top:8px;
      a {
        display:inline-block;
        vertical-align:middle;
      }
      &:after {
        display:inline-block;
        content:'';
        width:15px;
        height:15px;
        background:url(/common/img/ico_view_more.png) 0 0 no-repeat;
        background-size:100%;
        margin-left:5px;
        vertical-align:middle;
      }
    }
  }
  .phone-number-certify {
    .top-area {
      display:table;
      width:100%;
      margin-top:10px;
      .input-textfield {
        display:table-cell;
        vertical-align:top;
        padding-right:10px;
      }
      button {
        display:table-cell;
        font-size:$font-size-sm;
        color:$font-6;
        height:40px;
        line-height:40px;
        border-radius:3px;
        background-color:#888;
        vertical-align:top;
        padding:0 8px;
        white-space:nowrap;
      }
    }
    .bottom-area {
      margin-top:10px;
    }
  }
}
.detail-info-modal {
  .pdp-guide-modal {
    padding:0 55px;
    width:auto;
    overflow:visible;
  }
}
.pop-detail-content {
  padding:50px 0 40px;
  color: #333;
  line-height:23px;
  .style-code,
  .style-color,
  .sectionR ul li {
    font-size: inherit;
    color: inherit;
    line-height:inherit;
    background-size: 2px;
  }
  .detail-content-main-title {
    display:block;
    font-size:18px;
    color:$font-1;

    font-weight:bold;
  }
  .detail-content-title {
    display:block;
    font-size:$font-size-m;
    color:$font-1;

    font-weight:bold;
    margin-top:40px;
    &:first-child {
      margin-top:0;
    }
  }
  p {
    margin-top:8px;
  }
  em {
    font-weight:inherit;
    font-style:inherit;
    color:inherit;
  }
  .deco-underline {
    text-decoration:underline;
    color:#333;
  }
  > ul {
    margin-top:5px;
    > li {
      background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 9px;
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      background-size: 2px;
      padding-left: 10px;
      > ul {
        > li {
          text-indent: -8px;
          padding-left: 9px;
        }
      }
    }
  }
  .as-step-wrap {
    margin-top:40px;
    ol {
      &:after {
        display:block;
        content:'';
        clear:both;
      }
    }
    li {
      float:left;
      width:25%;
      &:first-child {
        strong {
          &:after {
            display:none;
          }
        }
      }
      strong {
        position:relative;
        &:after {
          display:block;
          content:'';
          position:absolute;
          left:0;
          bottom:-8px;
          width:2px;
          height:15px;
          background-color:#e5e5e5;
        }
      }
      strong {
        display:block;
        font-size:17px;

        color:$font-1;
        text-align:left;
        padding:0 5px 3px 40px;
        box-sizing:border-box;
        border-bottom:2px solid #f6f6f6;
      }
      span {
        display:block;
        font-size:$font-size-m;
        color:#666;
        line-height:19px;
        text-align:left;
        padding:11px 5px 5px 40px;
        box-sizing:border-box;
      }
    }
  }
  .detail-table {
    margin-top:13px;
    caption {
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    table {
      width:100%;
      table-layout:fixed;
      th {
        color:$font-1;
        font-size:$font-size-m;
        font-weight:bold;
        background:#f7f7f7;
        text-align:center;
        border:1px solid #e5e5e5;
        padding:13px 2px;
      }
      td {
        color:#666;
        font-size:$font-size-sm;
        text-align:center;
        border:1px solid #e5e5e5;
        padding:10px 2px;
      }
    }
  }
  .btn-more-pop {
    margin-top: 5px;
    font-size: $font-size-sm;
    color: #666;
    display:inline-block;
    text-decoration: underline;
  }
  .nike-kc-mark {
    margin-top:38px;
    font-size:$font-size-m;
    color:$font-1;
    img {
      width:20px;
      vertical-align:middle;
    }
  }
}
.pop-detail-content-info-wrap {
  padding:40px 0 40px;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
}
.detail-product-info {
  display:table;
  table-layout:fixed;
  width:100%;
  padding-top:19px;
  &:first-child {
    padding-top:0;
  }
  dt {
    display:table-cell;
    vertical-align:top;
    width:13.5%;
    font-size:$font-size-m;
    color:$font-1;
    line-height:18px;
    font-weight:bold;
  }
  dd {
    display:table-cell;
    vertical-align:top;
    font-size:$font-size-sm;
    color:#666;
    line-height:23px;
  }
}
.review-product-wrap {
  float:none;
  padding:22px 55px;
  .mini-product-item {
    display:table;
    table-layout:fixed;
    width:100%;
  }
  .product-thumb-img {
    float:none;
    display:table-cell;
    width:60px;
    vertical-align:top;
  }
  .mini-product-info {
    float:none;
    display:table-cell;
    width:100%;
    vertical-align:top;
    margin:0;
    padding-left:15px;
    .tit {
      font-size:$font-size-m;
      color:$font-1;
      font-weight:bold;
      margin-top:12px;
    }
    .price-wrap {
      margin-top:9px;
    }
    .price-sale {
      display:inline-block;
      font-size:$font-size-m;
      color:$font-3;
      margin-right:6px;
      text-decoration:line-through;
    }
    .price {
      display:inline-block;
      font-size:$font-size-m;
      color:$font-3;
      margin:0;
      strong {
        font-weight:normal;
      }
    }
  }
}
#detail-reviewall .uk-close,
.detail-info-modal .uk-close {
  top:28px;
  right:21px;
  &:after {
    font-size:26px;
  }
}
.star-total-info {
  margin-top:50px;
  .btn-area {
    margin:18px 0 0;
  }
  .star-review-num,
  .total-star-point {
    font-size:18px;
    font-weight:bold;

  }
  .total-star-point {
    margin-left:2px;
  }
}
.opt-value-w {
  width:345px;
  padding-right:50px;
}
.opt-value-wrap {
  margin:50px -25px 0;
  padding-bottom:80px;
  float:none;
  &:after {
    display:block;
    content:'';
    clear:both;
  }
  .opt-customer-info {
    display:table;
    width:100%;
    padding-bottom:8px;
    dl {
      position:relative;
      display:table-cell;
      font-size:0;
      text-align:center;
      padding-right: 17px;
      white-space: nowrap;
      &:after {
        display:block;
        content:'|';
        position:absolute;
        right:5px;
        top:0;
        font-size:13px;
        color:#e5e5e5;
      }
      &:last-child {
        &:after {
          display:none;
        }
      }
      dt,
      dd {
        display:inline-block;
        font-size:$font-size-sm;
      }
      dt {
        font-weight:bold;
        color:$font-1;
        padding-right:2px;
      }
      dd {
        color:#666;
        padding-left:2px;
      }
    }
  }
  .opt-value-box {
    margin-top:13px;
    .opt-value-gage {
      .opt-value-dot.per {
        margin-left:-4px;
      }
    }
    .opt-value-txtbox {
      .opt-value-txt {
        color:#666;
      }
    }
  }
  .grid-gage {
    padding:0 25px;
  }
  .opt-value-title {
    font-weight:bold;
    font-size:$font-size-m;
    color:$font-1;
    margin-top:26px;
  }
}
.n-review-read {
  .opt-value-wrap {
    padding:0;
    margin:0;
  }
  .read-list {
    padding:0;
    width:calc(100% - 345px);
    .read-subject {
      font-weight:bold;
      margin-bottom:7px;
    }

    .user-info {
      margin-bottom:12px;
      display:inline-block;
    }
    .user-name {
      font-size:$font-size-s;
      color:#666;
      margin:0 0 0 20px;
    }
    .write-date {
      font-size:$font-size-sm;
      color:#666;
    }
    .read-comment {
      margin-top:13px;
      font-size:$font-size-sm;
      color:#333;
      line-height:18px;
      margin-bottom:21px;
    }
    .shorten-detail {
      display:inline;
    }
    .shorten-ellipses {
      display:none;
    }
    .shorten_expand {
      .shorten-detail {
        display:inline;
      }
      .shorten-toggle {
        &:before {
          display:block;
        }
        &:after {
          display:none;
        }
      }
    }
    .shorten-toggle {
      position:relative;
      display:none;
      font-size:$font-size-sm;
      color:#666;
      margin-left:0;
      text-decoration:none;
      margin-top:5px;
      padding-right:15px;
      &:before,
      &:after {
        display:block;
        content:'';
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
        width:9px;
        height:6px;
      }
      &:before {
        background:url(/common/img/ico_arrow_top_grey.png) 0 0 no-repeat;
        background-size:100%;
        display:none;
      }
      &:after {
        background:url(/common/img/ico_arrow_bottom_grey.png) 0 0 no-repeat;
        background-size:100%;
      }
    }
    .review-img-info {
      margin:20px 0 0 0;
      .append-img {
        padding:0 10px 10px 0;
      }
    }
  }
  ul {
    padding:0;
    border-top:0;
    margin-bottom:0;
    > li {
      border-top:1px solid #e5e5e5;
      padding:40px 0;
    }
  }
}
.total-review-summary {
  max-width:none;
}
.review-list-wrap {
  padding:0 55px 50px;
  max-width:none;
  .btn-pagination {
    text-align:center;
    padding:30px 0 0;
    border-top:1px solid #e5e5e5;
    .btn-more-pop {
      font-size: $font-size-sm;
      color: #666;
      display:inline-block;
      text-decoration: underline;
      background:none;
    }
  }
}
.pdp-gallery-fullview {
  padding:10px;
  .pdp-gallery-fullview-wrapper {
    max-width:none;
    .pdp-gallery-fullview-overlay {
      .gallery-images {
        .gallery-images-item {
          margin-top:10px;
        }
      }
      .button-wrapper {
        .pdp-gallery-fullview-close {
          top:38px;
          right:38px;
          width:22px;
          height:22px;
         /*  background:url(/common/img/ico_modal_dialog_lightbox_close.png) 0 0 no-repeat; 2018. 10.31 이미지 존재하지 않음.*/
          background-size:100%;
          padding:0;
          border-radius:0;
          i {
            &:before {
              display:none;
            }
          }
        }
      }
    }
  }
}

.uk-modal {
  &#restock-notification {
    .uk-modal-dialog {
      width:500px;
    }
  }
  &--fullpage {
    .uk-modal-dialog {
      width:500px;
      padding:0;
    }
    .uk-modal-close {
      top: 16px;
      right: 21px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--background {
    background-size: cover !important;
    transition: background .3s ease;
    .uk-modal-dialog {
      background: none;
    }
    .uk-modal-close {
      color: #fff;
    }
  }
  &--vertical-top {
    z-index:5;
    .uk-modal-dialog {
      margin: 0;
      max-width: 1440px;
      border-radius: 0;
      padding: 0 55px;
      box-shadow: none;
      background:none;
      box-sizing:border-box;
      position:absolute;
      left:50%;
      top:0;
      transform:translateX(-50%);
      width:100%;
    }
    .uk-modal-close {
      top: 128px;
      right: 20px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__content__wrap {
      width:384px;
      background:#fff;
      position:absolute;
      right:55px;
      top:108px;
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--vertical-center {
    .uk-modal-dialog {
      margin: 0 40px;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      transition: opacity .3s linear,transform .3s ease-out, top .3s ease-out;
      padding: 0 0 25px;
      width:390px;
    }
    .modal__header {
      margin:0 30px !important;
      padding:30px 0 !important;
    }
    .modal__content {
      padding:40px 30px 0;
    }
    .modal__header + .modal__content {
      padding:27px 30px 0;
    }
    .modal__bottom__area {
      padding:30px 30px 0 !important;
    }
    &.uk-open {
      .uk-modal-dialog {
        top: 50%;
      }
    }
    .uk-close {
      top: 28px;
      right: 28px;
    }
  }
  .modal__header {
    font-size:18px;
    color: $font-1;
    padding: 40px 0;
    margin:0 40px;
    border-bottom: 1px solid #e5e5e5;
    &--white {
      color: #fff;
    }
    &--noborder {
      border-bottom: 0;
    }
    p {
      margin-top: 12px;
      font-size: $font-size-m;
      color: $font-3;
      line-height: 22px;
      font-weight: normal;
    }
  }
  .link_view_more {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(/common/img/ico_view_more.png) 0 0 no-repeat;
    background-size: 100%;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    margin-left: 9px;

  }
  .modal__slick {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 40px;
    .slick-slide {
      img {
        width: 36%;
        margin: 0 auto;
      }
    }
    .slick-arrow {
      font-size: 0;
      color: transparent;
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      line-height: 40px;
      z-index: 5;
      &:after {
        color: #111;
        font-size: 20px !important;
        opacity: 1;
        font-weight: bold;
        font-family: 'icomoon' !important;
      }
      &.slick-prev {
        left: -10px;
        &:after {
          content: $icon-arrow_left;
        }
      }
      &.slick-next {
        right: -10px;
        &:after {
          content: $icon-arrow_right;
        }
      }
      &.slick-disabled {
        opacity: 0.3;
      }
    }
  }
  &-title--sticky {
    transform:none;
    -webkit-transform:none;
    &.uk-open .uk-modal-dialog {
      transform:none;
      -webkit-transform:none;
    }
    .uk-close {
      position:fixed;
      z-index:101;
      top: 28px;
      right: 41px;
    }
    .review-product-wrap {
      position:fixed;
      top:0;
      background:#fff;
      z-index:100;
      & + div {
        padding-top:105px;
      }
    }
  }


  .opt-select-wrap {
    position: relative;
    padding: 0 0 0;
    margin:0 40px;
    .opt-tit-wrap {
      padding-top:28px;
    }
    .tit {
      position: relative;
      font-weight: bold;
      font-size: $font-size-m;
      color: $font-1;
      transition: all .3s ease;
    }
    .text {
      font-size: $font-size-sm;
      color: $font-3;
    }
    .opt-cont-wrap {
      margin-top: 19px;
      .underline {
        text-decoration: underline;
      }
    }
    .opt-alarm-list {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .input-radio {
        float: left;
        width: calc(100% / 3);
        label {
          position: relative;
          padding-left: 27px;
          font-size:$font-size-s;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #bbb;
            border-radius: 50%;
            transition: all .2s ease;
          }
        }
        input:checked + label {
          &:before {
            background: #111;
            border: 1px solid #111;
          }
        }
      }
    }
  }
  .modal__content {
    .selectwrap {
      margin:0;
      &:after {
        display:block;
        content:'';
        clear:both;
      }
    }
    .price-title_wrap {
      display:block;
      padding: 30px 0 26px;
    }
    .dep2-tit {
      display: block;
      font-size: 18px;
      color: #000;
      text-align: center;
      font-weight:bold;
    }
    .dep2-text {
      display: block;
      font-size: $font-size-sm;
      color: #666;
      line-height: 22px;
      text-align: center;
      margin-top: 10px;
      em {
        font-weight: bold;
        color: $font-1;
      }
    }
    .dep2-table {
      margin-top: 17px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 14px 0;
      table {
        width: 100%;
        table-layout: fixed;
        font-size: $font-size-m;
        line-height: 19px;
        text-align: left;
      }
      caption {
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      th {
        color: #666;
        padding: 3px 0 3px 20px;
        font-weight: normal;
      }
      td {
        color: $font-1;
        padding: 3px 0;
      }
    }
  }
  .modal__bottom__area {
    text-align: center;
    padding: 30px 0 0;
    font-size: 0;
    font-weight:bold;
    &.btn-half {
      a {
        width: calc(50% - 8px);
        vertical-align:top;
      }
      a + a {
        margin-left: 16px;
      }
    }
  }
}

/* review image layerpopup */
.uk-modal-dialog-lightbox.uk-slidenav-position {
  margin:55px 0;
  max-width:calc(100% - 110px);
  .uk-slidenav {
    display:none;
  }
  .uk-modal-close {
    top:30px;
    right:30px;
    width:22px;
    height:22px;
   /*  background:url(/common/img/ico_modal_dialog_lightbox_close.png) 0 0 no-repeat; 2018. 10.31 이미지 존재하지 않음.*/
    background-size:100%;
    padding:0;
    border-radius:0;
    &:after {
      display:none;
    }
  }
}


/* star */
.review-wrap,
.review-list-wrap {
  .like {
    .icon-star5 {
      width:110px;
      height:15px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg {
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
    .per {
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
  }
}
.detail-review .star-average {
  .like {
    width:110px !important;
    height:15px !important;
    .icon-star5 {
      width:110px;
      height:15px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg{
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
    .per {
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
  }
}
.user-info,
.n-review-read,
.item-opt-box {
  .like {
    width:90px !important;
    height:13px !important;
    .icon-star5 {
      width:90px;
      height:13px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg,
    .brz-icon-star_small {
      width:90px;
      height:13px;
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:90px 13px;
    }
    .per {
      width:90px;
      height:13px;
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:90px 13px;
    }
  }
}

/* button */
.black-line {
  border: 1px solid #111;
  font-weight: bold;
  &.btn-link:hover,
  &.btn-link:focus {
    color: #000;
    background: #fff;
    border:1px solid #111;
  }
}
.white-line {
  border: 1px solid #fff;
  font-weight: bold;
  background-color: #fff;
}
/* //pdp */

@media (max-width:768px) {
  /* pdp */
  .pt_product-detail {
  padding:0;
  box-sizing:border-box;
  }
  .img-detail_product_n {
  width:100%;
  padding:0;
  }
  .info-wrap_product_n {
  width:100%;
  padding:0;
  .product-option-container {
    width:100%;
  }
  .title-wrap {
    display: none;
  }
  .price-wrap {
    display: none;
  }
  .size-grid-type {
    padding: 0 15px;
    margin-top: 37px;
    .size-onesize {
      position:absolute;
      right:15px;
      top:0;
      font-size:$font-size-sm;
      color:$font-1;
    }
    .option-guide {
      > div {
        display: inline-block;
      }
      a {
        font-size: $font-size-sm;
        color: #666;
      }
      .model-size-toggle {
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          vertical-align: top;
          margin: 0 9px;
        }

      }
      .model-size-popup {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        margin: 17px 0 0 -14px;
        background: #111;
        white-space: nowrap;
        padding: 19px 20px;
        z-index:1;
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          margin-top: -20px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #111;
        }
        strong {
          display: block;
          font-size: $font-size-m;
          color: #fff;
          font-weight: bold;
        }
        p {
          margin-top: 8px;
          padding-left: 12px;
          position: relative;
          color: #fff;
          line-height: 18px;
          &:before {
            display: inline-block;
            content: '';
            background: #fff;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 8px;
          }
        }
      }
    }
    .btn-option {
      &.caution-txt-color {
        .tit {
          color:#f30000;
        }
      }
      .tit {
        font-size: $font-size-m;
      }
    }
    .option-wrap {
      .tit {
        font-size: $font-size-m;
      }
    }
  }
  .status-wrap {
    width:calc(100% - 79px);
    .order-wrap {
      .btn-link {
        width:calc(50% - 3px);
        margin-right:3px;
        &.btn-order {
          background-color: #fb5302;
        }
        &.btn-notifyme {
          width:auto;
          display:block;
          margin-right:3px;

        }
      }
    }
  }
  .option-wrap {
    .product-option_radio {
      margin-top: 20px;
      .opt-list {
        .notify-me {
          display: table;
          position: relative;
          margin: 0 auto;
          padding-left: 13px;
          font-size:9px;
          color:$font-1;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(/common/img/ico_notify_me.png) 0 0 no-repeat;
            background-size: 100% 100%;
            width: 10px;
            height: 12px;

          }
        }
      }
    }
    .quantity {
      margin-top: 27px;
      padding: 0 15px;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      &.quantity-caution {
        .tit {
          color:#f30000;
        }
        .quantity-select-wrap {
          .msg {
            display:block;
          }
        }
        select {
          border:1px solid #f30000;
        }
      }
      .tit {
        font-size: $font-size-m;
        line-height:36px;
      }
      .quantity-select-wrap {
        float:right;
        text-align:right;
        .msg {
          display:none;
          clear:both;
          font-size:$font-size-sm;
          color:#f30000;
          margin:0;
          padding:10px 0 0;
        }
      }
      .select-box {
        width:150px;
      }
    }
  }
  .receive-sms {
    margin-top: 10px;
    a {
      position: relative;
      display: block;
      font-size: $font-size-s;
      color: $font-1;
      font-weight: bold;
      padding: 6px 0 0 26px;
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20.5px;
        height: 18px;
        background: url(/common/img/ico_receive_sms.png) 0 0 no-repeat;
        background-size: 100%;
      }
    }
  }
  .btn-group-box {
    margin: 40px 12px 0;
    padding: 0 0 40px;
    border-bottom: 1px solid #e6e6e6;
    .btn-wishlist {
      width:79px;
    }
  }
  .store-reserve-wrap {
    margin-top: 30px;
    padding: 0 15px;
    .reservation-btn {
      display: block;
      text-align: center;
      border: 1px solid $font-1;
      line-height: 50px;
    }
    .btn-storereserve {
      font-size: $font-size-m;
      color: $font-1;

    }
    .icon {
      font-size: 13px;
      color: $font-1;
      vertical-align: baseline;
    }
    .view-more {
      margin-top: 8px;
      font-size: $font-size-sm;
      color: #333;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      a {
        float: right;
        text-decoration: underline;
        color:#666;
      }
    }
  }
  .discription-wrap {
    padding: 0 15px;
    border-bottom:0;
    .pop-detail-content {
      padding-left: 9px;
      padding-right: 9px;
      padding-top:7px;
      padding-bottom:30px;
      color: #333;
      line-height:23px;
      .style-code,
      .style-color,
      .sectionR ul li {
        font-size: inherit;
        color: inherit;
        line-height:inherit;
        background-size: 2px;
      }
      .detail-content-main-title {
        display:block;
        font-size:18px;
        color:$font-1;

        font-weight:bold;
      }
      .detail-content-title {
        display:block;
        font-size:$font-size-m;
        color:$font-1;

        font-weight:bold;
        margin-top:20px;
        &:first-child {
          margin-top:0;
        }
      }
      p {
        margin-top:13px;
        &:first-child {
          margin-top:0;
        }
      }
      .read-comment {
        margin-bottom:15px;
      }
      em {
        font-weight:inherit;
        font-style:inherit;
        color:#fb5302;
      }
      > ul {
        margin-top:5px;
        > li {
          background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;
          font-size: inherit;
          color: inherit;
          line-height: inherit;
          background-size: 2px;
          padding-left: 10px;
        }
      }
      .btn-more-pop {
        margin-top: 5px;
        font-size: $font-size-sm;
        color: #666;
      }
    }
    > .pop-detail-content {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom:40px;
      .btn-more-pop {
        margin-top: 15px;
        font-size: $font-size-sm;
        color: #666;
      }
    }
    .pop-detail-title {
      font-size: 18px;
      color: #000;
      padding: 25px 22px 25px 8px;
      &:after {
        float: none;
        font-weight: bold;
        margin-top: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      &.uk-active {
        &:after {
          margin-top: 0;
        }
      }
      .sub-title-wrap {
        position:absolute;
        right: 37px;
        top:50%;
        transform:translateY(-50%);
        font-size:$font-size-m;
        color:$font-3;
        font-weight:normal;
      }

    }
  }
  .detail-review-summary {
    .star-total-info {
      .total-star-point {
        margin-left: 15px;
        font-size:$font-size-m;
      }
    }
  }
  .review-wrap {
    line-height:0;
    right:37px;
  }
  .free-delivery-wrap {
    margin:0 15px;
    border-top:1px solid #e5e5e5;
    .inner-wrap {
      display:table;
      width:100%;
      table-layout:fixed;
      box-sizing:border-box;
      padding:15px 10px;
    }
    .thumb {
      display:table-cell;
      width:60px;
      vertical-align:middle;
    }
    .txt {
      display:table-cell;
      width:100%;
      vertical-align:middle;
      padding-left:14px;
      strong {
        display:block;
        font-size:$font-size-m;
        color:$font-1;
      }
      span {
        display:block;
        font-size:$font-size-sm;
        color:#333;
        margin-top:10px;
      }
    }
  }
  .one-on-one-chat-wrap {
    margin:0 15px;
    border-top:1px solid #e5e5e5;
    .inner-wrap {
      display:table;
      width:100%;
      table-layout:fixed;
      box-sizing:border-box;
      padding:30px 15px;
    }
    .thumb {
      display:table-cell;
      width:26px;
      vertical-align:middle;
    }
    .txt {
      display:table-cell;
      width:100%;
      vertical-align:middle;
      padding-left:14px;
      strong {
        display:inline-block;
        font-size:$font-size-sm;
        color:$font-1;
        vertical-align:middle;
      }
      a {
        display:inline-block;
        font-size:$font-size-sm;
        color:$font-3;
        vertical-align:middle;
        text-decoration:underline;
        margin-left:10px;
      }
    }
  }
  }
  .price-title_wrap {
  display: block;
  text-align: center;
  float: none;
  width: 100%;
  padding: 40px 0 40px;
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: $font-1;
  }
  .price-wrap {
    .item-location {
      margin: 19px auto 9px;
      span {
        font-size: $font-size-m;
        color: $font-3;
      }
    }
    .price-sale {
      display: inline-block;
      color: $font-3;
      font-size: $font-size-m;
      text-decoration: line-through;
    }
    .price {
      display: inline-block;
      strong {
        font-size: $font-size-m;
        color: #fb5302;
        font-weight: normal;
      }
    }
    .item-product-number {
      font-size: $font-size-m;
      color: $font-3;
    }
  }
  }

  .selectwrap {
  .select-size {
    float: none;
    margin:0;
    padding: 0 25px 38px;
    .btn-option {
      height: auto;
      line-height: 1;
      border-top: 0;
      padding-top: 38px;
      &:before {
        display: none;
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      &.open {
        &:before {
          position: relative;
          display: block;
          float: right;
          font-size: 14px;
          color: #666;
          text-decoration: underline;
          background-color: transparent;
          padding-left: 15px;
          content: '변경';
        }
        .tit {
          padding-left: 27px;
          &:after {
            display: inline-block;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(/common/img/ico_opt_check_complete.png) 0 0 no-repeat;
            background-size: 100%;
          }
        }
        .default {
          font-size: $font-size-m;
          color: $font-1;
        }

      }
      .tit {
        position: relative;
        font-weight: bold;
        font-size: 14px;
        color: #111;
        transition: all .3s ease;
        margin-right: 0;
      }
      .default {
        float: right;
        width: auto;
        padding-right: 0;
        font-size: $font-size-sm;
        color: $font-3;
      }

    }
    .opt-list {
      margin-top: 19px;
      &.list-n3 {
        li {
          width:calc(100% / 3);
        }
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
  }
  .stockList {
  padding: 38px 25px 0;
  margin:0;
  fieldset {
    dl {
      div {
        dt {
          font-weight: bold;
          font-size: $font-size-m;
          color: $font-1;
          float: none;
          margin: 0;
          width: auto;
          label {
            font-weight: inherit;
            font-size: inherit;
            color: inherit;
          }
        }
        dd {
          float: none;
          width: auto;
          margin-top: 19px;
        }
      }
    }
  }
  .privacy-agree {
    margin-top:10px;
    .txt {
      color: #666;
      strong {
        font-weight: normal;
        color: $font-1;
        text-decoration: underline;
      }
    }
  }
  .btn-wrap {
    margin-top: 26px;
    .btn-restock {
      // width:100%;
    }
  }
  }
  .restock-wrap {
  .nodata {
    padding: 16px 25px;
    p {
      text-indent: 0;
      color: #666;
      font-size:$font-size-sm;
    }
  }
  }
  .detail-review-summary {
  .star-total-info {
    position:relative;
    margin-bottom:21px;
    .review-write-btn {
      position:absolute;
      right:0;
      top:50%;
      transform:translateY(-50%);
      border-bottom:0;
      color:#666;
      text-decoration:underline;
    }
  }
  }
  .detail-reviewlist-summary {
  .n-review-read {
    ul {
      padding:0;
      border-top:0;
    }
    .read-list {
      margin-top:9px;
      .read-subject {
        margin-bottom:0;
        font-weight:bold;
      }
      .shorten-toggle {
        position:relative;
        display:table;
        font-size:$font-size-sm;
        color:#666;
        margin-left:0;
        text-decoration:none;
        margin-top:5px;
        padding-right:15px;
        &:before,
        &:after {
          display:block;
          content:'';
          position:absolute;
          right:0;
          top:50%;
          transform:translateY(-50%);
          width:9px;
          height:6px;
        }
        &:before {
          background:url(/common/img/ico_arrow_top_grey.png) 0 0 no-repeat;
          background-size:100%;
          display:none;
        }
        &:after {
          background:url(/common/img/ico_arrow_bottom_grey.png) 0 0 no-repeat;
          background-size:100%;
        }
      }
      .shorten_expand {
        .shorten-toggle {
          &:before {
            display:block;
          }
          &:after {
            display:none;
          }
        }
      }
      .review-img-info {
        display:none;
      }
    }
  }
  .btn-more-review {
    display:table;
    margin-bottom:0;
    margin-top:10px;
  }
  }
  .contents.pdp__related__items {
  padding-left:15px;
  &--instagram {
    padding-top:7px;
  }
  &--related {
    padding:40px 0 80px 15px;
    .bxslider-controls {
      display:none;
    }
  }
  .contents-title {
    font-size:18px;
    color:$font-1;
    padding-bottom:0;
    font-weight:bold;
    padding-right:15px;
  }
  .contents-text {
    font-size:$font-size-m;
    line-height:19px;
    color:#333;
    margin-top:15px;
    padding-right:15px;
  }
  .category-slider {
    overflow:hidden;
    margin-top:27px;
    .swipe-container {
      .bx-wrapper {
        .bx-viewport {
          padding-right:35px;
          box-sizing:border-box;
        }
      }
      .slide {
        height:auto;
        margin:0;
        padding:0;
        > div {
          padding:0;
          &:hover {
            &:before {
              display:none !important;
            }
          }
        }
      }
    }
    .nike-instagram-info {
      margin-top:18px;
      .instagram-id {
        display:block;
        font-size:$font-size-sm;
        color:#333;
      }
      .insagram-like {
        display:block;
        font-size:$font-size-sm;
        color:$font-3;
        margin-top:8px;
      }
    }
  }
  .product-item {
    .item-opt-box {
      position: relative;
      margin: 17px 10px 0 10px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ddd;
      .item-color-opt {
        font-size:$font-size-m;
        color:#333;
        padding:0;
        display:block !important;
      }
    }
    .item-star-rate {
      display:none !important;
    }
    .item-info {
      margin-top:14px;
      .item-title {
        font-size:$font-size-sm;
        color:$font-1;
        margin-bottom:0;
      }
      .item-location {
        font-size:$font-size-sm;
        margin:7px 0 0;
      }
      .item-price {
        font-size:$font-size-s;
        margin:8px 0 0;
        .item-price-sale {
          padding-right:6px;
        }
      }
    }
  }
  }
  .detail-info-modal .pdp-guide-modal {
  padding:0;
  }
  .pop-detail-content {
  padding:42px 24px;
  color: #333;
  line-height:23px;
  .style-code,
  .style-color,
  .sectionR ul li {
    font-size: inherit;
    color: inherit;
    line-height:inherit;
    background-size: 2px;
  }
  .detail-content-main-title {
    display:block;
    font-size:18px;
    color:$font-1;

    font-weight:bold;
  }
  .detail-content-title {
    display:block;
    font-size:$font-size-m;
    color:$font-1;

    font-weight:bold;
    margin-top:20px;
    &:first-child {
      margin-top:0;
    }
  }
  p {
    margin-top:13px;
  }
  em {
    font-weight:inherit;
    font-style:inherit;
    color:#fb5302;
  }
  .deco-underline {
    text-decoration:underline;
    color:#333;
  }
  > ul {
    margin-top:5px;
    > li {
      background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      background-size: 2px;
      padding-left: 10px;
      > ul {
        > li {
          text-indent: -8px;
          padding-left: 9px;
        }
      }
    }
  }
  .as-step-wrap {
    margin-top:5px;
    ol {
      &:after {
        display:block;
        content:'';
        clear:both;
      }
    }
    li {
      float:left;
      width:50%;
      &:nth-child(2n+1) {
        strong {
          &:after {
            display:none;
          }
        }
      }
      &:nth-child(2n) {
        strong {
          position:relative;
          &:after {
            display:block;
            content:'';
            position:absolute;
            left:0;
            bottom:-8px;
            width:2px;
            height:15px;
            background-color:#e5e5e5;
          }
        }
      }
      strong {
        display:block;
        font-size:15px;

        color:$font-1;
        text-align:left;
        padding:0 5px 3px 40px;
        box-sizing:border-box;
        border-bottom:2px solid #f6f6f6;
      }
      span {
        display:block;
        font-size:$font-size-sm;
        color:#666;
        line-height:19px;
        text-align:left;
        padding:5px 5px 5px 40px;
        box-sizing:border-box;
      }
    }
  }
  .detail-table {
    margin-top:13px;
    caption {
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    table {
      width:100%;
      table-layout:fixed;
      th {
        color:$font-1;
        font-size:$font-size-s;
        font-weight:bold;
        background:#f7f7f7;
        text-align:center;
        border:1px solid #e5e5e5;
        padding:13px 2px;
      }
      td {
        color:#666;
        font-size:$font-size-s;
        text-align:center;
        border:1px solid #e5e5e5;
        padding:10px 2px;
      }
    }
  }
  .btn-more-pop {
    margin-top: 5px;
    font-size: $font-size-sm;
    color: #666;
    display:inline-block;
    text-decoration: underline;
  }
  }
  .pop-detail-content-info-wrap {
  padding:40px 24px 40px;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  }
  .detail-product-info {
  display:table;
  table-layout:fixed;
  width:100%;
  padding-top:19px;
  &:first-child {
    padding-top:0;
  }
  dt {
    display:table-cell;
    vertical-align:top;
    width:30%;
    font-size:$font-size-m;
    color:$font-1;
    line-height:18px;
    font-weight:normal;
  }
  dd {
    display:table-cell;
    vertical-align:top;
    font-size:$font-size-m;
    color:#666;
    line-height:18px;
  }
  }

  .review-product-wrap {
  padding:20px 36px 20px 25px;
  .mini-product-item {
    display:table;
    table-layout:fixed;
    width:100%;
  }
  .product-thumb-img {
    float:none;
    display:table-cell;
    width:60px;
    vertical-align:top;
  }
  .mini-product-info {
    float:none;
    display:table-cell;
    width:100%;
    vertical-align:top;
    margin:0;
    padding-left:15px;
    .tit {
      font-size:$font-size-sm;
      color:$font-1;
      font-weight:bold;
      margin-top:12px;
    }
    .price-wrap {
      margin-top:9px;
    }
    .price-sale {
      display:inline-block;
      font-size:$font-size-sm;
      color:$font-3;
      margin-right:6px;
      text-decoration:line-through;
    }
    .price {
      display:inline-block;
      font-size:$font-size-sm;
      color:$font-3;
      margin:0;
      strong {
        font-weight:normal;
      }
    }
  }
  }
  #detail-reviewall .uk-close,
  .detail-info-modal .uk-close {
  top:28px;
  right:21px;
  &:after {
    font-size:26px;
  }
  }
  .star-total-info {
  margin-top:40px;
  .btn-area {
    margin:18px 0 0;
  }
  .star-review-num,
  .total-star-point {
    font-size:18px;
    font-weight:bold;

  }
  .total-star-point {
    margin-left:2px;
  }
  }
  .opt-value-w {
  width:auto;
  padding-right:0
  }
  .opt-value-wrap {
  margin:10px 0 0;
  padding-bottom:40px;
  .opt-value-box {
    margin-top:13px;
    .opt-value-gage {
      .opt-value-dot.per {
        margin-left:-4px;
      }
    }
    .opt-value-txtbox {
      .opt-value-txt {
        color:#666;
      }
    }
  }
  .grid-gage {
    padding:0 50px;
  }
  .opt-value-title {
    font-weight:normal;
    font-size:$font-size-m;
    color:$font-1;
    margin-top:30px;
  }
  }
  .n-review-read {
  .read-list {
    width:100%;
    padding:0;
    .read-subject {
      font-weight:bold;
      margin-bottom:7px;
    }
    .user-info {
      display:block;
      margin-bottom:8px;
    }
    .user-name {
      font-size:$font-size-sm;
      color:#666;
      margin:0;
    }
    .write-date {
      font-size:$font-size-sm;
      color:#666;
    }
    .read-comment {
      margin-top:5px;
      font-size:$font-size-sm;
      color:#333;
      line-height:18px;
      margin-bottom:21px;
    }
    .shorten-detail {
      display:none;
    }
    .shorten-ellipses {
      display:inline;
    }
    .shorten_expand {
      .shorten-detail {
        display:inline;
      }
      .shorten-toggle {
        &:before {
          display:block;
        }
        &:after {
          display:none;
        }
      }
    }
    .shorten-toggle {
      position:relative;
      display:table;
      font-size:$font-size-sm;
      color:#666;
      margin-left:0;
      text-decoration:none;
      margin-top:5px;
      padding-right:15px;
      &:before,
      &:after {
        display:block;
        content:'';
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
        width:9px;
        height:6px;
      }
      &:before {
        background:url(/common/img/ico_arrow_top_grey.png) 0 0 no-repeat;
        background-size:100%;
        display:none;
      }
      &:after {
        background:url(/common/img/ico_arrow_bottom_grey.png) 0 0 no-repeat;
        background-size:100%;
      }
    }
    .review-img-info {
      display:none;
    }
  }
  ul {
    padding:35px 25px;
    border-top:1px solid #e5e5e5;
    margin-bottom:0;
    > li {
      border-top:0;
      padding:0;
    }
  }
  }
  .review-list-wrap {
  padding:0 0 50px 0;
  .btn-pagination {
    text-align:left;
    padding: 0 25px;
    border-top:0;
    .btn-more-pop {
      margin-top: 5px;
      font-size: $font-size-sm;
      color: #666;
      display:inline-block;
      text-decoration: underline;
      background:none;
    }
  }
  }
  .reservation-wrap {
  .reservation_product {
    .location-search {
      padding:40px 25px;
      box-sizing:border-box;
      margin:0;
      width:100%;
    }
  }
  }
  .location-search {
  border-top:0;
  .current-location-area {
    padding:0;
    .location-item {
      display:table;
      width:100%;
      .location-addr {
        display:table-cell;
        vertical-align:top;
        .current-location {
          display:block;
          position:relative;
          font-size:$font-size-m;
          font-weight:bold;
          color:$font-1;
          padding:0 5px 0 15px;
          line-height:19px;
          &:before {
            display:block;
            content:'';
            position:absolute;
            left:0;
            top:2px;
            width:11px;
            height:14px;
            background:url(/common/img/ico_location_search.png) 0 0 no-repeat;
            background-size:100%;
          }
          .txt {
            display:block;
            font-size:$font-size-sm;
            color:#666;
          }
        }
      }
      .location-select {
        font-size:$font-size-sm;
        color:#666;
        margin:0;
        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          vertical-align: top;
          margin: 0 9px;
        }
      }
      .my-location {
        display:inline-block;
        font-size:$font-size-sm;
        color:#666;
        text-decoration:underline;
      }
      .location-wrap {
        display:table-cell;
        vertical-align:top;
        white-space:nowrap;
      }
    }
  }
  .shipping-header {
    margin-top:28px;
    background-color:#f7f7f7;
    table-layout:fixed;
    height:45px;
    .store-name,
    .prd-cnt {
      box-sizing:border-box;
      padding:0;
      line-height:45px;
    }
    .prd-cnt {
      width:90px;
      border-left:1px solid #fff;
    }
  }
  .shipping-list {
    border-bottom:1px solid #e5e5e5;
    table-layout:fixed;
    .column-addr {
      padding:18px 5px 18px 0;
      vertical-align:middle;
    }
    .column-reserve {
      width:90px;
      padding:18px 0;
      vertical-align:middle;
      border-left:1px solid #fff;
      .quantity {
        line-height:23px;
        font-size:$font-size-m;
        color:$font-1;
      }
      .reservation-apply {
        width:100%;
        margin-top:10px;
      }
    }
    .address-wrap {
      padding-top:0;
      float:none;
      font-size:$font-size-s;
      color:#666;
      line-height:17px;
      margin-top:5px;
      .addr-type {
        float:none;
        display:inline;
        width:auto;
        height:auto;
        border-radius:0;
        border:0;
        font-size:inherit;
        line-height:inherit;
        color:inherit;
        letter-spacing:inherit;
        text-align:inherit;
      }
      .addr {
        display:inline;
        font-size:inherit;
        color:inherit;
        line-height:inherit;
        > a {
          display:block;
          font-size:inherit;
          color:inherit;
          line-height:inherit;
          margin-top:15px;
        }
      }
    }
  }
  .tit {
    margin:0 0 15px 0;
    color:$font-1;
    .location-distance {
      font-size:$font-size-sm;
      font-weight:normal;
      padding-left:10px;
    }
  }
  }
  .modal-quantity-select {
  padding-bottom:0;
  border-bottom:0;
  .tit {
    font-size:$font-size-sm;
    line-height:18px;
    color:#666;
    padding-bottom:14px;
  }
  .quantity-select-wrap {
    width: 100%;
    .select-box {
      width:150px;
    }
  }
  .btn-qty {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    &:after {
      display:block;
      content:'';
      clear:both;
    }
    .btn {
      width:30px;
      height:30px;
      line-height:0;
      font-size:0;
      border-radius:0;
      &.minus:before {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:11px;
        height:1px;
        background-color:#666;
      }
      &.plus:before {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:11px;
        height:1px;
        background-color:#666;
      }
      &.plus:after {
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:1px;
        height:11px;
        background-color:#666;
      }
    }
    .label {
      margin:0;
      width:30px;
      height:30px;
      line-height:30px;
      border-radius:0;
      margin:0 0 0 -1px;
      font-size:$font-size-sm;
      color:$font-1;
    }
  }
  .qty-value {
    display: table-cell;
    vertical-align: middle;
    white-space:nowrap;
    font-size:$font-size-m;
    color:$font-1;
  }
  }
  .selectwrap-complete-wrap {
  padding:40px 25px 0;
  &.modal-cart-wrap {
    padding:25px 25px 0;
  }
  }
  .selectwrap-complete-info {
  display:table;
  table-layout:fixed;
  width:100%;
  padding-bottom:38px;
  .thumb {
    display:table-cell;
    width:100px;
    vertical-align:top;
  }
  .select-item-info {
    display:table-cell;
    width:100%;
    vertical-align:top;
    padding-left:15px;
    .tit {
      display:block;
      font-size:$font-size-sm;
      line-height:18px;
      color:$font-1;
      font-weight:bold;
      margin-bottom:5px;
    }
    .item-detail-info {
      display:block;
      font-size:$font-size-sm;
      line-height:20px;
      color:#666;
    }
    .price-wrap {
      margin-top:10px;
      .price-sale {
        display: inline-block;
        font-size:$font-size-sm;
        color: $font-3;
        text-decoration: line-through;
      }
      .price {
        display:inline-block;
        strong {
          font-size:$font-size-sm;
          color: #fb5302;
          font-weight: normal;
          margin-left:8px;
        }
      }
    }
  }
  }
  .select-customer-info-wrap {
  border-top:1px solid #e5e5e5;
  padding:25px 0;
  .select-customer-info {
    display:table;
    table-layout:fixed;
    width:100%;
    margin-top:13px;
    &:first-child {
      margin-top:0;
    }
    .tit {
      display:table-cell;
      width:100px;
      font-size:$font-size-m;
      color:$font-1;
      font-weight:bold;
    }
    .customer-detail-info {
      display:table-cell;
      font-size:$font-size-sm;
      color:$font-1;
      line-height:23px;
      a {
        text-decoration:underline;
        &.modify {
          color:#666;
          padding-left:5px;
        }
      }
      .ad-ex {
        display:block;
        color:#666;
        line-height:18px;
        margin-top:8px;
      }
    }
  }
  }
  .select-description {
  padding-top:18px;
  border-top:1px solid #e5e5e5;
  ul {
    li {
      font-size:$font-size-sm;
      line-height:18px;
      color:#666;
      margin-top:5px;
      background:url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;
      background-size: 2px;
      padding-left: 10px;
      &:first-child {
        margin-top:0;
      }
    }
  }
  }
  .modal-cart-wrap {
  .add-to-cart {
    position:relative;
    display:block;
    margin-bottom:27px;
    font-size:$font-size-m;
    color:$font-1;
    padding-right:10px;
    &.active {
      padding-left: 27px;
      &:after {
        display: inline-block;
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(/common/img/ico_opt_check_complete.png) 0 0 no-repeat;
        background-size: 100%;
      }
    }
  }
  .selectwrap-complete-info {
    padding-bottom:0;
    .select-item-info {
      .price-wrap {
      }
      .item-detail-info {
        line-height:18px;
      }
    }
  }
  }
  .phone-number-change-wrap {
  p {
    font-size:$font-size-sm;
    color:#666;
    line-height:18px;
    &.question {
      position:relative;
      margin-top:8px;
      a {
        display:inline-block;
        vertical-align:middle;
      }
      &:after {
        display:inline-block;
        content:'';
        width:15px;
        height:15px;
        background:url(/common/img/ico_view_more.png) 0 0 no-repeat;
        background-size:100%;
        margin-left:5px;
        vertical-align:middle;
      }
    }
  }
  .phone-number-certify {
    .top-area {
      display:table;
      width:100%;
      margin-top:20px;
      .input-textfield {
        display:table-cell;
        vertical-align:top;
        padding-right:10px;
      }
      button {
        display:table-cell;
        font-size:$font-size-sm;
        color:$font-6;
        height:40px;
        line-height:40px;
        border-radius:3px;
        background-color:#888;
        vertical-align:top;
        padding:0 8px;
        white-space:nowrap;
      }
    }
    .bottom-area {
      margin-top:10px;
    }
  }
  }
  /* layer popup */
  .uk-modal {
  &--fullpage {
    .uk-modal-dialog {
      margin: 0;
      max-width: 100%;
      border-radius: 0;
      min-width: 100%;
      padding: 0;
      box-shadow: none;
    }
    .uk-modal-close {
      top: 20px;
      right: 20px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--background {
    background-size: cover !important;
    transition: background .3s ease;
    .uk-modal-dialog {
      background: none;
    }
    .uk-modal-close {
      color: #fff;
    }
  }
  &--vertical-top {
    z-index:5;
    .uk-modal-dialog {
      margin: 0;
      width:auto;
      max-width: 100%;
      border-radius: 0;
      min-width: 100%;
      padding: 0;
      box-shadow: none;
      position:static;
      transform:none;
    }
    .uk-modal-close {
      top: 80px;
      right: 20px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__content__wrap {
      width:auto;
      position:absolute;
      right:0;
      top:60px;
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--vertical-center {
    .uk-modal-dialog {
      margin: 0 25px;
      top: 0;
      transform: translateY(-50%);
      transition: opacity .3s linear,transform .3s ease-out, top .3s ease-out;
      padding: 0 0 25px;
      width:auto;
      left: auto;
    }
    .modal__header {
      margin:0;
    }
    .modal__content {
      padding:40px 25px 0;
    }
    .modal__header + .modal__content {
      padding:30px 25px 0;
    }
    .modal__bottom__area {
      padding:30px 25px 0 !important;
    }
    &.uk-open {
      .uk-modal-dialog {
        top: 50%;
      }
    }
    .uk-close {
      top: 20px;
      right: 20px;
    }
  }
  .modal__header {
    font-size: 18px;
    color: $font-1;
    padding: 21px 36px 21px 25px;
    border-bottom: 1px solid #e5e5e5;
    margin:0;
    &--white {
      color: #fff;
    }
    &--noborder {
      border-bottom: 0;
    }
    p {
      margin-top: 12px;
      font-size: $font-size-s;
      color: $font-3;
      line-height: 17px;
      font-weight: normal;
    }
  }
  .link_view_more {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(/common/img/ico_view_more.png) 0 0 no-repeat;
    background-size: 100%;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    margin-left: 9px;

  }
  .always-on-benefits-popup {
    padding-bottom: 60px;
    .modal {
      &__title {
        display: block;
        text-align: center;
        font-size: 18px;
        color: $font-1;
        padding: 38px 0 0;
      }
      &__content {
        .thumb {
          margin-top: 57px;
          img {
            width: 100%;
          }
          &.first {
            margin-top: 0;
          }
        }
        .text {
          text-align: center;
          font-size: $font-size-sm;
          em {
            display: block;
            color: $font-1;
            margin-top: 28px;
          }
          span {
            display: block;
            line-height: 18px;
            color: $font-3;
            margin-top: 7px;
          }
        }
      }
      &__bottom__area {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  .nike-pass-popup {
    .pass-list {
      margin: 79px 0 0 25px;
      li {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-top: 30px;
        &:first-child {
          margin-top: 0;
        }
      }
      .thumb {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        img {
          width: 100%;
        }
      }
      p {
        display: table-cell;
        vertical-align: middle;
        font-size: $font-size-sm;
        color: #fff;
        line-height: 18px;
        padding-left: 14px;
      }

    }
  }
  .your-looks-popup {
    .your-looks-slides {
      margin-top: 65px;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .slick-list {
        margin-left: -10px;
        overflow: visible;
      }
      .slick-slide {
        position: relative;
        padding-left: 10px;
        box-sizing: border-box;
        p {
          position: absolute;
          left: 35px;
          bottom: 30px;
          color: inherit;
          font-size: $font-size-sm;
          line-height: 18px;
          font-weight: bold;
          text-align: left;
        }
        em {
          position: absolute;
          right: 25px;
          bottom: 30px;
          color: inherit;
          font-size: $font-size-sm;
          line-height: 18px;
          text-align: right;
        }
        &--white {
          color: #fff;
        }
        &--black {
          color: $font-1;

        }
        img {
          box-shadow: -2px 8px 20px 0px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .slider-length {
      margin-top: 30px;
      text-align: center;
      font-size: $font-size-l;
      color: #fff;
      .total {
        opacity: .5;
      }
    }
  }
  .modal__slick {
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin:0;
    .slick-slide {
      img {
        width: 52%;
        margin: 0 auto;
      }
    }
    .slick-arrow {
      font-size: 0;
      color: transparent;
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      line-height: 40px;
      z-index: 5;
      &:after {
        color: #111;
        font-size: 20px !important;
        opacity: 1;
        font-weight: bold;
        font-family: 'icomoon' !important;
      }
      &.slick-prev {
        left: 15px;
        &:after {
          content: $icon-arrow_left;
        }
      }
      &.slick-next {
        right: 15px;
        &:after {
          content: $icon-arrow_right;
        }
      }
      &.slick-disabled {
        opacity: 0.3;
      }
    }
  }

  .opt-select-wrap {
    position: relative;
    padding: 0 25px 0;
    margin:0;
    .opt-tit-wrap {
      padding-top: 38px;
    }
    .tit {
      position: relative;
      font-weight: bold;
      font-size: $font-size-m;
      color: $font-1;
      transition: all .3s ease;
    }
    .text {
      font-size: $font-size-sm;
      color: $font-3;
    }
    .opt-cont-wrap {
      margin-top: 19px;
      .underline {
        text-decoration: underline;
      }
    }
    .opt-alarm-list {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .input-radio {
        float: left;
        width: calc(100% / 3);
        label {
          position: relative;
          padding-left: 27px;
          font-size:$font-size-sm;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #bbb;
            border-radius: 50%;
            transition: all .2s ease;
          }
        }
        input:checked + label {
          &:before {
            background: #111;
            border: 1px solid #111;
          }
        }
      }
    }
  }
  .modal__content {
    .price-title_wrap {
      padding: 40px 0 26px;
    }
    .dep2-tit {
      display: block;
      font-size: $font-size-l;
      color: #000;
      text-align: center;
    }
    .dep2-text {
      display: block;
      font-size: $font-size-m;
      color: #666;
      line-height: 19px;
      text-align: center;
      margin-top: 18px;
      em {
        font-weight: normal;
        color: $font-1;
      }
    }
    .dep2-table {
      margin-top: 17px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 14px 0;
      table {
        width: 100%;
        table-layout: fixed;
        font-size: $font-size-m;
        line-height: 19px;
        text-align: left;
      }
      caption {
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      th {
        color: #666;
        padding: 3px 0 3px 20px;
        font-weight: normal;
      }
      td {
        color: $font-1;
        padding: 3px 0;
      }
    }
  }
  .modal__bottom__area {
    text-align: center;
    padding: 30px 0 0;
    font-size: 0;
    font-weight:bold;
    &.btn-half {
      a {
        width: calc(50% - 8px);
        vertical-align:top;
        padding-left:0;
        padding-right:0;
      }
      a + a {
        margin-left: 16px;
      }
    }
  }
  }
  /* star */
  .review-wrap,
  .review-list-wrap {
  .like {
    .icon-star5 {
      width:110px;
      height:15px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg {
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
    .per {
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
  }
  }
  .detail-review .star-average {
  .like {
    width:110px !important;
    height:15px !important;
    .icon-star5 {
      width:110px;
      height:15px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg{
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
    .per {
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:110px 15px;
    }
  }
  }
  .user-info,
  .n-review-read {
  .like {
    width:90px !important;
    height:13px !important;
    .icon-star5 {
      width:90px;
      height:13px;
      display:block;
      &:before {
        display:none;
      }
    }
    .star-default-bg,
    .brz-icon-star_small {
      width:90px;
      height:13px;
      background:url(/common/img/ico_rate_star_grey.png) 0 0 no-repeat;
      background-size:90px 13px;
    }
    .per {
      width:90px;
      height:13px;
      background:url(/common/img/ico_rate_star_black.png) 0 0 no-repeat;
      background-size:90px 13px;
    }
  }
  }

  .image-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  cursor: move;
  z-index: 9999;
  background:#f5f5f5;
  }

  .drag-image {
  left: 0;
  pointer-events: none;
  position: relative;
  top: 0;
  -moz-user-select: none;
  width: auto;
  max-width: none;
  }
  .drag-layer-close {
  display:block;
  position:fixed;
  top: 38px;
  right: 38px;
  width: 22px;
  height: 22px;
  /* background: url(/common/img/ico_modal_dialog_lightbox_close.png) 0 0 no-repeat; 2018. 10.31 이미지 존재하지 않음.*/
  background-size: 100%;
  padding: 0;
  border-radius: 0;
  font-size:0;
  color:transparent;
  }
  /* //pdp */
}