/***************** global gnb 20201013 *********************/
body{
	width: 100%;
}
.clear {
  position: relative;

  &:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
  }
}

.kr_nike {
  button {
    background: transparent;
  }
  overflow-x: visible;
  min-width: 320px;
  width: 100%;

  .pre_header {
    position: relative;
    height: 36px;
    padding: 0 38px 0 36px;
    background: #f5f5f5;
    z-index: 122;
    transition: transform .3s ease;
    
  }

  .hdn {
    visibility: hidden;
  }

  .header {
    position: relative;
    width: 100%;
    height: 60px;
    /* width: 100%;max-width: 1920px; */

    margin: 0 auto;
    background: #fff;
    z-index: 121;    
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    /* align-items: center; */
    
    &.hdn{
    	visibility: visible;
    	background: transparent;
    	
    	h1{
    		filter: blur(5px);
    	}
    	
    	.pre_nav_box{
    		background: transparent;
    		
    		.pre_btn_group{
    			display: none;
    		}
    	}
    }

    h1 {
      z-index: 3;
      transition: transform .25s ease .15s;

      /*flex:1;*/

      position: absolute;
      top: 0;
      left: 36px;

      &.top {
        z-index: 4;

        /*transform: translateY(-36px);position: fixed;top:0px;*/
      }

      a {
        /* display: block; */

        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        padding: 0 12px;
        
        span.ns-swoosh {
          font-size: 28px;
        }
      }
    }

    &.nav_up .pre_nav_box{
      width: 100%;
      /* z-index: 22; */
      position: fixed;
      top: 0;      
      left:0;
      transform: translateY(-60px);
      backface-visibility:hidden;
    }
    
    &.fixed {
    	z-index: 120;
    }
	
    &.fixed .pre_nav_box{
      width:100%; 
      position: fixed;
      top: 0;
      left: 0;
      transform: translateY(0px);
    }

    h1 a:hover {
      filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg) brightness(101%) contrast(86%);
    }

    &.nav_up + .bannerWrap {
      /* transform: translateY(60px); */
    }
  }  
		
  .header.hdn{
  	z-index: 130;
  }
  
  .nk_brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      li {
        padding: 0 12px;
        display: flex;
        align-items: center;
        height: 100%;
        //width: 100%;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          
          span.ns-jordan{
          	font-size:25px;
          	
          	&:hover {
	          filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg) brightness(101%) contrast(86%);
	        }
          }
        }
      }
    }

    ul li a:hover svg {
      filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg) brightness(101%) contrast(86%);
    }
  }

  .desk_user > ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    > li {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > a {
        display: block;
        padding: 0 10px;
        font-size: 12px;
        line-height: 40px;

        &:hover {
          color: #757575;
        }

        i {
          margin-right: 8px;
          display: inline-block;
          width: 10px;
          height: 13px;
          vertical-align: baseline;

          svg {
            vertical-align: top;
          }
        }
      }
    }
  }

  .nk_gnb {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;

    > ul {
      /* width:calc(100% - 816px); */
	  display: inline-block;	
      margin: 0 auto;

      > li {
        display: inline-block;

        > a {
          display: block;
          padding: 18px 12px 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #111;
          border-bottom: 2px solid transparent;
          transition: border-color .1s,color .1s;
        }

        &.active {
          > a {
            border-bottom: 2px solid #000;
          }

          > .sub_menu {
             z-index:5;
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
            transition: transform .25s ease,opacity 0ms,visibility 0ms;
          }
        }

        > {
          a:hover {
            border-bottom: 2px solid #000;
          }

          .sub_menu {
            padding: 16px 40px 40px;
            white-space: nowrap;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            overflow: hidden;
            max-height: 800px;
            top: 60px;
            left: 0;
            right: 0;
            transition: transform .1s ease,opacity 0ms linear .1s,visibility 0ms linear .1s;
            transform-origin: top center;
            transform: scaleY(0);
          }
        }

        > .sub_menu .depth2_inner {
          max-width: 1344px;
          margin: 0 auto;
        }
      }
    }

    li .sub_menu .pre_menu {
      display: inline-block;
      width: 16.666666666666664%;
      padding: 16px 8px 0;
      vertical-align: top;
      text-align: left;
      opacity: 0;
      transform: translateY(-10px);
      box-sizing: border-box;
      transition: transform .1s,opacity .1s;
      transition-delay: 0s;
    }
  }

  .depth_inner + .depth_inner {
    margin-top: 30px;
  }

  .nk_gnb li.active .sub_menu .pre_menu {
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s ease,opacity .2s linear;
    transition-delay: .2s;
  }

  .pre_menu .main_menu {
    display: block;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
  }

  .depth_inner {
    a {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 1.428571;
      color: #757575;

      &:hover {
        color: #111;
      }
    }

    + a.main_menu {
      margin-top: 30px;
    }
  }
}

/* header */

/* header nk_brand */

/* header desk_user */

/* header gnb */

.dimd {
  display: block;
  opacity: -1;
  z-index: 0;
  transition: opacity .25s,visibility 0s linear .25s;

  &.on {
    opacity: 1;
    z-index: 110;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 7%, 0.36);    
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    visibility: visible;
    transition: opacity .8s ease,visibility 0s;
  }
}

.kr_nike {
  .pre_nav_box {
    display: flex;
    width: 100%;
    padding: 0 38px 0 36px;
    background: #fff;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-end;
    transition: transform .15s ease/* transform .2s ease; */
  }

  .pred_search {
    width: 180px;
    z-index: 1;
    margin: 0;
    transform: translateX(0);
    input {
      &[type="text"] {
        height: 40px;
        visibility: visible;
        width: 100%;
        background: #f5f5f5;
        color: inherit;
        padding: 8px 48px;
        cursor: text;
        font-weight: 300;
        font-size: 16px;
        border-radius: 100px;
        line-height: 1.5;
        box-sizing: border-box;

        &:-ms-input-placeholder, &:-moz-placeholder, &::placeholder {}
      }

      &:hover {
        background: #e5e5e5;
      }
    }
  }

  .pre_search_btn {
  	height:40px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: transparent;
    transform: translateZ(0);
    box-sizing: border-box;

    .ns-search-large {
    	margin-top:1px;
    	font-size:24px;
    	color:#111;
    }
  }
  
  .pre_clear_btn{
  	display: none;
  	position: absolute;
    top: 0;
    right: 2px;
    font-size: 23px;
    padding: 8px;
    border-radius: 50%;
  }

  .pre_search_wrap {
    height: 40px;
    overflow:hidden;
    padding: 10px 20px 0 16px;
    background: transparent;
    transition: background 10ms,height .15s,width .1s;
    z-index: 2;
  }

  .search_close {
    display: flex;
    background: #f5f5f5;
    padding: 0px 9px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 24px;
    visibility: hidden;
    flex: 0 0 auto;
    align-items: center;
    border-radius: 100px;
    transform: scale(0);
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    /* background: transparent; */

    .ns-x-small {
      height: 40px;
      line-height: 40px;     
      font-size:30px; 
      color:#111;      
    }

    &:hover {
      background: #e5e5e5;
    }
  }

  .pre_search_wrap.open {
    width: 100%;
    padding: 0;
    left: 0;
    right: 0;
    position: fixed;
    top: 0px;
    display: inline-block;
    z-index: 3;
    transform: none;
    transition: transform .25s ease .25s;
    height: auto;
    background: #fff;

    /* position: absolute; */

    .search_close {
      visibility: visible;
      animation: b .25s ease .45s forwards;
      z-index: 3;

      img {
        width: 12px;
        height: 12px;
      }
    }

    .pred_search {
      transition: width .25s ease,transform .25s ease;
      position: relative;
      margin: auto 0;
      max-width: 656px;
      width: 656px;
      /* transform: translateX(0) translateX(-36vw) translateX(488px); */
    }

    .search_list {
      padding: 46px 32px 32px 32px;
      .delete-keyword {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 1.2;
        vertical-align: top;
        margin: 2px 0 0 7px;
        transition: opacity .45s .5s,visibility .45s .5s,transform .45s ease .3s;
        border-radius: 50%;
        background: #f5f5f5;
        padding: 0;
      }
      .search_list_title {
        margin-right:20px;
      }
      .btn-delete-all {
        font-size:14px;
      }
    }
  }

  .pre_search_iner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .pre_search_wrap.open .pre_search_iner {
    margin-top: 8px;
    justify-content: center;
  }

  .pre_btn_group {
    display: flex;
    align-items: center;
    z-index: 2;

    .btn_fvrt, .btn_cart, .btn_mobile_menu {
      display: inline-block;
      width: 40px;
      height: 40px;      
      background: transparent;
      flex: 0 0 auto;
      color: rgba(0, 0, 0, 0.54);
      text-align: center;
      border-radius: 100px;
      cursor: pointer;
      display: inline-flex;
      outline: none;
      position: relative;
      align-items: center;  
      box-sizing: border-box;     
    }

    .btn_fvrt {
      margin-right: 4px;	  
      &:hover {
        background: #e5e5e5;
      }     
      	.ns-heart-line{
      	  margin:0 auto;
		  font-size:24px;
		  color:#111;
		}         
    }   
  }

  .pre_search_btn:hover {
    background: #e5e5e5;
  }

  .pre_btn_group {  	
    .btn_cart:hover {
      background: #e5e5e5;
    }

    .btn_mobile_menu {
      &:hover { 
        background: #e5e5e5;
      }

      display: none;
      padding-top: 5px;

      svg {
        display: inline-block;
        width: 24px;
        height: 24px;
      }
    }
  }

  .pre_search_wrap {
    .search_list {
      visibility: hidden;
      transition: opacity 50ms,visibility 50ms linear,height 50ms,transform 50ms;
    }

    &.open .search_list {
      visibility: initial;
      max-width: 656px;
      margin: 0 auto;
      padding: 46px 32px 0;
      transform: translateY(0);
      transition: all .65s;
    }

    .search_list > p {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: none;
    }

    &.open .search_list > p {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: #757575;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: opacity .35s .4s,visibility .35s .4s,transform .25s ease .35s;
    }

    .search_list > ul li a {
      display: block;
      margin-bottom: 12px;
      opacity: 0;
      font-weight: 500;
      font-size: 20px;
      color: #111;
      line-height: 1.2;

      em {
        color: #111;
      }
    }
    .search_list > ul li a:hover{
    	color:#4d4d4d; 
    }

    &.open .search_list > ul li a {
      display:inline-block;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      outline: 0;
      cursor: pointer;
      vertical-align: top;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: opacity .45s .5s,visibility .45s .5s,transform .45s ease .3s;
    }
  }

  .bannerWrap {
    position: relative;
    padding-top: 10px;
    min-height: 48px;
    background: #f5f5f5;
    overflow: hidden;
    z-index: 1;
    transition: all .0s;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;

    .swiper-slide {
      text-align: center;
      color: #111;

      p {
        font-size: 14px;
        line-height: 1.7;
      }

      a {
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }
}

@keyframes b {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

/* heade + banner */

html.not_soroll, 
body.not_soroll {
overflow-y: auto;
}

/* mobile_menu */

.kr_nike {
  .mobile_menu {
  	width : 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    transform: translateX(320px);
    transition: transform .25s;
	visibility: hidden;
	
    &.open {
      width: 320px;
      z-index: 100;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0px);
      transform: translateY(0px);
      transition: transform .25s;
    }
  }

  .mobile_menu_inner {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    padding: 0 36px 150px;
    margin-top: 26px;
    transform: translateX(0);
    transition: transform .25s;

    .mob_gnb > ul > li {
      display: flex;
      width: 100%;
      //min-height: 28px;
      align-items: center;
      padding: 10px 0;

      > a {
        display: flex;
        width: 100%;
        line-height: 1.166667;
        font-weight: 500;
        font-size: 24px;
        color: #111;
        align-items: center;
        justify-content: space-between;
      }

      i {
      	color: #111;
    	font-size: 23px;
      }
    }

    .pre-brand-menu{
      .p{
        line-height: 1;
      }
      .pre-brand-item{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      .pre-icon-column{
        width: 36px;
        height: 30px;
      }
    }

    .join_txt {
      margin-top: 30px;
      margin-right: 12px;
      padding-top: 48px;

      > p {
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        color: #757575;

        a {
          font-weight: 500;
          color: #111;
        }
      }

      .btn_group {
        margin-top: 8px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }

  [class*="btn_sm"] {
    padding: 8px 24px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
    border-radius: 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
}

.btn_sm_dark {
  color: #fff;
  background: #111;

  &:hover {
    color: #fff;
  }
}

.btn_sm_gwhite {
  color: #111;
  -webkit-box-shadow: inset 0 1px 0 0 #ccc, inset -1px 0 0 0 #ccc, inset 0 -1px 0 0 #ccc, inset 1px 0 0 0 #ccc;
  box-shadow: inset 0 1px 0 0 #ccc, inset -1px 0 0 0 #ccc, inset 0 -1px 0 0 #ccc, inset 1px 0 0 0 #ccc;
}

.kr_nike {
  .mobile_menu_inner {
    .join_txt .btn_group [class*="btn_sm"] + [class*="btn_sm"] {
      margin-left: 8px;
    }

    .etc_btns {
      margin-top: 50px;

      ul > li {
        margin-top: 12px;

        a {
          display: block;
          height: 33px;

          i {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 33px;

            .num {
              position: absolute;
              left: 0;
              text-align: center;
              width: 32px;
              top: 11px;
              font-size: 12px;
            }
            .num-point {
              width: 16px;
              height: 16px;
              font-size: 10px;
              color: #fff;
              position: absolute;
              top: 2px;
              left: 16px;
              border-radius: 16px;
              line-height: 14px;
              font-weight: bold;
              text-align: center;
              background-color: #FF6600;
            }
            img {
              width: 24px;
              height: 24px;
            }
          }
          i.ns-heart-line{
        	font-size: 24px;
			color: #000;
          }
          i.ns-heart-line:before{
          	line-height: 33px;
          }
          .ns-heart-line + span{
          	padding-left: 0;
          }
          i.ns-briefcase-line{
          	font-size: 32px;
    		margin-left: -5px;
          }
          i.ns-box-line{
          	font-size: 24px;
    		color: #333;  
          }
          i.ns-box-line + span{
          	padding-left: 0;
          }
          i.ns-box-line:before{
          	line-height: 33px;          
          }
          .ns-help-line{
          	font-size: 25px;
    		line-height: 33px;
          }
          .ns-help-line + span{
          	padding-left: 0;
          }

          > span {
            display: inline-block;
            padding-left: 5px;
            vertical-align: top;
            font-weight: 500;
            font-size: 16px;
            line-height: 33px;
          }
        }
      }
    }

    &.rotate {
      transform: translateX(-320px);
      transition: transform .25s;
    }
  }

  .mobile_menu_panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 36px 150px;
    margin-top: 20px;
    transform: translateX(320px);
    transition: transform .25s;

    &.view {
      /* transform: translateX(0px); */

      transition: transform .25s;
    }

    &.rotate {
      /* transform: translateX(-320px); */

      transform: translateX(320px);
    }
  }

  .btn_back_panel {
    margin-bottom: 28px;
    height: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px 0;

    i {
      display: inline-block;
      width: 12px;
      margin-right: 16px;

      img {
        vertical-align: top;
      }
    }
  }

  .menu_panner_idx {
    display: none;

    &.on {
      display: block;
    }
  }

  .pat_tit {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166667;
  }

  .mobile_menu .pat_tit {
    margin-bottom: 16px;
    padding: 7px 0;
    color: #111;
  }

  .panel_con ul li {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px 0;

    a {
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: #757575;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    i {
      opacity: .5;
      fill: #757575;

      img {
        vertical-align: top;
      }
    }
  }

  .mobile_menu_panel.rotate.current {
    display: block;
  }

  .mob_gnb ul > li {
    .mobile_menu_panel.depth2 {
      display: none;
    }

    &.on .mobile_menu_panel.depth2 {
      display: block;

      &.rotate {
        transform: translateX(0px);
      }
    }
  }

  .depth2 .next_pnl > li {
    .mobile_menu_panel.depth3 {
      transform: translateX(640px);
    }

    &.on .mobile_menu_panel.depth3 {
      transform: translateX(320px);
    }
  }

  .mob_gnb > ul > li.on .mobile_menu_panel.depth3.view {}
}

/* .kr_nike .mobile_menu_inner .mob_gnb > ul > li.on .mobile_menu_panel{transform: translateX(320px);}
 */

/* .kr_nike .mobile_menu_panel .mobile_menu_panel{transform: translateX(934px);}
 */

/* .kr_nike  .mobile_menu_panel.rotate{display: none;}
 */
/* 
.kr_nike .mobile_menu_panel.view.depth3{transform: translateX(0px);}
.kr_nike .mobile_menu_panel .mobile_menu_panel.depth3{transform: translateX(960px);} 
.kr_nike .mobile_menu_panel .open .mobile_menu_panel.depth3{transform: translateX(640px);}
.kr_nike .mobile_menu_inner .mob_gnb > ul > li .mobile_menu_panel.depth2,
.kr_nike .mobile_menu_inner .mob_gnb > ul > li .mobile_menu_panel.depth2.rotate{display: none;transform: translateX(0px);}
.kr_nike .mobile_menu_inner .mob_gnb > ul > li.on .mobile_menu_panel.depth2{display: block;transform: translateX(320px);}
.kr_nike .mobile_menu_inner .mob_gnb > ul > li.on .mobile_menu_panel.depth2.rotate{display: none;transform: translateX(0px);}
.kr_nike .mobile_menu_inner .mob_gnb > ul > li.on .mobile_menu_panel.depth3.view{transform: translateX(320px);} */

.nk_temp {
  height: 1500px;
}

.kr_nike {
  .info_box {
    position: absolute;
    min-width: 240px;
    right: 0;
    top: 36px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 0 0 8px 8px;
    transform: translateY(-20px);
    transition: opacity .2s,visibility 0s linear .2s,transform .25s ease;
  }
  .info_inner {
    padding: 24px;

    > a {
      display: block;
      margin-bottom: 12px;
      padding: 4px 8px;
      font-size: 16px;
    }

    ul li a {
      padding: 4px 8px;
      font-size: 14px;
      line-height: 1.428571;
      display: block;
      color: #757575;
    }
  }
  .dropMenu.open .info_box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .2s,visibility 0s,transform .25s ease;
  }
  .my_cart i {
    margin-top: 11px;
    font-size: 23px;
  }
  .dropMenu p {
    margin: 0 0 0 10px;
    line-height: 40px;
    font-size: 12px;

    i {
      position: relative;
      width: 36px;
      height: 36px;
      display: inline-block;
      text-align: center;
      line-height: 36px;
      border-radius: 50%;

      &:hover {
        background: #e5e5e5;
      }
    }
    .ns-profile-line{
    	display: inline-block;
    	font-size: 24px;
    }
    .ns-profile-line:before{
    	position: absolute;
    	left: 6px;
    	top: 6px;
    }
  }

  .desk_user {
    > ul > li + li:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 10px;
      background: #333;
      position: absolute;
      top: 12px;
      left: 0px;
    }

    .my_cart {
      position: relative;

      .num {
        position: absolute;
        top: 10px;
        right: 3px;
        width: 16px;
        height: 16px;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        color: #fff;
        background: #fa5400;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }

  .mobile_menu_inner .mob_gnb > ul > li.nav_login {
    margin-bottom: 14px;
    padding: 10px 0;
    line-height: 1.166667;
    justify-content: space-between;

    a {
      width: auto;
      font-size: 16px;
      font-weight: bold;
    }

    .gnb_menu a {
      display: inline;
      font-size: 22px;
      margin-left: 6px;
      color: #a1a1a1;
    }
  }

  .nav_login {
    display: flex;
    margin-bottom: 14px;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;

    a {
      width: auto;
      font-size: 16px;
      font-weight: bold;
    }

    .gnb_menu a {
      display: inline;
      font-size: 22px;
      margin-left: 6px;
      color: #a1a1a1;

      &.member-sub-menu{
        color:#000;
        padding:0px 10px;
        margin-right: -10px;
      }
    }
  }

  .pre_search_wrap.open {
    -ms-overflow-style: none;
    overflow-y: scroll;
    z-index:120;

    &::-webkit-scrollbar {
      display: none;
    }

    .search_list {
      > ul.after {
        display: none;
      }

      &.active {
        > ul.ui-menu.ui-widget {
          display: block;
        }

        .first {
          display: none;
        }
      }
    }
  }

  .pred_search > span {
    display: block;
    z-index: 3;
  }

  .pre_search_wrap .search_list {
    .ui-menu.ui-widget {
      display: none;
    }

    &.active .ui-menu.ui-widget {
      display: block;
      position: relative;
      top: 0px !important;
      left: 0l !important;
      right: auto !important;
      width: auto !important;
      z-index: 5 !important;
      cursor: default;
      background-color: #ffff !important;
      border: none !important;
      padding: 0;

      a em:hover {
        border-bottom: 0;
      }
    }
  }

  .pre_btn_group .btn_cart {
    position: relative;
    padding:0 4px;
    
	.ns-briefcase-line{
		font-size:32px; 
		color:#111;  	 
	}	

    .num {
      width: 40px;
      font-size: 12px;
      color: #111;
      position: absolute;
      top: 12px;
      left: 0px;
    }

    .num-point {
      width: 16px;
      height: 16px;
      font-size: 10px;
      color: #fff;
      position: absolute;
      top: 8px;
      left: 20px;
      border-radius: 16px;
      line-height: 14px;
      font-weight: bold;
      background-color: #FF6600;
    }

  }
}

 
.section-header.fixed{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   padding:2px 48px;
   background: #fff;
   z-index: 20;
   min-height:66px;
   -webkit-transition: -webkit-transform 150ms ease;
    -webkit-transition: transform 150ms ease;
    transition: transform 150ms ease;
    transform: translateY(0px);
   .section-broadcomb{display:none !important;}
   .section-title h1{padding:15px 0 14px;font-size: 18px;}
}
.section-header.fixed.sticky{
   transform: translateY(60px); 
   z-index:10;
}



/***** media 1023 ******/
@media (max-width: 960px) {

  html.not_soroll, 
  body.not_soroll {
	overflow-y: hidden; 
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	
	.header {
		overflow: initial;
	}
  }
  .kr_nike {
  	position: relative;
	width: 100% !important;
  }

  .kr_nike {
    .header {
    	overflow: hidden;
    	
    	&.hdn{
    		overflow: initial;
    	}
    	&.fixed{
    		overflow: initial;
    	}
    	&.reset{
    		overflow: initial;
    	}
    	&.nav_up{
    		overflow: initial;
    	}
   /*   padding: 0 14px 0 16px;
      transform: translateY(0px); */
      
      .pre_nav_box{padding: 0 14px 0 16px;
      
      }
    }
    .header.reset .pre_nav_box{
    	position: relative;
	  	transform: translateY(0px);
	  	transition: none;
	  }
	.header.nav_up{
		z-index:10;
		width:100%;
	}
	.header.nav_up .pre_nav_box{
	    transform: translateY(-60px);
	}
	.not_soroll .header.nav_up .pre_nav_box{
	    transform: translateY(0px);
	}
    .pre_header, .nk_gnb {
      display: none;
    }
    .header h1 {
      left: 11px;

      &.top {
        display: none;
      }

      a {
        width: 60px;
      }
    }

    .pre_search_wrap {
      overflow: visible;
      &.open {
        .search-container{
          overflow-y: auto;
          display: block;
          height: calc(100% - 90px);
          min-height: calc(100% - 90px);
          padding-bottom: 20px;
        }

        .search_list {
          >ul[data-recently-searched-keyword-list] {
            li {
              a {
                display: inline-block;
                margin: 0 0 12px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: top;
              }
            }
          }
          .btn-delete-all{
            float: right;
          }
          .delete-keyword {
            float: right;
          }
        }

        .pre_search_iner {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          justify-content: flex-start;
          
          form{
          	width:100%;
          }
        }

        .pred_search {
          max-width: 100%;
          width: 100%;
          padding: 0 74px 0 24px;
          box-sizing: border-box;
        }

        height: 100vh;
        position: absolute;
        /* position: absolute;left: 0;width: 100%;background: #fff; */

        top: 0;
        bottom: 0;
        overflow-y: hidden;
        transform: translateY(0px);
      }

      width: 40px;
      padding: 10px 0 0;
      right: 65px;
      z-index: 3;
    }

    .pred_search {
      width: 40px;
    }

    .pred_search input[type="text"] {
      padding: 0;
      width: 0px;
      background: transparent;
    }

    .pre_search_wrap.open .pred_search input[type="text"] {
      width: 100%;
      padding: 8px 48px;
      background: #f5f5f5;
    }

    .pre_btn_group {
      .btn_cart {
        margin-right: 56px;        
      }

      .btn_fvrt {
        display: none;
      }

      .btn_mobile_menu {
        display: block;
        z-index:100;
        .ns-menu-small{
        	font-size: 22.5px;
    		color: #000;
    		margin-top: 5px;
        }
      }
    }

    .pre_search_wrap.open .search_list {
      display:inline-block;
      width:100%;
      margin: unset;
      max-width: 100%;
      box-sizing: border-box;
      height: auto;
      padding: 32px 20px 0px 20px;
    }

    .pre_search_btn {
      left: auto;
      right: -86px;
      z-index: 100;
    }

    .pre_search_wrap.open .pre_search_btn {
    	left: 25px;
    	width: 40px;
    }
    
    .pre_clear_btn{
    	right: 77px;
    }
    

  }
}

/***** media gnb ******/


.wrapper{z-index:10;}

@media only screen 
    and (device-width : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 
	
	html,
	body{
		min-width: 375px;	
	}
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
	
}

@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) {
    
    
    html.not_soroll, 
    body.not_soroll{
    	overflow-y:hidden;
    }
}
