/*********************************************************************/
/* header
/*********************************************************************/
body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

header {
  margin: 0 auto;
}

.header_layout_1 {
  /* 2020-10-26
  position: fixed;
  width: 100%;
  z-index: 192;
  background: #fff;
  border-bottom: 1px solid $gnb_border-color_type1;
  */
  /* GNB  모바일 검색 inputbox   */
    #mobile_new_search_fild{
        display:none;

        .gnb-subsearch-field{
            margin: 10px 10px 10px 10px;
        }

        .search_inputbox{
            background-color:#f2f2f2;
            padding: 10px 30px 10px 42px;
            border-radius: 10px;
        }

        .deletebtn{
            position: absolute;
            width: 18px;
            left: 17px;
            height: 40px;
            padding: 0;
            background: transparent;
            z-index: 3;
        }

        .ns-search{
            display: block;
            font-size: 20px;
            color: #020202;
        }

    }


  /* GNB
		/*****************************************************************/
  .header-gnb {
    position: relative;
    color: $gnb_color-type1;
    font-size: $font-size-s;
    background: $gnb_bg-color-type1;
    box-sizing: border-box;
    border-bottom: 1px solid $gnb_border-color_type1;
    z-index: 102; // 개인 정보 레이어 관련 z-index 정의
    a {
      display: inline-block;
      padding: 10px 0;
      color: $gnb_color-type1;
    }

    > .header-gnb_maxwidth {
      max-width: 100%;
      margin: 0 auto;

      > .header-event {
        float: left;
        span {
          display: inline-block;
          padding: 10px 0;
        }
      }

      > .header-mymenu {
        float: right;
        padding: 0;
        margin: 0 20px 0 0;

        > li {
          position: relative;
          display: inline-block;
          margin-left: 0;
          a {
            display: inline-block;
            padding: 0 11px;
            line-height: 38px;
            &:hover {
              color: $font-1; //20180307 추가
            }
          }
          .join {
            padding-right: 0; //20180307 추가
          }
          .login {
            padding-left: 0; //20180307 추가
          }

          .log_user {
            display: inline-block;
            &:hover,
            &.on {
              height: 36px;
              border-bottom: 2px solid #111;
              .ns-profile {
                color: $font-1;
                background-color: #e5e5e5;
              }
              .user_name {
                color: $font-1;
              }
            }
            .user_name {
              //20180309 추가
              padding: 0 11px 0 5px;
            }

            .ns-profile {
              display: inline-block;
              border-radius: 50%;
              background-color: #e5e5e5;
              width: 20px;
              height: 20px;
              line-height: 20px;
              font-size: 13px;
              text-align: center;
            }
            li {
              a {
                padding: 0 11px 6px 11px;
                line-height: 18px;
                font-size: 12px;
                line-height: 18px;
              }
            }
          } //20180525추가

          .cart-item {
            position: relative;
            .ns-cart {
              font-size: 23px;
              vertical-align: middle;
              &:hover {
                color: $font-1; //20180307 추가
              }
            }
            .cart-num {
              position: absolute;
              top: 6px;
              right: 0;
              display: block;
              width: 16px;
              height: 16px;
              background-color: $primary-sub-color;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              color: $font-6;
              text-align: center;
              font-size: 11px;
              line-height: 16px;

              &.empty {
                display: none;
              }
            }
          }
          .ns-pin{
            font-size: 18px;
            position: relative;
            top:4px;
            padding-right:8px;
          }
        }
        .flag-kr {
          @extend .icon-language; // nike에 정의
          height: 15px;
          background-position: left top;
          background-size: 20px 15px;
          margin-right: 15px;
          padding-left: 22px;
          color: $font-6;
          line-height: 11px;
          vertical-align: middle;
        }
        .account-box {
          position: absolute;
          background-color: #fff;
          opacity: 1;
          top: 38px;
          /*20180528 삭제
							padding: 25px 30px 18px;
							width: 216px;
							border: 1px solid #e1e1e1;
							right: -81px;
						*/
          border-radius: 4px 0 4px 4px;
          font-size: 14px;
          line-height: 34px;
          box-sizing: border-box;
          z-index: 101;
          ///20180528 추가
          visibility: visible;
          padding: 31px 32px 26px 32px;
          width: 156px;
          border: 1px solid #e0e0e0;
          right: -57px;
          > a {
            display: block;
            color: $font-1;
            font-size: 12px;
            //20180604 삭제 padding: 0 11px 6px 11px;
            padding: 0 11px 6px 0; //20180604 추가
            line-height: 18px;
          }
        }
        .cscenter-box {
          position: absolute;
          top: 38px;
          right: -81px;
          width: 216px;
          background-color: #fff;
          opacity: 1;
          padding: 25px 20px 18px 30px;
          border: 1px solid #e1e1e1;
          border-radius: 4px 0 4px 4px;
          font-size: 14px;
          line-height: 34px;
          box-sizing: border-box;
          z-index: 101;
          > a {
            display: block;
            color: $font-1;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .header-brand {
      li {
        display: inline-block;
        border-right: 1px solid $gnb_border-color_type1;
        a {
          display: inline-block;
          height: 38px;
          line-height: 38px;
          padding: 0 20px;
          min-width: 50px;
          text-align: center;
          vertical-align: top;
          span {
            vertical-align: top;
            line-height: 38px;
            &:hover {
              color: $font-1; //20180307 추가
            }
          }
        }
        .ns-jordan {
          font-size: 21px;
          &:hover {
            color: $primary-color;
          }
        }
        .ns-logo-converse {
          font-size: 72px;
          max-height: 21px;
          margin-bottom: 2px;
          &:hover {
            //color: $font-0;
            color: $font-1; //20180307 추가
          }
        }
      }
    }
  }

  /* LNB - menu, search관련
		/*****************************************************************/
  .header-lnb {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 0 32px 0 30px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    z-index: 101; /* slider버튼 z-index위치관련 처리 */
    background: $gnb_bg-color-type1;
    border-bottom: 0px solid $gnb_border-color_type1;    /*라인 적용위치 변경 header1  */
    align-items: center;
    justify-items: center;
    &.fixed {
      position: fixed;
    }

    // 주문결제 헤더 로고만 있는거 전체 공통
    &.align-center {
      .header-logo {
        display: flex;
        float: inherit;
        width: 100%;
        min-height: 50px;
        padding: 0;
        align-items: center;

        .header-item {
          height: 70px;
          display: flex;
          vertical-align: middle;
          align-items: center;
        }
        img {
          max-height: 44px;
        }
      }
    }

    a {
      //color: $lnb_color-type1;
      color: #111; //20180308수정
    }

    .header-logo {
      display: flex;
      width: 194px;
      height: 70px;
      padding: 15px 0;
      text-align: left;
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 28.05px;
      align-items: center;
    }
    .header-item {
      display: flex;
      align-items: center;
      // display: table-cell;
      // vertical-align: middle;
      img {
      }
    }
    .category-title {
      font-size: 18px;
      color: $title_category-color;
    }
    .mobile-header-title {
      display: none;
    }

    /* submenu - 1depth, 2depth, 3depth
			/*****************************************************************/
			.header-menu_onedepth{
				// float:left;
				display: inline-block;
				padding:0;
				line-height:26px;
				text-align:center;
				vertical-align: middle;
        width: calc(100% - 418px);

				> .onedepth-list {
					position: static;
					display:inline-block;
					padding:0 20px;

					&:first-child {
						// padding-left:0;
					}
					> a {
						position: relative;
						font-size: 16px;
						font-weight: 400;
						&.active {
							&:after {
								content:'';
								display: block;
								position: absolute;
								bottom: -25px;
							    width: 100%;
							    height: 2px;
							    background: #111;
							    padding: 0 20px;
							    margin-left: -20px;
							}
						}
					}

					> .header-menu_twodepth.active {
						display:block;
					}

					.img-menu {
						img {
							height: 13px;
							margin-top: -2px;
						}
					}
				}

				.twodepth-maxwidth {			// header의 submenu max넓이값 지정
					position: relative;
					max-width: 980px;
					margin: 0 auto;
					overflow: hidden;
				}
				.twodepth-submenu-t1 {
					display: block;
					float: left;
					width: 180px;
					padding-left: 30px;
					text-align: left;
					font-size: 16px;
					font-weight: bold;
				}
				.twodepth-submenu-t2 {
					display: block;
					float: left;
					width: 187px;
					&:nth-child(2n) {
						width: 167px;
						padding-left: 30px;

						&:before {
							content:'';
							display: block;
							position: absolute;
							top: 0;
							left: 211px;
							width:1px;
							height: 100%;
							border-left:1px solid $border-2;
						}
						&:after {
							content:'';
							display: block;
							position: absolute;
							top: 0;
							left: 596px;
							width:1px;
							height: 100%;
							border-left:1px solid $border-2;
						}
					}
				}

				.header-menu_twodepth {
					display:none;
					position:absolute;
					top: 68px;
					left:0;
					width: 100%;
					min-width:120px;
					padding: 45px 0;
					margin: 0 auto;
					border:1px solid $border-2;
					background: $lnb_depth2-bg-type1;
					line-height:30px;
					text-align: left;

					.twodepth-list{
						> a{
							display:block;
							color: $lnb_depth2-color-type1;
							font-size: 16px;
							font-weight: bold;
							&:hover {
								color: $lnb_depth2-color-type1-over;
							}
						}

					}
				}

				.header-menu_threedepth {
					color: $lnb_depth3-color-type1;
					line-height: 1.8;
					a {
						&:hover {color: $lnb_depth3-color-type1-over;}
					}
					.threedepth-list {
						> a {
							color: $lnb_depth3-color-type1;
							font-size: 13px;
							&:hover {color: $lnb_depth3-color-type1-over;}
						}
						&.bold {font-weight: bold;}
					}
				}

				.back-img {
					width:320px;
					background-image:url("#{$contextPath}/assets/images/menu_back.png");
					background-repeat:no-repeat;
					background-position:bottom right;
				}
			}

			.header-menu_etc {
				display: none;
				position:relative;
				// display: table-cell;
				vertical-align: middle;
				text-align: right;

				> a {
					&:first-child {margin-left:0;}
					display:inline-block;
					margin-left:13px;
				}
				.cart-num {
					position: absolute;
					top:0;
					right:-9px;
					display: block;
					width: 16px;
					height: 16px;
					background-color: $primary-sub-color;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					color: $font-6;
					text-align: center;
					font-size: 11px;
					line-height: 16px;

					&.empty {display:none;}
				}
			}

			.gnb-search-field {
				display: flex;
				//20180612 수정 width: 194px;
				width: 224px; //20180612 추가
                float: right;  //스니커즈 비회원 주문시 로그인 페이지, 검색 창 우측 정렬...
				&.active {
					display: block !important;
				}
				.search-field {

					.input-textfield {
						z-index: 2;			// 검색어 border관련 z-index지정
					}
					.btn_search {
						position: absolute;
						top: 0;
						//20180612 삭제 left: 0;
						//20180612 삭제 width: 40px;
						width: 18px;  //20180612 추가
						left: 27px;
						height: 40px;
						padding: 0;
						background: transparent;
						z-index: 3;			// 검색어 border관련 z-index지정
						.text {
							display: none;
						}
						.ns-search {
							display: block;
							font-size: 20px;
							color: #020202;
						}
					}

					.search-mask {
						display: none;
						position: fixed;
						top: 108px;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(0, 0, 0, 0.5);
						z-index: 1110;
					}  //20180517 추가
				}

				.input-textfield {  // input 스타일 공통요소인지 파악해서 상위로 빼는것 고려
					> label {
						left: 41px;
						font-size: 13px;
					}
					> input {
						height: 40px;
						padding: 10px 30px 10px 49px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
						//20180612 삭제 border-radius: 4px;
						border-radius: 2px; //20180612 추가
					}
				}
			}

			.header-menu_mobile {
				display:none;

				&:after {content:""; display:block; clear:both;}

				> a {
					display:block;
					width:21px;
					height:21px;
					text-indent:0;
					// font-weight:bold;
					font-size:21px;
					color: $font-0;

					> i {float:left;}
				}
			}

      ul {
        list-style:none;
        margin:0;
        padding:0;
        border:0;
        + ul{
          padding-top:10px;
        }
      }
     
			.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
		}
	}



	.ui-autocomplete {
		position: absolute;
		top: 108px !important;
		left: initial !important;
		right: 0 !important;
		width:256px !important;
		z-index:1000 !important;
		cursor: default;
		background-color:#F7F7F7 !important;
		border:none !important;
		padding:20px 48px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		overflow: hidden;

		*, *:before, *:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		li {
			a, .ui-menu-item-wrapper {
				font-size:13px;

				line-height:42px;
				overflow: hidden;
				word-wrap: normal;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: block;

				.highlight {
					font-weight:bold;
				}

				em {
					color:#111;
					display: inline-block;
					padding-bottom:0;
					border-bottom:1px;
					line-height:28px;
				}
				em:hover {
					border-bottom:1px #b9b9b9 dotted;
				}
			}

			.ui-state-active {
				background:none !important;
				border:none !important;
			}
		}
	}

	@media (max-width:$breakpoint-small) {
		.ui-autocomplete {
			width:100% !important;
			top: 60px !important;
		}
	}


	/* mobile menu
	/*****************************************************************/
.mobile-menu_wrap {
  font-size: 14px;

  &.con_menu {
    .uk-offcanvas-bar {
      width: calc(100% - 120px) !important;
    }
  } //20180326 width 720px 에서 왼쪽 간격 40px 수정

  .uk-offcanvas-bar {
    background-color: $mc-lnb_bg-color;
  }
  .user-state {
    height: 60px;
    border-bottom: 1px solid $mc-lnb_border-color;
    padding-left: 25px;
    background-color: $mc-lnb_state-bg-color;
    box-sizing: border-box;

    .title {
      display: inline-block;
      margin-left: 4px;
      // font-weight:bold;
    }
  }
  .location {
    height: 60px;
    border-bottom: 1px solid $mc-lnb_border-color;
    padding: 14px 25px;
    background-color: $mc-lnb_state-bg-color;
    box-sizing: border-box;

    .title {
      display: inline-block;
      margin-left: 4px;
      // font-weight:bold;
    }
  }
  .user-state {
    a {
      color: $mc-lnb_state-font-color;
      display: inline-block;
      padding: 23px 0;
      vertical-align: top;
    }
    .icon-home{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 22px;
      padding: 18px 12px 18px 6px;
    }
    .icon-qrcode{
      position: absolute;
      top: 0;
      right: 38px;
      font-size: 20px;
      padding: 20px 6px;
    }
  }
  .mobile-title {
    width: 100%;
    padding: 17px 25px;
    background-color: $bg-1;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    color: #8d8d8d;
  }
  .mobile-menu_twodepth {
    .location {
      padding: 14px 0; //20180321 수정
      position: relative; //20180321 추가
      i {
        // font-weight:bold;
        vertical-align: middle;
        color: $mc-lnb_depth1-color;
        display: block; //20180321 추가
        position: absolute; //20180321 추가
        top: 50%; //20180321 추가
        margin-top: -7px; //20180321 추가
        left: 25px; //20180321 추가
      }
      .title {
        padding: 10px 0;
        color: $mc-lnb_depth1-color;
        display: inline-block; //20180319추가
        width: 100%; //20180321수정
        margin-left: 0; //20180319추가
        text-align: center; //20180319추가
      }
    }
  }
  .mobile-onedepth_list {
    // > a {font-weight:bold;}
  }

  .mobile-onedepth_list,
  .mobile-twodepth_list,
  .mobile-threedepth_list {
    > a {
      width: 100%;
      display: inline-block;
      padding: 14.5px 25px;
      color: $mc-lnb_depth1-color;
      box-sizing: border-box;
      border-bottom: 1px solid $mc-lnb_border-color;
    }
  }

  .mobile-threedepth_list {
    &:last-child {
      border-bottom: 0;
    }
    background-color: $mc-lnb_depth3-bg;
    > a {
      padding: 14.5px 25px;
    }
  }

  .icon-arrow_right {
    float: right;
    line-height: 20px;
  }
  .store_btn,
  .custom-center_btn,
  .logout_btn {
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    color: $mc-lnb_etc-font-color;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.mobile-menu_onedepth {
  height: auto;
}

.mobile-menu_twodepth {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  //20180326 삭제 width:270px;
  width: 100%; //20180326추가
  top: 0;
  bottom: 0;
  left: 270px;
  background-color: $mc-lnb_depth2-bg;
}

.mobile-menu_threedepth {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  //20180326추가 width:270px;
  width: 100%; //20180326추가
  top: 0;
  bottom: 0;
  left: 270px;
  background-color: $mc-lnb_depth2-bg;
  .location {
    padding: 14px 0; //20180321 수정
    position: relative; //20180321 추가
    i {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      left: 25px;
    } //20180321 추가
    .title {
      display: inline-block;
      width: 100%; //20180321수정
      margin-left: 0;
      text-align: center;
    }
  } //20180319 추가
}

.mobile-customer_wrap {
}

.mini-cart-cnt {
  position: absolute;
  top: 0;
  right: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: $cart-icon_qty-bg;
  color: $cart-icon_qty-color;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  &.empty {
    &:after {
      display: none;
    }
  }
  &:after {
    // content: attr(icon-text-attr);
  }
}


.snkrs{
  .mobile-menu_wrap{
    .icon-qrcode{
      position: absolute;
      top: 0;
      right: 0px;
      font-size: 22px;
      padding: 14px 14px;
      z-index: 1;
    }
  }
}



/*********************************************************************/
/* mobile responsible
/*********************************************************************/

/* Phone landscape and bigger */
@media (max-width: $breakpoint-small) {
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) { 
  .wrapper {
    padding-top: 0 !important; // 모바일에서 fix해제로 padding값 0
  }

  .header-menu_mobile {
    a {
      i {
        &.icon-arrow_left {
          font-size: 18px;
          padding-top: 3px;
        }
      }
    }
  }

  .header_layout_1 {
    position: static !important; // 모바일에서 고정 제외
    .header-gnb {
      display: none; // 상단 메뉴 안보이게 처리
      .header-gnb_maxwidth {
        .header-event {
          float: none;
          text-align: center;
        }
        .header-mymenu {
          display: none;
        }
      }
    }

    .header-lnb {
      height: 59px; // 모바일 헤더 높이값
      padding: 0;

      // 주문결제 헤더 전체 공통
      &.align-center {
        .header-logo {
          padding: 3px 0 0 0;
        }
      }
      .header-logo {
        float: none;
        // width: 100%;
        height: 59px; // 모바일 로고 세로값  사이즈
        padding: 0 0 0 24px;
        background-size: 533px auto; // pc용 이미지 축소
        box-sizing: border-box;

        .header-item {
          img {
            max-height: 50px;
          }
        }
      }
      .header-item {
        display: inline-block;
        margin-left: 27px; // 헤더 우측여백
      }
      .mobile-header-title {
        display: inline-block;
        display: none; // 마이페이지 헤더 타이틀 비노출처리
      }
      .header-menu_etc {
        position: absolute;
        top: 14px;
        right: 80px;
        display: block;
        > a {
          margin-left: 21px; // 헤더 우측 아이콘간의 여백
        }
        // i {
        // 	&.large {font-size:26px;}
        // }
      }

      .gnb-search-field {
        display: none; // 검색 안보이게 처리
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0;

        .search-field {
          .input-textfield {
            > label {
              top: 23px;
              left: 28px;
              font-size: 14px;
              color: #757575;
            }
            > input {
              border: 0;
              height: 59px;
              //20180612삭제 padding: 0 0 0 51px;
              padding: 0 0 0 51px; //20180614 수정
              color: #737373; //20180612 추가
              font-size: 14px; //20180628 수정
            }
            .search_icon {
              position: absolute;
              top: 20px;
              left: 25px;
              color: #020202;
              font-size: 22px;
            } //20180614 디자인변경으로 추가
            .btn-wrap {
              display: none !important;
            }
          }
          .btn_search {
            // mc에서 검색 버튼 비노출처리
            display: none;
          }

          .btn-search-close {
            position: absolute;
            top: 50%;
            right: 24px;
            margin-top: -7px;
            //20180628 삭제 font-size: 13px;
            font-size: 14px; //20180628 추가
            color: #737373;
            z-index: 2;

            > span {
              display: inline-block;
              padding: 16px 15px;
              font-size: 22px;
              color: #111111;
            }
          }
        }
      }

      .header-menu_mobile {
        display: block;
        position: absolute;
        top: 17px;
        right: 27px; // 헤더 우측여백
      }

      .header-menu_onedepth {
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: -320px;
        bottom: 0;
        width: 300px;
        padding: 20px 0;
        line-height: 1;
        float: none;
        background: $mc-lnb_bg-color;
        z-index: 1000;

        > .onedepth-list {
          display: block;
          padding: 0;

          > a {
            display: block;
            padding: 20px 30px;
          }
        }

        .header-menu_twodepth {
          display: none;
          position: static;
          width: 100%;
          padding: 10px 0;
          border: 0;
          margin: 0;
          background: $mc-lnb_depth2-bg;
          line-height: 30px;

          &.active {
            display: block;
          }
          .twodepth-list > a {
            display: block;
            padding: 5px 30px;
          }
        }

        a {
          color: $mc-lnb_depth1-color;
          font-size: 12px;
        }
      }
    }
  }
}
