.location-title {
	font-size: 24px;
	color: $font-1;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 24px;
	padding-left: 33px;
	padding-bottom: 24px;
	box-sizing: border-box;
	border-bottom: 1px solid $border-3;
}
.location-map{
	overflow:hidden;
	height:100%;
	min-height:650px;
	margin-left:472px;
	box-sizing:border-box;
}


#store-form {   /* 매장 검색입력창 넓이값 적용 */
	float: left;
	width: 340px;
}
#service-filter-area {    /* 매장 검색입력창 넓이값 적용 */
	clear:both;
	padding: 0 24px 50px 24px;
	border-bottom: 1px solid #e1e1e1;
	position: absolute;
    top: 58px;
	right: 0;
	left: 0;
    background: #fff;
    z-index: 10;

	.input-checkbox {
		float: left;
		width: 50%;
		padding: 15px 0;
		font-size: 14px;
		color: $font-1;

		label {
			span {
				font-size: 12px;
				color: #8d8d8d;
			}
		}
	}
	.filter-btn {
		clear:both;
		margin: 20px 0 0 0;
		width: 156px;
	}
}
.location-search {
	position:absolute;
	width: 472px;
	top: 73px;
	padding-top: 15px;
	font-size:12px;
	background-color:$bg-1;
	overflow:hidden;

	.search-field {
		padding: 0 0 15px 24px;
		box-sizing: border-box;

		.input-textfield {
			width: 315px;
			& > label {
				font-size: 20px;
				color: $font-5;
			}
			& > input {
				border-right-width: 1px;
			 	padding: 12px 12px 12px 50px;
			 	font-size: 14px;
			 	color: #666;

			}
			& > .btn-wrap {display:none;}
		}
		.btn_search {
			position: absolute;
			top: 0;
			left: 24px;
			width: 50px;
			height: 42px;
			padding: 0;
			color: $font-1;
			background: transparent;
			.txt {display: none;}
			i {
				display: block;
				font-size: 20px;
			}
		}
	}
	 
	.close {		// 서비스 필터 
		float: left;
		width: 114px;
		margin-left: 11px;
		border: 0;
		height: 42px;
		text-align: left;
		color: $font-1;
		background-color: #fff;
		.arrow {
			padding-left: 10px;
			font-weight: bold;
			color: $font-1;
			font-size: 12px;
		}
	}

	.search-result {
		clear: both;
		overflow:auto;
		height: 586px;
		list-style:none;
		border:0;
		padding:0;
		margin:0;
		text-align:left;
		line-height:1;
		font-size:13px;
		min-height:0;
		.less-items {
			line-height: 2.0
		}
	}

	.search-list {
		position:relative;
		border-top:1px solid $border-2;
		padding-bottom: 24px;
		&:first-child {border-top:0}
		&:hover {
			background-color:$bg-2;
		}

		// a tag hover&active mixin;
		@mixin active {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			border-left:4px solid $primary-color;
		}

		> a {
			display:block;
			padding: 24px 40px 0;
			color:$font-3;

			&:hover {
				&:before {
					// @include active;
				}
				background-color:$bg-2;
			}

			&.active{
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}
		}
	}

	.tit {
		margin:0 0 5px 0;
		font-weight:bold;
		color: $font-1;
		font-size: 14px;
	}

	.address {
		display:inline-block;
		width:100%;
		font-size: 12px;
		line-height: 1.5;
		color: #8d8d8d;
	}

	.phonenum {
		display:inline-block;
		width:100%;
		font-size: 12px;
		line-height: 1.5;
		color: #8d8d8d;
	}

	.icon-wrap {
		position:absolute;
		top:50%;
		right:48px;
		margin-top:-14px;
		font-size: 25px;
		color: $font-1;
	}

	.close-btn {
		padding: 20px;
	    background: transparent;
	    top: 20px;
	    right: 20px;
		.icon {
			font-size: 33px;
			font-weight: bold;
			color: #111;
		}
	}

	/* 매장 type */
	.store-type-box {
		padding: 10px 40px 0;
		.type-nrc {
			display: inline-block;
			height: 20px;
			padding: 0 2px;
			font-size: 12px;
			line-height: 20px;
			background: #000;
			color: #fff; 
			text-align: center;
			vertical-align: middle;
		}
		.type-ntc {
			display: inline-block;
			height: 20px;
			padding: 0 2px;
			line-height: 20px;
			background: #000;
			color: #fff; 
			text-align: center;
			vertical-align: middle;
		}
		.type-reserve {
			display: inline-block;
			height: 20px;
			padding: 0 8px;
			border: 1px solid #000;
			line-height: 20px;
			font-size: 10px;
			letter-spacing: -0.2px;
			color: #000;
			text-align: center;
			vertical-align: middle;
		}
	}

	.store-info-view {
		overflow-y:auto;
		position:absolute;
		top: 0;
		left: 472px;
		bottom:0;
		width:100%;
		padding:30px 40px;
		box-sizing:border-box;
		background-color: $bg-1;
		z-index:3;

		> .info {
			padding-top: 24px;
			.key {float:left; width:80px; padding-top:12px; line-height:1.5;}
			.value {overflow:hidden; padding-bottom: 24px; line-height:1.5;}
			.store-type-box {
				padding: 0;
			}
		}
		.tit {
			margin: 20px 0 24px 0;
		}
		.phonenum {
			margin-top: 24px;
		}

	}
}





/* Tablet and bigger */
@media (max-width: $breakpoint-large) {
	.location-title {
		padding-top: 17px;
		padding-left: 0;
		margin-bottom:0;
		font-size: 15px;
		border-bottom: 0;
		text-align: center;
	}
	#store-form {
		width: calc(100% - 148px);
	}
	.location-search {
		top: 0;
		width: 100%;
		position: relative;
		border-top: 1px solid #e1e1e1;
		.search-field  {
			
			.input-textfield{
				&.large {
					label {

					}
					input {
						border-left-width: 1px;
					}
				}
			}
		}
		.search-result {
			height: auto;
		}
		.search-list {
			> a {
				padding: 24px 70px 0 40px;
			}
		}
		.store-info-view {
			position: inherit;
			left: 100%;
		}
	}
	.location-map {
		margin-left:0;
		min-height: 235px;
	}
	.store-info-view {
		position:relative;
		top: 0;
		padding: 0 40px;
		& > .info {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
}