/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {


	.popup-layer-wrap {
		max-width:100%;
		margin-left:-50%;

		> * {padding:10px 30px;}
		.layer-body {padding:0 30px;}
	}
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.uk-grid {
		margin-left:0;
		> * {padding-left:0;}
	}

	.keyvisual-gallery {
		.imgwrap {
			min-height:400px;
			> img {min-width:630px;}
		}
		.info {
			> .tit {font-size:40px;}
		}
	}

	.contents {
		width:100%;
		padding:0;
		&.news {padding:20px 0;}
		&.margin-large {margin-top:0px;}

		> .contents-title {padding-bottom:30px; font-size:18px;}
		.product-detail_wrap {padding:0;}
		.product-detail_view {padding:0;}

		.list-type {
			margin-top:-20px;
			.product-item {margin-top:20px;}
		}
	}

	// .footer-contents {padding:0 20px;}
	.company-agreement {margin-top:20px;}



	.customer-update{
		padding:10px 10px;
	}

	.customer {
		.title {display:none;}
	}

	/* 마이페이지 - 주문배송, 취소/반품 , as 등 리스트 공통 style _costomer.scss */
	.order-item-wrap {

		padding-bottom: 10px;

		> .item-info,  .item-btn {
			width:100%;
			display:block;
			box-sizing:border-box;
			&:after {content:""; display:block; clear:both;}
		}
		> .item-status {
			display: block;
			width: -moz-calc(100% - 20px);
			width: -webkit-calc(100% - 20px);
			width: calc(100% - 20px);
			margin:20px 0px 0px 20px;
			&.status-type {
				width: 100%;
				margin: 8px 0 0 0;
				padding-left: 20px;
				box-sizing: border-box;
			}

			.status {
				&.uk-margin-top {
					margin-top:0 !important;
				}
			}
		}
		> .item-btn {border-top:1px solid $border-2; margin-top:20px; padding:10px 0px 0px 0px; text-align: center;
			&.item-btn-empty {
				padding-top:0;
				margin-top: 0;
			}
		}

		&.thedraw-item {
			.item-status {
				&.date-type {
					width:100%;
				}
			}
		}

	}

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//checkout
	.mypage-cart {
		padding-right:0;
		.product-opt_cart {
			padding:20px 40px 20px 20px;
		}
		.review_product-opt_cart {
			padding:20px 10px 20px 10px;
		}
	}


	.login {
		text-align:center;
		> .btn-wrap {display:block; width:100%; margin-top:10px;}
	}


	//cart
	.item-container {
		// display:block;

		> .item-list-wrap {display:block; width:100%;}
		> .product-checkout {display:block; width:100%;}
	}





	.order-checkout{
		.contents-title {
			.checkout-status-wrap {float:none; text-align:center;}
		}
	}
}

/* Large screen and bigger */
@media (max-width: $breakpoint-xlarge) {
}
