.section-minicart {
	position:fixed;
	top:0;
	right:0px;
	bottom:0;
	width:100%;
	max-width:330px;
	font-size:12px;
	background: $bg-1;
	z-index:100000;

	.minicart-title{
		color: $title_category-color;
		// font-weight: bold;
		padding:30px 0px 0px 30px;
		&.sub-title{
			font-weight: bold;
			padding: 15px 0 0 30px;
		}
	}

	.cart-order_price {
		padding:0px 30px;
		color:$font-3;

		.order-price, .delivery-price {
			display:inline-block;
			min-width:100%;
			font-size:12px;
			> span {
				float: left;
				padding-top: 5px;
			}
			> strong {
				display:inline-block;
				font-size:20px;
				font-weight: normal;
				float:right;
				color: $prd_total-price;
			}
		}
	}

	.cart-order_deliveryinfo{
		font-size:12px;
		color:$font-3;
		margin-top:15px;
		padding:0px 30px;
	}

	.cart-order_buy {
		padding:0px 30px;
		padding-bottom:50px;
		color: $primary-color;
		.btn-link {width:100%;text-align:center;}
		.total-price {
			> strong {
				display:inline-block;
				min-width:60%;
				margin-bottom:30px;
				font-weight: normal;
				text-align:right;
				font-size:24px;
			}
		}
	}

	.discount-wrap{
		.per{
			font-size:14px;
			color:#FF6600;
		}
	}
}



