.activity_tit .titArea {position: absolute; left: 22px;top: 16px;height:58px;}
.activity_tit * {color: #000;}
.activity_tit { position: relative;width: 100%;background: url(#{$contextPath}/assets/images/bg_activity_tit.gif) repeat-x; background-color:#333;}
.activity_tit .titArea h2 {float: left; color: #fff;display: block;}
.activity_tit .btnArea {float: right;margin-right: 22px;}