/*********************************************************************/
/* nike common
/*********************************************************************/

	/* iconfont - only nike 사용되는 아이콘만 정리
	/*****************************************************************/
		
		[class^="ns-"], [class*=" ns-"] {
			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: 'nike' !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.ns-briefcase-line:before {
			content: "\e94f";
		}
		.ns-converse-logo:before {
			content: "\e940";
		}
		.ns-profile-line:before {
			content: "\e943";
		}
		.ns-arrow-right:before {
			content: "\e944";
		}
		.ns-heart-line:before {
			content: "\e945";
		}
		.ns-box-line:before {
			content: "\e947";
		}
		.ns-help-line:before {
			content: "\e948";
		}
		.ns-arrow-left:before {
			content: "\e949";
		}
		.ns-cancel:before {
			content: "\e94a";
		}
		.ns-search-large:before {
			content: "\e94b";
		}
		.ns-menu-small:before {
			content: "\e94c";
		}
		.ns-pin-round:before {
			content: "\e94d";
		}
		.ns-x-large-bold:before {
			content: "\e94e";
		}
		.ns-sns-share:before {
			content: "\e93e";
		}
		.ns-link:before {
			content: "\e938";
		}
		.ns-ic-share:before {
			content: "\e939";
		}
		.ns-Asset-7:before {
			content: "\e90b";
		}
		.ns-Asset-8:before {
			content: "\e90a";
		}
		.ns-Asset-10:before {
			content: "\e90c";
		}
		.ns-qrcode:before {
			content: "\e93f";
		}
		.ns-ic-login2:before {
			content: "\e900";
			color: #aa8376;
		}
		.ns-chevron-right-medium:before {
			content: "\e909";
		}
		.ns-chevron-left-medium:before {
			content: "\e908";
		}
		.ns-ic-star-review:before {
			content: "\e902";
		}
		.ns-logo-converse:before {
			content: "\e901";
		}
		.ns-ic-account .path1:before {
			content: "\e946";
			color: rgb(229, 229, 229);
		}
		.ns-ic-account .path2:before {
			content: "\e950";
			margin-left: -1em;
			color: rgb(0, 0, 0);
		}
		.ns-ic-sent:before {
			content: "\e941";
		}
		.ns-Asset-23:before {
			content: "\e93d";
		}
		.ns-tt-addwishlist .path1:before {
			content: "\e916";
			color: rgb(255, 255, 255);
		}
		.ns-tt-addwishlist .path2:before {
			content: "\e917";
			margin-left: -2.7373046875em;
			color: rgb(204, 204, 204);
		}
		.ns-tt-addwishlist .path3:before {
			content: "\e918";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path4:before {
			content: "\e919";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path5:before {
			content: "\e91a";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path6:before {
			content: "\e91b";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path7:before {
			content: "\e91c";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path8:before {
			content: "\e91d";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path9:before {
			content: "\e91e";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path10:before {
			content: "\e91f";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path11:before {
			content: "\e920";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path12:before {
			content: "\e921";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path13:before {
			content: "\e922";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path14:before {
			content: "\e923";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-addwishlist .path15:before {
			content: "\e924";
			margin-left: -2.7373046875em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path1:before {
			content: "\e925";
			color: rgb(204, 204, 204);
		}
		.ns-tt-comingsoon .path2:before {
			content: "\e926";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path3:before {
			content: "\e927";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path4:before {
			content: "\e928";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path5:before {
			content: "\e929";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path6:before {
			content: "\e92a";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path7:before {
			content: "\e92b";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path8:before {
			content: "\e92c";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path9:before {
			content: "\e92d";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path10:before {
			content: "\e92e";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-comingsoon .path11:before {
			content: "\e92f";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path1:before {
			content: "\e930";
			color: rgb(204, 204, 204);
		}
		.ns-tt-soldout .path2:before {
			content: "\e931";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path3:before {
			content: "\e932";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path4:before {
			content: "\e933";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path5:before {
			content: "\e934";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path6:before {
			content: "\e935";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path7:before {
			content: "\e936";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-tt-soldout .path8:before {
			content: "\e937";
			margin-left: -2.2109375em;
			color: rgb(46, 46, 46);
		}
		.ns-ic-unlock .path1:before {
			content: "\e93a";
			color: rgb(255, 255, 255);
		}
		.ns-ic-unlock .path2:before {
			content: "\e93b";
			margin-left: -1em;
			color: rgb(115, 115, 115);
		}
		.ns-Asset-12:before {
			content: "\e93c";
		}
		.ns-Asset-1:before {
			content: "\e90d";
		}
		.ns-Asset-22:before {
			content: "\e90e";
		}
		.ns-Asset-3:before {
			content: "\e90f";
		}
		.ns-Asset-4:before {
			content: "\e910";
		}
		.ns-Asset-5:before {
			content: "\e911";
		}
		.ns-Asset-2 .path1:before {
			content: "\e912";
			color: rgb(58, 183, 0);
		}
		.ns-Asset-2 .path2:before {
			content: "\e913";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
		.ns-pin-default-map:before {
			content: "\e914";
		}
		.ns-pin-nike:before {
			content: "\e915";
		}
		.ns-store .path1:before {
			content: "\e903";
			color: rgb(255, 255, 255);
		}
		.ns-store .path2:before {
			content: "\e904";
			margin-left: -1.099609375em;
			color: rgb(255, 255, 255);
		}
		.ns-store .path3:before {
			content: "\e905";
			margin-left: -1.099609375em;
			color: rgb(18, 18, 18);
		}
		.ns-store .path4:before {
			content: "\e906";
			margin-left: -1.099609375em;
			color: rgb(0, 0, 0);
		}
		.ns-mypage .path1:before {
			content: "\e907";
			color: rgb(229, 229, 229);
		}
		.ns-mypage .path2:before {
			content: "\e942";
			margin-left: -1em;
			color: rgb(0, 0, 0);
		}
		.ns-alert:before {
			content: "\e002";
		}
		.ns-arrow-thin-left:before {
			content: "\e00b";
		}
		.ns-arrow-thin-right:before {
			content: "\e00c";
		}
		.ns-cart:before {
			content: "\e00e";
		}
		.ns-check:before {
			content: "\e011";
		}
		.ns-email:before {
			content: "\e013";
		}
		.ns-facebook:before {
			content: "\e014";
		}
		.ns-feed:before {
			content: "\e015";
		}
		.ns-filter:before {
			content: "\e016";
		}
		.ns-grid:before {
			content: "\e01f";
		}
		.ns-heart:before {
			content: "\e020";
		}
		.ns-help:before {
			content: "\e021";
		}
		.ns-home:before {
			content: "\e022";
		}
		.ns-instagram:before {
			content: "\e026";
		}
		.ns-jordan:before {
			content: "\e027";
		}
		.ns-live-chat:before {
			content: "\e02a";
		}
		.ns-lock:before {
			content: "\e02b";
		}
		.ns-menu:before {
			content: "\e02c";
		}
		.ns-minus:before {
			content: "\e02d";
		}
		.ns-nikeid:before {
			content: "\e030";
		}
		.ns-pin:before {
			content: "\e033";
		}
		.ns-pinterest:before {
			content: "\e034";
		}
		.ns-play:before {
			content: "\e035";
		}
		.ns-plus-large:before {
			content: "\e036";
		}
		.ns-plus:before {
			content: "\e037";
		}
		.ns-profile:before {
			content: "\e039";
		}
		.ns-search:before {
			content: "\e03e";
		}
		.ns-swoosh-title:before {
			content: "\e040";
		}
		.ns-swoosh-plus:before {
			content: "\e046";
		}
		.ns-swoosh:before {
			content: "\e048";
		}
		.ns-thumbs-down:before {
			content: "\e049";
		}
		.ns-thumbs-up:before {
			content: "\e04a";
		}
		.ns-twitter:before {
			content: "\e04c";
		}
		.ns-x-small:before {
			content: "\e055";
		}
		.ns-x:before {
			content: "\e056";
		}
		.ns-youtube:before {
			content: "\e057";
		}
		.ns-edit:before {
			content: "\e05d";
		}


		.icon-language {
			display:inline-block;
			overflow:hidden;
			background-image:url('#{$contextPath}/assets/images/ko_flag.png');
			background-repeat: no-repeat;
		}

		[class^="tn-ns-"], [class*=" tn-ns-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'tn-nike' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		}

		.tn-ns-earth:before {
			content: "\e900";
		}


	/*  one depth 카테고리 tab형태의 메뉴 (상단에 위치)
	/*****************************************************************/
	.pt_category-onedepth {
		.title {
		width: 100%;
		height: 51px;
		font-size: 42px;
		font-weight: bold;
		letter-spacing: -0.6px;
		text-align: center;
		color: #111111;
		padding-top:56px;
		padding-bottom: 24px;
		}

		/* nav tag */
		.category-tab-menu {
			height: 17px;
			padding-bottom: 48px;
			text-align: center;
			> li {
				display:inline;                         /*  세로나열을 가로나열로 변경 */
				border-left:1px solid #666666;          /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
				font-size: 14px;
				padding:0 40px;                         /* 각 메뉴 간격 */
				&:first-child {
					border-left: 0;						/* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
		}


	/*  one depth 카테고리 down형태의 메뉴 (하단에 위치)
	/*****************************************************************/
	.catedown-menu_onedepth {
		width: 947px;
		margin: 30px auto 10px;

		&:after {
			content:'';
			display: block;
			clear: both;
		}

		.onedepth-list {
			position: relative;
			float: left;
			width: 220px;
			padding: 0 8px 70px;
			border-left: 1px solid #e5e5e5;
			text-align: center;

			&:first-child {
				border-left: 0;
			}
			&:after {
				content:'';
				display: block;
				position: absolute;
				bottom: 0;
				height: 10px;
				width: 220px;
				background: #e5e5e5;
			}

			> a {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 25px;
				padding-left: 10px;
				font-weight: bold;
				font-size: 16px;
				text-align: left;
				z-index: 2;
			}
		}
		.catedown-menu_twodepth {
			width: 100%;
			height: 110px;
			overflow: hidden;
			text-align: left;
			background-color: #fff;

			/* over시 활성화 부분 */
			&.active {
				position: absolute;
				top: -25px;
				left: -10px;
				height: auto;
				padding: 50px 0 60px 18px;
				z-index: 1;
				box-shadow: 0 2px 4px 4px rgba(142, 142, 142, 0.18);
				&:after {
					content:'';
					display: block;
					position: absolute;
					bottom: 20px;
					width: 220px;
					height: 10px;
					background-color: #2e2e2e;

				}

			}
			.twodepth-list {
				> a {
					display: inline-block;
					padding: 7px 0 7px 12px;
					font-size: 12px;
					color: #222;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}

		/* 더보기 버튼 스타일 */
		.btn-round-more {
			position: absolute;
			bottom: 45px;
			left: 50%;
			display: inline-block;
			width: 35px;
			height: 20px;
			margin-left: -17px;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			border-radius: 14px;
			border: solid 1px #e5e5e5;
			.icon-plus {
				line-height: 20px;
				font-size: 11px;
				font-weight: bold;
				color: #000;
				cursor: pointer;
			}
		}
	}


	/* page field로 만든 페이지 기본 class 모음 */
	.page-fileld-wrap {
		.responsible-image {
			width: 100%;
		}
	}

	/*  uikit 라이브러리 수정
	/*****************************************************************/
	.uk-close {
		position: relative;
		z-index:2;
	}


	.pt_main {
		.content-container {
			margin-bottom: 0;
		}
	}

	.global-banner{
		display: none;
		background:#f8f8f8;
		border-bottom:1px solid #e5e5e5;    //20180308 추가
		position: relative;
		.brz_component-slider {

			.slider-slide {
				height: 60px !important;
			}
			.slick-dots {
				display:none !important;
			}
		}
		.mobile-none {
			display: none !important;
		}
		.global-banner-close-btn{
			position:absolute;
			top:4px;
			right:4px;
			z-index:1;
		}
	}

	/*  bxslider dot 모양 수정
	/*****************************************************************/
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #D3D3D3;
		text-indent: -9999px;
		display: block;
		width: 8px;
		height: 8px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 0;
		box-sizing: border-box;
	}



/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {
		html{
			width: 100vw;
			overflow-x: hidden;
		}
	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		.global-banner {
			.text-pc-only {
				display:none !important;
			}
		}
		.pt_category-onedepth {
			.title {
				font-size: 18px;
				padding: 30px 0;
				height: auto;
			}
			.category-tab-menu {
				> li {
					float: left;
					display:inline-block;
					width:50%;
					padding:0;
					box-sizing: border-box;
					border-left:0;
					a {
						position: relative;
						display:block;
						width:100%;
						padding: 15px;
						background: #f5f5f5;
						font-size: 14px;
						color: #aaa;
						box-sizing: border-box;
						&:before {
							content:'';
							display:block;
							position:absolute;
							top: -1px;
							right: -1px;
							left: -1px;
							bottom: -1px;
							border: 1px solid #ddd;
						}
					}
				}
			}
		}
		.catedown-menu_onedepth {
			width: 90%;
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -ms-flex-wrap: wrap;
		    -webkit-flex-wrap: wrap;
		    flex-wrap: wrap;
			.onedepth-list {
				width: 46%;
				margin: 0 2%;
				padding: 0 0 20px;
				margin-bottom:20px;
				border-left: 0;
				box-sizing: border-box;
				&:after {
					width: 100%;
				}
			}
			.btn-round-more {
				display:none;
			}
			.catedown-menu_twodepth{
				height: auto;
				&.active {
					position: static;
					padding: 0;
					box-shadow: none;
				}
				.twodepth-list {
					>a {
						font-size: 14px;
					}
				}
			}
		}

	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {

	}

	/* Large screen and bigger */
	@media (max-width: $breakpoint-xlarge) {}
