/* main review popup redefinition*/
.main-review-popup {

	.review-write-wrap {
		position:fixed;
		bottom:0;
		right:0;
		overflow-y:auto;
		max-width:430px;
		max-height:450px;
		border:1px solid $border-1;
		background-color:$bg-1;
		z-index:100;

		.review-write {
			display:none;
			padding:0 40px 30px;
		}

		.review-summary-group {
			display:none;
		}
	}
}

/* main review summary list */
.review-summary-group {
	padding:0 15px;
	li {
		&:last-child {border:0;}
		border-bottom:1px solid $border-2;
	}
	.order-lanscape-list {
		padding:35px 25px 10px;
		border-top:0;
		border-bottom: 0;
	}
	.rating-star-data {
		padding:10px 0;
		text-align:center;
	}

	.rating-description {
		&.review-done {color: $star-color}
		padding:15px 0;
	}
}

/* main review notice popup */
.review-main-msg {
	padding:30px 40px;

	.noti-txt-big {
		width:100%;
		color: $primary-color;
		text-align:center;
		padding-bottom:10px;
		line-height: 1.3;
	}
	.noti-txt-sm {
		width:100%;
		text-align:center;
		color:$font-3;
		font-size:11px;
		line-height:18px;
	}

	.review-btnarea {
		margin-top:10px;
	}
}


/* uk popup */
.uk-close {
	opacity :1;   
	&:after {
		font-family: 'nike' !important;
		content:"\e055";
		font-size:32px;
		color:#111;
	}
}


/* 안내 팝업(정보) */
.uk-modal {
	&.layer-info {
		padding-top:15%;
		.uk-close {
			margin-top: 7px;
		}
		.uk-modal-dialog {
			width:300px;
			margin:0 auto;
			min-height:350px;

			.title {
				display:block;
				width: auto;
				font-size:16px;
				font-weight:500;
				padding:10px 30px 24px 28px;
				margin-left:-20px;
				margin-right:-20px;
				border-bottom:1px solid $border-3;
				color:$font-0;

				.link {
					font-size:13px;
					font-weight:400;
					color:$font-3;
					border-bottom:1px solid $font-3;
				}
			}
			.body {
				padding:0px 8px 0 8px;

				.process {
					li {
						margin-bottom:24px;
						font-size:13px;
						color:$font-2;
						line-height:20px;
						letter-spacing:-1px;

						.tit {
							float:left;
							width:32%;
							font-weight:500;
						}
						.cnt {
							float:left;
							width:68%;

							span {
								display:block;
								font-size:12px;
								color:$font-3;
							}
						}
						&:after {
							content:"";
							display:block;
							clear:both;
						}
					}
				}
				.notice-info {
					margin-bottom:20px;

					li {
						margin-top:8px;
						color:$font-3;
						line-height:18px;
					}
				}
			}
		}
	}
}


/* 마이페이지 - 주문취소 팝업 */
.order-cancel-container {
	h2 {
		padding: 10px;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		color: #000;
	}
	.panel-box {
		margin: 0 -20px;
		padding: 22px 0;
		color: #333;
		border-top: 1px solid #d8d8d8;
		text-align: center;
	}
	.container {
		padding: 12px 0;
		.input-checkbox {
			> label {
				padding-left: 3px;
			}
		}
	}
}

#order-delivery-check{
	.uk-modal-dialog{
		width: 100%;
		max-width: 700px;
		.body{
			max-height: 300px;
			overflow-y: auto;
			table{
				width: 100%;
				th{
					background-color: #eeeeee;
					padding: 10px 5px;
				}
				td{
					border-bottom: 1px solid #dedfda;
					padding: 10px 5px;
					text-align: center;
					&:last-child{
						text-align: left;
					}
				}
			}
			&.info{
				height: auto;
				overflow: hidden;
				>h3{
					font-size: 14px;
					font-weight: 500;
					color: #111;
					padding-bottom: 10px;
					border-bottom: 1px solid #eee;
					margin-bottom: 10px;
				}
				>dl{
					color: #111;
					text-align: left;
					&:after{
						content: '';
						clear: both;
						display: block;
					}
					>dt{
						width: 100px;
						float: left;
						height: 30px;
						line-height: 30px;
					}
					>dd{
						width: calc(100% - 100px);
						float: left;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}
	}
}
#popup-refund{
	.uk-modal-dialog{
		width: 100%;
		max-width: 500px;
		.title{
			display: block !important;
		}
		.body{
			>p{
				line-height: 1.75;
				margin-bottom: 10px;			
			}
			>ul{
				margin-bottom: 10px;
				>li{
					line-height: 1.75;
					color: #fe0000;
				}
			}
			table{
				width: 100%;
				border-top: 1px solid #dedfda;
				th{
					background-color: #eeeeee;
					padding: 10px;
					text-align: left;
					border-bottom: 1px solid #dedfda;
					vertical-align: middle;
					width: 90px;
				}
				td{
					border-bottom: 1px solid #dedfda;
					padding: 10px;
					text-align: left;
					input[type=number]{
						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button{
							-webkit-appearance: none;
						}
					}
					.select{
						width: 100%;
					    position: relative;
					    &:before {
							position: absolute;
							top: 50%;
							right: 15px;
							content: "";
							display: inline-block;
							width: 6px;
							height: 6px;
							margin-top: -6px;
							border-right: 2px solid #a5a5a5;
							border-top: 2px solid #a5a5a5;
							transform: rotate(135deg);
						}
						select{
							width: 100%;
							height: 40px;
							border: 0;
							appearance: none;
							box-sizing: border-box;
						    border: 1px solid #e5e5e5;
						    outline: none;
						    box-sizing: border-box;
						    border-radius: 2px;
							&:-ms-expand {
								display: none;
							}
						}
						&.error{
							select{
								border-color: #fe0000;
							}
							&:before {
								top: calc(50% - 14px);
							}
						}
						.error-message, 
						.server-error-message {
						    margin: 7px 0 0 0;
						    font-size: 11px;
						    color: #fe0000;
						    display: block;
						}
					}
				}
			}
			.info{
				line-height: 1.75;
				color: #fe0000;
				font-size: 11px;
			}
			.refund-link{
				margin-top: 10px;
				.link-privacy{
				    text-decoration: underline;
				    line-height: 20px;
				    vertical-align: middle;
				    margin-left: 5px;
				    display: table-cell;
				}
			}
			.detail-privacy{
				line-height: 1.75;
				display: none;
				padding: 25px;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				margin-top: 10px;
				h1{
					font-size: 15px;
					margin-bottom: 20px;
					color: #111;
				}
			}
			.btn-wrap{
				text-align: center;
				margin-top: 30px;
			}
		}
	}
}
#detail-refund {
	.uk-modal-dialog{
	    max-width: 500px;
		h1{
		    text-align: left;
		    font-size: 15px;
		    font-weight: 500;
		}
		.contents-wrap{
		    line-height: 1.7;
			table{
			    width: 100%;
			    text-align: center;
			    border-right: 1px solid #ddd;
			    border-bottom: 1px solid #ddd;
			    margin: 10px 0;
				td{
				    padding: 5px;
				    border-left: 1px solid #ddd;
				    border-top: 1px solid #ddd;
				}
			}
		}
	}
}
#finish-refund{
	.uk-modal-dialog{
	    max-width: 360px;
		h1{
			text-align: center;
			color: #111;
			font-weight: 500;
			font-size: 17px;
		}
		.contents-wrap{
			text-align: center;
			margin-top: 20px;
			p{
				strong{
					font-weight: normal;
					color: #111;
					line-height: 1.14;
				}
				span{
					font-size: 12px;
					color: #fe0000;
					line-height: 1.14;
				}
			}
		}
		.btn-wrap{
			text-align: center;
			margin-top: 30px;
			>a:nth-child(2){
				margin-left: 5px;
			}
		}
	}
}
#popup-return{
	.retu-pop-header{
	    padding: 0 20px;
		>.panel-box{
		    padding-left: 10px;
		    padding-right: 10px;
		    font-size: 15px;
			>span{
			    float: right;
			    color: #d85030;
			    font-size: 15px;
			}	
		}
	}
	.retu-pop-header+.container{
	    padding-top: 0;
	    .uk-grid:first-child{
		    border-left: 1px solid #eeeeee;
		    border-right: 1px solid #eeeeee;
		    border-bottom: 1px solid #eeeeee;
		    margin-left: 0;
		    padding-bottom: 15px;
			>*{
			    padding: 5px 10px;
			}
	    }
	}
}
#detail-sameday{
	overflow: hidden !important;
    .uk-modal-dialog{
	    text-align: left;
	    max-width: 360px;
		.contents-wrap{
			>h2{
			    font-size: 15px;
			    color: #111;
			    margin-bottom: 5px;
			    font-weight: 500;
			    span{
				    display: inline-block;
				    background-color: #000;
				    color: #fff;
				    padding: 3px 5px;
				    margin-left: 5px;
				    font-size: 11px;    
				}
			}
			>ul{
			    margin-bottom: 25px;
			}
			>ul:last-child{
			    margin-bottom: 0;
			}
			>ul>li{
			    color: #111;
			    padding-left: 10px;
			    background: url(#{$contextPath}/assets/images/bl_dot.png) no-repeat left 9px;
			    line-height: 1.7;
			    letter-spacing: -0.5px;
			}
			>p{
			    line-height: 1.7;
			    font-size: 11px;
			    letter-spacing: -0.5px;
			    margin-bottom: 5px;
			}
			>p:last-child{
			    margin-bottom: 0;
			}
		}
    }
}

@media (max-width: 992px){
	#order-delivery-check{
		.uk-modal-dialog{
			.title{
				display: block !important;
			}
			.body{
				table{
					width: 100%;
					th{
						width: 25% !important;
					}
					td{
						width: 25% !important;
						text-align: center !important;
						line-height: 150%;
					}
				}
			}
		}
	}
	}


