/*********************************************************************/
/* 상품 상세페이지
/*********************************************************************/
	/*
	/*****************************************************************/
	.pt_product-detail {
		max-width: $pd-max-width;		//최대 넓이값 지정 (상세페이지용)
		//20180502 삭제 margin: 0 auto;
		margin: 68px auto 0 auto !important;
	}

	/* 상세페이지 빅이미지
	/*****************************************************************/
	.product-detail_wrap {
		&.uk-grid {
			margin-left: 0;			/* 라이브러리 재공 그리드 재정의 */
		}
	}

	#common-modal{
		.pdp_sticky_con{
			.pdp_sticky_sizeinfo{
				position: static;
				width: 100% !important;
			}
		}
	}

	/*****************************************************************/
	/* new pdp */
	/*****************************************************************/
	/* 상품상세 이미지뷰 (신규 버전) */
	.img-detail_product_n {
		position:relative;
		width: 991px;
		width: calc(100% - 449px);
		padding: 0 54px;
		text-align:center;

		.img-detail-list {
			margin-left: -12px;
			li {
				position: relative;
				padding-left: 12px;
				padding-bottom: 12px;
				.prd-gutter {
					// padding: 20px;
					background: #f5f5f5;
				}
				.icon-1on1-bedge {
					position: absolute;
					top:0;
					right: 0;
					z-index:20;
				}
			}
		}

		.product-ico {
			position:absolute;
			right:30px;
			top:-20px;
			font-size:60px;
			color: $primary-color;
		}

		.masker {
			overflow:hidden;
			max-height:700px;
		}

		.product-gallery {
			.swipe-container {width:100%;}
			.bx-controls {display:none;}
		}

		.product-gallery-slide {
			width:100%;
			min-width:415px; 		/* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			margin-right:0;
			background: #f5f5f5;
			img {
				display:inline-block;
				padding: 50px; 		/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
			}
		}
		// 상세 줌인 레이어 버튼 고정 20180313 추가
		.pdp-gallery-fullview {
			.pdp-gallery-fullview-close {
				position:fixed !important;
			}
		}
	}


	/* 상품상세 pdp, 더보기 모달 */
	.description{
		.pdp-description-preview{
			margin: 0;
		    padding: 0;
		    border: 0;
		    vertical-align: baseline;
			font-size: 13px;
			line-height: 1.75;

		    .headline-baseline-base {
		    	font-weight: normal;
			    font-size: 13px;
			    line-height: 1.75;
			}

			.benefits li, .productDetails li{
				padding-left: 10px;
				background: url('#{$contextPath}/assets/images/bl_dot.png') no-repeat left 7px;
				color: #666;
				line-height: 1.7;
				letter-spacing: -0.5px;
			}
		}
	}


	/* 에드온 상품 */
	.addon-product {
		.tit {margin:30px 0 10px; font-weight: bold;  font-size:24px; color:$font-1;}
		.msg {display:inline-block; font-weight: normal;  margin-left:10px; font-size: 13px; color: $caution-color;}
		.marketing-msg {margin:20px 0 10px; font-size: 12px; color: $font-1;}
		.select-box {width:100%;}

		.addon-list-wrap {
			.addon-state {
				position:relative;
				width:100%;
				display:table;
				margin-top:5px;
				padding:10px 20px;
				box-sizing:border-box;
				background-color:#f6f5f6;

				.addon-info {
					display:table-cell;
					> * {width:100%; display:inline-block;}
					.tit {margin-top:0; font-size:14px;}
					.price {
						margin-top:6px;
						.retail-price {text-decoration:line-through; color:#a5a5a5}
						.sale-price {font-weight: normal; color: #000;}
					}
				}
				.quantity {
					display:table-cell;
					min-width:152px;
					text-align:right;
					vertical-align: middle;
					line-height: 0;
					.btn-qty {display:inline-block;}
				}
				.btn-wrap {
					display:table-cell; padding:0 0 0 10px; vertical-align:middle; text-align:left;
				}
				.btn-delete {
					top: 10px;
					right: 10px;
					background-color: transparent;
					i {
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}
	}

	.detail-info-modal {
		.info-wrap_product_n{
			.price-wrap{
				.price-sale{
					position: relative;
				}
			}
		}
	}

	/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
	.info-wrap_product_n {
		width: 449px;
		padding: 0 54px 0 10px;
		color: $font-2;
		box-sizing:border-box;
		text-align: left;

		.item-location {
			display: inline-block;
			margin-top: 10px;
			margin-right: 3px;
			font-size: 14px;
			color: #2e2e2e;
		}
		.title-wrap {
			margin-bottom:4px;
			color: $font-0;
			font-size: 28px;
			font-weight: bold;
			line-height:120%;
			width:60%;
			.subtit {color: $primary-sub-color;}
			// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
			.close-btn {display:none;}
		}
		.marketing-msg{
			font-size: 12px; color: $font-1;
			.sale-per{
				margin-top:14px;
				display:inline-block;
				color: $marketing-color;
				font-size:12px;
				&:hover {color: $marketing-color-over;}
			}
		}

		/* 상품가격 */
		.price-wrap {
			display: inline-block;
			font-size: $font-size-l;
			letter-spacing: 0.1px;
			color: $prd_price;
			.text-color-secondary{
				color:#2e2e2e;
			}
			.price-sale {
				font-size: 14px;
				text-decoration:line-through;
				color: #2e2e2e;
				position: absolute;
				right:0px;
				margin: 22px 0px 0px 0px;
			}
			.price-sale + .price {
				strong {
					color: $prd_sale-price;
				}
			}

			> .price {
				> strong {
					font-size: 14px;
					font-weight: normal;
					color: #2e2e2e;
				}
			}
			/*
			.sale-per {
				margin-top:14px;
				display:inline-block;
				margin-left:5px;
				color: $marketing-color;
				font-size:12px;
				&:hover {color: $marketing-color-over;}
			}
			*/
			.disc-num {
				display:inline-block;
			    margin-left:18px;
			    font-size:30px;
				color: $prd_sale-price;
			    font-weight:bold;
			}
		}

		/* 멤버전용 텍스트 */
		.member-access-msg {
			padding-top: 10px;
			font-size: 14px;
			color: #aa8375;
			.member-lock {
				font-size: 13px;
				margin-right: 5px;
			}
		}

		/* 할인률 % */
		.discount-wrap{
			padding-top:6px;
			.per{
				color:#FF6600;
				font-weight: bold;
				font-size: 20px;
			}
		}

		/* 옵션, 스타일 그룹핑 */
		.pinfo-item-box {
			position: relative;
			margin-top: 48px;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.option-wrap {
				.size-grid-type {
					// h2.tit {
					// 	display:none;
					// }
				}
			}
		}

		/* 옵션 - 사이즈, 컬러 */
		.option-wrap {

			&.line {
				padding-bottom: 18px;
 				border-bottom: 1px solid #e5e5e5;
			}

			.tit {
				font-size: 15px;
				font-weight: bold;
				color: #111;
			}
			.msg {
				display:inline-block;
				margin:10px 0;
				color: $caution-color;
				&.msg-on {
					position:absolute;
					bottom:-42px;
					font-size:14px;
					font-weight:normal;
				}
			}
			.over-txt {
				display:inline-block;
				color: #666;
				font-size: 10px;
			}
			.input-select {
				margin-top:10px;
				&:first-child {margin-top:0;}
			}

			.product-option_radio {

				position: relative;

				&.option_check {
					margin: 0 3px 48px -1px;
					padding: 1px 0 0 1px;
					z-index: 0;
					border:1px solid #fe0000;
				}  // 사이즈선택 요청후 구매하기 안내 20180412추가
				&:after {content:''; display:block; clear:both;}

				.input-radio {
					position: relative;
					float: left;
					display: inline-block;
					width: 72px;
					height: 72px;
					margin: 0 5px 5px 0;
					vertical-align:top;
					&:first-child {}

					.label {
						padding: 11px 14px 0;
						letter-spacing: 0;
						display: inline-block;
						width: auto;
						height: 36px;
						text-align: center;
						color: $font-1;
						box-sizing:border-box;

						&.img-type {
							width: 72px;
							height: 72px;
							padding:0;
							background: #f5f5f5;
							> img {
								display:block;
								width:100%;
								max-height: 96px;
								// padding: 5px;				/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
							}
						}
					}
					.tooltip-pos {
						.tooltip-bg {
							border: 1px solid #ddd;
							box-shadow: none;
						}
					}
					.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

					&.checked,
					&:hover {
						.label {
							position:relative;
							color: $font-0;

							&:after {
								content:'';
								position:absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								background:#000;
								opacity:0.1;
							}
						}
					}
					&.disabled {
						.label {
							background-color: $form_bg-disabled;
							color: $form_text-color-disabled;

							&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
						}
					}
				}

				&#customCheck{
					.input-radio {
						width: 93px;
						height: 93px;
						margin: 0 4px 4px 0;
						display: none;
						&:nth-child(4n){
							margin-right: 0;
						}
						label{
							position: relative;
							.label.img-type{
								width: 93px;
								height: 93px;
								background-color: #fff;
								text-align: center;
								align-items: center;
								justify-content: center;
								display: flex;
								img{
									width: auto;
									height: auto;
									max-width: 80px;
									max-height: 80px;
									border: 0;
									display: inline-block;
								}
							}
						}
						.label:after{
							content: '';
							opacity: 0;
							transition: opacity .25s ease-in-out;
							background-color: transparent;
						}
						&.checked .label:after{
							background-color: transparent;
							box-sizing: border-box;
							border: 5px solid #111;
							opacity: 1;
							display: block;
						}
					}
					@media (max-width: 480px){
						.input-radio{
							width: calc(25% - 4px);
							height: auto;
							position: relative;
							&::before {
								content: "";
								display: block;
								padding-top: 100%;
							}
							label{
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								.img-type{
									width: 100% !important;
									height: 100% !important;
									img{
										max-width: 50px !important;
										max-height: 50px !important;
									}
								}
							}
						}
					}
				}

				&.circle {
					.input-radio {
						padding:3px;
						.label {
							&.img-type{
								overflow:hidden;
								width:40px;
								height:40px;
								padding:5px;
								border-radius:50%;

								img {border-radius:50%;}
							}

							&:hover {border:1px solid $primary-color;}
						}
						.pattern {width:28px; height:28px; border-radius:50%;}

						&.checked {
							.label {
								border:1px solid $default-color;
								background-color: $default-color;
								color: $font-6;
								&.img-type {
									padding:5px;
									background-color: transparent;
								}
								&:after{display:none;}
							}
						}
					}
				}

				/* 상품 옵션 - SIZE , Radio + Grid */
				.opt-list {
					.input-radio {
						position: relative;
						float: left;
						display:table;
						width: 20%;;
						height: 48px;
						box-sizing: border-box;
						text-align: center;
						margin: 0;
						color:#111;
						font-size:14px;
						cursor: pointer;
						&[disabled='disabled'] {
							background: #f7f7f7;
						}
						&:before {
							content:'';
							display:block;
							position: absolute;
							top: -1px;
							right: 0;
							left: -1px;
							bottom: 0;
							border-left: 1px solid #e5e5e5;
							border-right: 1px solid #e5e5e5;
							border-bottom: 1px solid #e5e5e5;
							border-top: 1px solid #e5e5e5;

						}
						&:hover {
							&:before{
								border:1px solid #111;
								z-index:20;
							}
						}
						&.disabled {
								background-color: $form_bg-disabled;
								color: $form_text-color-disabled;
								&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
						}
						label {
							display: table-cell;
							vertical-align: middle;
							cursor: pointer;
							&.sd-out {
								background-color: #f7f7f7;
								color: #ddd;
								cursor: default;
							}
							&.selected {
								background-color: #111;
								color: #fff;
							}
						}
						// 2018/04/13 사이즈가 하나일 경우 one size표기하고 옵션생략
						&[sizeno='size1'] {
							margin: 0;
							position: absolute;
							top: -48px;
							right: 0;
							height: inherit;
							width: inherit;

							&:before {
								border:none;
							}
							label {
								background-color:transparent;
								color: #111;
								font-weight: 400;
								letter-spacing: .5px;
								font-size: 14px;
								text-align: left;
							}
						}
					}
					.input-radio[disabled='disabled'] {
						&:hover {
							&:before{border:1px solid #e5e5e5;}
						}
					}//20180321 disabled hover 수정

					&.guidenull {
						.input-radio {
							&[sizeno='size1'] {
								right:0;
							}
						}
					}
				}
			}

			.quantity {
				position: relative;
				height: 64px;
				margin-bottom: 7px;
				&.opt-msg-guide {
					margin-bottom:39px;
					.tit {
						&:after{border-bottom: 1px solid #fe0000;}
					}
				}  // 오류 메세지가 나올때
				.tit {
					&:after {
						content:'';
						display:block;
						width: 100%;
						position: absolute;
						bottom: -5px;
						border-bottom: 1px solid #ddd;
					}
					span {
						position: absolute;
						top: 37px;
						left: 4px;
						font-size: 16px;
					}
					.msg {
						position: absolute;
						top:73px;
						display: block;
						width: 100%;
						&:before {
							border-top: 1px solid #fe0000;
						}
					}
				}
				.btn-qty {
					input , .btn {
						position: absolute;
						top: 25px;
						border: 0;
					}
					input {
						left: 45px;
						color: #111;
					}
					.btn {
						font-size: 15px;
						&.minus {
							left: 92px;
							color: #e5e5e5;

							&.currentQty {
								.icon-minus {
									color: #000;
								}
							}
						}
						&.plus {
							left: 138px;
							color: #000;
						}
						&:hover {
							background-color: #fff;
						}

						i {
							font-size: 15px;
						}
						.icon-minus {
							color:#ddd;
						}
					}
				}
			}
		}

		/* 상품 별점 */
		.review-wrap {
			position: absolute;
			top: 50%;
			right: 40px;
			margin-top: -8px;
			font-size: 12px;
			color: $primary-color;

			.like {
			    position: relative;
			    display: block !important;
			    height: auto;
			    overflow: hidden;
			    font-size: 0;
			    color: #2e2e2e;

			    > i {
					font-size: 15px;
					font-family: 'nike'!important;
					color: #e5e5e5;
					&:before {
						content: "\e902";
					}
				}
				.per {
				    position: absolute;
				    top: 0;
				    left: 0;
					overflow: hidden;
					color: #111;
				}
			}
			&:after {content:''; display:block; clear:both;}
			.review-num {display: none; padding:0 0 0 2px;} 		//   리뷰 숫자 비노출 처리
			.upc-code {display: none;}							//   upc코드 비노출 처리
			.no-review {
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑 - 셀렉트 박스 타입, 그리드 타입으로 사용하여 html hidden처리 함. */
		.size-wrap {
			position: relative;

			&.line {
				border-bottom: 1px solid #e5e5e5;
			}
			.opt-tit {
				position: absolute;
				top: 0;
				left: 0;

				.tit {
					display: none 						//옵션 타이틀텍스트 비노출 처리
				}
				.msg {									//옵션 미 선택시 얼럿 텍스트
					display: none;
					position: relative;
					width: 114px;
					height: 30px;
					margin-top: -24px;
					text-align: center;
					background: #111;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					font-size: 10px;
					color: #fff;
					line-height: 30px;

					&.msg-on {
						display: block;
					}
					&:before {
						position: absolute;
					    top: 22px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
					}
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 36px;
						left: -4px;
						width: 122px;
						height: 48px;
						border:3px solid red;
						box-sizing: border-box;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}
			.select-box {
				width: 114px;
				margin: 7px 0;
				.select-head {
					padding: 13px 11px 13px 6px;
					border: 0;
					font-size: 15px;
					color: #2e2e2e;
				}
				&:before {
					position: absolute;
				    top: 50%;
				    right: 15px;
				    content: "";
				    display: inline-block;
				    width: 4px;
				    height: 4px;
				    margin-top: -6px;
				    border-right: 2px solid #111;
				    border-top: 2px solid #111;
				    transform: rotate(135deg);
				}
			}

			/* 사이즈가이드 */
			.option-guide {
				position: absolute;
			    top: 50%;
			    right: 6px;
			    margin-top: -5px;
				font-size: 12px;
				a {
					color: #aeaeae;
				}
			}
		}

		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑 - 그리드 타입 */
		.size-grid-type {
		  clear: both;
		  position: relative;
		  width:100%;
		  margin-top: 31px;
			box-sizing: border-box;

			.customOption{
				margin-bottom: 30px;
				margin-top: 40px;
				display: none;
				.tit{
					margin-bottom: 10px;
				}
			}

			.btn-option {
				display: block;
				position: relative;
				padding: 0;
				text-align: left;
				border: none;
				margin-bottom:10px;
				cursor: default;

				&.caution-txt-color {
				}

				.tit {
					display:block;
					width: 100%;
					font-size: 15px;
					color: $font-1;
				}
				.default {
					float: left;
					width: -moz-calc(100% - 76px);
					width: -webkit-calc(100% - 76px);
					width: calc(100% - 76px);
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					box-sizing: border-box;
					text-align: right;
					font-size: 12px;
					color: $font-1;
					padding-right: 20px;
					&.selected {
						color: #000;
						font-weight:700
					}
				}
			}

			.option-guide {
				display: inline-block;
				position: absolute;
				top: 3px;
				right: 0;
				font-size: 12px;
					a {
						color: #aeaeae;
					}
			}

			.tit {
				.txt {
					display: none;		/* 사이즈 옵션 라벨값 비노출 처리 */
				}
			}

			&.padding{
				&.radius{
					.product-option_radio{
						.opt-list{
							.input-radio{
								&.checked{
									&:before{
										border:3px solid #111;
									}
								}
								label{
									&.selected {
										border-radius:4px;
										width:100%;
									}
								}
							}
							.input-radio::before{
								border-radius:4px;
							}
						}
					}
				}
				.product-option_radio{
					.opt-list{
						.input-radio{
							&:nth-child(-n+5){
								margin-top:0px;
							}
							&:nth-child(5n){
								margin-right:0px;
							}
							width:calc(20% - 5px);
							margin-right:6px;
							margin-top:6px;
						}
					}
				}
			}

		}
		.size-grid-type.size_opt_check + .stocked-wrap {
			margin-top:55px;
		}
		.size-grid-type.sizeGuideNone .option-guide {
			display:none;
		}

		/* 구매, 장바구니 버튼 그룹핑*/
		.btn-group-box {
			clear: both;
			position: relative;
			margin-left: 0;
			padding-bottom: 20px;
			padding-top: 36px;
			&.line {
				padding-top: 18px;
				border-bottom: 1px solid #e5e5e5;
				> * {
					padding-left: 0;					// 라이브러리 재공 그리드 재정의
				}
				&:after {
					content:'';
					display:block;
					clear: both;
					overflow: hidden;
				}
			}
			&:after {
				content:'';
				display:block;
				clear: both;
				overflow: hidden;
			}

			.btn-wishlist {
				float: right;
				width: 75px;
				height: 48px;
				background-color: #000000;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;

				&:hover {
					background-color: #585858;
					i {
						transform: scale(1.2);
						-webkit-transform: scale(1.2);
						-moz-transform: scale(1.2);
						display:inline-block;
					}
				.tooltip-bg {
					display:block;
					right:10%;
					top:32%;
					}
					}
				> i {
					color: #fff;
					font-size: 18px;
				}
				.tooltip-bg {
					display:none;
				}

			}
		}
		.sameday-msg{
			border-bottom: 1px solid #e5e5e5;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 100px;
			line-height: 1.4;
		    font-size: 13px;
		    position: relative;
			.icon-sameday{
				position: absolute;
				top: 23px;
				left: 0;
			}
			.flag-sameday{
				position: absolute;
				top: 22px;
				left: 39px;
			}
			button{
				border: 0;
				background-color: transparent;
				padding: 0;
			    color: #2e2e2e;
			    font-size: 12px;
			    margin-top: 1px;
			    margin-left: 5px;
			    text-decoration: underline;
			    cursor: pointer;
			}
		}
		/* 수량 */

		/* SEAMLESS 수량선택 팝업 */
		.uk-modal {
			&.order-count {
				.uk-modal-dialog {
					&.count-select-dialog {
						width: 300px;
						min-height:200px;
						top: 50%;
						margin-top: -100px;

						.title {
							padding-bottom:8px;
							font-size:20px;
							color:$font-0;
						}
						.body {
							padding-top:24px;

							.count {
								margin-bottom:24px;

								.count-box {
									float:left;
									width:45%;
									position:relative;

									input {
										width:45px;
										padding:13px 0;
										margin-left:39px;
										font-size:12px;
										border:1px solid #e8e8e8;
										text-align:center;

										&::-webkit-inner-spin-button,
										&::-webkit-outer-spin-button {
										    -webkit-appearance:none;
										    -moz-appearance:none;
										    appearance:none;
										}
									}
									button {
										width:40px;
										padding:13px 0;
										border:1px solid #e8e8e8;
										border-radius:2px;
										background-color:#fff;
										text-align:center;
										position:absolute;
										top:0;
										left:0;

										&.minus {
											left:85px;
										}
										span {
											position:absolute;
											left:-9999em;
										}
									}
								}
								.price {
									float:right;
									width:55%;
									font-size:16px;
									text-align:right;
									padding:13px 0;
								}
								&:after {
									content:"";
									display:block;
									clear:both;
								}
							}
						}
					}
				}
			}
		}

		/* 구매, 장바구니 버튼 */
		.status-wrap {
			float: left;
			width: calc(100% - 75px);
			overflow: hidden;
			&.radius{
				width:100%;
				.order-wrap {
					.btn-link {
						border-radius: 30px;
						width:100%;
						height:60px;
						margin-bottom:10px;
						padding:24px 50px;
						font-weight: bold;
					}
					.btn-wishlist{
						width:49% !important;
						background:#fff;
						color:#161616;
						font-size:15px;
						border-color: #666;
						padding:0px;
						margin-bottom:0px;
						&:hover {
							i {
								transform: scale(1);
							}
							background: #fff;
							border-color: #999;
						}
						> i {
							margin-left:10px;
							color:#000;
							font-size:16px;
						}
					}
					.addcart-btn{
						width:49% !important;
						background:#fff;
						color:#161616;
						border-color: #666;
						float:left;
						margin-bottom:0px;
						&:hover {
							opacity:1;
							background: #fff;
							border-color: #999;
						}
					}
				}
				.product-soldout{
					height:60px;
				}
				.product-comming {
					height:60px;
					.comming {
						height:60px;
						padding:21px 20px;
						border-radius: 4px;
					}
				}
				.order-custom{
					>.nsg-bg--white{
						width:100%;
						height:60px;
						margin-bottom:10px;
						padding:7px 0px;
						border-radius: 30px;
					}
				}
			}
			.order-wrap {
				float: left;
				width:100%;
				.btn-link {
					width: 49%;
					width: 154px;
					text-align:center;
					&.right {float:right}
					&.left {float:left;}
					&.optchange-btn {
						width:99%;
						width: calc(100% - 3px);
					}
					&.btn-login {width:100%;}
				}
				.addcart-btn {margin-right:1px;}
				.addcart-btn, .btn-order {
					&:hover {
						background-color: #111;
			    		opacity:0.7;
					}
				}
				.pre-btn{
					display:none;
				}
			}
			> .product-comming {
				.comming {
					position: absolute;
					left: 0;
					width: 100%;
				}
			}  //20180412 출시 예정상품 버튼 100% 수정
			.product-soldout {
				.product-comming {
					margin-bottom: 44px;

					.comming {
						width: 100%;
						/*
						position: absolute;
						top: 14px;
						left: 0;
						*/
						color: #2e2e2e;
						font-size: 14px;

					}
				}
			} // 20180329 sold out 버튼 100%
			.selected-opt {
				display:table;
				width:100%;
				border-top:1px solid #ebebeb;
				padding: 15px 0;

				&:first-child {margin-top:30px;}
				&:after {content:""; display:block; clear:both;}

				.opt {
					display:table-cell;
					overflow:hidden;
					width:40%;
					max-height:32px;
					line-height:16px;
					font-size:12px;
					vertical-align:middle;
				}

				.quantity{
					display:table-cell;
				}

				.total-price {
					display:table-cell;
					color:#2b5275;
					> strong {
						font-size:20px;}
				}

				.delete-btn {position:relative;}
			}
			.order-custom{
				>.nsg-button{
					display: inline-block;
			    	margin-right: 14px;
					box-sizing: border-box;
					font-size: 14px;
					height: 46px;
					letter-spacing: .3px;
					padding: 0 20px;
					span{
						font-size: 14px;
				    	letter-spacing: .3px;
						display: inline-block;
				    	line-height: 44px;
				    	letter-spacing: .3px;
						font-weight: bold;
					}
					.nsg-glyph--colorwheel-thin {
				    	font-size: 16px;
				    	margin: -1px 4px 0 0;
						display: inline-block;
				    	overflow: hidden;
						text-align: left;
						text-indent: 100%;
						white-space: nowrap;
						position: relative;
						vertical-align: middle;
						width: 1em;
						height: 1em;
					}
				}
				.nsg-bg--near-black{
					width: 109px;
				}
				.nsg-bg--white{
					width: 132px;
				}
				@media (max-width: 480px){
					>.btn-link,
					>.nsg-button{
				    height: 60px;
				    letter-spacing: .5px;
				    line-height: 17px;
				    width: 100% !important;
						margin-right: 0;
						span{
							/* line-height: 58px; */
						}
					}
					>.nsg-bg--white{
						margin-bottom: 20px;
					}
				}

			}
		}

		.guide-wrap {
			text-align:left;
			> span {
				vertical-align: middle;
			}

			.shipping-text {
				width:100%;
				padding: 20px 6px ;
				line-height: 1.4;
				border-bottom: 1px solid #e5e5e5;
				box-sizing: border-box;
			}

			.description {
				text-align:left;
				line-height:1.5em;
			}
			.shot-discription {
				border-bottom:1px solid $border-1;
			}

			.overview {
				text-align:left;
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 20px;

				.tit {padding:20px 0 10px; font-size:14px;}
				.description {
					font-size: 12px;
					line-height:18px;
				}
			}
		}

		.sns-wrap {
			position: absolute;
			bottom: -10px;
			right: 0;

			// addthis extend
			.wish-btn {
				padding: 0;
				font-size: 24px;
				color: #ddd;
				.icon-wishlist_full {
					color: $primary-color;
				}
			}
			.ns-share {
				margin-left: 5px;
				font-size: 24px;
				color: #ddd;
			}
			.addthis_inline_share_toolbox {position:absolute; top:7px; right:0;}
			.icon-sns-kakao {
				display:none;
				position:absolute;
			    width:20px;
				right:0;
			}

			&:after {content:''; clear:both; display:block;}
		}

		/* 매장상품 확인, 예약 서비스 */
		.store-reserve-wrap {
			position: relative;
			margin-top: -1px;
			&.radius{
				padding-top:0px !important;
			}
			/* z-index: 2; 매장픽업 서비스 팝업 레이어 depth가 낮아 헤더에 가리는 현상이 있어, 주석처리함. (header z-index : 192) */

			&.line {
				padding: 0 0 40px 8px;
			}
			.btn-storereserve {
				display: inline-block;
				color: #2e2e2e;
				font-weight: bold;
				font-size: 13px;
				vertical-align: top;
				padding: 0 2px;
			}
			.icon {
				font-size: 19px;
				line-height: 0;
				color: #666;
				vertical-align: -3px;
			}
			.btn-tooltip {
				display: inline-block;
				width: 14px;
				height: 14px;
				font-size: 12px;
				border-radius: 50%;
				background-color: #666;
				line-height: 14px;
				color: #fff;
				text-align: center;
				position: relative;
				top: -2px;
			}
			.reservation-btn {
				display: block;
				height: 48px;
				line-height: 50px;
				border: 1px solid #111;
				border-radius: 2px;
				text-align: center;
				box-sizing: border-box;

			}
			.store-reserve-info {
				padding: 20px 0;
				border-bottom: 1px solid #e5e5e5;
				color: #111;
				margin-bottom: 15px;
				font-size: 14px;
				line-height: 1.0;

				.button {
					padding: 0;
					float: right;
					color: #2e2e2e;
					font-size: 12px;
					margin-top: 1px;

					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}

			&.radius{
				.reservation-btn{
					margin-top: 20px;
					border-radius: 4px;
					height:47px;
					border:1px solid #ccc;
				}
			}
		}

		/* 배송방법 - 택배배송,매장방문  */
		.store-shipping-state {
			display: none;  // 심리스 오픈때까지는 비노출 2017.12.27
			.tit {
				display: block;
			    width: 100%;
			    padding: 20px 0 10px;
			    font-size: 15px;
			    color: $font-1;
			    font-weight: bold;
			}
		}

		/* 입고알림 문자 */
		.stocked-wrap {
			clear: both;
			display:none;
			position: relative;
			background: $bg-1;
			z-index: 2;
			margin:25px 0 0 0;
			 &.line {
			}
			.ns-live-chat {
				display: inline-block;
				font-size: 19px;
				vertical-align: middle;
				color: #ec783e;
				&:before {
					content: "\e02a";
				}
			}
			.txt {
				padding: 0 3px 0 7px;
				font-weight: bold;
				font-size: 13px;
				color: #ec783e;
			}
			.ns-help {
				font-size: 28px;
				color: #666;
				vertical-align: middle;

			}
		}

		/* SEAMLESS 디자인 변경 */
		.service-slt-wrap {
			text-align: center;

			.store-reserve-wrap {
				width: 50%;
				float: left;
				margin-bottom: 20px;
				box-sizing: border-box;

				.btn-storereserve {
					padding-left: 6px;
				}
			}
			.stocked-wrap {
				width: 50%;
				float: left;
				margin-top: 23px;
				margin-bottom: 20px;
				clear: none;
				box-sizing: border-box;

				.txt {
					padding: 0;
					padding-left: 6px;
				}
			}

			&:after {
				content: "";
				display: block;
				clear: both;
			}
			> div:nth-child(2) {
				border-left: 1px solid #d8d8d8;
			}
		}

		/* 무료배송/반품 서비스 메세지 */
		.message-wrap {
			margin-top: 20px;
			font-size: 11px;
			color: #333;
			line-height: 15px;
			padding-left:9px;
			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
				margin-left:15px;
				a {
					font-size:14px;
					color:#2e2e2e;
					line-height:1.4;
					strong {
						font-size:17px;
					}
				}
			}
			.ns-Asset-23 {
				display:inline-block;
				height:100%;
				vertical-align:middle;
				color:#111;
				font-size:26px;
			}
		}

		/* 상품정보 등 아코디언 스타일 */
		.discription-wrap {
			text-align: left;
			border-bottom: 1px solid #e5e5e5;
			margin-bottom: 30px; // 아코디언영역 footer와 간격 붙어서 추가함 20180620
			.pop-detail-title {
				position: relative;
			    padding: 27px 0 28px 6px;
			    border-top: 1px solid #e5e5e5;
			    margin-bottom: 0;
			    font-size: 14px;
			    font-weight:bold;
			    background-color: #fff;
			    color: #111;
			    &.title-design {
			    	display: none;
			    }
			    &:after {
					font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e909";
						transform: rotate(0.25turn);
				    float: right;
				    display: block;
				    font-size: 26px;
			    }
			    &.uk-active:after {
			    	font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e909";
						transform: rotate(-0.25turn);
				    float: right;
				    display: block;
			    }
			    	.sub-title-wrap {
			    		position: absolute;
			    		right: 37px;
			    		top: 50%;
			    		transform: translateY(-50%);
			    		font-size: 14px;
			    		color: #999;
			    		font-weight: normal;
			    	}  //20180503 아코데이션 티스크립션 추가
			    .uk-accordion-content {
			    	padding: 0 0 15px 0;
				    line-height: 20px;
				    font-size: 12px;
				    color: #000
			    }
			}
			.pop-detail-content {
				padding: 0 6px 40px 6px;
				text-align: left;
				line-height: 1.75;
				font-size: 13px;
				color: #2e2e2e;

				/*  pdp 상세 설명 */
				.description-preview{
					font-weight: 400;
				}

				&.list_guide {
					height: auto !important;
				}
				.sectionR {
					h2 {
						color:#111;
						line-height:24px !important;
						font-weight:bold;
					}
					h3 {
						color:#111;
						line-height:24px !important;
						font-weight:bold;
					}
					ul {
						li {
						/*	background: none;
							color:#111;
							font-size:14px;
							line-height:24px;  */

							padding-left: 10px;
							background: url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;
							color: #666;
							line-height: 1.7;
							letter-spacing: -0.5px;
						}
					}
				}
				.guide-area {
					.sectionR {
						h3 {
							&:first-child {
								margin-top:0;
							}
						}
					}
				}

				.style-color, .style-code, .detail-content-list li{
					padding-left:10px;
					background: url('#{$contextPath}/assets/images/bl_dot.png') no-repeat left 7px;
					color:#111;
					font-size:13px;
				}

				.detail-content-list li {
					background-position: left 9px;
				}

				.detail-review .total-review-summary{border-bottom:1px dotted #aaa;}

				//20180312 guide_msg  추가
				.guide_msg {
					padding:0 10px 13px 0 !important;
					margin-top:0 !important;

					h3 {
						font-size:14px !important;
						line-height: 24px !important;
						color:#111 !important;
					} //20180322추가
				}
				.description {
					&.conTab {
						ul {
						/*	margin: 8px 0 30px 0 !important;*/
							margin-top: 10px;
						}
					}
				} //20180328 장바구니 구매하기 버튼 하단 안전인증 텍스트 간격 수정
				.detail-content-title {
					font-size:14px;
					color:#111;
					font-weight: bold;
					line-height:23px;
					margin-top:30px;
				}
				.detail-content-list {
					margin-top: 10px;
					li {
						a.deco-underline {text-decoration: underline;}
					}
				}
			}
		}


		.bundle-item {
			padding:20px 0;
			border-top:1px solid $border-2;
			&:first-child {border:0;}

			.name { line-height:27px; font-size:14px; color: $primary-color; }
			.qty { line-height:27px; font-size:14px; color: $primary-color; }
		}


		/* tooltip */
		.tooltip-pos {
			display: none;
		}
		.tooltip-bg {
			position: absolute;
		    top: 0;
		    right: 50%;
		    min-width: 84px;
		     -webkit-transform: translate(50%, -75%);
		    transform: translate(50%, -75%);
		    text-transform: none;
		    border-radius: 0;

		    -webkit-box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;
   			box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;

   			background: #fff;
   			color: #111;
   			padding: 9px 12px;
   			font-size: 12px;
   			box-sizing: border-box;
   			z-index: 2;
   			text-align: center;
   			white-space: nowrap;

   			&:after {
   				content: "";
			    display: block;
			    position: absolute;
			    bottom: 0px;
			    right: 50%;
			    width: 8px;
			    height: 8px;
			    background: #fff;
			    border-bottom: 1px solid #ddd;
			    border-left: 1px solid #ddd;
			    transform: translate(50%, 50%) rotate(-45deg);
			    -webkit-transform: translate(50%, 50%) rotate(-45deg)
   			}
		}
		.mini-icon {
			position: absolute;
			bottom: 4px;
			left: 3px;
			font-size: 17px;
		}

		.product-option-container {
			width:385px;

			&.fixed {
				position:fixed;
				&.top{
					top:0;
				}
				&.bottom{
					bottom:0;
				}
			}
			&.absolute{
				position:absolute;
				&.top{
					top:0;
				}
				&.bottom{
					bottom:0;
				}
			}
			.btn-more-pop {
				display: inline-block;
				text-decoration: underline;
				margin-top: 5px;
				font-size: 13px;
				color: #666;
			}
			.title-wrap {
				.tit {
					line-height:120%;
				}
			}
		}
	}


	/* mobile chk*/
	body {
		&.mobile {
			.info-wrap_product{
				.sns-wrap {
					.addthis_inline_share_toolbox {right:27px;}
					.icon-sns-kakao {
						display:inline-block;
					}
				}
			}
		}
	}
	body.scrollOff{
		position:fixed;
		overflow:hidden;
		height:100%;
	}


	/* 상세페이지 빅이미지
	/*****************************************************************/

	/* datail title */
	.pop-detail-title {
		clear:both;
		font-size:16px;
		padding:0 10px;
		&.prd-info-noti {
			padding: 50px 0 10px;
			border-top: 1px solid #ccc;
			margin-top: 20px;
		}
	}

	.product-detail_view {
		position:relative;
		margin-top:60px;
		padding:70px 0 0;

		&:after {
			content: '';
			position: absolute;
			top:0;
			margin-left: -1000px;
			background: $bg-1;
			border-top: 1px solid $border-2;
		}
		&.line {
			border-top: 1px solid #e5e5e5;
		}

		/* 상품상세 설명 탭부분 */
		.detail-tab {
			width: 576px;
			margin:0 auto;
			text-align:center;

			&:after {content:""; display:block; clear:both;}
			//reset
			list-style-type:none; padding:0; border:0;

			.btn-tab {
				position: relative;
			    float: left;
			    width: 144px;
			    margin-left: -1px;
			    padding-bottom: 0;
			    background-color: #f8f8f8;
			    &:first-child {
			    	margin-left: 0;
			    }
			    &:hover {
			    	border-bottom: 0;
			    }
			    > a {
			    	display: block;
				    padding: 10px 0;
				    border-top: 1px solid #e5e5e5;
				    border-bottom: 1px solid #e5e5e5;
				    border-right: 1px solid #e5e5e5;
				    font-size: 12px;
				    color: #2e2e2e;
				    &:first-child {
				    	border-left: 1px solid #e5e5e5;
				    }

			    }
			    &.uk-active  {
			    	border-bottom: 0;
	   				background-color: #2e2e2e;

	   				 :after {
				    	position: absolute;
					    top: 28px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg)
				    }
				    a {
				    	color: #fff;
				    }
			    }
			}
		}

	}

	.exp-pdp-section-divider {
		width:100%;
		padding-left:0;
		background-color: #ddd;
		height: 1px;
		display: block;
		margin: 40px auto 0;
	}
	.exp-pdp-benefits-container {
		width:100%;
		padding-left:0;
		text-align: center;
		margin-top: 22px;
		margin-bottom: 46px;
		line-height: 18px;
	}

	/* product review write modal - uikit redefine*/
	.review-write {
		.uk-modal-dialog {

			.popup-close_btn{
				&:first-child {
					margin:0;
				}
			}
		}
	}

	/* product, main review write */
	.order-lanscape-list {
		position: relative;

		&:after {content:'';display:block; clear:both;}

		.image-wrap {
			float: left;
		 	overflow: hidden;
			width: 80px;
			background: #f5f5f5;
			img {width:100%;}
		}
		.order-info {
			@include calc( width, '100% - 80px');
			@include box-sizing();
			float: left;
			padding-left: 20px;
			.tit {
				overflow: hidden;
				display: inline-block;
			 	min-width: 100%;
				max-height: 32px;
				line-height: 16px;
				color: $font-1;
				font-weight: bold;
			}
			.option {
				display:block;
				margin-top:5px;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
				span {
					display:block;
				}
			}
			.qty {
				display:block;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
			}
			.price-wrap {
				display:block;
				margin-top:5px;
				font-size:13px;
				color:$font-1;
				.sale-price {
					text-decoration:line-through;
					font-size:11px;
					color:$font-3;
				}
			}
		}
	}

	.product-opt_current {
		padding:20px 0;

		&:after {content:""; display:block; clear:both;}
		> .item-info {
			float:left;
			&:after {content:""; display:block; clear:both;}

			> .img-wrap {
				float:left;
				display:inline-block;
				width:60px;
				img {width:100%; display:block;}
			}
			> .info-wrap {
				float:left;
				height:60px;
				margin:12px 0 0 20px;
				display:inline-block;
				.tit {display:inline-block;width:100%;}
				.price {display:inline-block; margin-top:10px;}
			}
		}

		> .item-btn {
			float:right;
		}
	}


	/* 상세페이지 안의 상품평 (리뷰 있을때, 없을때 )  : str
	/*****************************************************************/

	/* 상세 uk-accordion 부분에 들어가는 총별점, 리뷰버튼 재정의 */
	.detail-review-summary {
		margin-left: 0;
		border-left:0;
		> * {
			padding: 0;
		}
		.summary-sect {
			width: 100% !important;
		}
		.star-total-info {
			text-align: left;
			margin-top: 0;
			.star-average {
				margin-bottom: 5px;
				.like {
					position: relative;
					display: inline-block;
					margin-right: 15px;
					height: auto;
					overflow: hidden;
					vertical-align: middle;
					>i {
						font-size: 15px;
						font-family: 'nike'!important;
						color: #e5e5e5;
						&:before {
							content: "\e902";
						}
						&.per {
							color: #111;
						}
					}
				}
				.review-write-btn {
				    display: inline-block;
				    margin-top: 20px;
				    color: #2e2e2e;
				    border-bottom: 1px solid #2e2e2e;
				    font-size: 13px;
				    line-height: 14px;
				}
			}

			.star-average .like .per {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
			}
			.review-write-btn {
			    display: inline-block;
			    width: auto;
			    margin-top: 0;
			    padding: 0;
			    color: #2e2e2e;
			    border-bottom: 1px solid #2e2e2e;
			    font-size: 13px;
			    line-height: 14px;
			}
			.total-star-point {
				font-size: 13px;
				color: #2e2e2e;
			}

		}
		.review-write-btn {
			width: 176px;
			padding: 15px 30px;
		}
		.star-total-info {

		}

	}
	/* 상세 uk-accordion 부분에 들어가는 상품평리스트 재정의 */
	.detail-reviewlist-summary {
		.n-review-read {
			ul {
				margin-bottom: 0;
				> li {
					padding-bottom: 0;
					border-top: 0;
				}
			}
			.read-list {
				width: 100%;
				margin-top: 30px;
				padding: 0;
				.read-subject {
					margin-bottom: 5px;
				}
				.user-info {
					.brz-icon-star_small {
						background: none;
						font-family: 'nike'!important;
						color: #e5e5e5;
						text-indent: 0;
						font-size: 12px;
						width: 90px;
						height: 15px;
						vertical-align:top;
                        &:before {
                            content: "\e902";
                        }
                        &.per {
							color: #111;
						}
					}  //20180725 추가
				}
				.read-comment {
					margin-top: 5px;
				}
				.shorten-detail {display: none;}
				.shorten_expand .shorten-ellipses {display: none;}
				.shorten_expand .shorten-detail {display: inline;}
				.shorten-toggle {
				   margin-left: 5px;
				   text-decoration: underline;
				}
			}
			.btn-pagination {
				display: none;     /* 페이징 비노출 처리 */
			}
			.pc-only {
				display: none !important;
			}
			.opt-value-wrap {width:100%;padding:0px 5px;margin-bottom:30px;}
			.opt-value-wrap .grid-gage {width:100%;padding:0px;}
			.total-review-summary{
				.star-total-info {
					text-align:left;
					.btn-area{margin:0;}
					.star-review-num{font-size:21px;}
				}
			}
		}
		.btn-more-review {
			border-bottom: 1px solid #2e2e2e;
			margin-bottom:24px;
			display: inline-block;
		}
	}

	/*상세페이지 안의 상품평 (리뷰 있을때, 없을때)  : end */


	/* 상세 하단 고정부분 (상품간략정보 + 옵션변경 레이어)
	/*****************************************************************/
	.mini-option-wrap {
		position:fixed;
		left:0;
		right:0;
		bottom:-60px;
		height:60px;
		margin:0 auto;
		z-index:980;

		&:after {
			content:'';
			position:absolute;
			width:250%;
			margin-left:-1000px;
			height:60px;
			background: $bg-1;
			border-top:1px solid $border-2;
		}
		.mini-product-item {
			float:left;
			.product-thumb-img {
				display:inline-block;
				width:40px;
				height:40px;
				margin-left:15px;
				vertical-align:top;
				img {width:32px;}
			}
			.mini-product-info {
				display:inline-block;
				max-width:300px;
				margin-left:5px;
				.tit {
					display:block;
				}
				.price {
					display:block;
					margin-top:5px;
					color: $prd_sale-price;
					strong {font-weight: normal;}
				}
			}

		}

		> .btn-wrap {
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			height:60px;
			padding-top:10px;
			box-sizing:border-box;
			background-color: $bg-1;
			border-top:1px solid $border-2;
			z-index:1;

			.minioptbtn {position:absolute; top:10px; right:0; display:inline-block; width:240px; margin:0 15px 0 0; text-align:center;}
			.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
		}

		/* 하단 fixed부분의 옵션선택 */
		.info-wrap_product_n {
			display:none;
			text-indent:-9999px;
			visibility:hidden;

			position:absolute;
			right:0;
			bottom:0;
			padding-left:0;
			border:1px solid $border-2;
			background-color: $bg-1;
			z-index:20;
			padding: 0;

			.title-wrap {
				border-bottom:1px solid $border-2;
				margin-bottom:0;
				font-size:14px;

				.tit {overflow:hidden; display:inline-block; margin-top:0; padding:20px 14px 15px; font-size:14px; }
				.subtit {display:none;}
				.close-btn {display:block; padding:14px; font-size: 20px; background-color: transparent;}
			}
			.option-wrap, .status-wrap {
				padding:0 14px;
			}

			/* 하단 fiexed부분의 사이즈와 쇼핑백담기, 구매하기 그룹핑 */
			.btn-group-box {
				padding-bottom: 16px;

				.opt-tit {
					left: 14px;
					.msg {
						&:after {
							width: 128px;
						}
					}
				}
				.select-box {
					width: 120px;
					margin-left: 14px;

					.select-body {
						bottom: 39px;
					}
				}
			}
			.pinfo-item-box {
				&.line {
					border-top: 0;
				}
				.style-code {			/* 하단 fixed 옵션 스타일코드 위치 재정의 */
					top: 0;
					right: 14px;
				}
			}
			.status-wrap {
				.btn-wrap {
					width:100%;
					padding-bottom:20px;
				}
			}

			.guide-wrap,
			.price-wrap,
			.review-wrap,
			.sns-wrap,
			.item-location,
			.store-reserve-wrap,
			.message-wrap,
			.stocked-wrap,
			.option-guide,
			.discription-wrap {display:none;} 		/* 하단 fixed 옵션선택 레이어부분 비노출 처리 */

			&.active {display:block; text-indent:0; visibility:visible;}
		}

		.dim {z-index:10;}
	}

	.product-soldout, .product-comming {
		text-align:center;
		height:51px;

		.soldout, .comming {
			display:inline-block;
			width: 100%;
			width: calc(100% - 5px);
			height: 51px;
			padding: 17px 20px;
			line-height:1.0;
			margin-top:50px;
			font-size:16px;
			background-color:$bg-5;
			color: $font-3;
			box-sizing: border-box;
		}
		.comming {
			margin-top:0;
		}
	}



	.shot-discription {
		padding:20px 0;
		word-break:break-all;
		white-space:pre-wrap;
		line-height:1.5em;
		text-align:left;
	}

	/* 최근본 상품 */
	/*
	.contents {
		&.latest-items {
			.contents-title {
				&.center {padding-bottom: 0;}
			}

		}
	}
	*/

	/* modalLayer guide */
	#guide{
		.uk-modal-dialog {width:600px;}
	}

	/* 상품 QnA */
	.qna-wrapper {
		margin-bottom:80px;
		.tit {text-align:center; margin-bottom:20px;}
		.product-qna-btn-group {text-align:center;}
		.qna-less {
			.info {padding-top:50px; text-align:center;}
		}

		.write-comment {
			> textarea {
				border:1px solid $border-3;
				background:#fff;
			}
		}
		.qna-list {
			margin-top:30px;
			.list {
				position:relative;
				padding:20px 30px;
				border-bottom:1px solid $border-2;
				&:first-child {border-top:1px solid $border-2;}
			}
			.question-container, .answer-container {
				position:relative;
				padding-left:52px;
				font-size:14px;
				color:#2e2e2e;

				&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
				.custom-info {
					margin-top:8px;
					font-size:12px;
					color:$font-3;

					> * {display:inline-block;}
					.date {margin-left:10px;}
				}
			}
			.question-container {
				min-height:45px;
				&:before {content:"Q";}
			}
			.answer-container {
				margin-top:28px;
				&:before {content:"A";}
				.content {min-height:30px;}
			}
			.btn-container {
				position:absolute;
				top:20px;
				right:30px;
				z-index:5;

				> .btn-link {padding:0;}
			}
		}


		.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
	}

	.product-option-container{
		.pdp-accordion-list{
			.pop-detail-content{
				.sectionR{
					ul {
						li{
							height:auto !important;
						}
					}
				}
			}
		}
	}

	/* 예약주문 */
	.reservation_product {
		.product-option_radio {
			.input-radio {
				display: inline-block;
				vertical-align:top;

				&:hover { .label {border-color:$border-5;} }
				&.checked {
					.label {
						position:relative;
						color: $primary-color;
						&:after {
							content:'';
							position:absolute;
							top:-1px;
							right:-1px;
							bottom:-1px;
							left:-1px;
							border:2px solid  $primary-color;
						}
					}
				}
			}
		}

		.storeinfo-wrap_radio {
			position:inherit;

			.input-radio {padding-left:40px;}
			.tit {font-size:15px;}
			.address {margin-top:0;}
		}

		.location-search {
			position:static;
			width:100%;
			max-height:350px;
			display:none;
			border-left:1px #fff solid;
			padding-top:0;
			overflow-y: scroll;
			.less-items {
				padding: 25px 0;
				i.color-less {
					color:#838383;
					font-size: 24px;
				}
			}

			.shipping-list {
				.column {

				}
			}

			&.active {
				overflow-y: inherit;
			}
		}

		/* 예약확인 */
		.reservation-confirm-wrap {
			display:none;
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			padding:30px;
			margin-top:0;
			box-sizing:border-box;
		    z-index:1000;
		    background:#fff;

			&.active {display:block;}
			.header {
				text-align:center;
				.tit {
					font-size: 24px;
					font-weight:bold;
					text-align:center;
					color: #000;
				}
				.description {
					display:inline-block;
					width:95%;
					text-align:center;
					margin:23px auto 0;
					line-height:17px;
					color: #8d8d8d;
					letter-spacing: -0.5px;
				}
			}
			.body {
				margin-top:40px;
				border-top:1px solid $border-1;
				font-size:12px;
			}
			.footer {
				padding-top:40px;
				text-align:center;
				.reservation-confirm-btn,
				.cencel-btn {
					width: 136px;
				}
			}

			.list-grid {
				display:table;
				width:100%;
				margin-top:3px;
				&:first-child {margin-top:10px;}
				& > * {display:table-cell; vertical-align:middle;}
				.caption {width:24%; vertical-align:middle; background-color:#eee; text-align:center; font-weight:bold; color:#000;}
				.column {
					vertical-align:middle;
					padding:0 14px;

					.contents {
						padding:14px 0;
						> * {
							display:inline-block;
							margin-top:8px;
							color: #8d8d8d;
							&:first-child {margin-top:0;}
						}
						.link {text-decoration-line:underline; font-weight:bold; font-size: 13px; color: #111;}
						.address-wrap {
							display: block;
							.addr-type {
								display: none;
							}
							.addr {
								padding-top:0;
								font-size: 12px;
								color: #8d8d8d;
								line-height: 1.6;
							}
							.description {
								margin-top:0;
								line-height: 1.6;
							}
						}
					}
				}
			}

			.customer {
				.btn-info-edit {
				    margin-left: 14px;
				    font-size: 12px;
				    color: #111;
				    height: 21px;
				    padding: 5px;
				}
			}
			.product {
				position:relative;
				.product-image {
					position:absolute;
					> img {width:100px;overflow:hidden; display:inline-block;}
				}
				.product-info {
					padding-left: 116px;
					box-sizing:border-box;
					> * {
						display:inline-block;
						width:100%;
						margin-top:8px;
						&:first-child {margin-top:0;}
					}
				}
			}
			.msg {margin-top:15px; line-height:20px; color: #8d8d8d;}
		}

		/* 지역코드선택 */
		.location-code-wrap {
			display:none;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-155px;
			margin-top:-111px;
			padding:30px;
    		background-color:#fff;
			z-index:999;

			&.active {display:block;}
			.tit {text-align:left; margin-bottom:20px; font-size:20px;padding-bottom: 15px; border-bottom: 1px solid #E5E5E2;}
			.tit2 {padding-bottom:20px;}
			.uk-close {
				position: absolute;
			    top: 29px;
			    right: 30px;
			    font-size: 16px;
			}
			.code-wrap_radio {
				.input-radio{
					&.button {
						> label {
							> .label {
								.cnt-txt {
									color:#fa5400;
								}
							}
						}
						&:hover {
							background-color:#000; color:#fff;
							> label {
								> .label {
									.cnt-txt {
										color:#fff;
									}
								}
							}
						}
					}
				}
			}
		}

		/* 매장예약 - 달력부분 */
		.datepicker-wrap {
			display:none;
			position:fixed;
			width:100%;
			height:100%;
			top:0;
			left:0;
			z-index:999;
			background: #fff;
			.btn-close {
				position: absolute;
				top: 20px;
				right: 20px;
				cursor:pointer;
				&:after {
					font-family: 'icomoon' !important;
    				content: '\e90a';
    				font-size: 20px;
    				color: #d2d2d2;
				}
			}
			.tit {
				padding: 48px 0 20px;
				font-weight: bold;
				font-size: 24px;
				color: #000;
				text-align:center;
				border-bottom: 1px solid #d8d8d8;
			}
			.txt {
				padding: 26px 0 24px;
				text-align: center;
				font-size: 13px;
				color: $font-1;
			}
			.date-time {
				z-index:1000;
				background-color:#fff;
				text-align:center;
				.txt-time {
					margin-top: 40px;
					padding: 24px 0;
					border-top: 1px solid #d8d8d8;
					color: $font-1;
				}
			}
			.input-item-box {
				max-width: 320px;
				margin: 0 auto;
				> span {
					display: inline-block;
					float: left;
					width: 84px;
					padding-top: 13px;
					font-size: 16px;
					color: $font-1;
					padding-right: 24px;
					box-sizing: border-box;
				}
				.timepicker {
					width: calc(100% - 84px);
					height: 40px;
					padding: 0 12px;
					border:1px solid #e8e8e8;
					box-sizing: border-box;
					font-size: 15px;
					color: $font-1;
				}
				.uk-autocomplete {
					width: calc(100% - 84px);
					box-sizing: border-box;
					.timepicker {
						width: 100%;
					}
					.uk-dropdown {
						width:100%;
						padding: 3px;
						text-align: left;
						border: 1px solid #e8e8e8;
						border-top: 0;
					}
				}
			}
			.datepicker {
				display: inline-block;
				max-width:320px;
				padding:0 24px 24px;
				border-radius: 3px;
				border: 1px solid #e8e8e8;
				box-sizing: border-box;
				.ui-datepicker-inline {
					display:block;
					width:100%;
					margin:0 auto;
					max-width:320px;
					border:0;
				}

			}

			&.active {
				display:block;
			}
			.ui-datepicker-header {
				position: relative;
				padding: 30px 0 15px;
				text-align:center;
				border:0;
				background:transparent;
				.ui-datepicker-prev {
					position: absolute;
					top: 24px;
					left: 0;
					display:inline-block;
					width:32px;
					height: 32px;
					font-family:'icomoon';
					font-size:0;
					line-height: 30px;
					border:1px solid #e8e8e8;
					border-radius: 3px;
					text-align:center;
					box-sizing: border-box;
					span {
						width: 32px;
						height: 32px;
						margin-top:0;
						marign-left: -16px;
						text-indent:0;
					}
					:before {
						content: "\e902";
						font-size: 16px;
						color:#999;
					}
				}
				.ui-datepicker-next {
					position: absolute;
					top: 24px;
					right: 0;
					display:inline-block;
					width:32px;
					height: 32px;
					font-family:'icomoon';
					line-height: 30px;
					font-size:0;
					border:1px solid #e8e8e8;
					border-radius: 3px;
					text-align:center;
					box-sizing: border-box;
					span {
						width: 32px;
						height: 32px;
						margin-top:0;
						marign-left: -16px;
						text-indent:0;
					}
					:before {
						content: "\e903";
						font-size: 16px;
						color:#999;
					}

				}
				.ui-datepicker-title {
					font-weight:bold;
					font-size: 18px;
					color: #333;
				}

			}
			.ui-datepicker-calendar {
				th {
					height:32px;
					color: #9e9e9e;
				}
				td {
					width: 39px;
					height: 32px;
					font-size: 14px;
					color: $font-1;
					text-align:center;
					a {
						text-align: center;
					}
					.ui-state-default,
					.ui-widget-content
					.ui-state-default {
						border:0;
						background: #fff;
					}
					.ui-state-active,
					.ui-widget-content
					.ui-state-active {
						border: 0;
					    background: #111;
					    color: #fff;
					}
					.ui-state-highlight,
					.ui-widget-content
					.ui-state-highlight {
						border: 0;
					    background: #999;
					    color: #fff;
					}
					.ui-state-hover,
					.ui-widget-content
					.ui-state-hover {
						border:0
					}
				}
			}
			.btn-box {
				max-width: 320px;
				padding-top: 50px;
				text-align: center;
				margin: 0 auto;
			}
		}
	}



	/* pickup nodal */
	.pickup-module-wrap {
		.location-map {min-height:230px; margin-left:0;}
		.product {
			.product-image {
				background:#ebebeb;
    			width:100%;
    			max-width:276px;
    			min-height:237px;
    			margin:0 auto;
			}
			.product-info {
				margin:15px 0 25px;
				.option, .price {display:inline-block; width:100%; text-align:center;}
			}
		}
		.store-list {
			.shipping-list {
				position:relative;
				width:100%;
				padding:30px 0;

				.column {
					vertical-align:middle;
					.tit {font-weight:bold; font-size:16px;}
					.reservation-apply {margin-top:4px;}
					.quantity {display:inline-block; width:100%; text-align:center;}
				}

				.column:nth-child(even) {position:absolute; top:50%; right:0; margin-top:-26px;}
			}
		}

		.datepicker-wrap {
			display:none;
			position:fixed;
			width:100%;
			height:100%;
			top:0;
			left:0;
			z-index:10;

			.date-time {
				position:absolute;
				top:50%;
				left:50%;
				margin-left:-172px;
				margin-top:-105px;
				padding:24px;
				z-index:1000;
				background-color:#fff;
			}
			.datepicker {
				width:320px;
				.ui-datepicker-inline {
					display:block;
					width:100%;
					margin:0 auto;
					max-width:320px;
				}
			}

			&.active {
				display:block;
			}
		}

		.btn-wrap {
			margin-top:30px;
			text-align:center;
		}
	}


	_:-ms-fullscreen, :root .reservation_product .location-search {
		height:231px;
	}

	/* mediaquery */

	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

		.info-wrap_product{
			.status-wrap {
				.btn-wrap {margin-top:30px;}
				.btn-link {
					width:100%;
					margin-top:10px;
					text-align:center;
					&:first-child {margin-top:0}
					&.right {float:inherit}
					&.left {float:inherit;}
				}
			}
		}
		.reservation_product .reservation-confirm-wrap .list-grid .column .contents.product .product-image {
			display: none;
		}
		.reservation_product .reservation-confirm-wrap .list-grid .column .contents.product .product-info {
			padding-left:0;
		}
		.reservation_product .reservation-confirm-wrap .list-grid .column .contents.product .product-info .quantity {
			padding: 0;
		}
		.reservation_product .location-code-wrap.active{
			margin-top: 0;
			top: 0;
		}

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
	
		/* product name */
		.info-wrap_product  {
			.title-wrap {margin-bottom:3px;}
		}
		.pt_product-detail {margin-top: 0 !important;}

		/* new pdp */
		/****************************************************/
		/* 상품상세 이미지뷰 (신규 버전) */
		.img-detail_product_n {
			width: 100%;
			padding: 0;
			.product-gallery-slide {
				min-width: auto;
				margin: 0 0 2px 2px;
				&:first-child {
					margin-left: -2px;
				}
				img {
					padding: 0;
				}
			}
			 .img-detail-list {
			 	li {
					padding: 0;
			 	}
			 }

			.bx-wrapper {
				.bx-controls {
					position: absolute;
					bottom: 32px;
					left: 0;
					width: 100%;
					padding: 0 24px;
					box-sizing: border-box;
				}
				.bx-pager{
					display: table;
					width: 100%;

					.bx-pager-item {
						display: table-cell;
					}
					&.bx-default-pager {
						a{
							width: 100%;
							height: 2px;
							margin: 0;
							border-radius: 0;
							border:0;
							background: #ccc;

							&.active {
								background: #111;
							}
						}
					}
				}
			}
		}

		/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
		.info-wrap_product_n {
			width: 100%;
			padding: 0;
			.title-wrap {
				padding-left: 20px;
			}
			.discount-wrap{
				padding-left: 20px;
			}
			.price-wrap {
				font-size:15px;
				padding:20px 20px 0px 20px;
				.price-sale{
					margin-right:20px;
				}
			}
			.member-access-msg {
				text-align: center;	/* 멤버전용 상품 텍스트 - 모바일 정렬 */
			}
			.store-reserve-wrap {
				/* margin-left: 24px;
				margin-right: 24px; */
				padding-left:24px !important;
				box-sizing:border-box;
			}
			.store-shipping-state {
				margin-left: 24px;
				margin-right: 24px;
			}
			.size-wrap {
				margin-left: 24px;
				margin-right: 24px;
			}
			.size-grid-type {
				padding: 0 24px;
				.option-guide {
					right: 24px;
				}
				h2.tit {height:20px;}
				.option_check {
					margin: 0 0 44px 1px !important;
				}
			}
			.option-wrap {
				.quantity {
					padding: 0 24px;
					.tit {
						span {
							left:24px;
						}
						&:after {
							width: auto;
							left: 24px;
							right: 24px;
						}
					}
					.btn-qty {
						input {
							left:74px;
							padding:0;
							margin-right:0;
						}
						.btn {
							&.minus {
								left: 114px;
							}
							&.plus {
								left: 154px;
							}
						}
					}
				}
			}
			.btn-group-box {

				&.line {
					padding-top: 15px;
				}
			}
			.sameday-msg{
				margin-left: 24px;
				margin-right: 24px;
			}
			.status-wrap {
				.order-wrap {
					width: 100%;
					.btn-link {
						width:calc(50% - 1px);
					}
					.addcart-btn {margin-right: 1px}
				}
			}
			.btn-group-box {
				.btn-wishlis {
					width:81px;
				}
			}
			.stocked-wrap {
				/* margin-left: 24px;
				margin-right: 24px; */
				padding-left: 24px;
				margin: 20px 0 0 0;
			}
			.discription-wrap {
				margin-bottom: 0;
				.pop-detail-title {
					padding: 18px 24px 18px 24px;
					.sub-title-wrap {
						right: 45px;
					} //20180503 아코데이션 디스트립션 추가
				}
				.pop-detail-content {
					padding-left: 24px;
					padding-right: 24px;
				}
			}
			.guide-wrap {
				.overview {
					padding-left: 24px;
					padding-right: 24px;
				}
				.shipping-text {
					padding: 20px 24px;
				}
			}
			.message-wrap {
				padding-left: 24px;
				padding-right: 24px;
			}
			.review-wrap {
				right: 60px;
			}
			.product-option-container {
				width: 100%;
			}
			/* SEAMLESS 수량선택 팝업 */
			.uk-modal {
				&.order-count {
					.uk-modal-dialog {
						&.count-select-dialog {
							width: 100%;
							max-width: 100%;
							margin: 0;
							border-radius: 0;
							position:absolute;
							top: auto;
							left:0;
							right:0;
							bottom:0;
						}
					}
				}
			}
		}

		/* 상품 갤러리 */
		.img-detail_product_n {
			.img-detail-list {
				margin-left: 0;
			}
		}

		/* 매장상품 예약 확인 20180208 추가 */
		.reservation-wrap  {
			> .contents {
				&.width-xlarge {
					min-height: 850px;
				 }
			}
		 	.reservation_product {
		 		.reservation-confirm-wrap {
			    		padding: 30px 10px;
			    	}
			    	.location-search {
			    		max-height: none;
			    		border-top: 0;
			 	 }
			}
		}

		//product view
		.product-detail_view {
			margin-top:0;
			.detail-tab {display:none; margin:0;width:inherit;}
			.btn-tab {
				font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
				&.uk-active{
					position:relative;
					&:before {
						content:'';
						position:absolute;
						display:block;
						bottom:-1px;
						left:0;
						width:100%;
						border-bottom:2px solid  $primary-color;
					}

				}
			}
			.detail-delivery {
				.delivery-text {padding:30px 0;}
			}
		}

		/* 상품평 */
		.detail-review {
			padding: 0;
			.pop-detail-title {padding:0 0 10px;}
		}

		.review-write {
			padding:0;
			.order-lanscape-list {
				padding: 20px 16px;
			}
			.rating-star-data {
				margin: 40px auto 10px;
				padding: 20px 0px 10px 0px;
			}
			.opt-value-data-wrap {
				width: 100%;
				padding: 0 10px;
				.opt-value-data {
				 	width: 100%;
					 .opt-strip-type-radio{
						.input-radio{
							display: inline-block;
							> label {
								> i{
									margin-right: 2px;
								}
								> .label {
									padding-right: 10px;
								}
							}
						}
					}
				}
				
			}
			.rating-star-data {
				width: 100%;
			}
			.input-textfield.width-max {		// 상품리뷰작성 - 제목입력 input 여백
				margin-top: 20px;
			}
		}

		/* 상품정보고시 */
		.product-noti-content {
			// padding-left:20px;
			.noit-title {
				float:none;
				width: 100%;
				padding-top: 10px;
			    padding-right: 20px;
			    box-sizing: border-box;
			}
			.noti-value {
				float: none;
				padding-top:0;
				width: 100%;
			    padding-right: 20px;
			    box-sizing: border-box;
			    line-height: 1.7;
    			letter-spacing: -0.5px;
    			color: #666;
			}
		}

		/* 상품타이틀 */
		.info-wrap_product {
			.title-wrap {
				.tit {font-size:17px;}
			}
			.price-wrap {
				> .price {
					> strong {font-size:24px;}
				}
			}
			.option-wrap {
				> .tit {margin:15px 0 8px;}
				// .option-guide {
				// 	padding:10px 0 0 0;
				// 	font-size:12px;
				// }
			}
			.review-wrap {border-bottom:0;}
		}

		/* 미니옵션 */
		.mini-option-wrap {
			height:56px;

			&:after {height:56px;}
			.mini-product-item {display:none;}
			> .btn-wrap {
				height:56px;
				padding:6px;
				box-sizing:border-box;

				.minioptbtn {
					position:static;
					width:100%;
					height:40px;
					margin:0;
					padding:13px 30px;
					box-sizing:border-box;
					text-align:center;
				}
				.wishlist-btn {display:none;}
			}

		}

		/* guide wrap */
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.detail-delivery {padding:0 16px;}
		.product-detail_view {
			padding:40px 16px;
		}
		.n-review-read {
			margin-left: 0;
		}
		.info-wrap_product_n {
			.item-location {
				color: #909090;
			}
			.price-wrap {
				// > span {
				// 	&.price {
				// 		color: #111;
				// 	}
				// }
			}
			.size-wrap {
				.select-box {
					width: 120px;
					padding: 0;
					> select {
						padding: 0 30px 0 6px;
						border: 0;
						font-size: 15px;
					}
				}
			}
			.store-reserve-wrap {
				padding: 0 24px 0 24px;
				box-sizing:border-box;
			}
			.marketing-msg{
				.sale-per{
					padding:0px 20px 0px 20px;
				}
			}
		}
	}

#custom-modal{
	overflow: hidden !important;
	width: 100vw;
	height: 100%;
	*{
		box-sizing: border-box;
	}
	.uk-modal-dialog{
		max-width: 100vw;
		width: 100vw;
		height: 100%;
		margin: 0;
		padding: 0;
		border-radius: 0;
		background-color: #fff;
		overflow: hidden;
		.contents{
			width: 100vw;
			height: 100%;
			padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
			#custom-wrap{
				transition: all 230ms ease-out 0s;
		    display: flex;
		    justify-content: center;
		    align-items: center;
				.color-image-wrap{
					background-color: #f7f7f7;
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					#customView-swiper-container{
						overflow: hidden;
						position: relative;
						.swiper-slide{
							display: flex;
					    justify-content: center;
					    align-items: center;
						}
						.swiper-pagination{
							bottom: 30px;
							.swiper-pagination-bullet{
								width: 8px;
						    height: 8px;
						    border-radius: 10px;
						    background-color: rgb(141, 141, 141);
								opacity: 0.4;
								margin: 0 7px;
								&.swiper-pagination-bullet-active{
									opacity: 1;
								}
							}
						}
						.brz-swiper-btn {
							width: 48px;
							height: 48px;
							line-height: 48px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							text-align: center;
							z-index: 9;
							cursor: pointer;
							background-repeat: no-repeat;
							background-position: 50% 50%;
							span{
								width: 100%;
								height: 100%;
								vertical-align: middle;
								font-size: 0;
							}
						}
						.brz-swiper-prev{
							left: 32px;
							background-image: url('#{$contextPath}/assets/images/brz-swiper-prev.svg');
						}
						.brz-swiper-next{
							right: 32px;
							background-image: url('#{$contextPath}/assets/images/brz-swiper-next.svg');
						}
					}
				}
			}
			.palette{
				background-color: #f7f7f7;
				position: relative;
				flex-shrink: 0;
				overflow: hidden;
			}
			@media (min-width: 992px){
				.order-wrap{
					position: absolute;
			    top: 90vh;
			    left: 0;
			    text-align: center;
			    width: calc(100vw - 360px);
					.btn-link{
						border: 1px solid #e5e5e5 !important;
						width: 140px !important;
						height: 44px !important;
						border-radius: 2px !important;
						font-size: 14px;
						color: #000;
						font-weight: bold;
						background-color: #fff !important;
						text-align: center;
						letter-spacing: 0.4px;
					}
				}
				.color-image-wrap{
					width: calc(100vw - 360px);
					height: 100vh;
					flex-shrink: 0;
					.img-type-box{
						text-align: center;
						margin: 0 auto;
						width: 100%;
						height: 90vh;
						.label.img-type{
							display: flex;
					    flex-direction: column;
					    margin: auto;
					    transition: opacity 230ms ease-out 0s;
					    height: 90vh;
					    position: relative;
					    align-items: center;
							opacity: 1;
							padding-top: 8px;
						}
					}
				}
				.palette{
					width: 360px;
					height: 100vh;
					position: relative;
			    flex-shrink: 0;
			    overflow: hidden;
					display: flex;
					#patch{
						margin-top: 0;
						top: 0px;
				    position: absolute;
				    display: flex;
				    flex-grow: 1;
				    height: 100%;
				    right: -25vw;
				    transition: all 250ms cubic-bezier(0.52, 0.99, 0.57, 1) 250ms;
				    width: 100%;
				    box-sizing: border-box;
						border-left: 2px solid #fff;
						&.active{
							right: 0;
						}
						.nsg{
							height: 80px;
					    width: 100%;
					    border-bottom: 2px solid rgb(255, 255, 255);
					    flex-grow: 0;
					    flex-shrink: 1;
					    position: absolute;
					    text-align: center;
					    top: 0px;
					    z-index: 200;
							p{
								height: 100%;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						    background-color: rgb(255, 255, 255);
						    color: rgb(141, 141, 141);
						    width: 100%;
								span{
									text-transform: uppercase;
							    font-size: 18px;
							    text-align: center;
									line-height: 1.44;
									letter-spacing: 0.6px;
									color: #000000;
								}
							}
						}
						.customSelection{
							margin-top: 80px;
							width: 100% !important;
							height: calc(100% - 80px);
							overflow-y: auto;
							.input-radio{
								position: relative;
						    left: 0px;
						    top: 0px;
						    border-right: 2px solid rgb(255, 255, 255);
						    flex-shrink: 0;
						    box-sizing: border-box;
						    width: 100%;
								margin: 0;
								height: auto;
								label{
									text-align: center;
							    flex-shrink: 0;
							    cursor: pointer;
							    display: flex;
							    text-decoration: none;
									border-bottom: 2px solid #ffffff;
							    width: 100%;
							    height: 152px;
									align-items: center;
									.img-type{
										display: flex;
								    width: 100%;
										height: 100%;
								    background-color: transparent;
								    text-align: center;
								    flex-direction: column;
										align-items: center;
										padding-top: 8px;
										img{
											height: auto;
											min-height: auto;
											width: auto;
										}
										.customName{
											font-size: 12px;
									    color: #8d8d8d;
											font-weight: normal;
											letter-spacing: 0.4px;
											line-height: 14px;
										}
									}
								}
							}
						}
					}
				}
			}
			@media (max-width: 992px){
				#custom-wrap{
					display: block;
					height: 100%;
					.order-wrap{
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100vw;
						height: 62px !important;
						z-index: 10;
						.btn-link{
							width: 100vw;
							height: 62px;
							text-align: center;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: #fff;
							color: #000;
							font-weight: bold;
							font-size: 16px;
							border-radius: 0;
							letter-spacing: 0.5px;
						}
					}
				}
				.color-image-wrap{
					position: relative;
			    transform: translate(0px, 0px) scale(1);
			    display: flex;
			    flex-direction: column;
			    flex-grow: 1;
			    max-width: 100%;
					height: calc(100% - 204px);
					.brz-swiper-btn {
						display: none;
					}
					.img-type-box{
						position: relative;
				    width: 100%;
				    display: flex;
				    flex-grow: 1;
				    align-items: center;
						.img-type{
							margin: 0px auto;
					    z-index: 300;
					    transition: opacity 230ms ease-out 0s;
					    max-width: 100%;
					    display: flex;
					    align-items: center;
					    width: 100%;
							img{
								width: 100%;
							}
						}
					}
				}
				.palette{
					display: block;
					height: 142px;
					border-top: 2px solid #ffffff;
					#patch{
						margin-top: 0;
						padding: 0;
						overflow-x: auto;
						overflow-y: hidden;
						height: 140px;
						.nsg{
							display: none;
						}
						.customSelection{
							position: relative;
					    display: flex;
					    height: 140px;
					    min-width: 100vw;
					    flex-shrink: 0;
							.input-radio{
								margin: 0;
								height: auto;
								position: relative;
						    opacity: 0;
						    border-right: 2px solid #ffffff;
						    flex-shrink: 0;
						    box-sizing: border-box;
						    width: 156px;
						    animation-timing-function: cubic-bezier(0.52, 0.99, 0.57, 1);
						    animation-fill-mode: forwards;
						    animation-duration: 800ms;
						    animation-delay: 0.2s;
						    animation-name: slideInKeyframes-radium-animation-cd0c47d9;
								@keyframes slideInKeyframes-radium-animation-cd0c47d9 {
									0%{transform: translateX(100vw); opacity: 0;}
									55%{transform: translateX(-28.400000000000002px);}
									60%{transform: translateX(-28.400000000000002px);}
									100%{transform: translateX(0); opacity: 1;}
								}
								label{
									text-align: center;
							    height: 140px;
									overflow: hidden;
							    flex-shrink: 0;
							    cursor: pointer;
							    display: flex;
									text-decoration: none;
									&.selected::after{
										content: '';
								    position: absolute;
								    top: 0;
								    right: 0;
								    bottom: 0;
								    left: 0;
								    background: #000;
								    opacity: 0.1;
									}
									.img-type{
										width: 100%;
										height: 100%;
										align-items: center;
										text-align: center;
										justify-content: center;
										padding-top: 8px;
										img{
											width: auto;
											height: 100%;
											display: inline-block;
										}
										span{
											display: block;
											text-align: center;
											font-size: 12px;
											color: #8d8d8d;
											line-height: 14px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}