.quickview {
	.uk-modal-dialog {
		width:955px;
	}

	.uk-grid {
		margin-left:0;
	}

	.product-detail_wrap {width:100%;}
	.img-detail_product {
		width: 485px;
		padding-left:0;

		.product-gallery {
			.swipe-container {width:100%;}
			//.bx-controls {display:none;}
		}
	}

	.img-detail_product_n {
		padding: 0 20px;
	}

	/* 장바구니 옵션 변경 팝업일때 안보임 처리 */
	.info-wrap_product_n .store-reserve-wrap.line,
	.info-wrap_product_n .stocked-wrap,
	.info-wrap_product_n .discription-wrap,
	.notify-me{
		display: none !important;
	}
	.info-wrap_product_n .quantity {
		display:block;
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.quickview {
		.info-wrap_product_n {
			.size-grid-type{
				padding: 0px;
			}
			.option-wrap{
				.quantity{
					padding: 0px;
					
				}
				.tit{
					span{
						left:0px;
					}
					&:after{
						left:0px;
						right:0px;
					}
				}
			}
		}

		.img-detail_product_n {
			padding: 0px;
		}
	}
	.product-detail_wrap {
		//slide
		.product-gallery {
			.bx-controls {display:block;}
		}

		//thumbWrap
		.product-thumb.show {display:none;}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
