@charset "utf-8";

/****** 입고알림 팝업 style  ******/
  #restock-notification {
    .uk-modal-dialog {
      width: 640px;
    }
  }
.restock-wrap {
  padding: 0;position: relative;
  .top {
    display: block;
    padding-bottom: 0;
    overflow: hidden;
    width: 100%;
    .pdttxt {
      float: none;
      text-align: center;
      h2 {
        padding: 27px 0 0;
        font-size: 24px;
        color: #000;
        font-weight: 700;
        margin: 0 20px;
      }
      .note {
        border-bottom: 1px solid #e5e5e5;
        margin: 0 20px;
        padding: 20px 0 16px;
        display: block;
        font-size: 13px;
        color: #8d8d8d;
      }
    }
  }
  .nodata {
    padding: 16px 25px 40px;
    text-align: center;
     p {
      display: inline-block;
      text-align: left;
      font-size: 14px;
      color: #666;
      line-height: 1.7;
      text-indent: -42px;
    }
    .ns-info {
      margin-right: 18px;
      font-size: 26px;
      color: #111;
      vertical-align: middle;
    }
  }


}

.selectwrap {
  display: block;
  width: auto;
  padding-bottom: 0;
  margin: 0 20px;
  position: relative;
  text-align: center;
  border-bottom: none;
  // overflow: hidden;
  > .lc_pop_ttl {
    font-weight: 700;
    font-size: 13px;
    color: #8d8d8d;
    padding-top: 24px;
  }
  > .lc_pop_ttl.not_lc {
    font-size: 15px;
    color: #000;
  }
  > .lc_pop_nickname {
    font-weight: 400;
    letter-spacing: -0.1px;
    font-size: 20px;
    color: $font-1;
    padding-top: 24px;
  }
  .select_type01 {
    position:relative;
    overflow:hidden;
    padding: 0 0 20px;
    z-index: 1;
    .bx-wrapper {
      max-width:180px;
      -webkit-box-shadow:none;
      box-shadow:none;
      .bx-pager {
        display:none;
      }
    }
    .mtopslider {
      li {
        text-align:center;
        position: relative;
        img {
          margin: 15px 0;
          box-sizing: border-box;
        }
        p {
          // position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          font-size: 12px;
          font-weight: 400;
          color: #777777;
          span {
            display: block;
            font-size: 11px;
            font-weight: 400;
            color: #666;
            margin-top:3px;
          }
        }
      }
    }
  }

  /* color option - select */
  .select-color-wrap {
    float: left;
    width: 100%;
    padding: 0 64px;
    text-align: left;
    box-sizing: border-box;

    .tit {
      float: left;
      width: 60px;
      margin-top: 27px;
      margin-right: 16px;
      font-size:12px;
      color: $font-1;
    }
    .select-color {
      position: relative;
      float: left;
      padding: 8px 0 8px 16px;
      width: -moz-calc(100% - 76px);
      width: -webkit-calc(100% - 76px);
      width: calc(100% - 76px);
      border: 1px solid #e8e8e8;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      box-sizing: border-box;
      .btn-option {
        &:before {
          position: absolute;
          top: 50%;
          right: 20px;
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-top: -8px;
          border-right: 3px solid #111;
          border-top: 3px solid #111;
          transform: rotate(135deg);
        }
      }
      .prd-img {
        float: left;
        width: 54px;
        padding: 2px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        &.active {
          position: relative;
          &:before {
            content:'';
            position:absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            display:block;
            border: 3px solid #e0e0e0
          }
        }
        .thumb {
          width: 100%;
       }
      }
      .opt {
        float: left;
        margin-top: 15px;
        padding-left: 16px;
        .optname,
        .optcode {
          display: block;
          font-size: 12px;
          color: #8d8d8d;
          line-height: 1.3;
        }
      }
    }
    /* color option list */
    .opt_list {
      clear: both;
      position: absolute;
      top: 100%;
      left: -1px;
      width: 100%;
      margin-top: -1px;
      border: none;
      background: #fff;
      border: 1px solid #e8e8e8;
      border-top: 0;
      z-index: 10;
      ul {
        overflow:hidden;
        li {
          padding: 0;
          float: left;
          width:100%;
          padding: 8px 0 8px 16px;
          box-sizing: border-box;
          a {
            display: block;
            background: #fff;
            .prd-img {
              float: left;
              width: 54px;
              padding: 2px;
              border: 1px solid #e0e0e0;
              box-sizing: border-box;
            }
            .opt {
              float: left;
              margin-top: 15px;
              padding-left: 16px;
            }
            &.sd_out {
              background: #f7f7f7;
              color: #dddddd;
              cursor: default;
            }
            &.off {
              cursor: default;
            }
            &.selected {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /* size option - select */
  .select-size {
    clear: both;
    width:100%;
    float: left;
    margin-top: 24px;
    padding: 0 64px;
    box-sizing: border-box;
    .btn-option {
      display: block;
      position: relative;
      padding: 0;
      text-align: left;
      border: none;
      height: 60px;
      line-height: 60px;
      border-top: 1px solid #e5e5e5;
      &:before {
        position: absolute;
        top:0;
        right: 0;
        font-family: 'nike';
        content: "\e037";
        font-size: 15px;
      }
      &.open {
        // &:before {
        //   position: absolute;
        //   top:0;
        //   right: 0;
        //   font-family: 'nike';
        //   content: "\e02d";
        //   font-size: 15px;
        // }
      }
      .tit {
        float: left;
        width: 60px;
        margin-right: 16px;
        font-size:12px;
        color: $font-1;
        font-weight: normal;
      }
      .default {
        float: left;
        width: -moz-calc(100% - 76px);
        width: -webkit-calc(100% - 76px);
        width: calc(100% - 76px);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: right;
        font-size: 12px;
        color: $font-1;
        padding-right: 20px;
        &.selected {
          color: #000;
          font-weight:700
        }
      }
    }

    .opt-list {
      ul {
        width: 100%;
      }
      li {
        position: relative;
        float: left;
        width: 20%;;
        height: 62px;
        box-sizing: border-box;
        text-align: center;
        &:before {
          content:'';
          display:block;
          position: absolute;
          top: -1px;
          right: 0;
          left: -1px;
          bottom: 0;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          border-top: 1px solid #e5e5e5;
        }
        a {
          display: block;
          height: 62px;
          padding-top: 24px;
          vertical-align: middle;
          cursor: pointer;
          box-sizing: border-box;
          background-color: #fff;
          &.sd-out {
            background-color: #f7f7f7;
            color: #ddd;
            cursor: default;
          }
          &.selected {
            background-color: #111;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 휴대폰 번호 style */
.stockList {
  clear: both;
  background: #fff;
  display: block;
  margin: 0 20px;
  padding: 24px 64px 0;
  fieldset {
    dl {
      div {
        dt {
          float: left;
          width: 60px;
          margin-top: 15px;
          margin-right: 16px;
          label {
            font-size: 12px;
            color: #111111;
          }
        }
       dd {
          float: left;
          -moz-width: calc(100% - 76px);
          -webkit-width: calc(100% - 76px);
          width: calc(100% - 76px);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          box-sizing: border-box;
        }
      }
    }
    input[type="text"] {
      width: 100%;
      padding: 12px 11px;
      box-sizing: border-box;
      border: 1px solid #e8e8e8;
      color: #8d8d8d;
      font-size: 14px;
    }
    [type="checkbox"]:checked + label:after {
      padding-left: 3px;
    }
  }
  /* 개인정보 취급 방침 동의 */
  .privacy-agree {
    display: table;
    margin-top: 10px;
    .txt {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .btn-wrap {
    margin-top: 43px;
    padding: 0 48px;
    .btn-restock {
      width: 100%;
    }
  }
}

/* =========== 개인정보취급방침 레이어 =========== */

.layerPrivacyPolicy {
  display:none;
  * {letter-spacing: -1px;}
  .bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    background:#000;
    opacity:.8;
    z-index:1
  }
  .box {
    position:fixed;
    top: 50%;
    left: 50%;
    padding: 26px 30px 35px 30px;
    width: 360px;
    height:auto;
    margin-left: -210px;
    margin-top: -184px;
    display:block;
    background:#fff;
    text-align: center;
    z-index: 12;
  }
  .close {
    position: absolute;
    top: 19px;
    right: 25px;
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: $font-1;
  }
  .title {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .sub {
    font-size: 13px;
    color: #888888;
    line-height: 1.45;
    margin-bottom: 10px;
    span {
      color: #565656;
      font-weight:700;
    }
  }
  .txt_1 {
    line-height: 1.45;
    padding: 13px 15px;
    text-align: left;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    p {margin: 2px 0;}
    strong {
      font-size: 13px;
      color: #565656;
      font-weight:700;
      display:inline-block;
      vertical-align:top;
      margin-right: 5px;
    }
    span {
      font-size: 13px;
      color: #888888;
      display:inline-block;
      vertical-align:top;
    }
  }
  .txt_2 {
    line-height: 1.45;
    text-align: center;
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 13px;
    padding: 8px 0;
    background: #000;
    border-radius: 2px;
    color: #fff;
    display: block;
    width: 127px;
    margin: 0 auto;
    text-align: center;
  }
}




 .selectwrap .select_type01 a.bx-prev {position: absolute;top: 50%;left: 0;margin-top:-107.75px;outline: 0;width: 19px;height: 19px;text-indent:0;z-index: 0;background:none; font-size: 0;}
 .selectwrap .select_type01 a.bx-prev.disabled {display:block;background-position: 0 0;cursor:default}
 .selectwrap .select_type01 a.bx-next {position: absolute;top: 50%;right: 0;margin-top:-107.75px;outline: 0;width: 19px;height: 19px;text-indent:0;z-index: 0;background:none; font-size: 0;}
 .selectwrap .select_type01 a.bx-next.disabled {display:block;background-position: -10px 0;cursor:default}

 .uk-modal-dialog .bx-wrapper .bx-viewport {
    height: 210px !important;  
/*    height: 401px !important;*/
  }
  .selectwrap .select_type01 .mtopslider li {
    width:180px !important;
  }

.selectwrap .select_type01 a.bx-prev,
.selectwrap .select_type01 a.bx-next {
  &:after {
    color: #111;
    font-size: 20px !important;
    opacity: 1;
    font-weight: bold;
    font-family: 'icomoon' !important;
  }
}
.selectwrap .select_type01 a.bx-prev {
  left: -123px;
  &:after {
    content: $icon-arrow_left;
  }
}
.selectwrap .select_type01 a.bx-next {
  right: -123px;
  &:after {
    content: $icon-arrow_right;
  }
}

 /* .stockList fieldset dl dd.agreearea {display: inline-block;vertical-align: middle;float: none;width: 100%;margin-top: 17px;text-align: left;height: auto;}
 .stockList fieldset dl dd.agreearea .agreearea_a {display: inline-block;vertical-align: middle;float: none;width: auto;}
 .stockList fieldset dl dd.agreearea .agreearea_b {display: inline-block;vertical-align: middle;float: none;width: auto;}
 .stockList fieldset dl dd.agreearea label {display: block;margin-right: 5px;width: 16px;height: 16px;border: 1px solid #bbbbbb;cursor: pointer;padding-bottom: 0;}
 .stockList fieldset dl dd.agreearea p {color: #444;font-size: 1em;padding-bottom: 0;display: block;line-height: 1.2;}
 .stockList fieldset dl dd.agreearea p .privacyPolicy {font-weight: 700;} */
 /* .stockList fieldset .submit_btn {margin-top: 30px;}
 .stockList fieldset .submit_btn a {display: inline-block;height: 31px;line-height: 31px;background: #fa5400;color: #fff;letter-spacing: 0px;border-radius: 2px;padding: 5px 18px;font-size: 13px;} */


/******** 매장픽업 주문하기 style *******/

.reservation-wrap {
  .top {
    .tit {
      h2{
        padding-bottom: 20px;
        font-weight: bold;
        text-align:center;
        font-size: 24px;
        color: #000;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
  .product-wrap {     // 상품이미지 (레이어)
    margin-bottom:30px;
    .name {
      margin-top: 24px;
      font-size: 13px;
      color: #8d8d8d;
      text-align:center;
    }
    .model {
      font-size: 12px;
      color: #8d8d8d;
      text-align:center;
    }
    .color-image-wrap {
      position:relative;
      height: 180px !important; /*20180206important 추가*/
      /*20180207 삭제
      margin-top: 20px;
      */
      .img-type-box {
        position:absolute;
        left:50%;
        margin-left:-90px;
        width:180px;
        height:180px;
        .img-type {
          display:block;
          padding: 10%;
        }
      }
    }
  }

  .discription-wrap {     // 지역코드 선택
     border: 1px solid #e5e5e5;
    .pop-detail-title {
      position: relative;
      padding: 17px 25px 2px;
      font-size: 12px;
      color: #000;
      background: #fff;

      &:before {
        position: absolute;
        top:18px;
        right: 25px;
        font-family: 'nike';
        content: "\e037";
        font-size: 15px;
      }
      &.uk-active {
        &:before {
          position: absolute;
          top:18px;
          right: 25px;
          font-family: 'nike';
          content: "\e02d";
          font-size: 15px;
        }
      }

      .location {
        float: right;
        margin-right: 20px;
      }
    }
    .pop-detail-content {
      margin-bottom: 16px;
      padding: 0 84px;
    }
  }
  .size-wrap {
    border: 1px solid #e5e5e5;
    margin: 0;

    .tit {
      position: relative;
      margin-bottom: 0;
      padding: 17px 25px;
      font-size: 12px;
      color: #000;
      background-color: #fff;

      &.uk-accordion-title {
        margin-bottom: 0px;
      }

      &:before {
        position: absolute;
        top:18px;
        right: 25px;
        font-family: 'nike';
        content: "\e037";
        font-size: 15px;
      }
      &.uk-active {
        &:before {
          position: absolute;
          top:18px;
          right: 25px;
          font-family: 'nike';
          content: "\e02d";
          font-size: 15px;
        }
      }
      .size-select-txt {
        display: inline-block;
        float: right;
        margin-right: 20px;
        font-size: 12px;
        color: #999999;
      }
    }
    .code-wrap_radio {
      display: table;
      width: 100%;
      padding: 0 84px 16px;
      box-sizing: border-box;
      &:after,
      &:before {
        content: "";
        display: table;
      }
      .code-wrap_radio_inner {
        width:100%;
        display: table;
        //border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        .reservation-product-size {
          &:first-child {
            border-left:0;
          }
          &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            border-top: 1px solid #e5e5e5 !important;
          }
          display: table-cell;
          border: 1px solid #e5e5e5;
          margin:0;
        }
        .reservation-product-size + .reservation-product-size {
          border-left:0;
          border-top:0;
        }
      }  //20180605 추가
    }
  }
}

/* 매장상품확인 - 선택매장 리스트 */

.location-search {

  .location-code-wrap {
    .p-radiobox, .p-checkbox {
      margin-bottom:20px;

      li {
        border-bottom:1px #E5E5E2 solid;
        position: relative;
        input {
          position: absolute;
          left:0;
          top:9px;
        }
        label {
          display: block;
          padding: 14px 0 10px 25px;
        }
      }
    }

    .p-radiobox {
      input {
        -webkit-appearance: radio;
      }
    }
    .p-checkbox {
      input {
        -webkit-appearance: checkbox;
      }
    }
  }

  .current-location-area {
     position: relative;
     padding: 20px 0 17px;
    .location-item {
      .location-addr {
        font-weight: bold;
        color: $font-1;
        vertical-align: middle;
        .icon {
          font-size: 20px;
        }
      }
      .location-select {
        display: inline-block;
        margin-left: 8px;
        font-size: 12px;
        text-decoration: underline;
        color: #333;
      }
    }
   .txt {
      margin-bottom: 12px;
      font-size: 12px;
      color: #999;
    }
    .btn-location-self {
      position: absolute;
      top: 41px;
      right: 15px;
      font-weight: bold;
      font-size: 12px;
      color: #333;
    }
  }
  .shipping-header {    //  header - 매장명, 수량
    display: table;
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;

    .store-name {
      display: table-cell;
      padding: 13px 16px 0;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: $font-1;
      cursor:pointer;
      i {
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
    .prd-cnt {
      display: table-cell;
      width: 136px;
      padding: 13px 16px 0;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: $font-1;
      border-left: 1px solid #fff;
      cursor:pointer;
      i {
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
  .shipping-list {
    display: table;
    width: 100%;
    border-top: 0;
    border-bottom:1px solid $border-2;
    padding: 0;
    color:$font-1;

    .column-addr {
      display: table-cell;
      padding: 16px;
      vertical-align: top;
    }
    .column-reserve {
      display: table-cell;
      width: 136px;
      padding: 16px;
      border-left: 1px solid #fff;
      text-align: center;
      .quantity {
        display:block;
        line-height: 2.6;
        color: $primary-color;

      /* SEAMLESS_START */
        &.txt-black {
          color: #333;
        }
      /* SEAMLESS_END */

      }
      .reservation-apply {
        width: 80px;
      }
      /* SEAMLESS_START */
      .pickup-apply {
        width: 80px;
        margin-top: 5px;
      }
      /* SEAMLESS_END */
    }

    .ship-tit {display:inline-block; width:100%;
      // font-weight:bold;
    }
    .address-default {font-weight:normal; color:$font-3;}
    .user-name {display:inline-block; width:100%; margin-top:15px;
      // font-weight:bold;
    }
    .address-wrap {
      clear:both;
      float: left;
      margin-top: 10px;
      .addr {
        min-height: 24px;
        padding-top: 0;
        font-size: 12px;
        color: #8d8d8d;
        line-height: 1.6;
      }

      .addr-type {
        width: 40px;
        height: 20px;
        margin-right: 4px;
        padding-top:0;
        border-radius: 2px;
        border:1px solid #ddd;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: $font-1;
        box-sizing: border-box;
        letter-spacing: -0.2px;
        &.phone-type {
          border:0;
        }
      }
    }

    form {display:inline-block;}
  }

}



#pickup-popup {
  .uk-modal-dialog {
    width: 640px;
  }
}
.pickup-store-pack {
  margin-top: 45px;
  padding: 0 20px;
  .location-area {
    position: relative;
    .location-info {
      i {
        font-size: 20px;
        color: $primary-color;
        vertical-align: -2px;
      }
      strong {
        font-size: 16px;
      }
    }
    .my-location-btn {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: $font-size-s;
      i {
        font-size: 16px;
        color: $primary-color;
        vertical-align: -2px;
      }
    }
  }
  .pickup-search-field {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-left: 128px;
    box-sizing: border-box;
    &:after {
      content: '';
      clear: both;
      display: block;
    }
    .select-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      select {
        height: 40px;
      }
    }
    .search-area {
      position: relative;
      padding-right: 86px;
      .input-textfield {
        width: 100%;
        input {
          height: 40px;
        }
      }
      .pickup-search-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
      }
    }
  }
  .pickup-search-result {
    margin-top: 15px;
    .cmt {
      margin-bottom: 8px;
      font-size: $font-size-s;
      color: #808080;
    }
    .tbl-header {
      display: table;
      width: 100%;
      height: 40px;
      background-color: #fafafa;

      li {
        display: table-cell;
        padding: 0 15px;
        font-size: 14px;
        color: #666;
        vertical-align: middle;
        box-sizing: border-box;
        border-left: 1px solid #fff;
        &:first-child {
          border-left: 0;
        }
        &.item-store {
          width: 80%;
        }
      }
    }


    .tbl-wrap .item-store {
      width: 80%;
    }
    .tbl-wrap .item-store, .tbl-wrap .item-count {
      display: table-cell;
    }
    .pickup-result-wrap {
      // .item-box-inner {
      //  padding: 16px 0;
      //  border-bottom: 1px solid $border-2;
      // }
      padding: 16px 0;
      border-bottom: 1px solid $border-2;
      .pickup-txt {
        display: table;
        width: 100%;
        padding-left: 16px;
        padding-bottom: 10px;
        box-sizing: border-box;
        .item-store {
          .store-km {
            span {
              padding-right: 10px;
              font-size: 14px;
              font-weight: bold;
              color: $font-0;
            }
          }
          ul {
            li {
              position: relative;
              margin-top: 15px;
              text-align: left;
              em {
                display: inline-block;
                margin-right: 4px;
                width: 40px;
                padding: 4px 0;
                font-size: 11px;
                font-weight: 500;
                color: #111;
                border: 1px solid $border-2;
                border-radius: 2.5px;
                text-align: center;
                vertical-align: middle;
              }
              .address {
                font-size: 12px;
                color: #8d8d8d;
                text-align: center;
                vertical-align: middle;
              }
            }
          }
          .phonenum {
            display: block;
            margin-top: 25px;
            font-size: 12px;
            color: #8d8d8d;
          }
        }
        .item-count {
          vertical-align: middle;
          .num {
            font-size: 14px;
            color: $primary-color;
          }
          .btn-link {
            margin-top: 20px;
            width: 80px;
            &.uk-active {
              color: $default-color;
              &:before {
                border-color: #ccc;
              }
            }
          }
        }
      }
      .pickup-map {
        padding: 10px 16px 0;
        .map-area {
          min-height: 200px;
        }
        dl {
          display: table;
          width: 100%;
          dt {
            display: table-cell;
            font-size: 12px;
            vertical-align: middle;
          }
          dd {
            display: table-cell;
            position: relative;
            margin-top: 10px;
            padding-right: 86px;
            box-sizing: border-box;
            .select-box {
              width: 100%;
              select {
                height: 40px;
              }
            }
            .pickup-order-btn {
              position: absolute;
              right: 0;
              top: 0;
              width: 80px;
            }
          }
        }
      }
    }
  }
}

/* SEAMLESS 팝업 */
.qest-mark, .order-count {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 1000;

  &.active {
    display: block;
  }
  .uk-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1002;
  }
}
.qest-mark { // 안내
  width: 320px;
  min-height: 200px;
  margin-left: -160px;
  margin-top: -140px;
  padding: 0 20px 20px 20px;

  .title {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px 20px 28px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid $border-3;
    color: $font-0;
  }
  .body {
    line-height: 20px;
    padding: 24px 0 0;
    font-size: 12px;
    color: $font-0;

    .arrow-process {
      margin: 24px 0 0;

      li {
        float: left;
        font-weight: bold;

        i {
          font-size: 4px;
          font-weight: bold;
          margin: 0 5px;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .link {
      color: $font-3;
      border-bottom: 1px solid $font-3;
    }
  }
}
.order-count { // 수량선택
  width: 300px;
  min-height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  padding: 20px;

  .title {
    padding-bottom: 8px;
    font-size: 18px;
    color: $font-0;
  }
  .body {
    padding-top: 24px;

    .count {
      .count-box {
        float: left;
        width: 130px;
        position: relative;

        input {
          padding: 0;
          margin-left: 39px;
          font-size: 12px;
          border: 1px solid #e8e8e8;
          text-align: center;
          border-radius: 0;
          box-sizing: border-box;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
          }
          .label {
            width: 47px;
            height: 42px;
            line-height: 42px;
          }
        }
        button {
          width: 40px;
          height: 42px;
          line-height: 42px;
          padding: 0;
          border: 1px solid #e8e8e8;
          border-radius: 0;
          background-color: #fff;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;

          &.plus {
            left: 85px;
          }
          span {
            position: absolute;
            left: -9999em;
          }
        }
        .label {
          width: 47px;
          height: 42px;
          line-height: 42px;
        }
      }
      .price-box {
        float: right;
        width: 130px;
        text-align: right;
        padding: 0;
        position: relative;

        > * {
          display: block;
        }

        > strong { display: inline-block;}

        .price-sale {
          margin-top: 3px;
          font-size: 14px;
          color: #979797;
          text-decoration: line-through;
        }
        .price {
          font-size:16px;
          color: #000;
          height: 42px;
          line-height: 42px;

          strong {
            font-weight: 400;
          }
        }
        .price-sale + .price {
          color: #fa5400;
          margin-top: 5px;
          height: auto;
          line-height: 1;
        }
        .disc-num {
          font-size: 12px;
          margin-top: 5px;
          position: absolute;
          left: 2px;
          bottom: 0;
          color: #000;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .msg {
      /* margin-top: 10px; */
      color: #f00;
      position: absolute;
      bottom: 72px;
    }
    .btn-link {
      font-size: 14px;
      margin-top: 30px;
    }
    .btn-link-nosign {
      font-size: 14px;
      margin-top: 24px;
    }
  }
}
/* SEAMLESS_END */

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
  .location-search {
    .shipping-header {
      .prd-cnt {
        width: 80px;
      }
    }
    .shipping-list {
      .column-reserve {
        width: 80px;
      }
      .address-wrap {
        .addr-type {
          display: none;
        }
        .addr {
          width: 100%;
        }
      }
    }
  }
  .code-wrap_radio {
    .input-radio {
      label {
        display: table !important;
      }
    }
  }  //20180605 추가
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
  .restock-wrap {
    .top {
      .pdttxt {
        h2 {
          padding-top: 0;
        }
      }
    }
  }

  .selectwrap {
    margin: 0;
    .select-size {
      padding: 0;
    }
  }
  .stockList {
    margin:0  20px !important;
    padding: 24px 0 0 !important;
    .btn-wrap {
      margin-top: 20px;
      padding: 0;
    }
  }
  .restock-wrap {
    .nodata {
      padding: 16px 20px 20px 20px;
      p {
        text-indent: 0;
        font-size: 13px;
      }
      .ns-info {
        margin-right: 8px;
      }
    }
  }
  .layerPrivacyPolicy {
    .box {
      width: 100%;
      padding: 26px 20px 35px 20px;
      box-sizing: border-box;
      margin-left: -50%;
    }
  }

  .reservation-wrap {
    .size-wrap {
      .code-wrap_radio {
        padding: 0 10px 16px;
      }
    }
  }

  .selectwrap .select_type01 .bx-wrapper {
    max-width: 100px;
    a.bx-prev {
      left: -88px;
      margin-top: -83.75px;
    }
    a.bx-next {
      right: -88px;
      margin-top: -83.75px;
    }
  }

  .uk-modal-dialog .bx-wrapper .bx-viewport {
    height: auto !important;
  }
  .selectwrap .select_type01 .mtopslider li {
    width:100px !important;
  }

  .module_restock .uk-modal-dialog .js-modal-confirm-cancel,
  .module_restock .uk-modal-dialog .js-modal-confirm {
    padding:16px 40px !important;
    margin:0 2px !important;
    width: 130px;
  }
  .selectwrap .select-size {
    margin: 0 20px !important;
  }
  .selectwrap .select-size .btn-option .default {
    letter-spacing: -1px;
    font-size: 12px;
  }
  .uk-modal .modal__content .price-title_wrap h1 {
    padding: 0 20px;
    line-height: 30px;
  }
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}







.uk-modal {
  &#restock-notification {
    .uk-modal-dialog {
      width:500px;
    }
  }
  &--fullpage {
    .uk-modal-dialog {
      width:500px;
      padding:0;
    }
    .uk-modal-close {
      top: 16px;
      right: 21px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--background {
    background-size: cover !important;
    transition: background .3s ease;
    .uk-modal-dialog {
      background: none;
    }
    .uk-modal-close {
      color: #fff;
    }
  }
  &--vertical-top {
    z-index:5;
    .uk-modal-dialog {
      margin: 0;
      max-width: 1440px;
      border-radius: 0;
      padding: 0 55px;
      box-shadow: none;
      background:none;
      box-sizing:border-box;
      position:absolute;
      left:50%;
      top:0;
      transform:translateX(-50%);
      width:100%;
    }
    .uk-modal-close {
      top: 128px;
      right: 20px;
      &.white-close {
        &:after {
          color: #fff;
        }
      }
    }
    .modal__content__wrap {
      width:384px;
      background:#fff;
      position:absolute;
      right:55px;
      top:108px;
    }
    .modal__bottom__area {
      padding:30px 25px 25px !important;
    }
  }
  &--vertical-center {
    .uk-modal-dialog {
      margin: 0 40px;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      transition: opacity .3s linear,transform .3s ease-out, top .3s ease-out;
      padding: 0 0 25px;
      width:390px;
    }
    .modal__header {
      margin:0 30px !important;
      padding:30px 0 !important;
    }
    .modal__content {
      padding:40px 30px 0;
    }
    .modal__header + .modal__content {
      padding:27px 30px 0;
    }
    .modal__bottom__area {
      padding:30px 30px 0 !important;
    }
    &.uk-open {
      .uk-modal-dialog {
        top: 50%;
      }
    }
    .uk-close {
      top: 28px;
      right: 28px;
    }
    &--w700 {
      .uk-modal-dialog {
        width:700px;
        .modal__content {
          padding:40px 40px 15px;
        }
      }
    }
  }
  .modal__header {
    font-size:18px;
    color: $font-1;
    padding: 40px 0;
    margin:0 40px;
    border-bottom: 1px solid #e5e5e5;
    &--white {
      color: #fff;
    }
    &--noborder {
      border-bottom: 0;
    }
    p {
      margin-top: 12px;
      font-size: $font-size-m;
      color: $font-3;
      line-height: 22px;
      font-weight: normal;
    }
  }
  .link_view_more {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(/nike/common/img/ico_view_more.png) 0 0 no-repeat;
    background-size: 100%;
    font-size: 0;
    color: transparent;
    vertical-align: 15px;
    margin-left: 9px;
    background-color:#666;
    border-radius:50%;
    position: relative;

    &::before {
      font-family: 'nike'!important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "?";
      display: block;
      position: absolute;
      top: 2px;
      left: 5px;
      font-size: 9px;
      color: #fff;
      z-index:1;
    }
  }
  .modal__slick {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 40px;
    .slick-slide {
      img {
        width: 36%;
        margin: 0 auto;
      }
    }
    .slick-arrow {
      font-size: 0;
      color: transparent;
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      line-height: 40px;
      z-index: 5;
      &:after {
        color: #111;
        font-size: 20px !important;
        opacity: 1;
        font-weight: bold;
        font-family: 'icomoon' !important;
      }
      &.slick-prev {
        left: -10px;
        &:after {
          content: $icon-arrow_left;
        }
      }
      &.slick-next {
        right: -10px;
        &:after {
          content: $icon-arrow_right;
        }
      }
      &.slick-disabled {
        opacity: 0.3;
      }
    }
  }
  &-title--sticky {
    transform:none;
    -webkit-transform:none;
    &.uk-open .uk-modal-dialog {
      transform:none;
      -webkit-transform:none;
    }
    .uk-close {
      position:fixed;
      z-index:101;
      top: 28px;
      right: 41px;
    }
    .review-product-wrap {
      position:fixed;
      top:0;
      background:#fff;
      z-index:100;
      & + div {
        padding-top:105px;
      }
    }
  }


  .opt-select-wrap {
    position: relative;
    padding: 0 0 0;
    margin:0 40px;
    .opt-tit-wrap {
      padding-top:28px;
    }
    .tit {
      position: relative;
      font-weight: bold;
      font-size: $font-size-m;
      color: $font-1;
      transition: all .3s ease;
    }
    .text {
      font-size: $font-size-sm;
      color: $font-3;
    }
    .opt-cont-wrap {
      margin-top: 19px;
      .underline {
        text-decoration: underline;
      }
    }
    .opt-alarm-list {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .input-radio {
        float: left;
        width: calc(100% / 3);
        label {
          position: relative;
          padding-left: 27px;
          font-size:$font-size-s;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #bbb;
            border-radius: 50%;
            transition: all .2s ease;
          }
        }
        input:checked + label {
          &:before {
            background: #111;
            border: 1px solid #111;
          }
        }
      }
    }
  }
  .modal__content {
    .selectwrap {
      margin:0;
      &:after {
        display:block;
        content:'';
        clear:both;
      }
    }
    .price-title_wrap {
      text-align: center;
      float: none;
      width: 100%;
      padding: 40px 0 40px;
      h1 {
        font-size: 18px;
        font-weight: bold;
        color: $font-1;
      }
      .price-wrap {
        .item-location {
          margin: 19px auto 9px;
          font-size: $font-size-m;
          color: $font-3;
        }
        .price-sale {
          display: inline-block;
          color: $font-3;
          font-size: $font-size-m;
          text-decoration: line-through;
        }
        .price {
          display: inline-block;
          strong {
            font-size: $font-size-m;
            color: #fb5302;
            font-weight: normal;
          }
        }
        .item-product-number {
          font-size: $font-size-m;
          color: $font-3;
        }
      }
    }
    .dep2-tit {
      display: block;
      font-size: 18px;
      color: #000;
      text-align: center;
      font-weight:bold;
      &--alignleft {
        text-align:left;
        margin-bottom:28px;
      }
    }
    .dep2-text {
      display: block;
      font-size: $font-size-sm;
      color: #666;
      line-height: 22px;
      text-align: center;
      margin-top: 10px;
      em {
        font-weight: bold;
        color: $font-1;
      }
      &--alignleft {
        text-align:left;
      }
    }
    .dep2-table {
      margin-top: 17px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 14px 0;
      table {
        width: 100%;
        table-layout: fixed;
        font-size: $font-size-m;
        line-height: 19px;
        text-align: left;
      }
      caption {
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      th {
        color: #666;
        padding: 3px 0 3px 20px;
        font-weight: normal;
      }
      td {
        color: $font-1;
        padding: 3px 0;
      }
    }
    .dep3-tit {
      display:block;
      font-size:$font-size-m;
      font-weight:bold;
      color:$font-1;
      margin:26px 0 13px;
      &--first {
        margin:0 0 13px;
      }
    }
  }
  .modal__bottom__area {
    text-align: center;
    padding: 30px 0 0;
    font-size: 0;
    font-weight:bold;
    &.btn-half {
      a {
        width: calc(50% - 8px);
        vertical-align:top;
      }
      a + a {
        margin-left: 16px;
      }
    }
  }
}

.selectwrap {
  .select-size {
    float: none;
    margin-top: 0;
    padding: 0 0 28px;
    margin:0 40px;
    border-top:1px solid #e5e5e5;
    width:auto;
    .btn-option {
      height: auto;
      line-height: 1;
      border-top: 0;
      padding-top: 28px;
      &:before {
        display: none;
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }

      &:before {
        position: relative;
        display: block;
        float: right;
        font-size: 14px;
        color: #666;
        text-decoration: underline;
        background-color: transparent;
        padding-left: 15px;
        content: '변경';
      }


      .tit {
        padding-left: 27px;
        &:after {
          display: inline-block;
          content: '';
          width: 18px;
          height: 18px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          // background: url(/nike/common/img/ico_opt_check_complete.png) 0 0 no-repeat;
          background-size: 100%;
          background-color:#6ABB3F;
          border-radius:50%;
        }

        &::before {
          font-family: 'nike'!important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          display: inline-block;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e011";
          display: block;
          position: absolute;
          top: 2px;
          left: 5px;
          font-size: 11px;
          color: #fff;
          z-index:1;
        }
      }
      .default {
        font-size: $font-size-m;
        color: $font-1;
      }

      &.open {
        .tit {
          padding-left: 27px;
        }
      }

      .tit {
        position: relative;
        font-weight: bold;
        font-size: 14px;
        color: #111;
        transition: all .3s ease;
        margin-right: 0;
      }
      .default {
        float: right;
        width: auto;
        padding-right: 0;
        font-size: $font-size-sm;
        color: $font-3;
      }

    }
    .opt-list {
      margin-top: 22px;
      &.list-n3 {
        li {
          width:calc(100% / 3);
        }
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      li {
        height:50px;
        font-size:$font-size-m;
        color:$font-1;
        a {
          height:50px;
          padding-top:17px;
        }
      }
    }
  }
}

.stockList {
  padding:23px 0 0;
  margin:0 40px;
  fieldset {
    dl {
      div {
        dt {
          font-weight: bold;
          font-size: $font-size-m;
          color: $font-1;
          float: none;
          margin: 0;
          width: auto;
          label {
            font-weight: inherit;
            font-size: inherit;
            color: inherit;
          }
        }
        dd {
          float: none;
          width: auto;
          margin-top: 10px;
        }
      }

    }
  }
  .privacy-agree {
    margin-top:5px;
    .txt {
      color: #666;
      strong {
        font-weight: normal;
        color: $font-1;
        text-decoration: underline;
      }
    }
  }
  .btn-wrap {
    margin-top: 26px;
    text-align:center;
    .btn-restock {
      width:auto;
    }
  }
}

.module_restock {
  .uk-modal-dialog {
    width: 437px;
    padding: 40px 30px 30px;
    margin: 0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    font-size: 13px;
    color: #666;
    line-height: 22px;
    text-align: center;

    span {
      display: block;
      margin: 15px 0;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 14px 0;

      strong {
        font-weight: 400;
        display: inline-block;
        padding-left: 41px;
      }
    }
    strong {
      color: #111;
    }

    h1 {
      display: block;
      font-size: 18px;
      color: #000;
      text-align: center;
      font-weight: bold;
      padding-bottom:10px;
      line-height: 26px;
    }

    .js-modal-confirm-cancel,
    .uk-button-primary,
    .uk-button-primary:hover,
    .uk-button-primary:focus {
      background-color: #000;
      color: #fff;
      height: 48px;
      font-size: 15px;
      padding: 16px 55px;
      border-radius: 2px;
      min-height: 30px;
      line-height: 19px;
      font-weight: bold;
      margin: 0 6px;
    }

    .js-modal-confirm-cancel {
      border: 1px solid #111;
      color: #000;
      background: #fff;
    }

    .uk-text-right {
      text-align:center !important;
    }
  }

  // &.uk-open {
  //   .uk-modal-dialog {
  //     top:50%;
  //   }
  // }


  // <div class="uk-modal-footer uk-text-right"><button class="uk-button uk-button-primary uk-modal-close">Ok</button></div>
  // <div class="uk-modal-footer uk-text-right"><button class="uk-button js-modal-confirm-cancel"> 취소</button> <button class="uk-button uk-button-primary js-modal-confirm">신청</button></div>
}

/* review image layerpopup */
.uk-modal-dialog-lightbox.uk-slidenav-position {
  margin:55px 0;
  max-width:calc(100% - 110px);
  .uk-slidenav {
    display:none;
  }
  .uk-modal-close {
    top:30px;
    right:30px;
    width:22px;
    height:22px;
    background:url(/nike/common/img/ico_modal_dialog_lightbox_close.png) 0 0 no-repeat;
    background-size:100%;
    padding:0;
    border-radius:0;
    &:after {
      display:none;
    }
  }
}

/* 상품상세 배송 / 반품 / AS  리뷰  layerpopup 헤더고정 추가 */
#delivery-return-as, #detail-description, #detail-review-all, #deliver-guide, #return-guide, #product-as-guide  {
      &.detail-info-modal {
            overflow-y : auto;
            transform: none;
           .uk-modal-dialog-large {
                transform: none;
               .uk-close {
                     position: fixed;
                     z-index: 101;
                     top:28px;
                     right:41px;
               }
               .review-product-wrap {
                     position: fixed;
                     top: 0;
                     background: #fff;
                     z-index: 100;
                     float: none;
                     padding: 18px 45px;
                     .mini-product-item {
                           display: table;
                           table-layout: fixed;
                           width: 100%;
                      }
                      .product-thumb-img {
                            float: none;
                            display: table-cell;
                            vertical-align: top;
                      }
                      .mini-product-info {
                            float: none;
                            display: table-cell;
                            width: 100%;
                            vertical-align: top;
                            margin:0;
                            padding-left: 10px;
                            > a {
                                  display: inline-block;
                                  width: 100%;
                            }
                      }
                }
                .pdp-guide-modal {
                    padding-top: 160px;
                }
                .review-list-wrap {
                      padding-top: 96x;
                }
           }
      }
}

#detail-description {
  .pdp-guide-modal {
    .guide-area {
      padding-top: 23px;
      margin-top: 40px;
      border-top: 1px solid #ccc;
    }
  }
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
  #delivery-return-as {
    .review-product-wrap {
      padding: 18px 0 18px 45px;
    }
  }
}
