/*  review
/*****************************************************************/
/* 상품평 (리뷰, 그래프, 쓰기)  : str
/*****************************************************************/

#detail-review-all{
	overflow-y: unset;
}
#detail-review-all > div.uk-modal-dialog{
	overflow-y: auto;
	height:100%
}

.width-xlarge{
	&.related-items{
		&.review{
			max-width: 1200px !important;
			padding: 40px 0px !important;
		}
	}
}

@media (max-width: 640px) {
	.width-xlarge{
		&.related-items{
			&.review{
				#crossSale-swiper-container{
					.swiper-slide {
						width:100% !important;
					}
				}
				padding: 40px 8px !important;
			}
		}
	}
}

/* 리뷰 모달팝업 넓이 */
#detail-reviewall, .detail-info-modal{
	.uk-modal-dialog-large {
		width: 100%;
		margin: 0;
		padding: 0;
		max-width: 100%;
		border-radius: 0;
	}
	.uk-close {
		position: absolute;
		top: 40px;
		right: 42px;
		font-size: 16px;
		color: $font-1;
	}
}

/* 마이리뷰 슬라이딩 글자수 제한.. */
.slide{
	.slide_text-over{
		text-align:center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.review_list{
	.review-img-info{
		margin-top: 15px;

        .append-img{
            overflow:hidden;
            display:inline-block;
            max-width:200px;
            max-height:200px;
            input[type=checkbox]{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 1;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
        }
	}
}

/* 리뷰 모달팝업 - 상품이미지 */
.review-product-wrap {
	float: left;
	width:100%;
	padding: 18px 0 18px 45px;
	border-bottom: 1px solid #d8d8d8;
	box-sizing: border-box;
	.product-thumb-img {
		float: left;
		width: 60px;
		height: 60px;
		background-color: #f5f5f5;
	}
	.mini-product-info {
		float: left;
		margin-left: 10px;
		.tit {
			display: block;
			margin-top: 10px;
			font-size: 13px;
			color: #2e2e2e;
		}
		.price {
			display: block;
			margin-top: 5px;
			font-size: 14px;
			color: #2e2e2e;
		}
	}
}

/* 리뷰 모달팝업 - 리뷰리스트 wrapper */
.review-list-wrap {
	max-width: 900px;
	margin: 110px auto 0 auto;
	padding-bottom: 0px;
	.btn-pagination {
		height: 40px;
		margin:0 auto 30px auto;
		button {
			height: 100%;
		}
	}
	.n-review-sort{display:block;margin: 40px 0 10px 0;
		.sort-option{display: inline-block;margin: 4px 0;height: 22px;}
		.sort-option .input-checkbox label{display:inline-block;line-height:1.0;}
	}
}

.detail-review {
	@include box-sizing();
	margin:0 auto;
	padding: 0;
	max-width: 100%;
}
.total-review-summary {
	clear: both;
	max-width: 900px;
	margin:0 auto;
	text-align: center;

	.uk-width-large-1-2,
	.uk-width-large-1-3 {
		width: 100%;
		padding-left: 0;
	}

	.star-total-info {
		position: relative;
	}

	.rating-list-container {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 10px;
		text-align: left;

		.rating-list > li {
			position: relative;
			display: block;
			margin: 0;
			line-height: 16px;
			color: #58595b;

			i.icon-star5 {
				display: inline-block;
				width: 10px;
				height: 16px;
				overflow: hidden;
				font-size: 10px;
				color: #111;
				vertical-align: middle;
				line-height: 16px;
			}

			span {
				vertical-align: middle;
				line-height: 16px;
			}

			.progress-bar {
				position: relative;
				display: inline-block;
				width: 128px;
				height: 5px;
				line-height: 16px;
				margin: 0 10px;
				border-radius: 10px;
				background-color: #ebebeb;
				overflow: hidden;

				i {
					position: absolute;
					display: block;
					height: 5px;
					top: 0px;
					left: 0px;
					background-color: #111111;
					border-radius: 20px;
				}
			}
		}
	}

	@media screen and (max-width: 960px) {
		.rating-list-container {
			position: relative;
			top: auto;
			right: auto;
			display: inline-block;
			margin-top: 10px;
		}
	}
}
.star-total-info {
	margin-top: 60px;
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			position:relative;
			display:inline-block;
			// width: 169px;
			height:16px;
			overflow: hidden;
			vertical-align:middle;
			> i {
				font-size: 16px;
				font-family: 'nike'!important;  //20180725 추가
				color: #e5e5e5;
				&:before {
					content: "\e902";
				}
			}
			.per {
				position: absolute;
				top:0;
				left:0;
				overflow: hidden;
				color: #111;
			}
		}
	}
	.btn-area {
		margin: 16px 0;
	}
	.total-star-point {
		display: inline-block;
		margin-left: 5px;
		font-size: 30px;
		color: $font-1;
		vertical-align: middle;
	}
	.star-review-num {
		display: inline-block;
		margin: 0;
		font-size: 30px;
		color: $font-1;
		vertical-align: middle;
	}
	.helpful-txt {
		font-size: 12px;
		color: $font-1;
	}
	.review-write-btn {
		width: 176px;
		padding: 15px 30px;
	}
}

.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

/* product review graph */
.review-opt-graph {
	display: none;		// total 상품평점 비노출
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width:20px;
		margin-left: 10px;
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		// @include calc( width, '100% - 20px');
		height: 10px;
		background:$border-1;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 70px');
		}
		.opt-graph-point-color {
			height: 10px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:30px;
		text-align:left;
		color:$font-1;
		margin-left: 10px;
	}
}

/* 평가 하는 항목 display */
.opt-value-w {
	padding-left: 61px;
}
.opt-value-wrap {
	float: left;
	width: 100%;
	margin-top: 50px;
	padding: 0;

	.grid-gage {
		float: left;
		padding: 0 20px;
		width: 25%;
		text-align: center;
		box-sizing: border-box;
	}
	.opt-value-list {
		margin-bottom: 10px;
	}
	.opt-value-title {
		display: block;
		width: 100%;
		margin-top:24px;
		font-size: 13px;
		font-weight: bold;
		color: $font-1;
		vertical-align: top;
		text-align: left;
	}
	.opt-value-box {
		// @include calc( width, '100% - 54px');
		width: 100%;
		display: inline-block;
		margin-top: 10px;

		.opt-value-gage {
			display:table;
			position: relative;
			width: 100%;
			height: 4px;
			background-color: #e5e5e5;
			box-sizing: border-box;
			border-radius: 2px;
			.opt-value-dot {
				display:table-cell;

				&.active {
					background-color: $font-1;
				}

				&.per {
					position: absolute;
					top: -2px;
					left: 0;
					width: 8px;
					height: 8px;
					margin-left: -4px;
					border-radius: 50%;
					background-color: $font-1;
				}
			}
		}
		.opt-value-txtbox {
			.opt-value-txt {
				margin-top: 10px;
				font-size: 12px;
				color: $font-2;
				overflow: hidden;
				&.left {float: left;}
				&.right {float: right;}
			}
		}
	}
}

/* 상품평 전체보기&소팅 */
.n-review-sort {
	margin: 40px 0 10px -20px;
	overflow: visible;
	&:after {
		content:'';
		display:block;
		clear: both;
	}
	.review-cnt {
		float: left;
		font-size: 23px;
		font-weight: bold;
		color: #333;;
		.total-cnt {
			margin-right:5px;
			vertical-align: middle;
			.num {
				font-size: 25px;
				color: $primary-color
			}
		}
		.review-filter-delete {
			display: inline-block;
			width: 66px;
			height: 24px;
			border-radius: 2.5px;
			border: solid 1px #dddddd;
			background-color: #f8f8f8;
			color: #111;
			font-size: 12px;
			line-height: 24px;
			text-align: center;
		}
	}
	.review-sort-item {
		float: right;
		> span {
			font-size: 12px;
			color: $font-1;
		}
	}
	.sort-tabs {
		float:right;
	}

	/* sort ui 변경 - select box */

	.reivew-sort {
		position: relative;
		display: inline-block;
		float: right;
		padding: 7px;
		text-align: right;
		select {
			position: relative;
			display: inline-block;
			width: auto;
			height: 18px;
			border: none;
			padding: 0px 7px 0px 0px;
			font-size: 14px;
			text-align: right;
		}
		&:after {
			position: absolute;
			display: block;
			right: 0px;
			top: 7px;
			font-family: nike-glyphs;
			content: "\E607";
			transition: transform 0.25s ease;
			transform: rotate(0deg);
		}
		&.pc:after{
			display:none;
		}
	}
	.select-box {
		.select-head {
			position: relative;
			display: block;
			font-size: 14px;
			line-height: 1.0;
			font-weight: 500;
			letter-spacing: -0.5px;
			border: none;
			padding: 4px 16px 4px 0px;
			text-align: right;
			&:after {
				position: absolute;
				display: block;
				right: 0px;
				top: 5px;
				font-family: nike-glyphs;
				content: "\E607";
				transition: transform 0.25s ease;
				transform: rotate(0deg);
			}
		}
		.select-body {
			.list {
				text-align: right;
				.label {
					font-size: 14px;
					line-height: 1.0;
					padding: 9px 10px;
				}
				&:hover {
					background: transparent;
				}
			}
			.list.checked {
				background: transparent;
				.label {
					color: #808080;
				}
			}
		}
		&:before {
			display: none;
		}
	}
	.select-box.checked {
		.select-head {
			&:after {
				transition: transform 0.25s ease;
				transform: rotate(180deg);
			}
		}
		.select-body {
			display: inline-block;
			width: 100px;
			right: -7px;
			left: auto;
			text-indent: 0;
			overflow: visible;
			border: none;
			background: #fff;
		}
	}
}
/* product review list - new */
.n-review-read {
	.uk-grid {
		margin-left: 0;
	}
	ul {
		list-style:none;
		padding:0;
		> li {
			border-top: 1px solid $border-3;
			padding-bottom: 30px;
		}
	}

	.read-list{
		padding:30px 10px 0;

		.btn-writer-allview {
			display: inline-block;
			margin-left: 10px;
			font-size: 11px;
			text-decoration:underline;
			color: #666;
		}

		/* 상품평 별점 */
		.user-info {
			display: inline-block;
			margin: 0;

			dt{
				display: inline-block;
				margin: 0 7px 7px 0;
				color: #828282;
				font-size: 12px;
				border: none;
				padding: 0;

				&:last-child{
					margin-right: 0px;
				}
			}

			.like {
				position: relative;
				display: inline-block;
				margin: 7px 0;
				> i {
					font-size: 12px;
					font-family: 'nike'!important;
					background: none;
					text-indent: 0;
					font-size: 12px;
					width: 90px;
					color: #e5e5e5;
					vertical-align: top;
					&:before {
						content: "\e902";
					}
				}
				.per {
					position: absolute;
					top:0;
					left:0;
					overflow: hidden;
					color: #111;
				}
			}
		}
		.read-subject {
			//20180312 삭제  font-size: 12px;
			font-weight: 900;
			color: $font-1;
			margin-bottom: 15px;
			font-size: 14px;     //20180312 추가
			letter-spacing:0;   //20180312 추가
			line-height:22px;   //20180312 추가
		}
		.read-comment {
			position:relative;
			//20180312 삭제  font-size: 12px;
			color: #000;
			//20180312 삭제  line-height: 2.1;
			margin-top: 20px;
			margin-bottom: 15px;  //상세페이지 리뷰 리스트 간격 수정
			word-break: break-all;
			font-size: 14px;     //20180312 추가
			line-height:24px;   //20180312 추가
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				input[type=checkbox]{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					z-index: 1;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					pointer-events: none;
				}
				.thumbnail-container{
					display: block;
					max-width:200px;
					> a{
						display: inline-block;
					}
				}
			}
		}
		.review-help {
			margin:15px 0 0;
			font-size: 12px;
			color: $font-2;

			.btn-area {
				margin-top:10px;
				> span {
					color: $font-1;
					font-weight: 900;
					margin-right: 10px;
				}
				.btn-reply {
					display: inline-block;
					width: 88px;
					height: 28px;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					background-color: $primary-color;
					font-size: 15px;
					line-height: 28px;
					color: #fff;
					text-align: center;
					vertical-align: top;
				}
				.like {
					margin-right: 5px;
					font-size: 14px;
					color: #6d6d6d;
					.full{
						display: none;
					}
					.empty{
						display: inline;
					}
					&.selected{
						.full{
							display: inline;
						}
						.empty{
							display: none;
						}
					}
					&.disabled {
						opacity: .5;
						cursor: default;
					}
					.icon-up {
						font-size: 17px;
						color: $font-1;
						vertical-align: -3px;

					}
					.icon-down {
						font-size: 17px;
						color: $font-1;
						vertical-align: -4px;
						&:disabled {
							opacity: .5;
							cursor: default;
						}
					}
					.ns-thumbs-up,
					.ns-thumbs-down {
						font-size: 28px;
						vertical-align: middle;
					}
					.num {
						font-size: 13px;
						vertical-align: top;
					}
				}
			}
		}
	}
	.opt-value-wrap {
		margin-top: 5px;
		width:227px;
		padding: 0px 5px 0 35px;
		box-sizing: border-box;
	}
}

/* 상품리뷰 없을때 */
.no-detail-review {
	.review-noti {
		font-size: 13px;
		color: #2e2e2e;
	}
	.star-average {
		margin-bottom: 5px;
		.like {
			position: relative;
			display: inline-block;
			// width: 169px;
			height: 16px;
			overflow: hidden;
			vertical-align: middle;
			>i {
				font-size: 16px;
				font-family: 'nike'!important; //20180724 추가
				color: #a5a5a5;
				&:before {
					content: "\e902";
				}
			}
		}
	}

	.star-average .like .per {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.review-write-btn {
		display: inline-block;
		margin-top: 20px;
		color: #2e2e2e;
		border-bottom: 1px solid #2e2e2e;
		font-size: 13px;
		line-height: 14px;
	}

}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	.related-items_m {padding-bottom: 0 !important; }
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.review-list-wrap {
		padding-bottom: 0px;
		.btn-pagination {
			height: 60px;
			margin: 0 20px 30px 20px;
		}
		.n-review-sort {
			margin: 30px 20px 20px 20px;
		}
	}

	.n-review-read .read-list .review-img-info .append-img{
		position: relative;
		display: inline-block;
	}

	.n-review-read .read-list .review-img-info .append-img input[type=checkbox]{
		pointer-events: all;
		
		&:checked ~ .thumbnail-container {
			width: 100%;
			max-width: 100%;
			height: auto;
			transition: all 0.25s ease;
			-webkit-transition: all 0.25s ease;

		}
		& ~ .thumbnail-container {
			display: inline-block;
			width: 200px;
			max-width: 100%;
			height: auto;
			transition: all 0.25s ease;
			-webkit-transition: all 0.25s ease;
			img {
				width: 100%;
			}
		}
	}

	.star-total-info {
		margin-top: 48px;
		.star-review-num {
			font-size: 24px;
		}
		.total-star-point {
			font-size: 24px;
		}
	}
	.opt-value-wrap {
		margin-top: 0;
		padding: 0;
		.grid-gage {
			width:100%;
			padding: 0 30px;
			box-sizing: border-box;
		}
	}
	.n-review-read {
		.read-list {
			padding: 30px 30px 0px 30px;
		}
	}
	.n-review-sort {
		margin-right: 10px;
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}

/* 리뷰 작성 부 */
.review-write {
	@include box-sizing();
	padding:0 0 30px;
	background:white;
	fieldset {
		border:0;
		padding:0;
		> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
	}

	.order-lanscape-list {
		padding: 20px 45px 20px;
		border-bottom: 1px solid #d8d8d8;
		.image-wrap {
			width: 60px;
		}
	}

	.tit {color: $primary-color;}
	.like {margin:30px 0;}

	.review-write-title {
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #111;
		margin: 49px 0 20px;
	}
	.rating-star-data {
		width: 900px;
		margin: 30px auto;
		padding: 30px 0 20px;
		text-align: center;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;

		.rating-description {
			padding:15px 0;
		}

	}

	.opt-value-data-wrap {
		width: 1440px;
		margin: 0 auto;
		padding: 0 270px;
		box-sizing: border-box;
		.opt-value-data {
			float: left;
			width: 25%;
			padding:10px 10px 40px;
			box-sizing: border-box;

			.opt-txt {
				display: inline-block;
				font-size: 14px;
				line-height: 36px;
				color: #111111;
				vertical-align: top;
				font-weight: bold;
				&.error{
					color: red;
				}
			}
			.opt-strip {
				display:table;
				width:100%;

				.radio-style {
					display:table-cell;
					min-height: auto;
					line-height: 0;
					margin-right:0;
					font-size: 0;
					input[type=radio]:not(old)+label {
						height: 4px;
					}
					input[type=radio]:not(old):checked+label {
						position:relative;
						background:#000;
						border-color:#000;
						&:before {
							content: '';
							position: absolute;
							left: -1px;
							top: -3px;
							right: -1px;
							bottom: -3px;
							height: 10px;
							background: #000
						}
					}
				}
			}
			.opt-strip-label {
				margin-top:10px;
				.last {float:right;}
				&:after {content:''; display:block; clear:both;}
			}
			.opt-strip-type-radio{
				.input-radio > label > .label{
					color: #666;
				}
			}
		}
	}

	.write-comment {
		margin-top:20px;
		&.input-textarea>label {
			font-size: 14px;
			line-height: 1.4em;
		}
		&.input-textarea>textarea {
			background-color: #fff;
			font-size: 14px;
		}
	}

	.review-img-uploader {

		.uplode-preview-list{
			margin-bottom:10px;

			.preview-up-img {
				position:relative;
				overflow:hidden;
				display:inline-block;
				width:58px;
				height:78px;
				margin:0 4px 10px 0;
				border:1px solid $border-3;
				background-color:$bg-2;

				.file-remove_btn {
					position:absolute;
					top:0;
					right:0;
				}

			}

		}

	}
	.review-btnarea{
		margin-top:40px;
	}

	/*
	* @pck 2021-06-16
	* 리뷰 작성 시 실사용자 신장, 몸무게 등 개인 정보 입력 추가
	*/

	.review-writer-info{margin-bottom:20px;}
	.review-writer-info .select-box.review-writer-height-selectbox,
	.review-writer-info .select-box.review-writer-weight-selectbox{float:none;width:120px;margin: 0px;}
	.review-writer-info .select-box.checked .select-head{border-color: #8D8D8D;color: #383838;}
	.review-writer-info .select-box .select-head,
	.review-writer-info .select-box .select-head{z-index: 1;}
	.review-writer-info .select-head .currentOpt{display: block;min-height: 20px;}
	.review-writer-info .select-box .select-body .list.checked .label{}
	.review-writer-info span.label{margin: 0 20px 0 4px;}

	.review-info-message {margin-top:14px;}
	.review-info-message > ul > li{padding-left: 10px;font-size:13px;letter-spacing: -0.4px;background: url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;}
	@media (max-width: 768px) {
		.review-btnarea{margin-bottom:30px;}
		.opt-value-data-wrap{padding:20px;}
		.review-writer-info .select-box.review-writer-height-selectbox, .review-writer-info .select-box.review-writer-weight-selectbox{width: 120px;}
		.review-writer-info span.mobile-full-row{display:block;width:100%;margin:20px 0 7px 0;}
		.review-writer-info{margin-bottom:0px;}
		.review-info-message > ul > li {font-size:12px;word-break: keep-all;word-wrap: break-word;}
	}
}

/* 리뷰 작성 후 개인정보수집 동의 부 */
.review-write .review-agreement-form {
	margin: 40px auto;
	padding: 40px 0px;
	border-bottm: 1px solid #eee;
	border-top: 1px solid #eee;
	word-break: keep-all;
	word-wrap: normal;

	section#review-agreement-section {
		h3 {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			line-height: 1.2;
			margin-bottom: 30px;
			color: #000;
		}

		p {
			font-size: 14px;
			text-align: center;
			margin-bottom: 30px;
		}

		a {
			font-weight: bold;
			text-decoration: underline;
		}

		table {
			width: 100%;
			margin: 0 auto;
			color: #666;

			caption {
				caption-side: bottom;
				padding-left: 7px;
				margin-top: 14px;
				font-size: 13px;

				ul > li {
					position: relative;
					color: #333;
					padding-left: 16px;
					margin-bottom: 7px;
					text-align: left;

					&:before {
						position: absolute;
						display: block;
						left: 0px;
						content: '※';
					}
				}
			}

			thead {
				font-size: 14px;
				font-weight: bold;
				text-align: center;

				th {
					background: #f7f7f7;
					padding: 13px;
					border: 1px solid #e5e5e5;
					text-align: center;
					vertical-align: middle;
				}

				td {
					padding: 13px;
					border: 1px solid #e5e5e5;
					text-align: center;
					vertical-align: middle;
				}
			}

			tbody td {
				padding: 13px;
				border: 1px solid #e5e5e5;
				text-align: center;
				vertical-align: middle;

				strong {
					font-weight: bold;
					font-size: 120%;
				}
			}
		}

		[data-component-radio] {
			margin: 30px 24px 0px;

			span {
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
				margin-right: 14px;

				&.review-agreement-check-label {
					margin-right: 24px;
					font-weight: bold;
				}
			}

			.input-radio {
				> label > i {
					margin-right: 4px;
				}

				&:hover .brz-icon-radio {
					background-position: -54px -277px;
				}

				.brz-icon-radio {
					background-position: -21px -277px;
				}

				&.checked .brz-icon-radio {
					background-position: -88px -277px;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.review-write .review-agreement-form section#review-agreement-section {
		[data-component-radio] span.review-agreement-check-label {
			margin-right: calc(100% - 200px);
			margin-bottom: 7px;
		}

		table {
			thead {
				th, td {
					font-size: 12px;
				}
			}

			tbody td {
				font-size: 12px;
			}
		}
	}
}