/*********************************************************************/
/* pc responsible 
/*********************************************************************/
	/* pc 카테고리 배너 100%  */
	.pwhArea {
		max-width:100% !important;
	}


/*********************************************************************/
/* mobile responsible 
/*********************************************************************/

	.mobileCbArea *{font-size:13px; letter-spacing:0 !important}
	.mobileCbArea:after { display: block; clear: both; content: "";}
	.mobileCbArea {position:relative;font-size:13px;line-height:1.25em; margin-top:-1px; padding-bottom: 20px;}
	.mobileCbArea .txtArea {position:absolute; bottom:14%; left:5%;}
	.mobileCbArea .txtArea a {color:#fff; border-bottom:1px solid #fff; font-size:0.9em;}
	.mobileCbArea .imgArea {position:relative;}
	.mobileCbArea .imgArea img {width:100%;vertical-align: top;}
	.mobileCbArea .visual {position:relative;}
	.mobileCbArea .mobileTab {width: 100%; border-bottom: 1px solid #e5e5e5;}
	.mobileCbArea .mobileTab:after {display: block; content: ""; clear: both;}
	.mobileCbArea .mobileTab li.trisection {float:left;width:33.33%;box-sizing:border-box;}
	.mobileCbArea .mobileTab li.bisection {float:left;width:50%;box-sizing:border-box;}        
	.mobileCbArea .mobileTab li a{display: block; background: #f2f2f2; text-align: center; font-weight: bold; color: #555; border-right: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; padding: 15px;}
	.mobileCbArea .mobileTab li a:active span, .mobileCbArea .mobileTab li a.on {background: #fff;color:#999;}



	.def_btn_black2:hover {color:#fff !important;}