
/* 사이즈차트팝업 */
.pop_size_chart{width:700px; margin:0 auto;}
.pop_size_chart .size_chart_inner{width:100%;}
.pop_size_chart h2.tit_size_chart{padding:30px 0 10px; font-size:30px; color:#333; text-align:center;}

.pop_size_chart .size_category{position:relative; width:auto; margin:0 auto; text-align:center;}
.pop_size_chart .size_category > li{display:inline-block; *display:inline; border-left:1px solid #ccc;}
.pop_size_chart .size_category > li:first-child{border-left:0 none;}
.pop_size_chart .size_category > li > a{padding:0 15px; font-size:14px; font-weight:bold; color:#666;}
.pop_size_chart .size_category li ul{display:none;}
.pop_size_chart .size_menu{position:absolute; left:0; top:0; width:100%; margin-top:45px; background:#333;}
.pop_size_chart .size_menu:after{content:""; clear:both; display:block;}
.pop_size_chart .size_menu > li{float:left; background:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/bg_popSizeChart_bar.gif) no-repeat 0 0;}
.pop_size_chart .size_menu > li:first-child{background-image:none;}
.pop_size_chart .size_menu > li > a{position:relative; display:block; height:40px; font-size:14px; font-weight:bold; line-height:38px; color:#fff;}
.pop_size_chart .size_menu > li > a .bg_active{display:none; position:absolute; left:50%; top:40px; margin-left:-8px; width:16px; height:6px; background:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/bg_active.png) no-repeat 0 0; z-index:10;}
.pop_size_chart .size_menu > li.on > a .bg_active{display:block;}
.pop_size_chart .size_sub_menu{position:absolute; left:0; top:40px; width:698px; height:55px; background:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/bg_size_sub_menu.gif) repeat-x 0 0; border-left:1px solid #e9e9ea; border-right:1px solid #e9e9ea; border-bottom:1px solid #cfcfd1;}
.pop_size_chart .size_sub_menu:after{content:""; clear:both; display:block;}
.pop_size_chart .size_sub_menu > li{float:left; background:url(https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/bg_popSizeChart_bar2.gif) no-repeat 0 50%;}
.pop_size_chart .size_sub_menu > li:first-child{background-image:none;}
.pop_size_chart .size_sub_menu > li > a{display:block; height:55px; font-size:14px; font-weight:bold; color:#666; line-height:54px;}
.pop_size_chart .size_category li.on > a, .pop_size_chart .size_category li > a:hover{color:#fa5400;}

.pop_size_chart ul.col1 > li{width:100%;}
.pop_size_chart ul.col2 > li{width:50%;}
.pop_size_chart ul.col3 > li{width:33%;}
.pop_size_chart ul.col3 > li:first-child{width:34%;}
.pop_size_chart ul.col4 > li{width:25%;}
.pop_size_chart ul.col5 > li{width:20%;}

.pop_size_chart .size_chart_content {margin-top:25px;}
.pop_size_chart .size_chart_content h3 {padding-bottom:10px; font-size:22px; letter-spacing:-0.05em; color:#333;}
.pop_size_chart .size_chart_content h3 span {font-size:16px; font-weight:normal;}
.pop_size_chart .size_chart_content .size_cont {padding:30px 0 40px;border-top:1px solid #ccc;}
.pop_size_chart .size_chart_content .size_cont h4 {padding-bottom:22px;font-size:16px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont h4 span {color:#fa6425;}
.pop_size_chart .size_chart_content .size_cont .size_box {position:relative;}
.pop_size_chart .size_chart_content .size_cont .size_box li {position:absolute;left:0;top:0;font-size:11px;line-height:16px;letter-spacing:0;}
.pop_size_chart .size_chart_content .size_cont .size_box li strong {display:block;margin-bottom:10px;font-size:14px;}
.pop_size_chart .size_chart_content .size_cont .size_box li .pdtline {display:block;position:absolute;left:0;top:10px;border-bottom:1px dashed #fa7232;}
.pop_size_chart .size_chart_content .size_cont .shoes_box {padding-top:205px;margin-top:37px;background:url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/1151/size_guide_01_6.png') no-repeat 0 0;}
.pop_size_chart .size_chart_content .size_cont .shoes_box ol {display:inline-block;width:100%;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li {float:left;width:235px;padding-right:5px;font-size:11px;line-height:16px;letter-spacing:0}
.pop_size_chart .size_chart_content .size_cont .shoes_box li.s3 {width:210px;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li strong {display:block;margin-bottom:8px;font-size:14px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont .size_txt {font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table {position:relative;margin-top:40px;padding-bottom:10px;}
.pop_size_chart .pop_size_table h5 {margin-bottom:25px;font-size:15px;}
.pop_size_chart .pop_size_table .tabbtn {display:inline-block;position:absolute;right:0;top:0;width:147px;height:31px;background:url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/c-commerce/assets/images/bg_unit.png') no-repeat 0 0;}
.pop_size_chart .pop_size_table .tabbtn .tabbar {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url('https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/theme/c-commerce/assets/images/bg_unit.png') no-repeat 0 -32px;}
.pop_size_chart .pop_size_table .unit{position:absolute;right:0;top:20px;font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table .tabbtn a {position:relative;display:block;float:left;width:50%;text-align:center;line-height:30px;z-index:10;}
.pop_size_chart .pop_size_table .tabbtn a.active {color:#fff}
.pop_size_chart .pop_size_table .tabcon {display:none;width:680px; padding-right:20px;background:#e5e5e5;}
.pop_size_chart .pop_size_table table {width:100%;table-layout:fixed;border-collapse:collapse;}
.pop_size_chart .pop_size_table table thead th {height:65px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody th {height:40px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody td {height:40px;text-align:center;font-weight:bold;font-size:12px;color:#666;background:#fff;border:1px solid #e5e5e5;}
.pop_size_chart .pop_size_table table .td_gray {background:#ddd;}
.pop_size_chart .pop_size_table table .td_gray td {background:#ddd;}
.pop_size_chart .pop_size_table table .highlight {background:#fa5400 !important; color:#fff;}
.pop_size_chart .pop_size_table table .highlight2 {background:#ffccb2 !important;}
.pop_size_chart .pop_size_table table col.highlight2 td {background:#ffccb2 !important;}


/* PDP information modal popup*/
.pdp-guide-modal {
    width: 62.5%; padding: 67px 18.75% 67px 18.75%; overflow:hidden;
    .guide-image {text-align:center;}
    .title {width: 100%; height: 24px; font-size: 17px;font-weight: bold;line-height: 1.41;text-align: left;color: #2e2e2e;}
    .subtitle { width: 100%; /*height: 24px;*/ margin: 41px 0 0 0; font-size: 15px; font-weight: bold; line-height: 1.6; text-align: left; color: #2e2e2e;}  //20180615 height 24px 삭제
    .text-detail { width: 100%; font-size: 13px; line-height: 1.92; text-align: left; color: #2e2e2e;}
    .text-detail a{text-decoration: underline; }
    .conTab {
    	.imgArea {
    		display:inline-block;
    		box-sizing: border-box;
    	}
	}
	.merit {
		&:after {content:""; display:block; clear:both;}
	} //20180625 추가
    // 20180612 상품상세 아코디언 - 레이어팝업 디자인 추가
    .as-step-wrap {
		margin-top:40px;
		ol {
			&:after {
				display:block;
				content:'';
				clear:both;
			}
		}
		li {
			float:left;
			width:25%;
			&:first-child {
				strong {
					&:after {
						display:none;
					}
				}
			}
			strong {
				position:relative;
				&:after {
					display:block;
					content:'';
					position:absolute;
					left:0;
					bottom:-8px;
					width:2px;
					height:15px;
					background-color:#e5e5e5;
				}
			}
			strong {
				display:block;
				font-size:17px;

				color:$font-1;
				text-align:left;
				padding:0 5px 3px 40px;
				box-sizing:border-box;
				border-bottom:2px solid #f6f6f6;
			}
			span {
				display:block;
				font-size:$font-size-m;
				color:#666;
				line-height:19px;
				text-align:left;
				padding:11px 5px 5px 40px;
				box-sizing:border-box;
			}
		}
	}
	.detail-table {
		margin-top:13px;
		caption {
			width: 0;
			height: 0;
			font-size: 0;
			line-height: 0;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
		table {
			width:100%;
			table-layout:fixed;
			th {
				color:$font-1;
				font-size:$font-size-m;
				font-weight:bold;
				background:#f7f7f7;
				text-align:center;
				border:1px solid #e5e5e5;
				padding:13px 2px;
			}
			td {
				color:#666;
				font-size:$font-size-sm;
				text-align:center;
				border:1px solid #e5e5e5;
				padding:10px 2px;
			}
		}
	}
}


/* 상품정보 */
.guide-image {text-align:center;}
.sectionR {float: left; margin-bottom: 20px; text-align: left;}
.sectionR > h2{color: #333;/*font-size: 24px;*/ font-size: 14px; font-weight: bold; letter-spacing: -1.5px; line-height: 28px;}  //20180309 font-size 14 수정
.sectionR > h3{color: #333;/*font-size: 24px;*/ font-size: 14px; font-weight: bold; letter-spacing: -1.5px; line-height: 28px;}
.sectionR > h4{color: #333;/*font-size: 24px;*/ font-size: 14px; font-weight: bold; letter-spacing: -1.5px; line-height: 28px;}
.sectionR > h5{color: #333;/*font-size: 24px;*/ font-size: 14px; font-weight: bold; letter-spacing: -1.5px; line-height: 28px;}
.product-option-container .sectionR > h3:nth-of-type(2)+ul li {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.7em;
    /*height: 3.4em;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.sectionR > ul { margin-top: 10px;}
.sectionR > ul li {padding-left: 10px; background: url("#{$contextPath}/assets/images/bl_dot.png") no-repeat left 7px;color: #666;line-height: 1.7;letter-spacing: -0.5px;}

/* 상품정보고시 */
.product-noti-content {width: 100%;}
.product-noti-content > dl {margin: 0 0 10px ;zoom: 1;line-height: normal;overflow: hidden;}
.product-noti-content > dl dt {text-align: left;float: left; width: 30%;color: #212121;font-size: 13px; line-height:2.3; font-weight: bold;}
.product-noti-content > dl dd {float: left; width: 65%; color: #666;text-align: left;letter-spacing: -0.1px; font-size: 2.3; line-height: 2.3;}

/* snkrs 에서 제품 상세 보기를 할 때 여백 제거 */
.pdp-guide-modal{
	.pop-detail-content{
		padding:0px;
	}
	.pdp-guide-modal{
		width:100%;
		padding:0px !important;
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
    .pop_size_chart {width:100%;}
    .pop_size_chart .size_category {display: none;}
    .pop_size_chart .pop_size_table .tabcon {width:100%; padding-right: 1px;}
    .pdp-guide-modal {
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
    }
    .pop_size_chart .size_chart_content .size_cont {padding:10px 0 20px;border-top:0;}
	.pop_size_chart .size_chart_content .size_cont .size_txt {font-size: 12px;}
	.pdp-guide-modal {
		.as-step-wrap {
			margin-top:5px;
			ol {
				&:after {
					display:block;
					content:'';
					clear:both;
				}
			}
			li {
				float:left;
				width:50%;
				&:nth-child(2n+1) {
					strong {
						&:after {
							display:none;
						}
					}
				}
				&:nth-child(2n) {
					strong {
						position:relative;
						&:after {
							display:block;
							content:'';
							position:absolute;
							left:0;
							bottom:-8px;
							width:2px;
							height:15px;
							background-color:#e5e5e5;
						}
					}
				}
				strong {
					display:block;
					font-size:15px;

					color:$font-1;
					text-align:left;
					padding:0 5px 3px 40px;
					box-sizing:border-box;
					border-bottom:2px solid #f6f6f6;
				}
				span {
					display:block;
					font-size:$font-size-sm;
					color:#666;
					line-height:19px;
					text-align:left;
					padding:5px 5px 5px 40px;
					box-sizing:border-box;
				}
			}
		}
		.detail-table {
			margin-top:13px;
			caption {
				width: 0;
				height: 0;
				font-size: 0;
				line-height: 0;
				padding: 0;
				margin: 0;
				overflow: hidden;
			}
			table {
				width:100%;
				table-layout:fixed;
				th {
					color:$font-1;
					font-size:$font-size-s;
					font-weight:bold;
					background:#f7f7f7;
					text-align:center;
					border:1px solid #e5e5e5;
					padding:13px 2px;
				}
				td {
					color:#666;
					font-size:$font-size-s;
					text-align:center;
					border:1px solid #e5e5e5;
					padding:10px 2px;
				}
			}
		}
	}// 20180612 상품상세 아코디언 - 레이어팝업 디자인 추가
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
