.content-container{
	overflow: hidden;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.content-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom: 20px;
	}			

	.image-container{
		width: 100%;
		text-align: center;
		img {
			width:100%;
		}
	}
	
	// tab에서는 title을 따로 사용하기 때문에 숨김
	.tab-container{
		.content-title{ display: none;}
	}

	.tab-title-container{
		margin: 0px auto 20px auto;
		text-align: center;
	}

	// 중복 여백 제거
	.content-container{
		margin-bottom: 0px;
	}

	&.category-banner{
		.primary-image{
			 position:absolute;
			 left:33.33334%;
			 width:33.33334%;
			 text-align: center;
		}
		.product-item{
			&.margin-item{
				margin-right:33.33334%;
			}
		}
	}

	.header-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom:20px;
		font-size:$font-size-xl;
		display: block;
	}

	.imageList-container{
		// 처음에는 생성된 dom에 js로 class를 적용하기 전이라 숨김
		display: none;
		margin-left:auto;
		margin-right:auto;
		.image-item{
			position: relative;
			.hover{
				position:absolute;
				top:0px;
				left:0px;
				display: none;
				width: 100%;
			}
			img{
				width:100%;
			}
		}			
	}

	.text-banner-container{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		background: $bg-3;										//nike style change
		border-bottom: 1px solid $gnb_border-color_type1;		//nike style change
		&.small{
			.text-wrap{
				height: 40px;
				.text-content{
					line-height: 3.7;
					font-size: $font-size-s;
					> *{
						font-size: $font-size-s;
					}
				}
			}
			.bx-wrapper {
				height: 40px;										//nike style change
				.bx-viewport {
					height: 40px !important;						//nike style change
				}
			}
		}
		&.black{
			background: $bg-dimmed;
			.text-wrap{
				.text-content{
					color: $font-5;	
					> *{
						color: $font-5;							//nike style change
					}
				}
			}
		}
		li:not(:first-child){
			display: none;
		}
		.text-wrap{
			width: 100%;
			height: 61px; 										//nike style change
			.text-content{
				line-height: 4.2;
				margin:0px 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: calc(100% - 40px);
				font-size: $font-size-m;
				color: $font-1;	
				> *{
					font-size: $font-size-m;
					color: $font-1;								//nike style change
				}
			}
		}
		.bx-wrapper {
			height: 61px;										//nike style change
			.bx-viewport {
				height: 61px !important;						//nike style change
			}
		}

		.bx-controls-direction{
			display: none;
		}

		.bxslider-controls{
			a{
				position: absolute;
			    top: 0;
			    outline: 0;
			    display: block;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    color: #fff;
			    i:before{
			    	font-weight: bold;
			    }
			}
			.btn-prev{
				left:10px;
			}
			.btn-next{
				right:10px;
			}				
		}
	}
}


/* 텍스트 슬라이더 좌우화살표 버튼 커스터마이징 */
.brz_component-slider {
	.slick-next,
	.slick-prev {
		i {
			font-size: 22px !important;
			&:before {
				color: #111 !important;
			}
		}
	}
}
.brz_component-slider .slick-prev i:before {
	
}

@media (max-width: $breakpoint-medium) {
	.content-container{
		.content-title{
			margin:0px 0 10px !important;
		}

		&.category-banner{
			.primary-image{
				 position:relative;
				 left:0;
				 width:100%;
			}
			.product-item{
				&.margin-item{
					margin-right:0;
				}
			}
		}
	}

	.text-banner-container{
		.bxslider-controls{
			display: none;
		}
	}
	
}