@charset 'utf-8';

$basePath : "../../../../src/sass/"; //변수 안먹음?
$contextPath : "/kr/ko_kr";
//$contextPath : "https://uat-assist-cf-nike.brzc.kr/kr/ko_kr/cmsstatic/theme/nikeUatSeamless"; /* SEAMLESS /kr/ko_kr 은 빌드시 생성되는 것으로 변경 */

/* uikit framework */
@import  "../../../../src/sass/vendors/uikit/uikit-mixins.scss";
@import  "../../../../src/sass/vendors/uikit/uikit.scss";
@import  "../../../../src/sass/vendors/uikit/components/autocomplete.scss";


/* bxslider swipe */
@import  "../../../../src/sass/vendors/bxslider.4.1.2.scss";

/* custom css base */
@import  "base/variables.scss";
@import  "../../../../src/sass/base/reset.scss";
@import  "base/mixins.scss";
@import  "base/typography.scss";
@import  "base/icon.scss";
@import  "../../../../src/sass/base/common.scss";



/* custom components */
@import  "components/form.scss";
@import  "components/button.scss";
@import  "../../../../src/sass/components/quantity.scss";



/* custom css layout */
@import  "../../../../src/sass/layout/grid.scss";
@import  "layout/header.scss";
@import  "layout/footer.scss";
@import  "layout/contents.scss";
@import  "layout/filter.scss";
@import  "layout/product.scss";
@import  "layout/cart.scss";
@import  "layout/minicart.scss";
@import  "layout/location.scss";
@import  "layout/checkout.scss";
@import  "../../../../src/sass/layout/gallery.scss";
@import  "../../../../src/sass/layout/promotion.scss";
@import  "layout/customer.scss";
@import  "../../../../src/sass/layout/inquiry.scss";
@import  "../../../../src/sass/layout/redeemGiftCard.scss";
@import  "../../../../src/sass/layout/customerCredits.scss";
@import  "layout/login.scss";
@import  "../../../../src/sass/layout/board.scss";
@import  "../../../../src/sass/layout/account.scss";
@import  "../../../../src/sass/layout/display.scss";
@import  "../../../../src/sass/layout/post.scss";
@import  "../../../../src/sass/layout/globalPopup.scss";
@import  "../../../../src/sass/layout/popup.scss";
@import  "../../../../src/sass/layout/forgotPassword.scss";
@import  "../../../../src/sass/layout/guestOrderSearch.scss";
@import  "layout/structuredContent.scss";
@import  "layout/quickview.scss";
@import  "layout/changePassword.scss";


/* mediaquery */
@import  "layout/mediaquery.scss";

/* customize */
/* @import  "../../../../src/sass/layout/headerlayout2.scss"; */

@import  "layout/nike.scss";

@import  "layout/sizeguide.scss";
@import  "layout/snkrs.scss";
@import  "layout/thedraw.scss";

@import  "layout/webpos.scss";
@import  "layout/fulfillment.scss";
