.filter-category-wrap .contents-side {
  .section-filter {
    margin-top: 0;
    margin-right: 0;
    width: 280px;
    height: calc(100vh - 239px);
    .filter-scroll{
      padding-left: 48px;
      padding-right: 48px;
    }
    .filter-btn-group {
      display: none;
    }
  }
  .f-cagetory-sect.borderline-top {
    border: 0;
    padding-top: 0;
  }
  .f-cagetory-sect .f-item:first-child > a {
    padding-top: 0;
  }
  .f-cagetory-sect ul > li.f-item > ul .f-item > a{
    padding-top:7px;
  }
  .f-cagetory-sect .f-item > a {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: -0.5px;
  }
  .f-cagetory-sect .f-item.active > a {
    font-weight: bold;
  }
  .f-cagetory-sect .f-item > ul {
    display:none;
  }
  .f-cagetory-sect .f-item.active > ul{
    display:block;
  }
  .f-cagetory-sect .f-item > ul.active{
    display:block;
  }
}

 // 스크롤 안보이게
 .contents-side.fixed .section-filter {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  overflow: -moz-scrollbars-none; 
  &::-webkit-scrollbar { 
    width: 0 !important;
    display:none !important;
  }
}

// ncss custom filters
.ncss-filter {
  &.price-type{
    .f-style-check{
      .f-item{
        label{
          span{
            font-size:$font-size-s
          }
        }
      }
    }
  }
  &:last-child {
    //border-bottom: 1px solid $button_line-border-color;
  }
  // title area
  .f-subtitle-box.uk-active {
    .icon-plus.g72-chevron-down {
      display: none;
    }
    .icon-minus.g72-chevron-up {
      display: block;
    }
  }
  .f-subtitle-box {
    .tit-text {
      font-size: 16px;
      font-weight: 500;
    }
    .icon-minus,
    .icon-plus {
      font-size: 15px;
    }
    .icon-plus.g72-chevron-down {
      display: block;
    }
    .icon-minus.g72-chevron-up {
      display: none;
    }
  }
  // size filter
  .f-style-square {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .f-item {
      float: none;
      width: calc(100% * (1 / 4));
      padding-bottom: 5px;
      label {
        width: calc(100% - 2px);
        padding: 0;
        line-height: 30px;
        font-size: 12px;
        letter-spacing: -1px;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        white-space: nowrap;
        &:after {
          display: none;
          border: 0;
          position: static;
          top: auto;
          right: auto;
          left: auto;
          bottom: auto;
        }
        &:hover {
          background: none;
          color: inherit;
          border-color: #111;
        }
      }
      .input-checkbox.checked {
        label {
          background: none;
          color: #111;
          border-color: #111;
        }
      }
    }
  }
  // color filter
  .f-style-square.f-color-type {
    .f-item {
      /*width: calc(100% * (1 / 3));*/
      width: 33.33%;
      height: auto;
      margin: 0;
      padding-bottom: 15px;
      .input-checkbox {
        display: block;
        text-align: center;
        label {
          width: 28px;
          height: 28px;
          min-width: 28px;
          padding: 0;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          border:1px solid #ccc;
        }
        .productcolor-label { 
          display: block;
          font-size: 12px;
          color: #111;
          padding-top: 5px;
        }
      }
      .input-checkbox.checked {
        label {
          &:before {
            top: 8px;
            left: 8px;
          }
        }
        .productcolor-label {
          color: #8d8d8d;
        }
      }
    }
  }
  // list filter
  .f-style-check .f-item label span, 
  .f-style-radio .f-item label span {
    font-size: 15px;
  }
  .f-style-check .f-item {
    .input-checkbox span {
      &:hover {
        color: #8d8d8d;
      }
    }
  }
  .f-style-check .f-item i {
    font-size: 14px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-right: 6px;
    display: inline-block;
    position: relative;
  }
  .f-style-check .f-item .checked i {
    display: inline-block;
    border-color: rgb(17, 17, 17);
    background: rgb(17, 17, 17);

    span.icon{
      color: rgb(255, 255, 255);
      position: absolute;
      top: 3px;
      left: 2px;

      &:before{
        width: 6px;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        top: 5px;
        left: 1px;
        transform: rotate(49deg) scale(0, 1);
        animation: 100ms ease 0s 1 normal forwards running animation-checked-before;
      }
      &:after {
        width: 13px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        top: 10px;
        left: 4px;
        transform: rotate(-49deg) scale(0, 1);
        animation: 100ms ease 50ms 1 normal forwards running animation-checked-after;
      }

      &:before, &:after{
        content: "";
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;
        transform-origin: left center;
      }
      @-webkit-keyframes animation-checked-before{
        0%{-webkit-transform:rotate(49deg) scale(0,1);-ms-transform:rotate(49deg) scale(0,1);transform:rotate(49deg) scale(0,1);}
        100%{-webkit-transform:rotate(49deg) scale(1,1);-ms-transform:rotate(49deg) scale(1,1);transform:rotate(49deg) scale(1,1);}
      }
      @keyframes animation-checked-before{
        0%{-webkit-transform:rotate(49deg) scale(0,1);-ms-transform:rotate(49deg) scale(0,1);transform:rotate(49deg) scale(0,1);}
        100%{-webkit-transform:rotate(49deg) scale(1,1);-ms-transform:rotate(49deg) scale(1,1);transform:rotate(49deg) scale(1,1);}
      }
      @-webkit-keyframes animation-checked-after{
        0%{-webkit-transform:rotate(-49deg) scale(0,1);-ms-transform:rotate(-49deg) scale(0,1);transform:rotate(-49deg) scale(0,1);}
        100%{-webkit-transform:rotate(-49deg) scale(1,1);-ms-transform:rotate(-49deg) scale(1,1);transform:rotate(-49deg) scale(1,1);}
      }
      @keyframes animation-checked-after{
        0%{-webkit-transform:rotate(-49deg) scale(0,1);-ms-transform:rotate(-49deg) scale(0,1);transform:rotate(-49deg) scale(0,1);}
        100%{-webkit-transform:rotate(-49deg) scale(1,1);-ms-transform:rotate(-49deg) scale(1,1);transform:rotate(-49deg) scale(1,1);}
      }
    }

  }

  .f-style-radio .f-item i {
    width: 20px;
    height: 20px;
    vertical-align: top;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100%;
    margin-right: 6px;
    display: inline-block;
    position: relative;
    background: none;
  }

  .f-style-check .f-item .disabled {
    cursor: default;
    label {
      cursor: default;
    }
    span {
      color: #8d8d8d;
    }
  }
  .f-style-check.more-container {
    max-height: 165px;
  }
  .uk-active + .accordion-wrapper + .more-btn {
    display: inline-block;
  }
  .accordion-wrapper {
    z-index: 1;
  }
  .more-btn {
    display: none;
    position: relative;
    z-index: 2;
    text-align: left;
    border: 0;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    color: #333;
    margin-top: 12px;
    margin-bottom:40px;
    i:before {
      font-size: 12px;
    }
    .minus {
      display: none;
    }
    &.active {
      margin-top: -16px;
      .plus {
        display: none;
      }
      .minus {
        display: block;
      }
    }
  }

  &.fwsize,
  &.apsize,
  &.productcolor{
    .more-btn{
      display: block;
      margin: 20px 0 30px 0;
      &.active{
        margin: 20px 0 30px 0;
      }
    }
  }

  &.fwsize .more-container{
    max-height: 220px;
  }
  &.apsize .more-container{
    max-height: 220px;
  }
  &.productcolor .more-container{
    max-height: 258px;
  }
}

// ncss reset filter
.pw-filter-sticky.ncss-filter {
  position: static;
  width: auto;
  padding: 0 0 20px 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
  a {
    width: auto;
    padding: 0;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: $button_text-color-type1;
    i {
      &:before {
        margin: -1px 0 0 0;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.pw-filter-sticky.ncss-filter.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.pw-filter-sticky:after {
  display: none;
}

