// new content header
.section-header {
  display: table;
  width: 100%;
  justify-content: space-between;
  padding: 40px 48px 30px 48px;
  .section-title {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    h1 {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: -1px;
      word-break: keep-all;
      transition: font-size 0.15s;
      -webkit-transition: font-size 0.15s;
      text-transform: capitalize;
    }
    .section-broadcomb {
      line-height: 28px;
      display : none;  /*  gnb 네비게이션바 우선 감춘다 */
      a {
        &:before {
          content: "/";
        }
        &:first-child::before,
        &:last-child {
          display: none;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .section-title-sub {
      padding-top: 12px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .section-control {
    display: table-cell;
    //width: auto;
    vertical-align: middle;
    font-size: 15px;
    text-align: right;
    font-weight: 500;
    .wideToggle {
      display:none;
      font-size: 15px;
      line-height: 27px;
      font-weight: 700;
    }
    .select-box {
      .select-head {
        font-weight: 500;
        letter-spacing: -0.5px;
        &:after {
          position: relative;
          top: 2px;
        }
      }
      visibility: hidden;
      top: -3px;
      &.rendered {visibility: visible;}
    }
  }
}

// 검색결과 페이지 검색결과 없을때 비노출
.noResult {
  .section-header {display: none;}
  .contents-body {margin-left: 48px;} //검색결과 없을 시 좌측 부 여백 제거
}

// header sticky
.section-header.gnbPadding {padding-top: 148px;}
.section-header.sticky {
  position: sticky;
  /* top: 108px; */
  top:60px;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 2px 48px; 
  background: #fff;
  h1 {
    font-size: 17px;
    line-height: 2.6em;
    letter-spacing: -1px;
  }
  .section-broadcomb,
  .section-title-sub {
    display: none;
  }
  .section-control {vertical-align: middle}
}

// mobile header
.contents-side-onlyMobile {
  overflow-x: scroll;
  overflow-y: hidden;
  .f-cagetory-sect {
    padding:0;
    .f-item {
      a {
        font-size:16px;
      }
    }
  }
  .f-cagetory-sect.borderline-top {padding:0;border:0;}
  ul {
    display: table;
    width: 100%;
    white-space: nowrap;
    padding: 0 20px 10px;
    li {
      display: inline-block;
      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      ul{
        display: none;
      }
    }
  }
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important;
    display:none !important;
  }
}
// select box
.section-control {
  .select-box {
    width: auto;
    margin-left: 30px;
    font-size: 16px;
    .select-head {
      position: relative;
      padding: 0;
      border: 0;
      &:after {
        margin-left: 5px;
        font-family: nike-glyphs;
        content: "\E607";
      }
    }
    &:hover .select-head {
      opacity: 0.75;
    }
    &:before {
      display: none;
    }
  }
  .select-body {
    width: auto;
    min-width: 165px;
    height: 0;
    margin: 0;
    left: auto !important;
    right: 0;
    padding: 20px 0;
    border: 0;
    border-bottom-left-radius: 18px;
    overflow: visible;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, height 0.3s, opacity 0.3s linear;
    .list {
      a {
        padding: 0;
        .label {
          padding: 0 20px 0 0;
          text-align: right;
          font-family: inherit;
          line-height: 2em;
        }
      }
      &:hover {
        background: none;
        .label {
          color: #8d8d8d;
        }
      }
    }
    .list.checked {
      background: none;
    }
  }

  .select-box.checked {
    .select-head {
      opacity: 0.75;
      &:after {
        content: "\E60A";
        }
      }
    .select-body {
      visibility: visible;
      opacity: 1;
      height: auto;
      max-height: none;
      right: 0;
      .list.checked {
        a {
          .label {
            color: #8d8d8d;
          }
        }
        &:hover {
          background: none;
          .label {
            color: #8d8d8d;
          }
        }
      }
    }
  }
}