// NCSS US
@import "ncss.en-us.scss";
@import "glyphs.scss";
// customize
@import "merch.scss";
@import "filters.scss";
@import "headers.scss";
@import "layout.scss";
@import "product.scss";
@import "responsiveness.scss";

* {box-sizing: content-box;}
a {font-weight: normal;}

.u-full-width,
.u-full-height,
.section-header,
.contents-side-onlyMobile,
.contents-side, .contents-side *,
.contents-body, .contents-body *,
[class*=ncss-], [class*=ncss-] * {box-sizing: border-box;}

.pwhArea, .pwhArea * {box-sizing: content-box;}

.wrapper,
.base-font,
.body-baseline-base,
.body-lg-base,
.body-md-base,
.body-sm-base,
.body-xlg-base,
.headline-baseline-base,
.headline-lg-base,
.headline-md-base,
.headline-sm-base,
.headline-xlg-base,
.product-base,
[class*="ncss-btn"] {
  color: #111;
}

[class*="g72-"]:before {
  font-family: nike-glyphs;
  display: block;
  margin-left: 5px;
}
.g72-chevron-down:before {
  content: "\E607" !important;
}
.g72-chevron-up:before {
  content: "\E60A" !important;
}
img{
	display: inline-block;
}