// side
.contents-side {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

// body
.contents-body {
  min-width: 320px;
  margin-left: 318px;
  margin-right: 48px;
  transition: margin-left 0.3s;
  & > .ncss-container {
    padding-left: 0;
    padding-right: 0;
    .ncss-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .ncss-row.item-list-wrap {
    clear:none;
    margin-left:-8px;
    margin-right:-8px;
  }
  [class*="ncss-col-"] {
    vertical-align: top;
  }
  // 검색결과페이지 검색결과 없을때
  &.item-list-less {
    min-width: auto;
    margin-left: 0;
    margin-right: 0;
    transition: none;
  }
}

// wide view
.wideArticleView {
  .contents-side {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .contents-body {
    margin-left: 48px;
    transition: margin-left 0.3s;
  }
  .g72-filter:before {
    transform: scaleX(-1);
  }
}
