.merch-container {
  padding: 0;
}
.merch-container input[type="radio"] {
  display: none;
}
.merch-container input[type="radio"]:checked + h4 {
  -webkit-animation: merchMenuFade 0.2s forwards;
  animation: merchMenuFade 0.2s forwards;
  text-overflow: clip;
  white-space: normal;
  max-height: 16em;
}
.merch-container input[type="radio"]:checked + h4 + div {
  margin-bottom: 20px;
  opacity: 1;
  max-height: 100%;
}
@media only screen and (min-width: 640px) {
  .merch-container input[type="radio"]:checked {
    margin-bottom: 0;
  }
}
.merch-container .merchGrid {
  width: calc(100% - 68px);
  grid-auto-flow: column;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: 1fr;
  margin-right: 20px;
  margin-left: 48px;
}
.merch-container .merchGrid h4 {
  margin-bottom: 24px;
  max-height: 1.8em;
  transition: max-height 1s;
  -webkit-animation: merchAnimation 0.2s forwards;
  animation: merchAnimation 0.2s forwards;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.merch-container .merchGrid h4 label {
  cursor: pointer;
}
.merch-container .merchGrid > div {
  overflow: hidden;
  opacity: 0;
  margin-left: 20px;
}
@media only screen and (min-width: 640px) {
  .merch-container .merchGrid > div {
    margin-left: 0;
  }
}
.merch-container .merchGrid > div div {
  opacity: 1;
}
.merch-container .merchGrid > div li {
  margin-bottom: 12px;
}
.merch-container .merchGrid > div li a {
  color: #8d8d8d;
  transition: all 0.3s;
  display: block;
}
.merch-container .merchGrid > div li a:hover {
  color: #111;
}
.merch-container .merchGrid div,
.merch-container .merchGrid div div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.5s;
}
@media only screen and (min-width: 640px) {
  .merch-container .merchGrid div,
  .merch-container .merchGrid div div {
    transition-property: max-height, opacity;
  }
}
@media only screen and (min-width: 640px) {
  .merch-container .merchGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    -ms-grid-columns: 1fr 48px 1fr 48px 1fr 48px 1fr;
    grid-template-columns: 1fr 48px 1fr 48px 1fr 48px 1fr;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    h4:nth-child(2) {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    div:nth-child(3) {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    h4:nth-child(5) {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    div:nth-child(6) {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    h4:nth-child(8) {
      -ms-grid-column: 5;
      grid-column: 5;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    div:nth-child(9) {
      -ms-grid-column: 5;
      grid-column: 5;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    h4:nth-child(11) {
      -ms-grid-column: 7;
      grid-column: 7;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    div:nth-child(12) {
      -ms-grid-column: 7;
      grid-column: 7;
      -ms-grid-row: 2;
      grid-row: 2;
    }
  }
  .merch-container .merchGrid label {
    pointer-events: none;
  }
  .merch-container .merchGrid h4,
  .merch-container .merchGrid a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-animation: merchAnimation 0.65s forwards;
    animation: merchAnimation 0.65s forwards;
    transition: all 0.7s;
    max-height: 1.8em;
  }
  .merch-container .merchGrid > div {
    max-height: inherit !important;
    margin-bottom: 0;
    opacity: 1;
  }
  .merch-container .merchGrid > div div {
    overflow: hidden;
    max-height: 0;
  }
  .merch-container .merchGrid > div div a {
    opacity: 0;
    transition: opacity 0.5s;
  }
}
@media only screen and (min-width: 640px) {
  .merch-container .isActive > div div {
    max-height: 40em;
  }
  .merch-container .isActive > div div a {
    opacity: 1;
  }
  .merch-container .isActive h4,
  .merch-container .isActive a {
    text-overflow: clip;
    white-space: normal;
    max-height: 16em;
    -webkit-animation: merchMenuFade 0.7s forwards;
    animation: merchMenuFade 0.7s forwards;
  }
}
@-webkit-keyframes merchMenuFade {
  0% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  1% {
    text-overflow: clip;
    white-space: normal;
  }
  100% {
    text-overflow: clip;
    white-space: normal;
  }
}
@keyframes merchMenuFade {
  0% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  1% {
    text-overflow: clip;
    white-space: normal;
  }
  100% {
    text-overflow: clip;
    white-space: normal;
  }
}
@-webkit-keyframes merchAnimation {
  0% {
    text-overflow: clip;
    white-space: normal;
  }
  99% {
    text-overflow: clip;
    white-space: normal;
  }
  100% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@keyframes merchAnimation {
  0% {
    text-overflow: clip;
    white-space: normal;
  }
  99% {
    text-overflow: clip;
    white-space: normal;
  }
  100% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card.merchMenu {
  max-width: 920px;
  margin: 100px auto 56px;
}
@media only screen and (min-width: 640px) {
  .card.merchMenu {
    padding: 0 20px;
  }
}
