.product-base * {
  font-size: 12px;
}
.product-colorways-wrapper {
  display: none;
  position: absolute;
  overflow: hidden;
  padding-top: 5px;
  margin-top: -20px;
  background: #fff;
  z-index: 10;
  .product-option_radio {
    position: relative;
    .ulWrapper {
      display: flex;
      overflow: hidden;
      &.prevActive {
        margin-left: 15px;
        margin-right: 0;
      }
      // 슬라이더 ul
      ul {
        overflow: hidden;
        width: 200px;
        display: flex;
        li {
          margin-right: 5px;
          width: 35px;
          background:rgb(245, 245, 245);
          // border: 1px solid red;
        }
      }
      .extraNum {
        margin-left: 5px;
        line-height: 35px;
      }
    }
    // btn
    .btn-prev-small, .btn-next-small {
      position: absolute;
      top: 0;
      width: 15px;
      height: 100%;
      z-index: 20;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
}

.a-product {
  margin-bottom: 25%;
  overflow: hidden;
  .category-overlaytext {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    min-height: 327px;
    text-align: center;
    z-index: 9;
  }
  .a-product-image {
    position: relative;
    .member-only-badge {
      display: inline-block;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      margin: 9px 0 0 10px;
      background: #fff;
      font-size: 18px;
      position: absolute;
      left: 0px;
      text-align: left;
      z-index: 3;
      .member-lock {
        display: inline-block;
        color: #aa8375;
        position: absolute;
        font-size: 25px;
        top: 6px;
        left: 7px;
      }
      .tn-ns-earth{
        display: inline-block;
        position: absolute;
        font-size: 28px;
        top: 6px;
        left: 6px;
      }
      &.on {
        z-index: 4;
      }
    }
    .member-only-overlay {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #fff;
      opacity: 0.9;
      cursor: pointer;
      z-index: 4;
      .member-lock {
        position: absolute;
        top: 15px;
        left: 17px;
        font-size: 25px;
        display: inline-block;
        color: #aa8375;
      }
      .member-only-txt {
        margin: 50px 10px 0 17px;
        color: #aa8375;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .icon-1on1-bedge {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      max-width: 25%;
      z-index: 3;
    }
  }
  .a-product-info {
    text-align: left;
    .product-display {
      display: flex;
      justify-content: space-between;
      word-break: keep-all;
      line-height: 1.6em;
      letter-spacing: -0.5px;
      .product-info {
        width: 66.666666666%;
        .product-display-badge {
          color: #aa8375;
        }
        .product-soldout-badge {
          height: 0;
          font-size: 0;
          color: #fe0000;
          transition: height 0.3s;
          &.isActive {
            height: 24px;
            font-size: 16px;
          }
        }
        .product-colorways-number {
          padding-top: 3px;
        }
        .product-comingsoon-badge {
          color: #ec783e;
          font-weight: bold;
        }
      }
      .product-price {
        .text-color-secondary {
          text-decoration: line-through;
        }
        .discount-wrap{
          position: absolute;
          margin-left:-44px;
          .per{
            font-size:16px;
            color:#FF6600;
          }
        }
      }
      .product-display-price {
        white-space: nowrap;
      }

      // 상품카테고리 Launching in SNKRS  표기
      .product-display-launching {
        white-space: nowrap;
        color : #fa5400;
      }


    }
    .product-display-name {
      line-height: 1.4em;
      .item-title {
        display: block;
        white-space: pre-wrap;
        word-break: break-all;
      }
    }
  }
}

// prd imgs
.ncss-col-sm-6>.bannerImag,
.a-product-image-primary,
.a-product-image-secondary,
.a-product-image-extra {
  position: relative;
  z-index: 2;
  background: rgb(245, 245, 245);
  width: 100%;
  img {
    width: 100%;
    vertical-align: top;
  }
}

.a-product-image-secondary {
  display: none;
  z-index: 3;
}

.a-product-image-extra {
  display:none;
  position: absolute;
  left: 0;
  top: 0;
}

// overlay trigger
.a-product.hover {
  &:before {display:none;}
  .member-only-overlay {
    display: block;
  }
  .product-colorways-wrapper {
    display: block;
  }
}
.product-display-price-discount {
  span {
    text-decoration: line-through;
  }
}

// 연관상품 디스플레이
.available-wrap {
  .a-product {
    margin-bottom: 0;
    .a-product-info {
      padding-bottom: 20px;
      .product-display  {
        display: block;
      }
      .product-price {
        display: table;
        .discount-wrap{
          display: none;
        }
        .product-display-price {
          text-align: left;
        }
      }
      .product-display-name {font-size: 16px;}
      .product-subtitle,
      .product-colorways-number,
      .text-color-secondary,
      .product-display-price {font-size: 14px;}
    }
  }
  #thumb-img-slider {display: none !important;}
}

@media (max-width: $breakpoint-small) {
  .available-wrap {margin-top: 20px;}
}

// 마이페이지 위시리스트
.customer-order {
  .a-product {
    margin-bottom: 0;
    .a-product-info {
      padding-bottom: 20px;
      .product-display  {
        display: block;
      }
      .product-price {
        display: table;
        .discount-wrap{
          display: none;
        }
        .product-display-price {
          text-align: left;
        }
      }
      .product-display-name {font-size: 16px;}
      .product-subtitle,
      .product-colorways-number,
      .text-color-secondary,
      .product-display-price {font-size: 14px;}
    }
  }
  #thumb-img-slider {display: none !important;}
}

//  연관상품 리스트
.related-items {
  .swiper-wrapper {padding-bottom: 20px;}
  .product-item {
    margin: 0;
    .a-product {
      margin-bottom: 0;
      align-self: flex-start;
      .a-product-info {
        width: auto;
        padding:12px 0 0 0;
        .product-display  {
          display: block;
          .product-info {
            width: auto;
            padding: 0;
          }
        }
        .product-price {
          display: table;
          .discount-wrap{
            display: none;
          }
          .product-display-price {
            text-align: left;
          }
        }
        .product-display-name {
          font-size: 16px;
        }
        .product-subtitle,
        .product-colorways-number,
        .text-color-secondary,
        .product-display-price {
          font-size: 14px;
        }
      }
      .item-imgwrap {
        width: auto;
        height: auto;
      }

      .a-product-image{
        .member-only-badge{
          border-radius: 16px;
          width: 32px;
          height: 32px;
          .member-lock {
            top:5px;
            left:5px;
            font-size:21px;
          }
          .tn-ns-earth{
            top:4px;
            left:6px;
            font-size:22px;
          }
        }

        .member-only-overlay {
          .member-lock {
            top: 14px;
            left: 15px;
            font-size: 21px;
          }
        }
      }
    }
  }

  #thumb-img-slider {display: none !important;}
}

// 상품상세 페이지
.img-detail_product_n {
  .img-detail-list li {
    .prd-gutter a {
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

// 상품상세 사이즈사이드 테이블
.pop_size_chart {
  .pop_size_table {
    table {
      thead, tbody {
        td, th {
          vertical-align: middle;
          font-weight: bold;
        }
      }
    }
  }
}

// 상품 결제수단 영역 카카오페이 로고 이미지
.order-tab {
  .body {
    .order-field-list {
      .payment-method-list {
        .payment-method-item {
          .payment-method-item-title img {
            display: inline-block;
          }
        }
      }
    }
  }
}

.product-gallery-wrap{
  position: relative;
  .icon-wrap{
    position:absolute;
    top:20px;
    left:20px;
    z-index:1;
    font-size:40px;
  }
}

@media (max-width: $breakpoint-medium) {
  .a-product{
    .a-product-image{
      .member-only-badge{
        border-radius: 16px;
        width: 32px;
        height: 32px;
        .member-lock {
          top:5px;
          left:5px;
          font-size:21px;
        }
        .tn-ns-earth{
          top:4px;
          left:6px;
          font-size:22px;
        }
      }
    }
  }
}