@media screen and (max-width: 480px) {
  .ncss-filter .f-style-square .f-item{
    width: calc(100% * (1 / 5));
  }

  .section-header{
    &.fixed{
      padding: 2px 20px !important;
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {/* 1020-20-26 padding-top: 108px; */} //GNB 고정에 따른 GNB 높이값
  .contents-side-onlyMobile,
  .btn-filter-open,
  .pw-filter-sticky.ncss-filter {
    display: none;
  }
  .section-control {
    .wideToggle {
      &.hasFilter {
        display:inline-block;
      }
    }
  }

  .a-product {
    margin-bottom: 20%;
    .product-info {
      padding-right: 15px;
    }
    .product-price {
      padding-right: 10px;
    }
  }
  .pw-filter-sticky.ncss-filter.active {
    display: block;
  }
  .section-header.fixed ~ .filter-category-wrap .contents-side {
    top:96px;
    &.fixed {
      position: fixed;
      top:96px;
      left: 0;
      bottom:0;
      overflow: hidden;
      .section-filter {
        height: 100%;
        overflow-y:scroll;
      }
    }
    &.fixedBottom {
      position: absolute;
      bottom:0;
      top:auto;
    }
  }
  .global-banner[style*="display: block"] ~ .pt_category .filter-category-wrap .contents-side .section-filter{
    height: calc(100vh - 300px);
  }
  .global-banner[style*="display: block"] ~ .pt_category .section-header.fixed ~ .filter-category-wrap .contents-side .section-filter{
    height: calc(100vh - 96px);
  }
  .contents-body {min-height:700px;}
}

@media screen and (max-width: 1024px) {
  .wrapper {padding-top: 0;} //GNB 고정에 따른 GNB 높이값
  .contents-body{
    .ncss-row.item-list-wrap {
      margin-left:-3px;
      margin-right:-3px;
    }
    [class*="ncss-col-"] {
      padding-left:3px;
      padding-right:3px;
    }
  }
  .contents-side-onlyMobile {
    display: block;
  }
  .btn-filter-open {
    display: inline-block;
  }
  /*.section-title-sub, .wideToggle {
    display: none;
  }*/
  .pw-filter-sticky.ncss-filter {
    padding-top: 40px;
  }
  // new header
  .section-header {
    padding: 20px 20px 15px;
    .section-title {
      width: 90%;
    }
    h1 {
      font-size: 25px;
    }
    .section-control {
      vertical-align: middle;
      .wideToggle {
        font-size: 0;
        i {
          font-size: 18px;
        }
      }
      .select-box {
        display: none;
      }
    }
    &.sticky {
      /* top: 59px; */        // 모바일 서브페이지 상단 gnb 고정으로 인해 위치 조정, // 2020-10-26 del
      padding-left:20px;
      padding-right:20px;
      padding-bottom:10px;
      padding-top: 12px;
      z-index: 100;     // 모바일 서브페이지 검색창 레이어로 인행 index 값 조정.
    }
  }
  // side menu
  .contents-side {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    .simplebar-content{
      height:100%;
    }
  }
  // contents body
  .contents-body {
    margin: 0;
  }
  .noResult .contents-body {
    margin-left: 0;
  }
  .wideArticleView .contents-side {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .wideArticleView .contents-body {
    margin-left: 0;
  }
  // toggle side menu
  .filter-category-wrap {
    .section-filter {
      left: auto;
      right: auto;
      margin: 0;
      width: 100%;
      .category-filter-box {
        display: none;
      }
      
      .f-refine-sect {
        .f-subtitle-box {
          .tit-text {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .f-style-check .f-item label span,
        .f-style-radio .f-item label span {
          font-size: 15px;
          color: #111;
        }
        .input-radio{
          &.checked i {
            border-color: rgb(17, 17, 17);
            &:after{
              transform: translate(-50%, -50%) scale(1);
            }
          }
          label > i {
            //margin-right: 0;
            //display: none;
            width: 20px;
            height: 20px;
            vertical-align: top;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 100%;
            margin-right: 6px;
            display: inline-block;
            position: relative;
            background: none;
            &:after{
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background: rgb(17, 17, 17);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              transition: transform 100ms ease 0s;
            }
          }
        }
      }
      .sort-filter-ck.mobile-only {
        border-top: 0;
      }
      .ncss-filter .more-btn {
        display: block;
        margin: 20px 0 0 0;
        font-size: 16px;
      }
    }
    .contents-side{
      .section-filter{
        width: calc(100% - 2px);
        height: 100%;
        padding-bottom: 90px;
        margin-right: 2px;
        margin-top: 8px;

        .simplebar-scrollbar.simplebar-visible:before{
          width: 2px;
          opacity: 0.2;
        }

        .filter-close{
          position: fixed;
          right: 0px;
          top: 0px;
          z-index: 50;
          .btn-filter-close{
            width: 32px;
            height: 32px;
            padding: 20px;
            border: none;
            background: transparent;
            box-sizing: content-box;
          }
        }
        .filter-scroll{
          overflow-y: scroll;
          max-height: 100%;
          scroll-behavior: smooth;
          padding: 0 32px;
          .filter-title{
            font-size:$font-size-xl;
            color:#111;
            padding-top:30px;
            font-weight: bold;
          }
        }
        .filter-btn-group {
          display: block;
        }
      }

      .filter-btn-group{
        position: absolute;
        width: 100%;
        height: 90px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #fff;
        padding:20px 30px;
        border-top: 1px solid #e5e5e5;
        z-index: 1000;
        .btn-filter-clear{
          color:#111;
        }
      }
    }
  }
  .ncss-filter {
    .f-style-square {
      .f-item{
        width: calc(100% * (1 / 5));
        label{
          width: calc(100% - 4px);
        }
      }
      .f-item label:hover {
        border-color: #e5e5e5;
      }
    }
    .f-style-check {
      .f-item i {
        //display: none !important;
      }
      &.more-container {
        height: auto;
        max-height: 165px;
      }
    }
  }

  //.f-style-check .input-checkbox.checked::after,
  //.f-style-radio .input-radio.checked::after {
  //  content: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width=%2215%22%20height=%2215%22%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2029%2028%22%3E%3Cpolygon%20points=%228.48%2012.73%204.24%208.48%200%2012.73%204.24%2016.97%208.48%2021.21%2012.73%2016.97%2025.46%204.24%2021.21%200%208.48%2012.73%22/%3E%3C/svg%3E);
  //  position: absolute;
  //  background-size: 28px 28px;
  //  left:0;
  //  top: 10px;
  //  width: 15px;
  //  height: 15px;
  //}

  // product
  .a-product .a-product-info .product-display {
    display: block;
    padding: 0 12px;
    flex-direction: column;
    font-size: 14px;
    .product-info {
      width: 100%;
    }
    .product-display-name {
      line-height: 1.4em;
    }
    .text-color-secondary,
    .product-display-price,
    .product-display-price-discount {
      text-align: left;
    }
    .product-price{
      .discount-wrap{
        right:8px;
        .per{
          font-size:14px;
        }
      }
    }
  }
}
