/* price font weight setting  : str */
.price {
	// font-weight:500;
	// > strong {font-weight:500}
	// .sale-price {
	// 	font-weight:500;
	// 	> strong {font-weight:500}
	// }
}
.total-price {
	// > strong {font-weight:500}
}
/* price font weight setting  : end */


.product-checkout{
	width:319px;
	padding:25px;
	box-sizing:border-box;
	background-color: $bg-4;
	color: $font-1;

	&.checkout {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.label {display:table-cell; font-size:12px; color:$font-3;}
	.price {
		display:table-cell;
		text-align:right;
		&.sale {color: $prd_total-price;}
		&.total {
			> strong {font-size:20px; font-weight: normal;}
		}
		> strong {font-size:16px; font-weight: normal;}
	}
	.sale-price {
		color:$font-4;
		font-size:$font-size-l;
		text-decoration: line-through;
		strong {font-weight: normal; }
	}

	.info-price	{
		// padding-top:10px;
		> span {
			width:100%;
			display:table;
			margin-top:10px;
			&:first-child {margin-top:0;}
		}
	}
	.total-price {
		display:table; width:100%; border-top:1px solid $border-3; margin-top:17px; padding:17px 0px 0px 0px;
		&.adjust{
			font-size:$font-size-s;
			padding-bottom:5px;
		}
	}
	.info {margin-top:20px; font-size:11px; line-height:17px; color:$font-3;}
	.btn-style-guide {margin-top:12px; font-size:12px;}
	> order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		padding-bottom:17px;
	}
}


.mypage-cart{

	.tbl-title {
		display:table;
		width:100%;
		padding:10px 50px 10px 0;
		box-sizing:border-box;
		text-align:center;
		border-top:1px solid $border-2;

		> * {
			display:table-cell;
			font-size: 11px;
			color: $font-4;
		}
		.item-info {
			width:60%;
			text-align: left;
		}
		.option-wrap {width:25%;}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		.cart-title {font-size:18px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:20px 50px 20px 0;
		box-sizing:border-box;

		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}

		.item-detail{
			display:table;
			width: 100%;
			min-height:80px;

			> * {display:table-cell;}

			.item-info {
				width:60%;
				.img-wrap {
					position: absolute;
					overflow:hidden;
					display:inline-block;
					width:60px;
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left:75px;
					line-height:18px;
					vertical-align: top;

					.tit {display:block; margin-bottom:7px; font-size:13px; color: $prd_text-color;}
					.bundle-tit {display:inline-block; margin-top:3px;}
					.opt {display:block; font-size:12px; margin-top:5px; color:$font-2;}
					.current-option-wrap {
						.opt {display:inline;}
					}
					.btn {
						display:block; margin-top:20px; font-size:12px; color: $font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color: $prd_text-color;}
					a:hover {color: $prd_text-color-over;}
				}
			}
			.option-wrap {
				width:25%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size:$font-size-s;
				}
			}
			.total-price {padding-top:3px; vertical-align:top; text-align:center; box-sizing:border-box;}
			.delete-btn{
				position:absolute; top:23px; right:10px;
				.btn-delete {color:$font-4;}
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left:75px;
			margin-top:10px;
		}
	}

	.total-price {
		.sale-price {display:block; margin-bottom:3px; font-size:13px; text-decoration:line-through; color:$font-4;}
		> strong{font-size:13px; color: $prd_sale-price; font-weight: normal;}
	}
}

.cart-title {
	padding:0;
	margin: 0 0 20px 0;
	font-size:24px;
	// font-weight:bold;
	color: $title_category-color;
}
.cart-title-sm {
	font-size:$font-size-l;
	padding:0 0 15px 0;
	color:  $primary-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}

.item-container {
	display:table;
	width:100%;
	min-height:500px;

	&.less-items {
		display:block;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		padding-right:30px;
		float:left;
		display:inline-block;
		width:72%;
		max-width:845px;
		box-sizing:border-box;
	}
	.product-checkout {
		vertical-align:top;
		display:inline-block;
		float:right;
		width: 28%;
	}


	.align-center {
		display:block;
		margin:0;
		padding-top:40px;
		text-align:center;
	}
}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.cart-title {display:none;}

	.item-container {
		.item-list-wrap {padding-right:0;}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	//cart
	.mypage-cart {
		.product-opt_cart {
			.item-detail{
				display:block;
				.item-info {display:block; width:100%;}
				.option-wrap {
					display:block;
					width:100%;
					padding:20px 0 0 75px;
					box-sizing:border-box;
					> .btn-link {}
				}

				.total-price {display:block; width:100%; padding:20px 0 0 75px; box-sizing:border-box; text-align:left;}
				.delete-btn {right:20px;}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//.cart-title {display:none;}
}
