/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

/*  필터 신규 디자인 작업
/************************************************************************************************/

.filter-container {

}

/*  필터 1depth title */
.f-title-box {
	position:relative;
	font-size:14px;
	color:$font-1;
	padding-bottom:15px;
	.f-btn-reset {
		position:absolute;
		top:2px;
		right:0;
		font-size:12px;
	}
}

/*  필터 2depth title */
.f-subtitle-box {
	position:relative;
	font-size:12px;

	/* uikit .uk-accordion-title override*/
	margin-top:0;
	margin-bottom:0;
	padding:0 0 15px 0;
	background:none;
	font-size:14px;
	line-height:1em;

	&.uk-active {
		.icon-minus {display:block;}
		.icon-plus {display:none;}
	}
}

.f-btn-toggle {
	position:absolute;
	top:0;
	right:0;
}

/* 필터 category list */
.f-cagetory-sect {
	padding-bottom:30px;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-2;
	}
	.f-item {
		> a {
			display:inline-block;
			font-size:12px;
			color:$font-1;
			padding:7px 0;
		}
		&.active {
			> a {font-weight:bold;}
		}
		&:last-child {margin-bottom:7px;}
		> a.f-btn-more {
			margin-left: 15px;
			color: $button_text-color-type2;
			font-weight: normal;
		}
	}
	.f-subitem {
		padding-left:15px;
		> a {
			display:inline-block;
			font-size:12px;
			color: $font-2;
			padding:5px 0;
		}
	}
	.f-btn-more {
		font-size:12px;
	}
}

/* 필터 옵션 (color, size, price) */
.f-refine-sect {
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-3;
	}

	/* uikit .uk-accordion-content override */
	.uk-accordion-content {
		padding: 0 0 30px 0;
		overflow:hidden;
	}


	.more-container {
		overflow:hidden;
		height:196px;
	}

	.more-btn {
		margin:0;
		padding:0;
		border:0;

		display:block;
		width:100%;
		padding-top:10px;
		//border-top:1px solid $border-2;
		text-align:center;
		font-size:10px;
		background-color:$bg-1;

		&.active {
			.plus {display:none;}
			.minus {display:inline;}
		}

		.minus {display:none;}
	}
}

/* 필터 타입 체크박스 & 라디오 */
.f-style-check, .f-style-radio {
	/* uikit .uk-accordion-content override */
	padding: 0 0 30px 0;

	.f-item {
		padding:3px 0;
	}

	.input-radio { display:block; }
}

/* 필터 타입 정사각형 모양 */
.f-style-square {
	overflow:hidden;
	margin-left:-8px;
	padding: 0 0 30px 0;

	.f-item {
		float:left;
		margin-left:8px;
		padding:4px 0;

		a, label {
			display:table-cell;
			min-width:40px;
			height:40px;
			padding:0 5px;
			border:1px solid $border-3;
			box-sizing:border-box;
			text-align:center;
			color: $font-1;
			vertical-align:middle;
			&:hover {
				border-color: $primary-color;
				color: $primary-color;
			}
		}

		.no-view {display:none;}
	}

	.active, .checked {
		a, label {
			border-width:2px;
			border-color: $primary-color;
			color: $primary-color;
		}
	}
}

/* 필터 타입 라운드 모양 */
.f-style-round {
	padding-bottom:30px;
	.f-item {padding:3px 0;}
}

.filter-wrap_category {
	position:relative;
	// height:48px;  높이값 지정 필요?
	margin-bottom:10px;
	.btn-link, .select-box {font-weight:500;}

	.btn-filter-open {float:left;}
	.filter-tagbox {float:left;}

	&:after {content:''; clear:both; display:block;}
	.select-box{
		&.sort{
			.select-head {padding:0 11px;}
		}
	}
}

/* filter tag */
.filter-tagbox {
	.filter-tit {
		font-size: 14px;
		color: $title_filter-color;

		.num {
			font-size: 11px;
			color: $font-3;
		}
	}
	ul {
		display: inline-block;
		padding:15px 0 10px;
	}
	.tag-item {
		display:inline-block;
		color: $font-1;
		font-size: 12px;
		margin-right: 15px;
		a {color: $font-1;}
		i {
			font-size:8px;
			padding-right: 4px;
		}
	}
	.f-btn-reset {
		font-size:12px;
	}
}

.section-filter {
	/*overflow:auto;*/
	position:fixed;
	top:0;
	left:-$filter-width;
	bottom:0;
	width:$filter-width;
	padding-right:50px;
	box-sizing:border-box;
	background: $bg-1;
	z-index:100;
	opacity:0;
	filter:alpha(opacity=0);


	.filter{
		@include filter-field;

		.item{
			> a {
				color: $font-3;
				width:100%;
				text-align:left;
				padding:10px 20px;
				display:inline-block;
				box-sizing: border-box;
			}
			&:hover {background-color: $bg-4}
			&.active {
				color: $font-6;
				background-color: $primary-color;
				> a {color: $font-6;}
			}

			&.btn-type {
				width:45px;
				text-align:center;
				border:1px solid $border-5;
				padding:10px 0;

				> label {text-align:center;}
			}
		}
	}

	.btn-sect {margin-top:20px; text-align:center;}
}


.filter-category-modal-wrap {
	.section-filter {
		overflow-y:scroll;
		width:$filter-width;
		height:auto;
		padding:18px;
		z-index:999;
	}

	.section-category {
		.filter-wrap_category {
			height:64px;
			.filter-tagbox {padding:10px 0 0 40px;}
		}
	}
}


.filter-category-wrap{
	overflow: hidden;
	.section-filter {
		opacity:1;
		filter:alpha(opacity=1);
		position: relative;
		left:0;
		float:left;
	}
	.section-category {
		float:left;
		width:calc(100% - 258px);
		.btn-filter-open{
			display: none;
		}

		&.item-list-less {
			width:100%;
			padding:20px 0 80px;
		}
	}
}


.filter-field_price {
	@include filter-field;

	text-align:center;
	padding-left:30px;
	padding-right:30px;

	> .filter-tit {text-align:left;}
	> .btn-link {margin-top:20px;}
	> .slider-range {
		height:10px;
		margin-bottom:20px;
	}
	> .filter-tit {
		margin-left:-10px;
		display:block;
	}
}

.filter-field_categories {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_color {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_size {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}

	&.style-btn {
		padding-left:20px;
		padding-right:20px;
		> .input-checkbox {
			float:left;
			margin-top:-1px;
			margin-left:-1px;
		}

		.filter-tit {margin-left:0;}
	}
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	//filter category
	.filter-wrap_category {
		width:100%;
		.btn-link {
			display:inline-block;
			width:50%;
			height:48px;
			border-width:0 0 1px 0;
			border-style:solid;
			border-color:$border-2;
			padding-left:10px;
			text-align:left;
			box-sizing:border-box;
			font-weight:bold;
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}


		.select-box {
			width:50%;
			border-width:0 0 1px 1px;
			height:48px;
			border-style:solid;
			border-color:$border-2;
			box-sizing:border-box;
			> select {height: 47px; border:0; font-weight:bold;}
		}

		.filter-tagbox {
			display:none;
		}

		.select-box {
			&.sort{
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}
	}

	.filter-category-wrap{
		.section-filter {
			overflow-y:scroll;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			left:-$filter-width;
			padding:18px;
			z-index:999;
		}

		.section-category {
			width:100%;
			.btn-filter-open{
				display: block;
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
