.promotion{
	.promo-error-message {color:$caution-color; font-size: 11px;}
	.promo-list {
		.applied {
			position:relative;
			border:1px solid $border-3;
			padding:10px;
			background-color: $bg-1;
			margin-top:2px;
		}
		.info{
			margin-top:0px;
		}
		.marketing-msg {margin-top:10px; color:$font-2; line-height:16px; font-size:12px;}
		.code {
			// font-weight:bold;
			 font-size:14px; color: $primary-color;}
		.btn-delete {position:absolute; right:10px; top:10px;}
		.price{font-size: 12px; color: $caution-color; float:right; position:absolute; right: 10px; bottom:10px;}
	}
}

.customer-offer-info{
	width:100%;
	padding-bottom: 20px;
	display: inline-block;
	.info-title{
		&.pointer{
			cursor: pointer;
		}
		text-align: right;
		.title-txt{
			text-decoration: underline;
			font-weight: bold;
		}
		.title-icon{
			padding-right:5px;
			color:#fb5306;
		}

		&.uk-active{
			.title-icon{
				&:before{
					content: "\e02d";
				}
			}
		}
	}
	.offer-list-wrap{
		&.list{
			padding-top:30px;
			border-top: 1px solid $border-2;
			border-bottom: 1px solid $border-2;
		}
		margin-top:20px;
	}
}

.customer-offer{
	color:#111111;
	.offer-title{
		
		font-size:13px;
		font-weight: bold;
		color:#111111;
		padding-left:24px;
		padding-bottom:24px;
		.title-icon{
			margin-left: -24px;
			margin-right: 7px;
		}
		.title-txt{
			line-height: 20px;
		}
	}
	.offer-list{
		.offer-item{
			&:first-child{
				border-top: none;
				padding-top: 0px;
			}
			&:last-child{
				padding-bottom: 30px;
			}
			padding: 18px 0px 18px 0px;
			letter-spacing: 0px;
			border-top: 1px dashed #ddd;
			.code{
				color:#fb5306;
			}
			.marketing-message{
				&.pointer{
					cursor: pointer;
					.code{
						text-decoration: underline;
					}
				}
				letter-spacing: -0.3px;
				font-weight:500;
				font-size:14px;
				.code-info{

				}
				.code-link{
					float:right;
					margin-right:10px;
					font-size: $font-size-s;
					text-decoration: underline;
				}
			}
			.sub-marketing-message{
				margin: 3px 10px 0px 10px;
				font-weight:500;
				letter-spacing: -0.3px;
				line-height: 18px;
				font-size:11px;
			}
		}
	}
}

@media (max-width: $breakpoint-medium) {
	.customer-offer{
		.offer-list{
			.offer-item{
				padding-left:0px;
			}
		}
	}
	.customer-offer-info{
		.info-title{
			text-align: left;
			padding:25px 0px 10px 15px;
		}
		.offer-list-wrap{
			&.list{
				margin-top: 0px;
				padding-top: 0px;
				border-top: none;
				.customer-offer{
					.offer-list{
						.offer-item{
							padding: 18px 0px 18px 13px;
						}
					}
				}

			}
		}
	}
}