.customer-redeem-giftCart{
	.credit-amount{
		padding:25px;
		border:1px solid $border-2;
		background-color: $bg-2;
		.price{
			color: $primary-color;
			font-size:$font-size-l;
		}	
	}

	button.submit-redeem{
		width:70px;
	}

}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.customer-redeem-giftCart{
		.credit-amount {
			padding:16px 20px;
			border-top:0;
			border-left:0;
			border-right:0;

		}
		.credit-conts {
			padding:10px 20px;
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
